<div class="wizard_booking--block m-pad m-set_password">
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Welcome to HealthPRO</h2>
	</header>
	<div class="wizard_booking--block--profile_management">
		<dl class="form--group form--line">
			<dt><label for="password">Create a password</label></dt>
			<dd>
				<span class="field m-w300 m-icon m-lock">
					<input type="password" name="password" id="password">
					<span class="field--error"></span>
				</span>
				<span class="field--description">Must be at least 7 characters.</span>
			</dd>
		</dl>
		<dl class="form--group form--line">
			<dt><label for="password_confirm">Confirm Password</label></dt>
			<dd>
				<span class="field m-w300 m-icon m-lock">
					<input type="password" name="password_confirm" id="password_confirm">
					<span class="field--error"></span>
				</span>
			</dd>
		</dl>
		<dl class="form--group form--line">
			<dd class="form--line">
				<label class="field checkbox">
					<input name="acceptTerms" type="checkbox" class="auth_form--terms">
					<span class="field--error m-right"></span>
					<span class="checkbox--i"></span>
						<span class="checkbox--label">
							I agree to HealthPRO's <a href="{{terms}}" target="_blank">Terms of Service</a>
						</span>
				</label>
			</dd>
		</dl>
	</div>
</div>
