.edit_image
	width 750px

	&--header
		font-size rem(18px)
		font-weight 600
		margin-bottom 20px

	&--block
		padding rem(30 40)
		min-height 110px

	&--editor
		max-height 640px
		max-height 60vh
		overflow hidden
		position relative

		img
			max-width 100%

	&--preview
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background white
		text-align center
		overflow auto
		z-index 2

		&:empty
		&.m-hide
			display none

		canvas
			center()
			max-width 100%
			max-height 100%

	&--footer
		padding rem(15 40)
		border-top 1px solid $border_color
		text-align right
		cf()

	&--save
		min-width 100px

	&--actions
		float left

	&--btn
		cursor pointer
		display inline-block
		height 30px
		width 32px
		border-radius 3px
		background $background_color
		border 1px solid $border_color
		color $gray_light
		font-size 20px
		color $gray
		text-align center
		margin-right 5px
		overflow hidden
		text-indent -9999em
		vertical-align top

		&:before
			display block
			text-align center
			line-height 28px
			color $gray_dark
			font-size 16px
			text-indent 0

		&:hover
			background transparent

		&.m-rotate_left
			&:before
				icon($i-rotate_left)

		&.m-rotate_right
			&:before
				icon($i-rotate_right)

		&.m-crop
			&:before
				icon($i-crop)

		&.m-apply
			&:before
				icon($i-check)
				font-size rem(20)
