.contact_social
	&
		text-align center
		color #fff
		background #2b899a url($i 'join_us.jpg') center top no-repeat
		background-size cover
		padding rem(62px 0 50px)
		
	&--title
		font-size rem(36px)
		font-weight 300
		margin rem(0 0 44px)

	&--list
		text-align center
		
	&--item
		&
			display inline-block
			margin 0 14px

			a
				&
					display block
					width 50px
					height 50px
					opacity .3
					position relative
					text-indent -9999px
					color #fff
					
					&:before
						position absolute
						top 50%
						left 50%
						center()
						text-indent 0
						font-size 46px
					
				&:hover
					opacity 1
					

		&.m-facebook a:before
			icon($i-facebook)
			
		&.m-twitter a:before
			icon($i-twitter)
			
		&.m-google a:before
			icon($i-gplus)
			
		&.m-linkedin a:before
			icon($i-linkedin)
			margin-top -3px
			
		&.m-youtube a:before
			icon($i-youtube-play)
