.about_site
	position relative

	&--description
		padding rem(90px 0 100px)
		
		&--title
			font-size rem(36px)
			font-weight 300
			text-align center
			margin rem(0 0 45px)
			
		&--text
			&
				font-size 18px
				line-height 30px
			&.m-cols_2
				-webkit-column-count 2
				column-count 2
				-webkit-column-gap 60px
				column-gap 60px
				

	&--story
		background #252a37 url($i 'page/our_story-bg.jpg') center center no-repeat
		background-size cover
		color #fff
		padding rem(80px 0)
		
		&--title
			font-size rem(80px)
			font-weight 300
			margin rem(0 0 42px)
			
		&--text
			font-size rem(18px)
			line-height 30px
			width 600px

			p
				&:first-child
					margin 0
					
				&
					margin 30px 0 0
					

