$blog-sidebar-width = 300px

.blog
  position relative
  padding rem(20px 0 0)
  display flex
  flex-wrap wrap
  &.m-row
    flex-direction row
    align-content flex-start

  &--main_title
    font-family $ff_proxima
    color $gray_dark
    font-size 2.5rem
    font-weight 400
    text-align left
    flex 0 0 100%
    +responsive('max-width: 768px')
      text-align center

  &--article
    padding rem(30 20)
    +responsive('min-width: 768px')
      padding rem(40 20)
    +responsive('min-width: 980px')
      padding rem(58px 0 40px)
      &.m-col1
        margin-right 21px

    &:first-child
      border-top 0

    &--inner
      margin 0 auto

    &--inner-1column
      max-width 780px

    &--inner-multicolumn
      max-width 410px

    &--header_link
      display block
      position relative

    &--header
      position relative
      background #e1e1e1
      padding rem(50 30 0)
      color #fff
      cf()
      margin rem(0 0 24px)
      border-radius 5px
      overflow hidden
      background-size cover
      background-position center center
      background-repeat no-repeat
      +responsive('min-width: 768px')
        padding rem(53 40 0)
      +responsive('min-width: 980px')
        padding rem(53 50 0)
      &:before
        display block
        width 100%
        height 100%
        background #354b50
        position absolute
        top 0
        left 0
        opacity .55
        content ''

    &--date
      text-align center
      font-size rem(18)
      color $blue
      text-transform uppercase
      display block
      margin rem(0 0 10 0)
      font-weight 300
      +responsive('min-width: 980px')
        width 134px
        height 134px
        position absolute
        top -67px
        left -67px
        background $blue
        color #fff
        font-size rem(18px)
        text-transform none
        z-index 1
        border-radius @height
        padding 25px 0 0
        border 12px solid #fff
        margin 25px 0 0 -8px

      b
        font-weight 600
        +responsive('min-width: 980px')
          display block
          font-size rem(36px)

    &--author
      text-align center
      font-size rem(16)
      color $blue
      display block
      margin rem(0 0 10 0)
      font-weight 300
      +responsive('min-width: 980px')
        width 134px
        height 134px
        position absolute
        top -67px
        left -67px
        background $blue
        color #fff
        font-size rem(18px)
        text-transform none
        z-index 1
        border-radius @height
        border 12px solid #fff
        margin 25px 0 0 -8px
        overflow hidden

      img
        width 32px
        max-width 100%
        border-radius 50%
        display inline-block
        vertical-align middle
        margin-right 5px
        +responsive('min-width: 980px')
          width 100%

      &--name
        display inline-block
        vertical-align middle
        +responsive('min-width: 980px')
          display none

    &--title
      position relative
      z-index 1
      line-height 1.15
      font-size rem(24px)
      margin rem(0 0 0)
      +responsive('min-width: 768px')
        font-size rem(32px)
        margin rem(0 0 0)
      +responsive('min-width: 980px')
        font-size rem(34px)
        margin rem(0 0 0)
    &--meta
      background rgba(#fff, .2)
      position absolute
      bottom rem(10px)
      z-index 1
      float left
      padding 13px 20px 11px
      border-radius 3px

      li
        &
          display inline-block
          vertical-align middle
          position relative
          padding 0 0 0 20px
          font-size 1rem
          margin 0 0 0 12px

          &:before
            position absolute
            left 0
            top 50%
            t-translate(0, -50%)
            color #fff
            font-size 17px
            margin -2px 0 0

        &:first-child
          margin 0

        &.m-views
          &:before
            icon($i-eye)

        &.m-comments
          &:before
            icon($i-comments-o)

    &--content
      font-size rem(14px)
      line-height 1.75
      margin rem(0 0 25)
      +responsive('min-width: 768px')
        margin 0 0 1.875rem 0
      +responsive('min-width: 980px')
        font-size rem(16)

  &--nav
    flex-basis 100%
    border-top 1px solid $border_color
    cf()
    padding rem(20 20)
    +responsive('min-width: 980px')
      padding rem(30 0)
  &--nav_item
    &.m-prev
      float left
    &.m-next
      float right



  &--wrapper
    display flex
    flex-direction row
    justify-content space-between
    margin 0 auto
    max-width 1174px
    +responsive('max-width: 768px')
      max-width 440px
      flex-direction row
      flex-wrap wrap

  &--articles
    display flex
    flex-wrap wrap

.blog--article--header-multicolumn
.blog--article--header-1column
  min-height 300px
