$blog-sidebar-width = 300px

.blog-sidebar
	padding-top rem(30)
	flex-grow 0
	flex-shrink 0
	flex 0 0 $blog-sidebar-width
	margin-bottom 30px
	+responsive('max-width: 768px')
		flex 0 0 100%
		padding rem(0 20)

	&--block + &--block
		margin-top rem(30)
	&--block
		border 1px solid $border_color
		&--header
			background $background_color
			border-bottom 1px solid $border_color
			padding rem(14 14 14 45)

			background-position 10px 50%
			background-repeat no-repeat
			background-size 20px 17px

			&--title
				color $gray
				font-size rem(20)
				font-weight 500
				line-height 1.6


		&.m-categories &
			&--header
				background-image url(../images/design/blog/list-with-dots.svg)
		&.m-tags &
			&--header
				background-image url(../images/design/blog/tag.svg)
				background-size 17px 17px
				background-position 13px 50%
		&.m-archive &
			&--header
				background-image url(../images/design/blog/archive.svg)

		&--content
			padding rem(0 16)

		&.m-tags &
			&--content
				padding-bottom rem(16)

		&--item + &--item
			border-top 1px solid $border_color

		&--item
			a
				display block
				padding rem(16 0 16 25)
				font-weight 600
				font-size rem(16)
				color $gray_dark
				position relative
				&:hover
					color $blue
			&.m-active
				a
					color $blue

		&.m-archive &
			&--item
				a
					&:before
						content ""
						width 6px
						height @width
						border-radius @height
						background $gray_dark
						position absolute
						top 50%
						margin-top -3px
						left 3px
				&.m-active
					a
						&:before
							background $blue

		&--tag
			display inline-block
			margin rem(16 3 0 0)
			a
				display block
				border 1px solid $border_color
				border-radius 14px
				background-color $background_color
				color $gray_dark
				font-size rem(13)
				line-height 2
				padding: 2px 10px
				&:hover
					color $blue
			&.m-active
				a
					font-weight 600
					color $blue
