.sidebar_card
	padding rem(15px 20px 32px)
	text-align center
	.userpic
		margin 0 auto 18px

	&--user_name
		display block
		font-size rem(16px)
		font-weight 600
		margin rem(0 0 6px)

		span
			color #a1a1a1

	&--email
		font-size rem(14px)

	a
		&
			color $blue

		&:hover
			text-decoration underline
