<div class="wizard_booking--block m-pad m-create_profile">
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Create Client Profile</h2>
	</header>
	<div class="wizard_booking--block--profile_management">
		<dl class="form--group form--line">
			<dt><label for="client_first_name">Your Name</label></dt>
			<dd>
				<span class="field m-wide">
					<input type="text" name="first_name" id="client_first_name">
					<span class="field--error"></span>
				</span>
			</dd>
		</dl>
		<dl class="form--group form--line">
			<dt><label for="client_last_name">Last Name</label></dt>
			<dd>
				<span class="field m-wide">
					<input type="text" name="last_name" id="client_last_name">
					<span class="field--error"></span>
				</span>
			</dd>
		</dl>
	</div>
</div>
