<div class="professional_setup">
	<div class="professional_setup--group m-locations">
		<div class="panel">
			<header class="panel--header m-locations">
				<h2 class="panel--header_title">Locations &amp; Availability</h2>
				<div class="panel--header_description">Are there more locations where you hold appointments and see clients? Add them here.</div>
			</header>
			<div data-professional-setup-locations></div>
		</div>
	</div>
	<div class="professional_setup--group m-services">
		<div class="panel">
			<header class="panel--header m-services">
				<h2 class="panel--header_title">Services &amp; Rates</h2>
				<div class="panel--header_description">Add any additional services you offer. Choose the session duration and rate, create an introductory session, or offer monthly packages.</div>
			</header>
			<div data-professional-setup-services></div>
		</div>
	</div>
</div>
