<div class="wizard_booking--pick_times--error m-hide" data-availabilities-error></div>

<div class="wizard_booking--pick_times--header">
	<h3 class="wizard_booking--pick_times--header--title">Schedule your <strong>{{duration_label}} x {{max_visits_label}}</strong></h3>
	<div class="wizard_booking--pick_times--header--week" data-availabilities-starting-week>
		<div class="select">
			<select name="starting_week"></select>
		</div>
	</div>
</div>

<div class="wizard_booking--pick_times--list" data-availabilities-times></div>

<div class="wizard_booking--pick_times--empty m-hide" data-availabilities-empty><p>No times are available on the selected week</p></div>

<div class="wizard_booking--pick_availability" data-availabilities-datepicker></div>


<div class="wizard_booking--auto_renew">
	<div class="field m-wide wizard_booking--auto_renew--field">
		<label class="checkbox">
			<input type="checkbox" name="auto_renew">
			<span class="checkbox--i"></span>
			<span class="checkbox--label">Auto Renewal</span>
		</label>
	</div>

	<div class="wizard_booking--auto_renew--content">
		<ul>
			<li>By selecting <strong>Auto Renewal</strong>, your professional will reserve your appointment times for 12 months ahead.</li>
			<li>You can cancel your auto renewal at any point before the next billing.</li>
		</ul>
	</div>
</div>
