<div class="wizard_booking--block m-pad m-service_select">
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Pick Your Service</h2>
	</header>
	<div data-recurring-service class="wizard_booking--service_select"></div>

	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Pick Your Location</h2>
	</header>
	<div class="wizard_booking--location_select" data-recurring-location></div>
</div>
<div class="wizard_booking--block m-pad m-package_select" data-recurring-package-view>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Select Package</h2>
	</header>
	<div data-recurring-package class="wizard_booking--package_select"></div>
</div>

<div class="wizard_booking--block m-pad m-pick_times" data-recurring-time-view>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Select recurring appointment times <i data-recurring-tooltip></i></h2>
	</header>
	<div data-recurring-time class="wizard_booking--pick_times"></div>
</div>

<div class="m-hide">
	<div data-recurring-tooltip-content>
		<ul>
			<li>Appointments occur at the same day and time each week.</li>
			<li>Packages are billed in the beginning of each month and are not refundable.</li>
			<li>Appointments can be canceled or rescheduled up to 24 hours before the appointment.</li>
		</ul>
	</div>
</div>
