<div class="wizard_booking--pick_availability--cols">
	<div class="wizard_booking--pick_availability--col">
		<h3 class="wizard_booking--pick_availability--title">Pick your day</h3>
		<ul class="wizard_booking--pick_availability--list m-weekdays">
			{{#each weekdays}}
				<li data-date="{{this.date}}">
					<button data-weekday-select>
						<strong>{{this.weekday}}</strong>
						<span>First appointment on <i>{{this.date_label}}</i></span>
					</button>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="wizard_booking--pick_availability--col">
		<h3 class="wizard_booking--pick_availability--title">Pick your time</h3>
		<ul data-availabilities-list class="wizard_booking--pick_availability--list m-times"></ul>
		<div data-availabilities-empty class="wizard_booking--pick_availability--empty m-hide"><p>No more slots available on this day</p></div>
	</div>
</div>
