<div class="wizard_booking--location_select--list">
	{{#each locations}}
		<input type="radio" name="location_id" value="{{this.id}}" id="wizard_recurring_location_id_{{this.id}}">
		<label class='wizard_booking--location_select--list--item' for="wizard_recurring_location_id_{{this.id}}">
			<strong>{{this.name}}</strong>
			{{#if this.address}}<span>{{this.address}}</span>{{/if}}
			<span class='wizard_booking--location_select--list--item--icon m-{{this.type}}'>{{{this.icon}}}</span>
		</label>
	{{/each}}
</div>
