<div class="wizard_booking--pick_package--list">
	{{#each packages}}
		<input type="radio" name="rule_id" value="{{this.rule_id}}" id="wizard_booking_package_rule_id_{{this.rule_id}}">
		<label for="wizard_booking_package_rule_id_{{this.rule_id}}" class="wizard_booking--pick_package--list--item">
			<span>{{this.number_of_months_label}} package: {{this.duration_label}} x {{this.max_visits_label}}</span>
			<strong>{{this.price_label}}</strong>
		</label>
	{{/each}}
</div>
