<div class="wizard_booking--pick_times--list--item--date">
	<p class="wizard_booking--pick_times--list--item--date--weekday">{{weekday}}</p>
	<p class="wizard_booking--pick_times--list--item--date--time"><strong>{{time}} (Weekly)</strong></p>
</div>
<div class="wizard_booking--pick_times--list--item--appointment">
	<p class="wizard_booking--pick_times--list--item--appointment--label">First appointment on {{date}}</p>
</div>
<div class="wizard_booking--pick_times--list--item--remove">
	<button data-time-remove><i></i></button>
</div>
