.popup_response
	&--wrap
		&
			padding 25px
			width 470px
			max-width 100%
			text-align center

		&.m-success
			&:before
				padding-top 15px
				display block
				margin 0 auto 25px
				icon($i-done)
				text-align center
				font-size 70px
				color $green

		&.m-error
			&:before
				padding-top 5px
				display block
				margin 0 auto 15px
				icon($i-cancel-o)
				text-align center
				font-size 85px
				color $red

		&.m-warning
			&:before
				padding-top 5px
				display block
				margin 0 auto 15px
				icon($i-warning-o)
				text-align center
				font-size 70px
				color #d88484

	&--title
		font-size 18px
		font-weight 600
		color $gray_dark
		margin-bottom 15px

	&--text
		font-size 16px
		color $gray_dark
		margin-bottom 27px
		line-height 1.4

	&--details
		margin-bottom 30px

		p
			margin-bottom 5px
		i
			font-style normal
			color $red

	&--text + &--details
		margin-top -22px

	&--btn
		font-weight 600
		min-width 160px
		font-size 16px

	&--wrap
		&.m-large
			width 620px
			min-height 400px
			padding 35px 25px

			&.m-success
				&:before
					font-size 100px
					margin-bottom 25px

			&.m-error
				&:before
					font-size 120px
					margin-bottom 25px

			&.m-warning
				&:before
					font-size 100px
					margin-bottom 25px

		&.m-large .popup_response
			&--title
				font-size 28px
				margin-bottom 25px

			&--text
				font-size 18px
				margin-bottom 35px

			&--actions
				.btn
					min-width 170px
					font-size 16px
					text-transform uppercase
					font-weight 600
