.footer
	&
		border-top 4px solid #99cc33
		color #e1e1e1
		background #3c424d
		a
			color #e1e1e1
			&:hover
				color $green

		&--top
			cf()
			max-width 1160px
			margin 0 auto
			padding rem(30px 20px)
			+responsive('min-width: 980px')
				padding rem(50px 20px)
			+responsive('min-width: 1220px')
				padding 46px 0 20px 20px

			&--left
				margin-bottom rem(30)
				+responsive('min-width: 790px')
					float left
					margin 0

			&--right
				+responsive('min-width: 790px')
					float right
					margin 0
					width 320px
				+responsive('min-width: 980px')
					width 480px

			&--title
				font-size rem(18px)
				color #fff
				margin 0 0 1rem
				text-align center
				+responsive('min-width: 460px')
					text-align left
		&--links
			cf()
			max-width rem(200)
			margin 0 auto 20px
			+responsive('min-width: 460px')
				max-width rem(420)
			+responsive('min-width: 790px')
				max-width none
				margin 0 0 30px
			&--col
				text-align center
				margin-bottom rem(30)
				&:last-child
					margin-bottom 0
				+responsive('min-width: 460px')
					text-align left
					float left
					width 140px
				+responsive('min-width: 980px')
					width 150px
				+responsive('min-width: 1200px')
					width 190px

				&--title
					font-size rem(18px)
					color #fff
					margin 0 0 1rem

				ul
					li
						margin rem(13px 0 0)
						&:first-of-type
							margin 0

						a
							&.m-icon
								padding rem(0 0 0 20px)
								position relative

								&:before
									position absolute
									top 50%
									left -4px
									transform translate(0, -50%)
									font-size 1rem
									margin-top -1px

							&.m-facebook:before
								icon($i-facebook)

							&.m-twitter:before
								icon($i-twitter)

							&.m-gplus:before
								icon($i-gplus)
								margin-top 0

							&.m-linkedin:before
								icon($i-linkedin)

							&.m-youtube:before
								icon($i-youtube-play)
		&--powered
			margin 0 auto 40px
			text-align center
			width 200px
			+responsive('min-width: 460px')
				width auto
				text-align left
				max-width rem(420)
			+responsive('min-width: 790px')
				margin-left 0
				margin-bottom 27px
				text-align left
			span
				display inline-block
				vertical-align middle
				position relative
				&.godaddy
					// width 122px
					overflow hidden
					margin-bottom 10px
					width 180px
					+responsive('min-width: 460px')
						margin-right rem(15)
						margin-bottom 0
					img
						position absolute
						top 0
						left 0
						width 100%
						opacity 0

					.godaddy--improved_img
						position relative
						opacity 1

				&.stripe
					img
						// width 146px
						height auto

		&--newsletter
			margin 0 auto 40px
			max-width 420px
			+responsive('min-width: 460px')
				margin-bottom 30px
			+responsive('min-width: 980px')
				max-width none
				margin 0 0 30px

			&--title
				font-size rem(19px)
				color #fff
				margin 0 0 1rem
				text-align center
				+responsive('min-width: 460px')
					text-align left

			p
				text-align center
				line-height 1.8
				font-size 15px
				margin-bottom 20px
				+responsive('min-width: 460px')
					text-align left
				+responsive('min-width: 980px')
					margin-bottom 30px

			&--form
				+responsive('min-width: 460px')
					display flex
					align-items center
					> div:first-child
						flex 1
			.field
				display block
				margin-bottom rem(6)
				+responsive('min-width: 460px')
					margin-bottom 0
				label
					display none
				input.error
					border-color $error
					color $red
					+placeholder()
						color $red

			.btn
				border 2px solid #fff
				color #fff
				background transparent
				padding rem(0 16)
				font-size rem(14)
				cursor pointer
				width 100%
				height 41px
				&:hover
					color #3c424d
					background $background_color
					border-color $background_color
				+responsive('min-width: 460px')
					width auto
					margin 0 0 0 7px
				+responsive('min-width: 768px')
					height 47px
				+responsive('min-width: 980px')
					padding rem(0 20)
					font-size rem(17)


			.submitted-message
				color #9ec754
				font-weight 600
				text-align center
				+responsive('min-width: 460px')
					text-align left

			.loading_overlay
				border-radius 5px

		&--partners
			max-width 420px
			margin 0 auto
			+responsive('min-width: 460px')
				max-width 100%
				margin 0

			&--list
				text-align center
				+responsive('min-width: 460px')
					margin-top -20px
					text-align left
				+responsive('min-width: 1400px')
					width 120%
				li
					display inline-block
					vertical-align middle
					margin-right 20px
					margin-bottom 10px
					+responsive('min-width: 460px')
						vertical-align bottom
					+responsive('min-width: 1400px')
						margin-right 10px

				a:hover
					opacity .8

		&--bottom
			background #333841
			padding rem(20 0)
			cf()
			+responsive('min-width: 640px')
				padding 0
				height rem(70px)
				line-height rem(70px)

		&--copy
			font-size rem(12)
			text-align center
			margin-bottom rem(20)
			+responsive('min-width: 640px')
				margin-bottom 0
				text-align left
				float left
			+responsive('min-width: 790px')
				font-size rem(14)
			+responsive('min-width: 1200px')
				padding-left 30px

			a
			span
				color #8a8a8a

		&--social

			+responsive('min-width: 640px')
				float right
			li
				display inline-block
				margin 0 0 0 6px

			.btn.m-social
				width 38px
				height 38px

				&:before
					font-size 20px

		&--logo
			position relative
			width 145px
			height 31px
			display block
			margin 0 auto
			&:before
				width 100%
				height 100%
				content ''
				background url($i 'svg/logo-light.svg') no-repeat
				background-size 100%
				position absolute
				top 0
				left 0
			+responsive('min-width: 640px')
				float right
				margin 20px 0 0


		&--message
			width 780px
			padding rem(10px 0 0)
			cf()
			margin 0 auto
			&--title
				font-size rem(24px)
				font-weight 300
				margin rem(0 0 28px)
				color #fff
			&--col
				&
					float left
					width 380px
					margin 0 0 0 20px
					.field
						&
							width 380px
							margin 18px 0 0 0
							position relative

							input
							textarea
								border 0
								padding rem(19px 20px)

							textarea
								height 192px

						&:first-child
							margin 0

						.alert-box
							position absolute
							top -1rem
							left 0
				&:first-child
					margin 0

			&--footer
				padding 15px 0 0
				cf()
				.alert-box
					float left
					font-size 1rem
					padding rem(14px 0)
					&.success
						color $blue_light
					&.error
						color $red_mute
				.btn
					float right
					font-size 1rem
					padding rem(14px 33px)

	&.m-404
		border-top 0
