.wizard_booking--auto_renew
	margin-top 25px
	&--field
		margin-bottom 15px

	&--content
		line-height 1.25

		&--title
			font-weight 600
			margin-bottom 10px

		ul
			li
				padding-left 15px
				position relative
				&:before
					content ""
					position absolute
					left 0
					top 5px
					width 6px
					height @width
					border-radius @height
					background $blue_light

