.wizard_booking
	&--block
		background $white
		border 1px solid $border_color
		+desktop()
			margin 24px 0 0
			border-radius 5px
			&:first-child
				margin-top 0
		+mobile()
			margin 10px 0 0
			border-radius 3px
			&:first-child
				margin-top 0
		&.m-transparent
			border 0
			border-radius none
			background transparent

		&.m-pad_v
			padding-top 30px
			padding-bottom @padding-top
			+mobile()
				padding-top 15px
				padding-bottom @padding-top

		&.m-pad_v_sm
			padding-top 15px
			padding-bottom @padding-top
			+mobile()
				padding-top 10px
				padding-bottom @padding-top

		&.m-pad_h
			padding-left 50px
			padding-right @padding-left
			+mobile()
				padding-left 15px
				padding-right @padding-left

		&.m-pad_h_sm
			padding-left 30px
			padding-right @padding-left
			+mobile()
				padding-left 10px
				padding-right @padding-left

		&.m-pad
			padding 30px 50px
			+mobile()
				padding 15px

		&.m-pad_sm
			padding 15px 30px
			+mobile()
				padding 10px

		&--header
			margin 20px 0
			+mobile()
				margin 15px 0

			&:first-child
				margin-top 0
				+mobile()
					margin-top 0

			&--title
				font-weight 600
				font-size 18px
				i
					display inline-block
					vertical-align middle
					color $blue_light
					cursor pointer
					width 18px
					height @width
					padding 2px
					&:before
						icon($i-info-circle)
						font-size 14px
						height @font-size
						line-height @font-size

				&.m-center
					text-align center

		&--cols
			+desktop()
				display flex
				flex-wrap nowrap

		&--col
			+mobile()
				margin-top 20px
				&:first-child
					margin-top 0
			+desktop()
				flex 1
				border-left 1px solid $border_color
				padding 0 35px
				&:first-child
					border-left 0
					padding-left 0
				&:last-child
					padding-right 0

		&--story
			line-height 1.4
			p + p
				margin-top 10px

