.wizard_booking--cards_manager

	&--cards
		padding 0
		.radio
			padding-left 30px
			display block
			&--label
				display block

	&--cards_item
		margin 0

	&--cards_item + &--cards_item
		margin-top 15px

	&--card
		display block
		vertical-align middle
		border 1px solid $border_color
		background $background_color
		font-size 13px
		color $gray
		padding 12px 70px 12px 12px
		border-radius 3px
		span
			display block
		i
			font-size 22px
			line-height 10px
			position relative
			top 1px
			padding 0 4px 0 0
			display inline-block
			font-style normal

		img
			position absolute
			right 40px
			top 50%
			t-translate(0, -50%)

		a
			font-size 13px
			color $gray
			position absolute
			right 0
			top 50%
			t-translate(0, -50%)
			width 32px
			font-size 13px
			text-align center
			&:hover
				color $blue
			&:before
				display block
				icon($i-edit_property)
				line-height 26px

	.radio input:checked ~ .radio--label &--card
		background #fff
		border-color #fff
		box-shadow 0 0 5px rgba(#000, .2)

	&--submit_button
		position absolute
		bottom 35px
		width 190px
		padding-left 0
		padding-right 0

	&--form
		&
			.form--line
				&
					margin-top rem(18px)


				&:first-child
					margin-top 0

			div.form--line
				display flex

				.form--group
					&
						flex 1
						margin 0 0 0 10px

					&:first-child
						margin-left 0

	&--form_number
		dd
			display flex
			align-items stretch

			.field
				margin 0 10px 0 0

		&--label
			display block
			vertical-align middle
			border 1px solid $border_color
			background #f9fafc
			width 100%
			margin 0 10px 0 0
			font-size 13px
			font-weight 600
			padding 12px
			cursor default
			border-radius 3px
			span
				display block
			i
				font-size 22px
				line-height 10px
				position relative
				top 1px
				padding 0 4px 0 0
				display inline-block
				font-style normal

	&--form_info
		display flex

	&--form_footer
		margin-top 15px
		padding-top 15px
		border-top 1px solid $border_color
		display flex

	&--cancel
		margin-left auto

	&--delete
		&.btn
			color $red_mute
			padding-left 0
			padding-right 0
			font-size 12px

	&--cvv
		max-width 68px
		width 68px

	&--expiration
		max-width 130px
		dd
			display flex

			.select
				&
					flex 1
					margin 0 0 0 10px

				&:first-child
					margin 0

	&--card_logo
		&
			min-width 66px
			border 1px solid $border_color
			background #f9fafc
			border-radius 3px
			position relative
			&:before
				content ''
				position absolute
				top 50%
				left 50%

		&.mastercard
		&.maestro
			&:before
				width 37px
				height 22px
				background url('../images/content/booking/cc-mastercard.png') no-repeat
				center()
		&.visa
			&:before
				width 37px
				height 13px
				background url('../images/content/booking/cc-visa.png') no-repeat
				center()
		&.amex
			&:before
				width 37px
				height 23px
				background url('../images/content/booking/cc-amex.png') no-repeat
				center()

	.radio input:checked ~ .radio--label &--card
		background #fff
		border-color #fff
		box-shadow 0 0 5px rgba(#000, .2)

	&--errors
		background lighten($red, 35)
		color $red_mute
		border 1px solid lighten($red, 15)
		border-radius 3px
		padding 14px
		font-weight 600
		margin-bottom 1.75rem

	&--dob
		dd
			display flex

			.select
				&
					flex 1
					margin 0 0 0 10px

				&:first-child
					margin 0
