.wizard_booking--client_location
	display block
	&--errors
		margin 15px
		.alert
			width auto
			padding 12px 20px
			text-align center
			color $gray_dark
			font-weight 600
			border 1px solid $red_mute
			border-radius 3px
			background lighten($red_mute, 25)
			&:before
				display none

	&--actions
		margin-top 20px
		text-align center

	&--list--item
		display flex
		align-items center
		padding 0 20px
		background $background_color
		border 1px solid $border_color
		border-radius 3px

	&--list--item + &--list--item
		margin-top 15px

	&--location_content
		padding rem(15 0 15 30)
		cursor pointer
		display block
		position relative
		flex 1
		.radio
			position absolute
			left 0
			top 25px
		h3
			font-weight 600
			color $blue
			margin-bottom rem(5)
			font-size rem(16)

	&--location_actions
		flex 0 0 80px
		margin-left 20px
		text-align right

	&--location_action
		color lighten($gray, 15)
		font-size 18px
		vertical-align middle
		width 30px
		height 30px
		&:before
			width 30px
			height 30px
			display block
		&.m-remove
			&:hover
				color $red_mute
			&:before
				icon($i-trash)
				line-height 30px
				text-align center
		&.m-edit
			&:hover
				color $blue
			&:before
				icon($i-pencil)
				font-size 14px
				line-height 30px
				text-align center

	&--empty
		text-align center
		padding 30px 0
