.wizard_booking--date_select
	overflow hidden
	.booking_time--datepicker.m-inline
		margin-left -10px
		margin-right -10px
	.booking_time--datepicker.m-open
		display block
		.booking_time--datepicker--opener
			+mobile()
				width calc(100% - 64px)
				max-width 250px


