.wizard_booking--footer
	flex 0 0 auto
	display flex
	flex-wrap wrap
	margin-top 20px
	+mobile()
		margin-top 15px

		flex-direction column

	&--btn
		+desktop()
			flex 0 0 auto
		+mobile()
			flex 1
			width 100%
			font-size 16px
			padding 0
			height 50px
		&.m-back
			background $gray
			+desktop()
				margin-right auto
			+mobile()
				order 20
				margin-top 15px
		&.m-proceed
			background $red
			+desktop()
				margin-left auto
			+mobile()
				order 10
			&.m-green
				background $green


	&--sub
		font-size 14px
		font-weight 600
		margin-top 20px
		+desktop()
			flex 0 0 100%
			text-align right
		+mobile()
			order 30
			flex 1
			width 100%
			text-align center
			padding-bottom 10px
		button
			margin-left 3px
			font-weight 600
			color $red
			font-size 14px
			border-bottom 1px solid rgba($red, .25)
