.wizard_booking
	&--header
		display block
		background $blue_light
		flex 0 0 auto
		+mobile()
			padding 0 10px
		+desktop()
			padding 0 20px
		&--in
			position relative
			width 100%
			+desktop()
				width $wizard_booking_inner_width
				margin 0 auto
			+mobile()
				display flex
				align-items center
				min-height 55px

		&--title
			color $white
			+desktop()
				min-height 74px
				padding 25px 35px 25px 0
				font-weight 400
				font-size 24px
			+mobile()
				font-size 16px
				font-weight 600
				text-align center
				padding 10px 40px
				flex 1
				span
					display block


		&--close
			position absolute
			right 0
			top 50%
			transform translateY(-50%)
			display block
			width 28px
			height @width
			border-radius @height
			border 1px solid $white
			text-indent -9999px
			z-index 1
			&:before
				text-indent 0
				icon($i-times)
				position absolute
				top 50%
				left 50%
				font-size 14px
				center()
				color $white
