.wizard_booking--introductory_session
	display block
	&--notice
		border 1px solid $blue_light
		background #E7FBFF
		text-align center
		padding 12px 20px
		color $blue_light
		text-align center
		border-radius 3px
		+desktop()
			margin-bottom 30px
		+mobile()
			margin-bottom 20px

	&--send_message
		font-weight 600
		p + p
			margin-top 15px
		&--btn
			i
				line-height 1
				font-size 16px
				display inline-block
				vertical-align middle
				margin-right 5px
				&:before
					icon($i-envelope-o)
