.wizard_booking--location_select
	display block

	&--list
		position relative

		> input
			position absolute
			left -999px
			top -999px
			opacity 0

		&--item
			display block
			cursor pointer
			border 1px solid $border_color
			padding 15px 15px 15px 60px
			border-radius 3px
			position relative
			margin-bottom 10px
			&:last-child
				margin-bottom 0
			&.m-current
				color $white
				background $blue_light
				border-color $blue_light

			&--icon
				position absolute
				left 0
				top 0
				bottom 0
				width 45px
				border-right 1px solid $border_color

				svg
					width 22px
					height 22px
					center()

				&.m-office
					svg path
						fill #dec13c
				&.m-home-visit
					svg path
						fill #3c9bab
				&.m-virtual
					svg path
						fill #ea9030

			&.m-current &
				&--icon
					border-right-color $white
					&.m-office
					&.m-home-visit
					&.m-virtual
						svg path
							fill #fff

		input:checked + .wizard_booking--location_select--list--item
			color $white
			background $blue_light
			border-color $blue_light
			.wizard_booking--location_select--list--item--icon
				border-right-color $white
				&.m-office
				&.m-home-visit
				&.m-virtual
					svg path
						fill #fff
