.wizard_booking
	flex 1
	display flex
	flex-direction column
	position relative

	&.m-popup
		min-height 500px
		background $background_color

	.m-hide
		display none

	&--container
		flex 1
		display flex
		flex-wrap nowrap
		align-items stretch
		+desktop()
			padding 35px 0
			width $wizard_booking_inner_width
			margin 0 auto
		+mobile()
			padding 15px
			flex-direction column

	&--sidebar
		flex 0 0 280px
		margin-left 20px
		+mobile()
			flex 0 0 auto
			margin 0 0 15px 0
			order 10

	&--main
		flex 1
		display flex
		flex-direction column
		+mobile()
			order 20

	&--content
		&.m-fill
			flex 1
