.wizard_booking--package_select

	+desktop()
		margin-top 25px
		&:empty
		&:first-child
			margin-top 0
	+mobile()
		margin-top 20px
		&:empty
		&:first-child
			margin-top 0

	.checkbox_group
		+mobile()
			margin-top 20px
		.checkbox + .checkbox
			+desktop()
				margin-top 10px
			+mobile()
				margin-top 20px
		.checkbox
			display block
			&--label
				color $gray_dark
				font-weight 400
				strong
					font-weight 600
				small
					color $red
					font-weight 600
					font-size 13px
					margin-left 5px

			+mobile()
				display flex
				min-height 30px
				align-items center
				padding-left 43px
				.checkbox--i
					width 30px
					height @width
					margin-top 0
					&:before
						font-size 24px
						top 2px
						left 2px
				.checkbox--label
					display block
					flex 1
