.wizard_booking--payment_coupon

	margin-top 20px

	&--add_coupon
		font-weight 600
		font-size 14px
		color $blue_light
		line-height 1
		&:hover
			text-decoration underline

	&--form
		dd
			display flex
			flex-wrap nowrap
			.btn
				flex 0 0 100px
				height 47px
				margin-left 10px
			.field
				flex 1
				input
					height 47px

	&--applied_coupon
		display flex
		flex-wrap nowrap
		align-items center
		p
			flex 1
			font-weight 600
			padding-left 22px
			position relative
			&:before
				icon($i-check-fill)
				color $green
				position absolute
				top 50%
				transform translateY(-50%)
				left 0

	&--remove_coupon
		color $red_mute
		font-size 13px
		font-weight 600
		margin-left 10px
		flex 0 0 auto
		&:before
			content "["
		&:after
			content "]"
