.wizard_booking--payment_totals
	padding-top 20px
	margin-top 20px
	border-top 1px solid $border_color

	&--row + &--row
		margin-top 10px

	&--row
		display flex
		flex-wrap nowrap
		align-items baseline
		justify-content space-between
		line-height 1.25
		dt
			margin-right auto
			flex 1
			margin-right 10px
		dd
			margin-left auto
			flex 0 0 120px
			text-align right
		+mobile()
			font-size 16px

		&.m-recurring
			align-items flex-end

		&.m-total
			font-weight 600
			dd
				font-size 20px
				color $blue_light
			+mobile()
				font-size 18px
				dd
					font-size 22px


	&--info
		border-top 1px solid $border_color
		margin-top 20px
		padding-top 20px
		&--title
			font-weight 600
			font-size 16px
			margin-bottom 10px
		&--content
			font-size 13px
			line-height 1.25
			p
				&:before
					content "> "
					font-weight 600
			p + p
				margin-top 10px

