.wizard_booking--payment_methods
	padding-bottom 20px
	margin-bottom 20px
	border-bottom 1px solid $border_color
	&--list
		display flex
		flex-wrap nowrap

		&--item
			display block
			flex 1
			cursor pointer
			margin-right 20px
			text-align center
			position relative
			&:last-child
				margin-right 0

			&--icon
				display block
				width 100%
				border-radius 3px
				border 1px solid $border_color
				margin 0 auto 10px
				position relative
				+desktop()
					width 75px
					height @width
				+mobile()
					height 65px

				svg
					position absolute
					left 50%
					top 50%
					z-index 1
					display block
					width 44px
					height 44px
					margin-left -22px
					margin-top -22px
					+mobile()
						width 36px
						height 36px
						margin-left -18px
						margin-top -18px
					path
						fill $blue_light
			&--name
				font-size 15px
				font-weight 600
				color $gray_dark
				line-height 1.25
				+mobile()
					font-size 14px

		input
			position absolute
			left -9999px
			&:checked ~
			&:checked +
				.wizard_booking--payment_methods--list--item--label
					.wizard_booking--payment_methods--list--item--icon
						border 2px solid $blue_light
						position relative
						&:after
							icon($i-check)
							width 26px
							border 2px solid #fff
							height @width
							border-radius @height
							background $blue_light
							color #fff
							position absolute
							right -13px
							top @right
							font-size 14px
							line-height 22px
							text-align center
						svg
							path
								fill $blue_light
