.wizard_booking--pick_times
	display block

	&--header
		display block
		margin-bottom 25px
		&--title
			margin-bottom 20px
			font-size 14px
			font-weight 400
			strong
				font-weight 600
				text-transform uppercase

		&--week
			+desktop()
				width 300px
			.select
				display block

	&--notice
		margin-top 20px
		line-height 1.25
		p
			margin-bottom .5em
		li + li
			margin-top .5em
		li
			padding-left 16px
			position relative
			&:before
				position absolute
				width 8px
				height @width
				border-radius @width
				background $green
				content ""
				position absolute
				left 0
				top 5px

	&--list
		margin-bottom 25px
		&:empty
			margin 0
			height 0

		&--item + &--item
			margin-top 10px

		&--item
			border-radius 3px
			border 1px solid $border_color
			background $white
			display flex
			flex-wrap nowrap
			align-items center
			padding 10px 12px
			&--date
				flex 0 0 150px
				&--weekday
					display block
					font-weight 600
					color $blue_light
					font-size 16px
					margin-bottom 3px
				&--time
					display block
			&--appointment
				flex 1
				margin 0 20px
				text-align left
			&--remove
				flex 0 0 30px
				button
					width 30px
					height @width
					border-radius @width
					background $gray_light
					color $white
					position relative
					line-height 1
					i
						&:before
							center()
							icon($i-trash)
							font-size 20px
							text-align center

	&--empty
		padding rem(20)
		text-align center
		border-radius 3px
		background $background_color
		font-weight 600

	&--error
		margin rem(20 0)
		&:last-child
			margin-bottom 0
		&:first-child
			margin-top 0
		.alert
			width auto
			padding rem(12 20)
			text-align center
			color $gray_dark
			font-weight 600
			border 1px solid $red_mute
			border-radius 3px
			background lighten($red_mute, 25)
			&:before
				display none
			&.m-warning
				border 1px solid $btn-orange
				background lighten($btn-orange, 40)


