$list_padding = 8px
$list_padding_half = $list_padding/2

.wizard_booking--pick_availability
	display block
	&--cols
		display flex
		flex-wrap nowrap
	&--col
		flex 1
		&:first-child
			border-right 1px solid $border_color
			+desktop()
				padding-right 30px
			+mobile()
				padding-right 15px
		&:last-child
			+desktop()
				padding-left 30px
			+mobile()
				padding-left 15px

	&--title
		font-size 18px
		margin-bottom 25px
		font-weight 600

	&--list
		display flex
		flex-wrap wrap
		li
			margin-bottom 8px
			button
				border 1px solid $border_color
				border-radius 3px
				width 100%
				display block
				text-align left
				color $gray_dark
				font-size 13px
				font-weight 600
				+desktop()
					padding 8px 12px
				+mobile()
					padding 6px 8px
				&:hover
					background $background_color
				strong
				span
					display block
				strong
					font-size 14px
					margin-bottom 3px
				span
					font-size 13px
					font-weight 400
				i
					white-space nowrap
					font-style normal

			&.m-inactive
				display none
				button
					background $background_color
					color $gray
					cursor default

			&.m-active
				button
					color #fff
					background $blue_light
					border-color $blue_light

		&.m-weekdays
			li
				flex 0 0 100%
				&:last-child
					margin-bottom 0

		&.m-times
			margin-left - $list_padding_half
			margin-right @margin-left
			li
				padding 0 $list_padding_half
				+desktop()
					flex 0 0 33.33333%
				+mobile()
					flex 0 0 50%
				button
					height 36px
					text-align center
					padding-left 0
					padding-right 0

	&--empty
		text-align center
		padding 20px
		background $background_color
		margin 20px
