.wizard_booking--pick_package
	&--list
		position relative
		> input
			position absolute
			left -999px
			top -999px
			opacity 0

		&--item
			display block
			cursor pointer
			border 1px solid $border_color
			padding 15px
			border-radius 3px
			position relative
			margin-bottom 10px
			&:last-child
				margin-bottom 0
			&.m-current
				color $white
				background $blue_light
				border-color $blue_light
			span
			strong
				cursor pointer
				display block
			strong
				font-size 16px
				margin-top 3px

		input:checked + .wizard_booking--pick_package--list--item
			color $white
			background $blue_light
			border-color $blue_light
