.wizard_booking_popup
	min-height 500px
	.popup--container
		width $wizard_booking_outer_width
		+mobile()
			position fixed
			left 0
			right 0
			top 0
			bottom 0
			width 100%
			height 100%
			overflow scroll
			border-radius 0
