.wizard_booking--profile_management
	&--switch
		display block

		&--profile
			display block
			margin-bottom 20px
			&:last-child
				margin-bottom 0

			&--link
				display block
				margin 0 auto
				width 250px
				border-radius 5px
				border 1px solid $border_color
				padding 20px 30px
				text-align center
				&:hover
					background $background_color

				.userpic
					margin-bottom 20px

				dl
					dt
						font-weight 600
						margin-bottom 5px
						font-size 18px
					dd
						font-size 16px
						text-transform capitalize
						color $gray

