.wizard_booking--service_select
	+desktop()
		margin-top 25px
		&:first-child
			margin-top 0
	+mobile()
		margin-top 20px
		&:first-child
			margin-top 0

	&--row
		margin-top 20px
		&:first-child
			margin-top 0
		+desktop()
			display flex
			flex-wrap nowrap
	&--service
	&--session
		+desktop()
			flex 1
		.select
			display block
			width 100%
		&.m-introductory
			strong
				color $blue_light
				font-size 16px
				font-weight 600
	&--session
		+desktop()
			margin-left 40px
		+mobile()
			margin-top 20px
		.select
			.select2-selection
				padding-right rem(25px)
				&__rendered
					span b
						color $red
						margin-right 5px
						float right
		&.m-introductory
			span
				font-weight 600
				i
					color $red
					font-style normal
