.wizard_booking--sidebar_info
	display block
	&--details

		+desktop()
			padding 30px 20px 20px
			text-align center
		+mobile()
			padding 15px
			display flex
			flex-wrap wrap
			align-items center

		&--header
			+mobile()
				flex 0 0 100%

		&--title
			+desktop()
				text-align center

		&--avatar

			padding 4px
			border 1px solid $border_color
			+desktop()
				margin 25px auto
				width 80px
				height @width
				border-radius @height
			+mobile()
				width 60px
				height @width
				flex 0 0 @width
				border-radius @height
				margin-right 15px
			img
				width 100%
				height auto
				border-radius 80px

		&--certificate
			background url($i 'wizard/gift_certificate_info_image.png') no-repeat center top / contain
			max-width 164px
			padding-top 40%
			margin 0 auto 20px
			height 0
			+mobile()
				max-width 210px
				padding-top 0
				height 122px

		&--info
			display block
			+mobile()
				flex 1

		&--name
			font-size 16px
			font-weight 600

		&--session
		&--service
			margin-top 5px

		&.m-certificate
			+mobile()
				text-align center
				display block

	&--summary
		&--item
			border-top 1px solid $border_color
			display flex
			align-items center
			position relative
			+desktop()
				min-height 50px
				padding 10px 10px 10px 70px
			+mobile()
				min-height 40px
				padding 8px 8px 8px 60px

			> div
			> p
				flex 1
				line-height 1.25
				word-break break-word

			p + p
				margin-top 10px

			&.m-price
				strong
					font-weight 600
					font-size 18px
					color $blue_light
					&.m-credit
						color $gray_dark
						font-size 16px
					+mobile()
						font-size 16px

			&--icon
				width 52px
				height 100%
				position absolute
				top 0
				left 0
				border-right 1px solid $border_color

				&:before
					position absolute
					top 50%
					left 50%
					color #e0e0e0
					center()

				&.m-date
					&:before
						icon($i-today)
						font-size 24px

				&.m-location
					&:before
						icon($i-map-marker)
						font-size 28px

				&.m-time
					&:before
						icon($i-watch)
						font-size 24px

				&.m-price
					&:before
						icon($i-dollar)
						font-size 24px

				&.m-recurring
					&:before
						icon($i-calendar_grid)
						font-size 24px

				&.m-person
					&:before
						icon($i-user)
						font-size 24px

				&.m-message
					&:before
						icon($i-message)
						font-size 24px

				&.m-gift_certificate
					&:before
						color lighten($red_light, 15)
						icon($i-gift-alt)
						font-size 24px

	+mobile()
		&--payment_info
			display none
