.wizard_booking--sidebar
	+desktop()
		&--secured
			display block
			background url($i 'payments/cc_payments_secure.png') top right no-repeat
			background-size 248px 52px
			height 52px
			margin-top 20px
