.wizard_booking--success

	&--card
		+desktop()
			padding 40px 50px
		+mobile()
			padding 20px 15px

	&--header
		text-align center
		+desktop()
			margin-bottom 40px
		+mobile()
			margin-bottom 15px
		&--title
			+desktop()
				font-size 44px
				font-weight 300
				margin-bottom 20px
			+mobile()
				font-size 26px
				margin-bottom 15px

		&--text
			+desktop()
				font-size 18px
			+mobile()
				font-size 16px
			line-height 1.3
			p + p
				margin-top 15px

	&--cols
		+desktop()
			display flex
			align-items stretch
			flex-wrap nowrap

	&--col
		+desktop()
			flex 1
			padding 15px 0
			&:first-child
				border-right 1px solid $border_color
				padding-right 25px
			&:last-child
				padding-left 25px
		+mobile()
			&:last-child
				padding-top 20px
				margin-top 20px
				border-top 1px solid $border_color

	&--time
	&--package
		line-height 1.4
		position relative
		+mobile()
			text-align center
		+desktop()
			padding-left 40px
			&:before
				position absolute
				left 0
				top 0
				color $gray_lighter
				font-size 22px
		h3
			font-weight 600
			margin-bottom 10px
			+desktop()
				font-size 18px
			+mobile()
				font-size 16px

	&--time
		+desktop()
			&:before
				icon($i-clock)
		time
			display block
			margin-bottom 10px
			font-weight 600
			+desktop()
				font-size 18px
			+mobile()
				font-size 16px

	&--package
		margin-bottom 20px
		+desktop()
			&:before
				icon($i-calendar)
		p + p
			margin-top 10px

	&--contact_info
		+mobile()
			text-align center
		+desktop()
			display flex
			align-items stretch
		&--userpic
			padding 4px
			border 1px solid $border_color
			+desktop()
				width 80px
				height @width
				border-radius @height
				flex 0 0 @width
				margin-right 15px
			+mobile()
				margin 0 auto 15px
				width 60px
				height @width
				border-radius @height
			img
				width 100%
				height auto
				border-radius 80px



		&--data
			line-height 1.4
			+desktop()
				flex 1
			+mobile()
				max-width 220px
				margin 0 auto
			h3
				font-weight 600
				margin-bottom 10px
				+desktop()
					font-size 18px
				+mobile()
					font-size 16px

		&--address
			display block
			max-width 200px
			word-wrap break-word

		&--map
			margin-top 10px
			a
				color $blue_light
				font-weight 600

	&--footer
		text-align center
		+desktop()
			margin-top 30px
		+mobile()
			margin-top 15px
		&--btn
			+mobile()
				display block
				width 100%
				font-size 18px
