.wizard_booking--time_select
	position relative
	+desktop()
		min-height 210px
	+mobile()
		min-height 165px

	&--list
		display flex
		flex-wrap wrap
		margin-left -5px
		margin-right -5px
		&--item
			flex 0 0 33.3333%
			+desktop()
				padding 0 5px 10px
			+mobile()
				padding 0 7px 15px
			&--inner
				display block
				border-radius 3px
				border 1px solid $border_color
				text-align center
				font-size 13px
				cursor pointer
				line-height 1
				+desktop()
					padding 10px 5px
				+mobile()
					padding 15px 5px
				strong
					font-weight 600
			&.m-active &
				&--inner
					border-color $blue_light
					background $blue_light
					color $white

	&--list_no_availability
	&--list_empty
		text-align center
		+desktop()
			padding-top 50px
		+mobile()
			padding 30px 0
		p
			line-height 1.4
			font-weight 600

		footer
			+desktop()
				margin-top 40px
			+mobile()
				margin-top 30px
