.wizard_booking--tooltip
	border 1px solid $border_color
	box-shadow 0px 0px 14px rgba(0,0,0,0.1)
	border-radius 6px
	.tooltipster-content
		font-size 14px
		line-height 1.25
		padding 20px
		background #fff
		max-width 380px
		min-width 300px
		ul
			li + li
				margin-top 10px
			li
				padding-left 15px
				position relative
				&:before
					content ""
					position absolute
					left 0
					top 5px
					width 6px
					height @width
					border-radius @height
					background $blue_light

	.tooltipster-arrow
		width 0
		height 0
		border-style solid
		z-index 100
		left 50%
		margin-left -10px
		&-top
			bottom -10px
			border-width 10px 10px 0 10px
			border-color $white transparent transparent transparent
		&-bottom
			top -10px
			border-width 0 10px 10px 10px
			border-color transparent transparent $white transparent
		span
			display none
