<div class="partner_contact--form_col">
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="first_name"
				   id="first_name"
				   placeholder="First Name">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="email"
				   name="email"
				   id="email"
				   placeholder="Email">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="tel"
				   name="phone"
				   id="phone"
				   placeholder="Phone">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="title"
				   id="title"
				   placeholder="Title">
			<span class="field--error"></span>
		</span>
	</div>
</div>

<div class="partner_contact--form_col">
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="last_name"
				   id="last_name"
				   placeholder="Last Name">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="url"
				   name="website"
				   id="website"
				   placeholder="Website">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="company_name"
				   id="company_name"
				   placeholder="Association / Company Name">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<textarea name="comment" id="comment" rows="4" cols="80" data-maxlength="400" placeholder="Comment"></textarea>
			<span class="field--error"></span>
		</span>
	</div>

	<div class="form--line">
		<input type="submit" value="Send" class="btn m-green partner_contact--submit" data-form-submit>
	</div>
</div>
