<div class="form--line">
	<div class="field m-wide">
		<input type="text"
			   name="first_name"
			   placeholder="First Name">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--line">
	<div class="field m-wide">
		<input type="text"
			   name="last_name"
			   placeholder="Last Name">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--line">
	<div class="field m-wide">
		<input type="email"
			   name="email"
			   placeholder="Email">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--line">
	<div class="field m-wide">
		<input type="tel"
			   name="phone"
			   placeholder="Phone Number">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--line">
	<span class="field select m-wide">
		<select name="time_to_call" id="time_to_call">
			<option value="" disabled="" selected="">- Best time to call -</option>
			<option value="Morning">Morning</option>
			<option value="Afternoon">Afternoon</option>
			<option value="Evening">Evening</option>
			<option value="Anytime">Anytime</option>
		</select>
		<span class="field--error"></span>
	</span>
</div>
<div class="form--line">
	<span class="field m-wide">
		<textarea name="comment" id="comment" rows="4" cols="80" data-maxlength="400" placeholder="Your Message"></textarea>
		<span class="field--error"></span>
	</span>
</div>
<div class="form--footer form--line">
	<input type="submit" value="Schedule a Demo!" class="btn m-light_blue m-wide m-large" data-form-submit>
</div>
