<div class="form--line">
	<div class="field m-icon m-user m-wide">
		<input type="text"
			   name="first_name"
			   placeholder="First Name">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--line">
	<div class="field m-icon m-checked_user m-wide">
		<input type="text"
			   name="last_name"
			   placeholder="Last Name">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--line">
	<div class="field m-icon m-message m-wide">
		<input type="email"
			   name="email"
			   placeholder="Email">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--line">
	<div class="field m-icon m-phone m-wide">
		<input type="tel"
			   name="phone"
			   placeholder="Phone Number">
		<span class="field--error"></span>
	</div>
</div>
<div class="form--footer form--line">
	<input type="submit" value="Schedule a Demo!" class="btn m-green partner_contact--submit" data-form-submit>
</div>
