<div class="field m-wide">
	<input type="email"
		   name="email"
		   placeholder="Email">
	<span class="field--error"></span>
	<span class="loading_overlay m-light m-hide"><span class="spin m-cog"></span></span>
</div>
<input type="submit" value="Subscribe Now" class="btn" data-form-submit>
