<div class="partner_contact--form_col">
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="first_name"
				   id="first_name"
				   placeholder="First Name">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="company_name"
				   id="company_name"
				   placeholder="Company Name / Association">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="email"
				   name="email"
				   id="email"
				   placeholder="Email">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="number_of_members"
				   id="number_of_members"
				   placeholder="Number Of Members / Customers">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<textarea name="comment" id="comment" rows="4" cols="80" data-maxlength="400" placeholder="Comment"></textarea>
			<span class="field--error"></span>
		</span>
	</div>
</div>

<div class="partner_contact--form_col">
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="last_name"
				   id="last_name"
				   placeholder="Last Name">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="url"
				   name="website"
				   id="website"
				   placeholder="Website">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="tel"
				   name="phone"
				   id="phone"
				   placeholder="Phone">
			<span class="field--error"></span>
		</span>
	</div>
	<div class="form--line">
		<span class="field m-wide">
			<input type="text"
				   name="country"
				   id="country"
				   placeholder="Country / Region">
			<span class="field--error"></span>
		</span>
	</div>
	<dl class="form--line">
		<dt><div class="form--label">Please let us know what you are most interested_in in:*</label></div>
		<dd>
			<div class="partner_contact--form_checks field m-wide">
				<ul>
					<li>
						<label class="checkbox">
							<input type="checkbox" name="interested_in" id="api_integration" value="API integration">
							<span class="checkbox--i"></span>
							<span class="checkbox--label">API integration</span>
						</label>
					</li>
					<li>
						<label class="checkbox">
							<input type="checkbox" name="interested_in" id="affiliate" value="Affiliate or Revenue sharing">
							<span class="checkbox--i"></span>
							<span class="checkbox--label">Affiliate or Revenue sharing</span>
						</label>
					</li>
					<li>
						<label class="checkbox">
							<input type="checkbox" name="interested_in" id="offering_tools" value="Offering your members useful tools">
							<span class="checkbox--i"></span>
							<span class="checkbox--label">Offering your members useful tools</span>
						</label>
					</li>
					<li>
						<label class="checkbox">
							<input type="checkbox" name="interested_in" id="other" value="Other">
							<span class="checkbox--i"></span>
							<span class="checkbox--label">Other</span>
						</label>
					</li>
				</ul>
				<span class="field--error m-bottom_left"></span>
			</div>
		</dd>
	</dl>
	<div class="form--line">
		<input type="submit" value="Send" class="btn m-green partner_contact--submit" data-form-submit>
	</div>
</div>
