.content_block
	&
		position relative
		border 1px solid $border_color_mid
		background #fff
		padding 0
		border-radius 3px
		margin 10px 0 0

	&:empty
		display none

	&.m-edit
		border-style dashed
		border-color darken($border_color, 10)

	&.m-transparent
		border 0
		background transparent
		border-radius 0

	&:first-of-type
		margin 0

	&--inner
		padding rem(40px)

	&--header
		cf()
		margin-bottom 25px
		padding-right 10px

		&--btn
			float right

	&--title
		font-size rem(23)
		color $gray_dark
		position relative
		padding-left 40px
		float left
		padding-top 10px

		&.m-history
		&.m-stats
		&.m-packages
			&:before
				position absolute
				top 6px
				left 0
				color $gray_lighter
				font-size 30px

		&.m-history
			width 230px
			margin-right 20px

			&:before
				top 4px
				icon($i-history)
				font-size 35px

		&.m-stats
			&:before
				icon($i-stats)

		&.m-packages
			&:before
				icon($i-cards_pack)
