<div class="professional_setup_suitability_conditions">
	<div class="panel">

		<div class="professional_setup_suitability_conditions--block">
			<header class="panel--header m-suitability">
				<h2 class="panel--header_title">Suitability</h2>
				<div class="panel--header_description">Specify which populations are suitable for your services.</div>
			</header>
			<div class="accordion_panes m-in_block">
				<ul class="accordion_panes--list" data-options-container></ul>
			</div>
		</div>

		<div class="professional_setup_suitability_conditions--block">
			<header class="panel--header m-conditions">
				<h2 class="panel--header_title">Conditions and Concerns</h2>
				<div class="panel--header_description">Select the conditions and concerns which your services address.</div>
			</header>

			<div data-concerns-conditions></div>
		</div>

		<footer class="professional_setup_suitability_conditions--footer">
			<button class="professional_setup_suitability_conditions--btn btn m-red" type="button">Save Changes</button>
		</footer>

		<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
	</div>
</div>


