.cards_list
	position relative
	.content_block
		padding-top 30px
		padding-bottom 30px
		box-shadow none
		border-bottom-left-radius 0
		border-bottom-right-radius 0

	&--header
		padding 30px 24px
		&.m-hide
			display none

		&--add
			margin-left auto
			text-align right

		&--actions
			margin 0 auto
			max-width 280px

	&--picker
		max-width 360px
		display block
		margin 0 auto

	&--app
		margin 0
		border 1px solid $border_color
		border-top 0
		background #fff
		border-bottom-left-radius 3px
		border-bottom-right-radius 3px

		&--container
			&.m-hide
				display none

	&--listing
		cf()
		display flex
		flex-wrap wrap
		flex-direction row
		align-content flex-start
		margin -1%

		&--item
			flex 0 1 auto
			width 31.3333%
			margin 1%
			border 1px solid $border_color
			border-radius 3px
			display flex
			flex-direction column
			&.m-hide
				display none

	&--table
		width 100%
		thead
			th
				border-bottom 1px solid $border_color
				background #f9fafc
		tbody
			td
				border-bottom 1px solid $border_color
			tr
				&.m-hide
					display none
				&:last-child
					td
						border-bottom 0

		th,
		td
			padding 10px
			text-align left
			vertical-align middle
			line-height 1.4
			white-space nowrap
			&:first-child
				padding-left 20px
			&:last-child
				padding-right 20px
		th
			font-weight 600
			font-size 14px
			color $gray
		&--type
			width 5%
		&--funding,
		&--withdraw
			width 10%
		&--exp
			width 15%

		&--actions
			width 50px
		&--action
			display inline-block
			margin-left 10px
			&--edit,
			&--remove
				font-size 18px
				&:link,
				&:visited
					color $gray_light
			&--edit
				&:hover
					color $blue
				&:before
					icon($i-pencil)
			&--remove
				&:hover
					color $red_mute
				&:before
					icon($i-times)

		&--account_number
			width 30%

		&--empty
			p
				text-align center
