.card_form
	.popup--close
		top 25px
	&--block
		width 480px

		&--header
			background #F9FAFC
			border-bottom 1px solid $border_color
			padding 30px 40px
			&--title
				font-size rem(18px)
				font-weight 600
				position relative
		&--content
			padding rem(30 40)

		&--footer
			border-top 1px solid $border_color
			text-align right
			padding 15px 40px

		&--tos
			padding 0 40px

	&--form_info
		display flex
		.form--group
			max-width 130px
			min-width 100px
			&:first-child
				margin-right 10px

	&--form_number
		&--label,
		&--field
			&.m-hide
				display none
		&--label
			display block
			vertical-align middle
			border 1px solid $border_color
			background #f9fafc
			width 100%
			margin 0 10px 0 0
			font-size .875rem
			padding rem(14px)
			border-radius 3px
			span
				display block
			i
				font-size 22px
				line-height 10px
				position relative
				top 1px
				padding 0 8px 0 0
				display inline-block
				font-style normal

	.form--line
		margin-top 1.15rem

		p
			margin 0 0 0 10px

	div.form--line
		display flex

		.form--group
			&
				flex 1
				margin 0 0 0 10px

			&:first-child
				margin-left 0


	.account--type
		input
			display inline-block
			width inherit



	&--card_logos
		display flex
		align-items center
	&--card_logo
		margin-right 10px
		opacity .3
		&.m-active
			opacity 1

	&--cvc
		input
			&.m-edit
				background #FAFDBD

	&--errors
		background lighten($red, 35)
		color $red_mute
		border 1px solid lighten($red, 15)
		border-radius 3px
		padding 14px
		font-weight 600
		margin-bottom 1.75rem
		&.m-hide
			display none

	&--dob
		dd
			display flex

			.select
				&
					flex 1
					margin 0 10px 0 0
