+responsive('max-width: 980px')
	.cards_manager
		&--form_footer
			position relative
			bottom 0
			margin-top 16px
			left auto
			right auto

		&--submit_button
			position relative
			bottom 0
			margin-top 20px
			width 100%
