<div class="professional_setup_wizard--header">
	<h2 class="professional_setup_wizard--header--title" data-view-title>You're Almost Done&hellip;</h2>
</div>

<div class="professional_setup_wizard--main" data-view-main>
	<div class="professional_setup_wizard--panel">
		<div class="professional_setup_wizard--success">
			<h2 class="professional_setup_wizard--success--title">Email Confirmation</h2>
			<span class="professional_setup_wizard--success--image m-confirmation">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 709.4 512">
					<path class="st0" d="M701.9 336.9V208.7L499 50.7c-26.8-20.9-64.4-20.9-91.2 0L205 208.7v128.2l-.4 98.6.8 6c2.9 21.5 21.5 37.6 43.2 37.6h409.6c21.7 0 40.3-16.2 43.2-37.6l.8-6-.3-98.6z"/>
					<path class="st1" d="M582.8 90.7H324.1c-23.7 0-43.1 19.1-43.1 43.1v215.6h344.9V133.8c0-24-19.5-43.1-43.1-43.1z"/>
					<path class="st2" d="M593 91.9v257.4h32.9V133.8c0-20.5-14.1-37.3-32.9-41.9z"/>
					<path class="st3" d="M471.9 317c-5.6-3.3-12-5.1-18.5-5.1s-12.8 1.7-18.5 5.1L204.5 435.5l.8 6c2.9 21.5 21.5 37.6 43.2 37.6h409.6c21.7 0 40.3-16.2 43.2-37.6l.8-6L471.9 317z"/>
					<path class="st4" d="M205 208.7l187.1 131.6L205 436.5zM701.9 208.7L514.8 340.3l187.1 96.2z"/>
					<path class="st5" d="M345.6 163.4H475c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1H345.6c-4.5 0-8.1 3.6-8.1 8.1s3.7 8.1 8.1 8.1zM518.1 163.4h43.1c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1h-43.1c-4.5 0-8.1 3.6-8.1 8.1s3.6 8.1 8.1 8.1zM345.6 206.5h64.7c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1h-64.7c-4.5 0-8.1 3.6-8.1 8.1s3.7 8.1 8.1 8.1zM453.4 206.5H475c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1h-21.6c-4.5 0-8.1 3.6-8.1 8.1s3.7 8.1 8.1 8.1zM518.1 206.5h43.1c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1h-43.1c-4.5 0-8.1 3.6-8.1 8.1s3.6 8.1 8.1 8.1zM445.3 241.6c0 4.5 3.6 8.1 8.1 8.1h107.8c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1H453.4c-4.4 0-8.1 3.6-8.1 8.1zM418.4 241.6c0-4.5-3.6-8.1-8.1-8.1h-64.7c-4.5 0-8.1 3.6-8.1 8.1s3.6 8.1 8.1 8.1h64.7c4.5-.1 8.1-3.7 8.1-8.1z"/>
					<path class="st0" d="M669 419.6l32.9 16.9V208.7L669 231.8z"/>
					<path class="st0" d="M702.3 435.5L669 418.4V477.8c16.8-4.3 30-18.5 32.5-36.3l.4-3 .4-3z"/>
					<path class="st6" d="M706.1 201L634 149v-16.8c0-28.6-23-51.8-51.2-51.8h-29.9L490 38.5c-22.2-14.8-50.9-14.8-73.1 0L354 80.4h-29.9c-28.2 0-51.2 23.3-51.2 51.8V149l-72.1 52c-2.1 1.5-3.4 3.9-3.4 6.6v225.9c0 28.2 23 51.1 51.2 51.1h409.6c28.2 0 51.2-22.9 51.2-51.1V207.6c0-2.7-1.3-5.1-3.3-6.6zM634 169l53.4 38.5-53.4 37.6V169zm-345-36.7c0-19.3 16-35.7 35-35.7h135.3c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1h-76.2l42.7-28.5c16.8-11.2 38.4-11.2 55.2 0l42.7 28.5h-28.8c-4.5 0-8.1 3.6-8.1 8.1s3.6 8.1 8.1 8.1h87.8c19 0 35 16.3 35 35.7v124.2L515 328.7l-39.5-20.3c-13.7-8.1-30.7-8.1-44.4 0l-39.5 20.3L289 256.4V132.3zM272.9 169v76.1l-53.4-37.6 53.4-38.5zm-59.3 54.1L375.5 337l-161.9 83.3V223.1zm444.6 245.4H248.6c-17.7 0-32.4-13.2-34.7-30.2l224.9-115.7c.2-.1.3-.2.5-.3 8.7-5.2 19.5-5.2 28.3 0 .1.1.3.2.5.3L693 438.3c-2.4 17-17.1 30.2-34.8 30.2zm35.1-48.2L531.4 337l161.9-113.8v197.1z"/>
					<path class="st6" d="M120.5 440.1c0 4.5 3.6 8.1 8.1 8.1h77.8c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1h-77.8c-4.4 0-8.1 3.6-8.1 8.1zM13.6 349.3c0 4.5 3.6 8.1 8.1 8.1h134.8c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1H21.6c-4.4.1-8 3.7-8 8.1zM76.2 258.6c0 4.5 3.6 8.1 8.1 8.1h118.8c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1H84.3c-4.5 0-8.1 3.7-8.1 8.1zM71.9 440.1c0 4.5 3.6 8.1 8.1 8.1h17.8c4.5 0 8.1-3.6 8.1-8.1s-3.6-8.1-8.1-8.1H80c-4.5 0-8.1 3.6-8.1 8.1z"/>
				</svg>
			</span>
			<div class="professional_setup_wizard--success--block">
				<p>We sent a confirmation email to <strong data-email></strong>.</p>
				<p>Click on the verification link in the email to complete the sign up process.</p>
			</div>
			<div class="professional_setup_wizard--success--block">
				<p>If you didn't receive a confirmation email we can <a href="#" data-resend-email>Send you another email</a> or you can <a href="#" data-change-email>Change your email address.</a></p>
			</div>
		</div>
	</div>

	<div class='popup professional_setup_wizard--popup' data-popup='professional_wizard_success' id='professional_wizard_success'>
		<div class="popup--container" data-popup-container>
			<div class="popup--content">
				<div class="professional_setup_wizard--popup--content" data-popup-content></div>
				<span class="loading_overlay m-hide m-light"><span class="spin m-logo"></span></span>
			</div>
		</div>
	</div>
</div>
