<button class="popup--close" data-close></button>

<div class="professional_setup_wizard--popup--change">
	<h2 class="professional_setup_wizard--popup--change--title">Enter a new email address</h2>
	<div class="professional_setup_wizard--popup--change--description">
		<p>Enter your email address and we will send you a confirmation link.</p>
	</div>

	<div class="professional_setup_wizard--popup--change--form">
		<dl class="form--group">
			<dt>Email Address</dt>
			<dd class="field m-icon m-message m-wide">
				<input type="email" name="new_email" placeholder="example@website.com">
				<span class="field--error"></span>
			</dd>
		</dl>
	</div>

	<footer class="professional_setup_wizard--popup--footer">
		<button class="professional_setup_wizard--popup--cta btn m-green" data-send-email>Send</button>
	</footer>
</div>
