<div class="professional_setup_wizard--popup--changed">
	<span class="professional_setup_wizard--popup--changed--icon">
		<svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
			<path d="M256 0C114.215 0 0 114.215 0 256s114.215 256 256 256 256-114.215 256-256c0-27.57-3.692-55.015-13.538-80.615l-32 31.384c3.938 15.754 6.153 31.508 6.153 49.231 0 120.123-96.492 216.615-216.615 216.615S39.385 376.123 39.385 256 135.877 39.385 256 39.385c59.077 0 112.123 23.507 149.538 60.923l27.693-27.693C387.938 27.323 324.923 0 256 0zm222.154 84.308L256 306.462l-84.308-84.308-28.307 28.308 98.461 98.461L256 362.462l14.154-13.539 236.308-236.308-28.308-28.307z" fill-rule="nonzero" fill="#000"/>
		</svg>
	</span>
	<h2 class="professional_setup_wizard--popup--changed--title">Success</h2>
	<div class="professional_setup_wizard--popup--changed--description">
		<p>An email with further instructions has been sent to you.</p>
	</div>
	<footer class="professional_setup_wizard--popup--footer">
		<button class="professional_setup_wizard--popup--cta btn m-green" data-close>OK</button>
	</footer>
</div>
