<div class="professional_setup_wizard--popup--changed m-error">
	<span class="professional_setup_wizard--popup--changed--icon">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
			<path d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13 13-5.832 13-13S23.168 3 16 3zm0 2c6.087 0 11 4.913 11 11s-4.913 11-11 11S5 22.087 5 16 9.913 5 16 5zm-3.781 5.781L10.78 12.22 14.562 16l-3.78 3.781 1.437 1.438L16 17.437l3.781 3.782 1.438-1.438L17.437 16l3.782-3.781-1.438-1.438L16 14.562l-3.781-3.78z" color="#000" overflow="visible"/>
		</svg>
	</span>
	<h2 class="professional_setup_wizard--popup--changed--title">{{title}}</h2>
	<div class="professional_setup_wizard--popup--changed--description">
		<p>{{msg}}</p>
	</div>
	<footer class="professional_setup_wizard--popup--footer">
		<button class="professional_setup_wizard--popup--cta btn m-red" data-close>OK</button>
	</footer>
</div>
