.audio_player
	display inline-block
	vertical-align middle
	position relative
	width 392px
	cf()
	
	&--play
	&--pause
		&
			display block
			width 34px
			height 30px
			background #d7d7d7
			text-indent -9999px
			position relative
			float left
			
			&:before
				icon($i-play)
				color $gray_dark
				position absolute
				top 50%
				left 50%
				t-translate(-50%, -50%)
				font-size 18px
				text-indent 0

		&:hover
			background $gray_dark
			
			&:before
				color #fff
				
	&--pause
		display none
		&:before
			icon($i-pause)
				
	&--bar
		width 358px
		float left
		position relative
		height 30px
		background #eaeaea
		
		&--progress
			position absolute
			top 0
			left 0
			width 0
			height 30px
			background #e2e2e2
			
		&--time
			position absolute
			right 6px
			top rem(10px)
			font-size rem(12px)
			color $gray_dark
			font-weight 600
