<div class="wizard_booking--block m-pad m-create_profile">
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Switch Profile to Client</h2>
	</header>
	<div class="wizard_booking--profile_management">
		<div class="wizard_booking--profile_management--switch">
			{{#each profiles}}
				<div class="wizard_booking--profile_management--switch--profile">
					<a href="#" class="wizard_booking--profile_management--switch--profile--link" data-select-user data-id="{{id}}">
						<figure class="userpic m-medium m-circle">
							<span class="userpic--inner">
								{{#if avatar}}<img src="{{avatar}}" alt="">{{/if}}
							</span>
						</figure>
						<dl>
							<dt>{{full_name}}</dt>
							<dd>{{type}}</dd>
						</dl>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</div>
