.profile
	&
		margin 20px auto 0
		max-width 1180px
		display flex
		flex-direction row
		padding rem(0 0 50px)

		&.m-client
			max-width 980px

		&--block
			&--header
				font-weight 600
				font-size rem(18px)
				color $gray_dark
				position relative
				padding 20px 0 10px

		&--back
			&--link
				color $gray_dark
				&:before
					icon($i-arrow-left)
					margin-right 5px
					vertical-align top
					position relative
					top -1px
				&:hover
					color $blue

		&--main
			flex 1
			min-width 0

			&--title
				font-size rem(22px)
				margin rem(50px 0 0)
				position relative

				span
					font-size rem(17px)
					font-weight 300



			&--edit_link
				position absolute
				right 0
				top 12px
				text-transform uppercase
				font-size rem(10)
				text-transform uppercase
				font-weight 600
				color $blue_light
				&:hover
					color $blue


			&--map
				display none
				margin rem(50px 0 0)

		&--sidebar
			min-width 0
			flex 0 0 360px
			margin 0 0 0 20px

		&--block + &--block
			margin-top -10px


		&--section
			.content_block
				margin-top 10px
