.profile_footer
    bottom 0
    left 0
    right 0
    width 100%
    z-index 10001 // (?)
    display none
    padding 20px
    background #fff

    .profile_footer--button
        font-size 1.125rem
        padding-top 1.375rem
        padding-bottom 1.375rem

        &.m-hide
            display none

    &.m-fixed
        position fixed
        padding 0

        .profile_footer--button
            border-radius 0

.m-popup_opened .profile_footer
    z-index 0
