.profile--block
	&--header
		&:before
			color #e0e0e0
			content ''
			position absolute
			right 100%
			top 15px
			font-size 25px
			+responsive('max-width: 480px')
				font-size 20px
				left -2px
				top -1px

		&.m-no_icon
			margin 0

		&.m-basic_info
			&:before
				icon($i-user)
				margin 0 25px 0 0

		&.m-social
			&:before
				icon($i-globe)
				margin 0 18px 0 0
				top 16px
				+responsive('max-width: 480px')
					top -1px

		&.m-services
			&:before
				icon($i-group)
				margin 0 14px 0 0

		&.m-locations
			&:before
				icon($i-geo-fence)
				margin 0 18px 0 0

		&.m-suitability
			&:before
				icon($i-note)
				margin 0 15px 0 0
				top 17px
				+responsive('max-width: 480px')
					top 0

		&.m-conditions
			&:before
				icon($i-private)
				margin 0 15px 0 0
				top 17px
				+responsive('max-width: 480px')
					top 0

		&.m-about
			&:before
				icon($i-pencil)
				margin 0 18px 0 0

		&.m-education
			&:before
				icon($i-university)
				margin 0 15px 0 0

		&.m-work
			&:before
				icon($i-briefcase)
				margin 0 15px 0 0

		&.m-certificates
			&:before
				icon($i-frame)
				margin 0 15px 0 0
				top 17px
				+responsive('max-width: 480px')
					top 0

		&.m-associations
			&:before
				icon($i-diploma)
				margin 0 14px 0 0
				top 18px
				+responsive('max-width: 480px')
					top 1px

		&.m-photos
			&:before
				icon($i-camera)
				margin 0 18px 0 0

		&.m-videos
			&:before
				icon($i-start)
				margin 0 21px 0 0
				top 17px
				+responsive('max-width: 480px')
					top 0

		&.m-providers,
		&.m-clients
			&:before
				icon($i-group)
				margin 0 18px 0 0

		&.m-schedule
			&:before
				icon($i-calendar)
				font-size 25px
				margin 0 18px 0 0
				top 16px
				+responsive('max-width: 480px')
					top -1px

		&.m-credit-cards
			&:before
				icon($i-card_inserting)
				font-size 25px
				margin 0 18px 0 0
				top 18px
				+responsive('max-width: 480px')
					top 1px

		&.m-update_email
			&:before
				icon($i-security_checked)
				margin 0 18px 0 0

		&.m-update_password
			&:before
				icon($i-lock)
				margin 0 24px 0 0
