+responsive('max-width: 1220px')
	.profile
		&--sidebar
			flex 0 0 345px

+responsive('max-width: 980px')
	.profile
		&--sidebar
			.booking_widget--locations
				margin-bottom 25px
		&.m-client
			margin-left 20px
			margin-right 20px


+responsive('max-width: 860px')
	.profile
		&--block
			&--header
				margin-left 40px

+responsive('max-width: 750px')
	.profile
		transition padding .2s
		flex-direction column

		&--block
			&--header
				margin-left 0

		&--sidebar
			margin rem(50px 0 0)

			&--book
				position absolute
				top 64px
				left 100%
				width 100%
				background #fff
				border-top 0
				border-left 0
				border-right 0
				margin 0
				transition left .2s
				min-width 0
				width 0
				overflow hidden

				&.m-opened
					left 0
					width 100%
					min-width 320px

					.booking_widget--header
						padding rem(20px 50px 19px)

					.booking_widget--header--close
						display block

+responsive('max-width: 640px')
	.profile
		&--block
			&--header
				margin-left 40px

			&--content.m-pull
				padding-left 2.5rem

+responsive('max-width: 480px')
	.profile
		&--block
			&--header
				margin 0
				padding rem(0 0 0 28px)

				&:before
					font-size rem(20px)
					top -2px

				&.m-education
					&:before
						font-size rem(20px)
						top -3px

			&--content.m-pull
				padding-left 0

+responsive('max-width: 420px')
	.profile
		margin 0 10px !important

		&--sidebar
			&--book
				&.m-opened
					.booking_widget--header
						padding-left rem(20px)
