.edit_set
	position relative
	&--list
		display block

	&--item
		position relative
		margin-bottom rem(30)
		padding-bottom rem(30)
		border-bottom 1px solid $border_color
		&:last-child
			border 0
			padding-bottom 0
		dl
			dt
				font-weight 600

			@media(max-width: 979px)
				flex-direction column
				dt
					margin rem(0 0 5 0)
				dd
					display block

			@media(min-width: 980px)
				flex-direction row
				align-items center
				dt
					max-width 145px
					flex 0 0 145px
					margin rem(0 10 0 0)
					line-height rem(16)
				dd
					flex 1

	&--item_row
		display flex
		margin 20px 0 0 0
		&:first-child
			margin 0

		&.m-double
			display block
			dl
				display flex
				margin 20px 0 0 0
				&:first-child
					margin 0

		@media(max-width: 979px)
			&.m-name
				margin-right rem(40)

			&.m-double
				display flex
				flex-direction row
				align-items flex-start
				flex-wrap wrap
				dl
					flex 1
					margin-top 0
					&:first-child
						margin-right rem(10)

		@media(min-width: 980px)
			&.m-double
				dl
					margin-right rem(20)

	&--time_current
		margin-top rem(10)
		@media(max-width: 979px)
			flex 0 0 100%
		@media(min-width: 980px)
			margin-left 155px

	&--time_range
		@media(min-width: 980px)
			display flex
			align-items flex-start
		.select
			max-width 140px
			width 100%
			@media(max-width: 979px)
				display block
				&:first-child
					margin-bottom rem(10)
			@media(min-width: 980px)
				flex 0 0 140px
				&:first-child
					margin-right rem(10)


	.check
		display inline-block

		input
			width 13px
			vertical-align middle

		label
			vertical-align middle

	&--item_degree
		width 250px

	&--item_remove
		width 30px
		height 30px
		position absolute
		color $red
		text-indent -9999px
		@media(max-width: 979px)
			right 0
			top 25px
		@media(min-width: 980px)
			margin 0 0 0 10px
			left 100%
			top 6px

		&:before
			icon($i-trash)
			font-size rem(18px)
			position absolute
			top 50%
			left 50%
			t-translate(-50%, -50%)
			text-indent 0

		&:hover
			color darken($red, 20%)

	&--add_btn
		@media(max-width: 979px)
			display block
			width 100%
			border 1px solid $blue
			text-align center
			height 47px
			border-radius 3px
			font-size rem(14)
			text-transform uppercase
			&:before
				position relative
				icon($i-plus-o)
				font-size 19px
				display inline-block
				vertical-align middle
				margin -5px 5px 0 0
			&:hover
			&:active
				text-decoration none
