<!--<span class="schedule&#45;&#45;calendar&#45;&#45;timezones timezone_note">Times shown in <b>GMT +3</b></span>-->
<div class="schedule--legend">
	<dl class="schedule--legend_group m-appointment">
		<dt><span></span></dt>
		<dd>Appointment</dd>
	</dl>
</div>
<div class="fullcalendar" data-fullcalendar></div>
