<div class="schedule_info--wrap">
	<header class="schedule_info--header m-appointment">
		<figure class="header--userpic" data-header-userpic></figure>
		<div class="header--profile m-appointment">
			<span class="header--profile_name"><a href="#" class="header--profile_url schedule_info--profile_url" data-header-name></a></span>
			<span class="header--profile_details" data-header-details></span>
		</div>
		<a href="#" class="header--msg schedule_info--msg" data-header-msg data-tooltip title="Message Professional"></a>
	</header>
	<div class="schedule_info--content">
		<div class="schedule--alert schedule_info--alert">
			<div class="alert m-info m-show"></div>
		</div>
		<dl class="schedule_info--row m-row m-time">
			<dt>Date/Time:</dt>
			<dd>
				<p><strong data-details-date></strong></p>
				<p><span data-details-from></span> - <span data-details-until></span> (<span data-details-timezone></span>)</p>
			</dd>
		</dl>
		<dl class="schedule_info--row m-row m-service">
			<dt>Service:</dt>
			<dd>
				<span class="lbl m-red" data-details-package></span>
				<strong class="m-name" data-details-service></strong>
			</dd>
		</dl>
		<dl class="schedule_info--row m-row m-location">
			<dt>Location:</dt>
			<dd>
				<span class="lbl m-blue_light" data-details-home-visit></span>
				<strong class="m-name" data-details-location-name></strong>
				<p class="m-address" data-details-location-address></p>
			</dd>
		</dl>
		<dl class="schedule_info--row m-row m-status">
			<dt>Status:</dt>
			<dd>
				<strong data-details-status></strong>
			</dd>
		</dl>
		<footer class="schedule_info--footer">
			{{#unless past}}
			<a href="#" class="schedule_info--remove_ask" data-tooltip title="Cancel Appointment"></a>
			{{/unless}}
		</footer>
		<span class="schedule_info--remove_confirm">
			<span class="schedule_info--remove_question">
				<span>{{{cancellation_message}}}</span>
				<span class="schedule_info--remove_actions">
					<a href="#" class="schedule_info--remove_yes">Yes</a>
					<a href="#" class="schedule_info--remove_cancel">No</a>
				</span>
			</span>
		</span>
	</div>
	<div class="loading_overlay m-light"><span class="spin m-cog"></span></div>
</div>
