<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="popup_provider_schedule_details--wrap">
		<header class="event_details--block--header">
			<h2 class="event_details--block--header--title">Class <span>{{name}}</span></h2>
			{{#if description}}
				<p>{{description}}</p>
			{{/if}}
		</header>
		<div class="event_details--block--content">

			<div class="event_details--section">
				<h3 class="event_details--section_header">Location(s) Offered</h3>
				<div class="event_details--locations">
					{{#each locations}}
						<div class="event_details--location">
							<div class="event_details--row event_details--row--time">
								<p><strong>{{weekday}}, {{time_from}} - {{time_until}}</strong></p>
							</div>
							<div class="event_details--row event_details--row--address">
								<p>{{address.address}}</p>
								<p>{{address.city}} {{address.postal_code}}</p>
							</div>
						</div>
					{{/each}}
				</div>
			</div>


			<div class="event_details--section">
				<h3 class="event_details--section_header">Package(s) Offered</h3>
				<div class="event_details--packages">
					{{#each packages}}
					<div class="event_details--package">
						<div class="event_details--row event_details--row--package">
							<p><span>{{number_of_visits}}</span> visit(s) for <span>{{formatted_price}}</span></p>
						</div>
					</div>
					{{/each}}
				</div>
			</div>

		</div>
		<div class="loading_overlay m-light"><span class="spin m-cog"></span></div>
	</div>
</div>
<div class="popup--bg"></div>