.article_edit
	position relative
	padding 40px 0
	background #f9fafc
	cf()

	.wrap
		max-width 600px

	.form
		&--line
			&
				margin-top 30px

			&:first-child
				margin 0

	&--footer
		padding 30px 0 0
		float right

	&--delete
		padding 30px 0 0
		float right

		.btn
			margin 0 20px 0 0
