.booking_payment
	display flex

	&--col
		&
			flex 1
			border-left 1px solid $border_color
			position relative
			min-height 415px

		\ .wizard.m-page &.m-invoice
			padding-bottom 80px

		&.m-credit_card
			padding-bottom 80px

		&:first-child
			border-left 0

	.wizard--block_container
		position static

	&--invoice
		margin-top rem(20px)
		padding-top rem(10px)
		position relative

		dl
			padding 0 15px
			margin 15px 0 0
			display flex
			&:first-child
				margin 0
			dt
				flex 1
				margin-right rem(15)
				span
					white-space nowrap
				.checkbox--label
					font-weight normal
			dd
				white-space nowrap

		&--item
			padding 0 15px
			margin 15px 0 0
			display flex
			&:first-child
				margin 0
			&.m-certificate
				display block
				p + p
					margin-top rem(5)
				p:last-child
					display flex
					span:nth-child(1)
						flex 1
						margin-right 5px


			.checkbox
				width 100%
				&--label
					font-weight normal
					b
						font-weight normal
					span
						white-space nowrap

		&--items
			margin 0 0 13px

		&--packages
			margin 0 0 20px
			padding 0 15px
			p
				font-weight 600
				color $red
				margin-bottom 15px
			.checkbox_group
				.checkbox
					display block
					margin 0 0 8px 0
					&:last-child
						margin-bottom 0
					&--label
						font-weight normal


		dl&--total
			border-top 2px solid $border_color
			padding 22px 15px 0
			font-weight 600

			dd
				font-size rem(18px)
				color $blue

		&--subtotals
			border-top 2px solid $border_color
			padding 20px 15px 0
			display flex
			&.m-hide
				display none
			&:empty
				display none
			b
				flex 1

	&--discount
		&
			margin-top 15px
			padding 0 15px

		&.m-hide
			display none

		dl&--item
			margin-top 5px
			padding 0 0 10px

		&--remove
			font-size rem(11px)
			color $blue
			border-bottom 1px solid $blue
			display inline-block
			line-height 1

			&:hover
				color $blue_light

			&.m-hide
				display none

	&--coupon
		display block
		margin-bottom 20px

		dl
			display block

		dd
			display flex

		&--btn
			margin-left 10px

	&--switcher
		border-top 1px solid $border_color
		position absolute
		bottom 0
		left 0
		width 100%
		padding 20px

		li
			&
				margin 25px 0 0

			&:first-child
				margin 0


	&--cards
		padding 0 00px 0 0
		> li
			&
				margin 15px 0 0

			&:first-child
				margin 0

		.radio
			display block
			&--label
				display block


	&--card
		display block
		vertical-align middle
		border 1px solid $border_color
		background #f9fafc
		font-size .875rem
		padding rem(14px 60px 14px 16px)
		border-radius 3px

		span
			font-size 22px
			line-height 10px
			padding 0 8px 0 0
			position relative
			top 1px

		img
			position absolute
			right 20px
			top 50%
			t-translate(0, -50%)

	.radio input:checked ~ .radio--label &--card
		background #fff
		border-color #fff
		box-shadow 0 0 5px rgba(#000, .2)

	&--submit_button
		position absolute
		bottom 35px
		width 190px
		padding-left 0
		padding-right 0

	&--new_card

		.form--line
			&
				margin-top rem(18px)

			&:first-child
				margin-top 0

		&--number
			dd
				display flex
				align-items stretch

				.field
					margin 0 0 0 10px

		&--info
			display flex

	&--cvc
		max-width 80px

	&--expiration
		flex 1
		dd
			display flex

			.select
				flex 1
				margin 0 10px 0 0

	&--card_logo
		&
			min-width 66px
			border 1px solid $border_color
			background #f9fafc
			border-radius 3px
			position relative
			&:before
				content ''
				position absolute
				top 50%
				left 50%

		&.mastercard
		&.maestro
			&:before
				width 37px
				height 22px
				background url('../images/content/booking/cc-master.png') no-repeat
				center()

		&.visa
			&:before
				width 37px
				height 13px
				background url('../images/content/booking/cc-visa.png') no-repeat
				center()

	&--description
		display block
		ul
			font-size rem(14)
			line-height 1.35
		li
			margin-bottom rem(10)
			padding-left rem(16)
			position relative
			&:last-child
				margin-bottom 0
			&:before
				position absolute
				width 8px
				height @width
				border-radius @width
				background $green
				content ""
				position absolute
				left 0
				top 5px

	&--error
		background lighten($red, 35)
		color $red_mute
		border 1px solid lighten($red, 15)
		border-radius 3px
		padding 12px 15px
		font-weight 600
		margin-bottom rem(20)
		text-align center
		&.m-hide
			display none
