+responsive('max-width: 1150px')
	.booking_payment
		&--cards
			padding-right 0

+responsive('max-width: 1100px')
	.booking_payment
		&--cards
			span
				padding-right 5px

+responsive('max-width: 980px')
	.booking_payment
		display block

		&--col
			&
				min-height auto
				padding-bottom 0 !important
				border-top 1px solid $border_color

			&:first-child
				border none

		&--cards
			span
				padding-right 5px

		//&--invoice
		//	padding-top 20px
