<form class="form" action="#">
	<div class="mobile_tabs" data-tabs='{}' >
		<div class="mobile_tabs--header">
			<button class="mobile_tabs--switch" data-tab-switch="personal">Personal Information</button>
			<button class="mobile_tabs--switch" data-tab-switch="social">Social Pages</button>
		</div>
		<div class="mobile_tabs--tabs" data-tab-list>
			<div class="mobile_tabs--tab" data-tab="personal">
				<div class="panel">
					<div class="panel--content">
						<div class="edit_personal">
							<div class="edit_personal--userpic"></div>
							<div class="edit_personal--data"></div>
						</div>
					</div>
					<footer class="panel--actions">
						<button type="button" class="js-edit_about_me--cancel btn m-link" data-cancel="personal">Cancel</button>
						<button class="js-edit_about_me--submit btn m-blue" type="submit">Update</button>
					</footer>
				</div>
			</div>
			<div class="mobile_tabs--tab" data-tab="social">
				<div class="panel">
					<div class="panel--content">
						<div class="edit_links m-profile js-edit_links"></div>
					</div>
					<footer class="panel--actions">
						<button type="button" class="js-edit_about_me--cancel btn m-link" data-cancel="social">Cancel</button>
						<button class="js-edit_about_me--submit btn m-blue" type="submit">Update</button>
					</footer>
				</div>
			</div>
		</div>
	</div>
</form>
