<div class="wizard_booking--block m-pad">
	<header class="booking_success--header">
		<h1 class="booking_success--header_title">Thank You</h1>
		<p>Thank you for purchasing a HealthPRO Gift Certificate.</p>
		<p>The recipient will receive a notification of the gift <strong>{{notificationTime}}</strong>. Smile - you've just made someone's day!</p>
	</header>
	<div class="booking_success--gift_certificate">
		<figure class="booking_success--gift_certificate--image"></figure>
		<div class="booking_success--gift_certificate--info">
			<div class="booking_success--gift_certificate--info_title">Gift Certificate</div>
			<dl class="booking_success--gift_certificate--info_row">
				<dt>Service:</dt>
				<dd>{{serviceName}}</dd>
			</dl>
			<dl class="booking_success--gift_certificate--info_row">
				<dt>Session:</dt>
				<dd>{{duration}}</dd>
			</dl>
			<dl class="booking_success--gift_certificate--info_row">
				<dt>Price:</dt>
				<dd class="m-price">{{price}}</dd>
			</dl>
		</div>
	</div>
</div>
<footer class="booking_success--footer">
	<a href="/dashboard/my-profile/personal-info/" class="btn m-green">Go to Dashboard</a>
</footer>
