<div class="client_package--inner">
	<header class="client_package--header" data-package-header>
		<span class="client_package--header_avatar">{{{professional.avatar}}}</span>
		<div class="client_package--header_service_professional">
			<h3 class="client_package--header_service">{{service.name}}</h3>
			<h4 class="client_package--header_professional">{{professional.full_name}}</h4>
			<p class="client_package--header_label">{{package.entities_label_short}}</p>
		</div>
		<div class="client_package--header_location m-{{location.type}}">
			<strong>{{location.name}}</strong>
			<span class="lbl m-blue_light">{{location.type_label}}</span>
		</div>
		<div class="client_package--header_time">
			{{#if next_appointment}}
				<span>
					Next appointment on<br>
					<strong>{{next_appointment.weekday}}</strong>, {{next_appointment.date}}
				</span>
				<p class="m-time">
					{{next_appointment.from}} - {{next_appointment.until}}
				</p>
			{{/if}}
		</div>
	</header>
	<div class="client_package--content">
		<div class="client_package--content_inner">
			<div class="client_package--content_details">
				<div class="client_package--description">
					<p>
						<span class="lbl m-red">package</span>
					</p>
					<p>{{{package.entities_label}}}</p>
					{{#if next_appointment}}
						<p>
							Next appointment is on
							<br>
							<strong>{{next_appointment.weekday}}, {{next_appointment.date}}</strong>
							<br>
							<strong>{{next_appointment.from}} - {{next_appointment.until}}</strong>
						</p>
						<p>
							<a href="{{next_appointment.url}}" class="client_package--appointment_details">View Full Appointment Details</a>
						</p>
					{{/if}}
				</div>
			</div>
			<div class="client_package--content_address"></div>
			<div class="client_package--content_actions">
				{{#if is_active}}
					<div class="client_package--content_actions--buttons">
						{{#if package.entities_left}}
							<button class="client_package--content_actions--button btn m-red m-book" data-book-appointment>Book Now</button>
						{{/if}}
					</div>
				{{/if}}
			</div>
			<div class="client_package--hours" data-package-hours>
				<p class="client_package--hours--toggle">
					<button class="client_package--link client_package--hours--toggle_cta" data-package-hours-toggle>
						<span>View Available Locations</span>
					</button>
				</p>
				<ul class="client_package--hours--locations">
					{{#each locations}}
					<li class="client_package--hours--location">
						<h4 class="client_package--hours--location_title">{{name}}</h4>
						<p><span class="lbl m-blue_light">{{type_label}}</span></p>
						<p class="client_package--hours--location_address">{{address}}</p>
						{{#if url}}
							<p><a href="{{url}}" target="_blank" rel="noopener" class="client_package--link">View on Google Maps</a></p>
						{{/if}}
						<dl class="client_package--hours--availabilities">
							{{#each availabilities}}
								<dt>{{weekday}}</dt>
								<dd>{{from}} - {{until}}</dd>
							{{/each}}
						</dl>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="loading_overlay m-light m-hide" data-popup-loading><span class="spin m-logo"></span></div>
