<div class="profile_edit_inline--container">
	<div class="profile_edit_inline--info">
		<p>Editing the locations and services is done in the dashboard.</p>
	</div>
</div>
<footer class="profile_edit_inline--footer">
	<button class="btn cancel m-grey m-small" data-edit-close>Cancel</button>
	<button class="btn proceed m-blue m-small">Proceed</button>
</footer>
