.professional_appointments
	position relative
	// max-width 1040px

	&--headline-stats
		margin-bottom rem(10)

	.loading_overlay
		display none
	&.m-loading
		text-align center
		&:after
			content ""
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			background rgba(255,255,255, .6)
			z-index 100
		.loading_overlay
			display block

	&--timezones
		display block
		text-align right
		margin-bottom 5px
		padding 5px 1px 0 0

	&--group
		position relative
		background #fff
		position relative
		border 1px solid $border_color
		border-radius 3px
		min-height 150px
		margin-bottom rem(10)

	&--group_title
		font-weight 600
		color $gray_dark
		font-size rem(18)
		padding rem(30 20)

	&--spin
		display none
