.about
	&--main
		display flex
		align-items flex-start
		padding 10px
		h3
			margin rem(0 0 12px)

	&--text
		padding rem(24px)
		overflow hidden
		flex 1
		position relative

		.headline
			margin-top 28px
			&:first-child
				margin-top 0

	&--summary
		flex 0 0 254px
		border-radius 3px
		border 1px solid $border_color
		font-size rem(12px)
		padding rem(20px 15px 30px)

		h4
			&
				font-weight 600
				font-size rem(14px)
				margin rem(20px 0 22px)

			&:first-child
				margin-top 0

		a
			&
				color $blue

			&:hover
				text-decoration underline

		dl
			margin rem(16px 0 0)
			dt
				margin 0 0 5px
				font-weight 600

			dd
				line-height rem(15px)


		ul
			margin rem(16px 0 0)
			li
				margin 6px 0 0
				font-weight 600


	&--gallery
		&
			padding rem(20px 35px)
			position relative
			min-height 140px
			+responsive('max-width: 1200px')
				padding rem(20px 10px)

			.carousel
				overflow hidden
				height auto

				&--thumb
					min-height 120px

			.about--gallery_loading
				display none

		&.m-loading
			.carousel
				height 120px

			.about--gallery_loading
				display block
		h3
			margin rem(0 0 12px)

	&--gallery_loading
		background #fff !important
