.alerts
	&.m-sticky
		position fixed
		width 100%
		top 63px
		left 0
		z-index 1002

		\ .m-device_desktop
			top 90px

html.m-popup_opened .alerts.m-sticky
	z-index 1011
	top 0

.alert
	&
		display none
		opacity 0
		width 730px
		margin 10px auto 0
		font-size rem(14px)
		position relative
		border-radius 3px
		padding 12px 40px
		color #000
		transition opacity .3s ease
		line-height 1.3

		&:before
			position absolute
			top 50%
			left 10px
			t-translate(0, -50%)
			font-size 20px

		&:first-child
			margin-top 0
			border-radius 0 0 3px 3px

		a
			color darken($blue, 30%)
			text-decoration underline

		&--btn
			margin-left 30px

		.btn
			color white
			text-decoration none
			margin-left 10px

		&--close
			width 30px
			height 30px
			position absolute
			top 50%
			right 10px
			margin-top -15px
			text-indent -9999px
			opacity .7

			&:before
				icon($i-times)
				font-size 20px
				text-indent 0
				center()

			&:hover
			&:focus
				opacity 1
		p + p
			margin-top rem(10)

	&.m-hide
		display none
		opacity 0

	&.m-show
		display block
		opacity 1

	&.m-success
		background #cce599

		&:before
			color #768c4b
			icon($i-ok)

	&.m-success &
		&--close:before
			color #3d442e

	&.m-info
		background #9edbe5

		&:before
			color #456267
			icon($i-info_filled)

	&.m-info &
		&--close:before
			color #2f4144

	&.m-error
		background #efada4
		&:before
			color #6c4c48
			icon($i-cancel)

	&.m-error &
		&--close:before
			color #473431

	&.m-warning
		background #fff7ee
		&:before
			color #f79b2e
			icon($i-high_importance)

	&.m-warning &
		&--close:before
			color #4b3d2a

	&.m-sticky
		position fixed
		top 63px
		z-index 9999

	&.m-full
		width 100%

	&.m-notification
	&.m-set_password
		background $blue_lightest
		border 1px solid $blue_lighter
		color $gray_dark
		border-radius 3px
		margin-bottom rem(20)
		text-align center
		font-weight 600
		+mobile()
			margin rem(10)
			width auto
			padding-left rem(15)
			padding-right @padding-left

	&.m-register_first
		font-size rem(16 px)
		background $blue_light
		color #fff
		border-radius 3px
		margin-bottom rem(20)
		text-align center
		font-weight 600

	&.m-notification
		a
			text-decoration none
			color #3295a6
			&:hover
				color darken(#3295a6, 10)

	&.m-set_password
		span
			display inline-block
			vertical-align middle

	&.m-trial
		background #fff
		border 1px solid $border_color
		border-radius 3px
		padding rem(10 20)


	&.m-email
		background $blue_lightest
		border 1px solid $blue_lighter
		color #446267
		border-radius 3px
		margin-bottom rem(20)
		text-align center
		font-weight 400
		line-height 1.1
		padding-left rem(50)
		padding-right @padding-left
		&:before
			color @color
			icon($i-info_filled)
			font-size 24px
			left 14px
		+mobile()
			margin rem(10)
			width auto
			padding-left rem(15)
			padding-right @padding-left
			&:before
				display none

	&.m-email &

		&--button
		&--link
			font-weight 600
			display inline-block
			vertical-align middle

		&--button
			text-decoration none
			background #62bdcd
			color #fff
			padding rem(5 14)
			line-height 1
			border-radius 3px
			&:hover
				background $blue
				color #fff

		&--or
			margin 0 5px
			display inline-block
			vertical-align middle

		&--link
			text-decoration none
			border-bottom 1px solid lighten($blue_lighter, 5)
			color #446267
			&:hover
				color darken(#3295a6, 10)

	&.m-loading
		&:after
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			background rgba(255,255,255,.5)
			content ""
			z-index 20

	// Alerts that goes inside the form
	&.m-standalone
		width auto
		padding rem(12 20)
		text-align center
		font-weight 600
		border-radius 3px

		&:before
			display none

		span
			position relative
			display inline-block
			padding-left 30px

			&:before
				position absolute
				top 50%
				left 0
				t-translate(0, -50%)
				font-size 22px
				margin-top -1px

		&.m-warning
			border 1px solid #f79b2e
			color #f79b2e
			background #fff7ee

			span:before
				color #f79b2e
				icon($i-high_importance)
