<div class="cards_manager--errors m-hide"></div>
<dl class="form--group form--line">
	<dt>Cardholder's Name</dt>
	<dd>
		<span class="field m-icon m-user m-wide">
			<input type="text" name="card_holder" autocomplete="cc-name">
			<span class="field--error"></span>
		</span>
	</dd>
</dl>
<dl class="cards_manager--form_number form--group form--line" data-booking-payment-node="new_card_number">
	<dt>Card Number</dt>
	<dd>
		<span class="cards_manager--form_number--label">
			<span class="cards_manager--card_number"></span>
		</span>
		<span class="field m-icon m-card m-wide cards_manager--form_number--field">
			<input type="tel" name="card_number" autocomplete="cc-number" x-autocompletetype="cc-number" pattern="[0-9]*">
			<span class="field--error"></span>
		</span>
		<span class="cards_manager--card_logo">&nbsp;</span>
	</dd>
</dl>
<div class="cards_manager--form_info form--line">
	<dl class="cards_manager--expiration form--group">
		<dt>Expiration</dt>
		<dd>
			<span class="field">
				<input type="tel" name="card_exp" autocomplete="cc-exp" placeholder="MM / YYYY">
				<span class="field--error"></span>
			</span>
		</dd>
	</dl>
	<dl class="cards_manager--cvv form--group">
		<dt>CVV</dt>
		<dd>
			<span class="field m-wide">
				<input type="tel" name="cvv" autocomplete="cc-csc">
				<span class="field--error"></span>
			</span>
		</dd>
	</dl>
</div>
<footer class="cards_manager--form_footer">
	<button class="cards_manager--delete btn m-link" type="button">Delete Card</button>
	<button class="cards_manager--cancel btn m-link" type="button">Cancel</button>
	<button class="cards_manager--add_card btn m-blue" type="submit">Save Card</button>
</footer>
