.booking_confirm
	&--cols
		display flex

	&--col
		&
			flex 1
			border-left 1px solid $border_color
			min-height 360px
			position relative

		&:first-child
			border 0

		&.m-info
			padding-bottom 60px


	&--info
		font-size 1rem
		line-height rem(24px)

		p
			&
				margin rem(24px 0 0)

			&:first-child
				margin 0

	&--add_time
		position absolute
		bottom 20px
		left 20px

	&--time
		&
			padding 25px 25px 25px 60px
			border-top 1px solid $border_color

			h3
				font-size rem(18px)
				position relative
				margin rem(0 0 20px)

				&:before
					icon($i-watch)
					font-size 24px
					position absolute
					right 100%
					top 50%
					t-translate(0, -50%)
					color #e0e0e0
					margin -1px 14px 0 0

			p
				margin rem(0 0 8px)

			time
				display block
				font-size 1rem
				font-weight 600
				margin rem(0 0 15px)

			a
				&
					color $blue

				&:hover
					text-decoration underline

		&:first-child
			border 0

	&--recipient
		padding 25px 25px 25px 60px
		h3
			font-size rem(18)
			position relative
			margin rem(0 0 20)
			&:before
				icon($i-user)
				font-size 24px
				position absolute
				right 100%
				top 50%
				t-translate(0, -50%)
				color #e0e0e0
				margin -1px 14px 0 0

		h4,
		h5
			font-size rem(15)
			position relative
			margin rem(30 0 10)
			&:before
				font-size 24px
				position absolute
				right 100%
				top 50%
				t-translate(0, -50%)
				color #e0e0e0
				margin -1px 14px 0 0
		h4:before
			icon($i-message)

		h5:before
			icon($i-date_to)

		p
			margin rem(0 0 8px)

