$list_padding = 8px
$list_padding_half = $list_padding/2

.client_package_schedule

	&--cols
		display flex
		flex-wrap wrap

	&--col
		flex 1.35
		&:first-child
			flex 1
			border-right 1px solid $border_color

	&--title
		border-bottom 1px solid $border_color
		padding rem(12 $list_padding)
		font-weight 600
		font-size rem(16)
		&.m-sub
			border-top 1px solid $border_color
			border-bottom 0
			padding-bottom 12px - $list_padding

	&--list
		display flex
		flex-wrap wrap
		padding $list_padding
		li
			margin-bottom 8px
			button
				border 1px solid $border_color
				border-radius 3px
				padding rem(10 12)
				width 100%
				display block
				text-align left
				color $gray_dark
				font-size rem(14)
				font-weight 600
				&:hover
					background $background_color
				strong
				span
					display block
				strong
					margin-bottom 3px
				span
					font-style italic
					font-size rem(13)
					font-weight 400

			&.m-inactive
				display none
				button
					background $background_color
					color $gray
					cursor default

			&.m-active
				button
					color #fff
					background $blue_light
					border-color $blue_light

		&.m-weekdays
			li
				flex 0 0 100%
				&:last-child
					margin-bottom 0

		&.m-times
			margin-left - $list_padding_half
			margin-right @margin-left
			li
				padding 0 $list_padding_half
				flex 0 0 33.3333%
				button
					height 58px
					text-align center

		&.m-hide
			display none

	&--empty
		text-align center
		padding rem(20)
		background $background_color
		margin rem(24 20)
		&.m-hide
			display none
	&--footer
		border-top 1px solid $border_color
		padding rem(15)
		display flex
		flex 0 0 100%
		width 100%
		.btn
			&.m-select
				width 150px
				margin-left auto
				order 20
			&.m-cancel
				margin-right auto
				order 10
			&.m-hide
				display none
