@media (max-width 1179px)
	.client_package
		&--header
			padding-left 15px
			padding-right 15px

			&:after
				right 15px

		&--header_time
			padding-right 30px

			span
				font-size 13px

			p
				font-size 16px

				&.m-time
					font-size 16px
					white-space nowrap

		&--header_location
			flex-grow 0.9

			strong
				font-size 15px

		&--header_service_professional
			flex-basis 190px

		&--hours
		&--schedule
		&--content_details
			padding-left 0

		&--content
			padding 15px

		&--content_details
			flex-basis 260px

		&.m-recurring &--content_actions
			&--ends
				p
					strong
						font-size 16px

		&--description
			h3
				font-size 16px

+mobile_ready_and_mobile()
	.client_package
		&--header
			&_service
				font-size 16px

			&_professional
			&_label
				font-size 13px

	@media (max-width 739px)
		.client_package
			&--header
				padding 12px
				flex-wrap wrap
				align-items flex-start

				&_avatar
					width 35px
					height @width
					flex 0 0 @width
					margin-right 15px
					margin-top 8px

					img
						width @width

				&_service_professional
					margin-right 0
					margin-bottom 15px
					flex-basis 70%

				&_service
					margin-bottom 0

				&_location
					margin-left 50px
					flex-basis 34%

				&_time
					flex-grow 1
					flex-basis 40%

			&--content
				padding 12px

				&_inner
					flex-wrap wrap

				&_address
					margin-left 50px
					flex-basis 34%

				&_actions
					flex-grow 1
					flex-basis 40%

				&_details
					order 3
					flex-basis auto
					flex-grow 1px
					padding-top 10px

					&:empty
						display none

			&--schedule
				&--list
					padding 15px

				&--col
					&.m-time
						strong
							white-space nowrap

					&.m-location
						flex-grow 0.8
						text-align right

	@media (max-width 479px)
		.client_package
			&--header
				&_location
					flex-basis 80%
					flex-grow 1
					margin-bottom 10px

				&_time
					flex-basis 0
					margin-left 50px

			&--content
				&_inner
					align-items stretch

				&_address
					flex-grow 1
					margin-bottom 10px

				&_actions
					margin-left 50px
					text-align left

					&--renewal
						text-align left

			&--hours
			&--schedule
				h3
					margin-bottom 30px

			&--schedule
				&--toggler
					top 25px

				&--row
					flex-direction column

				&--col
					&.m-location
						text-align left
						flex-grow 1
						margin-top 5px

				&--footer
					margin-bottom 10px
