.client_packages_popup
	.popup--close
		top 25px
		right 25px

	&--wrap
		position relative
		line-height 1.25rem
		width 700px
		overflow hidden

	&--header
		padding rem(20 30)
		background $background_color
		border-bottom 1px solid $border_color
		&.m-error
			color $red
		p
			padding rem(5 0 0)
			line-height 1.1
			margin rem(0 0 -2px)

	&--header_title
		font-size rem(18px)
		font-weight 600
		position relative
		span
			color $blue

	&--content
		cf()

	&--footer
		cf()
		border-top 1px solid $border_color
		padding rem(12 40)
		text-align right
