.client_package
	margin-bottom rem(20)
	position relative
	&.m-hide
	.m-hide
		display none

	&--inner
		overflow hidden
		border-radius 3px

	&--header
		background $background_color
		display flex
		flex-wrap nowrap
		align-items center
		padding rem(20)
		border 1px solid $border_color
		cursor pointer
		position relative
		line-height 1.25
		&:after
			position absolute
			width 20px
			line-height @width
			height @width
			font-size @width
			text-align center
			icon($i-chevron-right-o)
			right 25px
			top 50%
			margin-top -10px
			color $gray_light

	&.m-opened &
		&--header
			&:after
				transform rotate(90deg)
		&--content
			display block

	&--header_avatar
		width 50px
		height @width
		flex 0 0 @width
		border-radius 80px
		margin-right rem(20)
		display block
		background lighten($gray_lighter, 10) url(/assets/frontend/images/design/userpic.png) 50% 50% no-repeat
		background-size @width @height
		img
			width @width
			height auto
			border-radius @width
			display block

	&--header_service_professional
		flex 0 0 260px
		margin-right rem(20)

	&--header_service
		font-size rem(18)
		font-weight 600
		margin-bottom rem(5)
		color $blue
	&--header_professional
		font-size rem(14)
		font-weight 600

	&--header_location
		flex 1.2
		margin-right rem(20)
		strong
			display block
			font-weight 600
			font-size rem(16)
			margin-bottom rem(5)

	&--header_time
		flex 1
		padding-right rem(50)
		p
			&.m-time
				font-size rem(18)
				font-weight 600
				color $blue

	&--content
		display none
		line-height 1.25
		padding rem(20)
		border 1px solid $border_color
		border-top 0
		background $background_color

	&--content_inner
		display flex
		align-items flex-start
		flex-wrap wrap

	&--content_details
		flex 0 0 330px
		padding-left rem(70)
		margin-right rem(20)

	&--content_address
		flex 1.2
		margin-right rem(20)

	&--content_actions
		flex 1
		text-align right

		&--cancel
			margin-top rem(20)
			button
				color lighten($red, 20)
				font-weight 600
				font-size rem(13)
				&:hover
					color lighten($red, 10)
					text-decoration underline
			p
				font-style italic
				color $red_mute
				font-size rem(13)
				line-height 1.1

	&--description
		display block
		h3
			display block
			margin-bottom rem(5)
			font-weight 600
			font-size rem(18)

		p + p
			margin-top rem(10)

	&--link
		color $blue_light
		font-weight 600
		text-decoration underline
		&:hover
			color $blue

	&--appointment_details
		color #fff
		background $btn_green_bright
		border-radius 3px
		display inline-block
		text-decoration none
		line-height 28px
		font-weight 600
		font-size 13px
		padding rem(0 10)
		white-space nowrap
		&:hover
			color #fff
			background $btn_green_hover


	&.m-recurring &
		&--content_actions
			&--renewal
				text-align right
				margin-top rem(10)
				line-height 1

			&--ends
				p
					strong
						color $red
						font-size rem(16)

	&.m-standard &
		&--content_actions
			&--button
				width 100%
				max-width 180px


	&--hours
	&--schedule
		flex 0 0 100%
		padding-left rem(70)
		h3
			font-weight 600
			font-size rem(18)
			margin-bottom .75em

	&--hours
		margin-top rem(20)

		&--toggle_cta
			display inline-block
			position relative
			font-size rem(14)
			height 20px
			line-height @height
			&:after
				position absolute
				right -14px
				width 12px
				height @height
				line-height @height
				font-size 12px
				top 0
				text-align center
				icon($i-chevron-down)
				transform rotate(-90deg)

		&--locations
			display none

		&.m-opened &
			&--toggle
				margin-bottom rem(20)
			&--toggle_cta
				&:after
					transform rotate(0)

			&--locations
				display flex
				flex-wrap wrap

		&--location
			flex 0 0 30%
			margin-right 3.333333%
			margin-bottom rem(30)
			p + p
				margin-top rem(10)
			a
				color $blue_light
				font-weight 600
				text-decoration underline
				&:hover
					color $blue

		&--location_title
			font-weight 600
			font-size rem(16)
			margin-bottom rem(5)
		&--location_label
			margin-bottom rem(10)

		&--availabilities
			margin-top rem(30)
			dt
			dd
				display block
			dd
				margin-bottom rem(10)
				font-weight 600

	&--schedule
		position relative
		margin-top rem(30)

		&--section
			display none

		&.m-times &
			&--section.m-times
				display block

		&.m-appointments &
			&--section.m-appointments
				display block

		&--toggler
			position absolute
			right 0
			top 0
			height 22px
			line-height @height
			color $gray
			font-weight 600
			text-decoration underline
			font-size rem(14)
			&:hover
				color $blue


		&--list
			padding rem(20)
			background #fff
		&--row
			display flex
			margin-top rem(20)
			padding-top rem(20)
			border-top 1px solid $border_color
			&:first-child
				margin 0
				padding 0
				border-top 0
		&--col
			&.m-time
			&.m-location
				flex 1
				margin-right rem(10)
			&.m-actions
				flex 0 0 200px
				text-align right

		&--location_title
			display inline-block
			font-weight 600
			margin-right rem(5)

		&--cta
			color $gray
			font-weight 600
			text-decoration underline
			font-size rem(14)
			&:hover
				color $blue

		&--footer
			margin-top rem(10)
			text-align center
			&.m-times
				text-align right
