.user_companies
	&--item
		&
			padding rem(25px 35px)
			border-top 1px solid $border_color
			display flex
			align-items center
			
			figure
				flex 0 0 150px
				margin 0 20px 0 0
				
				
			&--description
				flex 1
				
				dl
					line-height rem(22px)
					margin rem(0 0 12px)
					
					dt
						font-size 1rem
						font-weight 600
						
			&--more
				&
					font-weight 600
					color $blue
					
					span
						font-family Arial
					
				&:hover
					text-decoration underline
			
		&:first-child
			border 0
