.auth_account_type
	&--icon
		width 72px
		height @width
		margin 0 auto rem(15)
		display block
		background-repeat no-repeat
		background-position 50% 50%
		background-size 100% 100%
		&.m-client
			background-image url($i 'auth/icon-client.png')
		&.m-professional
			background-image url($i 'auth/icon-professional.png')

		+responsive('max-width: 700px')
			width 54px
			height @width
			margin-bottom rem(10)

		+responsive('max-width: 360px')
			width 40px
			height @width
			margin-bottom rem(8)

	&--title
		font-size rem(22)
		font-weight 600
		margin-bottom rem(10)
		+responsive('max-width: 700px')
			font-size rem(18)
		+responsive('max-width: 360px')
			font-size rem(16)
			margin-bottom rem(2)
	&--text
		font-size rem(18)
		line-height 1.35
		max-width 250px
		margin 0 auto rem(30)
		+responsive('max-width: 700px')
			font-size rem(14)
			margin-bottom rem(20)
		+responsive('max-width: 360px')
			font-size rem(13)
			margin-bottom rem(12)

	&--cta
		+responsive('max-width: 700px')
			.btn.m-large
				height 40px
				line-height 40px
				padding 0
				font-size rem(14)
				max-width 240px
		+responsive('max-width: 360px')
			.btn.m-large
				height 36px
				line-height 36px
				max-width 230px
