.auth_aside
	flex 1
	display flex
	flex-direction column
	background #2b5466 url($i 'auth/login-bg-professional.jpg') top center no-repeat
	background-size cover
	color #fff
	&.m-client
		background-image url($i 'auth/login-bg-client.jpg')

	+responsive('max-width: 700px')
		background none
		color $gray_dark
		border-bottom 1px solid $border_color
		&.m-client
			background none

	&--inner
		padding rem(40)
		flex 1
		display flex
		align-items flex-end
		+responsive('max-width: 700px')
			display block
			padding rem(25 50)
		+responsive('max-width: 360px')
			text-align left
			padding rem(15 45 15 15)

	&--title
		font-size rem(20)
		font-weight 600
		margin-bottom rem(30)
		+responsive('max-width: 700px')
			margin 0
			text-align center
		+responsive('max-width: 360px')
			text-align left
			font-size rem(16)


	&--list
		+responsive('max-width: 700px')
			display none
		li
			position relative
			padding 0 0 0 28px
			font-size rem(16)
			line-height 1.4
			margin rem(20 0 0 0)

			&:before
				display block
				width 9px
				height 9px
				background $green
				content ''
				position absolute
				top 6px
				left 0
				border-radius 100%

			&:first-child
				margin-top 0
