.auth
	flex 1
	display block
	width 100%
	display flex
	flex-direction column

	&--main
		flex 1
		display flex
		flex-direction column
		 // overflow scroll

	&--header
		text-align center
		padding rem(50 20)
		width 560px
		margin 0 auto
		+responsive('max-width: 700px')
			padding rem(16 50)
			width 100%
			border-bottom 1px solid $border_color
		+responsive('max-width: 360px')
			padding rem(15 45 15 15)
			text-align left


		&.m-success
			flex 1
			display flex
			flex-direction column
			justify-content center

			&:before
				padding-top 15px
				display block
				margin 0 auto 25px
				icon($i-done)
				text-align center
				font-size rem(100)
				color $green

		&.m-success &
			&--title
				font-size rem(35)

			&--text
				font-size rem(25)

	&--title
		font-size rem(28)
		font-weight 600
		color $gray_dark
		margin-bottom .35em
		+responsive('max-width: 700px')
			margin 0
			font-size rem(20)
		+responsive('max-width: 360px')
			font-size rem(16)
	&--text
		color $gray
		font-size rem(18)
		line-height 1.5
		+responsive('max-width: 700px')
			display none

	&--container
		display none
		&.m-show
			flex 1
			display flex
			flex-direction column

		&.m-center
			.auth_form--title
				text-align center
				font-size 18px
				margin-bottom 20px

		&.m-compact .auth
			&--header
				width auto
				padding 35px 20px 10px

		&.m-ver .auth
			&--header
				padding 35px 20px 10px
				+responsive('max-width: 480px')
					border-bottom none
					padding-bottom 0

			&--title
				font-size rem(24px)
				line-height 1.2

			&--cols
				display block
				text-align center

			&--col
				width 100%
				padding rem(10 60 40)
				padding 10px 14% 40px
				+responsive('max-width: 1200px')
					padding-left 10%
					padding-right 10%
				+responsive('max-width: 480px')
					padding-top 30px
					padding-left 5%
					padding-right 5%

				&.m-or
					border-right none
					border-bottom 1px solid $border_color

					&:after
						top auto
						width 50px
						bottom -25px
						left 50%
						margin-left -(@width / 2)

			&--header
				width auto

	&--footer
		border-top 1px solid $border_color
		flex 0 0 80px
		height 80px
		display flex
		align-items center
		padding rem(0 20)
		+responsive('max-width: 700px')
			height 50px
			flex 0 0 50px

	&--logo
		flex 0 0 160px
		height 35px
		background url($i 'logo-alt.png') 0 50% no-repeat
		background-size 160px 35px
		display block
		+responsive('max-width: 700px')
			margin-right 40px
			background-size 130px 28px
			flex 0 0 130px
			height 28px

	&--switch
		display none
		&.m-show
			flex 1
			text-align right
			font-size rem(16)
			display block
			+responsive('max-width: 700px')
				font-size rem(14)
		a
			font-weight 600
			color $blue
			&:hover
				color $blue_light

	&--cols
		flex 1
		display flex
		flex-wrap nowrap
		+responsive('max-width: 700px')
			display block
			overflow scroll

	&--col
		width 50%
		flex 0 0 50%
		padding rem(10 40 25 40)
		position relative

		+responsive('max-width: 700px')
			width 100%
			padding rem(25 20)
		+responsive('max-width: 360px')
			padding rem(20)

		&.m-full
			padding 0
			display flex
			flex-direction column

		&.m-center
			text-align center

		&.m-or
			&:after
				content: "OR"
				position absolute
				text-align center
				text-transform uppercase
				font-size rem(14)
				font-weight 600
				color $gray
				width 30px
				background #fff
				height 50px
				line-height 50px

			+responsive('max-width: 700px')
				border-bottom 1px solid $border_color
				&:after
					height 30px
					line-height 30px
					bottom -15px
					left 50%
					margin-left -15px

			+responsive('min-width: 701px')

				border-right 1px solid $border_color
				&:after
					right -15px
					top 50%
					margin-top -25px

	&--alert
		margin 10px 2.5rem 20px
		padding 10px
		border-radius 3px
		text-align center
		font-weight 600

		p
			margin 2px 0 8px

		&.m-error
			background #f9dedb
			border 1px solid $red
			color $red
