.auth_form
	flex 1
	display flex
	flex-direction column
	width 100%
	overflow auto

	&--title
		text-align left
		font-weight 600
		font-size rem(16)
		color $gray_dark
		margin-bottom rem(15)
		+responsive('max-width: 700px')
			text-align center
		+responsive('max-width: 360px')
			font-size rem(14)

	&--terms
		color $gray
		font-weight 600
		line-height 1.3

		a
			&
				color $blue

			&:hover
				color $blue_light

	&--fast_sign
		&.m-sign
			padding rem(40 40 30)
			position relative
			+responsive('max-width: 700px')
				padding rem(20)

			.auth_form--fast_sign_or
				font-style normal
				position absolute
				text-align center
				text-transform uppercase
				font-size rem(14)
				font-weight 600
				color $gray
				width 100%
				bottom -10px
				left 0
				height 20px
				line-height 20px
				padding 2px 0

				&:before
				&:after
					width calc(50% - 70px)
					height 1px
					background $border_color
					content ''
					display block
					position absolute
					top 50%
					+responsive('max-width: 700px')
						width calc(50% - 30px)

				&:after
					right 40px
					+responsive('max-width: 700px')
						right 0
				&:before
					left 40px
					+responsive('max-width: 700px')
						left 0

		&.m-login
			.btn_social
				display block

			+responsive('max-width: 700px')
				text-align center
				.form--line
					margin 0
					display inline-block
					margin rem(0 10)
				.btn_social
					display block
					width 60px
					padding 0
					.btn_social--icon
						width 100%
					.btn_social--text
						display none
		&.m-hor
			.form--line
				display inline-block
				margin 10px 10px 0

		&.m-compact
			&
			&.m-login
				padding-top 0

			.auth_form--login
				padding-top 25px

			.btn_social
				&
					padding-left 65px
				&--text
					display none
				&--icon
					position static

	&--fast_sign_title
		font-weight 600
		font-size rem(18)
		text-align center
		+responsive('max-width: 700px')
			font-size rem(16)
		+responsive('max-width: 360px')
			font-size rem(14)
			margin-bottom rem(15)

	&--fast_sign_buttons
		text-align center
		margin-top rem(20)
		+responsive('max-width: 360px')
			margin-top rem(10)
		.btn_social
			margin rem(0 10)
			width 60px
			&--icon
				width 100%


	&--fast_sign.m-login
	&--login
		padding-top rem(30)
		+responsive('max-width: 700px')
			padding-top 0

	&--restore
	&--signup
		padding rem(30 40)
		+responsive('max-width: 700px')
			padding rem(25 20)


	&--restore
		max-width 380px
		width 100%
		margin 0 auto

	&--toggler
		ibreset()
		text-decoration none
		color $gray
		font-size rem(14px)
		font-weight 600

	&--login_extra
		text-align left
		.auth_form--toggler
			float right
			color $blue
			&:hover
				color $blue_dark

	&--actions
		text-align left
		margin rem(24 0 0)
		+responsive('max-width: 360px')
			margin-top rem(16)

	&--booking
		&--footer
			margin rem(12 0 0)
			+responsive('max-width: 980px')
				.form--line
					margin-top rem(15px)
					&:first-child
						margin-top 0


	.field
		input,
		textarea
			+responsive('max-width: 768px')
				font-size 16px
				padding rem(6 16)
