<div class="wizard--errors">
	<div class="wizard--errors--text"></div>
	<span class="wizard--errors--close"></span>
</div>
<div class="wizard_booking--block">
	<div class="certificate_select--container">
		<div class="certificate_select--header">
			<h2 class="wizard--block_title">Select a session you are purchasing</h2>
		</div>
		<div class="certificate_select--error m-hide" data-error></div>
		<div class="certificate_select--inner">

			<div class="certificate_select--row">
				<div class="certificate_select--col">
					<dl class="form--group certificate_select--service_select">
						<dt>Service</dt>
						<dd>
							<div class="select m-wide">
								<select data-select name="service" data-selector="current_service_id"></select>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>
				<div class="certificate_select--col">
					<dl class="form--group certificate_select--duration">
						<dt>Duration</dt>
						<dd>
							<div class="select m-wide select_session">
								<select data-select name="session" data-selector="current_session_id">
									<option disabled selected>Select</option>
								</select>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>
			</div>

			<h3 class="certificate_select--row_title">To</h3>
			<div class="certificate_select--row">
				<div class="certificate_select--col">
					<dl class="form--group">
						<dt>Recipient's Name</dt>
						<dd>
							<div class="field m-wide">
								<input name="recipient_name" data-selector="recipient_name" autofocus>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>
				<div class="certificate_select--col">
					<dl class="form--group">
						<dt>Recipient's Email</dt>
						<dd>
							<div class="field m-wide">
								<input name="recipient_email" data-selector="recipient_email">
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>
			</div>


			<!--<h3 class="certificate_select&#45;&#45;row_title">From</h3>-->
			<!--<div class="certificate_select&#45;&#45;row">-->
				<!--<div class="certificate_select&#45;&#45;col">-->
					<!--<dl class="form&#45;&#45;group">-->
						<!--<dt>Sender's Name</dt>-->
						<!--<dd>-->
							<!--<div class="field m-wide">-->
								<!--<input name="sender_name" data-selector="sender_name">-->
								<!--<span class="field&#45;&#45;error"></span>-->
							<!--</div>-->
						<!--</dd>-->
					<!--</dl>-->
				<!--</div>-->
				<!--<div class="certificate_select&#45;&#45;col">-->
					<!--<dl class="form&#45;&#45;group">-->
						<!--<dt>Sender's Email</dt>-->
						<!--<dd>-->
							<!--<div class="field m-wide">-->
								<!--<input name="sender_email" data-selector="sender_email">-->
								<!--<span class="field&#45;&#45;error"></span>-->
							<!--</div>-->
						<!--</dd>-->
					<!--</dl>-->
				<!--</div>-->
			<!--</div>-->
			<div class="certificate_select--row">
				<div class="certificate_select--col">
					<dl class="form--group">
						<dt>Message</dt>
						<dd>
							<div class="certificate_select--message field m-wide">
								<textarea name="message" data-selector="message" cols="30" rows="5" data-maxlength="1000" maxlength="1000"></textarea>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>
			</div>
			<h3 class="certificate_select--row_title">Delivery Date</h3>
			<div class="certificate_select--row certificate_select--delivery_date">
				<div class="certificate_select--col">
					<div class="form--group">
						<label class="radio">
							<input type="radio" name="delivery_date_type" value="now">
							<span class="radio--i"></span>
							<span class="radio--label">Send it now</span>
						</label>
						<label class="radio">
							<input type="radio" name="delivery_date_type" value="date">
							<span class="radio--i"></span>
							<span class="radio--label">Send it on future date</span>
						</label>
						<span class="field--error"></span>
					</div>
				</div>
				<div class="certificate_select--col">
					<div class="form--group certificate_select--datepicker">
						<div class="datepicker" data-datepicker>
							<label class="datepicker--input field m-wide m-icon m-datepicker">
								<input name="delivery_date" type="text" value="{{date}}" placeholder="mm/dd/yy" data-datepicker-input readonly>
								<span class="field--error"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
