<div class="client_package_schedule--cols">
	<div class="client_package_schedule--col">
		<h3 class="client_package_schedule--title">Pick your day</h3>
		<ul class="client_package_schedule--list m-weekdays">
			{{#each weekdays}}
			<li data-date="{{this.date}}">
				<button data-weekday-select>
					<strong>{{this.weekday}}</strong>
					<span>First appointment on {{date_label}}</span>
				</button>
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="client_package_schedule--col">
		<h3 class="client_package_schedule--title">Pick your time</h3>
		<ul data-availabilities class="client_package_schedule--list m-times"></ul>
		<div data-availabilities-empty class="client_package_schedule--empty m-hide">
			<p>No more slots available on this day</p>
		</div>
	</div>
	<footer class="client_package_schedule--footer">
		<button class="btn m-green m-select" disabled data-save>Select Time</button>
		<button class="btn m-link m-cancel" data-cancel>Cancel</button>
	</footer>
</div>
