.booking_status
	display flex

	&--map
		flex 0 0 360px
		max-width 360px
		overflow hidden
		
		img
			display block
		
	&--info
		flex 0 0 540px
		max-width 540px
		box-shadow -2px 0 3px rgba(#000, .15)
		padding 40px
		
		&--top
			min-height 280px
		
	&--title
		&
			font-size rem(36px)
			color $blue
			font-weight 300
			margin rem(0 0 26px)
			
		&.m-declined
			color $red
		
	&--text
		p
			margin-top rem(24px) !important
			line-height rem(24px) !important
			
	&--action_btns
		cf()
		padding 33px 0 0
			
	&--info_receipt
		@extends .booking_success--info_receipt
		position relative
		bottom 0
		float left
		margin 13px 0 0
		
	&--to_calendar
		float right

	&--tips
		border-top 1px solid $border_color
		padding 30px 0 0 0
		margin 10px 0 0
		
		&--title
			font-size rem(18px)
			font-weight 600
			margin rem(0 0 15px)
			
	&--next
		flex 0 0 460px
		max-width 460px
		background #1f4958 url($i 'booking/booking_status_bg.jpg') center center no-repeat
		background-size cover
		padding 40px
		&--title
			color #fff
			font-size rem(36px)
			font-weight 300
			margin rem(0 0 90px)
			
		&--steps
			font-size 1rem
			> li
				&
					margin rem(24px 0 0)
					padding 0 0 0 30px
					position relative
					line-height rem(20px)
					
					&:before
						display block
						width 9px
						height 9px
						background $green
						content ''
						position absolute
						top 4px
						left 0
						border-radius 100%
						
				&:first-child
					margin 0
					
			a
				&
					color #fff
					text-decoration underline
					
				&:hover
					text-decoration none 
				
	&--quote
		border 1px solid $border_color
		box-shadow 0 0 7px rgba(#000, .1)
		border-radius 5px
		font-size rem(14px)
		line-height rem(22px)
		padding rem(20px 50px 20px 60px)
		position relative
		margin 8px 0 0
		
		&:before
			icon($i-quote)
			color #e0e0e0
			font-size 20px
			position absolute
			top 21px
			left 23px
