<p>
	<strong>You have successfully changed your name.</strong>
</p>
<p>
	Your public profile URL is based on your name.
	<br>
	The current link is: <strong>{{current_url}}</strong>
</p>
<p>
	Would you like to change it to <strong>{{update_url}}</strong>?
	<br>
	The old URL will not be valid if you change it.
</p>
