<div class="booking_confirm--cols">
	<div class="booking_payment--col m-invoice">
		<header class="wizard--block_header">
			<h2 class="wizard--block_title">Payment Details</h2>
		</header>
		<div class="wizard--block_container">
			<div class="booking_payment--invoice">
				<div class="booking_payment--invoice--items">
					<dl>
						<dt>
							<p><strong>{{service_name}}</strong></p>
							<p>{{duration}} session</p>
						</dt>
						<dd class="booking_payment--price_hour">{{price}}</dd>
					</dl>
					{{#if discounts }}
						<div class="booking_payment--discount">
							{{#each discounts}}
								<dl class="booking_payment--discount--item">
									<dt class="booking_payment--discount--description">{{description}}</dt>
									<dd class="booking_payment--discount--value">{{amount}}</dd>
								</dl>
							{{/each}}
						</div>
					{{/if}}
				</div>
				<dl class="booking_payment--invoice--total">
					<dt>Total Price</dt>
					<dd class="booking_payment--price_total">{{total}}</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="booking_confirm--col">
		<div class="booking_confirm--recipient">
			<h3>Recipient</h3>
			<p>{{recipient_name}}</p>
			<p>{{recipient_email}}</p>

			<h4>Message</h4>
			<p>{{{message}}}</p>


			{{#if delivery_now}}
				<h5>To Be Delivered</h5>
				<p>Now</p>
			{{else}}
				<h5>To Be Delivered On</h5>
				<p>{{delivery_date}}</p>
			{{/if}}

		</div>
	</div>
</div>
