.payment_methods
	flex 1

	.m-hide
		display none

	&--wrap
		position relative
		display flex
		flex 1
		flex-direction column

	&--container
		display flex
		padding rem(30)
		+responsive('max-width: 980px')
			flex-direction column
			max-width none
			padding 0

	&--side
		width 318px
		flex 0 1 @width
		+responsive('max-width: 980px')
			flex 1
			width 100%
			order 20
			padding rem(20)
			background $background_color
			border-top 1px solid $border_color


	&--main
		flex 1
		margin-left rem(60)
		max-width 460px
		+responsive('max-width: 980px')
			flex 1
			order 10
			max-width none
			margin rem(0 0 20)
			padding rem(20)


	&--footnote
		color $gray
		font-size rem(14px)
		padding-top 0

		sup
			font-size 17px
			margin-right 4px

	.radio input:checked ~ .radio--label &--card
		background #fff
		border-color #fff
		box-shadow 0 0 5px rgba(#000, .2)

	&--errors
		background lighten($red, 35)
		color $red_mute
		border 1px solid lighten($red, 15)
		border-radius 3px
		padding 14px
		font-weight 600
		margin-bottom rem(20)
		&.m-hide
			display none


	&--choose
		+responsive('max-width: 980px')
			max-width 318px
			margin 0 auto

	&--info
		margin-bottom 25px
		line-height 1.3
		letter-spacing 0.01em
		&--title
			font-weight 600
			font-size 16px
			color $gray_dark
			margin-bottom 10px
			&:last-child
				margin-bottom 0
			&.m-blue
				color $blue_light
		p + p
			margin-top rem(10)

	&--picker
		&.m-left
			margin-left 45px

	&--picker_item
		display block
		width 100%
		text-align left
		padding rem(20 30)
		border-radius 3px
		border 1px solid $border_color
		cursor pointer
		color $gray_dark
		font-size rem(16)
		&:hover
			background-color $background_color
			border-color rgba($blue .5)

		&:hover
			background-color $background_color
			border-color rgba($blue .5)

	&--picker_item + &--picker_item
		margin-top rem(10)

	&--form
		+responsive('max-width: 980px')
			max-width 367px
			margin 0 auto

	&--form_footer
		display block
		display flex
		+responsive('min-width: 981px')
			margin-top rem(20)


	&--form_btns
		flex 1

	&--cancel
		margin-left auto
		&.m-hide
			display none

	&--delete
		margin-left auto
		&.btn
			color $red_mute
			padding-left 0
			padding-right 0
			font-size 12px
		&.m-hide
			display none

	&--stripe_agreement
		font-size rem(14)
		margin rem(20 0 0 0)
		+responsive('min-width: 981px')
			font-size rem(16)
			margin rem(30 0)
		a
			&
				color $blue
				text-decoration none

			&:hover
				text-decoration underline

	&--dob
		dd
			position relative
			display flex
			align-items center
			+responsive('min-width: 981px')
				.select
					flex 1
					margin 0 0 0 10px
					&:first-child
						margin 0
			+responsive('max-width: 980px')
				.select
					margin 0 10px 0 0
					&:first-child
						flex 0 0 90px
					&:nth-child(2)
						flex 0 0 110px
					&:nth-child(3)
						flex 0 0 80px

		&--info
			padding 10px
			&:before
				color $blue
				icon($i-help)
			+responsive('max-width: 980px')
				width 34px
				height @width
				flex 0 0 @width
			+responsive('min-width: 981px')
				position absolute
				top 6px
				right -35px

+responsive('max-width: 980px')
	.payment_methods--form_btns
		position fixed
		left 0
		right 0
		bottom 0
		display flex
		z-index 900
		.btn
			flex 1
			border-radius 0
			padding-top 0
			padding-bottom 0
			height 50px
			font-size rem(16)

	.payment_methods--cancel
		display none
