.payment_methods_account

	&--checking
		display block
		width 367px
		height 205px
		margin 0 0 25px
		background-repeat no-repeat
		background-size @width @height
		background-image url($i 'payments/checking-img.png')
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url($i 'payments/checking-img@2x.png')

		+responsive('max-width: 980px')
			margin 0 auto 25px
		+responsive('max-width: 480px')
			width 300px
			height 167px
			background-size @width @height

	&--accounts
		&.m-hide
			display none

	&--form
		.form--line
			margin-top rem(18px)
			max-width 400px

	&--account_type
		.form--group
			padding-bottom 20px
		dd
			padding-top 10px

	&--region
		display flex

		.form--group
			&
				flex 1
				margin 0 0 0 10px

			&.m-country
				flex 1 1 auto

			&.m-currency
				max-width 130px
				width 130px

			&:first-child
				margin-left 0

			.select
				width 100%

	&--form_number
		&--label,
		&--field
			&.m-hide
				display none

		&--label
			display block
			vertical-align middle
			border 1px solid $border_color
			background #f9fafc
			width 100%
			margin 0 10px 0 0
			font-size .875rem
			padding rem(14px 70px 14px 14px)
			border-radius 3px
			span
				display block
			i
				font-size 22px
				line-height 10px
				position relative
				top 1px
				padding 0 4px 0 0
				display inline-block
				font-style normal

	&--submit_button
		position absolute
		bottom 47px
		width 190px
		padding-left 0
		padding-right 0
