.payment_methods_side
	display block
	+responsive('max-width: 980px')
		width 318px
		margin 0 auto
	+responsive('max-width: 480px')
		width 280px
	&--powered
		margin-bottom rem(15)
		&_stripe
			margin-bottom rem(5)
			text-align center
			line-height 1
			span
				display inline-block
				vertical-align middle
				margin 0 3px
				&.m-text
					padding-bottom 5px
			svg
				width 48px
				height 20px

			+responsive('min-width: 981px')
				margin-bottom rem(15)
				padding rem(10 0 5)
				background #898989
				border-radius 3px
				color #fff
				span
					font-size rem(16)
				svg
					.st0
						fill #fff

			+responsive('max-width: 980px')
				color $gray_dark
				span
					font-size rem(14)
				svg
					.st0
						fill $gray_dark



		&_what_is
			+responsive('max-width: 980px')
				text-align center
			a
				display inline-block
				padding 2px
				color $blue_light
				font-size rem(12)
				border-bottom 1px solid rgba($blue_light, .3)
	&--badges
		display flex
		flex-wrap wrap
		margin-bottom rem(20)
		span
			height 50px
			background-position 0 0
			background-repeat no-repeat
			background-size 100%
			&.m-cards
				flex 0 0 168px
				margin-right auto
				background-image url($i 'payments/wizard/powered-cards.png')
			&.m-pci
				flex 0 0 140px
				margin-left auto
				background-image url($i 'payments/wizard/powered-pci.png')
			&.m-verified
				margin-top 10px
				flex 0 0 100%
				background-image url($i 'payments/wizard/powered-verified.png')

		+responsive('max-width: 480px')
			width 280px
			span
				height 44px
				&.m-cards
					flex 0 0 147px

				&.m-pci
					flex 0 0 123px

				&.m-verified
					margin-top 10px
					flex 0 0 100%


	&--questions
		margin-bottom rem(30)
		+responsive('max-width: 480px')
			margin-bottom rem(20)

	&--question + &--question
		margin-top rem(20)
		+responsive('max-width: 480px')
			margin-top rem(10)

	&--question
		border 1px solid $green
		border-radius 3px
		padding rem(15 10)
		text-align center
		background #fff
		h2
			font-weight 700
			font-size rem(23)
			margin-top rem(13)
			+responsive('max-width: 480px')
				margin-top rem(11)
				font-size rem(20)
		h3
			color $green
			font-weight 600
			font-size rem(15)
			+responsive('max-width: 480px')
				font-size rem(14)
		p
			margin-top rem(10)
			font-size rem(15)
			font-weight 600
			+responsive('max-width: 480px')
				margin-top rem(9)
				font-size rem(14)

	&--benefits
		display flex
		flex-wrap wrap
		align-items center
	&--benefit
		flex 0 0 49%
		margin-bottom rem(15)
		font-weight 700
		text-transform uppercase
		font-size rem(12)
		padding-left 32px
		position relative
		&:nth-child(2n+1)
			margin-right 2%
		&:before
			icon($i-check-o)
			position absolute
			left 0
			top 50%
			margin-top -12px
			width 24px
			height @width
			font-size @width
			line-height 1
			color $green

