.payment_methods_confirm
	background #fff

	.popup--container
		@media(min-width 768px)
			width 640px
		@media(min-width 1040px)
			width 940px

	&--inner
		padding rem(40 20)
		max-width 400px
		margin 0 auto
		@media(min-width 768px)
			max-width 480px
			padding rem(90 40)

	&--header
		text-align center
		margin-bottom rem(40)
		h2
			font-size rem(30)
		h3
			margin-top rem(10)
			font-size rem(16)
			line-height 1.5

	&--footer
		margin-top rem(40)
		text-align right

	&--content
		font-size rem(16)
		line-height 1.5
		dl + dl
			margin-top rem(20)
		dl
			display flex
			dt
			dd
				flex 0 0 50%
			dt
				font-weight 600
				padding-right 10px
				text-align left
			dd
				padding-left 10px
				text-align right

		i
			margin-right 5px
