.payment_methods_stripe

	.popup--container
		+responsive('min-width: 768px')
			width 380px

	.popup--header
		background $blue_light
		border 0
		padding rem(15 20)
		+responsive('min-width: 768px')
			padding rem(25 30)

		.popup--close
			border-color #fff
			right 20px
			top 15px
			&:before
				color #fff
			+responsive('min-width: 768px')
				right 30px
				top 25px

	.popup--header_title
		color #fff
		span
			display inline-block
			vertical-align middle
			font-size rem(20)
			line-height 27px
			height 27px
			&.m-logo
				margin-left 5px


		svg
			width 65px
			height 27px
			.st0
				fill #fff



	&--content
		padding rem(30 30)
		line-height 1.35
		font-size rem(16)
		p + p
			margin-top 1em
