.payment_methods_header
	padding rem(10 0)
	border-bottom 1px solid $border_color
	+responsive('max-width: 980px')
		display none
	&--steps
		max-width 800px
		margin 0 auto
		display flex
		align-items stretch
		position relative
		overflow hidden
		color lighten($gray, 5)
		&:after
			position absolute
			left 14%
			right 14%
			top 17px
			height 0
			content ""
			border-top 2px dotted $gray_light
		li
			font-size rem(12)
			font-weight 600
			text-transform uppercase
			line-height 1.1
			text-align center
			width 33.33333%
			flex 0 0 @width
			position relative
			z-index 20
			&:nth-child(2)
				&:after
				&:before
					width 36px
					height @width
					line-height @width
					text-align center
					top 0
					position absolute
					icon($i-chevron-right)
					background #fff
				&:after
					right -18px
				&:before
					left -18px
			div
				margin 0 35px
				display block
			i
				display block
				height 35px
				width 110px
				margin 0 auto 10px
				background-repeat no-repeat
				background-position 50% 50%
				background-color #fff

			&.m-stripe i
				background-image url($i 'payments/wizard/stripe.svg')
				background-size 60px 25px
			&.m-deposit i
				background-image url($i 'payments/wizard/piggybank.svg')
				background-size 35px 35px
			&.m-book i
				background-image url($i 'payments/wizard/phone.svg')
				background-size 21px 35px


