.about_hero
	width 100%
	display flex
	justify-content center
	align-items center
	flex 1
	color #fff
	position relative
	padding rem(30 0)
	background #406574 url(../images/content/about/hero_cropped.jpg) center center no-repeat
	background-size cover
	+responsive('min-width: 640px')
		padding rem(35 0)
	&:before
		display block
		width 100%
		height 100%
		background rgba(#154356, .6)
		content ''
		position absolute
		top 0
		left 0
		z-index 10

	&--inner
		position relative
		z-index 20

	&--heading
		text-align center
		text-transform uppercase
		line-height 1.15
		font-weight 700
		margin 0 auto
		color #fff
		font-size rem(32)
		+responsive('min-width: 640px')
			font-size rem(38)
		+responsive('min-width: 980px')
			font-size rem(44)
		+responsive('min-width: 1200px')
			font-size rem(50)

	&--description
		font-size rem(16)
		font-weight 300
		text-align center
		line-height 1.5
		max-width 540px
		margin 0 auto
		strong
			font-weight 600
		+responsive('min-width: 640px')
			font-size rem(18)
		+responsive('min-width: 980px')
			font-size rem(20)
		+responsive('min-width: 1200px')
			font-size rem(22)
