.about_section
	background #fff
	&.m-alt
		background $background_color

	&--wrap
		padding rem(30 0)
		max-width 1180px
		margin rem(0 20)
		+responsive('min-width: 980px')
			padding rem(50 0 0)
		+responsive('min-width: 1220px')
			margin 0 auto

	&--founders
		padding-bottom 30px
		+responsive('min-width: 620px')
			padding-bottom 50px

	&--title
		font-size rem(28)
		font-weight 300
		color $gray_dark
		margin-bottom 35px
		text-align center
		+responsive('min-width: 680px')
			font-size rem(32)
		+responsive('min-width: 1200px')
			font-size rem(36)
		strong
			font-weight 600

	&--content
		&.m-story
			text-align center
			max-width 640px
			margin 0 auto
			+responsive('min-width: 980px')
				max-width 760px
			+responsive('min-width: 1200px')
				max-width 940px

	&--story
		line-height 1.35
		font-size rem(16)
		p
			margin-bottom 1.25em
			&.m-big
				font-weight 300
				font-size rem(20)
				+responsive('min-width: 980px')
					font-size rem(24)
				+responsive('min-width: 1200px')
					font-size rem(28)
			&:last-child
				margin-bottom 0

	&--cols
		+responsive('min-width: 768px')
			display flex
			flex-wrap nowrap
		> div
			margin-bottom 1.25em
			+responsive('min-width: 768px')
				margin-bottom 0
				flex 1
				margin-right rem(50)
				&:last-child
					margin-right 0


	&--list
		line-height 1.5
		margin 0 auto 20px
		text-align center
		font-size 0
		+responsive('min-width: 768px')
			margin 0 -10px 20px
			&.m-half
				max-width none

	&--list_item
		font-size rem(16)
		margin-bottom rem(40)
		min-width 20%
		max-width 270px
		display inline-block
		vertical-align top
		position relative
		margin 0 10px 20px
		+responsive('min-width: 768px')
			margin 30px 15px 20px

		&.m-large
			max-width 400px
			margin 0 auto 40px
			+responsive('min-width: 700px')
				max-width 280px
				margin 0 20px 40px
			+responsive('min-width: 1220px')
				max-width 380px
				margin 0 10px 30px

			.about_section--story
				+responsive('min-width: 1220px')
					padding 0 20px

			.about_section--list_item_name
				font-size rem(24)

			.about_section--list_item_position
				font-size rem(19)

			.about_section--list_item_fig
				margin-bottom 15px
				max-width 294px

		&.m-wide
			margin-left 25px
			margin-right 25px
			+responsive('min-width: 980px')
				max-width 390px

			.about_section--story
				padding 0

		&.m-overlay
			.about_section--story
				opacity 0
				position absolute
				top -20px
				left -3%
				width 106%
				height 310px
				display flex
				align-items center
				transition opacity .2s
				line-height 1.3
				user-select none

			&:hover
				.about_section--list_item_fig
					opacity .15

				.about_section--story
					opacity 1

	&--list.m-half &
		&--list_item
			+responsive('min-width: 768px')
				margin-right 10%
				&:last-child
					margin-right 0

	&--list_item_fig
		margin-bottom rem(5)
		background $border_color
		max-width 270px
		border-radius 50%
		border 3px solid white
		box-shadow 0 0 0 1px $border_color
		overflow hidden
		margin 0 auto 23px
		transition opacity .2s
		img
			display block
			width 100%
			height auto
			border-radius 50%

	&--list_item_name
		font-size rem(20)
		line-height 1.05
		font-weight bold
		margin-bottom 5px

	&--list_item_position
		margin-bottom 20px
		color $blue_light
		font-size rem(17)
		font-weight 600
		line-height 1.1
