<div class="accordion_panes m-in_block">
	<ul class="accordion_panes--list">
		{{#each options}}
			<li class="accordion_panes--item">
				<label for="accordion_{{id}}" class="accordion_panes--item--opener">
					<b>{{name}}</b>
					<span class="accordion_panes--item--opener--selected">
						{{#each children}}
							{{#if selected}}
								<span data-id="{{id}}">{{name}}</span>
							{{/if}}
						{{/each}}
					</span>
				</label>
				<input type="checkbox" id="accordion_{{id}}">
				<div class="accordion_panes--item--content">
					<ul class="accordion_panes--item--checkboxes">
						{{#each children}}
							<li>
								<label class="checkbox">
									<input type="checkbox" name="{{../input_name}}[]" value="{{id}}">
									<span class="checkbox--i"></span>
									<span class="checkbox--label">{{name}}</span>
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
				<span class="accordion_panes--item--arrow"></span>
			</li>
		{{/each}}
	</ul>
</div>
