<label for="accordion_{{input_name}}" class="accordion_panes--item--opener">
  <b>{{group_name}}</b>
  <span class="accordion_panes--item--opener--selected">
    {{#each options}}
      {{#if selected}}
        <span data-id="{{id}}">{{name}}</span>
      {{/if}}
    {{/each}}
  </span>
</label>
<input type="checkbox" id="accordion_{{input_name}}">
<div class="accordion_panes--item--content" data-options-content>
    <ul class="accordion_panes--item--checkboxes">
        {{#each options}}
        <li>
            <label class="radio">
                <input type="radio" name="{{../input_name}}[]" value="{{id}}">
                <span class="radio--i"></span>
                <span class="checkbox--label">{{name}}</span>
            </label>
        </li>
        {{/each}}
    </ul>
</div>
<span class="accordion_panes--item--arrow"></span>
