<div class="professional_setup_suitability_conditions">
	{{#if displayOptionsContainer}}
	<div class="professional_setup_suitability_conditions--block">
		<div class="accordion_panes m-in_block">
			<ul class="accordion_panes--list" data-options-container></ul>
		</div>
	</div>
	{{/if}}
	{{#if displayConditionsContainer}}
	<div class="professional_setup_suitability_conditions--block">
		<div data-concerns-conditions></div>
	</div>
	{{/if}}

</div>
