a.lhn_help_btn
	display block
	background red
	border-radius 3px 0 0 3px
	width 37px
	height 149px
	position fixed !important
	top 125px
	right 0
	cursor pointer
	z-index 99999
	border-right 0
	background $background_color
	&:before
		content ""
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		border 3px solid $green
		border-right 0
		z-index 10
		border-radius 3px 0 0 3px
	&:after
		content "Get Help"
		position absolute
		left 37px
		bottom 0
		white-space nowrap
		color $green
		font-weight 700
		font-size 20px
		transform rotate(-90deg)
		height 34px
		line-height @height
		width 143px
		text-align center
		transform-origin left bottom

	&:hover
		background-position -37px 0
		float right !important

.lhn_help_container
	display none
	position fixed
	top 110px
	right 0
	z-index 99999
	text-align left !important
	a
		cursor pointer

.lhn_knowledge_container
	font-family Tahoma !important
	font-size 12px !important
	color #3a3a3a !important
	background-color #4c4c4c
	width 570px
	border 3px solid #f5f5f5
	border-right none
	border-radius 10px 0 0 10px
	box-shadow 0 0 10px #000000
	-webkit-box-shadow 0 0 10px #000000
	padding-bottom 13px
	position relative
	z-index 100000
	float right

.lhn_input_container
	background-color #f3f3f3 !important
	width 562px
	float right
	position relative
	top 6px
	border 2px solid #bababa
	border-right none
	border-radius 5px 0 0 5px

.lhn_kb_search
	padding-left 47px
	background-color #f3f3f3 !important
	width 510px
	min-height 145px

.lhn_kb_articles
	width 487px
	max-height 450px
	margin 12px 0
	overflow auto
	.lhn_loading
		display none
	&.lhn_display_loading
		.lhn_loading
			display block

.lhn_loading
	background url("//www.livehelpnow.net/lhn/js/css/helppanel/default/images/ajax-loader.gif") no-repeat scroll 0 0 transparent
	display block
	width 16px
	height 16px
	position absolute
	top 98px
	right 40px

.lhn_help_exit
	background url("//www.livehelpnow.net/lhn/js/css/helppanel/default/images/exit.png") no-repeat scroll 0 0 transparent
	display block
	width 15px
	height 16px
	position absolute
	top 7px
	left 538px

.lhn_find_ans_title
	font-family Tahoma !important
	margin 15px 0 0 !important
	font-size 24px !important
	color #3a3a3a !important
	text-shadow none !important
	background-image none !important
	text-indent 0px !important
	position relative !important
	width auto !important
	height auto !important
	top auto !important
	left auto !important

.lhn_statement
	margin 3px 0 0 !important
	font-size 12px !important
	font-weight normal !important
	color #3a3a3a !important

.lhn_search_box
	margin-top 15px !important
	padding-bottom 4px !important
	width 485px !important
	height 38px !important
	border 1px solid #969696
	border-radius 5px
	font-size 24px !important
	color #3a3a3a

.lhn_options_container
	width 256px
	height 155px
	float right
	position relative
	z-index 99999
	padding-top 10px
	top 2px

.lhn_options_outer
	width 260px
	height 146px
	color #3a3a3a
	background-color $background_color
	border 3px solid $green
	border-right none
	border-radius 3px 0 0 3px

.lhn_options_inner
	position relative
	top 0
	left 0
	right 0
	bottom 0

.lhn_options_btn
.lhn_options_btn:visited
	display block
	position absolute
	top 25px
	background url("//www.livehelpnow.net/lhn/js/css/helppanel/default/images/options_btn.gif") no-repeat scroll 0 0 transparent
	width 20px
	height 108px

.lhn_options_btn
	&:hover
		display block
		position absolute
		top 25px
		background url("//www.livehelpnow.net/lhn/js/css/helppanel/default/images/options_btn.gif") no-repeat scroll -20px 0 transparent
		width 20px
		height 108px

.lhn_hide_op_btn
.lhn_hide_op_btn:visited
	background url("//www.livehelpnow.net/lhn/js/css/helppanel/default/images/hide_op_btn.gif") no-repeat scroll 0 0 transparent

.lhn_hide_op_btn
	&:hover
		background url("//www.livehelpnow.net/lhn/js/css/helppanel/default/images/hide_op_btn.gif") no-repeat scroll -20px 0 transparent

.lhn_btn_container
	position absolute
	top 10px
	left 10px
	right 10px
	height 128px
	a
		margin-top 8px
		&:first-child
			margin-top 0

.lhn_live_chat_btn
.lhn_ticket_btn
.lhn_callback_btn
	display block
	background $green
	color #fff
	height 32px
	line-height @height
	position relative
	text-decoration none
	font-size 16px
	border-radius 3px
	font-weight 600
	&:before
		display block
		position absolute
		left 10px
		top 0
		font-size 14px
		line-height 1
		line-height @height
		top 50%
		transform translateY(-50%)
		width 22px
		text-align center
	&:after
		margin-left 45px
	&:hover
		background $gray_dark

.lhn_live_chat_btn
	&:before
		icon($i-comments-o)
		font-size 22px
	&:after
		content "Chat with us"

.lhn_ticket_btn
	&:before
		icon($i-message-o)
	&:after
		content "Submit a ticket"

.lhn_callback_btn
	&:before
		icon($i-phone)
		font-size 22px
	&:after
		content "Request Callback"

.lhn_rating
	margin-bottom 10px
	display inline-block
	width 100%

.lhn_views
	margin-top 4px
	text-align left
	width 80px
	float left

.lhn_ratings
	margin 5px 5px 0 0
	width 100px
	float right
	img
		display inline-block !important

#lhn_copyright
	bottom 10px
	display inline-block !important
	font-size 9px !important
	position absolute
	right 10px
	text-align right
	z-index 100001

#lhn_copyright a
#lhn_copyright a:visited
	text-decoration none !important
	color #0096ff !important
	font-size 9px important

#lhn_popup_dialog
	position relative

.lhn_popup_container
	position absolute

.lhn_popup_loading
	top 49%
	left 49%

.lhn_dialog
	iframe
		width 500px
		height 400px
	&.ticket_popup
		iframe
			width 700px
	&.callback_popup
		iframe
			width 400px
	&.kb_popup
		iframe
			width 300px

// hide live chat on mobile
@media screen and (max-width: 480px)
	#lhnChatButton
	.lhn_help_btn
	.lhnInviteContainer
		display none !important
