.client_appointments
	margin-top rem(20)
	background #fff
	position relative
	&--header
		padding rem(20 20 20 20)

	&--header_filter
		&--label
			display inline-block
			width 50px
			font-weight 600
			text-align right
			padding-right 10px
		&--field
			display inline-block

	&--appointments
		padding rem(0 20)
		min-height 300px

	&--empty
		text-align center
		padding rem(100 0)
		&.m-hide
			display none
