@media (max-width 1179px)
	.client_appointment
		&--header
			padding-left 15px
			padding-right 15px

			&:after
				right 15px

		&--header_time
			padding-right 30px

			span
				font-size 13px

			p
				font-size 16px

		&--header_location
			strong
				font-size 15px

		&--content_details
			padding-left 0

		&--content
			padding 15px

@media (max-width 1024px)
	.client_appointment
		&--header_time
			flex-basis 32%

		&--content_actions
			flex-basis 32%

+mobile_ready_and_mobile()
	.client_appointment
		&--header
			&_service
				font-size 16px

			&_professional
				font-size 13px

		&--content
			&_address
				&_name
					font-size 16px

	@media (max-width 739px)
		.client_appointment
			&--header
				padding 12px
				flex-wrap wrap
				align-items flex-start

				&_avatar
					width 35px
					height @width
					flex 0 0 @width
					margin-right 15px

					img
						width @width

				&_service_professional
					margin-right 0
					margin-bottom 15px
					flex-basis 70%

				&_service
					margin-bottom 0

				&_location
					margin-left 50px
					flex-basis 34%

				&_time
					flex-grow 1

			&--content
				padding 12px

				&_inner
					flex-wrap wrap

				&_address
					margin-left 50px
					flex-basis 34%

				&_actions
					flex-grow 1

				&_details
					order 3
					flex-basis auto
					flex-grow 1px
					padding-top 20px
					margin-left 50px

					&:empty
						display none

	@media (max-width 479px)
		.client_appointment
			&--header
				&_location
					flex-basis 80%
					flex-grow 1
					margin-bottom 10px

				&_time
					flex-basis 0
					margin-left 50px

			&--content
				&_inner
					align-items stretch

				&_address
					flex-grow 1
					margin-bottom 10px

				&_actions
					margin-left 50px
