.client_appointment
	margin-bottom rem(20)
	position relative
	&.m-hide
	.m-hide
		display none

	&--inner
		overflow hidden
		border-radius 3px

	&--header
		background $background_color
		display flex
		flex-wrap nowrap
		align-items center
		padding rem(20)
		border 1px solid $border_color
		cursor pointer
		position relative
		line-height 1.25
		&:after
			position absolute
			width 20px
			line-height @width
			height @width
			font-size @width
			text-align center
			icon($i-chevron-right-o)
			right 25px
			top 50%
			margin-top -10px
			color $gray_light

	&.m-opened &
		&--header
			&:after
				transform rotate(90deg)
		&--content
			display block

	&--header_avatar
		width 50px
		height @width
		flex 0 0 @width
		border-radius 80px
		margin-right rem(20)
		display block
		background $gray_lighter
		img
			width @width
			height auto
			border-radius @width
			display block

	&--header_service_professional
		flex 1
		margin-right rem(20)

	&--header_service
		font-size rem(18)
		font-weight 600
		margin-bottom rem(5)
		color $blue
	&--header_professional
		font-size rem(14)
		font-weight 600

	&--header_location
		flex 0 0 28%
		margin-right rem(20)
		strong
			display block
			font-weight 600
			font-size rem(16)
			margin-bottom rem(5)


	&--header_time
		flex 0 0 30%
		padding-right rem(40)
		span
			display block
			margin-bottom 5px
		p
			font-size 18px
			font-weight 600
			color $blue


	&--content
		display none
		line-height 1.25
		padding rem(20)
		border 1px solid $border_color
		border-top 0
		background $background_color

	&--content_inner
		display flex
		align-items flex-start
		flex-wrap nowrap

	&--content_details
		flex 1
		padding-left rem(70)
		margin-right rem(20)
		&--package
			margin-bottom rem(10)
		&--description
			display block
			p + p
				margin-top rem(10)

	&--link
		color $blue_light
		font-weight 600
		text-decoration underline
		&:hover
			color $blue

	&--package_info
		color #fff
		background $btn_green_bright
		border-radius 3px
		display inline-block
		text-decoration none
		line-height 28px
		font-weight 600
		font-size 13px
		padding rem(0 10)
		white-space nowrap
		&:hover
			color #fff
			background $btn_green_hover


	&--content_address
		flex 0 0 28%
		margin-right rem(20)

	&--content_address_name
		display block
		margin-bottom rem(5)
		font-weight 600
		font-size rem(18)

	&--content_address_maps
		margin-top rem(10)
		a
			color $blue_light
			font-weight 600
			text-decoration underline
			&:hover
				color $blue

	&--content_actions
		flex 0 0 30%
		text-align right
		display flex
		align-items flex-start
		justify-content space-between
		&--status
			.lbl
				margin 2px 0
				&.m-confirmed
					background $green
				&.m-pending
					background $btn-orange
		&--buttons
			margin-left 20px


	&--cta
		display inline-block
		border 1px solid darken($border_color, 3)
		background darken($background_color, 3)
		border-radius 3px
		cursor pointer
		color $gray
		text-align center
		padding-top 7px
		padding-bottom 6px
		padding-right 10px
		padding-left 12px
		font-size 12px
		letter-spacing 1px
		&:hover
			background transparent
		&.m-cancel
			i:before
				font-size 10px
				icon($i-times_thin)
