.btn
	&
		display inline-block
		line-height normal
		padding rem(13px 15px)
		background $gray_dark
		color #fff
		font-size 14px
		border-radius 3px
		vertical-align middle
		font-weight 600
		position relative
		text-align center
		white-space nowrap

		&:hover
			background $btn_gray_hover

		&:active
			box-shadow inset 0 2px 0 rgba(#000, .15)

		&[disabled]
		&.m-disabled
			opacity .2
			pointer-events none

	&.m-blue
		&
			background $blue

		&:hover
			background $btn_blue_hover

		&.m-border
			border-color $blue
			color $blue
			background none

			&:hover
				background $btn_blue_hover
				color white

	&.m-light_blue
		background $blue_light
		color #fff
		&:hover
			background $blue

	&.m-white
		background #fff
		border 1px solid $border_color
		padding rem(12px 14px)
		color $gray
		&:hover
			color $gray_dark
			border-color $border_color_mid
		&:active
			box-shadow inset 0 2px 0 rgba(#000, .08)

	&.m-light_gray_border
		background $background_color
		border 1px solid $border_color
		padding rem(12px 14px)
		color $gray
		&:active
			box-shadow inset 0 1px 0 rgba(#000, .08)
		&:hover
			background-color white

		&.m-color_gray_dark
			color $gray_dark

	&.m-mid_gray_border
		background $background_color
		border 1px solid $border_color_mid
		padding rem(12px 14px)
		color $gray_dark
		&:hover
			background lighten($border_color, 30%)
		&:active
			box-shadow inset 0 2px 0 rgba(#000, .08)

	&.m-light_gray
		background $btn_light_gray
		&:hover
			background lighten($gray, 20%)


	&.m-red
		&
			background $red

		&:hover
			background $red_mute

		.spin:before
			color #fff

	&.m-green
		&
			background $green

		&:hover
			background $btn_green_hover

	&.m-green-strong
		&
			background $green_strong

		&:hover
			background $btn_strong_green_hover

	&.m-orange
		&
			background $btn-orange

		&:hover
			background $btn-orange-hover

	&.m-thicker
		padding-left rem(25px)
		padding-right rem(25px)

	&.m-border
		&
			padding 0.75rem 0.875rem
			border 1px solid darken($gray, 40%)

		&.m-blue
			border-color darken($blue_dark, 0%)
			border-color $blue

		&.m-red
			border-color darken($red, 30%)

		&.m-green
			border-color darken($green, 25%)

	&.m-link
		&
			background none
			color $gray

		&:hover
			text-decoration underline
			color $gray_dark

		&:active
			box-shadow none

		&.m-blue
			color $blue
			background none

	&.m-social
		width 30px
		height 30px
		padding 0
		position relative
		font-size 0

		&:before
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			font-size 1rem
			color #fff

		&.m-linkedin
			&
				background $btn_linkedin
				&:before
					icon($i-linkedin)

			&:hover
				background $btn_linkedin-hover

		&.m-today
			&
				background #fff
				&:before
					color #c4c4c4 !important
					font-size 20px
					icon($i-today)

			&:hover
				background #f7f7f7

		&.m-twitter
			&
				background $btn_twitter
				&:before
					icon($i-twitter)

			&:hover
				background $btn_twitter-hover

		&.m-facebook
			&
				background $btn_facebook
				&:before
					icon($i-facebook)

			&:hover
				background $btn_facebook-hover

		&.m-googleplus, &.m-google
			&
				background $btn_gplus
				&:before
					icon($i-gplus)

			&:hover
				background $btn_gplus-hover

		&.m-yahoo
			&
				background $btn-yahoo
				&:before
					icon($i-yahoo)

			&:hover
				background $btn-yahoo-hover

		&.m-pinterest
			&
				background $btn-pinterest
				&:before
					icon($i-pinterest)
					font-size rem(18px)

			&:hover
				background $btn-pinterest-hover

		&.m-instagram
			&
				background $btn-instagram
				&:before
					icon($i-instagram)
					font-size rem(18px)

			&:hover
				background $btn-instagram-hover

		&.m-youtube
			&
				background $btn-youtube
				&:before
					icon($i-youtube)
					font-size rem(21px)

			&:hover
				background $btn-youtube-hover

		&.m-ideafit
			&
				background url(../images/content/socials/ideafit.png) 50% 50% no-repeat
				background-size 100% 100%

		&.m-amazon
			&
				background $btn-orange
				&:before
					icon($i-amazon)

			&:hover
				background $btn-orange-hover


		&.m-link
			&
				background $btn-link
				&:before
					icon($i-link)

			&:hover
				background $btn-link-hover

		&.m-icon_only
			&
				background none

			&:hover
				background none

			&:active
				box-shadow none

			&.m-facebook:before
				color $btn_facebook

				&:hover
					color $btn_facebook

			&.m-twitter:before
				color $btn_twitter

			&.m-linkedin:before
				color $btn_linkedin
				margin-top -1px

			&.m-googleplus:before
				color $btn_gplus
				margin-top 1px

			&.m-youtube:before
				color $btn-youtube

			&.m-facebook:before
				color $btn_facebook

	&.m-circle
		border-radius 100%

	&.m-contact
		&
			height 33px
			padding rem(0 10px)
			position relative
			line-height 1.3

			&:before
				position absolute
				left 10px
				top 50%
				transform translate(0, -50%)

		&.m-email
			padding-left rem(30px)
			&:before
				icon($i-envelope-o)
				font-size rem(15px)
				color #fff
				line-height 1.2

		&.m-phone
			padding-left rem(25px)

			&:before
				icon($i-phone)
				font-size rem(15px)
				left 8px
				color #fff


	&.m-prepend
		&
			background #fff
			cf()
			color $gray
			border 1px solid #e1e1e1
			padding 0 0 0 38px
			overflow hidden

			b
				position absolute
				width 38px
				top 0
				left 0
				background #f9fafc
				height 100%
				border-right 1px solid #e1e1e1

				&:before
					position absolute
					left 50%
					top 50%
					transform translate(-50%, -50%)
					font-size 1.125rem

			span
				flex 1
				display inline-block
				white-space nowrap
				padding 0.75rem

		&.m-pin b:before
			icon($i-map-marker)

		&:hover
			background #f9fafc

			span
				color $blue

		&:active
			box-shadow none

	&.m-more
		&
			text-align center
			padding 0
			background none
			span
				display inline-block
				position relative
				padding rem(6px 30px 6px 0)
				color $gray

			b
				display block
				width 24px
				height 24px
				border 1px solid #d6d6d6
				border-radius 100%
				position absolute
				right 0
				top 0

				&:before
					color $gray_dark
					icon($i-chevron-down)
					position absolute
					top 50%
					left 50%
					transform translate(-50%, -50%)

		&:hover
			span
				color $blue

		&:active
			box-shadow none

	&.m-icon
		&
			text-indent -9999px
			position relative
			padding 0
			margin 0
			background none
			border 0

			&:before
				text-indent 0
				position absolute
				top 50%
				left 50%
				t-translate(-50%, -50%)

		&.m-social
			pointer-events none


		&.m-remove
			width 30px
			height 30px
			color $red
			&:before
				icon($i-times)
				font-size rem(17px)
			&:hover
				color darken($red, 20%)
			&:active
				box-shadow none

		&.m-trash
			width 30px
			height 30px
			color lighten($gray, 10)
			&:before
				icon($i-trash)
				font-size rem(17px)
			&:hover
				color $red
			&:active
				box-shadow none

	&.m-nav
		&
			display block
			width 24px
			height 24px
			border 1px solid $gray
			border-radius 24px
			opacity .6
			cursor pointer
			text-indent -9999px
			position relative

			&:before
				icon($i-chevron-down)
				color $gray_dark
				position absolute
				top 50%
				left 50%
				font-size 12px
				text-indent 0

		&:hover
			opacity 1

		&.m-disabled
			opacity .2
			pointer-events none

		&.m-prev
			&:before
				transform translate(-50%, -50%) rotate(90deg)

		&.m-next
			&:before
				transform translate(-50%, -50%) rotate(-90deg)

	&.m-no_bg
		background transparent

		&.m-white
			color white

		&:hover
			opacity .8

	&.m-shade_bg
		background rgba(black, .17)
		color white

		&:hover
			background rgba(black, .2)
			color white

	&.m-arrow
		&:after
			margin-left rem(10)
			vertical-align middle
			font-size rem(20)
			icon($i-chevron-right-o)
			margin-top -4px
			display inline-block

	&.m-bars
		&:before
			icon($i-bars)
			position relative
			left -3px
			top 1px
			margin-right 5px
			display inline-block
			vertical-align top
			font-size 15px

	// sizes
	&.m-s
	&.m-small
		padding rem(8px 15px)

	&.m-large
		font-size 1rem
		padding rem(14px 15px)

	&.m-wide
		width 100%

	&.m-medium
		font-size rem(15)
		height 32px
		line-height 32px
		padding 0 rem(20)

		&.m-contact.m-email
			padding-left 40px

			&:before
				font-size 19px
				left 15px

	&.m-width_205
		min-width 205px

	&.m-edit
		padding rem(6px 12px 6px 30px)
		&:before
			icon($i-pencil)
			position absolute
			left 10px
			top 50%
			transform translateY(-50%)
			font-size 12px
			line-height 1
			height @font-size
			width @font-size
			margin-top -1px
		&:hover
			color $blue
		&:focus
			box-shadow none
			top 1px

	&.m-share
		padding-left rem(12)

		&.m-s
		&.m-small
			padding rem(6px 15px 6px 12px)
			line-height 1.3

		&:before
			icon($i-share-alt)
			font-size 11px
			margin-right 3px
			position relative
			top 1px

	&.m-phone
	&.m-message
		&:before
			width 16px
			height 16px
			color #fff
			position relative
			display inline-block
			vertical-align top
			overflow hidden
			margin-right 7px

	&.m-phone
		&:before
			icon($i-phone)
			font-size 19px
			top -2px

	&.m-message
		&:before
			icon($i-envelope)
			font-size 11px
			top 3px
