
// compare_btn
.compare_btn
	display inline-block
	background $blue
	color #fff
	height rem(32px)
	font-size rem(12px)
	border-radius rem(32px)
	position relative
	padding rem(11px 42px 0 15px)

	&--clear
		&
			ibreset()
			background $blue_dark
			display inline-block
			width rem(28px)
			height rem(28px)
			border-radius rem(28px)
			position absolute
			top 2px
			right 2px
			text-indent -9999px

			&:before
				icon($i-times)
				color #fff
				font-size 14px
				text-indent 0
				position absolute
				top 50%
				left 50%
				center()

		&:hover
			background #fff
			&:before
				color $red

// add_btn
.add_btn
	&
		font-size rem(12px)
		color $blue
		text-transform uppercase
		padding 0
		cursor pointer
		line-height normal
		background none
		font-weight 600
		position relative

	&:hover
		text-decoration underline

	&.m-icon
		padding 0 0 0 20px
		&:before
			icon($i-plus)
			font-size 16px
			position absolute
			top 50%
			left 0
			t-translate(0, -50%)
			margin -1px 0 0

.remove_btn
	@extends .add_btn
	color $gray
	&.m-icon:before
		icon($i-trash)
		margin-top -2px

.edit_btn
	@extends .add_btn
	&.m-icon:before
		icon($i-edit_property)
		margin-top 0
