.btn_frame
	display inline-block
	line-height normal
	padding rem(13px 20px)
	border 2px solid $btn_light_gray
	border-radius 5px
	color $btn_light_gray
	font-size 14px
	vertical-align middle
	font-weight 600
	position relative
	text-align center
	white-space nowrap
	font-weight bold
	transition all .1s
	letter-spacing 0.07em

	&:hover
		background $btn_light_gray_hover
		color white

	&[disabled]
	&.m-disabled
		opacity .2
		pointer-events none

	&.m-upper
		text-transform uppercase

	&.m-red
		color $red
		border-color $red

		&:hover
			background-color $red
			color white

	&.m-green
		color $btn_green_bright
		border-color $btn_green_bright

		&:hover
			background-color $btn_green_bright
			color white

	&.m-arrow
		padding-right 48px

		&:before
			icon($i-chevron_right_rounded-o)
			position absolute
			font-size 20px
			top 50%
			right 13px
			transform translateY(-50%)

	&.m-small
		padding rem(10px 20px)
