.cta_btn
	display inline-block
	line-height normal
	background $background_color
	color $gray_dark
	border-radius 3px
	vertical-align middle
	font-weight 600
	position relative
	text-align center
	white-space nowrap
	text-transform uppercase
	box-sizing border-box

	padding rem(0 12)
	min-width 136px
	height 44px
	line-height 44px
	font-size rem(14)
	&:hover
		color $btn_blue_hover
	&:active
		box-shadow inset 0 2px 0 rgba(#000, .15)

	+responsive('min-width: 980px')
		padding rem(0 30)
		min-width 180px
		height 50px
		line-height 50px
		font-size rem(16)

	&.m-light
		background #fff
		&.m-border
			border 2px solid #e1e1e1
			line-height 42px
			+responsive('min-width: 980px')
				line-height 48px
	&.m-large
		text-transform uppercase
		padding rem(0 26px)
		min-width 190px
		height 54px
		line-height 54px
		+responsive('min-width: 980px')
			padding rem(0 35px)
			min-width 215px
			height 60px
			line-height 60px
		&.m-border
			line-height 58px
			+responsive('min-width: 980px')
				line-height 58px

	&.m-larger
		text-transform uppercase
		padding rem(0 26px)
		min-width 210px
		height $button_height = 65px
		line-height $button_height
		font-size rem(17px)
		+responsive('min-width: 980px')
			padding rem(0 35px)
			min-width 230px
			height $button_height = 70px
			line-height $button_height
			font-size rem(18px)

		&.m-arrow:after
			+responsive('min-width: 980px')
				font-size rem(22px)

	&.m-xlarge
		font-size 24px
		font-weight 600
		padding rem(10px 26px)
		height 70px
		line-height 51px
		+responsive('max-width: 550px')
			font-size 22px
			padding 10px 17px
		&.m-arrow:after
			font-weight 600

	&.m-blue
		background #3eb7cb
		color #fff
		&:hover
			background $blue

	&.m-green
		background $green
		color #fff
		&:hover
			background $btn_green_hover
	&.m-red
		background $red
		color #fff
		&:hover
			background $red_mute
	&.m-wide
		width 100%
		display block

	&.m-arrow
		&:after
			margin-left rem(10)
			line-height 44px
			vertical-align middle
			font-size rem(20)
			icon($i-chevron-right-o)
			margin-top -4px
			display inline-block
		&.m-large
			&:after
				line-height 60px

	&.m-rounded
		border-radius 10px
