.btn_sync
	background-color $btn_google_light
	height 40px
	padding rem(12px 10px 12px 50px)

	&:before
		background-color $btn_google
		border-radius 3px 0 0 3px
		icon($i-gogole_logo)
		position absolute
		height 100%
		width 40px
		text-align center
		line-height 41px
		top 0
		left 0

	&:hover
		background-color lighten($btn_google_light, 10%)

		&:before
			background-color lighten($btn_google, 10%)
