.btn_round
	display inline-block
	line-height normal
	padding rem(13px 15px)
	background $btn_light_gray
	color #fff
	font-size 16px
	border-radius 25px
	vertical-align middle
	font-weight 600
	position relative
	text-align center
	white-space nowrap
	font-weight bold

	&:hover
		background $btn_light_gray_hover

	&:active
		box-shadow inset 0 2px 0 rgba(#000, .15)

	&[disabled]
	&.m-disabled
		opacity .2
		pointer-events none

	&.m-upper
		text-transform uppercase

	&.m-green
		background-color $btn_green_bright

		&:hover
			background $btn_green_hover

	&.m-green_mute
		background-color $green

		&:hover
			background-color lighten(@background-color, 3%)

	&.m-blue_light
		background-color $blue_light

		&:hover
			background lighten(@background-color, 10%)

	&.m-red
		background-color $red

		&:hover
			background-color lighten(@background-color, 5%)

	&.m-red_mute
		background-color $red_mute

		&:hover
			background-color lighten(@background-color, 3%)

	&.m-blue_mute
		background-color $blue_mute

		&:hover
			background-color lighten(@background-color, 3%)

	&.m-light_gray_border
		background $background_color
		border 1px solid $border_color
		color $gray
		&:hover
			background-color white

		&.m-static
			&
			&:hover
			&:active
				cursor default
				background $background_color
				color $gray
				box-shadow none

	&.m-arrow
		padding-right 45px

		&:before
			icon($i-chevron_right_rounded-o)
			position absolute
			font-size 20px
			top 50%
			right 15px
			transform translateY(-50%)

	&.m-lg
	&.m-large
		padding rem(18px 20px)
		border-radius 30px

		&.m-arrow
			padding-right 45px

	&.m-xl
	&.m-xlarge
		font-size 24px
		padding rem(24px 20px)
		border-radius 40px
		letter-spacing -0.01em
		+responsive('max-width: 960px')
			font-size 22px
			padding rem(20px 18px)

		&.m-arrow
			padding-right 52px

			&:before
				font-size 28px
				+responsive('max-width: 960px')
					font-size 26px
