.btn_multiline
	background $red
	border-radius 10px
	color white
	text-transform uppercase
	font-size 27px
	font-weight bold
	padding 10px 20px 13px
	display inline-block
	position relative
	margin-left 5px
	cursor pointer
	text-align left
	+responsive('max-width: 640px')
		margin-left 0
	+responsive('max-width: 380px')
		font-size 25px

	&:hover
		background-color $red_light

	small
		font-weight 600
		font-size 14px
		display block
		padding-top 5px
		+responsive('max-width: 380px')
			font-size 12px

	&.m-arrow
		padding-right 55px

		&:before
			icon($i-chevron_right_rounded-o)
			position absolute
			font-size 24px
			top 50%
			right 20px
			transform translateY(-50%)
			+responsive('max-width: 380px')
				right 15px
