
// btn_social
.btn_social
	&
		ibreset()
		display inline-block
		background #fff
		cf()
		border-radius 3px
		height 45px
		padding 0 0 0 45px
		overflow hidden
		color #fff
		font-size rem(16px)
		font-weight 600
		position relative
		text-align center
		line-height 45px
		vertical-align middle

		&.m-small
			font-size 14px
			height 40px
			line-height 40px
			width 260px
			padding-left rem(40px)

			.btn_social--icon
				width 40px

		&--icon
			width 45px
			height 100%
			position absolute
			top 0
			left 0
			border-radius 3px 0 0 3px

			&:before
				font-size 24px
				color #fff !important
				position absolute
				top 50%
				left 50%
				t-translate(-50%, -50%)


	&:active
		box-shadow inset 0 2px 0 rgba(#000, .3)

	&:active &
		&--icon
			box-shadow inset 0 2px 0 rgba(#000, .2)


	&.-facebook
		background #5374b9

	&.-facebook &
		&--icon
			background #405a92
			&.m-transparent
				background transparent
			&:before
				icon($i-facebook)


	&.-google
		background #4b8bf4

	&.-google &
		&--icon
			background #4177ce
			&.m-transparent
				background transparent
			&:before
				icon($i-google)
				font-size 18px


	&.-twitter
		background #55acee

	&.-twitter &
		&--icon
			background #448dc5
			&.m-transparent
				background transparent
			&:before
				icon($i-twitter)

	&.-linkedin
		background #177eb9

	&.-linkedin &
		&--icon
			background #15628f
			&.m-transparent
				background transparent
			&:before
				icon($i-linkedin)

	&.-shadowless
		box-shadow none

		&:active
			box-shadow inset 0 2px 0 rgba(#000, .3)
			top 0

		&:active &
			&--icon
				box-shadow inset 0 2px 0 rgba(#000, .2)

	&.-wide
		width 100%
