// Hubspot buttons
.cta_button
	@extend .cta_btn
	@extend .cta_btn.m-green
	padding-left 25px
	padding-right 25px
	min-width 0
	color white
	cursor pointer

	&:before
		content 'Sign Up Now'
		color white

	&:after
		color white

	img
		display none

.hs-cta-wrapper.m-larger
	.cta_button
		@extend .cta_btn.m-larger

.hs-cta-wrapper.m-arrow
	.cta_button
		@extend .cta_btn.m-arrow
