.list_table
	width 100%
	border-top 1px solid $border_color

	&.m-margin_top
		margin-top 25px

	&--header
		display flex
		flex-wrap nowrap
		align-items center
		background $background_color
		border-bottom 1px solid $border_color

	&--header &
		&--item
			padding-top 11px
			padding-bottom 11px

	&--item
		flex 1
		flex-basis 0
		padding 13px 10px
		display inline-block
		font-size rem(14px)
		vertical-align bottom
		float none
		line-height 18px
		&:first-child
			padding-left 30px
		&:last-child
			padding-right 30px

		@media(max-width: 979px)
			padding-left 8px
			padding-right 8px
			&:first-child
				padding-left 20px
			&:last-child
				padding-right 20px

	&--row
		display flex
		align-items center
		flex-wrap nowrap
		border-bottom 1px solid $border_color
		position relative

	&.m-break_640 &
		@media(max-width: 640px)
			&--header
				display none

			&--row
				display block
				padding 15px 0 20px

			&--item
				display block
				padding 6px 20px
				font-weight 600
				font-size 16px

				&.m-actions
					text-align left
					padding-top 10px
					display flex

					.btn
						flex-grow 1
						margin-right 10px

						&:last-child
							margin-right 0

				&[data-title]
					&:before
						content attr(data-title)
						display inline-block
						vertical-align baseline
						color $gray
						width 40%
						padding-right 10px

		@media(max-width: 480px)
			&--item
				&[data-title]
					&:before
						width 50%
