.bhp
  background-color white
  font-family $ff_proxima

.bhp-item2-top
  width 88%
  +responsive('max-width: 750px')
    width 80%
    display inline-block
    padding-top 4%
    margin-left 2%

.bhp-sidebar-icon
  display none
  +responsive('max-width: 750px')
    display inline-block
    vertical-align top

.bhp-part1
  background-image url("/assets/frontend/images/design/become-health-professional/top-bg.jpg")
  background-repeat no-repeat
  background-position center, center
  background-size cover
  color white
  text-align center
  width 100% //temp
  height 100%
  padding-top 1rem
  +responsive('max-width: 750px')
    background-image url("/assets/frontend/images/design/become-health-professional/top-bg-mobile.png")


.bhp-part1-area1
  padding-top 7rem
  margin 0 auto
  padding-left 20%
  +responsive('max-width: 750px')
    padding-top 0
    margin 0
    padding-left 9%


.bhp-part2
  display block
  width 1320px
  margin 0 auto
  padding-bottom 55px
  +responsive('max-width: 750px')
    width auto
    padding-bottom 0

.bhp-sub-title
  display flex
  margin-bottom 1 rem
  padding-top 0.8571rem
  padding-bottom 0.8571rem
  padding-left 4px
  +responsive('max-width: 750px')
    margin-left 0

.bhp-gray-bg
  background-color  #f3f3f3

.bhp-sub-title-text
  color  #424242
  font-size 1.125rem
  font-weight 500
  line-height 1.444
  text-align left
  width 46%
  +responsive('max-width: 750px')
    font-size 0.8rem
    width auto

.bhp-description-text
  margin-top 2rem
  +responsive('max-width: 750px')
    margin-top 0

.bhp-margin-left1
  margin-left 2rem
  +responsive('max-width: 750px')
    margin-left 1rem

.bhp-margin-left2
  margin-left 1rem

.bhp-points-image
  width 7px
  height 65px
  margin-top 0.2rem
  background-image url("/assets/frontend/images/design/become-health-professional/points.svg")
  background-repeat no-repeat
  +responsive('max-width: 750px')
    width 1.5rem
    margin-left 4%


.bhp-part1-3
  display inline-flex
  margin-right 9rem
  margin-top 2%
  margin-bottom 7rem
  +responsive('max-width: 750px')
    margin-right 0
    margin-bottom 21%
    width 76%

.bhp-part1-3-item
  margin-left 22%
  +responsive('max-width: 750px')
    margin 0 auto
    padding-right 1rem
    padding-left 1rem

.bhp-description
  display inline-flex

.bhp-part3
  display flex
  +responsive('max-width: 750px')
    display block

.bhp-signform
  margin-top -12.54rem
  padding-bottom 0
  z-index 2
  border-radius 4px
  border-width 1px
  border-color  #d7d7d7
  border-style solid
  background-color  #ffffff
  +responsive('max-width: 750px')
    display block
    border-width 0
    margin-top 3%
    margin-left 0
    margin-bottom 6%

.bhp-part1-1
  margin-bottom 0.2rem
  margin 0 auto
  width 722px
  +responsive('max-width: 750px')
    width 80%
    margin 0 auto

.bhp-part1-2
  margin-bottom 1.2rem
  margin 0 auto
  width 454px
  +responsive('max-width: 750px')
    width 65%


.bhp-description-icons-sidebar
  background-image url("/assets/frontend/images/design/become-health-professional/icons-sidebar.png")
  background-repeat no-repeat
  width 214px
  height: 415px
  +responsive('max-width: 750px')
    display none
    //background-image url("/assets/frontend/images/design/become-health-professional/icons-sidebar-mobile.png")
    //width 53px

.bhp-item2
  margin-bottom 2.4rem
  p
    color:  #616161;
    font-size: 1rem;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 1.375;/* Approximation due to font substitution */
    text-align left
  +responsive('max-width: 750px')
    margin-bottom 0.62rem

.bhp-part1-3-item-icon
  background-repeat no-repeat
  margin 0 auto
  margin-bottom 0.7rem
  width 49px
  height 49px
  +responsive('max-width: 750px')
    background-size 100%
    margin-bottom 0
    width 25px
    height 25px

.bhp-icon-choose-your-hours
  background-image: url("/assets/frontend/images/design/become-health-professional/calendar.png");

.bhp-icon-set-your-price
  background-image: url("/assets/frontend/images/design/become-health-professional/price-tag.svg");

.bhp-icon-work-from-anywhere
  background-image: url("/assets/frontend/images/design/become-health-professional/globalization.svg");

/******* styles **********/
.bhp .h1-style1
  font-size 3.25rem
  font-weight 400
  text-align center
  b
    font-weight 700
  +responsive('max-width: 750px')
    font-size: 1.54rem
    b
      display block

.bhp .h2-style1
  font-size 1.875rem
  font-weight 500
  line-height 1.067
  +responsive('max-width: 750px')
    font-size 0.798rem

.bhp .h2-style2
  color  #3db7cb
  font-size 2rem
  font-weight 400
  line-height 0.89
  text-align left
  margin-bottom 1rem
  +responsive('max-width: 750px')
    display inline-block
    font-size 1.7rem

.bhp .h2-style3
  border-top-left-radius 4px
  border-top-right-radius 4px
  border-width 1px
  border-color  #3eb7cb
  border-style solid
  background-color  #3eb7cb
  color  #ffffff
  font-size 1.875rem
  font-weight 600
  line-height 1.1
  text-align center
  width 377px
  height 83px

.bhp .h3-style1
  font-size 1.125rem
  font-weight 600
  text-align center
  transform scaleX(1.036)
  +responsive('max-width: 750px')
    font-size 0.76rem

/******** rewrite *********************/
.bhp .auth_form--fast_sign.m-sign
  padding-right 0 !important
  padding-left 0 !important
  padding-top 0 !important
  margin-right 0 !important
  margin-left 0 !important

.bhp .home-signup--form .auth_form--signup
  padding-right 0 !important
  padding-left 0 !important
  margin-right 0 !important
  margin-left 0 !important

.bhp .home-signup--form
  padding-top 0

.bhp .field.m-wide
  margin-right 24px
  margin-left 24px
  width 330px


.bhp .auth_form--fast_sign_title
  border-top-left-radius 4px !important
  border-top-right-radius 4px !important
  border-width 1px !important
  border-color  #3eb7cb !important
  border-style solid !important
  color white !important
  background-color  #3eb7cb !important
  color  #ffffff !important
  font-size 1.875rem !important
  font-weight 600 !important
  line-height 1.1 !important
  text-align center !important
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -2px !important;
  padding-top: 8px !important;
  width: 382px !important
  height 83px !important
  +responsive('max-width: 750px')
    margin-left 0 !important
    margin-right 0 !important
    margin-top 0 !important


.bhp .home-signup--form .auth--col
  width 142%
  +responsive('max-width: 750px')
    width auto

.bhp .home-signup--form .auth--container
  width 380px
  +responsive('max-width: 1280px')
    margin-left 0

.bhp .auth--cols
  display block !important

.bhp .home-signup--form .auth_form--actions
  margin-left 24px

.bhp .home-signup--form_footer
  margin 0

.bhp .auth_form--fast_sign.m-sign .auth_form--fast_sign_or
  margin 0 auto

.bhp .home-signup--form .auth_form--fast_sign
  max-width 380px