<div class="schedule--actions">
	<button class="schedule--actions--custom btn m-red m-small" type="button">Add New Appointment</button>
	<button class="schedule--actions--block_time btn m-small" type="button">Block Time</button>
	<a class="btn m-light_gray_border m-color_gray_dark m-small" href="/dashboard/appointments/setup">Manage Availability</a>
	<button class="schedule--actions--print btn m-print m-mid_gray_border m-small" type="button">Print schedule</button>
</div>
<div class="schedule--header--timezones timezone_note">Times shown in <b>{{timezone}}</b></div>
