<div class="schedule--header--inner" data-dropdown-menu>
	<div class="schedule--header--list">
		<span class="schedule--header--list--more" data-dropdown-menu-toggle>More</span>
		<div class="schedule--header--list--dropdown">
			<div class="schedule--header--list--dropdown--sync" data-dropdown-menu-sync></div>
			<div class="schedule--header--list--dropdown--action">
				<a class="schedule--header--list--dropdown--action--link m-availability" href="/dashboard/appointments/setup">Manage Availability</a>
			</div>
			<!-- <div class="schedule--header--list--dropdown--action">
				<a class="schedule--header--list--dropdown--action--link m-history" href="/dashboard/appointments">Appointments History</a>
			</div> -->
			<div class="schedule--header--list--dropdown--action">
				<button class="schedule--header--list--dropdown--action--link m-print schedule--actions--print">Print Schedule</button>
			</div>
		</div>
	</div>
	<button class="schedule--header--btn_plus" type="button" data-add-appointment-ask>Add New Appointment</button>
</div>
