<div class="popup--container" data-popup-container>
	<button class="popup--close" data-edit-close>close</button>
	<div class="profile_edit_inline--wrap">
		<header class="profile_edit_inline--header">
			<h2 class="profile_edit_inline--header_title">{{{title}}}</h2>
		</header>
		<div data-edit-container></div>
		<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
	</div>
</div>
<div class="popup--bg"></div>
