.popup_refer
	width 860px
	cf()
	height 564px
	
	&--title
		color #fff
		font-weight 300
		font-size rem(36px)
		margin rem(0 0 55px)

	&--sidebar
		width 480px
		float left
		background #24434b url($i 'refer/refer_popup_bg.jpg') center center no-repeat
		background-size cover
		height 100%
		color #fff
		padding 72px 40px 0
		position relative
		
	&--share
		position absolute
		bottom 40px
		left 40px
		.btn_social
			display block
			margin 10px 0 0
		

	&--list
		width 375px
		li
			&
				position relative
				padding 0 0 0 28px
				font-size 1rem
				line-height rem(22px)
				margin rem(22px 0 0 0)
				
				&:before
					display block
					width 9px
					height 9px
					background $green
					content ''
					position absolute
					top 6px
					left 0
					border-radius 100%
					
			&:first-child
				margin 0
				
	&--forms
		float left
		width 380px
		height 100%
		padding 40px
		
	&--form
		&--title
			font-size rem(18px)
			font-weight 600
			margin rem(0 0 22px)
			
		.form--line
			&
				margin-top rem(18px)
				
			&:first-child
				margin 0
				
		&--footer
			padding 20px 0 0
			text-align right
			
			.btn
				width 136px
			
	&--invite_form
		padding 7px 0 0
		
		.popup_refer--form--title
			margin rem(0 0 48px)
			
	&--share_link
		margin rem(45px 0 0)
				

	&--close
		&
			width 28px
			height 28px
			position absolute
			top 40px
			right 40px
			border 1px solid $gray
			text-indent -9999px
			border-radius 28px
			
			&:before
				text-indent 0
				icon($i-times)
				position absolute
				top 50%
				left 50%
				font-size 14px
				center()
				color $gray
				
		&:hover
			border-color $gray_dark
			
			&:before
				color $gray_dark
