.page_header
	&
		background-color #1e2a2d
		color #fff
		text-align center
		background-position center center
		background-repeat no-repeat
		background-size cover
		padding rem(60 20 60 20)
		+responsive('min-width: 768px')
			padding rem(90 20 0 20)
			height 362px
		+responsive('min-width: 980px')
			padding rem(110 0 0 0)

		&--title
			font-size rem(36)
			font-weight 300
			+responsive('min-width: 768px')
				font-size rem(42)
			+responsive('min-width: 980px')
				font-size rem(50)

		&--text
			line-height 1.2
			font-weight 300
			margin rem(4 0 0)
			font-size rem(18)
			+responsive('min-width: 768px')
				font-size rem(20)
			+responsive('min-width: 980px')
				font-size rem(22)
	&.m-about
		background-image url($i 'page/header-about.jpg')

	&.m-press
		background-image url($i 'page/header-press.jpg')

	&.m-affiliate
		background-image url($i 'page/header-affiliate.jpg')
		background-color #fff
		background-size 1700px
		background-position center top
		color $gray_dark
		border-bottom 1px solid $border_color

	&.m-affiliate &
		&--text
			margin rem(17px 0 0)

	&.m-blog
		background-image url($i 'page/header-blog.jpg')

	&.m-blog &
		&--text
			margin rem(8px 0 0)

	&.m-careers
		background-image url($i 'page/header-careers.jpg')

	&.m-careers &
		&--text
			margin rem(8px 0 0)

	&.m-job
		background-image url($i 'page/header-job_details.jpg')
		padding-top rem(90px)

	&.m-contact
		background-image url($i 'page/header-contact.jpg')

	&.m-contact &
	&.m-help &
		&--text
			margin rem(14px 0 0)


	&.m-help
		background-image url($i 'page/header-help.jpg')


	// job
	&--job_time
		&
			text-align center
			font-size rem(22px)
			font-weight 300
			margin rem(14px 0 0)
			span
				display inline-block
				padding 0 0 0 27px
				position relative

		&.m-full
			span:before
				icon($i-o-clock)
				font-size 20px
				position absolute
				top 50%
				left 0
				t-translate(0, -50%)
				margin -2px 0 0

	&--job_buttons
		margin rem(44px 0 0)
		.btn
			font-size 1rem
			padding 14px 10px
			width 184px
			margin 0 3px
		.btn.m-back
			&
				background rgba(#fff, .4)

			&:hover
				background rgba(#fff, .5)


