.cancel_plan
	&--container
		&.m-hide
			display none

	&--content
		max-width 620px
		margin 0 auto
		text-align center
		color $gray

		&.m-hide
			display none

	&--title
		font-size 24px
		text-align center
		margin-bottom 20px
		font-weight 600

	&--text
		font-size 16px
		margin-bottom 20px
		line-height 1.4

	&--response
		padding-top 20px

		&_title
			color $gray_dark
			font-size 28px
			font-weight 600
			margin-bottom 20px

		&_text
			font-size 18px
			margin-bottom 20px
			line-height 1.4

	&--footer
		text-align center
		padding-bottom 35px
		padding-top 10px

		.btn
			min-width 120px
