.page
	background #fff

	&--text
		margin: 50px
		flex 1
		font-size rem(14)
		line-height 1.5
		margin: rem(30 20)
		+responsive('min-width: 768px')
			font-size rem(16)
			margin: rem(40 20)
		+responsive('min-width: 980px')
			font-size rem(18)
			margin: rem(50)
		&
			h1
				line-height 1.2
				font-size rem(28)
				margin rem(0 0 22)
				text-align center
				+responsive('min-width: 768px')
					font-size rem(36)
					margin rem(0 0 32)
				+responsive('min-width: 980px')
					font-size rem(40)
					margin rem(0 0 44)
			h2
				font-size rem(22)
				margin rem(16 0)
				+responsive('min-width: 768px')
					font-size rem(24)
					margin rem(20 0)
				+responsive('min-width: 980px')
					font-size rem(26)
					margin rem(30 0)
			h3
				font-size rem(16)
				font-weight 600
				color $blue
				margin rem(16 0)
				+responsive('min-width: 768px')
					font-size rem(18)
					margin rem(20 0)
				+responsive('min-width: 980px')
					font-size rem(20)
					margin rem(30 0)
			h3
				& + ul
				& + ol
				& + p
					margin-top -10px

			p
			.medium-editor-insert-plugin p
				&
					margin rem(26px 0 0)

				&:first-child
					margin 0

			ul
				margin rem(30px 0 30px)
				li
					position relative
					padding 0 0 0 28px

					&:before
						position absolute
						top 0
						left 0
						icon($i-arrow-right)
						color #c4c4c4
						font-size 14px

			ol
				margin rem(30px 0 30px)
				counter-reset counter

				li
					padding 0 0 0 28px
					position relative
					&:before
						position absolute
						top 0
						left 0
						content counter(counter, decimal) '. '
						counter-increment: counter
						color #c4c4c4
						font-weight 600

			a
				&
					color $blue

				&:hover
					text-decoration underline


