.edit_links

	@media(max-width: 979px)
		margin 0

	&--list
		&--item
			margin rem(0 0 15 0)
			padding-left rem(40)
			position relative
			&:last-child
				margin-bottom 0
			.btn.m-social
				position absolute
				top 50%
				left 0
				t-translate(0, -50%)

			dl
				display flex
				flex-wrap nowrap
				align-items center
			dt
				font-weight 600
				flex 0 0 96px
				margin-right rem(10)
				text-transform capitalize

			dd
				max-width 240px
				width 100%
				flex 1
				.field
					display block
