+mobile_ready_and_mobile()
	.welcome_returning
		&--header_strip
			height 75px
			margin-bottom 10px

			&:before
				top 12px
				width 95px
				height 95px
				margin-left -38px

		&--container
			padding 40px 20px

		&--title
			font-size 24px
			margin-bottom 8px

		&--content
			font-size 14px

			b
				text-transform none

			p
				margin-bottom 0

			&_block
				margin-bottom 20px

				&.m-offer
					font-size 16px
					margin-bottom 15px

					b
						color $red

				&.m-details
					font-size 12px

		&--terms
			font-size 12px
			margin-bottom 26px

			.checkbox
				padding-left 30px

				&--i
					width 21px
					height 21px

					&:before
						font-size 15px

		&--btn
			font-size 16px

			&.btn_round
				&.m-large
					padding 14px 16px 16px

					&.m-arrow
						padding-right 44px

						&:before
							font-size 20px
							right 16px
