.welcome_returning
	&--inner
		text-align center

	&--header_strip
		height 135px
		background $blue_light
		position relative
		margin-bottom 36px

		&:before
			position absolute
			left 50%
			top 25px
			width 160px
			height 160px
			margin-left -60px
			content ''
			background url('/assets/frontend/images/design/welcome/giftbox-open.svg') no-repeat center / contain

	&--container
		padding 60px 6.8%

	&--title
		color $blue_light
		font-size 36px
		margin-bottom 8px

	&--content
		font-size 18px
		color darken($gray_dark, 10%)
		max-width 760px
		margin 0 auto
		line-height 1.2

		b
			text-transform uppercase

		p
			margin-bottom 6px

		&_block
			margin-bottom 28px

			&.m-offer
				font-size 22px
				margin-bottom 18px

				b
					color $red

			&.m-details
				color $gray_dark
				margin-bottom 40px

	&--terms
		font-size 16px
		margin-bottom 38px

		.checkbox
			padding-left 44px

			&--label
				font-weight normal

				a
					color $blue_light

			&--i
				width 24px
				height 24px
				border-radius 2px
				top -2px

				&:before
					font-size 17px
					left 2px
					top 2px

			.field--error
				left 4px
				right auto

	&--btn
		font-size 18px

		&.btn_round
			&.m-large
				padding 18px 30px 20px

				&.m-arrow
					padding-right 55px

					&:before
						font-size 23px
						right 20px
