+responsive('max-width: 1400px')
	.search_results
		&--item
			&--booking
				flex 0 0 auto
				width 38%

+responsive('max-width: 1200px')
	.search_results
		&--item
			&--booking
				flex 0 0 auto
				width 35%

+responsive('max-width: 980px')
	.search_results
		&--content
			clear both
			padding 0 20px 20px

		&--header
			float left
			border none
			background none
			padding-top 22px

			&--title
				padding-left 0

				&:before
					display none

				span.m-short
					display inline

				span.m-long
					display none

		&--toolbar
			&--filters
				display none

		&--item
			min-height 0

			.profile_card--view_on_map
				display none

			&--booking
				display none

			&--title
				display none

			&--content
				position relative

				&--header
					height auto
					border none

			&--price
				position absolute
				top 15px
				right 15px

			&--packages_available
				right 15px
				top 32px
				bottom auto

			&--actions
				padding 10px

				&--btn
					&
					&.btn
						font-size 0
						min-width 60px

					&.m-message
						&:before
							font-size 14px
							margin 0
							height 20px
							overflow visible

					&.m-phone
						&:before
							font-size 22px
							margin 0
							height 20px
							width 22px
							overflow visible

+responsive('max-width: 800px')
	.search_results
		&--item_listed
			display block

		&--item
			&--actions
				padding-top 0
				border none
				width 100%
				justify-content space-between

				&--btn
					&
					&.btn
						font-size 14px
						margin 0
						padding 10px

					&.m-message
						&:before
							font-size 11px
							margin-right 5px
							height 16px

					&.m-phone
						&:before
							font-size 19px
							margin-right 5px
							height 16px
							width 16px

@media (max-width: $mobile-search-bp)
	.search_results
		&--toolbar
			min-height 0
			padding 10px 10px 0
			margin-bottom 0
			border-bottom none

		&--content
			padding 0 10px 20px

		&--item_listed
			display flex

		&--item
			&--actions
				padding 10px
				border-left 1px solid $border_color_mid
				width 35%
				justify-content space-around

+responsive('max-width: 550px')
	.search_results
		&--item
			&--actions
				width auto
				border none

				&--btn
					&
					&.btn
						font-size 0
						margin-left 5px
						min-width 45px
						padding 8px

					&.m-message
						&:before
							font-size 14px
							margin 0
							height 20px
							overflow visible

					&.m-phone
						&:before
							font-size 22px
							margin 0
							height 20px
							width 22px
							overflow visible


+responsive('max-width: 480px')
	.search_results
		&--item_listed
			position relative

		&--item
			&--actions
				position absolute
				bottom 0
				right 0

+responsive('max-width: 360px')
	.search_results
		&--item
			&--actions
				&--btn
					&
					&.btn
						padding 4px
						min-width 40px
