.search_results
	&
		&--header
			height rem(50px)
			background #fcfdfe
			border-bottom 1px solid $border_color
			padding 17px 20px 0
			cf()

			&.m-hide
				display none

			&--title
				font-size 1rem
				position relative
				padding 0 0 0 25px
				font-weight normal
				margin 0 0 0 -5px
				float left

				&:before
					icon($i-map-marker)
					font-size 20px
					position absolute
					left 0
					top 50%
					t-translate(0, -50%)
					margin -1px 0 0
					color $gray

				span.m-short
					display none

			&--compare
				float right
				margin -8px 0 0

		&--toolbar
			cf()
			padding 20px
			padding-top 23px
			border-bottom 1px solid $border_color
			min-height 95px
			margin-bottom 20px

			&--filters
			&--sort
				dt
				dd
					display inline-block

				dt
					font-weight 600
					margin 0 10px 0 0

			&--filters
				float left
				padding 6px 0 0

				dt
				dd
					vertical-align top

				dt
					padding-top 11px
					position relative

				dd
					max-width 440px

			&--sort
				float right

				dt
				dd
					vertical-align middle

				dd
					width 185px

		&--content
			padding 0 20px 20px

		&--empty
			&
				padding 20px
				font-weight bold
				text-align center
				font-size 1rem

				p
					margin-bottom 10px

				.btn
					margin-top 5px

			&.m-hide
				display none

		&--item
			&
				min-height 270px
				display flex

				&--content
					flex 1

					&--header
						border-bottom 1px solid $border_color
						position relative
						height rem(50px)
						padding 0 0 0 15px

				&--price
					font-size rem(12px)
					strong
						font-size rem(14px)
						color $red

				&--packages_available
					display inline-block
					padding 0 8px
					font-size rem(12)
					line-height 1.5
					font-weight 600
					color #fff
					background $red
					border-radius 3px


				&--title
					font-size 1rem
					font-weight 600
					overflow(ellipsis)
					padding 8px 0 5px

					a
						color $gray_dark

						&.m-hover
							color $blue

					span
						color $gray

				&--booking
					display flex
					flex-direction column
					flex 0 0 425px
					border-left 1px solid $border_color
					position relative

					&--header
						border-bottom 1px solid $border_color
						position relative
						height rem(50px)
						position relative
						padding 0 15px

						&--title
							font-size 1rem
							padding rem(16px 0 0)

							span
								font-size rem(14px)
								color $gray

						.skim_nav
							position absolute
							top 12px
							right 10px

					&--content
						padding 0 10px 10px


					&:after
						display none
						position absolute
						bottom 0
						left 0
						width 100%
						height 1px
						background #fff
						content ''

				&--actions
					width 35%
					display flex
					justify-content space-around
					align-items center
					border-left 1px solid $border_color
					position relative
					text-align center
					padding 20px
					flex-wrap wrap

					.btn
						min-width 170px
						padding-top 11px
						padding-bottom 11px
						margin 5px

			// m-class
			&.m-class &
				&--title
					padding-right 20px

				&--booking
					flex 0 0 315px

		&--item_listed
			display flex

		&--loading.loading_overlay .spin.m-logo
			margin-top -40px

		&--loading_more
			text-align center
			padding 20px 10px 35px

			&.m-hide
				display none

			.heartbeat
				vertical-align middle
				margin-right 10px
				top -3px


		// hubspot form styling
		&--know_professional
			margin-top rem(60)
			padding-top rem(60)
			border-top 1px solid $border_color
			&_wrap
				position relative
				margin-left auto
				margin-right auto
				max-width 400px
			&_form
				display none
				text-align left
			&_toggler
				&.m-close
					display none
					position absolute
					left 0
					bottom 0
					z-index 20

			&.m-opened
				.search_results--know_professional_toggler.m-open
					display none
				.search_results--know_professional_form
				.search_results--know_professional_toggler.m-close
					display block

			.hs-form

				.hs-richtext
					margin-bottom rem(15)
					font-size rem(18)
					font-weight 600

				.field
					display block
					margin-bottom rem(10)
					input,
					textarea
						width 100%
					> label
						display none
						font-weight 600
						font-size rem(14)
						margin-bottom rem(5)

				.hs-error-msgs
					font-size rem(14)
					color $red
					font-weight 400
					margin-top 5px

				.actions
					text-align right
					.btn
						margin-top 0
						cursor pointer

			.submitted-message
				text-align center
				margin-top rem(30)
				color $green

	// m-compact
	&.m-compact &
		&--item
			display block

			// &--actions
			//     display none

			&--booking
				border-top 1px solid $border_color
				border-left 0
				margin 10px 0 0


// m-opened map
.search.m-opened_map
	.search_results--toolbar
		dl
			float none

		&--filters
			margin-bottom 15px

		&--sort
			margin 0
