<div class="wizard_booking--block m-pad m-client_location">
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Select Location</h2>
	</header>
	<div class="wizard_booking--client_location">
		<div class="wizard_booking--client_location--errors m-hide" data-generic-error></div>

		<div class="wizard_booking--client_location--main" data-main>
			<div data-listing></div>
			<div class="wizard_booking--client_location--actions">
				<button class="btn m-blue" type="button" data-location-add>Add New Address</button>
			</div>
		</div>
		<div class="wizard_booking--client_location--side m-hide" data-side></div>
	</div>
</div>




