<form class="wizard_booking--client_location--form">
	<div class="wizard_booking--client_location--form_rows">
		<dl class="form--group form--line">
			<dt>Location Name</dt>
			<dd>
				<div class="wizard_booking--client_location--location_name field m-wide">
					<span class="field--error"></span>
					<input name="name" type="text" placeholder="e.g. Home">
				</div>
			</dd>
		</dl>
		<dl class="form--group form--line">
			<dt>Address</dt>
			<dd>
				<div class="wizard_booking--client_location--location_address field m-wide m-icon m-map_marker">
					<span class="field--error"></span>
					<input name="address_line" type="text" placeholder="Enter Your Address">
				</div>
			</dd>
		</dl>
	</div>
	<div class="wizard_booking--client_location--actions m-edit">
		<button class="wizard_booking--client_location--form_cancel btn m-link" data-location-cancel type="button">Cancel</button>
		<button class="wizard_booking--client_location--form_save btn m-blue" type="submit">Save Location</button>
	</div>
</form>
