<label class="wizard_booking--client_location--location_content">
	<span class="radio">
		<input type="radio" name="selected" value="1" data-location-selected>
		<span class="radio--i"></span>
	</span>
	<h3 data-location-name></h3>
	<p data-location-address></p>
</label>
<div class="wizard_booking--client_location--location_actions">
	<button class="wizard_booking--client_location--location_action m-edit" data-location-edit></button>
	<button class="wizard_booking--client_location--location_action m-remove" data-location-remove></button>
</div>
