.error_404
	display flex
	align-items center
	width 100%
	min-height 500px
	&--inner
		position relative
		width 100%
		max-width 1180px
		margin 0 auto
		
		&:after
			content ''
			position absolute
			top 50%
			right 0
			width 479px
			height 425px
			background url($i '404/404.png') no-repeat
			background-size 479px 425px
			margin (-@height/2) 0 0 

	&--text
		font-weight 300
		color #fff
		h1
			font-size rem(170px)
		
		p
			font-size rem(25px)
			line-height rem(30px)
