.error_503
	display flex
	align-items center
	width 100%
	min-height 500px
	text-align center
	color white
	padding 100px 0

	&--inner
		position relative
		width 100%
		max-width 960px
		margin 0 auto

	&--text
		margin-bottom 30px

		h1
			font-size rem(60px)
			text-transform uppercase
			margin-bottom 25px
			line-height 1.2
			font-weight bold

		p
			font-size rem(24px)
			font-weight 300
			line-height rem(30px)
			padding-bottom 20px

	&--social
		li
			display inline-block
			vertical-align top
			margin 0 10px

	&--social_link
		font-size rem(35px)
		color $border_color
		cursor pointer
		display block
		transition all .1s

		&:hover
			color white

		&:before
			line-height 35px
			height 35px
			display block

		&.m-facebook
			&:before
				font-size rem(25px)
				icon($i-facebook2)

		&.m-twitter
			&:before
				icon($i-twitter)

		&.m-googleplus
			&:before
				font-size rem(20px)
				icon($i-google-plus)

		&.m-linkedin
			&:before
				font-size rem(32px)
				line-height 30px
				icon($i-linkedin)

		&.m-youtube
			&:before
				font-size rem(20px)
				line-height 36px
				icon($i-youtube-play-social)
