{{#each items}}
	<dl class="wizard_booking--payment_totals--row m-{{../bookingType}}">
		<dt>{{{label}}}</dt>
		<dd>{{{value}}}</dd>
	</dl>
{{/each}}
<dl class="wizard_booking--payment_totals--row m-total">
	<dt>Total Price</dt>
	<dd data-payment-price-total>{{total}}</dd>
</dl>

{{#if info}}
	<div class="wizard_booking--payment_totals--info">
		<h3 class="wizard_booking--payment_totals--info--title">{{info.title}}</h3>
		<div class="wizard_booking--payment_totals--info--content">{{{info.content}}}</div>
	</div>
{{/if}}

