.client_history
	position relative
	padding rem(30px)
	line-height 1.25rem
	&--header
		margin rem(0 0 30 0)
	&--header_title
		font-size rem(18)
		font-weight 600
		span
			color $blue

	&--table
		max-height 450px
		overflow scroll
		.client_history--table_section
			th,
			td
				text-align center
				color $blue
				border-bottom 1px solid $border_color
