<span class="transactions--preset_select--label">Show</span>
<div class="transactions--preset_select--field">
	<div class="transactions--preset_select--field--select">
		<div class="transactions--preset_select--field--select--label" data-select-label></div>
		<div class="transactions--preset_select--field--select--dropdown m-hide" data-select-dropdown>
			<div class="transactions--preset_select--field--select--presets">
				{{#each presets}}
					<button data-select-preset="{{this.value}}">{{this.label}}</button>
				{{/each}}
				<button data-select-preset="custom">Date Range</button>
			</div>
			<div class="transactions--preset_select--field--select--dates m-hide" data-select-dates>
				<div class="datepicker" data-datepicker="date_from">
					<label class="datepicker--input field m-icon m-datepicker">
						<input type="text" data-datepicker-input placeholder="mm/dd/yy" name="date_from" readonly>
					</label>
				</div>
				<div class="datepicker" data-datepicker="date_to">
					<label class="datepicker--input field m-icon m-datepicker">
						<input type="text" data-datepicker-input placeholder="mm/dd/yy" name="date_to" readonly>
					</label>
				</div>
				<button type="button" class="btn m-light_blue m-small transactions--preset_select--field--select--btn" data-select-view>View</button>
			</div>
			<button class="transactions--preset_select--field--select--close" data-select-cancel>Close</button>
		</div>
	</div>
</div>
