<div class="transactions--table" data-table>
	<ul class="transactions--table--header">
		<li class="transactions--table--item m-date">Date</li>
		<li class="transactions--table--item m-id">Transaction ID</li>
		{{#if type_provider}}<li class="transactions--table--item m-name">Client Name</li>{{/if}}
		{{#unless type_provider}}
			<li class="transactions--table--item m-name">Professional Name</li>
		{{/unless}}
		<li class="transactions--table--item m-paid">Paid Out</li>
	</ul>
	<div class="transactions--table--body" data-listing>
	</div>
</div>
