{{#if type_provider}}
	<ul class="transaction--main">
		<li class="transactions--table--item transaction--item m-date">{{date}}</li>
		<li class="transactions--table--item transaction--item m-id">{{transaction_token}}</li>
		<li class="transactions--table--item transaction--item m-name">{{name}}</li>
		<li class="transactions--table--item transaction--item m-paid">{{paid_out}}</li>
	</ul>
{{else}}
	<ul class="transaction--main">
		<li class="transactions--table--item transaction--item m-date">{{date}}</li>
		<li class="transactions--table--item transaction--item m-id">{{transaction_token}}</li>
		<li class="transactions--table--item transaction--item m-name">{{name}}</li>
		<li class="transactions--table--item transaction--item m-paid">{{amount}}</li>
	</ul>
{{/if}}
