.notification
	border-bottom 1px solid $border_color
	padding rem(23px 30px 23px 23px)
	position relative

	&--title
		color $blue
		font-weight 600
		margin-bottom rem(5)

	a
		&
			color $blue

		&:hover
			text-decoration underline

	dl
		line-height 1.25
		font-size rem(14)

		dt
			display block
			margin rem(0 0 10)
			font-weight 600
			line-height 1.25
		dd
			font-size rem(13)

	&--time
		display block
		font-size rem(12)
		color $gray
		margin rem(0 0 15)

	&--remove
		position absolute !important
		top 14px
		right 10px

	&--actions
		display block
		margin-top rem(5)
		button
			display inline-block
			padding rem(5 10)
			background $blue_light
			font-weight 600
			font-size 12px
			color #fff
			border-radius 3px
			margin rem(5 5 5 0)
			&:hover
				background $blue

			&[data-action="appointment-cancel"]
				background $gray_light
				&:hover
					background $btn_gray_hover
