.notifications
	position relative
	&--header
		border-bottom 1px solid $border_color
		height 60px
		padding 0 10px 0 25px
		display flex
		align-items center

		&--details
			flex 1

		&--menu
			flex 0 0 30px
			position relative

		&--menu_toggler
			cursor pointer
			width 30px
			height 30px
			display block
			position relative
			text-align center
			color lighten($gray_light, 10)
			font-size 16px
			&:before
				icon($i-settings_filled)
				line-height 30px
		&--menu_dropdown
			position absolute
			right -8px
			top 100%
			width 220px
			padding rem(10 13 10 20)
			background #fff
			border 1px solid $border_color
			border-radius 3px
			display none
			box-shadow 0 0 10px rgba(0,0,0,.1)
			z-index 100
			&:after,
			&:before
				bottom: 100%;
				right: 16px
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;

			&:after
				border-bottom-color: #fff;
				border-width: 6px;
				margin-left: -6px;
			&:before
				border-bottom-color: $border_color;
				border-width: 7px;
				margin-left: -7px;
			&.m-show
				display block
			li
				margin-bottom rem(10)
				&:last-child
					margin-bottom 0
			a
				font-size rem(13)
				line-height 20px
				display block
				position relative
				color $gray
				&:hover
					color $blue
				&:before
					icon($i-check-o)
					position absolute
					right 0
					top 50%
					transform translateY(-50%)
					font-size 16px

				&.link--remove
					&:hover
						color $red_mute



		&--title
			font-size rem(14px)

		&--new
			display inline-block
			height 24px
			text-align center
			min-width rem( @height )
			border 1px solid $border_color
			border-radius 24px
			text-align center
			font-weight 600
			font-size rem(13px)
			line-height @height
			color $blue
			margin 0 0 0 6px
		&--read
			position absolute
			right 25px
			top 50%
			margin-top -10px
			line-height 20px
			color $blue
			font-size 14px
			font-weight 600
			&:hover
				text-decoration underline

	.actions
		margin-top 16px
		.btn
			display block
			width 100%
			padding rem(6 10)
			font-size rem(13)
			margin-bottom 5px
			&:last-child
				margin-bottom 0

