.search_map
	&
		position absolute !important
		top 0
		// height 400px
		height 100%
		width 100%
		background rgba(#000, .2)

		&--opener
			&
				display none
				position absolute
				top 250px
				left 0
				t-translate(0, -50%)
				border-radius 0 5px 5px 0
				background $background_color
				width 28px
				height 42px
				text-indent -9999px
				box-shadow 1px 0 2px rgba(#000, .2)

				&:before
					icon($i-chevron-up)
					position absolute
					top 50%
					left 50%
					transform translate(-50%, -50%) rotate(-90deg)
					margin 0 0 0 -2px
					text-indent 0
					font-size 16px
					color $gray

			&:hover
				&:before
					color $gray_dark

			&.m-opened
				margin 0
				&:before
					transform translate(-50%, -50%) rotate(90deg)

	&.m-fixed
		position fixed !important
		right 0
		left auto
		height 100%
		// top 60px !important
		transform translateZ(0)
		margin-top 120px

	&.m-fixed + &--opener
		position fixed
		left auto

	&.m-sticked &
		&--opener
			top 50%

	&.m-bottom
		position absolute
		top auto !important
		bottom 0

	&--dummy_bubble
		visibility hidden
		max-width 220px

	&--bubble
		font-family 'proxima-nova'

		&--header
			position relative
			background #3db7cb
			color #fff
			padding 8px 10px 8px 30px
			font-weight bold
			font-size 14px
			line-height 16px

			&:before
				icon($i-marker)
				color #fff
				font-size rem(15px)
				position absolute
				left 9px
				top 50%
				margin-top -10px

			span
				font-weight normal

		&--address
			padding rem(0 8px 51px) // 12px + 39px bottom padding for button
			font-size 13px
			line-height 1.2
			color $gray

		&--action_btns
			position absolute
			bottom 0
			width 100%
			padding rem(8px)
			padding-top 0

			.btn
				padding rem(6px 12px)
				width 100%
				margin-bottom rem(5)
				&:last-child
					margin-bottom 0
