.comment
	position relative
	padding rem(0 0 0 55)
	margin rem(20 0 0)
	+responsive('min-width: 768px')
		padding rem(0 0 0 60)
		margin rem(24 0 0)
	+responsive('min-width: 980px')
		padding rem(0 0 0 70)
		margin rem(30 0 0)
	&--userpic
		position absolute
		top 0
		left 0

	&--form
		.field
			textarea
				height 93px

		&--footer
			text-align right
			margin 10px 0 0

			.btn
				padding-left rem(30px)
				padding-right rem(30px)


	&--body
		background #fff
		border 1px solid $border_color
		font-size rem(14px)
		line-height rem(22px)
		border-radius 3px
		padding rem(8px 13px 10px)

		a
			color $blue

	&--meta
		padding 2px 0 0
		margin 0 0 10px 5px

	&--reply
		margin 11px 0 0

		a
			padding 0 0 0 20px
			position relative

			&:before
				icon($i-comments)
				color $blue
				position absolute
				top 50%
				left 0
				line-height 1
				t-translate(0, -50%)
				font-size 15px
				margin -2px 0 0

	&--answers
		.comment
			margin 20px 0 0
