<div class="professional_setup--error m-hide m-generic" data-generic-error></div>

<div class="professional_setup--form">

	<div class="professional_setup--panel">

		<div class="professional_setup--form--row" data-edit-service></div>

		<div class="professional_setup--form--row m-locations" data-edit-locations></div>

		<div class="professional_setup--form--row m-hide" data-sub="description">
			<dl class="form--group">
				<dt>Description</dt>
				<dd>
					<div class="field--group">
						<div class="field m-wide">
							<textarea name="description" cols="30" rows="3" placeholder="Add a description of your service here... (optional)"></textarea>
							<span class="field--error"></span>
						</div>
					</div>
				</dd>
			</dl>
		</div>

		<div class="professional_setup--form--row m-hide"  data-edit-sub-services data-sub="sub_services"></div>

		{{#if gift_certificates}}
		<div class="professional_setup--form--row m-certificates m-hide" data-edit-gift-certificates data-sub="gift_certificates"></div>
		{{/if}}

		<div class="professional_setup--sub_footer">
			<button class="professional_setup--sub_footer--btn" type="button" data-sub-toggle="description">Add a Description</button>
			<button class="professional_setup--sub_footer--btn" type="button" data-sub-toggle="sub_services" data-tooltip="dark" title="Select additional services that you provide with the same location and price">Add Sub-Services</button>
			{{#if gift_certificates}}
			<button class="professional_setup--sub_footer--btn" type="button" data-sub-toggle="gift_certificates">Add Gift Certificates</button>
			{{/if}}
		</div>
	</div>

	<div class="professional_setup--error m-hide m-sessions" data-sessions-error></div>

	<div class="professional_setup--panel" data-edit-sessions></div>

	{{#if monthly_packages}}
	<div class="professional_setup--panel" data-edit-packages-reccuring></div>
	{{/if}}

	<footer class="professional_setup--form--actions">
		<button class="btn m-link m-cancel m-large" type="button" data-cancel-service>Cancel</button>
		<button class="btn m-light_blue	m-save m-large" type="button" data-save-service>Save Service</button>
	</footer>
</div>
