<h3 class="professional_setup--heading">
	Monthly Packages
	<button class="professional_setup--heading--tooltip" data-tooltip
			title="Offer clients the option to purchase monthly packages. Choose the session duration, the weekly number of visits, the rate, and the number of months in which the package will extend.">
	</button>
</h3>

<div class="professional_setup--error m-hide" data-packages-error></div>

<div class="professional_setup--reccuring" data-packages-list></div>

<footer class="professional_setup--sub_footer">
	<button class="professional_setup--sub_footer--add" type="button" data-packages-add>Add A Monthly Package</button>
</footer>
