<div class="professional_setup--listing" data-services-list></div>
<div class="professional_setup--panel m-v_pad m-bordered m-hide" data-services-add-container></div>

{{#if isMobile}}
	<div class="professional_setup--footer">
		<button type="button" class="professional_setup--footer--add_btn" data-services-service-type-btn>Add More Services</button>
	</div>
{{else}}
	<div class="professional_setup--footer">
		<button type="button" class="professional_setup--footer--add_btn" data-services-add-btn>Add More Services</button>
		<button type="button" class="professional_setup--footer--add_btn m-introductory" data-introductory-add-btn>Add Introductory Session</button>
	</div>
{{/if}}

