<div class="professional_setup--sessions--item_row">
	<div class="select">
		<select data-select name="duration"></select>
		<span class="field--error"></span>
	</div>
	<span class="label">session for</span>
	<div class="field m-price">
		<i>$</i>
		<input type="text" name="price" placeholder="Price">
		<span class="field--error"></span>
	</div>
	<button class="professional_setup--sessions--remove btn m-remove" type="button" data-session-remove></button>
</div>

<div class="professional_setup--sessions--item_packages" data-session-packages></div>
