<dl class="form--group">
	<dt>Sub-Services</dt>
	<dd>
		<div class="select m-wide">
			<span class="field--error"></span>
			<select name="service_type_ids" multiple></select>
		</div>
	</dd>
</dl>
<footer class="professional_setup--info_footer">
	<p class="professional_setup--info_footer--info">The <strong>Service Type</strong> above will be displayed as your primary service, sub services will be displayed below that.</p>
</footer>
