.popup
	&
		display none
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		z-index 1010
		overflow-y scroll
		background rgba(#fff, .8)

		&--container
			position absolute
			top 50%
			left 50%
			overflow hidden
			border-radius 5px
			box-shadow 0 0 35px rgba(#000, .35)
			z-index 100
			background #fff

			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					position fixed
					min-width 320px
					left 0
					top 0
					width 100%
					height 100%
					box-shadow none
					border-radius 0

			iframe
				margin-bottom -3px

			&.m-video_container
				overflow visible
				border-radius 0
			&.m-msg
				overflow visible

		&--content
			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					overflow auto
					position relative
					height 100%

			&.m-padded
				padding 35px 40px 0
				+mobile_ready_and_mobile()
					+responsive('max-width: 767px')
						padding-bottom 80px
				+mobile_ready_and_mobile()
					+responsive('max-width: 550px')
						padding 30px 25px 80px

			&.m-w480
				max-width 480px

		&--bg
			position absolute
			top 0
			left 0
			width 100%
			height 100%

		&--close
			&
				width 28px
				height 28px
				position absolute
				top 40px
				right 40px
				border 1px solid $gray
				text-indent -9999px
				border-radius 28px
				z-index 1

				&:before
					text-indent 0
					icon($i-times)
					position absolute
					top 50%
					left 50%
					font-size 14px
					center()
					color $gray

			&.m-video_close
				position absolute
				background #fff
				top -14px
				right -14px
				border 1px solid #eee
				+responsive('max-width: 768px')
					top 10px
					right 10px

				&:hover
					border 1px solid #eee

				&:before
					color #000

			&:hover
				border-color $gray_dark

				&:before
					color $gray_dark

			&.m-white
				border-color #fff
				color #fff

				&:before
					color #fff

		&--text
			font-size 16px
			p
				margin-bottom 15px

	&--video
		.popup--bg
			background rgba(#000, .6)

	&--video_wrap
		height 0
		width 600px
		overflow hidden
		padding-top 56.25%
		iframe
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			display block

	&--msg
		position absolute
		left 0
		bottom 100%
		margin-bottom rem(30)
		background #CFEDF1
		color #5C6B6D
		border 1px solid #8FC4CC
		font-weight 600
		font-size rem(16)
		text-align center
		padding rem(16 20)
		right 0
		border-radius 3px
		+responsive('max-width: 767px')
			position static
			left auto
			right auto
			margin rem(10 20)
			font-size rem(14)
			padding rem(12)

	&--header
		border-bottom 1px solid $border_color
		background $background_color
		padding rem(30 40)
		+responsive('max-width: 767px')
			padding rem(12 20)
		.popup--close
			top 30px
			right 40px
			+responsive('max-width: 767px')
				top 12px
				right 20px
		&.m-blue
			padding-top 26px
			padding-bottom 26px
			background $blue_light

			.popup--close
				top 27px
				border-color white

				&:before
					color white

				&:hover
					opacity .8

		&.m-blue &
			&_title
				color white
				font-size 22px
				font-weight normal
				line-height 1.2

	&--header_title
		padding-right 40px
		line-height 28px
		font-size rem(18)
		color $gray_dark
		font-weight 600
		+responsive('max-width: 767px')
			font-size rem(16)

	&--footer
		text-align right
		padding 20px 0 35px

		&:empty
			padding 15px 0 20px

		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				.btn
					font-size 16px
					padding-top 14px
					padding-bottom 14px
					width 100%
					margin-bottom 10px

		.btn
			min-width 120px
			padding-top 11px
			padding-bottom 11px

			&.m-link
				min-width 0

	&.m-big_popup &
		&--container
			top 0 !important
			margin-top 20px !important
			margin-bottom 20px
			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					margin-top 0 !important

	&.m-dark &
		&--bg
			background rgba(#000, .2)

	&.m-modal &
		&--container
			box-shadow 0 5px 15px rgba(#000, .35)

	&.m-video
		width auto
		height auto

	&.m-auth
		z-index 1011
		.popup--content
			+responsive('max-width: 700px')
				display flex
				align-items flex-start
				flex-direction column

	&.m-membership
		z-index 1011

	&.m-membership &
		&--container
			overflow visible

	&.popup_response
		z-index 1012

html.m-popup_opened
	&
	body
		overflow hidden
