.have_question
	&
		background #7d9e4a
		color #fff
		text-align center
		padding rem(60px 0)

		&--title
			font-size 36px
			font-weight 300
			margin rem(0 0 34px)

		.btn
			&
				width 200px
				height 52px
				font-size 18px
				box-shadow 0 2px 5px rgba(#000, .3)
				
			&:active
				box-shadow inset 0 2px 0 rgba(#000, .3)
				top 2px
				
			&:active &
				&--icon
					box-shadow inset 0 2px 0 rgba(#000, .2)

	&.m-blue
		background #2b899a url($i 'join_us.jpg') center top no-repeat
