.accordion_panes
	&
		padding 0

		&--list
			&.m-post_settings
				border-bottom 1px solid #ebebeb
				.accordion_panes--item--opener
					padding-bottom rem(20px)
				.accordion_panes--item--content
					margin-top 12px

		&--item
			&
				position relative
				border-top 1px solid $border_color

				&--opener
					display block
					cursor pointer
					font-weight 600
					color $blue
					padding rem(18px 35px 14px)
					user-select none
					position relative
					z-index 2
					line-height 1.3

					& > b
						margin-right 10px

					&.m-sm
						font-size 16px

					&--selected
						padding-right 10px
						display inline-block
						font-weight 400
						color $gray_light

						span
							&
								&:after
									content ', '

							&:last-child
								&:after
									content none

				&--content
					&
						display none
						padding rem(0 35px 20px)
						margin rem(-11px 0 0)

					&.m-bt
						border-top 1px solid $border_color !important
						margin-top 0
						padding-top rem(12px) !important


					&.m-btm
						border-top 1px solid $border_color !important
						margin-top rem(12px)
						padding-top rem(48px) !important

					&.m-api-content-bt
						border-top 1px solid $border_color !important
						margin-top 0
						padding-top rem(24px) !important

					&.m-space_top
						margin 0

					.offers_list
						margin-bottom rem(28px)


					.m-headline-margins
						margin rem(24px 0)

					> p
						line-height rem(20px)
						margin 12px 0 0


				&--arrow
					display block
					width 24px
					height 24px
					border 1px solid #ccc
					position absolute
					top 14px
					right 16px
					border-radius 100%

					&:before
						icon($i-chevron-down)
						color $gray_dark
						position absolute
						top 50%
						left 50%
						transform translate(-50%, -50%)
						font-size rem(14px)

				&--checkboxes
					padding 12px 0 0
					margin 0 0 -4px
					cf()
					li
						&
							float left
							width 155px
							vertical-align top
							margin 12px 0
							padding-right 3px

						&:nth-child(4n+1)
							clear left

				> input
					position absolute
					left -9999px

				input:checked ~ &--content
					display block

				input:checked ~ &--arrow
					&:before
						icon($i-chevron-up)
						margin-top -1px

				.accordion_panes--item--content
					.field
						input
							position relative
							left 0

						&:before
							z-index 1

			&:first-child:not(.content_block)
				border 0

			&.m-error &
				&--opener
					color $red


	&.m-in_block
		border-top 1px solid $border_color
		border-bottom 1px solid $border_color

	> footer
		margin rem(0 -36px -2px)
		padding-top 0
		padding-bottom 0

		.btn
			margin-top rem(16px)
