+responsive('max-width: 960px')
	.pricing_box
		margin-left 0
		margin-right 2%

		&:last-child
			margin-right 0

		&--header
			letter-spacing 0

+responsive('max-width: 850px')
	.pricing_box
		&--header
			font-size 22px
			padding 20px 5px
			letter-spacing 0.02em

		&--bookings
			font-size 18px

		&--options
			font-size 17px

			.inline_icon
				top -3px

+responsive('max-width: 760px')
	.pricing_box
		display block
		margin 0 auto 30px
		max-width 320px
		width 90%
		flex-basis 90%

		&:last-child
			margin-right auto

		&--content
			font-size 16px

		&--tip
			transform translateX(0)
			right -77px
			left auto

			&:before
			&:after
				left 71.5%

+responsive('max-width: 640px')
	.pricing_box
		&--content
			padding 15px 20px 20px

		&--bookings
			padding 13px 0 11px

		&--options
			padding-top 12px
			margin-bottom 12px

+responsive('max-width: 480px')
	.pricing_box
		&--bookings
			.pricing--tip
				transform: translateX(-72%)

				&:before
					left auto
					right 68px

				&:after
					left auto
					right 68px
					margin-left auto
					margin-right 1px
