+responsive('max-width: 960px')
	.pricing_box
		&.m-small
			margin-left 1%
			margin-right 1%

+mobile_ready_and_mobile()
	+responsive('max-width: 767px')
		.pricing_box
			&.m-small
				margin-left auto
				margin-right auto
				max-width 240px
