.pricing_box
	&.m-green &
		&--header
			background-color #a7d155
			border-color #a7d155

			&:after
				border-color #a7d155 transparent transparent transparent

		&--bookings
			color $green

		&--price
			&_val
				color $green

		&--short
			&_header
				color $green

			&_price
				b
					color $green

	&.m-green.m-best_deal &
		&--header
			border-color darken(#a7d155, 10%)

		&--content
			border-color darken(#a7d155, 10%)

		&--short
			border-color darken(#a7d155, 10%)

	&.m-red &
		&--header
			background-color $red_mute
			border-color $red_mute

			&:after
				border-color $red_mute transparent transparent transparent

		&--bookings
			color $red_mute

		&--price
			&_val
				color $red_mute

		&--short
			&_header
				color $red_mute

			&_price
				b
					color $red_mute


	&.m-blue.m-best_deal &
		&--header
			border-color darken($red_mute, 10%)

		&--content
			border-color darken($red_mute, 10%)

		&--short
			border-color darken($red_mute, 10%)

	&.m-blue &
		&--header
			background-color $blue_mute
			border-color $blue_mute

			&:after
				border-color $blue_mute transparent transparent transparent

		&--bookings
			color $blue_mute

		&--price
			&_val
				color $blue_mute

		&--short
			&_header
				color $blue_mute

			&_price
				b
					color $blue_mute

	&.m-blue.m-best_deal &
		&--header
			border-color #005d78

		&--content
			border-color #005d78

		&--short
			border-color #005d78
