.pricing_box
	&.m-small
		max-width 215px
		margin 0 1.5%
		margin-bottom 25px

	&.m-small &
		&--header
			font-size 21px
			height 48px
			padding 13px 5px

			&:after
				bottom -7px
				margin-left -6px
				border-width 7px 6px 0 6px

		&--content
			padding 15px 30px 20px

		&--price
			font-size 42px
			padding-bottom 10px

			sup
				font-size 16px
				top -2px
				left -3px

			&_label
				font-size 11px

		&--bookings
			font-size 16px
			margin 0 -20px
			padding 13px 0 11px

		&--tip_holder
			&:before
				width 17px
				height 17px
				padding 3px
				font-size 10px

		&--tip
			padding 10px
			min-width 240px

		&--options
			font-size 15px
			padding-top 11px

			&_list
				margin 0 -10px 10px

			li
				margin 0 auto 5px
				max-width 140px

			.inline_icon
				margin-left 3px
				top -1px
				&.m-comments
					&:before
						font-size 15px

				&.m-gift
					&:before
						font-size 15px

		&--actions
			.btn_round
				font-size 14px
				min-width 124px
				padding-top 10px
				padding-bottom 10px

			&_change
				&
				&.btn_round
					font-size 13px
					padding-top 11px

			&_current
				font-size 14px
				padding-top 10px
				padding-bottom 10px

		&--best_deal
			bottom -4px
			right -4px

			span
				font-size 11px
				padding 7px 0 8px
				margin-top 62px
				margin-left 27px
				width 96px

				&:before
				&:after
					top -6px

				&:before
					border-width 6px 0 0 6px
					left 0

				&:after
					border-width 0 0 6px 6px
