.pricing_box
	max-width 270px
	display block
	display flex
	flex-direction column
	flex-grow 1
	flex-basis 30%
	margin 0 2.1%
	margin-bottom 30px
	border-radius 5px 5px 0 0
	box-shadow 0 1px 3px rgba(black, .15)
	text-align center
	position relative

	&--header
		font-weight 600
		text-transform uppercase
		text-align center
		font-size 26px
		padding 18px 5px
		letter-spacing 0.03em
		height 60px
		background $gray_lighter
		position relative
		border-radius 5px 5px 0 0
		color white
		border 1px solid $gray_lighter
		border-bottom none
		white-space nowrap

		&:after
			display block
			content ''
			bottom -10px
			left 50%
			margin-left -8px
			position absolute
			width 0
			height 0
			border-style solid
			border-width 10px 8px 0 8px
			border-color $gray_lighter transparent transparent transparent

	&--content
		padding 20px 40px 25px
		background white
		flex-grow 1
		display flex
		flex-direction column
		border 1px solid white
		border-top none

	&--price
		font-size 52px
		font-weight bold
		border-bottom 1px solid $border_color
		padding-bottom 13px

		sup
			font-size 20px
			vertical-align super
			font-weight normal
			position relative
			top -2px
			left -3px
			letter-spacing 0

			&.m-currency
				color $gray

		&_val
			letter-spacing 0.04em
			line-height 1.15

		&_label
			text-transform uppercase
			display block
			font-size 14px
			color $gray
			font-weight normal

	&--bookings
		font-size 20px
		font-weight 600
		text-transform uppercase
		margin 0 -30px
		padding 15px 0 13px
		transition opacity .15s

	&--options
		border-top 1px solid $border_color
		font-size 19px
		color #a4a3a3
		padding-top 15px
		flex-grow 1
		text-align left
		transition opacity .15s

		&_list
			margin 0 -20px 15px

		li
			margin 0 auto 3px
			max-width 180px

		.inline_icon
			color #cdcccc
			margin-right 0
			margin-left 5px
			top -2px
			&.m-comments
				&:before
					font-size 20px
					margin-right 0

			&.m-gift
				&:before
					font-size 20px
					margin-right 0

	&--actions
		text-align center
		transition opacity .15s
		margin-left -25px
		margin-right -25px

		.btn_round
			font-size 18px
			text-transform uppercase
			min-width 145px
			font-weight bold
			transition opacity .15s
			backface-visibility hidden
			padding-top 12px
			padding-bottom 12px
			position relative
			z-index 7

		&_current
			font-size 18px
			text-transform uppercase
			padding-top 12px
			padding-bottom 12px
			display inline-block
			font-weight 600
			color $gray
