.pricing_box
	&--tip_holder
		position relative
		cursor pointer
		display inline-block
		width 30px
		height 30px
		position relative
		top -1px
		text-align center
		margin-top -10px
		margin-bottom -5px
		padding-top 5px

		&:before
			display inline-block
			vertical-align middle
			color $gray_light
			border-radius 50%
			width 20px
			height 20px
			content '?'
			font-weight bold
			font-size 14px
			text-align center
			background $background_color
			border 1px solid white
			transition all .2s
			box-shadow 0 0 0 1px $border_color
			padding 3px

		&:hover
			&:before
				color white
				background-color $gray_light
				border-color white
				box-shadow 0 0 0 1px $gray_light

	.tooltipster-content &--tip
		display block

	&--tip
		position absolute
		display none
		top 100%
		left 50%
		transform translateX(-50%)
		padding 13px 15px
		text-align center
		border 1px solid $border_color
		font-size 12px
		color $gray_dark
		box-shadow 0 3px 4px rgba(black, .2)
		background white
		text-transform none
		min-width 270px
		z-index 8
		margin-top -5px
		font-weight normal
		line-height 1.1

		&:before
		&:after
			position absolute
			display block
			content ''
			width 0
			height 0
			border-style solid
			left 50%

		&:before
			border-width 0 5px 5px 5px
			border-color transparent transparent $border_color transparent
			margin-left -5px
			top -6px

		&:after
			border-width 0 4px 4px 4px
			border-color transparent transparent white transparent
			margin-left -4px
			top -4px

		&.m-small
			min-width 260px

			&:before
			&:after
				left 70.5%
