.pricing_box
	&--short
		position absolute
		bottom 0
		width 100%
		left 0
		padding 20px 20px 25px
		border 1px solid white
		border-top none
		opacity 0
		transition opacity .2s
		visibility hidden

		&_header
			font-weight 600
			text-transform uppercase
			margin-bottom 8px
			font-size 18px

		&_price
			color #a4a3a3
			font-size 16px
			display block
			margin-bottom 5px

			i
				font-style normal
				font-size 14px

		&_bookings
			color #a4a3a3
			font-size 14px
			text-transform uppercase
			margin-bottom 5px
			min-height 20px

			.pricing--tip_holder
				&:before
					width 18px
					height 18px
					font-size 11px
					padding 2px

		&_actions
			.btn_round
				font-size 15px
				text-transform uppercase
				padding-top 10px
				padding-bottom 10px
				min-width 120px
				transition all .15s

				&:hover
					opacity .8
