.pricing_box
	&--best_deal
		width 100px
		height 100px
		overflow hidden
		position absolute
		bottom -6px
		right -6px
		z-index 6

		span
			display block
			background $blue_light
			font-size 13px
			font-weight 600
			text-shadow 0 -1px 0 rgba(black, .15)
			padding 10px 0
			transform rotate(-45deg)
			text-transform uppercase
			color white
			margin-top 50px
			margin-left 0
			width 130px

			&:before
			&:after
				position absolute
				display block
				content ''
				width 0
				height 0
				top -7px
				border-style solid

			&:before
				left 2px
				border-width 7px 0 0 7px
				border-color transparent transparent transparent #2393bf

			&:after
				right 0
				border-width 0 0 7px 7px
				border-color transparent transparent #2393bf transparent

	&.m-best_deal &
		&--best_deal
			display block
