.modal
	&--header
		background #3db7cb
		color #fff
		height 80px
		position relative
		padding 29px 40px 0

		.popup--close
			position absolute
			top 50%
			right 40px
			t-translate(0, -50%)

	&--title
		font-size rem(22px)
		
	&--body
		padding 40px
