<header class="client_locations--header">
	<div class="client_locations--header--add">
		<button class="btn m-red" type="button" data-location-add>Add New Address</button>
	</div>
</header>
<div class="client_locations--locations" data-locations></div>
<span class="loading_overlay m-light"><span class="spin m-logo"></span></span>
