<form class="client_locations--form">
	<div class="client_locations--form--content">
		<div class="client_locations--form--errors m-hide" data-generic-error></div>
		<div class="client_locations--form--rows">
			<dl class="form--group form--line">
				<dt>Location Name</dt>
				<dd>
					<div class="client_locations--location_name field m-wide">
						<span class="field--error"></span>
						<input name="name" type="text" placeholder="e.g. Home">
					</div>
				</dd>
			</dl>
			<dl class="form--group form--line">
				<dt>Address</dt>
				<dd>
					<div class="client_locations--location_address field m-wide m-icon m-map_marker">
						<span class="field--error"></span>
						<input name="address" type="text" placeholder="Enter Your Address">
					</div>
				</dd>
			</dl>
		</div>
	</div>
	<footer class="client_locations--form--footer">
		<button class="client_locations--form--cancel btn m-link" data-location-cancel type="button">Cancel</button>
		<button class="client_locations--form--add_card btn m-red" type="submit">Save Location</button>
	</footer>
	<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
</form>
