<table class="client_locations--table">
	<thead>
	<tr>
		<th class="client_locations--table--name">Name</th>
		<th class="client_locations--table--address">Address</th>
		<th class="client_locations--table--actions">Action</th>
	</tr>
	</thead>
	<tbody data-listing></tbody>
</table>
