<td class="client_locations--table--name">
	<strong data-location-name></strong>
</td>
<td class="client_locations--table--address">
	<span data-location-address></span>
</td>
<td class="client_locations--table--actions">
	<span class="client_locations--table--action">
		<a class="client_locations--table--action--edit" href="#" data-location-edit></a>
	</span>
	<span class="client_locations--table--action">
		<a class="client_locations--table--action--remove" href="#" data-location-remove></a>
	</span>
</td>
