<div class="popup--container" data-popup-container>
	<div class="add_client--wrap">
		<header class="popup--header">
			<h2 class="popup--header_title add_client--header_title">Add New Client</h2>
			<button class="popup--close" data-popup-close>close</button>
		</header>
		<div class="popup--content">
			<div class="add_client--form">
				<div class="alert m-full m-notification m-show">Your client will receive an email notification</div>
				<dl class="form--group ">
					<dt><label for="first_name">First Name</label></dt>
					<dd>
						<div class="field m-wide">
							<span class="field--error"></span>
							<input name="first_name" id="first_name" type="text">
						</div>
					</dd>
				</dl>
				<dl class="form--group ">
					<dt><label for="first_name">Last Name</label></dt>
					<dd>
						<div class="field m-wide">
							<span class="field--error"></span>
							<input name="last_name" id="last_name" type="text">
						</div>
					</dd>
				</dl>
				<dl class="form--group ">
					<dt><label for="email">Email Address</label></dt>
					<dd>
						<div class="field m-wide">
							<span class="field--error"></span>
							<input name="email" id="email" type="email">
						</div>
					</dd>
				</dl>
				<dl class="form--group ">
					<dt><label for="phone">Phone Number</label></dt>
					<dd>
						<div class="field m-wide">
							<span class="field--error"></span>
							<input name="phone" id="phone" type="tel" x-autocompletetype="tel">
						</div>
					</dd>
				</dl>
			</div>
			<footer class="add_client--footer">
				<span class="add_client--footer_actions">
					<button class="add_client--cancel btn m-link" type="button" data-popup-close>Cancel</button>
					<button class="add_client--save btn m-red" type="button">Send Invitation</button>
				</span>
			</footer>
		</div>
		<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
	</div>
</div>
<div class="popup--bg" data-popup-close></div>
