<div class="profiles_list--header--sort">
	<dl class="form--group m-horizontal">
		<dt class="form--sort-by">Sort by</dt>
		<dd class="field">
			<div class="select profiles_list--sort-select2">
				<select data-profiles-sort name="sort" id="profiles_list--header--sort"></select>
			</div>
		</dd>
	</dl>
</div>
<div class="profiles_list--header--search">
	<div class="field">
		<input type="text" value="" data-profiles-search name="search" placeholder="Filter by Name">
	</div>
</div>
<div class="profiles_list--header--actions">
	<button class="btn m-light_gray_border" data-profiles-import>Invite Clients</button>
	<!-- <button class="btn m-light_gray_border m-upload_clients" data-profiles-import>Upload Clients</button> -->
	<!-- <button class="btn m-red" data-profiles-add>Add Client</button> -->
</div>
