<table class="profiles_list--table">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Email</th>
			<th>Last Invitation Sent</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody data-invites-listing></tbody>
</table>
