<td class="profiles_list--table--avatar">
	<a data-profile-link>
		<a data-profile-link class="userpic m-circle m-xs m-no_border">
			<span data-avatar class="userpic--inner"></span>
		</a>
	</a>
</td>
<td class="profiles_list--table--details">
	<span class="profiles_list--table--profile" data-name></span>
</td>
<td class="profiles_list--table--email">
	<span data-invite-email></span>
</td>
<td class="profiles_list--table--date">
	<span data-last-invite></span>
</td>
<td class="profiles_list--table--actions">
	<span class="profiles_list--table--action">
		<span class="profiles_list--table--btn_wrap" data-tooltip="dark m-much_text">
			<button type="button" class="btn m-blue m-small m-text" data-resend-invite>Resend Invitation</button>
		</span>
	</span>
</td>
