<td class="profiles_list--table--avatar">
	<a data-profile-link>
		<span data-avatar></span>
	</a>
</td>
<td class="profiles_list--table--details">
	<span class="profiles_list--table--profile">
		<a data-profile-link>
			<span data-name></span>
		</a>
	</span>
	<span data-visits class="profiles_list--table--visits"></span>
</td>
<td class="profiles_list--table--appointment">
	<strong class="profiles_list--table--appointment_row" data-last-appointment-time></strong>
	<span class="profiles_list--table--appointment_row" data-last-appointment-service></span>
	<span class="profiles_list--table--appointment_row" data-last-appointment-location></span>
</td>
<td class="profiles_list--table--appointment">
	<strong class="profiles_list--table--appointment_row" data-next-appointment-time></strong>
	<span class="profiles_list--table--appointment_row" data-next-appointment-service></span>
	<span class="profiles_list--table--appointment_row" data-next-appointment-location></span>
	<div class="profiles_list--table--appointment_actions m-clients">
		<div data-waiting-appointment-confirmation class="profiles_list--table--appointment_waiting">
			Waiting for client confirmation
		</div>
		<div data-confirm-appointment>
			<a href="#" data-confirm-link class="m-confirm">Confirm Appointment</a>
		</div>
		<div data-cancel-appointment>
			<a href="#" data-cancel-link class="m-cancel">Cancel Appointment</a>
		</div>
	</div>
</td>
<td class="profiles_list--table--phone">
	<span data-phone></span>
</td>
<td class="profiles_list--table--actions m-clients">
	<span class="profiles_list--table--action">
		<a data-message-link class="profiles_list--table--action_link m-msg" data-tooltip="dark" title="Send Message"></a>
	</span>
	<span class="profiles_list--table--action">
		<a data-profile-link class="profiles_list--table--action_link m-profile" data-tooltip="dark" title="View Profile"></a>
	</span>
	<span class="profiles_list--table--action">
		<a data-home-visits-allowance class="profiles_list--table--action_link m-home_visit" data-tooltip="dark m-much_text" title></a>
	</span>
	<span class="profiles_list--table--action">
		<a data-toggle-session-excemption class="profiles_list--table--action_link m-introductory" data-tooltip="dark m-much_text" title="Allow client to book an appointment without scheduling an introductory appointment."></a>
	</span>
	<span class="profiles_list--table--action m-full">
		<a data-new-link class="profiles_list--table--action_link m-blue m-text">New Appointment</a>
	</span>
</td>
