.client_locations
	display block

	position relative

	&--header
		padding 30px 24px
		&.m-hide
			display none

		&--add
			margin-left auto
			text-align right

		&--actions
			margin 0 auto
			max-width 280px

	&--table
		width 100%
		thead
			th
				border 1px solid $border_color
				border-left 0
				border-right 0
				background #f9fafc
		tbody
			td
				border-bottom 1px solid $border_color
			tr
				&.m-hide
					display none
				&:last-child
					td
						border-bottom 0

		th,
		td
			padding 10px
			text-align left
			vertical-align middle
			line-height 1.4
			white-space nowrap
			&:first-child
				padding-left 20px
			&:last-child
				padding-right 20px
		th
			font-weight 600
			font-size 14px
			color $gray
		&--name
			width 30%

		&--actions
			width 50px
		&--action
			display inline-block
			margin-left 10px
			&--edit,
			&--remove
				font-size 18px
				&:link,
				&:visited
					color $gray_light
			&--edit
				&:hover
					color $blue
				&:before
					icon($i-pencil)
			&--remove
				&:hover
					color $red_mute
				&:before
					icon($i-times)

		&--account_number
			width 30%

		&--empty
			p
				text-align center

	&--form
		&--content
			padding rem(40)
			min-height 250px
		&--footer
			cf()
			border-top 1px solid $border_color
			padding rem(12 40)
			text-align right
		&--errors
			margin-bottom rem(15)
			&.m-hide
				display none
			&.m-base
				margin rem(15 20 0)
			&.m-wizard
				margin rem(15 0 0)
			.alert
				width auto
				padding rem(12 20)
				text-align center
				color $gray_dark
				font-weight 600
				border 1px solid $red_mute
				border-radius 3px
				background lighten($red_mute, 25)
				&:before
					display none
		&--row
			margin-bottom rem(20)
