+responsive('max-width: 1400px')
	.profile_card
		&.m-small &
			&--info
				padding-top 6px

+responsive('max-width: 1220px')
	.profile_card

		&--photo
			flex 0 0 200px

			.userpic.m-xxlarge
				width 200px
				height 200px

			&--gallery
				.userpic.m-small
					width 44px
					height 44px

		&--header
			h1
				padding-right 0

		&--actions
			position relative
			top 0
			left 0
			padding 20px 0 0

			li
				&:first-child
					margin 0

		&--info
			&--line
				&.m-contacts
					align-items flex-start

					dt
						padding 6px 0 0


			&--contacts
				li
					&
					&:first-child
						margin 0 5px 5px 0

+responsive('max-width: 1180px')
	.profile_card
		&--action_btns
			&--edit
				&:after
					display none

+responsive('max-width: 1050px')
	.profile
		.profile_card

			&--photo
				flex 0 0 180px

				.userpic.m-xxlarge
					width 180px
					height 180px

			&--info
				&--line
					display block

					&.m-rating
						padding-bottom 10px

					dt
						margin-bottom 5px

			&--invitations
				margin 20px 0 0 0
				min-height 30px

				&--loading
					.spin
						top 75%

			&--action_btns
				&--edit
					&:after
						display block

+responsive('max-width: 980px')
	.profile_card
		&
			padding 20px

		&--info
			padding-right 0

		&--action_btns
			&.m-edit
				position relative
				display inline-block
			&--edit
				&:after
					height 55px
					margin-left 20px
					margin-top -10px
					left 100%
					top auto
					bottom 0

		&--footer
			display flex

		&.m-search &
			&--header
				&--title
					margin-bottom 9px
					min-height 35px

			&--info
				min-height 0
				display none

			&--photo
				flex 0 0 auto

				&--userpic
					.userpic
						width 120px
						height 120px

				&--btns
					display none

+responsive('max-width: 940px')
	.profile
		.profile_card
			&--action_btns
				&--edit
					padding-bottom 80px
					&:after
						bottom 0
						left 50%
						top auto
						margin-left -71px

+responsive('max-width: 920px')
	.profile
		.profile_card
			&--photo
				flex 0 0 160px

				.userpic.m-xxlarge
					width 160px
					height 160px

+responsive('max-width: 860px')
	.profile
		.profile_card
			display block
			text-align center
			cf()

			&--main
				padding rem(20px 0 0 0)

			&--header
				&--categories
					li
						&
							display inline

						&:after
							content ','

						&:last-child
							&:after
								content none

			&--info
				padding-top 10px

				&--line
					&
						display flex
						text-align left

					&.m-rating
						justify-content center

						dt
							display none

					&.m-contacts
						text-align left
						display block

						dt
							margin-bottom 10px

+responsive('max-width: 800px')
	.profile_card
		&.m-search
			display block
			padding 15px

		&.m-search &
			&--main
				padding-left 0
				padding-top 13px

			&--header
				&--title
					min-height 30px
					font-size 22px

			&--photo
				float left
				margin-right 15px
				margin-bottom 10px
				position relative
				z-index 2

				&--userpic
					.userpic
						width 80px
						height 80px

			&--footer
				clear both
				min-height 0

+responsive('max-width: 750px')
	.profile
		.profile_card
			display flex
			text-align left

			&--photo
				flex 0 0 200px

				.userpic.m-xxlarge
					width 200px
					height 200px

			&--main
				padding rem(12px 0 0 30px)

			&--header
				&--categories
					li
						&
							display block

						&:after
							content none

			&--info
				padding-top 24px

				&--line
					&
						display block

					&.m-rating
						justify-content flex-start
						padding-bottom 0

						dt
							display block

+responsive('max-width: 520px')
	.profile
		.profile_card
			padding 15px 15px 20px
			display block
			text-align center

			&--main
				padding rem(20px 0 0 0)

			&--header
				&--categories
					li
						&
							display inline

						&:after
							content ','

						&:last-child
							&:after
								content none

			&--info
				padding-top 10px

				&--line
					&
						display flex
						text-align left

						dt
							flex-basis 120px

					&.m-rating
						justify-content center
						margin-bottom 20px

						dt
							display none

					&.m-contacts
						text-align left
						display block

						dt
							margin-bottom 10px
	.profile_card
		.star_rating.m-s
			.star_rating--star
				&:before
					font-size rem(14px)

		&.m-search
			padding 10px

		&.m-search &
			&--header
				&--title
					font-size 20px
					margin-bottom 5px

			&--main
				padding-top 10px

			&--photo
				margin-bottom 3px

				&--userpic
					.userpic
						width 72px
						height 72px

		&--next_available
			font-size 13px

+responsive('max-width: 380px')
	.profile_card
		&.m-search &
			&--header
				&--title
					min-height 27px
					font-size 16px

			&--main
				padding-top 10px

			&--photo
				margin-bottom 3px

				&--userpic
					.userpic
						width 66px
						height 66px

			&--book_now
				min-width 0
				font-size 14px
				padding 8px 15px
