.profile_card
	&
		padding 20px 20px 25px
		cf()
		display flex
		position relative

		&.m-infowindow
			&.m-small
				padding rem(8px)

			.profile_card
				&--info
					padding-top 0 !important

					&--line
						display block
						margin-top 3px

					h3
						color #6b6b6b
						font-size 14px
						font-weight bold
						margin-bottom 3px

						a
							&
								color #6b6b6b

							&:hover
								text-decoration underline

						span
							font-weight normal
							color #a1a1a1

					.profile_card--desc
						font-size 12px
						color #9e9e9e
						line-height 1.2

			.star_rating
				width 100px


		&--basic_info
		&--contacts
			&.m-edit
				position relative
				padding 20px
				border 1px dashed darken($border_color, 10)

		&--contacts
			margin 16px 0 0 0

			&:empty
				display none

		&--basic_info
			&.m-edit
				.profile_card--header_name
					div
						padding-right 20px
						padding-top 5px

				.profile_card--header--categories
					li
						display inline

						&:after
							content ', '

						&:last-child
							&:after
								content none

		&--invitations
			position relative
			min-height 43px
			display flex
			align-items center
			width 100%
			&--line
				flex 1
				.btn + .btn
					margin-top 5px
			&--loading
				.spin.m-logo
					&:before
						width 30px
						height 30px
						background-size 30px

		&--photo
			flex 0 0 224px

			&--userpic
				position relative

			&--gallery
				cf()
				padding 8px 0 0

				li
					&
						float left
						margin 0 0 0 8px

						a
							&
								outline none

							&:hover
								img
									opacity .5

					&:first-child
						margin 0


			.languages_list
				position absolute
				bottom 10px
				right 10px

			&--actions
				margin-top 20px
				&--item + &--item
					margin-top 10px
				.btn
					display block
					width 100%
					&:before
						vertical-align baseline
						margin-right 5px
					&.m-action_msg
						&:before
							icon($i-envelope)
							font-size 11px
					&.m-action_add
						&:before
							icon($i-plus-alt)
							font-size 12px
		&--verified
			position absolute
			bottom 8px
			left 8px
			background $green
			color #fff
			font-style italic
			font-weight 600
			padding rem(6px 10px 6px 30px)
			border-radius 26px

			&:before
				icon($i-check-square)
				font-size 18px
				position absolute
				top 50%
				left 8px
				t-translate(0, -50%)

		&--main
			flex 1
			padding rem(12px 0 0 30px)
			position relative

		&--header
			position relative

			&_name
				margin rem(0 0 10px)
				div
					font-size rem(22px)
					font-weight 600
					overflow(ellipsis)
					padding-right 200px
					display inline-block
					vertical-align top

					span
						color $gray
						font-weight 400

			&--title
				font-size 24px
				font-weight 600
				color $gray_dark
				margin-bottom 17px

				a
					color $blue

					&:hover
					&.m-hover
						opacity .8

			&--reviews
				font-style italic

				&--label
					font-size 14px
					color $gray_dark
					font-style normal

				.star_rating
					top -1px
					margin-left -2px

		&--actions
			position absolute
			top 36px
			right 40px
			cf()

			li
				float left
				margin 0 0 0 25px

		&--favorite
			&
				position relative
				color $gray_dark
				padding 0 0 0 20px
				position relative
				top 1px

				&:before
					icon($i-star)
					color $gray_dark
					position absolute
					top 50%
					left 0
					t-translate(0, -50%)
					font-size 16px
					margin -1px 0 0

			&:hover
				color $blue

				&:before
					color $blue

		&--info
			padding 19px 140px 0 0

			&--line
				&
					position relative
					line-height 16px
					margin 10px 0 0
					display flex
					flex-wrap nowrap
					align-items flex-start
					dt
						font-weight 700
						flex 0 0 140px
						margin-right 15px

					dd
						flex 1
						word-break normal

						.star_rating
							margin 0 0 0 -2px

						li
							&
								display inline-block

								&:after
									content: ','

							&:last-child
								&:after
									display none

				&:first-child
					margin 0

				&.m-contacts
					align-items flex-start
					dt
						padding-top 5px
					dd
						padding-right 30px

				&.m-address
					dd
						span
							display inline-block
							border-radius 3px
							line-height 16px
							font-size 12px
							font-weight 600
							padding 0 4px
							background $blue_light
							color #fff
							white-space nowrap
							margin-top 3px
							white-space nowrap

				&.m-actions
					margin-bottom 10px
					display inline-block

					.btn
						margin-right 5px

				&.m-services
					dd
						font-size 13px
						text-transform uppercase

				&.m-location
					dt
						margin-bottom 9px

			&--home_visits
			&--introductory
				background $background_color
				border 1px solid $border_color
				padding 5px
				font-size 18px
				height 32px
				color $gray
				&:active
					box-shadow inset 0 1px 0 rgba(#000, .08)
				&:hover
					background-color white
				&.m-active
					color $blue

			&--home_visits
				&:before
					icon($i-home-visit)

			&--introductory
				&:before
					icon($i-handshake)


			&--reviews
				display inline-block
				position relative
				top 2px

			&--contacts
				font-size 0
				margin-bottom 10px
				li
					&
						display inline-block
						margin 0 0 0 5px

					&:first-child
						margin 0

			&--text
				padding rem(20px 70px 0 0)

			&--action_btns
				padding rem(11px 0 0 0)

				.btn
					display inline-block
					margin 0 8px 8px 0

			&--added
				display block
				position relative
				padding-left 26px
				&:before
					icon($i-check-o)
					color $green
					font-size 20px
					position absolute
					left 0
					top 50%
					transform translateY(-50%)

			&--message
				margin-bottom 10px
				&.m-certificate
					margin-bottom 0
				.btn.m-contact
					min-width 195px
			&--message_link
				&.m-link
					position relative
					display inline-block
					color $blue_light
					text-transform uppercase
					font-size rem(12)
					font-weight 600
					height 20px
					padding-left 18px
					&:hover
						color $blue
					i
						display inline-block
						vertical-align middle
						position absolute
						left 0
						top 50%
						transform translateY(-50%)
						font-size 13px
						&:before
							icon($i-gift-alt)

		&--ratings
			cursor pointer

	// small card
	&.m-small
		padding rem(10px)

	&.m-small &
		&--photo
			flex 0 0 50px

			.languages_list
				right auto
				left -7px
				bottom -7px

		&--main
			padding rem(0px 0 0 10px)

		&--info
			padding 14px 0 0

	// search card
	// &.m-search
	//     padding rem(10px 15px 15px)

	&.m-search &
		&--photo
			flex 0 0 140px

			.languages_list
				right auto
				left -7px
				bottom -7px

			&--btns
				max-width 140px
				padding-top 20px

				.profile_card--book_now
					margin-bottom 10px

		&--book_now
			min-width 130px
			font-size 16px
			padding 10px 15px

		&--book_recurring
			padding rem(8px 15px)
			white-space normal

		&--main
			padding 8px 0 0 20px

		&--header
			&--categories
				color $blue

		&--info
			padding-right 0

	&--location
		&
			display inline-block
			vertical-align top
			padding-left 25px
			position relative
			margin-right 10px
			margin-bottom 5px
			line-height 16px

			&:before
				display block
				position absolute
				top 0
				left 0
				height 20px
				width 22px
				text-align center
				content ''
				font-size 20px

		&.m-office
			padding-left 20px
			margin-left -2px
			&:before
				icon($i-map-marker)
				color $yellow_dark_pastel
				font-size 22px
				top -1px
				left -3px

		&.m-virtual
			&:before
				icon($i-desktop)
				color $orange_pastel
				font-size 16px

		&.m-home
			&:before
				icon($i-home-filled)
				color $blue


	&--next_available
		line-height 1.3

		&--time
			font-weight bold
			// cursor pointer

	&--footer
		display none
		justify-content space-between
		align-items flex-end
		min-height 52px

	&--action_btns
		margin-top 20px
		text-align right

		&.m-edit
			margin-top 0
			position absolute
			right 0
			top 0
			text-align center

		&--edit
			background url($i 'profile/button_outline.png') no-repeat
			min-height 55px
			min-width 131px
			padding 12px 0px
			margin-top 10px

			&:after
				position absolute
				background url($i 'profile/cta_edit.png') no-repeat left bottom
				width 142px
				height 101px
				content ''
				display block
				top 100%
				left 50%
				margin-left -(@width / 2)
				margin-top 5px
