.wizard_gift_certificate_info
	.m-hide
		display none

	&--title
		font-size rem(18px)
		font-weight 600
		margin 0 0 1em

	&--image
		display block
		height 0
		padding-top 58%
		background url($i 'wizard/gift_certificate_info_image.png') no-repeat left top
		background-size contain
		margin rem(20 0)

	&--card_row + &--card_row
		margin-top rem(10)

	&--card_row
		font-size rem(14)
		color $gray_dark
		display flex
		dt
			font-weight 600
			flex 0 0 90px
		dd
			font-weight 400
			&.m-price
				color $red
				font-weight 600

	&--fake_step
		@extend .wizard--footer .btn
		position fixed
		z-index 1002
		bottom 0
		left 0
		width 100%
		display none
