.timepicker
	display inline-block
	vertical-align middle
	position relative

	.field
		width 114px !important

		&:after
			display block
			width 100%
			height 100%
			z-index 1

		input
			cursor pointer

.timepicker_dropdown_arrow
	bottom -9px
	z-index 20
	left 50%
	margin-left -4px
	border solid transparent
	height 0
	width 0
	position absolute
	pointer-events none
	border-bottom-color $border_color
	border-width 8px
	display none
	.timepicker.m-opened &
		display block
	&:after
		content ""
		border solid transparent
		height 0
		width 0
		position absolute
		left -7px
		top -6px
		border-bottom-color #fff
		border-width 7px

.timepicker_dropdown
	display none
	position absolute
	top 100%
	left 0
	box-shadow 0 0 20px rgba(#000, .1)
	padding 10px
	background #fff
	border-radius 5px
	border 1px solid $border_color
	margin 8px 0 0
	white-space nowrap
	z-index 10
	max-width 295px

	.timepicker.m-opened &
		display block

	.select
		width auto !important
		margin 0 10px 0 0 !important

		select
			width auto !important
			min-height 45px
