.carousel
	position relative
	padding rem(0 30px)

	.carousel--thumb
		&
			display block
			position relative
			outline none
			width 100%
			background white
			display flex
			align-items center
			justify-content center

			img
				vertical-align top

			&:before
				display none
				width 100%
				height 100%
				background #fff
				opacity .8
				content ''
				position absolute
				top 0
				left 0
				z-index 1

			&:after
				display none
				icon($i-search-plus)
				color #a1a1a1
				position absolute
				top 50%
				left 50%
				t-translate(-50%, -50%)
				font-size rem(22px)
				z-index 2

		&:hover
			&:before
			&:after
				display block

		&.m-video
			position relative
			&:after
				display none
				visibility hidden

			span
				position relative
				display block
				overflow hidden

				&:after
					display block
					color #fff
					icon($i-youtube-play)
					font-size 46px
					position absolute
					top 50%
					left 50%
					t-translate(-50%, -50%)
					opacity .9

			&:hover
				&:before
					display none
				span
					&:after
						opacity 1

	.owl-item img
		max-width 280px

	.owl-nav
		.owl-prev
		.owl-next
			&
				width 24px
				height 24px
				border 1px solid $gray
				border-radius 24px
				opacity .6
				cursor pointer
				text-indent -9999px
				position absolute
				top 50%
				t-translate(0, -50%)

				&:before
					icon($i-chevron-down)
					color $gray_dark
					position absolute
					top 50%
					left 50%
					font-size 12px
					text-indent 0

			&:hover
				opacity 1

			&.disabled
				opacity .3

		.owl-prev
			left 0

			&:before
				transform translate(-50%, -50%) rotate(90deg)

		.owl-next
			right 0

			&:before
				transform translate(-50%, -50%) rotate(-90deg)
