<div class="booking_widget">
	<header class="booking_widget--header">
		<h2 class="booking_widget--header--title">Book an Appointment Online</h2>
		<span class="booking_widget--header--close" data-widget-close></span>
	</header>
	<div class="booking_widget--content m-hide" data-booking-content>
		<div class="book_appointment--service booking_widget--service" data-booking-service></div>
		<div class="book_appointment--packages booking_widget--packages" data-booking-package></div>
		<div class="book_appointment--locations booking_widget--locations" data-booking-location>
			<h3 class="booking_widget--locations--title">Locations</h3>
			<ul class="booking_widget--locations--list"></ul>
			<span class="booking_widget--timezones timezone_note">Times shown in <b data-widget-timezone></b></span>
		</div>
		<div class="book_appointment--time booking_time" data-booking-schedule>
			<div class="book_appointment--datepicker" data-booking-datepicker></div>
			<div class="book_appointment--schedule" data-booking-schedule-times></div>
		</div>
	</div>
	<footer class="booking_widget--footer m-hide" data-booking-footer>
		<button class="booking_widget--button btn m-red m-border m-wide" data-book-appointment type="button">Book a Session Now</button>
		<button class="booking_widget--button btn m-blue m-wide" data-book-reccuring type="button">Book a Monthly Package</button>
	</footer>
	<div class="booking_widget--loading book_appointment--loading loading_overlay m-light" data-booking-loading><span class="spin m-logo"></span></div>
</div>
