<div class="booking_time--datepicker" data-booking-time-datepicker>
	<label class="booking_time--datepicker--opener" data-booking-time-datepicker-opener>
		<span data-booking-time-datepicker-opener-text></span>
		<input type="text" class="booking_time--datepicker--input" data-booking-time-datepicker-input>
	</label>
	<nav class="booking_time--datepicker--nav skim_nav">
		<button class="booking_time--datepicker--prev skim_btn m-prev" data-booking-time-datepicker-prev>Previous Day</button>
		<button class="booking_time--datepicker--next skim_btn m-next" data-booking-time-datepicker-next>Next Day</button>
	</nav>
</div>
