<h3 class="book_recurring--title">Services Offered</h3>

<div class="book_recurring--services">
	{{#each services}}
		<div class="book_recurring--service">
			<div class="book_recurring--service_name">{{service_name}}</div>
			<ul class="book_recurring--packages">
				{{#each packages}}
				<li>
					<p>{{duration_label}} x {{max_visits_label}} for <strong>{{price_label}}</strong> ({{number_of_months_label}})</p>
				</li>
				{{/each}}
			</ul>
		</div>
	{{/each}}
</div>

<h3 class="book_recurring--title">Locations</h3>
<ul class="book_recurring--locations">
	{{#each locations}}
		<li class="booking_widget--locations--list--item">
			<strong>{{location_name}}</strong>
			{{#if location_address}}
				<span>{{location_address}}</span>
			{{/if}}
			<span class='booking_widget--locations--list--item--icon m-place'></span>
		</li>
	{{/each}}
</ul>

