<div class="booking_time--list_wrap m-loading">
	<div class="booking_time--list_container">
		<div class="booking_time--list_date">The next appointment is <span></span></div>
		<ul class="booking_time--list book_appointment--time_list"></ul>
	</div>
	<span class="booking_time--list_timezones timezone_note">Times shown in <b>{{timezone}}</b></span>
	<div class="booking_time--list_more m-hide"><button class="booking_time--list_more--btn btn m-blue" name="button">Show More</button></div>
	<div class="booking_time--list_no_availability">
		<p>To book this service please contact your professional</p>
		<a href="{{conversations_link}}" class="btn m-blue m-small booking_time--list_empty--btn booking_time--list_empty--message">Send a Message</a>
	</div>
	<div class="booking_time--list_empty book_appointment--time_empty">
		<p>The next available appointment is on</p>
		<p><span></span></p>
		<button class="btn m-blue m-small booking_time--list_empty--btn booking_time--list_empty--show_next">Show me</button>
	</div>
	<div class="book_appointment--time_loading loading_overlay m-light"><span class="spin m-logo"></span></div>
</div>
