<div class="booking_widget--service_row">
	<dl class="form--group booking_widget--service_select">
		<dt>Service</dt>
		<dd>
			<div class="select">
				<select data-select name="service" data-selector="current_service_id"></select>
			</div>
		</dd>
	</dl>
</div>
<div class="booking_widget--service_row">
	<dl class="form--group booking_widget--duration">
		<dt>Duration</dt>
		<dd>
			<div class="select select_session">
				<select data-select name="session" data-selector="current_session_id">
					<option disabled selected>Select</option>
				</select>
			</div>
		</dd>
	</dl>
</div>
<div class="booking_widget--service_row">
	<p class="booking_widget--pricing">
		<span class="booking_widget--price">Price: <span></span></span>
	</p>
</div>
