<dl class="edit_personal--data--group">
	<dt>
		Title
		<small>(Optional)</small>
	</dt>
	<dd>
		<div class="onoff_group">
			<span class="field--error"></span>

			<label class="onoff">
				<input type="radio" value="Dr." name="title">
				<span class="onoff--label">Dr.</span>
			</label>
			<label class="onoff">
				<input type="radio" value="Mr." name="title">
				<span class="onoff--label">Mr.</span>
			</label>
			<label class="onoff">
				<input type="radio" value="Ms." name="title">
				<span class="onoff--label">Ms.</span>
			</label>
		</div>
	</dd>
</dl>
<dl class="edit_personal--data--group">
	<dt>First Name</dt>
	<dd>
		<div class="field">
			<span class="field--error"></span>
			<input type="text" name="first_name">
		</div>
	</dd>
</dl>
<dl class="edit_personal--data--group">
	<dt>Last Name</dt>
	<dd>
		<div class="field">
			<span class="field--error"></span>
			<input type="text" name="last_name">
		</div>
	</dd>
</dl>
<dl class="edit_personal--data--group">
	<dt>Gender</dt>
	<dd>
		<div>
			<span class="field--error"></span>
			<div class="onoff_group">
				<span class="field--error"></span>
				<label class="onoff">
					<input type="radio" value="male" name="gender">
					<span class="onoff--label">M</span>
				</label>
				<label class="onoff">
					<input type="radio" value="female" name="gender">
					<span class="onoff--label">F</span>
				</label>
			</div>
		</div>
	</dd>
</dl>
{{#if is_client}}
	<dl class="edit_personal--data--group">
		<dt>Occupation</dt>
		<dd>
			<div class="field">
				<span class="field--error"></span>
				<input type="text" name="occupation">
			</div>
		</dd>
	</dl>
	<dl class="edit_personal--data--group">
		<dt>Date of Birth</dt>
		<dd>
			<div class="select">
				<select name="dob_year">
				</select>
				<span class="field--error m-nowrap"></span>
			</div>
			<div class="select">
				<select name="dob_month">
				</select>
				<span class="field--error m-nowrap"></span>
			</div>
			<div class="select">
				<select name="dob_day">
				</select>
				<span class="field--error m-nowrap"></span>
			</div>
		</dd>
	</dl>
{{/if}}
