<figure class="userpic m-xlarge m-has_upload">
	<span class="userpic--inner">
		<img src="{{avatar}}" alt="" data-original="{{avatar_original}}">
		<span class="userpic--edit m-hide js-edit"></span>
		<span class="js-userpic--upload_btn userpic--upload_btn m-full" type="button" data-tooltip="dark tooltipster-upload_userpic" title="Upload Photo">
			<input class="userpic--files_input js-userpic--files_input" type="file" name="avatar">
		</span>
	</span>
</figure>
<div class="edit_personal--userpic_info">
	<p class="edit_personal--userpic--text">Set or change your profile image by clicking on the camera icon.</p>
	<em>Recommended pixel size is 448x448.</em>
	<p>Max file size is 2MB.</p>
</div>
