.professional_setup
	&--error
		margin-bottom rem(20)
		padding-left 3.125rem
		padding-right 3.125rem
		&.m-generic
			padding rem(0 50)
		&:last-child
			margin-bottom 0

		.alert
			width auto
			&.m-notice
				color $orange_pastel
				border 1px solid $orange_pastel
