.professional_setup
	&--form
		+mobile()
			padding rem(15 15 50)

		.form--group
			dt
				span
					font-weight 400
					+desktop()
						font-size rem(12)
						color $red
						display block
						margin-top 5px
						&:after
							content "*"
					+mobile()
						color $gray
						display inline
						&:before
							content "("
						&:after
							content ")"


		.field
			+mobile()
				input
				textarea
					min-height 47px
			&.m-address_line_two
			&.m-business_name_display
				margin-top rem(10)

			&.m-service_area
			&.m-padding_time
				width 60px
				margin 0 5px
				input
					text-align center
				.field--error
					min-width 180px

			&.m-price
				width 120px
				padding-right 0
				i
					position absolute
					font-style normal
					left 1px
					top 1px
					font-size 20px
					bottom 1px
					width 44px
					background $background_color
					border-right 1px solid $border_color
					color #cdcdcd
					text-align center
					line-height 44px
					border-top-left-radius 3px
					border-bottom-left-radius 3px
				input
					padding-left 55px



		.select
			&.m-timezone
				margin-top rem(10)
			+mobile()
				select
					min-height 47px
				.select2-selection--multiple
					min-height 47px
					padding-top 1px
				.select2-selection
					font-size rem(16)
					&--single
						padding-top rem(11)
						padding-bottom rem(11)

		.checkbox
			+mobile()
				display flex
				min-height 30px
				align-items center
				margin rem(20 0 0 0)
				padding-left 43px
				.checkbox--i
					width 30px
					height @width
					margin-top 0
					&:before
						font-size 24px
						top 2px
						left 2px
				.checkbox--label
					display block
					flex 1


			&.m-certificates
				.checkbox--i
					margin-top 0

				.checkbox--label
					+mobile()
						font-size rem(16)
					+desktop()
						position relative
						padding-top 3px
						padding-left 22px
						display block
						i
							position absolute
							left 0
							top 1px
							display block
							color $blue
							width 17px
							height @width
							line-height @height
							text-align center
							vertical-align middle
							&:before
								icon($i-gift)
								font-size 16px
								display block


		&--row
			position relative

			&.m-padding_time
				> .form--group
					padding-top rem(25)
					border-top 1px solid $border_color

			&--label
				display block
				color $blue_light
				font-weight 600
				font-size rem(16)

			&.m-locations
				> .form--group
					dt
						margin-bottom 0
				.field--group
					+desktop()
						display flex
						max-width 600px
						flex-wrap wrap
						align-items flex-start

				.checkbox
					+mobile()
						padding 0 0 0 70px
					+desktop()
						padding 0 10px 0 45px
						flex 0 0 50%
						flex-wrap wrap
						margin rem(15 0 0 0)
					&--label
						font-size rem(16)
					&--icon
						display block
						position absolute
						+mobile()
							left 35px
							top 3px
							width 24px
							height @width
						+desktop()
							left 22px
							top -4px
							width 20px
							height @width
						&.m-office
							svg path
								fill #dec13c
						&.m-home-visit
							svg path
								fill #3c9bab
						&.m-virtual
							svg path
								fill #ea9030

		&--duplicate
			position absolute
			top 0
			right 0
			+desktop()
				right 20px
			&--btn
				border 1px solid $border_color
				border-radius 3px
				background #fff
				padding rem(3 15)
				font-weight 600
				font-size rem(13)
				color $gray
				&:hover
					background $background_color
					border-color darken($border_color, 10)

		&--actions
			+mobile()
				position fixed
				bottom 0
				left 0
				right 0
				z-index 20
				.btn.m-cancel
					display none
				.btn.m-save
					display block
					width 100%
					border-radius 0
					height 50px

			+desktop()
				text-align right
				padding-bottom rem(20)

		.btn.m-remove
			width 30px
			height @width
			border-radius @height
			cursor pointer
			background transparent
			color #fff
			background $gray_light
			padding 0
			&:before
				icon($i-trash)
				font-size 16px
				display block
				text-align center
			&:focus
			&:active
			&:hover
				background $red_light
			&:active
				box-shadow none
