.professional_setup
	&--introductory
		&--location
			border 1px solid $border_color
			border-left 0
			border-right 0
			padding rem(20 0 0 0)
			margin rem(20 -50 20 -50)
			position relative

			&--cancel
				position absolute
				right 10px
				top 5px
				text-transform uppercase
				color $red
				font-size rem(12)
				padding rem(5 5 5 15)
				font-weight 600
				&:before
					icon($i-cancel)
					position absolute
					left 0
					top 50%
					transform translateY(-50%)
					height 12px
					font-size @height
					line-height @height
				&:hover
					color $red_mute
