$color_location 			= #DEC13C
$color_location_virtual 	= #EA9030
$color_location_home    	= $blue
$color_service_introductory = #EA9030

.professional_setup
	&--listing
		&--item
			position relative
			display block
			border 1px solid $border_color
			background #fff
			overflow hidden
			width 100%
			text-align left
			border-radius 6px
			margin-bottom rem(20)
			color $gray_dark
			font-size rem(14)
			order 10
			padding rem(16 20 16 50)
			+mobile()
				margin-bottom rem(10)
			&:after
				position absolute
				left -1px
				top -1px
				bottom -1px
				width 8px
				content ""
				z-index 20
				background $blue_light
				border-bottom-left-radius 6px
				border-top-left-radius 6px

			&.m-location
				&:after
					background $color_location
				&:before
					color $color_location
					icon($i-map-marker)
					font-size 22px
					position absolute
					left 17px
					top 16px
				&.m-virtual
					&:after
						background $color_location_virtual
					&:before
						color $color_location_virtual
				&.m-home-visit
					&:after
						background $color_location_home
					&:before
						color $color_location_home
			&.m-service
				&:after
					background $blue_light
			&.m-introductory
				&:after
					background $color_service_introductory

			&.m-edit
				padding-left 0
				padding-right 0
				.professional_setup--listing--item_details
					display none
				.professional_setup--listing--item_edit
					display block

		&--item_details
			display block

		&--item_content
			cursor pointer
			margin-right rem(25)

		&--item_edit
			display none

		&--item_name
		&--item_sub
			font-weight 600
			line-height 1.25
			color $gray_dark
		&--item_name
			font-size rem(16)
			.m-packages
				display inline-block
				color $red
				font-size rem(12)
				padding 0 3px
				white-space nowrap
				&.m-hide
					display none
			&.m-certificates
				position relative
				&:before
					icon($i-gift)
					position absolute
					left -24px
					top 50%
					transform translateY(-50%)
					font-size 16px
					height @font-size
					line-height @height
					color $red_light

		&--item_sub
			font-size rem(14)

		&--item_description
			margin rem(5 0 8)
			&:last-child
				margin-bottom 0
		&--item_dates
			font-weight 600

		&--item_actions
			position absolute
			right 10px
			top 10px
			white-space nowrap

		&--item_action
			color lighten($gray, 15)
			display inline-block
			width 25px
			height @width
			position relative
			&:before
				position absolute
				left 0
				right 0
				text-align center
				top 50%
				transform translateY(-50%)
			&:last-child
				margin-right 0
			&.m-remove
				&:hover
					color $red_mute
				&:before
					font-size 16px
					icon($i-trash)
			&.m-edit
				&:hover
					color $blue_light
				&:before
					icon($i-pencil)
					font-size 14px

			@media(max-width: 979px)
				background $gray_light
				color #fff
				border-radius @height
				&.m-remove:before
					font-size 20px
