.professional_setup
	.m-hide
		display none

	.m-hide_mobile
		+mobile()
			display none
	.m-hide_desktop
		+desktop()
			display none

	&--inner
		&.m-dashboard
			padding rem(20)
			+mobile()
				padding rem(10 10 50)

	&--group
		margin-bottom rem(20)
		+mobile()
			margin-bottom rem(10)

	&--heading
		font-size 16px
		text-transform uppercase
		font-weight 600
		+mobile()
			font-size 14px
		&--tooltip
			display inline-block
			width 14px
			height @width
			position relative
			top 1px
			+mobile()
				top 0
			&:before
				icon($i-info-circle)
				display block
				color $gray_dark
				font-size 14px
				line-height 1

	&--info_bubble
		display inline-block
		cursor pointer
		vertical-align middle
		font-size 14px
		line-height 1
		color $gray
		&:hover
			color $gray_dark
		&:before
			icon($i-info_filled)

	&--sub_footer
	&--form--row
	&--form--actions
	&--heading
	&--reccuring
	&--sessions
		margin rem(0 0 25 0)
		padding-left rem(50)
		padding-right rem(50)
		&.m-full
			padding-left 0
			padding-right 0
		&:last-child
			margin-bottom 0
		+responsive('max-width: 979px')
			padding-left 0
			padding-right 0
			margin-bottom rem(20)



	&--footer
		text-align center
		+responsive('max-width: 979px')
			position fixed
			left 0
			right 0
			bottom 0
			z-index 20

		&--add_btn
			display inline-block
			font-size rem(16)
			padding rem(15 30)
			margin rem(0 15)
			background $blue_light
			color #fff
			font-weight 600
			min-width 200px
			border-radius 3px
			&:hover
				background $blue
			&.m-edit
				display none
			+responsive('max-width: 979px')
				margin 0
				display block
				width 100%
				border-radius 0

	&--actions
		text-align right
		padding rem(20 50)

	&--sub_add
		display block





	&--info_footer
		margin-top rem(15)
		&--no_service
			font-size rem(11)
			line-height 19px
			font-weight 600
			text-transform uppercase
			background $blue
			color #fff
			border-radius 3px
			padding rem(0 8)
			+responsive('max-width: 980px')
				padding 0 15
				line-height 23px
			&:hover
				background $blue_light
		&--info
			position relative
			padding-left rem(20)
			&:before
				position absolute
				left 0
				top -2px
				height 17px
				font-size @height
				line-height @height
				icon($i-info_filled)
				color $gray
