.professional_setup
	&--panel
		margin-bottom rem(20)
		&:last-child
			margin-bottom 0
		&.m-pad
			@media(min-width: 980px)
				padding rem(20)
		&.m-v_pad
			padding rem(20 0)
		&.m-bordered
			border 1px solid $border_color
			border-radius 6px
