.professional_setup
	&--popup
		.m-hide
			display none

		&--header
			height 50px
			background $blue_light
			display flex
			align-items center
			position relative
			&--title
				flex 1
				color #fff
				text-align center
				font-size rem(16)
				font-weight 600
				margin rem(0 50)

			&--close
			&--back
				top 11px
				position absolute
				width 28px
				border-radius 28px
				height @width
				z-index 1
				cursor pointer
				color #fff
				&:before
					position absolute
					top 50%
					left 50%
					display block
					center()

			&--close
				right 11px
				border 1px solid #fff
				&:before
					icon($i-times)
					font-size 14px


			&--back
				transform rotate(90deg)
				left 11px
				&:before
					icon($i-chevron-down)
					font-size 20px




		&--inner
			position absolute
			left 0
			top 50px
			right 0
			bottom 0
			overflow scroll
		&--scroll
			display block
