.professional_setup
	&--recurring
		&--item
			margin-bottom rem(15)
			padding-bottom rem(15)
			border-bottom 1px solid $border_color
			position relative
			padding-right 40px
			max-width 360px
			+responsive('min-width: 981px')
				max-width 600px

			&:last-child
				padding-bottom 0
				border-bottom 0

			+responsive('min-width: 981px')
				display flex
				align-items flex-start
				.label
					display none
				&:first-child
					.label
						display block

			.btn
				position absolute
				right 0
				bottom 23px

			&:last-child
				.btn
					bottom 8px

		&--item_row
			display flex
			align-items center
			+responsive('max-width: 980px')
				margin-bottom rem(15)
				&:last-child
					margin-bottom 0

			+responsive('min-width: 981px')
				width 280px
				margin-right rem(15)
			.label
				margin rem(0 0 5 0)
				display block

			.group
				flex 1
				&.m-duration
				&.m-price
					margin-right rem(10)
				+responsive('min-width: 981px')
					&.m-duration
						flex 0 0 140px
					&.m-price
						flex 0 0 120px
					&.m-months
						flex 0 0 130px


			.field.m-price
			.select
				width 100%
