.professional_setup
	&--service_form

		.popup--header
			background $blue_light
			padding rem(25 40)

		.popup--close
			border-color #fff
			top 24px
			&:before
				color #fff

		.popup--header_title
			color #fff
			font-weight 400
			font-size rem(20)

		.popup--content
			+responsive('min-width: 980px')
				width 480px
				padding 30px 0 10px

		&--hubspot
			padding rem(20)
			min-height 200px
			+responsive('min-width: 980px')
				padding rem(30 40)

			.field
				display block
				margin-bottom rem(25)
				position relative
				.hs-form-required
					color $red_mute
					padding-left 3px
				> label
					display block
					margin rem(0 0 5 0)
					font-weight 600
				.hs-error-msgs
					color $red_mute
					position absolute
					right 0
					top 100%
					padding-top 5px
					font-weight 600
					font-size rem(12)

			.hs_submit
				text-align right
				.btn
					background $blue
					cursor pointer
					width 100px
					&:hover
						background $blue_dark
			.submitted-message
				text-align center
				padding rem(30 0)
