.professional_setup
	&--service_type
		padding rem(15)

		&--listing
			&--item
				margin-bottom rem(15)

		&--add_btn
			cursor pointer
			display block
			width 100%
			height 80px
			border 1px solid $border_color
			background $background_color
			border-radius 5px
			color $blue_light
			font-weight 600
			font-size rem(18)
			text-align left
			padding-left rem(60)
			padding-right rem(20)
			position relative
			&:before
				icon($i-plus-o)
				position absolute
				transform translateY(-50%)
				top 50%
				left 20px
				font-size 24px
