.professional_setup
	&--sub_footer

		&.m-add_location
			margin-top rem(20)

		&--btn
			color $red
			font-weight 600
			display inline-block
			margin-right rem(30)
			font-size rem(14)
			color $red
			line-height 16px
			&:last-child
				margin-right 0
			&:hover
				color $red_mute
			&:before
				icon($i-plus-o)
				vertical-align middle
				font-size 16px
				margin-right 3px
				position relative
				top -2px
			+responsive('max-width: 980px')
				display block
				margin rem(0 0 5 0)
				line-height 30px
				&:last-child
					margin-bottom 0


		&--add
			color $blue_light
			font-weight 600
			display inline-block
			font-size rem(16)
			height 24px
			line-height @height
			position relative
			padding-left rem(30)
			&:before
				position absolute
				left 0
				top 50%
				transform translateY(-50%)
				icon($i-plus-alt)
				font-size 12px
				background $blue_light
				color #fff
				height 24px
				width @height
				border-radius @height
				line-height @height
				text-align center
			&:hover
				color $blue
				&:before
					background $blue
			+responsive('max-width: 980px')
				height 30px
				line-height @height
				padding-left rem(26)
				font-size rem(15)
				&:before
					height 20px
					width @height
					border-radius @height
					line-height @height

		&--timezones
			float right
			line-height 24px
