.professional_setup_wizard
	&--error
		margin rem(25 0)
		margin-bottom rem(20)
		&.m-generic
			padding rem(0 50)
		&:last-child
			margin-bottom 0
		.alert
			width auto
			padding rem(12 20)
			text-align center
			font-weight 600
			border 1px solid $btn-orange
			border-radius 3px
			color $btn-orange
			background #fff
			&:before
				display none
			&.m-error
				color $red
				border-color $red
			&.m-notice
				color $orange_pastel
				border-color $orange_pastel

		.err
			text-align center
			color $red
			font-weight 600
			font-size rem(14)
			line-height 1
			&:before
				icon($i-info_filled)
				display inline-block
				vertical-align top
				font-size 14px
				margin-right 5px
