.professional_setup_wizard
	&--form

		&--row
			.form--group
				dt
					&.m-title
						font-weight 600
						text-transform uppercase
						font-size rem(16)
						margin-bottom rem(15)
						+responsive('max-width: 980px')
							font-size rem(14)
					span
						font-weight 400
						color $red
						+responsive('min-width: 981px')
							display block
							margin-top 5px
							font-size rem(12)
							&:after
								content "*"
						+responsive('max-width: 980px')
							display inline
							&:before
								content "("
							&:after
								content ")"

			&.m-horizontal
				+responsive('min-width: 981px')
					.form--group
						display flex
						dt
							flex 0 0 150px
							margin 0 10px 0 0
							&.m-center
								align-self center
							&.m-top
								align-self flex-start
								padding-top 10px
							&.m-top_self
								align-self flex-start
								padding-top 14px
						dd
							flex 1

			&.m-userpic
				+responsive('min-width: 981px')
					margin-bottom rem(20)
				+responsive('max-width: 980px')
					margin-bottom rem(30)
					.form--group
						dt
							font-size rem(16)
							margin-bottom rem(20)
							span
								font-size rem(14)

		.field
			+mobile_ready_and_mobile()
				+responsive('max-width: 980px')
					input
					textarea
						min-height 47px
					&.m-tel_prefix
						&:before
							font-size rem(16)
							left 14px

			&.m-service_area
			&.m-padding_time
				width 60px
				margin 0 5px
				input
					text-align center
				.field--error
					min-width 180px

			&.m-price
				width 120px
				padding-right 0
				i
					position absolute
					font-style normal
					left 1px
					top 1px
					font-size 20px
					bottom 1px
					width 44px
					background $background_color
					border-right 1px solid $border_color
					color #cdcdcd
					text-align center
					line-height 44px
					border-top-left-radius 3px
					border-bottom-left-radius 3px
				input
					padding-left 55px

			&.m-address_line_two
				margin-top 10px

				.checkbox
					padding-left 30px
					letter-spacing 0.03em
					margin-right -5px

					&--label
						letter-spacing 0.03em
						line-height 1.2
						top -2px

			&.m-business_name_display
				margin-top 15px

		.select
			&.m-timezone
				margin-top rem(10)
			+responsive('max-width: 980px')
				select
					min-height 47px
				.select2-selection
					font-size rem(16)
					&--single
						padding-top rem(11)
						padding-bottom rem(11)


		.checkbox
			+responsive('max-width: 980px')
				display flex
				min-height 30px
				align-items center
				margin rem(10 0 0 0)
				padding-left 43px
				.checkbox--i
					width 30px
					height @width
					margin-top 0
					&:before
						font-size 24px
						top 2px
						left 2px
				.checkbox--label
					display block
					flex 1

			&.m-certificates
				.checkbox--i
					margin-top 0
				.checkbox--label
					+responsive('max-width: 980px')
						font-size rem(16)
					+responsive('min-width: 981px')
						position relative
						padding-left 22px
						display block
						i
							position absolute
							left 0
							top 0
							display block
							color $blue
							width 17px
							height @width
							line-height @height
							text-align center
							vertical-align middle
							&:before
								icon($i-gift)
								font-size 16px
								display block

		.btn.m-remove
			width 30px
			height @width
			border-radius @height
			cursor pointer
			background transparent
			color #fff
			background $gray_light
			padding 0
			&:before
				icon($i-trash)
				font-size 16px
				display block
				text-align center
			&:focus
			&:active
			&:hover
				background $red_light
			&:active
				box-shadow none










	&--location_address_label
		.field--description
			padding-left 0
			font-size rem(14)











    //
	//&--form_separator
	//	height 0
	//	border-top 0
	//	border-bottom 1px solid $border_color
	//	margin rem(25px 0)
