.professional_setup_wizard
	&--header
		padding rem(20)
		background $blue_almost_white
		text-align center
		border-radius 3px
		margin-bottom rem(24)
		+responsive('max-width: 980px')
			padding rem(15)
			max-width 480px
			margin-left auto
			margin-right auto
			margin-bottom rem(15)
		&--title
			font-size rem(24)
			font-weight 600
			color $blue_light
			+responsive('max-width: 980px')
				font-size rem(18)
		&--tooltip
			display inline-block
			width 18px
			height @width
			margin-top 2px
			&:before
				icon($i-info)
				color $blue_light
				font-size 14px
				display block
				line-height 18px
