.professional_setup_wizard

	&--no_service
		display block

	&--hubspot
		position relative
		min-height 200px
		padding rem(0 20)
		h3
			font-size rem(20)
			margin-bottom rem(15)
			+responsive('max-width: 980px')
				font-size rem(18)
				margin-bottom rem(10)
		.hs-form
			label
				font-weight 600
				display block
				margin-bottom rem(5)
			.field
				width 100%
				display block
				margin-bottom rem(12)
			.actions
				text-align right
				.btn
					cursor pointer
					background $blue
					&:hover
						background $blue_dark
		&--back
			position absolute
			left 20px
			bottom 0
