.professional_setup_wizard

	&--location_type

		+responsive('min-width: 981px')
			overflow hidden
			background #fff
			border 1px solid $border_color
			border-radius 3px
			padding rem(20 50 30)
			margin-bottom rem(20)
			.m-location_type_set &
				border-bottom 1px solid $border_color

		+responsive('max-width: 980px')
			border-bottom 0
			margin-bottom rem(10)

		&--title
			font-size rem(16)
			font-weight 600
			text-align center
			margin-bottom rem(30)
			text-transform uppercase

			+responsive('max-width: 980px')
				font-size rem(14)
				margin-bottom rem(10)

		&--footer
			display none
			+responsive('max-width: 980px')
				.m-location_type_set &
					display block
					text-align center
					margin-top rem(10)
					&--btn
						font-size rem(14)
						color lighten($gray, 5)
						font-weight 600

		+responsive('min-width: 981px')
			&--items
				display flex
				max-width 550px
				margin 0 auto
			&--item
				display block
				cursor pointer
				flex 1
				margin-right rem(20)
				text-align center
				position relative
				&:last-child
					margin-right 0

				&--icon
					display block
					width 75px
					height @width
					border-radius 3px
					border 1px solid $border_color
					margin 0 auto rem(20)
					position relative
					svg
						position absolute
						left 50%
						top 50%
						margin-left -22px
						margin-top -22px
						z-index 1
						display block
						width 44px
						height 44px
						path
						circle
							fill $blue_light

				&--title
					font-size rem(18)
					font-weight 600
					color $gray_dark
					margin-bottom .5em
					line-height 1.25
				&--description
					color $gray
					font-size rem(15)
					line-height 1.25
					padding rem(0 20)

			input
				position absolute
				left -9999px

				&:checked ~
				&:checked +
					.professional_setup_wizard--location_type--item--label
						.professional_setup_wizard--location_type--item
							&--icon
								border 2px solid $blue_light
								position relative
								&:after
									icon($i-check)
									width 26px
									border 2px solid #fff
									height @width
									border-radius @height
									background $blue_light
									color #fff
									position absolute
									right -13px
									top @right
									font-size 14px
									line-height 22px
									text-align center
								svg
									path
										fill $blue_light

		+responsive('max-width: 980px')
			&--items
				display block
			&--item
				display block
				margin-bottom rem(10)
				cursor pointer
				position relative
				&:last-child
					margin-bottom 0
				&--label
					border 1px solid $border_color
					background #fff
					padding rem(10 10 10 60)
					border-radius 3px
					min-height 70px
					display flex
					flex-direction column
					position relative
					justify-content center
				&--title
					font-size rem(14)
					font-weight 600
					margin-bottom .25em
				&--description
					font-size rem(14)
					font-weight 400
					color $gray

				&--icon
					position absolute
					left 0
					top 50%
					transform translateY(-50%)
					width 60px
					height @width
					text-align center
					z-index 5
					svg
						position absolute
						left 50%
						top 50%
						margin-left -15px
						margin-top -15px
						z-index 1
						display block
						width 30px
						height 30px
						path
							fill $blue_light
				.m-location_type_set &
					margin 0


			.m-location_type_set &
				input
					~
					+
						.professional_setup_wizard--location_type--item--label
							display none

			input
				position absolute
				left -9999px

				&:checked ~
				&:checked +
					.professional_setup_wizard--location_type--item--label
						display flex
						border-color $blue_light
						border-width 2px
						&:after
							icon($i-check)
							width 22px
							border 2px solid #fff
							height @width
							border-radius @height
							background $blue_light
							color #fff
							position absolute
							right -11px
							top @right
							font-size 12px
							line-height 18px
							text-align center
