.layout.m-professional_wizard

	.layout--header
		display none

	+responsive('max-width: 980px')
		.wizard
			background $background_color
		.wizard--header
			&.m-location_type_set
				height 40px
				.wizard--progress
					display none
	+responsive('min-width: 981px')
		.wizard--finish
			margin-left auto

.professional_setup_wizard
	display flex
	margin 0 auto
	flex 1
	.m-hide
		display none
	.m-hide_mobile
		+responsive('max-width: 980px')
			display none
	.m-hide_desktop
		+responsive('min-width: 981px')
			display none
	.wizard--footer_in
		+responsive('min-width: 981px')
			max-width 740px
			padding 0 20px

	&--inner
		width 100%
		max-width 700px
		margin 0 auto
		position relative
		+responsive('max-width: 980px')
			margin rem(10 0 0 0)
			max-width none
			padding rem(0 10 10)

	&--main
		+responsive('max-width: 980px')
			margin 0 auto
			max-width 480px
			border 0
			border-radius 0
			background transparent

	&--mobile_header
		display none
		+responsive('max-width: 980px')
			.m-location_type_set &
				display block
				position absolute
				left 0
				right 0
				top 0
				bottom 0
				background $blue_light
				text-align center
				z-index 999
				color #fff
				&--back
					position absolute
					left 0
					top 0
					width 32px
					height 40px
					line-height @height
					text-align center
					&:before
						icon($i-chevron-left)
				&--title
					font-weight 600
					font-size rem(16)
					line-height 40px

	&--heading
	&--form--row
	&--sub_footer
	&--recurring
	&--sessions
		margin rem(0 0 25 0)
		padding rem(0 50)
		&:last-child
			margin-bottom 0
		+mobile()
			padding rem(0 10)
			margin rem(0 0 10 0)
			&:last-child
				margin-bottom 0

	&--heading
		font-size 16px
		text-transform uppercase
		font-weight 600
		+mobile()
			font-size 14px
		&--tooltip
			display inline-block
			width 14px
			height @width
			position relative
			top 1px
			+mobile()
				top 0
			&:before
				icon($i-info-circle)
				display block
				color $gray_dark
				font-size 14px
				line-height 1


	&--info_footer
		margin-top rem(15)
		&--no_service
			font-size rem(11)
			line-height 19px
			font-weight 600
			text-transform uppercase
			background $blue
			color #fff
			border-radius 3px
			padding rem(0 8)
			+responsive('max-width: 980px')
				padding 0 15
				line-height 23px
			&:hover
				background $blue_light
		&--info
			position relative
			padding-left rem(20)
			&:before
				position absolute
				left 0
				top 0
				height 17px
				font-size @height
				line-height @height
				icon($i-info_filled)
				color $gray

	&--sub_footer
		&.m-full
			padding-left 0
			padding-right 0

		&--btn
			color $red
			font-weight 600
			display inline-block
			margin-right rem(30)
			font-size rem(14)
			color $red
			line-height 16px
			&:last-child
				margin-right 0
			&:hover
				color $red_mute
			&:before
				icon($i-plus-o)
				vertical-align middle
				font-size 16px
				margin-right 3px
				position relative
				top -2px
			+responsive('max-width: 980px')
				display block
				margin rem(0 0 5 0)
				line-height 30px
				&:last-child
					margin-bottom 0


		&--add
			color $blue_light
			font-weight 600
			display inline-block
			font-size rem(16)
			height 24px
			line-height @height
			position relative
			padding-left rem(30)
			&:before
				position absolute
				left 0
				top 50%
				transform translateY(-50%)
				icon($i-plus-alt)
				font-size 12px
				background $blue_light
				color #fff
				height 24px
				width @height
				border-radius @height
				line-height @height
				text-align center
			&:hover
				color $blue
				&:before
					background $blue
			+responsive('max-width: 980px')
				height 30px
				line-height @height
				padding-left rem(26)
				font-size rem(15)
				&:before
					height 20px
					width @height
					border-radius @height
					line-height @height
