.professional_setup_wizard
	&--panel
		background #fff
		border 1px solid $border_color
		border-radius 3px
		margin-bottom rem(15)
		padding rem(30 0)
		&:last-child
			margin-bottom 0
		+responsive('max-width: 980px')
			padding rem(15 0)
