.professional_setup_wizard

	&--periods_list

		dl
			border-bottom 1px solid $border_color
			padding-bottom rem(15)
			margin-bottom rem(15)
			&:last-child
				padding-bottom 0
				border-bottom 0
			dt
				margin-bottom rem(15)

	&--period
		display block
		position relative
		+responsive('min-width: 981px')
			display flex
			align-items center
		&.m-error
			.field--error
				display block

		+responsive('min-width: 981px')
			&--label
				flex 0 0 180px
				font-weight 600
			&--fields
				flex 1
				display flex
				align-items center
				.onoff
				.select
				&--label
					margin 5px 0 5px 10px
				.onoff
					flex 0 0 50px
					&--label
						&.m-short
							display none
				&--label
					display block
					height 20px
					line-height @height
				.select
					width 110px
			&--remove
				margin-left auto

		+responsive('max-width: 980px')
			max-width 320px
			&--label
				display block
				margin-bottom 5px
				font-weight 600
			&--fields
				flex 1
				display flex
				align-items center
				justify-content space-between
				&.m-times
					max-width 265px
				.onoff
				.select
				&--label
					margin 0
				.select
					width 115px
				.onoff
					flex 0 0 34px
					&--label
						display none
						&.m-short
							width 34px
							height 30px
							display block
							line-height @height - 2px
				&--label
					display block
					height 20px
					line-height @height

			&--remove
				position absolute
				width 30px
				height @width
				right 0
				bottom 8px

		+responsive('max-width: 360px')
			&--fields
				&.m-times
					max-width 240px
					.select
						width 105px
						select
							padding-left rem(8)
							padding-right rem(20)
