.professional_setup_wizard
	&--popup

		.popup--close
			+responsive('max-width: 767px')
				right 20px
				top 20px
			+responsive('min-width: 768px')
				right 30px
				top 30px

		&--content
			display block
			+responsive('max-width: 767px')
				display block
			+responsive('min-width: 768px')
				width 630px
				padding rem(40)

		&--header
			display block
			margin-bottom rem(30)
			&--title
				font-weight 600
				font-size rem(24)
			&--description
				margin-top rem(5)
				color $gray
				font-size rem(18)

		&--change
			+responsive('min-width: 768px')
				position relative
				max-width 400px
				margin 0 auto
			+responsive('max-width: 767px')
				position absolute
				left 30px
				right 30px
				top 50%
				transform translateY(-50%)
			&--title
				font-weight 600
				text-align center
				margin rem(20 0)
				+responsive('max-width: 767px')
					font-size rem(22)
				+responsive('min-width: 768px')
					font-size rem(28)
			&--description
				color $gray
				text-align center
				line-height 1.5
				margin rem(20 0 50)
				+responsive('max-width: 767px')
					font-size rem(16)
				+responsive('min-width: 768px')
					font-size rem(18)

			&--form
				display block
				max-width 300px
				margin 0 auto rem(20)
				.form--group
					dt
						font-size rem(16)


		&--changed
			position relative
			text-align center
			+responsive('max-width: 767px')
				position absolute
				left 30px
				right 30px
				top 50%
				transform translateY(-50%)
			&--title
				font-weight 600
				text-align center
				margin rem(20 0)
				+responsive('max-width: 767px')
					font-size rem(20)
				+responsive('min-width: 768px')
					font-size rem(24)
			&--description
				color $gray
				line-height 1.5
				margin rem(40 0 50)
				+responsive('max-width: 767px')
					font-size rem(16)
				+responsive('min-width: 768px')
					font-size rem(18)
			&--icon
				display block
				margin-bottom rem(20)
				svg
					width 110px
					height 110px
					margin 0 auto
					display block
					path
						fill $green
						.m-error &
							fill $red

		&--footer
			text-align center
		&--cta
			width 180px
			+responsive('max-width: 767px')
				width 100%
				max-width 280px
