.professional_setup_wizard
	&--sessions
		display block
		&--item
			margin-bottom rem(15)
			padding-bottom rem(15)
			border-bottom 1px solid $border_color
			max-width 430px
			&:last-child
				padding-bottom 0
				border-bottom 0

		&--item_row
			margin-bottom rem(15)
			display flex
			align-items center
			position relative
			flex-wrap wrap
			+responsive('max-width: 980px')
				padding-right rem(40)
			+responsive('max-width: 500px')
				max-width 360px
			+responsive('min-width: 981px')
				padding-right rem(50)
			.select
				width 155px
				flex 0 0 @width
			.label
				flex 1
				font-weight 600
				text-align center
				+responsive('max-width: 980px')
					padding rem(0 5)
				+responsive('max-width: 500px')
					flex 0 0 145px
					padding rem(0 0 0 10)
					text-align left
				+responsive('max-width: 400px')
					flex 0 0 100%
					padding 0
					margin-top rem(10)
				+responsive('min-width: 981px')
					padding rem(0 10)

			.field.m-price
				+responsive('max-width: 500px')
					margin-top rem(10)
					flex 0 0 150px

			.btn
				position absolute
				right 0
				+responsive('max-width: 500px')
					bottom 8px
				+responsive('min-width: 501px')
					top 50%
					transform translateY(-50%)

		&--item_package
			margin-top rem(15)
