.professional_setup_wizard
	&--success
		text-align center

		+responsive('max-width: 980px')
			padding rem(0 20)

		+responsive('min-width: 980px')
			padding rem(0 50)

		&--title
			font-weight 600
			color $gray
			+responsive('max-width: 980px')
				font-size rem(22)
				margin-bottom rem(20)
			+responsive('min-width: 980px')
				font-size rem(26)
				margin-bottom rem(30)


		&--image
			display block

			+responsive('max-width: 980px')
				margin-bottom rem(20)
			+responsive('min-width: 980px')
				margin-bottom rem(30)

			svg
				display block
				margin 0 auto
			&.m-confirmation
				padding-right rem(40)
				svg
					width 150px
					height 109px
					.st0
						fill #ddc354
					.st1
						fill #fff
					.st2
						fill #e2e2e2
					.st3
						fill #fce37a
					.st4
						fill #f9dc60
					.st5
						fill #bababa
					.st6
						fill #9f9f9f

		&--block
			line-height 1.5
			a
				font-weight 600
				color $blue_light
				&:hover
					color $blue

			+responsive('max-width: 980px')
				font-size rem(14)
			+responsive('min-width: 980px')
				font-size rem(16)

		&--block + &--block
			+responsive('max-width: 980px')
				margin-top rem(20)
			+responsive('min-width: 980px')
				margin-top rem(30)
