.professional_setup_wizard
	&--userpic_container
		+responsive('max-width: 980px')
			margin-bottom rem(30)

		&.m-error
			.field--error
				display block
				+responsive('max-width: 980px')
					left 0
					right auto
					margin-top 3px
					&:after
						right auto
						left 20px
				+responsive('min-width: 981px')
					top 110%
					right auto
					left -75px

	&--userpic
		display flex
		.userpic
			flex 0 0 100px
			width 100px
			height @width
			+responsive('max-width: 980px')
				margin-right 18px
			+responsive('min-width: 981px')
				margin-right 28px
		&--info
			line-height 1.25
			flex 1
			font-size rem(13)
			padding-top 10px
			p
				margin-bottom 8px
				line-height 1.3
			em
				display block
				font-size rem(12)
				margin-bottom 2px
				letter-spacing 0.03em
				max-width 160px
			b
				letter-spacing -0.02em
			+responsive('min-width: 981px')
				max-width 200px
		&--change_link
			position relative
			overflow hidden
			color $blue
			font-weight 600
			display inline-block
			vertical-align bottom
			&:hover
				color $blue_light
