.professional_setup_wizard
	&--verify

		+responsive('max-width: 980px')
			margin rem(20 0)
			.field
				input
					height 47px

		.btn
			height 47px
			padding rem(0 15)
		&--edit
			+responsive('min-width: 981px')
				display flex
				align-items center
				flex-wrap nowrap
			.field
				+responsive('min-width: 981px')
					flex 1
					margin-right rem(15)
			.btn
				+responsive('max-width: 980px')
					width 100%
					margin-top rem(10)
				+responsive('min-width: 981px')
					width 170px
					flex 0 0 @width


		&--phone
			display flex
			align-items center

			+responsive('min-width: 981px')
				margin rem(0 0 10 0)
			&_label
				font-weight 600
				width 120px
				flex 0 0 @width
				margin-right rem(15)
			&_edit
				font-weight 600
				color $blue_light
				font-size rem(14)
				flex 0 0 auto
				height 47px
				&:hover
					color $blue

		&--type
			+responsive('min-width: 981px')
				display flex
				align-items center
			&_label
				font-weight 600
				display block
				+responsive('max-width: 980px')
					margin-bottom rem(10)
				+responsive('min-width: 981px')
					width 220px
					flex 0 0 @width
					margin-right rem(15)
			&_btns
				flex 1
				display flex
				align-items center
				li + li
					margin-left rem(15)

			&_btn
				height 47px
				padding 0 20px
				border 2px solid $border_color
				color $gray
				font-weight 600
				font-size rem(14)
				text-align center
				border-radius 3px
				&:hover
					border-color $blue_light
					color $blue_light

		&--code
			display flex
			align-items center
			flex-wrap wrap
			+responsive('max-width: 980px')
				max-width 300px
			.field
				+responsive('max-width: 980px')
					flex 0 0 70%
					padding-right rem(15)
				+responsive('min-width: 981px')
					width 155px
					flex 0 0 @width
					margin-right rem(15)
			.btn
				+responsive('max-width: 980px')
					flex 0 0 30%
				+responsive('min-width: 981px')
					width 85px
					flex 0 0 @width
					margin-right rem(15)

			&_resend
				font-weight 600
				color $blue_light
				font-size rem(14)
				flex 0 0 auto
				height 47px
				+responsive('max-width: 980px')
					width 100px
					text-align left
				+responsive('min-width: 981px')
					width auto
				&:hover
					color $blue

		&--msg
			position relative
			color $green
			font-weight 600
			padding-left 20px
			margin rem(15 0)
			&:before
				position absolute
				left 0
				top 50%
				transform translateY(-50%)
				width 16px
				height @width
				line-height @height
				border-radius @height
				text-align center
			&.m-success
				color $green
				&:before
					icon($i-check)
					font-size 12px
					color #fff
					background $green
			&.m-error
				color $red
				&:before
					icon($i-cancel)
					color $red
					background transparent
