.profile_history
	min-height 60px

	&--search
		&:before
			icon($i-search)
			position absolute
			top 11px
			left 8px
			font-size 22px
			color $gray_lighter

		input
			padding-left 40px
			min-width 220px

		&.m-hide
			display none

	&--section
		margin-bottom 25px

		&.m-hide
			display none

		&--header
			font-size rem(17)
			font-weight bold
			color $gray_dark
			padding 0 10px 5px
			border-bottom 1px solid $border_color_mid
			cf()

			&.m-has_button
				padding-top 30px

		&--btn
			float right
			margin-top -40px
			margin-bottom 10px

	&--view_all
		text-align center
		padding-top 20px

		&.m-hide
			display none

	&--view_all_link
		font-size rem(16)
		color $gray_dark
		border-bottom 1px solid $gray_dark

		&:hover
			opacity .8

		&:after
			icon($i-chevron-down)
			margin-left 3px
			position relative
			top 2px
			font-size rem(15)

	&--item
		font-size 0
		border-bottom 1px solid $border_color_mid
		position relative

		&.m-hide
			display none

		&.m-empty
			font-size 16px
			text-align center
			border none
			padding 20px 20px 10px

		&--col
			font-size rem(14)
			display inline-block
			vertical-align top
			padding 20px 8px 15px
			position relative
			line-height 1.2

		&--label
			font-size 12px
			margin-bottom 5px
			color $gray_dark

		&--event
			width 24%
			padding-left 45px

			&:before
				icon($i-calendar-minus-o)
				position absolute
				top 15px
				left 15px
				color $green
				font-size 20px

			time
				color $green
				display block
				margin-bottom 5px
				font-size 15px

			p
				margin-bottom 5px

			&.m-cancelled
				&:before
				time
					color $red

			&.m-note
				&:before
				time
					color $blue

				&:before
					icon($i-file)
					font-size 22px
					top 15px
					left 12px

		&--location
			width 21%

		&--notes
			width 27%
			word-wrap break-word
			p
				margin-bottom 5px

			.m-empty
				color $green

			.m-cancelled
				&
				.m-empty
					color $red

		&--attended
			width 15%
			text-align right

			&.m-loading
				opacity .5

			&--block
				display inline-block
				text-align center

			&--btn
				display inline-block
				height 30px
				min-width 40px
				border 1px solid $border_color
				background $background_color
				color $gray_light
				font-size 14px
				border-radius 4px

				&:hover
					background white

				&.m-yes
					color $green
					border-color $green
					background white

				&.m-no
					color $red
					border-color $red
					background white

		&--actions
			width 13%
			text-align right
			padding-right 0
			padding-top 15px
