+responsive('max-width: 1200px')
	.profile_history
		&--item
			cf()

			&--event
				width 26%
				padding-left 40px

				&:before
					left 10px

			&--notes
				width 28%

			&--location
				width 28%

			&--attended
				width 12%
				min-width 110px

			&--actions
				width 5%
				min-width 40px
+mobile_ready_and_mobile()
	+responsive('max-width: 980px')
		.profile_history
			&--item
				&--col
					padding-bottom 10px

				&--event
					width 30%

				&--notes
					width 100%
					float left
					padding-top 10px
					padding-left 40px

				&--location
					width 50%

	+responsive('max-width: 860px')
		.profile_history
			&--item
				&--event
					width 35%

				&--location
					width 41%

	+responsive('max-width: 767px')
		.profile_history
			&--search
				clear both
				float none
				display block
				padding-top 10px

				&:before
					top 18px

				input
					padding-left 40px

			&--item
				&--event
					width 37%

				&--attended
					position absolute
					right 40px
					top 0

				&--actions
					position absolute
					top 3px
					right 5px

				&--location
					width 63%
					padding-right 140px

	+responsive('max-width: 680px')
		.profile_history
			&--item
				&--event
					width 100%
					display block
					padding 15px 140px 10px 40px

					&:before
						top 12px

				&--location
					width 100%
					display block
					padding 5px 10px 10px 40px

				&--attended
					padding-top 15px

				&--actions
					padding-top 25px

	+responsive('max-width: 550px')
		.profile_history
			&--section
				&--header
					padding-left 0
					padding-right 0

				&--btn
					display block
					float none
					margin -10px auto 20px
					width 100%

	+responsive('max-width: 460px')
		.profile_history
			&--item
				padding 10px 0

				&--event
					padding-right 40px

				&--attended
					position static
					text-align left
					padding-left 40px
					padding-top 5px
					width 100%

					&--block
						display block
						text-align left

					&--label
						padding-top 7px
						float left
						margin-right 10px

				&--actions
					padding-top 15px

	+responsive('max-width: 380px')
		.profile_history
			&--item
				&--event
					padding-left 0
					&:before
						display none

				&--notes
				&--location
				&--attended
					padding-left 0
