.shepherd-active
	&:before
		display block
		content ''
		top 0
		left 0
		width 100%
		height 100%
		position absolute
		background white
		opacity .6
		z-index 1005

		mobile()
			z-index 1010
			background transparent

	.header
		z-index 1005

		&--logo
		&--left
		&--right > *
			opacity .4

		&--right .shepherd-enabled
			opacity 1

.shepherd-enabled
	opacity 1
	position relative
	z-index 1006

	&.sidebar_nav--item
	&.sidebar_nav--sub--item
		background-color $background_color

		& > a
			border-color $border_color_mid
			color $blue

			&:before
				color $blue

		&:before
			position absolute
			height 1px
			width 100%
			background $border_color_mid
			content ''
			top -1px
			left 0

	&.sidebar_nav--item
		border-bottom 1px solid $border_color_mid

.tour
	position absolute
	display none
	max-width 100%
	max-height 100%
	z-index 1006
	&.m-mobile
		z-index 1011
	&.shepherd-open
		display block

	&.shepherd-has-cancel-link
		&.shepherd-has-title
			header
				.shepherd-title
					padding-right 20px

	.shepherd-content
		max-width 315px
		border-radius 3px
		position relative
		background #fff
		color $gray_dark
		padding rem(12 16)
		font-size rem(15)
		line-height 1.25
		transform translateZ(0)
		filter drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2))
		opacity 1

		&:before
			content ""
			display block
			position absolute
			width 0
			height 0
			border-color transparent
			border-width 11px
			border-style solid
			pointer-events none

		header
			.shepherd-title
				font-weight 600
				margin-bottom rem(5)
				font-size rem(16)

			a.shepherd-cancel-link
				position absolute
				right 16px
				top 16px
				text-decoration none
				font-size rem(20)
				line-height 1
				font-weight 400
				color rgba(0, 0, 0, 0.5)
				opacity 0.25
				&:hover
					opacity 1

		.shepherd-text
			line-height 1.25
			p + p
				margin-top rem(10)

		footer
			margin-top rem(10)
			.shepherd-buttons
				text-align right
				list-style none
				padding 0
				margin 0
				li
					display inline
					padding 0
					margin 0
					.shepherd-button
						display inline-block
						vertical-align middle
						border-radius 3px
						cursor pointer
						border 0
						margin 0 5px 0 0
						font-weight 600
						text-decoration none
						font-size rem(14)
						line-height 1
						padding rem(8 20)
						background $red
						color #fff
						&:hover
							color #fff
							background $red_mute
						&.m-link
							background transparent
							color $gray
							&:hover
								background transparent
								color $gray_dark
						&:last-child
							margin-right 0


	&.m-mobile
		.shepherd-content
			width 260px
			padding rem(10 12)
			font-size rem(14)
			header
				.shepherd-title
					font-size rem(15)

	.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-top.shepherd-target-attached-left
	.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-top.shepherd-target-attached-right
	.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-bottom.shepherd-target-attached-left
	.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-bottom.shepherd-target-attached-right
		.shepherd-content:before
			display none


	&.shepherd-element-attached-bottom.shepherd-element-attached-center
		.shepherd-content
			margin-bottom 16px
			&:before
				top 100%
				left 50%
				margin-left -16px
				border-top-color #fff
	&.shepherd-element-attached-top.shepherd-element-attached-center
		.shepherd-content
			margin-top 16px
			&:before
				bottom 100%
				left 50%
				margin-left -16px
				border-bottom-color #fff
	&.shepherd-element-attached-right.shepherd-element-attached-middle
		.shepherd-content
			margin-right 16px
			&:before
				left 100%
				top 50%
				margin-top -11px
				border-left-color #fff


	&.shepherd-element-attached-left.shepherd-element-attached-middle
		.shepherd-content
			margin-left 16px
			&:before
				right 100%
				top 50%
				margin-top -11px
				border-right-color #fff

	&.shepherd-element-attached-left.shepherd-target-attached-center
		.shepherd-content
			left -32px
	&.shepherd-element-attached-right.shepherd-target-attached-center
		.shepherd-content
			left 32px

	&.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-middle
		.shepherd-content
			margin-top 16px
			&:before
				bottom 100%
				left 16px
				border-bottom-color #fff
	&.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-middle
		.shepherd-content
			margin-top 16px
			&:before
				bottom 100%
				right 16px
				border-bottom-color #fff
	&.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-middle
		.shepherd-content
			margin-bottom 16px
			&:before
				top 100%
				left 16px
				border-top-color #fff
	&.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-middle
		.shepherd-content
			margin-bottom 16px
			&:before
				top 100%
				right 16px
				border-top-color #fff
	&.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-bottom
		.shepherd-content
			margin-top 16px
			&:before
				bottom 100%
				left 16px
				border-bottom-color #fff
	&.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-bottom
		.shepherd-content
			margin-top 16px
			&:before
				bottom 100%
				right 16px
				border-bottom-color #fff
	&.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-top
		.shepherd-content
			margin-bottom 16px
			&:before
				top 100%
				left 16px
				border-top-color #fff
	&.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-top
		.shepherd-content
			margin-bottom 16px
			&:before
				top 100%
				right 16px
				border-top-color #fff
	&.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-left
		.shepherd-content
			margin-right 16px
			&:before
				top 16px
				left 100%
				border-left-color #fff
	&.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-right
		.shepherd-content
			margin-left 16px
			&:before
				top 16px
				right 100%
				border-right-color #fff
	&.shepherd-element-attached-bottom.shepherd-element-attached-right.shepherd-target-attached-left
		.shepherd-content
			margin-right 16px
			&:before
				bottom 16px
				left 100%
				border-left-color #fff
	&.shepherd-element-attached-bottom.shepherd-element-attached-left.shepherd-target-attached-right
		.shepherd-content
			margin-left 16px
			&:before
				bottom 16px
				right 100%
				border-right-color #fff

	&.shepherd-element-attached-top.shepherd-element-attached-center.shepherd-has-title
	&.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-bottom.shepherd-has-title
	&.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-bottom.shepherd-has-title
		.shepherd-content
			&:before
				border-bottom-color: #fff
