<div class="wizard_booking--block">
	<div class="wizard_booking--sidebar_info--details">

		<header class="wizard_booking--block--header wizard_booking--sidebar_info--details--header">
			<h2 class="wizard_booking--block--header--title wizard_booking--sidebar_info--details--title">Booking Information</h2>
		</header>

		<figure class="wizard_booking--sidebar_info--details--avatar" data-professional-avatar></figure>
		<div class="wizard_booking--sidebar_info--details--info">
			<h3 class="wizard_booking--sidebar_info--details--name" data-professional-name></h3>
			<p class="wizard_booking--sidebar_info--details--service">Service: <strong data-appointment-service-name></strong></p>
			<p class="wizard_booking--sidebar_info--details--session">Session: <strong data-appointment-duration></strong></p>
		</div>

		<div class="wizard_booking--sidebar_info--details--location_type" data-appointment-type></div>
	</div>
	<div class="wizard_booking--sidebar_info--summary">
		<div class="wizard_booking--sidebar_info--summary--item m-location">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-location"></span>
			<p data-appointment-location></p>
		</div>
		<div class="wizard_booking--sidebar_info--summary--item m-date">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-date"></span>
			<p data-appointment-date></p>
		</div>
		<div class="wizard_booking--sidebar_info--summary--item m-time">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-time"></span>
			<p data-appointment-time></p>
		</div>
		<div class="wizard_booking--sidebar_info--summary--item m-price">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-price"></span>
			<p data-appointment-price></p>
		</div>

		<div class="wizard_booking--sidebar_info--summary--item m-gift_certificate m-hide" data-gift-certificate>
			<span class="wizard_booking--sidebar_info--summary--item--icon m-gift_certificate"></span>
			<p>Gift Certificate</p>
		</div>
	</div>
</div>

<div class="wizard_booking--sidebar_info--payment_info wizard_booking--block m-pad_v m-pad_h_sm" data-payment-info>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title" data-payment-info-title></h2>
	</header>
	<div class="wizard_booking--block--story" data-payment-info-content></div>
</div>

<div class="wizard_booking--sidebar--secured"></div>
