@media (min-width: 1200px)
	.search_filters
		&--form
			&--filters_opener
				display none !important

@media (max-width: 860px)
	.search_filters
		&--form
			&--fieldset
				&--inner
					padding 25px 6% 0

			&--submit
				padding 0 6%

@media (max-width: $mobile-search-bp)
	.search_filters
		&--nav
			background white
			padding 0 6%
			border-bottom 1px solid $border_color_mid

			&:after
				display none
				content none

			&--label
				padding 16px 20px 4px
				font-weight normal

			&--tabs
				border none
				margin-bottom -1px
				justify-content flex-start

			&--item
				border none
				border-bottom 2px solid transparent
				width auto
				font-size 14px
				margin 0
				height auto
				padding 7px 20px
				letter-spacing 0.01em

				&.m-active
					border-bottom-color $blue_light

					&:after
						display none
						content none

		&--form
			&
				padding-bottom 0

			&--filters_opener
				&
					display block
				&
				&.m-more
					padding 12px 10%

			&--advanced_opener
				&
				&.m-more
					padding 12px 0

			&--buttons
				border-bottom 1px solid $border_color_mid

		&--location_type
			&--item
				display inline-block
				margin-right 20px
				vertical-align top
