.search_filters
	&
		position relative
		background #fff
		z-index 10

		.checkbox--label
			color $gray_dark

		&--nav
			cf()
			background $background_color

			&--label
				padding 16px 10px 15px
				font-weight 600

			&--tabs
				display flex
				border-top 1px solid $border_color_mid
				border-bottom 1px solid $border_color_mid

			&--item
				&
					display block
					width 100%
					text-align center
					font-weight 600
					float left
					border-top 2px solid transparent
					border-left 1px solid $border_color_mid
					padding rem(18px 18px 0)
					text-transform uppercase
					color $gray_dark
					height rem(49px)
					position relative
					cursor pointer
					font-size 12px
					margin-top -1px

				input
					position absolute
					left -9999px

				&.m-active
					background #fff
					color $blue
					border-top-color $blue_light

					&:after
						width 100%
						height 1px
						background #fff
						position absolute
						bottom -1px
						left 0
						content ''

				&:first-child
					border-left 0

		&--form
			height 100%
			position relative
			padding-bottom 28px

			&.by_name &
				&--fieldset
					overflow visible

				&--submit
					display none

			&.by_name
				.field--autocomplete
					z-index 11

				.search_filters--form--fieldset--inner
					// transform translateX(-100%)
					opacity 0
					display none

				.search_filters--form--fieldset--inner.m-name
					opacity 1
					visibility visible
					display block

				.search_filters--form--advanced_opener
					opacity 0
					display none

			&--fieldset
				position relative
				overflow hidden
				display flex
				flex-direction row

				&--inner
					padding 28px 10% 0
					position relative
					min-height 50px
					width 100%
					flex 1 0 auto
					transition all .2s

					&.m-name
						opacity 0
						visibility hidden

			.form
				&--group
					&
						margin 0 0 rem(28px)

						.field
							&.m-loading
								&:after
									icon($i-cog)
									width 20px
									height 20px
									color $gray_light
									animation loading-spin 2s infinite linear
									font-size 20px
									position absolute
									right 10px
									top 50%
									margin-top -10px

							input
								padding rem(10px)
								min-height 40px

							&.m-date
								input
									padding-right rem(30px)

								&:after
									right 10px

						.select
							height rem(40px)
							.select2-choice
								padding rem(12px 30px 12px 14px)

						.radio_group
							label
								display block
								margin-bottom 12px

					&:last-child
						margin-bottom 0

					dt
						margin-bottom 8px

			&--footer
				padding 0 0 20px

			&--submit
				padding 0 10%

			&--opener
				transition all .2s
				font-size 16px
				text-align left
				font-weight 600
				color $blue

				&.m-more
					text-align left

					span
						color $blue
						padding-right 0

					b
						top 5px
						right -32px
						width 24px
						height 24px
						font-size 14px

			&--advanced_opener
				&
				&.m-more
					padding 25px 0 23px

			&--filters_opener
				&
					display none

				&
				&.m-more
					padding 20px 10%
					text-align center


		&--form_advanced
			padding 1rem 0
			display none

			&_list
				.form--group
					margin 0 0 rem(20px)

		&--location
			&.m-hide
				display none

		&--clients_address
			&.m-hide
				display none

		&--date
			&--row
				display flex
				justify-content space-between
				padding-top 3px

			&--item
				width 47%

				&--label
					display block
					margin-bottom 8px

		&--location_type
			border-bottom 1px solid $border_color
			padding-bottom 8px

			&.form--group
				dt
					margin-bottom 17px

			&--item
				margin 0 0 17px

			&--label
				&
					&:before
						display inline-block
						height 20px
						width 22px
						text-align center
						content ''
						vertical-align top
						font-size 20px
						position relative
						top -4px
						margin-right 8px

				&.m-business
					&:before
						icon($i-map-marker)
						color $yellow_dark_pastel
						font-size 22px

				&.m-virtual
					&:before
						icon($i-desktop)
						color $orange_pastel
						font-size 17px
						top -1px

				&.m-home
					&:before
						icon($i-home-filled)
						color $blue

		&--gift
			&--label
				&
					position relative

				&:before
					display inline-block
					height 20px
					width 22px
					text-align center
					vertical-align top
					font-size 18px
					position relative
					top -3px
					margin-right 2px
					icon($i-gift)
					color $blue

	&.m-opened
		.search_filters--form--filters_opener b:before
			transform translate(-50%, -50%) rotate(-180deg)

	&.m-advanced_opened &
		&--form_advanced
			display block

		&--form
			&--advanced_opener
				&.m-more
					b
						transform rotate(-180deg)
						transform-origin 50% 49%
