.press
	position relative
	
	&--list
		padding rem(48px 0 108px)
		
		&--item
			border-bottom 1px solid $border_color
			position relative
			
			&:first-child            
				border-top 1px solid $border_color
			
			input[type="checkbox"]
				display none
				
				&:checked 
					+ label                         
						> h2:before
							transform rotate(0deg)
							margin-top rem(-14px)
							
						+ div
							display block
							
				// &:not(:checked)
				//     + label         
				//         &:hover               
				//             background #f7f7f7
				
			&--headline
				position relative
				display block
				cursor pointer
				padding rem(30px 0)
				padding-left rem(30px)
				
				&--shedule
					line-height rem(18px)
					position absolute
					right 0
					top 50%
					margin-top rem(-16px)
					
					b
						display block
						font-size 16px
					span
						display block
						font-size 14px
				

				> h2
					cursor pointer
					font-size 16px
					line-height rem(26px)
					color $blue
					font-weight 600
					display inline-block
					width 550px
					
					&:before
						display block
						position absolute
						left 0
						top 50%
						margin-top rem(-11px)
						width 10px
						icon($i-chevron-down)
						transform rotate(-90deg)
				
			&--text
				display none
				font-size 16px
				line-height rem(28px)
				padding rem(0 0 60px)
				
				h2
					color $blue
					font-weight 600
					margin-top rem(30px)
					
					&:first-child
						margin-top rem(12px)
