.print_popup
	.popup--close
		top 25px
		right 25px

	&--wrap
		position relative
		line-height 1.25rem
		width: 400px
		max-width 100%

	&--header
		padding 29px 40px
		background $background_color
		border-bottom 1px solid $border_color
		&.m-error
			color $red

	&--header_title
		font-size rem(18px)
		font-weight 600
		position relative
		span
			color $blue
		p
			padding rem(14px 0 0)
			line-height rem(20px)
			margin rem(0 0 -2px)

	&--content
		cf()

	&--form
		padding rem(30 40 40)
		+mobile()
			padding-left 20px
			padding-right 20px

		.checkbox_group
			line-height 1

		&--datepicker
			width 100%

			.field.m-icon.m-datepicker
				input
					width 100%

		.form--group
			margin-bottom 20px

			&.m-hide
				display none

		&--actions
			padding-top 10px
			display flex
			justify-content space-between

			.btn
				width 48%
				+mobile()
					width 100%

			&--print
				+mobile()
					display none
