.sync
	+mobile()
		display none

	cf()
	padding rem(15px 20px)

	&--right
		float right

	&--header
		color $gray_dark
		font-size rem(16px)
		font-weight 600
		margin-bottom 5px
		padding-top 3px

	&--label
		font-size 13px
		color $gray_dark
		margin-bottom 5px
		display block
		text-align center

	&--status
		a
			color $gray
			&:hover
				color $blue

		&_label
			font-size 14px
			color $gray_light
			display inline-block
			vertical-align top

			&:before
				icon($i-refresh)
				vertical-align top
				margin-right 3px
				position relative
				top -1px

			span
				font-weight 600

	&--settings_link
		display inline-block
		color $gray
		margin-right -12px

		i
			display inline-block
			text-indent -9999em
			font-size 0
			width 30px
			height 30px
			margin-top -8px
			vertical-align top
			text-align center
			line-height 30px

			&:before
				icon($i-cog)
				text-indent 0
				font-size 17px

		&:hover
			color $blue


	.schedule--header &

		&--status_label
		&--settings_link i
			display block
			height 50px
			line-height @height
			border-bottom 1px solid $border_color
			padding rem(0 0 0 40)
			position relative
			margin 0
			&:before
				position absolute
				width 16px
				height @width
				line-height @height
				text-align center
				left 0
				top 50%
				transform translateY(-50%)
				font-size 16px
				margin
				padding 0

		&--status_label
			font-size 14px

		&--settings_link
			display block
			margin 0
			i
				text-indent 0
				display block
				width auto
				text-align left
				font-style normal
				font-size 16px
				&:before
					position absolute
					width 16px
					height @width
					line-height @height
					text-align center
					left 0
					top 50%
					transform translateY(-50%)
					font-size 16px
					margin
					padding 0
