+responsive('max-width: 1220px')
	.booking
		&--header
			&--inner
				padding 0

		&--content
			padding-left 0
			
	.booking.m-popup
		width 980px
	.booking.m-popup.m-finish
		width auto


+responsive('max-width: 1120px')
	.booking
		&--sidebar
			width 360px
			flex 0 0 360px
