.booking
	&
		display flex
		// height 100%
		flex 1 0 auto
		flex-direction column
		overflow-x hidden
		background $background_color

		&--header
			background #3db7cb
			height 80px
			color #fff

			&--inner
				padding 0 40px

		&--title
			font-size 22px
			float left
			margin 30px 0 0

		&--progress
			float right
			margin 35px 0 0

			.progress--bar
				min-width 500px

		&--container
			display flex
			flex 1 0 auto
			flex-direction row
			width 100%
			// height 100%

		&--content
			flex 1
			padding 20px 20px 20px 40px
			width 100%

		&--block
			background #fff
			border 1px solid $border_color
			border-radius 5px

			&--header
				border-bottom 1px solid $border_color
				padding 18px 20px 16px

				&--title
					font-size rem(18px)
					font-weight 600

			&--inner
				padding 20px

		&--sidebar
			width 400px
			flex 0 0 400px
			background #fff
			position relative
			border-left 1px solid #ebebeb
			padding 42px 40px 40px 20px

			&:after
				position absolute
				top 0
				left 100%
				height 100%
				background #fff
				content ''
				width 1000px

		&--buttons
			text-align right
			padding 20px 0 0

			.btn
				&
					margin 0 0 0 10px

				&.m-red
					padding-left rem(20px)
					padding-right rem(20px)

			a.m-back
				color $gray_dark


	&.m-finish
		background #fff

	&.m-popup &
		&--progress
			margin-right 45px
