$responsive_drop = 'max-width: 1460px'

.sidebar_nav
	border-top 1px solid $border_color
	&--item
		&
			border-bottom 1px solid $border_color
			font-weight 600
			position relative
			a
				&
					color $gray

				&:hover
					color $blue


			> a
				&
					position relative
					display block
					&:before
						color #c4c4c4
						position absolute
						top 50%
						transform translate(0, -50%)
						font-size rem(21px)
						-webkit-backface-visibility hidden // fix to prevent blinking on animations

					span
						&
							display block
							padding rem(17px 46px 16px 62px)
							font-size rem(14px)
							position relative
							overflow(ellipsis)
							+responsive($responsive_drop)
								padding rem(17px 46px 16px 48px)
					&:hover
						color $blue


						&:before
							color $blue


			&--new
				position absolute
				right 13px
				top 50%
				border 1px solid #ccc
				border-radius 100%
				font-weight normal
				min-width 24px
				padding rem(5px 5px 3px)
				text-align center
				t-translate(0, -50%)

		&.m-current
			> a
				background-color $background_color
				color $blue
				&:before
					color $blue

		&.m-profile
			> a:before
				icon($i-user)
				left 27px
				+responsive($responsive_drop)
					left 13px

		&.m-clients
			> a:before
				icon($i-group)
				left 26px
				+responsive($responsive_drop)
					left 13px

		&.m-schedule
			> a:before
				icon($i-calendar)
				left 25px
				+responsive($responsive_drop)
					left 12px

		&.m-appointments
			> a:before
				icon($i-clock)
				left 26px
				+responsive($responsive_drop)
					left 13px

		&.m-my-account
			> a:before
				icon($i-pencil)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-mobile-app
			> a:before
				icon($i-google_mobile)
				left 26px
				+responsive($responsive_drop)
					left 13px

		&.m-getting-started
			> a:before
				icon($i-rocket)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-account
			> a:before
				icon($i-card_inserting)
				font-size 1rem
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-pricing-billing
			> a:before
				icon($i-wallet)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-packages
			> a:before
				icon($i-briefcase)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-payment-billing
			> a:before
				icon($i-wallet)
				font-size rem(22px)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-stats
			> a:before
				icon($i-combo)
				font-size rem(20px)
				left 26px
				margin -3px 0 0

		&.m-settings
			> a:before
				icon($i-support)
				left 24px

		&.m-reviews
			> a:before
				icon($i-change_user)
				left 26px
				+responsive($responsive_drop)
					left 14px

		&.m-settings
			> a:before
				icon($i-support)
				left 24px
				+responsive($responsive_drop)
					left 12px

		&.m-common-questions
			> a:before
				icon($i-info)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-book-a-pro
			> a:before
				icon($i-calendar)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-signing-up
			> a:before
				icon($i-pencil)
				left 28px
				+responsive($responsive_drop)
					left 12px

		&.m-refer-a-friend
			> a:before
				icon($i-money_bag)
				left 26px
				margin-top -2px
				+responsive($responsive_drop)
					left 12px

		&.m-terms-conditions
			> a:before
				icon($i-document)
				left 26px
				+responsive($responsive_drop)
					left 12px

		&.m-message
			> a:before
				icon($i-message)
				left 26px
				+responsive($responsive_drop)
					left 13px
			i
				font-style normal
				position absolute
				background $red
				color #fff
				font-size rem(10)
				font-weight 600
				line-height 16px
				height 16px
				width 16px
				border-radius 16px
				left 39px
				top 8px
				text-align center
				+responsive($responsive_drop)
					left 27px

		&.m-privacy-policy
			> a:before
				icon($i-lock)
				left 24px
				+responsive($responsive_drop)
					left 12px

		&.m-transactions
			> a:before
				icon($i-cards_pack)
				left 24px
				+responsive($responsive_drop)
					left 12px

		&.m-gift-certificates
			> a:before
				icon($i-gift-alt)
				left 27px
				font-size 18px
				+responsive($responsive_drop)
					left 14px

		&.m-has_submenu
			> a
				span
					position relative
					display block
					&:after
						icon($i-plus)
						position absolute
						top 50%
						right 17px
						t-translate(0, -50%)
						color $gray

				&:hover span:after
					color $blue

			&.m-opened
				> a span:after
					icon($i-minus)
				.sidebar_nav--sub
					display block


	&--sub
		display none
		&--item
			&

				a
					&
						font-weight 400
						display block
						padding rem(10px 0 10px 62px)
						font-size rem(14px)
						position relative
						border-bottom 1px solid $border_color
						+responsive($responsive_drop)
							padding rem(11px 0 9px 50px)
						&:before
							color #c4c4c4
							position absolute
							top 50%
							transform translate(0, -50%)

					&:hover
						color $blue
						background-color $background_color

				&:last-of-type
					a
						border-bottom none
						padding-bottom 10px

			&.m-current
				> a
					background-color $background_color
					color $blue

			&:first-child
				a
					border-top 1px solid $border_color

.sidebar_nav.m-bordered
	border 1px solid $border_color
	border-radius 5px
	overflow hidden
