.search
	flex 1
	display flex
	min-height 250px
	max-width 1600px // temp
	margin 0 auto // temp

	&--filters
		flex 0 0 auto
		width 26%
		min-width 320px
		background #fff
		border-left 1px solid $border_color // temp
		border-right 1px solid $border_color
		position relative

	&--main
		flex 1
		display flex
		position relative

	&--results
		// flex 0 0 65% // temp
		flex 0 0 100%
		position relative
		overflow auto
		border-right 1px solid $border_color // temp

		.ps-scrollbar-y-rail
			display none !important

	&--map
		display none
		flex 1
		background #b3d1fd
		position relative
		overflow hidden
