+responsive('max-width: 860px')
	.search
		&--filters
			min-width 280px

+responsive('max-width: 800px')
	.search
		&--filters
			min-width 320px

@media (max-width: $mobile-search-bp)
	.search
		display block

		&--filters
			width 100%
