.checkbox
	&
		position relative
		padding 0 0 0 24px
		cursor pointer
		display inline-block
		vertical-align middle
		user-select none


		input[type="checkbox"]
		input[type="radio"] // for radios that looks like checks
			&
				position absolute
				left -9999px

			&:checked +
			&:checked ~
				.checkbox--i
					border-color $blue
					&:before
						visibility visible

				.checkbox--label
					color $gray_dark
			&:disabled +
			&:disabled ~
				.checkbox--i
					border-color lighten(#e1e1e1, 20%)
				.checkbox--label
					color lighten($gray, 10%)

			&:focus +
			&:focus ~
				.checkbox--i
					border-color darken(#e1e1e1, 20%)

				.checkbox--label
					color darken($gray, 20%)


		&--i
			display block
			width 17px
			height 17px
			border 1px solid #e1e1e1
			position absolute
			top 0
			left 0
			margin-top -2px
			border-radius 1px
			background #fff

			&:before
				display block
				visibility hidden
				icon($i-check)
				color $blue
				position absolute
				top 1px
				left 1px
				font-size 13px

		&--label
			font-weight 600
			color $gray
			&.m-spread
				display flex
				flex-wrap wrap
				white-space normal

				b
					flex 1

			a
				&
					color $blue

				&:hover
					text-decoration underline

		&.m-vcentered &
			&--i
				margin-top -10px
				top 50%

	&:hover &
		&--i
			border-color darken(#e1e1e1, 20%)

		&--label
			color darken($gray, 20%)

	&.m-green
		padding-left 28px

		input[type="checkbox"]
		input[type="radio"] // for radios that looks like checks
			&:checked +
			&:checked ~
			.checkbox--i
				background-color $green_light

			.checkbox--label
				color white

			&:focus +
			&:focus ~
				.checkbox--i
					border-color transparent

				.checkbox--label
					color white

	&.m-green &
		&--i
			border none
			border-radius 2px
			width 19px
			height 19px

			&:before
				color white
				font-size 15px
				top 2px
				left 2px

		&--label
			font-size 16px
			color white
			font-weight normal

.checkbox_group
	&.m-horizontal &

		&--label
			display inline-block
			margin 0 20px 0 0
			vertical-align middle

	&.m-horizontal
		.checkbox
			&
				margin 0 0 0 20px

			&:first-of-type
				margin-left 0

.form--group
	.m-fontw_normal
		font-weight 400
