.field
	&
		display inline-block
		vertical-align middle
		position relative

		input
			min-height 47px

		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				input
					min-height 41px

		input
		textarea
			&
				appearance none
				-webkit-appearance none
				display block
				border 1px solid $border_color
				font-size rem(14)
				padding .875rem 1rem
				border-radius 3px
				resize none
				background #fff
				color $gray_dark
				width 100%
				+placeholder()
					color $gray
					opacity 1
					transition opacity 0.3s ease
				+mobile_ready_and_mobile()
					+responsive('max-width: 979px')
						font-size rem(16)
						padding rem(5 16)

			&:focus
				border-color #e1e1e1
				+placeholder()
					opacity 0

			&:disabled
				background #f9fafc
				box-shadow 0 0 0px 1000px #f9fafc inset
				-webkit-box-shadow 0 0 0px 1000px #f9fafc inset

		textarea
			overflow auto

		input[type="number"]
			&
				-moz-appearance textfield

			&::-webkit-outer-spin-button
			&::-webkit-inner-spin-button
				-webkit-appearance none
				margin 0

		.btn
			padding rem(15px)
			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					padding rem(12px) rem(15px)

	&.m-date
		position relative

		input
			padding-right rem(40px)

		&:after
			icon($i-calendar_grid)
			color $red
			position absolute
			right 14px
			top 50%
			font-size 20px
			t-translate(0, -50%)
			margin-top -1px

	&.m-price
		padding-right 12px
		position relative
		top 1px
		input
			padding 0.79rem 1rem

	&--error
		&
			display none
			color #fff
			background $red
			font-size rem(12px)
			position absolute
			z-index 10
			right 0
			top 100%
			line-height rem(14px)
			padding rem(2px 8px)
			border-radius 3px
			margin-top -3px
			&:after
				bottom 100%
				right 20px
				border solid transparent
				content ''
				height 0
				width 0
				position absolute
				pointer-events none
				border-bottom-color $red
				border-width 4px
				margin-left -4px

			a
				color white
				border-bottom 1px solid rgba(white, .8)

		&.m-right
			left 100%
			right auto
			top 50%
			t-translate(0, -50%)
			white-space nowrap
			margin 0 0 0 8px

			&:after
				bottom auto
				right 100%
				left auto
				top 50%
				t-translate(0, -50%)
				border-bottom solid transparent
				border-right-color $red
				margin 0

		&.m-nowrap
			white-space nowrap

		&.m-bottom_left
			right auto
			left 0
			&:after
				right auto
				left 20px

		&.m-align_center
			text-align center

	/ .checkbox &--error
		&
			margin-top 7px
			&:after
				left 9px
				right auto

		&.m-right
			margin-top 0
			&:after
				left auto
				right 100%


	&--hint
		position absolute
		top 100%
		font-style italic
		font-size rem(12px)
		padding rem(5px 0 0 5px)

	&--description
		font-style italic
		font-size rem(12px)
		padding rem(0 0 5px 5px)
		display block
		&.m-bottom
			padding rem(5px 0 0 0)
		&.m-hide
			display none

	& + &--description
		margin-top 5px
		padding-left 0

	&.m-wide
		display block
		width 100%

	&.m-borderless
		input
		textarea
			border 0

	&.m-error
	/.form--group.m-error .field
	/.select.m-error
		&:before
			color $red
			opacity .6
		input
		textarea
			&
				border-color #d88484
				color $red
				+placeholder()
					color $red
			&:-webkit-autofill
				color $red !important


		.field--error
			display block

	/.field--group
		.field--error
			left 0
			right auto
			margin-top 4px

			&:after
				left 10px

		.checkbox
			margin-right 10px
			margin-bottom 10px

		&.m-error
			.field--error
				display block

	&.m-success
	/.form--group.m-success .field
		&:before
			icon($i-check)
			color $green_dark
			position absolute
			right 14px
			top 50%
			transform translate(0, -50%)
			font-size 1rem
		input
			padding-right 2.5rem


	&.m-icon
		&
			input
				padding-right 3rem

			&:before
				color #e0e0e0
				position absolute
				right 0
				top 50%
				transform translate(0, -50%)

		&.m-user
			&:before
				icon($i-user)
				font-size 21px
				right 16px

		&.m-map_marker
			&:before
				icon($i-map-marker)
				font-size 21px
				right 12px

		&.m-checked_user
			&:before
				icon($i-checked_user)
				font-size 21px
				right 13px

		&.m-message
			&:before
				icon($i-message)
				font-size 21px
				right 15px

		&.m-lock
			&:before
				icon($i-lock)
				font-size 21px
				right 17px

		&.m-mobile
			&:before
				icon($i-google_mobile)
				font-size 21px
				right 17px

		&.m-phone
			&:before
				icon($i-phone)
				font-size 24px
				right 13px

		&.m-card
			&:before
				icon($i-card_inserting)
				font-size 21px
				right 17px

		&.m-datepicker
			input
				width 125px
				padding-right 2.2rem
			&:before
				icon($i-calendar_grid)
				font-size 19px
				color $gray
				right 10px

		&.m-o_clock
			input
				padding-right 35px
			&:before
				icon($i-o-clock)
				font-size 15px
				right 10px

	&.m-w300
		width 100%
		max-width 300px

	&.m-required
		&:after
			content '*'
			position: absolute
			font-size 24px
			font-weight bold
			top -10px
			right -8px
			width 16px
			height 16px
			color #e05b49
			border 4px solid #fff
			border-radius: 50%

	&--autocomplete
		position absolute
		margin-top -2px
		top 100%
		width 100%
		z-index 10

		.ui-autocomplete
			top 0 !important
			border 1px solid #e1e1e1
			border-top-color $border_color
			border-radius 0 0 3px 3px
			background #fff
			padding 0.25rem 0rem
			max-height 200px
			overflow auto
			width 100% !important
			z-index 10

			.ui-menu-item
				&
					cursor pointer
					padding 0.5rem 0.8125rem

					color $gray_dark

				&.ui-state-focus
					color $blue

				&.m-level
					&:before
						margin-right rem(3)
				&.m-level-0
					font-weight 600
				&.m-level-1
					&:before
						content: "\2014 "
				&.m-level-2
					&:before
						content: "\2014\2014 "
				&.m-level-3
					&:before
						content: "\2014\2014\2014 "
				&.m-level-4
					&:before
						content: "\2014\2014\2014\2014 "
				&.m-level-5
					&:before
						content: "\2014\2014\2014\2014\2014 "

	&.m-tel_prefix
		&:after
			content '+1'
			position absolute
			left 15px
			top 0
			padding 0
			line-height normal
			font-size .875rem
			top 50%
			transform translateY(-50%)
		input
			padding-left rem(30)
			+mobile_ready_and_mobile()
				+responsive('max-width: 979px')
					padding-left rem(30)

.field-limit
.field--limit
.field--length
	&
		position absolute
		right 5px
		bottom 4px
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		-o-user-select none
		user-select none
		font-size 10px
		background #fff
		padding 2px

	&.m-overlap
		color $red
