.fileupload
	position relative
	overflow hidden
	display block

	&.m-inited
		input[type=file]
			position absolute
			left -9999px

	&--reset
		display none
		width 16px
		height 16px
		color $red_light
		font-size 14px
		text-align center
		cursor pointer
		outline none
		vertical-align middle
		margin-left rem(10)
		//position absolute
		//left 0
		//top 50%
		//transform translateY(-50%)
		&:before
			icon($i-close)


	&--cta
		background $background_color
		color $gray_dark
		border 1px solid $border_color
		border-radius 3px
		height 32px
		line-height 30px
		padding rem(0 20)
		font-size rem(14)
		font-weight 600
		transition background .2s ease-in-out
		min-width 120px
		text-align center
		position relative
		margin-right 10px
		&:hover
			background darken($background_color, 2)


	&--caption
		font-size rem(14)
		display inline-block
		vertical-align middle

	&--container
		display inline-block
		padding-left 26px
		position relative
		&:before
			icon($i-attach)
			font-size 16px
			line-height @font-size
			position absolute
			left 0
			top 50%
			transform translateY(-50%)
			color $gray_light

	&.m-file_selected &
		&--reset
			display inline-block
		&--cta
			display none
