 .form
	&--group
		&
			dt
				font-weight 600
				display block
				margin 0 0 10px
				+mobile_ready_and_mobile()
					+responsive('max-width: 767px')
						margin rem(0 0 6)
				small
					font-size rem(12px)

				&.m-boldless
					font-weight 400

			dd
				position relative

		&.m-error
			dt
				color $red
		&.m-has_hint
			padding-bottom 15px

		&.m-horizontal
			dt
				margin 0
			dt
			dd
				display inline-block
				vertical-align middle
		&.m-row
			display flex
			align-items center

			dt
				margin 0
				flex 0 0 145px
				max-width 145px

			dd
				flex 1

		&.m-row-fixed
			display flex
			align-items center
			flex-wrap wrap

			&.m-align_top
				align-items flex-start

				dt
					padding-top 10px

			dt
				flex 0 0 160px
				max-width 160px
			dd
				flex 0 0 230px
				max-width 230px
				.field
					display block
					width 100%


	&--line
		margin rem(12 0 0)
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				margin rem(8 0 0)
		&:first-child
			margin 0

		&.m-tall
			margin rem(28 0 0)
			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					margin rem(18 0 0)
			&:first-child
				margin 0
	&--footer
		margin 18px 0 0

		.btn
			margin 0 6px 0 0


	&--data_table
		&--header
			padding rem(10px)
			strong
				color $gray

		&--body
			border 1px solid $border_color

		&--item
			padding 10px
			position relative


		&--remove
			&
				width 30px
				height 30px
				position absolute
				left 100%
				top 50%
				t-translate(0, -50%)
				color $red
				margin 0 0 0 3px
				text-indent -9999px

				&:before
					icon($i-times)
					font-size rem(17px)
					position absolute
					top 50%
					left 50%
					t-translate(-50%, -50%)
					text-indent 0

			&:hover
				color darken($red, 20%)

		&--footer
			padding rem(10px 5px 0)

			&.m-add_margin
				margin rem(6px 0 0 2px)

		&--add
			text-transform uppercase
			font-size rem(12px)
			color $blue
			font-weight 600
			padding rem(0 10px)

			&:hover
				text-decoration underline

		&:hover
			color $blue_dark

	&--select_date
		dd
			display flex

			.select
				&
					flex 1
					margin 0 0 0 10px

				&:first-child
					margin 0

	&--errors
		margin 20px 0
		border 1px solid lighten($red_light, 15)
		background lighten($red_light, 30)
		color $red
		padding 10px 20px
		border-radius 3px

	&--label
		font-size 14px
		font-weight 600
		color $gray_dark
		display block
		margin-bottom 10px

	&--sort-by
		+responsive('max-width: 375px')
			display none !important
	&--verify
		background red

	&--notification_holder
		position relative

	&--notification
		position absolute
		left 100%
		top -20px
		border 1px dashed $gray_dark
		border-radius 5px
		margin-left 50px
		padding 10px
		background $background_color
		box-shadow 0 0 15px rgba(0, 0, 0, .1)
		width 250px
		line-height 1.3

		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				position relative
				top 0
				left 0
				margin 20px 0 20px

		&.m-arrow_top_left:before
			position absolute
			content ''
			icon($i-arrow-top)
			display block
			font-size 25px
			color $gray
			transform rotate(120deg) scaleY(-1)
			top 25px
			left -36px

			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					display none

		&_close
			width 25px
			height 25px
			position absolute
			top -12px
			right -12px
			border 1px solid $gray_light
			text-indent -9999px
			border-radius 50%
			z-index 1
			background $background_color

			&:before
				text-indent 0
				icon($i-times)
				position absolute
				top 50%
				left 50%
				font-size 12px
				center()
				color $gray
				margin-top -1px

			&:hover
				border-color $gray

				&:before
					color $gray_dark

		&_title
			color $blue_light
			text-transform uppercase
			font-weight 600

			&:before
				display inline-block
				content ''
				icon($i-high_importance)
				color #f79b2e
				margin-right 5px
				position relative
				top 2px

		&_text
			p
				margin-bottom 5px

				&:last-child
					margin-bottom 0

			a
				font-weight 600
				border-bottom 1px solid $gray_light

				&:hover
					color $blue_light
					border-color $blue_light
