/**
Template:
<label class="onoff">
	<input type="checkbox" value="1" name="checkbox">	- required
	<span class="onoff--label">Value</span> 			- required
</label>

Group with .onoff_group class
 */

.onoff
	display inline-block
	cursor pointer
	position relative
	overflow hidden
	&--label
		display block
		width 50px
		height 45px
		text-align center
		background #fff
		overflow hidden
		border-radius 3px
		border 1px solid $border_color
		line-height @height - 2px
		font-weight 600
		font-size 13px
		color $gray
	&:hover &
		&--label
			border-color darken($border_color, 20%)
			color darken($gray, 20%)

	input[type="checkbox"]
	input[type="radio"]
		position absolute
		left -9999px
		&:checked +
		&:checked ~
			.onoff--label
				background-color $blue_light
				border-color $blue_light
				color #fff


.onoff_group
	display block
	.onoff
		margin 0 5px 0 0
	&.m-row
		display flex
		flex-wrap wrap
		.onoff
			flex 0 0 50px
			margin 0 10px 10px 0
