.radio

	&
		position relative
		padding 0 0 0 24px
		cursor pointer
		display inline-block
		vertical-align middle
		user-select none

		.radio--label
			em
				display block
				font-style normal
				margin-top rem(12px)
				line-height 22px

		input
			&
				position absolute
				left -9999px

			&:checked ~
			&:checked +
				.radio--i
					border-color $blue
					&:before
						display block

				.radio--label
					color $gray_dark

			&:disabled ~
			&:disabled +
				.radio--i
				.radio--label
					cursor default
					opacity .3

		&--i
			display block
			width 17px
			height 17px
			border 1px solid #e1e1e1
			position absolute
			top 50%
			left 0
			transform translate(0, -50%)
			border-radius 100%
			background #fff

			&:before
				display none
				width 7px
				height 7px
				background $blue
				content ''
				border-radius 100%
				position absolute
				top 4px
				left 4px

		&--label
			font-weight 600
			color $gray

	&:hover &
		&--i
			border-color darken(#e1e1e1, 20%)

		&--label
			color darken($gray, 20%)

	&.m-green
		padding-left 28px

		input[type="radio"]
			&:checked +
			&:checked ~
				.radio--i
					background-color $green_light

				.radio--label
					color white

			&:focus +
			&:focus ~
				.radio--i
					border-color transparent

				.radio--label
					color white

	&.m-green &
		&--i
			border none
			width 19px
			height 19px

			&:before
				color white
				background white
				font-size 15px
				top 6px
				left 6px

		&--label
			font-size 16px
			color white
			font-weight normal

.radio_group

	&.m-dib
		display inline-block

	&.m-horizontal

		&--label
			display inline-block
			margin 0 20px 0 0
			vertical-align middle

		.headline
			display inline-block
			margin-right rem(18px)

		.radio
			&
				margin 0 0 0 20px

			&:first-of-type
				margin-left 0

	&.m-paddingtop
		padding-top rem(24px)

	&.m-label_auto
		label
			width auto !important

.horizontal_list_radio
	&
		border-top 1px solid $border_color
		padding rem(34px 0 40px 30px)

	&.m-negative_margin
		margin-left rem(-36px)
		margin-right rem(-36px)


.m-radio-top
	.radio--i
		top 0
		margin-top rem(6px)
