.select
	&
		background #fff

		select
			&
				-webkit-appearance none
				-moz-appearance none
				appearance none
				display block
				width 100%
				min-height 47px
				padding rem(15px 30px 13px 13px)
				border 1px solid $border_color
				border-radius 3px
				background transparent
				font-size .875rem
				color $gray
				outline none
				user-select none
				overflow(ellipsis)
				cursor pointer
				line-height 1
				z-index 1
				position relative

			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					min-height 41px
					font-size rem(16)
					padding rem(5 30 5 13)

			&:focus
			&:hover
				border-color #e1e1e1

			&.select2-hidden-accessible
				position absolute
				left -9999px

			&:disabled
				background white
				opacity .7
				cursor default
				color rgba($gray, .5)
				border-color $border_color

		&:after
			display block
			width 0
			height 0
			border-style solid
			border-width 5px 5px 0 5px
			border-color #aaa transparent transparent transparent
			content ''
			position absolute
			right 10px
			top 50%
			margin -2px 0 0

	&.m-inited
		&:after
			display none

		select
			position absolute
			left -9999em

	&.m-horizontal
		dt, dd
			display inline-block

	&.m-w200
		width 200px !important
	&.m-w125
		width 125px !important

	&.m-wide
		width 100%

	&.m-auto
		width auto

	&.m-marginmin
		margin rem(0 2px) !important

	&.m-borderless
		select
			border 0
		.select2-selection
			border 0

			.chosen-drop
				border 0

	&.m-inline
		border 1px solid $border_color
		border-radius 3px

		&:after
			display none

		.dropdown-wrapper
			display block
			max-height 400px
			overflow hidden
			position relative
		.select2-selection
			margin 10px
			width auto
			border-radius 3px !important
			&:after
				display none
		.select2-dropdown
			display block
			position relative
			z-index 0
			border 0
			padding 10px 0

			.ps-scrollbar-y-rail
			.ps-scrollbar-x-rail
				display none

		.select2-search__field
			display none

		.select2-results
			&__option--highlighted
				color #fff
				background #3db7cb

			&__option--highlighted[aria-selected="true"]
				background #fff

			[aria-selected="true"]
				color #c4c4c4

			.select2-results__group
				display block
				padding 0 18px
				font-size 18px
				margin 0 0 4px

			.select2-results__option
				&
					padding 5px 18px

					> strong
						text-transform uppercase

			> .select2-results__options > .select2-results__option
				&
					padding 0
					margin 26px 0 0

				&:first-child
					margin 0

	&.m-required
		&:before
			content '*'
			position: absolute
			font-size 24px
			font-weight bold
			top -10px
			right -8px
			width 16px
			height 16px
			color #e05b49
			border 4px solid #fff
			border-radius: 50%


	&.m-arrow
		.select2-selection
			&:after
				display block
				width 0
				height 0
				border-style solid
				border-width 5px 5px 0 5px
				border-color #aaa transparent transparent transparent
				content ''
				position absolute
				right 24px
				top 50%
				margin -2px 0 0
			&--multiple
				padding-right 36px

		.select2-container--open
			.select2-selection
				&:after
					border-width 0 5px 5px 5px
					border-color transparent transparent #aaa transparent


	&.m-timepicker
		.select2-selection
			&:after
				border 0
				icon($i-clock)
				font-size 14px
				width 14px
				height @width
				font-size @height
				line-height @height
				text-align center
				top 50%
				color $gray
				margin (-@height/2) 0 0 0




// select2 ver 4
.select
	&
		position relative
		display inline-block
		vertical-align middle
		min-height rem(40px)

	.select2
		&-container
			display block
			width 100% !important

		&-selection
			&
				display block
				width 100%
				min-height rem(40px)
				padding rem(15px 30px 13px 13px)
				border 1px solid $border_color
				border-radius 3px
				background #fff
				font-size .875rem
				color $gray
				outline none
				user-select none
				overflow(ellipsis)
				cursor pointer

				&:after
					display block
					width 0
					height 0
					border-style solid
					border-width 5px 5px 0 5px
					border-color #aaa transparent transparent transparent
					content ''
					position absolute
					right 10px
					top 50%
					margin -2px 0 0


			.select2-search
				border 0

			&:hover
				border-color #e1e1e1

			&--multiple
				min-height 44px
				padding 0 15px 5px 5px
				ul.select2-selection__rendered
					cf()

				.select2-selection__choice
					position relative
					padding-right 15px
					float left
					margin 5px 5px 0 0
					border 1px solid $border_color
					border-radius 3px
					padding 8px 22px 8px 10px
					height 32px
					background #f7f7f7

				.select2-selection__choice__remove
					color $red
					position absolute
					right 4px
					top 50%
					t-translate(0, -50%)
					display block
					width 14px
					height 14px
					text-indent -9999px

					&:before
						font-size 12px
						icon($i-times)
						center()
						text-indent 0

				.select2-search--inline
					&
						float left
						margin 5px 0 0

						.select2-search__field
							font-size .875rem
							color $gray
							padding 7px 0

						input[type="search"]
							-webkit-appearance none
							-webkit-appearance textfield !important

						input[type="search"]::-webkit-search-decoration,
						input[type="search"]::-webkit-search-cancel-button,
						input[type="search"]::-webkit-search-results-button,
						input[type="search"]::-webkit-search-results-decoration
							display none

					&:first-child
						margin-left 5px

			&__rendered
				&:empty:before // dirty hack to prevent select height jumping
					visibility hidden
					content: '\007C\00a0\00a0'

.select.m-error
	select
	.select2-selection
		border-color #d88484
		color $red


.select2-container--focus
	.select2-selection
		border-color #e1e1e1

.select2-container--open
	.select2-selection
		border-radius 3px 3px 0 0
		&:after
			border-width 0 5px 5px 5px
			border-color transparent transparent #aaa transparent

.select2-container--open.select2-container--above
	.select2-selection
		border-radius 0 0 3px 3px

.select2-container--disabled
	.select2-selection
		opacity .7
		cursor default

.select2
	&-search
		display block
		border-bottom 1px solid $border_color
		&__field
			ibreset()
			padding 8px 9px
			width 100%
			-webkit-appearance none
			appearance none
			font-size rem(14px)
		&--hide
			display none

	&-dropdown
		position absolute
		z-index 10000
		background #fff
		width 100%
		border 1px solid #e1e1e1
		border-top 0
		border-radius 0 0 3px 3px

		.select2-results
			display block
			li
				padding rem(8px 13px)
				cursor pointer

			&__option--highlighted
				color $blue

			[aria-selected="true"]
				color #c4c4c4

			> .select2-results__options
				padding rem(4px 0)
				max-height 200px
				overflow auto

	&-dropdown--above
		border 1px solid #e1e1e1
		border-bottom 0
		border-radius 3px 3px 0 0


	&-container.m-dropdown_hide &
		&-dropdown
			display none !important

	&-search__field
		+placeholder()
			color #c4c4c4

	&-container.m-show_disabled
		li[aria-disabled="true"]
			display block
			color $gray_lighter
			cursor default

li[aria-disabled="true"]
	display none

