.star_rating
	&
		display inline-block
		vertical-align middle
		font-size 0
		line-height 1
		position relative

		&--star
			&
				display inline-block
				margin 0 0 0 -1px
				&:before
					icon($i-star-o)
					font-size 1.125rem
					color $red
			&.m-yellow
				&:before
					color $yellow

		&--stars
			position absolute
			left 0
			top 0

		&--radio
			display block
			opacity 0
			width 1.125rem
			height 1.125rem
			cursor pointer
			float left
			z-index 1
			position relative
			margin 0 0 0 -1px

			&:nth-of-type(1)
				&:checked
				&:hover
					~ .star_rating--stars .star_rating--star:nth-child(1):before
						icon($i-star)

			&:nth-of-type(2)
				&:checked
				&:hover
					~ .star_rating--stars .star_rating--star:nth-child(-n+2):before
						icon($i-star)

			&:nth-of-type(3)
				&:checked
				&:hover
					~ .star_rating--stars .star_rating--star:nth-child(-n+3):before
						icon($i-star)

			&:nth-of-type(4)
				&:checked
				&:hover
					~ .star_rating--stars .star_rating--star:nth-child(-n+4):before
						icon($i-star)

			&:nth-of-type(5)
				&:checked
				&:hover
					~ .star_rating--stars .star_rating--star:nth-child(-n+5):before
						icon($i-star)

	&.m-0_5 &
	&.m-0_6 &
	&.m-0_7 &
	&.m-0_8 &
	&.m-0_9 &
		&--star:nth-child(1):before
			icon($i-star-half-o)

	&.m-1 &
	&.m-1_0 &
	&.m-1_1 &
	&.m-1_2 &
	&.m-1_3 &
	&.m-1_4 &
		&--star:nth-child(1):before
			icon($i-star)

	&.m-1_5 &
	&.m-1_6 &
	&.m-1_7 &
	&.m-1_8 &
	&.m-1_9 &
		&--star:nth-child(1):before
			icon($i-star)

		&--star:nth-child(2):before
			icon($i-star-half-o)

	&.m-2 &
	&.m-2_0 &
	&.m-2_1 &
	&.m-2_2 &
	&.m-2_3 &
	&.m-2_4 &
		&--star:nth-child(-n+2):before
			icon($i-star)

	&.m-2_5 &
	&.m-2_6 &
	&.m-2_7 &
	&.m-2_8 &
	&.m-2_9 &
		&--star:nth-child(-n+2):before
			icon($i-star)

		&--star:nth-child(3):before
			icon($i-star-half-o)

	&.m-3 &
	&.m-3_0 &
	&.m-3_1 &
	&.m-3_2 &
	&.m-3_3 &
	&.m-3_4 &
		&--star:nth-child(-n+3):before
			icon($i-star)

	&.m-3_5 &
	&.m-3_6 &
	&.m-3_7 &
	&.m-3_8 &
	&.m-3_9 &
		&--star:nth-child(-n+3):before
			icon($i-star)

		&--star:nth-child(4):before
			icon($i-star-half-o)

	&.m-4 &
	&.m-4_0 &
	&.m-4_1 &
	&.m-4_2 &
	&.m-4_3 &
	&.m-4_4 &
		&--star:nth-child(-n+4):before
			icon($i-star)

	&.m-4_5 &
	&.m-4_6 &
	&.m-4_7 &
	&.m-4_8 &
	&.m-4_9 &
		&--star:nth-child(-n+4):before
			icon($i-star)

		&--star:nth-child(5):before
			icon($i-star-half-o)

	&.m-5 &
	&.m-5_0 &
		&--star:before
			icon($i-star)

	// size
	&.m-s &
		&--star
			margin 0 0 0 1px

			&:before
				font-size 1rem
