<div class="wizard_booking--payment">
	<div class="wizard_booking--block m-pad">
		<header class="wizard_booking--block--header">
			<h2 class="wizard_booking--block--header--title">Payment Details</h2>
		</header>
		<div class="wizard_booking--payment_totals">
			<dl class="wizard_booking--payment_totals--row">
				<dt>
					<p><strong>Credit ({{sessionsPurchased}} {{sessionsLabel}})</strong></p>
					<p>{{serviceName}} - {{duration}}</p>
				</dt>
				<dd>1</dd>
			</dl>
			<dl class="wizard_booking--payment_totals--row m-total">
				<dt>Sessions Left</dt>
				<dd data-payment-price-total>{{sessionsLeft}}</dd>
			</dl>
		</div>
	</div>
</div>
