<div class="professional_setup--listing" data-locations-list></div>

<div class="professional_setup--panel m-bordered m-hide" data-locations-add-container></div>

<div class="professional_setup--footer" data-locations-footer>
	<button type="button" class="professional_setup--footer--add_btn" data-locations-add-btn>Add Another Location</button>
</div>
