+responsive('max-width: 980px')
	.pick_date
		.wizard
			&--block_container
				min-height auto

	.wizard
		.pick_date
			&--time
				padding 0
				&--timezones
					top 13px
				&--header
					padding 12px 20px
					border-bottom 1px solid $border_color
				&--title
					font-size 15px
