.pick_date
	.wizard--block_container
		min-height 295px
	&--date
		&--calendar
			position relative

	&--time
		padding 15px 0 0
		border-top 1px solid $border_color
		position relative

		&--timezones
			position absolute
			top 10px
			right 15px

		&--header
			position relative
			margin 0 0 5px
			padding 0 20px

			.skim_nav
				position absolute
				right 0
				top -5px

		&--title
			font-size rem(18px)
			font-weight 600
			padding-right 130px

		.wizard--block_container
			min-height 0
