.job
	width 780px
	margin 0 auto
	padding 75px 0 90px
	
	&--title
		color $blue
		font-size rem(22px)
		line-height rem(30px)
		margin rem(0 0 17px)
		
	&--lists
		display flex
		padding 65px 0 0

	&--list
		&
			flex 1
			margin 0 0 0 50px
			
			ul
				padding 10px 0 0
			
			li
				&
					position relative
					padding 0 0 0 20px
					font-size 1rem
					line-height rem(22px)
					margin rem(15px 0 0)
					&:before
						display block
						width 9px
						height 9px
						border 1px solid $blue
						border-radius 9px
						background #fff
						position absolute
						top 6px
						left 0
						content ''

				&:first-child
					margin 0

		&:first-child
			margin 0

	&--footer
		text-align center
		padding 80px 0 0
		
		.btn
			padding 18px 40px
			font-size 1rem
