.notifications {
  position: fixed;
  left: 10px;
  top: 10px;
  right: 10px;
  z-index: 999;
}


table {
	width: 100%;

  tr {
    &.status-approved {
      td:first-child {
        border-left: 5px solid $success-color;
      }
      .action-approved {
        display: none;
      }
    }
    &.status-spam {
      td:first-child {
        border-left: 5px solid $alert-color;
      }
      .action-spam {
        display: none;
      }
    }
    &.status-pending {
      td:first-child {
        border-left: 5px solid $warning-color;
      }
      .action-pending {
        display: none;
      }
    }
  }

  .status-actions {
    a {
      display: inline-block;
      margin-right: 10px;
      font-size: rem-calc(12);
      position: relative;
      &:focus {
        top: 1px;
      }

      &.action {
        &-approved {
          color: $success-color;
          &:hover {
            color: darken($success-color, 10);
          }
        }
        &-spam {
          color: $alert-color;
          &:hover {
            color: darken($alert-color, 10);
          }
        }
        &-pending {
          color: $primary-color;
          &:hover {
            color: darken($primary-color, 10);
          }
        }

      }
    }
  }
}

.pagination {
  .active {
    span {
      display: block;
      background: $pagination-link-current-background;
      color: $pagination-link-current-font-color;
      font-weight: $pagination-link-current-font-weight;
      padding: $pagination-link-pad;
      @include radius;
      font-size: 1em;
      line-height: inherit;
    }
  }
}

textarea {
	resize: vertical;
}
