<div class="wizard_booking--block m-pad m-introductory_session" data-booking-introductory-intro>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Introductory session</h2>
	</header>
	<div class="wizard_booking--introductory_session">
		<div class="wizard_booking--introductory_session--notice">
			<p>This professional requires an <strong>introductory session</strong> for all first-time visitors</p>
		</div>
		<footer class="wizard_booking--introductory_session--send_message">
			<p><strong>Not your first time with the professional?</strong></p>
			<p><button data-send-message class="wizard_booking--introductory_session--send_message--btn btn m-blue m-small"><i></i>Send a Message</button></p>
		</footer>
	</div>
</div>

<div class="wizard_booking--block m-pad m-service_select" data-booking-service-select>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Pick Your Service</h2>
	</header>
	<div data-booking-service class="wizard_booking--service_select"></div>
</div>

<div class="wizard_booking--block m-pad m-location_select" data-booking-location-select>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Pick Your Location</h2>
	</header>
	<div class="wizard_booking--location_select" data-booking-location></div>
</div>

<div class="wizard_booking--block m-pad m-datetime_select" data-booking-datetime-select>
	<div class="wizard_booking--block--cols">
		<div class="wizard_booking--block--col">
			<header class="wizard_booking--block--header">
				<h2 class="wizard_booking--block--header--title">Pick Your Date</h2>
			</header>
			<div class="wizard_booking--date_select booking_time m-pick_date" data-booking-date></div>
		</div>
		<div class="wizard_booking--block--col">
			<header class="wizard_booking--block--header">
				<h2 class="wizard_booking--block--header--title">Pick Your Time</h2>
			</header>
			<div class="wizard_booking--time_select" data-booking-time></div>
			<span class="wizard_booking--timezone_note timezone_note">Times shown in <b data-wizard-timezone></b></span>
		</div>
	</div>
</div>
