<div class="wizard_booking--service_select--row">
	<dl class="form--group wizard_booking--service_select--service m-introductory">
		<dt>Service</dt>
		<dd>
			<strong>{{{service_name}}}</strong>
		</dd>
	</dl>
	<dl class="form--group wizard_booking--service_select--session m-introductory">
		<dt>Duration</dt>
		<dd>
			<span>{{{session_duration}}}</span>
			<span>{{{session_price}}}</span>
		</dd>
	</dl>
</div>
