.working_hours
	padding rem(30 35 0 70)
	line-height 1.25

	&--timezones
		position relative
		display block
		padding-top 20px

	&--list
		display flex
		flex-wrap wrap

	&--location
		flex 0 0 33%
		padding-right rem(40)
		margin-bottom 30px
		+responsive('max-width: 1024px')
			flex 0 0 50%
		+responsive('max-width: 768px')
			flex 0 0 100%
			padding-right 0

		&.m-office
			.working_hours--location_name:before
				icon($i-map-marker)
				color #f2b95e
				left -24px

		&.m-home-visit
			.working_hours--location_name:before
				icon($i-home-filled)
				color #3c9bab
				font-size 18px

		&.m-virtual
			.working_hours--location_name:before
				icon($i-desktop)
				color #e27560
				font-size 16px
				margin-top 0px

	&--location_name
		font-size rem(16)
		font-weight 600
		color $gray_dark
		margin-bottom rem(14)
		position relative
		&:before
			line-height 1
			position absolute
			left -26px
			top 50%
			font-size 20px
			transform translateY(-50%)
			margin-top -1px

	&--location_address
		color $gray
		margin-bottom rem(14)

	&--location_availability
		margin-bottom rem(14)
		&:last-child
			margin-bottom 0
		span
		strong
			display block
		span
			color $gray
		strong
			font-size rem(13)
