<div class="membership--sidebar">
	<i class="membership--badge"></i>
	<div class="membership--selected">
		<div class="membership--selected_label">Plan:</div>
		<div class="membership--selected_plan" data-selected-plan></div>
		<div class="membership--selected_label">Select Billing Cycle:</div>
		<div class="membership--price">
			<div class="membership--price_group">
				<label for="product_id_annual" class="membership_option">
					<input type="radio" id="product_id_annual" name="product_id" value="" class="membership_option--input" data-product="annual">
					<div class="membership_option--label">
						<div class="membership_option--price"><b data-year-price></b> / year</div>
						<div class="membership_option--note m-2_months_free">Best value</div>
					</div>
				</label>
				<label for="product_id_monthly" class="membership_option">
					<input type="radio" id="product_id_monthly" name="product_id" value="" class="membership_option--input" data-product="monthly">
					<div class="membership_option--label">
						<div class="membership_option--price"><b data-month-price></b> / month</div>
						<div class="membership_option--note">No long term commitments</div>
					</div>
				</label>
			</div>
			<div class="membership--price_discounted m-hide" data-price-discounted>
				<div class="membership--price_row">
					<div class="membership--price_row_label">Subtotal</div>
					<div class="membership--price_row_value" data-price-subtotal></div>
				</div>
				<div class="membership--price_row">
					<div class="membership--price_row_label">Coupon Code</div>
					<div class="membership--price_row_value">
						<div data-price-coupon></div>
						<button type="button" class="membership--price_remove" data-price-coupon-remove>[Remove]</button>
					</div>
				</div>
			</div>
			<div class="membership--price_row membership--price_total">
				<b class="membership--price_row_label">Total</b>
				<div class="membership--price_row_value" data-price-total></div>
			</div>
		</div>
		<div class="membership--selected_text">
			You will be charged <b><span data-charged-ammount></span> per <span data-charged-cycle></span></b>. Your HealthPRO subscription automatically renews every <span data-charged-cycle></span> and you may <b data-charged-cycle-upgrade></b> cancel anytime.
		</div>
		<button class="btn m-green m-large m-wide membership--selected_submit" type="submit" data-form-el="submit">Complete Order</button>
	</div>
	<a href="/" class="membership--logo" title="HealthPRO"></a>
</div>
<div class="membership--main">
	<div class="membership--container membership_sign" data-membership-container="sign">
		{{#if social_signup}}
			<h2 class="membership--title m-connected">You are signed in with your {{social_signup}} account</h2>
		{{/if}}
		{{#if alreadyRegistered}}
			<h2 class="membership--title m-connected">Please fill out the form to complete your registration</h2>
		{{/if}}
	</div>
	<div class="membership--container membership_payment" data-membership-container="payment"></div>

	<div class="membership--container membership--footer">
		<div class="membership--agreement">
			<label class="field checkbox">
				<input type="checkbox" class="auth_form--terms" name="agree_terms">
				<span class="checkbox--i"></span>
				<span class="checkbox--label">
					I agree to HealthPRO's <a href="{{ route_terms }}" target="_blank">Terms of Service</a>
				</span>
				<span class="field--error"></span>
			</label>
		</div>
		<div class="membership--footer_discounted membership--price_discounted m-hide" data-price-discounted>
			<div class="membership--price_row">
				<div class="membership--price_row_label">Subtotal</div>
				<div class="membership--price_row_value" data-price-subtotal></div>
			</div>
			<div class="membership--price_row">
				<div class="membership--price_row_label">Coupon Code</div>
				<div class="membership--price_row_value">
					<div data-price-coupon></div>
					<button type="button" class="membership--price_remove" data-price-coupon-remove>[Remove]</button>
				</div>
			</div>
		</div>
		<div class="membership--footer_total membership--price_row">
			<b class="membership--price_row_label">Total</b>
			<div class="membership--price_row_value" data-price-total></div>
		</div>
		<div class="membership--actions">
			<button class="btn m-green m-large membership--actions_submit" type="submit" data-form-el="submit">Complete Order</button>

			<div class="membership--secure">
				<div class="membership--secure_label inline_icon m-secure">Secure Credit Card Payment</div>
			</div>
		</div>
	</div>
</div>
