
<h3 class="membership--title">Your Payment Information</h3>

<div class="membership_payment--types">
	<div class="membership_payment--types_item m-fake_label">
		<input type="radio" name="payment_type" value="cc" checked>
		<span class="membership_payment--types_item_label m-cc" title="Credit Card" checked>Credit Card</span>
	</div>
	<!-- <label class="membership_payment--types_item radio">
		<input type="radio" name="payment_type" value="cc">
		<i class="radio--i"></i>
		<span class="membership_payment--types_item_label m-cc radio--label" title="Credit Card" checked>Credit Card</span>
	</label>
	<label class="membership_payment--types_item radio">
		<input type="radio" name="payment_type" value="paypal">
		<i class="radio--i"></i>
		<span class="membership_payment--types_item_label m-pp radio--label" title="PayPal">PayPal</span>
	</label> -->
</div>

<div class="membership_payment--card_info" data-card-info>

	<div class="membership--row">
		<div class="membership--col">
			<dl class="form--line">
				<dt><label for="card_name" class="form--label">Cardholder’s Name</label></dt>
				<dd>
					<span class="field m-icon m-user m-wide">
						<input type="text" name="card_name" id="card_name" autocomplete="cc-name">
						<span class="field--error"></span>
					</span>
				</dd>
			</dl>
		</div>
		<div class="membership--col">
			<dl class="form--line">
				<dt><label for="card_number" class="form--label">Card Number <i class="inline_icon m-secure"></i></label></dt>
				<dd>
					<span class="field m-icon m-card m-wide card_form--form_number--field">
						<input type="tel" name="card_number" id="card_number" autocomplete="cc-number" x-autocompletetype="cc-number">
						<span class="field--error"></span>
					</span>
				</dd>
			</dl>
		</div>
	</div>

	<div class="membership--row">
		<div class="membership--col membership_payment--card_info_col">
			<div class="form--line membership_payment--card_info_line">
				<dl class="form--group membership_payment--card_info_exp">
					<dt><label for="card_exp" class="form--label">Expiration Date</label></dt>
					<dd>
						<span class="field m-wide">
							<input type="tel" name="card_exp" autocomplete="cc-exp" placeholder="MM / YYYY">
							<span class="field--error"></span>
						</span>
					</dd>
				</dl>
				<dl class="form--group membership_payment--card_info_cvc">
					<dt><label class="form--label" for="card_cvv">CVV</label></dt>
					<dd>
						<span class="field">
							<input type="tel" name="card_cvv" id="card_cvv" autocomplete="off" placeholder="CVV">
							<span class="field--error"></span>
						</span>
					</dd>
				</dl>
			</div>
		</div>
	</div>

</div>

<div class="membership--row">
	<div class="membership--col">
		<div class="form--line">
			<dl class="form--line membership_payment--coupon" data-coupon-form>
				<dt><label for="coupon" class="membership_payment--coupon_opener form--label" data-coupon-opener>Add a Coupon Code</label></dt>
				<dd>
					<div class="form--group membership_payment--coupon_group m-hide" data-coupon-fields>
						<span class="field membership_payment--coupon_input">
							<input type="text" name="coupon" id="coupon" data-coupon-input data-allow-empty="true">
							<span class="field--error"></span>
						</span>
						<span class="field">
							<button class="btn m-blue" type="button" disabled data-coupon-submit>Add</button>
						</span>
					</div>
				</dd>
			</dl>
			<div class="membership_payment--coupon_set m-hide" data-coupon-set>Coupon Code <b data-coupon-name></b></div>
		</div>
		<div class="membership_payment--coupon_loading loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
	</div>
</div>
