<div class="membership_sign--fast_sign m-sign">
	<h3 class="membership--title">Sign Up with Social Networks</h3>
	<div class="membership_sign--fast_sign_buttons">
		<a href="{{ route_facebook }}" class="btn_social -facebook">
			<span class="btn_social--icon m-transparent"></span> <i>Sign Up with</i> Facebook
		</a>
		<a href="{{ route_linkedin }}" class="btn_social -linkedin">
			<span class="btn_social--icon m-transparent"></span> <i>Sign Up with</i> LinkedIn
		</a>
		<a href="{{ route_google }}" class="btn_social -google">
			<span class="btn_social--icon m-transparent"></span> <i>Sign Up with</i> Google
		</a>
	</div>
	<i class="membership_sign--fast_sign_or">OR</i>
</div>

{{#if dev_env}}
	<span class="btn m-small membership--fill_btn" data-fill-btn>Fill In</span>
{{/if}}

<div class="membership--row">
	<div class="membership--col">
		<dl class="form--line">
			<dt><label class="form--label" for="sign_name_popup">First Name</label></dt>
			<dd>
				<div class="field m-icon m-user m-wide">
					<input type="text"
						   id="sign_name_popup"
						   name="first_name"
						   value=""
						   max="26"
						   data-validate-blur>
					<span class="field--error"></span>
				</div>
			</dd>
		</dl>
	</div>
	<div class="membership--col">
		<dl class="form--line">
			<dt><label class="form--label" for="sign_last_popup">Last Name</label></dt>
			<dd>
				<div class="field m-icon m-checked_user m-wide">
					<input type="text"
						   id="sign_last_popup"
						   name="last_name"
						   value=""
						   max="26"
						   data-validate-blur>
					<span class="field--error"></span>
				</div>
			</dd>
		</dl>
	</div>
</div>

<div class="membership--row">
	<div class="membership--col">
		<dl class="form--line">
			<dt><label class="form--label" for="sign_email_popup">Email</label></dt>
			<dd>
				<div class="field m-icon m-message m-wide">
					<input type="email"
						   id="sign_email_popup"
						   name="email"
						   value="">
					<span class="field--error m-align_center"></span>
				</div>
			</dd>
		</dl>
		<div class="loading_overlay m-light m-hide" data-email-loading><span class="spin m-logo"></span></div>
	</div>
	<div class="membership--col">
		<dl class="form--line">
			<dt><label class="form--label" for="sign_pass_popup">Password</label></dt>
			<dd>
				<div class="field m-icon m-lock m-wide">
					<input type="password"
						   id="sign_pass_popup"
						   name="password"
						   data-validate-blur>
					<span class="field--error"></span>
				</div>
			</dd>
		</dl>
	</div>
</div>
