+responsive('max-width: 980px')
	.booking_success
		padding rem(30px 0)
		&.m-certificate
			padding rem(30px 0)
			border 0
			background transparent
			border-radius 0

		&--header
			padding 0 20px
			p
				font-size 16px
		&--header_title
			font-size 30px

		&--card
			display block
			margin rem(30px 0 0)

		&--info
			padding 0 20px

		&.m-certificate &
			&--info
				margin-left auto
				margin-right auto

		&--time_list
			flex none
			max-width 100%
			margin 0 20px

		&--info_receipt
			position relative
			bottom 0
			margin 20px 0 40px

+responsive('max-width: 640px')
	.booking_success
		&--time_list
			padding 20px 20px 0

		&--header
			padding 0

			p
				font-size 15px

				br
					display none

		&--gift_certificate
			display block

			&--image
				max-width 210px
				height 122px
				padding 0
				margin 0 auto

			&--info
				padding-left 0
				max-width 210px
				margin 0 auto
