.booking_success
	padding rem(20 0 0)

	&.m-certificate
		padding-top rem(10)
		.wizard.m-page &
			padding rem(30 20)
			border 1px solid $border_color
			background #fff
			border-radius 3px

	&--header
		position relative
		text-align center

		p
			font-size rem(18px)
			line-height rem(24px)
			color $gray_dark

	&--header_title
		font-size 45px
		font-weight 300
		margin rem(0 0 15px)

	&--card
		display flex
		justify-content center
		margin rem(50px 0 0)
		align-items flex-start

	&--info
		flex 0 0 360px
		max-width 360px
		position relative
		padding 0 20px 65px 0

	&--contact_info
		cf()

		a
			&
				color $blue

			&:hover
				text-decoration underline

		.userpic
			float left
			margin rem(0 15px 0 0)

		// &--data
		// 	float left

		&--data
			word-break break-word

		&--provider
			padding 8px 0 0
			dt
				font-size 1rem
				margin 0 0 6px

				span
					color #a1a1a1

			dd
				color #9e9e9e

		&--address
			line-height rem(18px)
			margin rem(25px 0 10px)


	&--time_list
		background #fff
		flex 0 0 300px
		max-width 300px
		border 1px solid $border_color
		border-radius 5px
		box-shadow 0 0 7px rgba(#000, .1)

	&--time
		@extends .booking_confirm--time

	&--info_receipt
		&
			display block
			position relative
			padding 0 0 0 27px
			color $gray_dark
			font-weight 600
			position absolute
			bottom 25px
			left 0

			&:before
				icon($i-bill)
				color #e0e0e0
				position absolute
				top 50%
				left 0
				font-size 21px
				t-translate(0, -50%)
				margin -1px 0 0

		&:hover
			text-decoration underline

	&--footer
		text-align center
		margin 40px 0 0

		p
			font-size rem(18px)
			line-height rem(24px)
			color $gray
			margin-top 25px

	&--gift_certificate
		max-width 480px
		margin 30px auto 0
		display flex

		&--image
			display block
			height 0
			padding-top 33%
			background url($i 'wizard/gift_certificate_info_image.png') no-repeat left top
			background-size contain
			flex 1 1 280px

		&--info
			flex 1
			flex-basis 46%
			padding-left 6%
			padding-top 25px

		&--info_row + &--info_row
			margin-top rem(10)

		&--info_title
			margin-bottom 20px
			font-size 18px
			font-weight 600
			color $gray_dark

		&--info_row
			font-size rem(14)
			color $gray_dark
			display flex
			dt
				flex 0 0 65px
			dd
				font-weight 600
				&.m-price
					color $red
					font-weight 600

.booking.m-popup
	.booking_success
		padding-bottom rem(40px)
