.page_nav
	background #f9fafc
	border-bottom 2px solid #e1e1e1
	text-align center
	text-transform uppercase

	li
		&
			display inline-block
			+responsive('min-width: 980px')
				border-right 1px solid #e1e1e1
				&:first-child
					border-left 1px solid #e1e1e1

		a
			&
				display block
				text-align center
				color $gray
				position relative
				margin rem(5)
				padding rem(10)
				white-space nowrap
				border 1px solid $border_color
				+responsive('min-width: 980px')
					padding 25px 0 20px
					width 196px
					margin 0
					border 0
					&:after
						display none
						background $blue
						height 2px
						left -1px
						right -1px
						bottom -2px
						position absolute
						content ''

			&:hover
				color $gray_dark

	li.m-current
		a
			background #fff
			color $blue

			&:after
				display block


