.user_menu
	position relative
	height 100%
	display flex
	align-items center
	&.m-slideout
		display block
		height auto
		padding-bottom rem(30)


	&.m-slideout &
		&--user
			padding rem(12 20)
			display flex
			background $background_color
			border-bottom 1px solid $border_color
			color $gray_dark

			&.m-current
				position relative
				&:after
					display block
					width 0
					height 0
					border-style solid
					border-width 5px 5px 0 5px
					border-color $gray transparent transparent transparent
					content ''
					position absolute
					right 20px
					bottom 16px
				.user_menu--userpic
					opacity 1

			&.m-profile
				padding rem(8 20)
				.user_menu--userpic
					opacity .6
					width 30px
					height 30px
					flex 0 0 30px
					padding-top rem(8)

				.user_menu--user_name
					padding-top 0
					dt
						strong
							font-size rem(14)
							font-weight 600
						span
							display block
					dd
						margin rem(3 0 0 0)
						font-size rem(12)


		&--userpic
			width 40px
			flex 0 0 50px
			margin 0 10px 0 0
			opacity .6


		&--user_name
			padding rem(5 0 0 0)
			dt
				overflow(ellipsis)
				strong
					color $gray_darker
					display block
					font-size rem(18)
					font-weight 400
				span
					display block
					color $gray
					font-weight 600
					font-size rem(13)
					margin-top rem(3)

			dd
				margin rem(3 15 0 0)
				font-size rem(13)
				color $gray_darker
				font-weight normal
				overflow(ellipsis)

		&--user_data
			flex 1
			min-width 0

		&--profiles
			display none
			&.m-show
				display block

		&--footer
			text-align center
			border-bottom 1px solid $border_color
			padding rem(12 15)
			display flex
			.btn
				padding-top rem(8)
				padding-bottom rem(8)
				flex 1
				line-height 1
				padding rem(8 0)
				&:first-child
					padding-top rem(9)
					padding-bottom rem(7)
					margin-right rem(15)

		&--register_link
			display block
			background transparent
			border-bottom 1px solid $border_color
			padding rem(20 5)
			background $background_color
			color $blue
			font-weight 600
			text-align center
			&:hover
				background darken($background_color, 1)
				color $blue_dark


	&.m-dropdown &
		&--opener
			position relative
			color $gray_dark
			font-weight 700

			.user_menu--userpic
				width 40px
				height 40px
				margin 0 5px 0 0
				opacity 1

			&:hover
				color $blue

				&:after
					border-color $blue transparent transparent transparent

		&--opener_text
			display inline-block
			position relative
			vertical-align middle
			padding-right 16px

			&:after
				display block
				width 0
				height 0
				border-style solid
				border-width 4px 4px 0 4px
				border-color #aaa transparent transparent transparent
				content ''
				position absolute
				right 0
				top 5px

		&--opener_label
			cut-text()
			position relative
			display block
			&:empty
				display none

		&--opener_type
			display block
			color $gray
			font-size rem(12)
			font-weight 600
			font-weight normal
			cut-text()

		&--dropdown
			display none
			width 250px
			position absolute
			top 100%
			right 0
			border 1px solid $border_color
			// border-top 0
			background #fff
			z-index 1000
			border-radius 0 0 3px 3px
			&.m-show
				display block

		&--user
			padding 5px 10px
			display flex
			border-top 1px solid $border_color
			background #f9fafc
			color $gray_dark

			&:hover
				background #fff

				.user_menu--userpic
					opacity 1

			&:first-child
				border 0

			&.m-current
				padding-top 10px
				padding-bottom 10px
				margin 0
				background #fff

				.user_menu--userpic
					opacity 1

		&--profiles
			border-top 1px solid $border_color

		&--userpic
			width 40px
			flex 0 0 50px
			margin 0 10px 0 0
			opacity .6

		&--user_name
			padding 10px 0 0 0
			dt
				font-size rem(14px)
				font-weight 600
				overflow(ellipsis)

				span
					color $gray

			dd
				padding 4px 0 0
				font-size rem(12px)
				color $gray
				font-weight normal
				overflow(ellipsis)

		&--user_data
			flex 1
			min-width 0

		&--user_nav
			padding 5px 0 0

		&--footer
			text-align center
			border-top 1px solid $border_color
			padding 12px 0
			.btn
				padding 9px 14px 7px
				line-height 1

			.btn.m-white
				padding-top 8px
				padding-bottom 6px

		&--manage
			padding-left 18px !important
			padding-right 18px !important

		&--logout
			margin 0 0 0 4px

		&--register_link
			display block
			background transparent
			border-top 1px solid $border_color
			padding rem(20 5)
			background $background_color
			color $blue
			font-weight 600
			text-align center
			&:hover
				background darken($background_color, 1)
				color $blue_dark
