<div class="wizard--header">
	<div class="wizard--header_in" data-wizard-header>
		<h1 class="wizard--title" data-wizard-title></h1>
		<span class="wizard--back" data-wizard-back></span>
	</div>
</div>
<div class="wizard--container_wrap" data-wizard-container-wrap>
	<div class="wizard--container form" data-wizard-container>
		<div class="wizard--content_wrap" data-wizard-content-wrap>
			<div class="wizard--content_scroll">
				<div class="wizard--content" data-wizard-content></div>
			</div>
		</div>
		<div class="wizard--sidebar" data-wizard-sidebar></div>
	</div>
</div>
<div class="wizard--loading loading_overlay m-light" data-wizard-loading><div class="heartbeat m-medium"></div></div>
