<header class="search_results--header">
	<h2 class="search_results--header--title">15 Providers in San Francisco, CA</h2>
</header>
<div class="search_results--toolbar">

	<dl class="search_results--toolbar--sort">
		<dt>Sort by</dt>
		<dd>
			<div class="select m-wide">
				<select data-select>
					<option>Price</option>
					<option>Category</option>
				</select>
			</div>
		</dd>
	</dl>
</div>

<div class="search_results--content">

</div>

<div class="search_results--loading loading_overlay m-light m-hide"><div class="spin m-logo"></div></div>
