<dt>Active Filters</dt>
<dd>
	<ul class="filters_list">
		<li class="filters_list--item m-empty m-hide">
			There is no active filters
		</li>
		<li class="filters_list--item m-clear m-hide">
			<button type="button" class="filters_list--item--clear">Clear All</button>
		</li>
	</ul>
</dd>
