<h2 class="search_results--header--title">
	{{#if is_zip}}
		<b>{{results_count}}</b>
		<span class="m-short">{{results_label}}</span>
		<span class="m-long">Professionals within {{radius}} miles of {{location}}</span>
	{{else}}
		<b>{{results_count}}</b>
		<span class="m-short">{{results_label}}</span>
		<span class="m-long">{{professionals_label}} {{#if location}} in {{location}}{{/if}}</span>
	{{/if}}
</h2>
