<div class="search_results--item--content js-highlight_on_hover">
	<div class="profile_card m-search">
		<div class="profile_card--photo">
			<div class="profile_card--photo--userpic">
				<figure class="userpic m-larger m-rounded js-highlight_on_hover--item">
					<a href="/p/{{profile.slug}}" target="_blank">
						<span class="userpic--inner">
							{{#if profile.avatar}}<img src="{{profile.avatar}}" alt="">{{/if}}
						</span>
					</a>
				</figure>
			</div>
			<div class="profile_card--photo--btns">
				{{#if hasAppointments}}
					<button class="profile_card--book_now btn m-red m-wide" type="button">Book Now</button>
				{{/if}}
				{{#if hasMonthlyPackage}}
					<button class="profile_card--book_recurring btn m-blue m-wide" type="button">Book Monthly Package</button>
				{{/if}}
			</div>
		</div>
		<div class="profile_card--main">
			<header class="profile_card--header">
				<h3 class="profile_card--header--title">
					{{#if profile.slug}}
					<a href="/p/{{profile.slug}}" class="js-highlight_on_hover--item" target="_blank">
						{{profile.full_name}}
					</a>
					{{else}}
					<a href="/p/{{profile.id}}" class="js-highlight_on_hover--item" target="_blank">
						{{profile.full_name}}
					</a>
					{{/if}}
				</h3>
				<div class="profile_card--header--reviews">
					<span class="profile_card--header--reviews--label">Review</span>
					<span class="star_rating m-{{profile.ratings.overall}} m-s">
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
					</span>
					{{#if profile.ratings.count}}({{profile.ratings.count}}){{/if}}
				</div>
			</header>
			<div class="profile_card--info">
				{{#if profile.tags.type_of_services}}
					<dl class="profile_card--info--line m-services">
						<dt>Services:</dt>
						<dd>
							<ul>
								{{#each profile.tags.type_of_services}}
									<li>{{this}}</li>
								{{/each}}
							</ul>
						</dd>
					</dl>
				{{/if}}

				<dl class="profile_card--info--line m-location">
					<dt>Locations:</dt>
					<dd>
						{{#if locations_office}}
							<div class="profile_card--location m-office">
								{{#each locations_office}}
									<p>{{this}}</p>
								{{/each}}
							</div>
						{{/if}}
						{{#if locations_virtual}}<div class="profile_card--location m-virtual">Virtual or Off-Site</div>{{/if}}
						{{#if locations_home}}<div class="profile_card--location m-home">Home Visits</div>{{/if}}
					</dd>
				</dl>

				{{!-- #if profile.tags.age_group}}
					<dl class="profile_card--info--line">
						<dt>Age Group:</dt>
						<dd>
							<ul>
								{{#each profile.tags.age_group}}
									<li>{{this}}</li>
								{{/each}}
							</ul>
						</dd>
					</dl>
				{{/if}}

				{{#if profile.tags.special_needs}}
					<dl class="profile_card--info--line">
						<dt>Special Needs:</dt>
						<dd>
							<ul>
								{{#each profile.tags.special_needs}}
									<li>{{this}}</li>
								{{/each}}
							</ul>
						</dd>
					</dl>
				{{/if --}}


				<div class="profile_card--info--action_btns">
					<!-- {{#if realAddress}}
					<button class="btn m-prepend m-pin profile_card--view_on_map" type="button">
						<b>&nbsp;</b>
						<span>View on Map</span>
					</button>
					{{/if}} -->
				</div>

				{{#if packagesAvailable }}
					<span class="search_results--item--packages_available">Packages Available</span>
				{{/if}}
			</div>

			<div class="profile_card--footer">
				<div class="profile_card--next_available">
					<p>The next appointment</p>
					<span class="profile_card--next_available--time">{{nextAvailability}}</span>
				</div>
				<button class="profile_card--book_now btn m-red" type="button">Book Now</button>
			</div>

		</div>
	</div>
</div>
{{#if hasAppointments}}
<div class="search_results--item--booking"></div>
{{/if}}
