<div class="search_results--item--content">
	<div class="profile_card_listed profile_card">
		<div class="profile_card_listed--photo">
			<figure class="userpic m-midlarge m-rounded">
				<span class="userpic--inner">
					{{#if profile.avatar}}<img src="{{profile.avatar}}" alt="">{{/if}}
				</span>
			</figure>
		</div>
		<div class="profile_card_listed--main">
			<h3 class="profile_card_listed--title">{{profile.full_name}}</h3>
			<div class="profile_card_listed--info">
				<div class="profile_card_listed--reviews">
					<span class="profile_card_listed--reviews--label">Review</span>
					<span class="star_rating m-{{profile.ratings.overall}} m-s">
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
						<span class="star_rating--star m-yellow"></span>
					</span>
					{{#if profile.ratings.count}}({{profile.ratings.count}}){{/if}}
				</div>
				<div class="profile_card_listed--services">Health &amp; Wellness</div>
				<!-- {{!-- #if profile.tags.type_of_services}}
					<div class="profile_card_listed--services">
						<ul>
							{{#each profile.tags.type_of_services}}
								<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				{{/if --}} -->
				<div class="profile_card_listed--locations">
					{{#if locations_office}}
						<div class="profile_card--location m-office">
							{{#each locations_office}}
								<p>{{this}}</p>
							{{/each}}
						</div>
					{{/if}}
					{{#if locations_virtual}}<div class="profile_card--location m-virtual">Virtual or Off-Site</div>{{/if}}
					{{#if locations_home}}<div class="profile_card--location m-home">Home Visits</div>{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="search_results--item--actions">
	<a href="{{conversations_link}}" class="search_results--item--actions--btn btn m-green m-message">Send a Message</a>
	{{#if profile.phone}}
		<a href="tel:{{profile.phone}}" class="search_results--item--actions--btn btn m-blue m-phone">Call Professional</a>
	{{/if}}
</div>
