<dl class="search_results--toolbar--sort">
	<dt>Sort by</dt>
	<dd>
		<div class="select m-wide">
			<select data-select name="sorting">
				<option value="relevance">Relevance</option>
				<option value="-rating">Rating</option>
				<option value="distance">Nearest Professional</option>
				<option value="name">Professional's name A-Z</option>
			</select>
		</div>
	</dd>
</dl>
