<div class="professional_setup_wizard--form" data-fields>

	<div class="professional_setup_wizard--error m-hide" data-generic-error></div>

	<div class="professional_setup_wizard--panel">
		<div class="professional_setup_wizard--form--row" data-field="name">
			<dl class="form--group">
				<dt class="m-title">Service Type</dt>
				<dd>
					<div class="select m-wide">
						<span class="field--error"></span>
						<select name="service_type_id"></select>
					</div>
				</dd>
			</dl>
			<footer class="professional_setup_wizard--info_footer">
				<button class="professional_setup_wizard--info_footer--no_service" type="button" data-open-service-form>Can't find a service you provide?</button>
			</footer>
		</div>

		<div class="professional_setup_wizard--form--row m-hide" data-sub="description" data-field="description">
			<dl class="form--group">
				<dt>Description</dt>
				<dd>
					<div class="field m-wide">
						<textarea name="description" cols="30" rows="3" placeholder="Add a description of your service here... (optional)"></textarea>
						<span class="field--error"></span>
					</div>
				</dd>
			</dl>
		</div>

		<div class="professional_setup_wizard--form--row m-hide" data-sub="sub_services">
			<dl class="form--group">
				<dt>Sub-Services</dt>
				<dd>
					<div class="select m-wide">
						<span class="field--error"></span>
						<select name="service_type_ids" multiple></select>
					</div>
				</dd>
			</dl>
			<footer class="professional_setup_wizard--info_footer">
				<p class="professional_setup_wizard--info_footer--info">The <strong>Service Type</strong> above will be displayed as your primary service, sub services will be displayed below that.</p>
			</footer>
		</div>

		{{#if gift_certificates}}
		<div class="professional_setup_wizard--form--row m-hide" data-sub="gift_certificates" data-field="certificates">
			<dl class="form--group">
				<dt>Gift Certificates</dt>
				<dd>
					<label class="field checkbox m-certificates">
						<input type="checkbox" name="certificates" value="1">
						<span class="checkbox--i"></span>
						<span class="checkbox--label"><i></i> Offer clients the option to purchase gift certificates for this service.</span>
					</label>
				</dd>
			</dl>
		</div>
		{{/if}}

		<div class="professional_setup_wizard--sub_footer">
			<button class="professional_setup_wizard--sub_footer--btn" type="button" data-sub-toggle="description">Add a Description</button>
			<button class="professional_setup_wizard--sub_footer--btn" type="button" data-sub-toggle="sub_services" data-tooltip="dark" title="Select additional services that you provide with the same location and price">Add Sub-Services</button>
			{{#if gift_certificates}}
			<button class="professional_setup_wizard--sub_footer--btn" type="button" data-sub-toggle="gift_certificates">Add Gift Certificates</button>
			{{/if}}
		</div>
	</div>

	<div class="professional_setup_wizard--error m-hide m-sessions" data-sessions-error></div>

	<div class="professional_setup_wizard--panel" data-edit-sessions></div>

	{{#if monthly_packages}}
	<div class="professional_setup_wizard--panel" data-edit-packages-reccuring></div>
	{{/if}}
</div>
