<div class="professional_setup_wizard--sessions--item_row">
	<div class="select">
		<select data-select name="number_of_visits"></select>
		<span class="field--error"></span>
	</div>
	<span class="label">sessions for total cost of</span>
	<div class="field m-price">
		<i>$</i>
		<input type="text" name="price" placeholder="Price">
		<span class="field--error"></span>
	</div>
	<button class="professional_setup_wizard--sessions--remove btn m-remove" data-package-remove type="button"></button>
</div>
