<div class="professional_setup_wizard--recurring--item_row">
	<div class="group m-duration">
		<strong class="label">Session Duration</strong>
		<div class="select">
			<select data-select name="duration"></select>
			<span class="field--error"></span>
		</div>
	</div>
	<div class="group m-visits">
		<strong class="label">Visits/Week</strong>
		<div class="select">
			<select data-select name="rules[max_weekly]"></select>
			<span class="field--error"></span>
		</div>
	</div>
</div>

<div class="professional_setup_wizard--recurring--item_row">
	<div class="group m-price">
		<strong class="label">Price/Month</strong>
		<div class="field m-price">
			<i>$</i>
			<input type="text" name="price" placeholder="Price">
			<span class="field--error"></span>
		</div>
	</div>
	<div class="group m-months">
		<strong class="label">Number of Months</strong>
		<div class="select">
			<select data-select name="number_of_months"></select>
			<span class="field--error"></span>
		</div>
	</div>
	<button class="professional_setup_wizard--recurring--remove btn m-remove" data-package-remove type="button"></button>
</div>
