<h3 class="professional_setup_wizard--heading">Single Session and Package Rates
	<button class="professional_setup--heading--tooltip" data-tooltip
			title="Offer your clients the option to purchase sessions in bulk at a discounted price. Win-win - you fill up your calendar and your clients save money!">

	</button>
</h3>
	<div class="professional_setup_wizard--sessions" data-sessions></div>
<footer class="professional_setup_wizard--sub_footer">
	<button data-sessions-add type="button" class="professional_setup_wizard--sub_footer--add">Add New Rate</button>
</footer>
