.profiles_list
	position relative
	.panel
		+responsive('max-width: 375px')
			padding-bottom 0 !important
	&--table--email
		+responsive('max-width: 375px')
			display none
	&--sort-select2
		margin-right 10px
		+responsive('max-width: 375px')
			margin-right 2px
		select
			+responsive('max-width: 375px')
				font-size 14px !important
				padding 4px 6px 4px 4px !important
				line-height 1.1
		&:after
			+responsive('max-width: 375px')
				right 3px
		dd
			width 180px
			margin-left 10px
			.select
				text-align left
				+responsive('min-width: 375px')
					display block

	.content_block
		padding-top 30px
		padding-bottom 30px
		box-shadow none

	&.m-table
		.content_block
			border-bottom-left-radius 0
			border-bottom-right-radius 0

	&--header
		display flex
		padding 40px 24px 30px
		align-items center
		+responsive('max-width: 375px')
			padding 40px 0px 30px
		&--find
			margin-right auto
			padding-top rem(15)
			padding-bottom rem(15)
		&--actions
			white-space nowrap
			.btn
				margin-left 3px
				min-width 110px
				+responsive('max-width: 375px')
					padding-right 0
					padding-left 0
					margin-right 2px
					margin-left 16px
				&.m-upload_clients
					padding-left 36px
					&:before
						icon($i-exel)
						font-size 16px
						height @font-size
						line-height @font-size
						position absolute
						left 10px
						top 50%
						transform translateY(-50%)
						color $gray_light
					&:hover
						color $gray_dark
						&:before
							color $gray


		&--search
			margin-right auto
			&.m-clients
				margin-right 10px
			.field
				display block
				input
					width 100%
					+responsive('max-width: 375px')
						font-size 14px !important
						padding-left 4px !important;
						padding-right 4px !important;
		&--sort
			margin-right 10px
			+responsive('max-width: 375px')
				margin-right 0
			dd
				width 180px
				margin-left 10px
				+responsive('max-width: 375px')
					width 145px
					margin-left 2px
				.select
					text-align left
					display block


	&--app
		margin 20px 1px
		&.m-table
			margin 0
			border 1px solid $border_color
			border-top 0
			background #fff
			border-bottom-left-radius 3px
			border-bottom-right-radius 3px

	&--timezones
		display block
		text-align right
		margin-bottom 5px
		&.m-padded_right
			padding-right rem(20px)

	&--listing
		cf()
		display flex
		flex-wrap wrap
		flex-direction row
		align-content flex-start
		margin -1% -1% 10px

		&--item
			flex 0 1 auto
			width 31.3333%
			margin 1%
			border 1px solid $border_color
			border-radius 3px
			display flex
			position relative
			background #fff
			&.m-hide
				display none

	.card
		background #fff
		display flex
		flex-direction column
		flex 1
		&--header
			padding rem(15 20)
			border-bottom 1px solid $border_color
			display flex
			flex-direction row
			flex-wrap nowrap
			align-content flex-start
			align-items center
			&--avatar
				flex 0 0 40px
				width 40px
				height @width
				border-radius @width
				display block
				margin 0
				background $background_color
				img
					width 100%
					border-radius 40px
			&--details
				flex 0 1 auto
				margin 0 10px
				line-height 1.25
			&--name
				font-weight 600
				font-size 15px
				a
					&:link,
					&:visited
						color $gray_dark
					&:hover
						color $blue
			&--rating
				font-size 12px
				margin-top 3px

				&--count
					white-space nowrap

				.star_rating
					margin-left -3px

			&--last_visit
				font-size 13px
				margin-top 3px

		&--content
			padding 20px 20px 10px
			flex 1 1 auto
		&--footer
			padding 0 20px 20px
			cf()
			&--more
				margin-top rem(10)
				display flex
				align-items center
			&--waiting
				span
					font-style italic

			&--book_now
				flex 1

		&--btn
			display inline-block
			margin-left 10px
			vertical-align middle
			font-size 20px
			&
			&:link
			&:visited
				color $gray_light
			&:hover
				color $blue

			&.m-remove
				margin-left 5px

			&.m-review
				&:before
					icon($i-document)
			&.m-msg
				&:before
					icon($i-envelope-o)
			&.m-remove
				color $gray_light
				font-size 24px
				position relative
				top 1px
				&:before
					icon($i-trash-alt)
				&:hover
					color $red_mute

			&.m-hide
				display none

		&--packages
			line-height 1.15
			font-size rem(13)
			margin-bottom .5em
			color $blue
			&.m-hide
				display none

		&--appointment
			line-height 1.25
			&--heading
				font-weight 600
				margin-bottom 1em
				&.m-appointment
					color $red
				&.m-availability
					color $blue
			&--datetime
				margin-bottom 1em
			&--date,
			&--service
				font-weight 600
			&--location
				p
					margin 0
			&--home_visit
				margin rem(5 0)
				&.m-hide
					display none
				span
					display inline-block
					color #fff
					background $blue_light
					padding 3px 8px
					border-radius 3px
					font-weight 600
					font-size rem(14)
					line-height 1

	&--invites
		&
			position relative

		&.m-hide
			display none

		&.m-clients
			margin-top 20px

		&--header
			padding-bottom 30px

		&--app
			@extend .profiles_list--app


	&--table
		width 100%
		thead
			th
				border-bottom 1px solid $border_color
				background #f9fafc
			+responsive('max-width: 375px')
				display none
		tbody
			td
				border-bottom 1px solid $border_color
			tr
				&.m-hide
					display none
				&:last-child
					td
						border-bottom 0

		th,
		td
			padding 10px
			text-align left
			vertical-align middle
			line-height 1.4
			&:first-child
				padding-left 20px
			&:last-child
				padding-right 20px
		th
			font-weight 600
			font-size 14px
		&--avatar
			width 1%
			img
				width 30px
				height 30px
				border-radius 30px
				display block
		&--actions
			white-space nowrap
			width 50px

			&.m-clients
				width 110px
				text-align right
			&--row
				position relative
				margin-bottom 5px
				text-align right
		&--action
			display inline-block
			margin-left 3px
			vertical-align top
			&.m-full
				margin-top 5px
				display block

			.btn
				font-weight normal

		&--btn_wrap
			display inline-block

			.btn[disabled]
				pointer-events none

		&--action_link
			cursor pointer
			display block
			height 30px
			width 32px
			border-radius 3px
			background $background_color
			border 1px solid $border_color
			color $gray_light
			font-size 20px
			color $gray
			text-align center
			cursor pointer
			position relative
			&:before
				display block
				text-align center
				line-height 30px
				color $gray_lighter

			&.m-profile
				&:before
					icon($i-user)
					font-size 16px
					line-height 29px
				&:hover
					color #fff
					background $green
					border-color $green
					&:before
						color #fff

			&.m-msg
				&:before
					font-size 14px
					line-height 29px
					icon($i-message-o)
				&:hover
					color #fff
					background $blue
					border-color $blue
					&:before
						color #fff

			&.m-introductory
				&:before
					icon($i-handshake)
					font-size 16px
					line-height 29px

			&.m-home_visit
				&:before
					icon($i-home-visit)
					font-size 16px
					line-height 28px

			&.m-introductory
			&.m-home_visit
				&.m-active
				&:hover
					color $blue
					&:before
						color $blue
				&.m-active:hover:before
					color $gray_lighter

			&.m-text
				width auto
				font-size rem(14)
				line-height 1.75
				padding 2px 9px
				&:hover
					background transparent
				&:before
					display none


			&.m-blue
				background $blue
				border-color $blue
				color white
				&:before
					color white
				&:hover
					background $blue_light
					border-color $blue_light


		&--profile
			display block
			font-weight 600
			a
				color $gray_dark
				&:hover
					color $blue

		&--visits
			display block
			font-size 13px

		&--appointment_row
			display block

		&--appointment_actions
			margin 5px 0 0
			a
				text-decoration none
				font-weight 600
				font-size 13px
				&:hover
					text-decoration underline
				&.m-confirm
					color $blue
				&.m-cancel
					color $gray
		&--appointment_waiting
			font-style italic


