<div class="panel">
	<form action="#" class="form">
		<fieldset class="panel--block js-edit_about_me--about">
			<header class="panel--header m-about">
				<h2 class="panel--header_title">About Me</h2>
				<p class="panel--header_description">Your public profile will make it easier for people to learn about you and your business.</p>
			</header>
			<div class="panel--content m-form">
				<div class="edit_about_me m-profile">
					<div class="edit_about_me--inner">





						<dl class="form--group form--line m-tall">
							<dt>Business Name <small>(Optional)</small></dt>
							<dd>
								<div class="field m-wide">
									<input type="text" name="business_name" maxlength="80" value="">
								</div>
							</dd>
						</dl>
						<dl class="form--group form--line m-tall">
							<dt>Languages <small>(Optional)</small></dt>
							<dd>
								<div class="select m-wide">
									<select name="languages" multiple></select>
									<span class="field--error"></span>
								</div>
							</dd>
						</dl>
						<dl class="form--group form--line m-tall">
							<dt>Years of Experience</dt>
							<dd>
								<div class="select m-w125">
									<span class="field--error"></span>
									<select data-select name="tags[experience]"></select>
								</div>
							</dd>
						</dl>
						<dl class="form--group form--line m-tall">
							<dt>
								Your Professional Background
								<small>(minimum of 50 characters)</small>
							</dt>
							<dd>
								<div class="field m-wide js-maxlength">
									<span class="field--error"></span>
									<textarea cols="30" rows="6" name="about_self_background" placeholder="This is where you write about your credentials, qualifications, work experience, achievements, etc." data-maxlength="1000" maxlength="1000"></textarea>
								</div>
							</dd>
						</dl>
						<dl class="form--group form--line m-tall">
							<dt>Professional Statement / What I Do <small>(Optional)</small></dt>
							<dd>
								<div class="field m-wide js-maxlength">
									<span class="field--error"></span>
									<textarea cols="30" rows="3" name="about_what_i_do" placeholder="Share what you do, your unique philosophy or approach, your mission statement as a professional, etc." data-maxlength="500" maxlength="500"></textarea>
								</div>
							</dd>
						</dl>
						<dl class="form--group form--line m-tall">
							<dt>What Differentiates You? / How My Services Will Benefit You <small>(Optional)</small></dt>
							<dd>
								<div class="field m-wide js-maxlength">
									<span class="field--error"></span>
									<textarea cols="30" rows="3" name="about_services_benefit" placeholder="Tell potential clients why they should choose to book an appointment with you and how you can help..." data-maxlength="500" maxlength="500"></textarea>
								</div>
							</dd>
						</dl>
						<dl class="form--group form--line m-tall">
							<dt>What Are Your Specialities? <small>(Optional)</small></dt>
							<dd>
								<div class="field m-wide js-maxlength">
									<span class="field--error"></span>
									<textarea cols="30" rows="3" name="about_self_specialities" placeholder="Share the skills that set you apart from other professionals, your areas of expertise, the conditions or niche populations with which you work, etc." data-maxlength="500" maxlength="500"></textarea>
								</div>
							</dd>
						</dl>









					</div>
				</div>
			</div>
		</fieldset>
		<footer class="panel--actions">
			<button type="button" class="js-edit_about_me--cancel btn m-link">Cancel</button>
			<button class="js-edit_about_me--submit btn m-blue" type="submit">Update</button>
		</footer>
	</form>
</div>
