<dl class="form--group">
	<dt class="m-top">
		Phone Number
		<span>Required</span>
	</dt>
	<dd class="professional_setup_wizard--verify">

		<div class="professional_setup_wizard--verify--msg m-hide" data-block="msg"></div>

		<div class="professional_setup_wizard--verify--edit" data-block="edit">
			<div class="field m-wide">
				<span class="field--error"></span>
				<input name="phone" type="tel" x-autocompletetype="tel">
			</div>
			<button class="professional_setup_wizard--verify--edit_btn btn m-red" type="button" data-send-code>Send Verification Code</button>
		</div>

		<div class="professional_setup_wizard--verify--phone m-hide" data-block="phone">
			<span class="professional_setup_wizard--verify--phone_label" data-phone-label></span>
			<button class="professional_setup_wizard--verify--phone_edit" type="button" data-edit-number>Edit Number</button>
		</div>

		<div class="professional_setup_wizard--verify--type m-hide" data-block="type">
			<span class="professional_setup_wizard--verify--type_label">How would you like to verify your phone number?</span>
			<ul class="professional_setup_wizard--verify--type_btns">
				<li><button class="professional_setup_wizard--verify--type_btn" type="button" data-send-code-sms>SMS</button></li>
				<li><button class="professional_setup_wizard--verify--type_btn" type="button" data-send-code-call>Voice Call</button></li>
			</ul>
		</div>

		<div class="professional_setup_wizard--verify--code m-hide" data-block="code">
			<div class="field">
				<span class="field--error"></span>
				<input name="verification_code" type="text" placeholder="Enter Code">
			</div>
			<button class="professional_setup_wizard--verify--code_btn btn m-red" type="button" data-verify-code>Verify</button>
			<button class="professional_setup_wizard--verify--code_resend" type="button" data-resend-code>Resend Code</button>
		</div>
	</dd>
</dl>
