<div class="professional_setup_wizard--panel">

	<div class="professional_setup_wizard--form--row m-horizontal">
		<div class="professional_setup_wizard--userpic_container" data-userpic></div>
	</div>

	<div class="professional_setup_wizard--form--row m-horizontal" data-phone-verify></div>

	<div class="professional_setup_wizard--form--row m-horizontal">
		<dl class="form--group">
			<dt>
				Business Name
			</dt>
			<dd>
				<div class="field m-wide">
					<input type="text" name="business_name" maxlength="80" value="{{name}}" placeholder="e.g. John’s Health Center">
				</div>
				<div class="field m-wide m-business_name_display">
					<label class="checkbox">
						<input type="checkbox" name="business_name_display">
						<span class="checkbox--i"></span>
						<span class="checkbox--label">In places where my first and last names would appear, always display my 'Business Name' in place of my personal name.</span>
					</label>
				</div>
			</dd>
		</dl>
	</div>
	<div class="professional_setup_wizard--form--row m-horizontal">
		<dl class="form--group">
			<dt class="m-top">
				About Me
				<span>Required</span>
			</dt>
			<dd>
				<div class="field m-wide js-maxlength">
					<span class="field--error"></span>
					<textarea cols="30" rows="6" name="about_self_background" placeholder="Tell your clients a little more about yourself&hellip;" data-maxlength="1000" maxlength="1000"></textarea>
				</div>
			</dd>
		</dl>
	</div>

</div>
