<div class="professional_setup_wizard--form_row m-horizontal m-userpic">
	<dl class="form--group">
		<dt>
			Upload Photo
			<span>Required</span>
		</dt>
		<dd>
			<div class="professional_setup_wizard--userpic js-userpic" data-options='{
				"hasUpload": true,
				"uploadUrl": "{{uploadUrl}}",
				"_token": "{{_token}}"
			}'>
				<figure class="userpic m-has_upload">
					<span class="userpic--inner">
						<img src="" alt="">
						<span class="userpic--edit m-small m-hide js-edit"></span>
						<span class="js-userpic--upload_btn userpic--upload_btn m-small m-full" type="button" data-tooltip="dark tooltipster-upload_userpic" title="Upload Photo">
							<input class="userpic--files_input js-userpic--files_input" type="file" name="avatar">
						</span>
					</span>
				</figure>
				<div class="professional_setup_wizard--userpic--info">
					<p>
						Set or change your profile image by
						clicking on the camera icon.
					</p>
					<em>Recommended size is 448x448 pixels</em>
					<b>Max. file size is 2MB.</b>
				</div>
			</div>
			<div class="field--error"></div>
		</dd>
	</dl>
</div>
