<div class="wizard--footer">
	<button type="button" class="wizard--prev_step btn m-link m-back">Back</button>
	<button type="button" class="wizard--next_step wizard--stick_btn btn m-red">Proceed</button>
	<button type="button" class="wizard--finish wizard--stick_btn btn m-green m-hide">Confirm Purchase</button>
</div>
