<div class="wizard_booking--header">
	<div class="wizard_booking--header--in" data-wizard-header>
		<h1 class="wizard_booking--header--title" data-wizard-title></h1>
		<button class="wizard_booking--header--close" data-wizard-close>Close</button>
	</div>
</div>

<div class="wizard_booking--container" data-wizard-container>
	<div class="wizard_booking--main" data-wizard-content-wrap>
		<div class="wizard_booking--content" data-wizard-content></div>
		<div class="wizard_booking--footer" data-wizard-footer>
			<button type="button" class="btn wizard_booking--footer--btn m-back" data-wizard-back></button>
			<button type="button" class="btn wizard_booking--footer--btn m-proceed" data-wizard-proceed></button>
		</div>
	</div>
	<aside class="wizard_booking--sidebar m-hide" data-wizard-sidebar></aside>
</div>

<div class="wizard_booking--loading loading_overlay m-light" data-wizard-loading><div class="heartbeat"></div></div>

<!-- <div class="wizard--header">
	<div class="wizard--header_in" data-wizard-header>
		<h1 class="wizard--title" data-wizard-title></h1>
		<span class="wizard--back" data-wizard-back></span>
	</div>
</div>
<div class="wizard--container_wrap" data-wizard-container-wrap>
	<div class="wizard--container form" data-wizard-container>
		<div class="wizard--content_wrap" data-wizard-content-wrap>
			<div class="wizard--content" data-wizard-content></div>
		</div>
		<div class="wizard--sidebar m-hide" data-wizard-sidebar></div>
	</div>
</div>
<div class="wizard--loading loading_overlay m-light" data-wizard-loading><div class="heartbeat m-medium"></div></div> -->
