<div class="popup--container" data-popup-container>
	<div class="popup--header m-blue">
		<h2 class="popup--header_title">Review Professional</h2>
		{{#if showCloseButton}}
			<button class="popup--close" data-button-cancel>close</button>
		{{/if}}
	</div>
	<div class="popup--content leave_review">
		<div class="leave_review--container">
			<div class="leave_review--col m-info m-hide" data-booking-info></div>
			<div class="leave_review--col m-review">
				<div data-provider-info></div>
				<h2 class="leave_review--title">Review Professional</h2>
				<div data-form class="leave_review--content"></div>
				<div class="leave_review--footer">
					<button class="btn m-link" data-button-cancel>Cancel</button>
					<button class="btn m-red" data-button-submit>Submit Review</button>
				</div>
			</div>
		</div>
		<span class="loading_overlay m-light m-hide"><span class="spin m-cog"></span></span>
	</div>

	<div class="popup--success">
		<div class=" leave_review--success">
			<i class="leave_review--success_icon">
				<svg width="70px" height="70px" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<path d="M35,0 C15.6153846,0 0,15.6153846 0,35 C0,54.3846154 15.6153846,70 35,70 C54.3846154,70 70,54.3846154 70,35 C70,31.2307692 69.4951923,27.4783654 68.1490385,23.9783654 L63.7740385,28.2692308 C64.3125,30.4230769 64.6153846,32.5769231 64.6153846,35 C64.6153846,51.4230769 51.4230769,64.6153846 35,64.6153846 C18.5769231,64.6153846 5.38461538,51.4230769 5.38461538,35 C5.38461538,18.5769231 18.5769231,5.38461538 35,5.38461538 C43.0769231,5.38461538 50.3293269,8.59855769 55.4447115,13.7139423 L59.2307692,9.92788462 C53.0384615,3.73557692 44.4230769,0 35,0 L35,0 Z M65.3725962,11.5264423 L35,41.8990385 L23.4735577,30.3725962 L19.6033654,34.2427885 L33.0649038,47.7043269 L35,49.5552885 L36.9350962,47.7043269 L69.2427885,15.3966346 L65.3725962,11.5264423 L65.3725962,11.5264423 Z" fill="#000000"></path>
					</g>
				</svg>
			</i>
			<h2 class="leave_review--success_title">Review has been posted successfully!</h2>
			<p class="leave_review--success_text">Please click OK to return to the professional page.</p>
			<div class="leave_review--success_cta">
				<button class="btn m-green" data-button-success>OK</button>
			</div>
		</div>
	</div>
</div>
