<h2 class="leave_review--title">Booking Information</h2>
<div data-booking-info class="leave_review--content">
	<div class="booking_info--provider">
		<figure class="booking_info--provider--userpic userpic m-large m-rounded">
			<span class="userpic--inner">
				<img src="{{professional.avatar}}" alt="">
			</span>
		</figure>
		<div class="booking_info--provider--data">
			<h3 class="booking_info--provider--title">{{professional.title}} {{professional.full_name}}</h3>
			<span class="booking_info--provider--category">{{professional.speciality}}</span>

			<div class="booking_info--provider--rating">
				<div class="star_rating m-{{professional.overall_rating}}">
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
				</div>
				<span>
					{{#if professional.reviews_count}}
						({{professional.reviews_count}} {{professional.reviews_count_label}})
					{{else}}
						(No reviews yet)
					{{/if}}
				</span>
			</div>

			<div class="booking_info--provider--service_name">
				{{professional.last_appointment.service.name}}
			</div>
			{{#if professional.last_appointment.duration}}
				<div class="booking_info--provider--duration">
					Duration: <span>{{professional.last_appointment.duration}}</span> min
				</div>
			{{/if}}
		</div>
	</div>
	<div class="booking_info--summary booking_summary">
		<div class="booking_summary--location booking_summary--item">
			<span class="booking_summary--item_icon m-place"></span>
			<p><strong>{{professional.last_appointment.location.name}}</strong>, {{professional.last_appointment.location.address.address}}</p>
		</div>
		<div class="booking_summary--date booking_summary--item">
			<span class="booking_summary--item_icon m-date"></span>
			<p>
				<strong>{{professional.last_appointment.weekday}}</strong>, {{professional.last_appointment.date}}
			</p>
		</div>
		<div class="booking_summary--time booking_summary--item m-time">
			<span class="booking_summary--item_icon m-time"></span>
			<p>
				{{professional.last_appointment.time}}
			</p>
		</div>
	</div>
</div>
