<div data-ratings class="leave_review--rating">
	{{#each ratings as |rating|}}
		<dl class="form--group m-horizontal">
			<dt>
				{{rating.label}}
			</dt>
			<dd>
				<div class="rating" data-label="{{rating.label}}" data-rating="{{rating.id}}">
					<span>☆</span>
					<span>☆</span>
					<span>☆</span>
					<span>☆</span>
					<span>☆</span>
				</div>
			</dd>
		</dl>
	{{/each}}
</div>
<div class="form--group">
	<div class="field">
		<span class="field--error"></span>
		<textarea data-review="comment" cols="80" rows="7" placeholder="Leave your review&hellip;" name="comment" data-maxlength="2100" maxlength="2100"></textarea>
	</div>
</div>
