<div class="booking_info--provider">
	<figure class="booking_info--provider--userpic userpic m-large m-rounded">
		<span class="userpic--inner">
			{{#if professional.avatar}}<img src="{{professional.avatar}}" alt="">{{/if}}
		</span>
	</figure>
	<div class="booking_info--provider--data">
		<h3 class="booking_info--provider--title">
			{{#if professional.business_name}}
				{{professional.business_name}}
			{{else}}
				{{professional.title}} {{professional.full_name}}
			{{/if}}
		</h3>
		<span class="booking_info--provider--category">{{professional.speciality}}</span>

		<div class="booking_info--provider--rating">
			<div class="star_rating m-{{professional.overall_rating}}">
				<span class="star_rating--star m-yellow"></span>
				<span class="star_rating--star m-yellow"></span>
				<span class="star_rating--star m-yellow"></span>
				<span class="star_rating--star m-yellow"></span>
				<span class="star_rating--star m-yellow"></span>
			</div>
			<span>
				{{#if professional.reviews_count}}
					({{professional.reviews_count}} {{professional.reviews_count_label}})
				{{else}}
					(No reviews yet)
				{{/if}}
			</span>
		</div>
	</div>
</div>
