.process_loading
	position absolute
	top 150px
	left 50%
	overflow hidden
	box-shadow 0 0 35px rgba(#000, .2)
	border 1px solid $border_color
	z-index 100
	background #fff
	transform translateX(-50%)
	padding 25px
	width 230px
	text-align center

	&--loader
		width 67px
		height 67px
		position relative
		display block
		margin 0 auto 15px

		&:before
		&:after
			display block
			content ''
			position absolute
			width 67px
			height 67px
			top 50%
			left 50%
			margin-top -(@height / 2)
			margin-left -(@width / 2)
			background url(../images/design/dashboard/google_spinner_bg.png)

		&:after
			background url(../images/design/dashboard/google_spinner_fade.png)
			animation loading-spin 2s infinite linear
			-webkit-animation loading-spin 2s infinite linear

	&--title
		font-size rem(16px)
		font-weight 600
		line-height 1.3
