.professional_setup_suitability_conditions
	position relative

	&--footer
		padding rem(0 20 20 20)
		text-align right
		@media(max-width: 979px)
			padding 0
			position fixed
			z-index 20
			left 0
			bottom 0
			right 0
			.btn
				display block
				border-radius 0
				height 50px
				width 100%
				font-size rem(16)


	.panel--header
		margin-bottom rem(30)

	&--block
		padding-top rem(25)
		margin-bottom rem(20)

	@media(max-width: 979px)
		.accordion_panes
			padding rem(15 15 60)
			border 0
			&--item
			&--item:first-child
				background #fff
				border-radius 5px
				margin-bottom rem(15)
				border 1px solid $border_color

			&--item--checkboxes
				display block
				padding rem(20 0)
				li
					float none
					display block
					width 100%
					padding 0
					margin rem(20 0 0 0)
					&:first-child
						margin 0
