.refer
	position relative

	&--header
		height auto
		padding rem(80px 0 55px)
		background-size cover !important
		
		.page_header--text
			margin 21px 0 0 !important
			line-height 30px
		
	&--steps
		display flex
		padding 67px 0 0

	&--step
		&
			padding 175px 0 0
			flex 1
			text-align center
			font-size rem(22px)
			line-height rem(27px)
			position relative
			
			&:before
				display block
				width 155px
				height 148px
				position absolute
				top 0
				left 50%
				margin 0 0 0 -77px
				content ''
				
			&:after
				position absolute
				width 111px
				height 25px
				left -55px
				top 62px
				content ''
				background url($i '/refer/refer_arrow.png') no-repeat
				background-size 111px
			
			&-inner
				display inline-block
				
		&:first-child
			&:after
				display none
				
		&.m-first
			&:before
				background url($i '/refer/refer_step-1.png') no-repeat
				
		&.m-second
			&:before
				background url($i '/refer/refer_step-2.png') no-repeat
		&.m-third
			&:before
				background url($i '/refer/refer_step-3.png') no-repeat
				
			&:after
				transform rotate(180deg) scaleX(-1)
				top 67px
