.billing_table
	text-align left
	&--item
		&.m-invoice
			flex-basis 18%

		&.m-date
			flex-basis 22%

		&.m-status
			flex-basis 22%

		&.m-amount
			flex-basis 12%
			b
				font-weight normal
				font-size 18px

		&.m-actions
			flex-basis 22%
			text-align left
			@media(max-width: 749px)
				flex-basis 34%

	&.m-break_640 &
		@media(max-width: 640px)
			&--item
				&.m-amount
					b
						font-weight 600
