.billing
	&--content
		margin-top 20px
		margin-bottom 20px
		position relative
		min-height 80px

		@media (max-width 979px)
			margin-top 5px
			margin-bottom 5px

	&--details
		&_main
			margin-bottom 10px
			font-size 16px
			font-weight 600

		&_group
			padding-bottom 10px
			line-height 1.3

		&_block
			border-bottom 1px solid $border_color
			padding-bottom 20px
			margin-bottom 20px
			+mobile_ready_and_mobile()
				line-height 1.3

			&:last-child
				@media (max-width 979px)
					margin-bottom 0

		&_row
			margin-bottom 10px

		&_label
			display inline-block
			width 180px
			margin-right 10px
			vertical-align baseline
			+mobile_ready_and_mobile()
				margin-bottom 5px

			&.m-narrow
				width 150px

		&_value
			display inline-block
			vertical-align baseline
			font-size 14px

			&.m-large
				font-size 20px

			strong
				font-size 16px

			b
				white-space nowrap

			.m-red
				color $red

			.m-gray
				color $gray

		&_actions
			padding-top 5px

		&_cancel
			font-size 13px
			text-decoration none

			span
				border-bottom 1px solid $border_color

			&:hover
			&.m-link:hover
				text-decoration none

				span
					border-bottom-color $gray

		&_upgrade
			@media (max-width 979px)
				width 55%
				max-width 180px

		&_text
			font-weight bold
			padding-bottom 10px

			&.m-gray
				color $gray

	&--payment
		p
			margin-bottom 10px

			&.m-mid
				font-size 16px

			&.m-gray
				color $gray

		&_actions
			padding-top 15px

		&_edit
			@media (max-width 979px)
				width 55%
				max-width 180px

	&--info
		max-width 660px

	&--history
		&_download.m-white
			color $gray_dark

			&:hover
				background $background_color

		&_empty
			padding 25px
			text-align center
			font-weight 600
