<div class="professional_gift_certificates--group">
	<h3 class="professional_gift_certificates--group_title">Active Gift Certificates</h3>
	<div class="listing_table" data-table="active">
		<table cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="nosort listing_table--gutter">&nbsp;</th>
					<th class="m-sort"><b>Recipient</b></th>
					<th class="m-sort"><b>Sender</b></th>
					<th class="m-sort"><b>Service/Location</b></th>
					<th class="m-sort"><b>Duration</b></th>
					<th class="nosort">&nbsp;</th>
					<th class="nosort">Actions</th>
					<th class="nosort listing_table--gutter">&nbsp;</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<div class="professional_gift_certificates--group">
	<h3 class="professional_gift_certificates--group_title">Redeemed Gift Certificates</h3>
	<div class="listing_table" data-table="redeemed">
		<table cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="nosort listing_table--gutter">&nbsp;</th>
					<th class="m-sort listing_table--recipient"><b>Recipient</b></th>
					<th class="m-sort listing_table--sender"><b>Sender</b></th>
					<th class="m-sort listing_table--service"><b>Service/Location</b></th>
					<th class="m-sort listing_table--duration"><b>Duration</b></th>
					<th class="m-sort listing_table--datetime"><b>Date/Time</b></th>
					<th class="nosort listing_table--actions">Actions</th>
					<th class="nosort listing_table--gutter">&nbsp;</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
