<td class="listing_table--gutter"></td>
<td class="listing_table--receiver">
	<p class="listing_table--full_name">
		<span class="professional_gift_certificates--profile_avatar">{{#if receiverAvatar}}<img src="{{receiverAvatar}}" alt="">{{/if}}</span>
		{{#if isReceiverClient}}
			<a class="professional_gift_certificates--profile_link" href="{{receiverUrl}}" target="_blank"><strong>{{receiverName}}</strong></a>
		{{else}}
			<strong>{{receiverName}}</strong>
		{{/if}}
	</p>
</td>
<td class="listing_table--sender">
	<p class="listing_table--full_name">
		<span class="professional_gift_certificates--profile_avatar">{{#if senderAvatar}}<img src="{{senderAvatar}}" alt="">{{/if}}</span>
		{{#if isSenderClient}}
			<a class="professional_gift_certificates--profile_link" href="{{senderUrl}}" target="_blank"><strong>{{senderName}}</strong></a>
		{{else}}
			<strong>{{senderName}}</strong>
		{{/if}}
	</p>
</td>
<td class="listing_table--service">
	<p><strong>{{serviceName}}</strong></p>
	{{#if locationName}}
		<p><span>{{locationName}}</span></p>
	{{/if}}
</td>
<td class="listing_table--duration">
	<p><span>{{duration}}</span></p>
</td>
<td class="listing_table--date">
	{{#if redeemedDate}}
		<p><strong>{{redeemedDate}}</strong></p>
		<p><span>{{redeemedTime}}</span></p>
	{{else}}
		&nbsp;
	{{/if}}
</td>
<td class="listing_table--actions" data-actions>
	<span class="listing_table--action">
		<a href="{{receiverMessageUrl}}" target="_blank" class="listing_table--action_link m-message" data-tooltip="dark" title="Send Message"></a>
	</span>
</td>



<td class="listing_table--gutter"></td>
