+responsive('max-width: 980px')
	.wizard
		background white

		&--header
			height auto

			.m-professional_wizard &
				height 75px
				overflow hidden


		&--header_in
			padding 18px 20px

			.wizard.m-profile &
				padding-top 10px
				padding-bottom 10px

		&--title
			margin-top 0
			float none
			font-size 16px
			font-weight 600

		&--progress
			float none
			margin 10px 0 0 0
			&.m-icons
				height 55px
			.progress
				&--value
					font-size 12px
				&--bar
					min-width 150px

		&--container
			margin 0
			flex-direction column

		&--content_wrap
			&.m-introductory
				background $blue_lightest

		&--block_note
			padding rem(15 20)
			font-size rem(14)

		.m-wizard_edit &
			&--progress
				display none
			&--back
				cursor pointer
				display block
				width 24px
				height 24px
				transform rotate(90deg)
				&:before
					icon($i-chevron-down)
					display block
					width 24px
					height 24px
					font-size 20px
					text-align center
					line-height 24px

		&.m-profile &
			&--block_container
				padding 20px

			&--content
				padding 0

			&--container
			&--container_wrap
				min-height auto
				display flex

			&--container_wrap
				padding-bottom 50px
				&.m-success
					padding-bottom 0

			&--content_scroll
				height 100%

			&--content_header
				padding 20px
				margin 0
				&--title
					font-size rem(24)
					margin-bottom .5em
				&--description
					font-size rem(14)
			.m-wizard_edit &
				&--content_header
					display none

			&--sidebar
				display none

		&--block
			margin 0
			border-radius 0
			border-left 0
			border-right 0
			border-bottom 0

		&--block_header
			padding 12px 20px

		&--block_title
			font-size 15px

		&--block_col
			&
				border-left 1px solid $border_color
				border-top 1px solid $border_color

			&:first-child
				border-top 0
				border-left 0

			&.m-pick_service
				max-width 100%
			&.m-introductory
				max-width 100%
		&--block.pick_date
			.wizard--block_col
				border-top 0

		&--footer
			padding 0
			border 0
			display flex
			position fixed
			left 0
			right 0
			bottom 0
			z-index 1001
			.btn
				height 50px
				font-size rem(16)
				border-radius 0
				margin 0
				float none

		&--prev_step
		&--next_step
		&--finish
		&--skip_step
			flex 1

		&--fake_step
			&.m-mobile_show
				display block

		&--footer_in
			padding 0
			flex 1
			display flex
