$wizard_max_width = 800px

.wizard
	&
		max-width 100%
		display flex
		flex 1 0 auto
		flex-direction column
		overflow hidden
		background $background_color
		position relative

		&--header
			background #3db7cb
			height 80px
			color #fff
			position relative

		&--header_in
			cf()
			padding 0 40px
			position relative
			max-width $wizard_max_width
			margin 0 auto

			.m-profile &
				padding 0 20px
				max-width 740px

		&--back
			display none

		&--title
			font-size 22px
			float left
			margin 30px 0 0
			&.m-hide
				display none

		&--progress
			float right
			margin 35px 45px 0
			&.m-icons
				float none
				width auto
				margin 0
				height 80px
			.progress--bar
				min-width 500px

		&--container_wrap
		&--container
			display flex
			flex 1 0 auto
			flex-direction row
			width 100%
			min-height 536px
			position relative

		&--container_wrap
			&.m-loading_show
				.wizard--container_loading
					visibility hidden

				.wizard--content_wrap .loading_overlay
					visibility hidden

		&--content_wrap
			flex 1
			display flex
			flex-direction column
			position relative
			&.m-bg_white
				background #fff

		&--content
			padding 20px 40px 15px
			position relative
			.m-no_sidebar &
				max-width $wizard_max_width
				margin 0 auto
			.m-sidebar_inside &
				max-width $wizard_max_width
				margin 0 auto
				padding-left 360px

		&--content_scroll
			flex 1 0 auto
			height 470px
			overflow auto
			position relative

		&--content_header
			margin-bottom rem(15)

			&--title
				display block
				font-size rem(30)
				margin-bottom rem(15)

			&--description
				font-size rem(16)
				line-height 1.45


		&--sidebar
			&
				max-width 360px
				flex 0 0 360px
				background #fff
				position relative
				border-right 1px solid #ebebeb
				padding 40px 40px 40px 40px
				position relative
				order -1
				display flex
				flex-direction column

				&:after
					position absolute
					top 0
					right 100%
					height 100%
					background #fff
					content ''
					width 1000px

			&.m-paddingless
				padding 0

			&.m-borderless
				border 0

			&.m-hide
				display none

		&--sidebar_header
			padding 3px 0 0
			margin 0 0 32px
			h2
				font-size rem(18px)
				font-weight 600

			p
				line-height 1rem
				margin 15px 0 0

		&--sidebar_nav
			font-size 1rem
			margin -6px 0 0 -40px

			li
				&
					margin 12px 0 0
					a
						&
							display block
							color $gray
							padding 10px 0 10px 40px
							position relative

							&:before
								display none
								width 4px
								height 20px
								position absolute
								top 50%
								left 0
								content ''
								background $blue
								margin -10px 0 0

						&:hover
							color $blue

							&:before
								display block

					small
						font-size rem(12px)

				&:first-child
					margin 0

				&.m-active
					a
						&
							color $blue

							&:before
								display block

		&--block
			&
				background #fff
				border 1px solid $border_color
				border-radius 5px
				margin 10px 0 0

			&.m-open
				h3
					color $blue

				.wizard--accordion_switcher
					transform rotate(180deg)

			&:first-child
				margin 0

			.accordion_panes--item--checkboxes
				padding-top 0

			&.m-error

				.wizard--block_title
					color $red

					strong, b
						color $red

		&--block_row
			display flex

		&--block_col
			&
				flex 1
				border-left 1px solid $border_color

			&:first-child
				border-left 0

			&.m-pick_service
				max-width 378px
			&.m-introductory
				max-width 400px

		&--block.m-accordion &
			&--block_title
				font-size 1rem

			&--block_header
				cursor pointer


		&--block_header
			padding 18px 20px 16px 20px
			position relative
			&.m-location
				padding-left 40px

		&--block_note
			display block
			line-height 1.45
			border-bottom 1px solid $border_color
			padding rem(15 30)
			font-size rem(16)
			strong
				color $red

		&--block_title
			font-size rem(18px)
			font-weight 600
			&.m-blue
				color $blue
			&.m-red
				color $red

			small
				font-size rem(12px)
				font-weight normal

		&--block_description
			line-height 1.4
			margin-top rem(10)
			p
				margin-bottom rem(10)
				&:last-child
					margin-bottom 0

		&--block_container
			&
				padding 20px 40px
				position relative
				min-height 100px

			&.m-hide
				display none

			.loading_overlay
				opacity 1
				transition all 0.3s

			&.loaded
				.loading_overlay
					opacity 0

		&--block_footer
			border-top 1px solid $border_color
			text-align right
			padding 18px 40px 15px
			margin 0 -40px

		&--block_header + &--block_container
			border-top 1px solid $border_color


		// &--accordion
		&--accordion_switcher
			&
				display block
				width 24px
				height 24px
				border 1px solid #ccc
				position absolute
				top 14px
				right 16px
				border-radius 100%

				&:before
					icon($i-chevron-down)
					color $gray_dark
					position absolute
					top 50%
					left 50%
					transform translate(-50%, -50%)
					font-size rem(14px)

			&.m-opened
				&:before
					icon($i-chevron-up)
					margin-top -1px

		&--footer
			background #fff
			border-top 1px solid #ebebeb
			padding 20px 40px
			position relative
			.m-profile &
				padding-left 0
				padding-right 0
			&:before
				height 100%
				width 1000px
				background #fff
				left 100%
				top -1px
				position absolute
				border-top 1px solid #ebebeb
				content ''
			cf()

			.btn
				&.m-hide
					display none
				&.m-link
					padding-left 0
					padding-right 0

		&--footer_in
			display flex
			position relative
			max-width $wizard_max_width
			margin 0 auto
			padding 0 40px

		&--fake_step
			display none
			position absolute
			left 0
			bottom 0
			width 100%
		&--prev_step
			margin-right auto
		&--next_step
		&--skip_step
			margin-left auto

		&--add_form
			padding 5px 0 0
			.form--group
				&
					margin 20px 0 0
					dt
						margin 0 0 4px

				&:first-child
					margin 0

			&--not_listed
				line-height 1rem
				padding 8px 0 0
				color $green_dark
				a
					&
						color $blue

					&:hover
						text-decoration underline
			&--footer
				padding 22px 0 0

		&--errors
			display none
			font-size rem(14px)
			position relative
			border-radius 3px
			padding 12px 40px
			color #000
			transition opacity .3s ease
			line-height 1.3
			background #efada4

			&:before
				position absolute
				top 50%
				left 10px
				t-translate(0, -50%)
				font-size 20px
				color #6c4c48
				icon($i-cancel)

			&--close
				&
					width 30px
					height 30px
					position absolute
					top 50%
					right 10px
					margin-top -15px
					text-indent -9999px
					opacity .7
					cursor pointer

					&:before
						icon($i-times)
						font-size 20px
						text-indent 0
						center()

				&:hover
				&:focus
					opacity 1

	&.m-profile &
		&--title
			display none
		&--sidebar
			//max-width 480px
			//flex 0 0 480px
			width 320px
			max-width 320px
			position absolute
			left 0
			background transparent
			border 0
			&:after
				display none

	&.m-gift_certificate &
		&--header_in
			width 800px

		&--container_wrap
		&--container
			max-width 800px
			margin 0 auto
			min-height 660px

		&--footer
			padding-top 10px
			padding-bottom 20px

		&--block_container
			padding 20px

		&--sidebar
			max-width 360px
			flex 0 0 360px
			padding 42px 40px 40px 20px
			border 0
			border-left 1px solid #ebebeb
			order 1

			&:after
				display block
				position absolute
				top 0
				left 100%
				height 100%
				background #fff
				content ''
				width 1000px

		&--footer
			.btn
				&.m-link
					padding-left rem(20px)
					padding-right rem(20px)

	&.m-gift_certificate
		.wizard--block_row.pick_date--time
			.wizard--block_container
				padding-top 0

		.wizard--footer
			background none
			border none
			text-align right

	&.m-gift_certificate.m-success
		.wizard--container_wrap
			background #fff
		.wizard--footer
		.wizard--sidebar
			display none

	&.m-profile.m-success
		.wizard--container_wrap
			background #fff
		.wizard--content
			align-items flex-start
		.wizard--header
		.wizard--sidebar
		.wizard--footer
			display none

	&.m-page &
		&--content_scroll
			height auto
			flex 1

	&.m-page.m-profile &
		&--content_scroll
			display flex
			flex 1
		&--content
			display flex
			flex 1

		&--block
			flex 1
