<header class="client_gift_certificates--header">
	<div class="client_gift_certificates--header_filter">
		<span class="client_gift_certificates--header_filter--label">Show
		</span><div class="client_gift_certificates--header_filter--field">
		<div class="select">
			<select name="filter" data-gift-certificates-filter></select>
		</div>
	</div>
	</div>
</header>
<div class="client_gift_certificates--gift_certificates" data-gift-certificates></div>
<span class="loading_overlay m-light"><span class="spin m-logo"></span></span>
