<div class="client_gift_certificate--image"></div>
<div class="client_gift_certificate--content">
	<h3 class="client_gift_certificate--service_name">{{serviceName}}</h3>
	<dl class="client_gift_certificate--row">
		<dt>Professional Name:</dt>
		<dd>{{professionalName}}</dd>
	</dl>
	<dl class="client_gift_certificate--row">
		<dt>Duration:</dt>
		<dd>{{duration}}</dd>
	</dl>
	<dl class="client_gift_certificate--row">
		<dt>Sender:</dt>
		<dd>{{senderName}}</dd>
	</dl>
	<dl class="client_gift_certificate--row">
		<dt>Received Date:</dt>
		<dd>{{receivedDate}}</dd>
	</dl>
	{{#if redeemedDate}}
	<dl class="client_gift_certificate--row">
		<dt>Redeemed Date:</dt>
		<dd>{{redeemedDate}}</dd>
	</dl>
	{{/if}}
	{{#if canRedeem}}
		<div class="client_gift_certificate--redeem">
			<button class="btn m-red" data-redeem-certificate>Redeem Now</button>
		</div>
	{{/if}}
</div>
