<div class="profile_edit_inline--container">
	<fieldset class="panel--block">
		<header class="panel--header m-photos">
			<h2 class="panel--header_title">Photos</h2>
		</header>
		<div class="panel--content">
			<div class="edit_media m-profile js-edit_photos">
				<ul class="edit_media--list js-edit_photos">
					<li class="edit_media--item edit_media--item_uploader">
							<span type="button" class="edit_media--add_photo">
								<input type="file" name="file" multiple class="js-edit_photos--add_photo">
							</span>
					</li>
				</ul>
			</div>
		</div>
	</fieldset>

	<fieldset class="panel--block">
		<header class="panel--header m-videos">
			<h2 class="panel--header_title">Videos</h2>
		</header>
		<div class="panel--content">
			<div class="edit_media m-videos m-profile js-edit_videos"></div>
		</div>
	</fieldset>
</div>
<footer class="profile_edit_inline--footer">
	<button class="profile_edit_inline--btn btn m-blue">Save</button>
</footer>
