.edit_phone
	display block


	&--row
		display block

		dd
			+desktop()
				display flex
				align-items center

		.field
			margin-right rem(10)
			&:last-child
				margin-right 0
		&.m-verify
			input
				+desktop()
					width 145px
				+mobile()
					margin-bottom rem(10)
	&--btn
		&.m-verify_code
			+mobile()
				width 100px

	&--label
		font-weight 600
		width 145px
