.resend_email
	&--inner
		text-align center
		width 630px
		padding rem(40)
		line-height 1.25
		color $gray
		+mobile()
			width 100%


	&--image
		width 85px
		height 85px
		margin 0 auto rem(25)
		display block
		svg
			display block
			width @width
			height @height
			path
				fill $green


	&--title
		font-size rem(28)
		font-weight 600
		margin-bottom rem(20)
		+mobile()
			font-size rem(22)

	&--content
		margin-bottom rem(25)
		font-size rem(18)
		p + p
			margin-top rem(10)
		+mobile()
			font-size rem(16)
			margin-bottom rem(15)

	&--footer
		.btn
			width 175px

	+mobile()
		.popup--content
			display flex
			align-items center
		&--inner
			padding-top 0
			padding-bottom rem(50)
		&--content
			flex 0 0 100%
