.share_profile
	&--wrap
		padding rem(30px 40px)
		text-align center

	&--header
		font-size rem(25)
		color $blue
		margin-bottom 20px
		line-height 1.3

		p:first-child
			font-size rem(30)

	&--share
		&.m-sticked
			position fixed
			right 0
			top 25%
			border-radius 3px 0 0 3px
			text-align left
			white-space normal
			max-width 105px
			line-height 1.2
			padding 10px 15px
			+responsive('max-width: 500px')
				display none

	&--footer
		padding-top 30px

	&--later
		font-style italic
		color $gray_dark
		text-decoration underline
		font-size 13px

		&:hover
			color $gray
