.demo_request
	$max-mobile-width = 1260px
	&--title
		color  $blue_light
		font-size 32px
		font-weight 500
		line-height 36px
		text-align center
		margin-bottom 10px
		+responsive('max-width:' + $max-mobile-width)
			font-size 28px
	&--text
		color $gray_dark
		font-size 18px
		font-weight 300
		line-height 26px
		text-align left
		+responsive('max-width:' + $max-mobile-width)
			text-align center
			margin-right 10px
			margin-left 10px
	&--wrapper
		display flex
		+responsive('max-width:' + $max-mobile-width)
			flex-direction column
			margin-bottom 20px
			max-width 475px
	&--content
		margin-top 37px
		+responsive('min-width:' + $max-mobile-width)
			width 552px
			padding 80px 50px
		&-inner
			color $gray_dark
			margin-right 52px
			margin-left 50px
			+responsive('max-width:' + $max-mobile-width)
				margin-right 15px
				margin-left 15px
		&-header
			margin-bottom 35px
	&--header
		background-image url("/assets/frontend/images/content/demo_request/bg.png")
		background-repeat no-repeat
		background-position-x center
		background-position-y top
		background-size cover
		width 700px
		text-align center
		display flex
		justify-content center
		+responsive('max-width:' + $max-mobile-width)
			width 100%
		+responsive('max-width: 450px')
			background-image url("/assets/frontend/images/content/demo_request/bg-mobile.png")
		&-inner
			margin-top 620px
			margin-bottom 37px
			font-size 24px
			color white
			display flex
			flex-direction column
			align-content center
			+responsive('max-width:' + $max-mobile-width)
				margin-top 200px
				margin-bottom 6px
				font-size 16px
			&-p1
				align-self center
				font-weight 300
			&-p2
				align-self center
				font-weight 600
				+responsive('max-width:' + $max-mobile-width)
					width 85%
	.form--footer
		margin-top 40px

	.popup--close
		+responsive('min-width:' + $max-mobile-width)
			top -22px
			right -19px
			border-radius 50%
			border-width 0
			background-color  #f9fafc
			box-shadow 0px 1px 9px 0px rgba(0, 0, 0, 0.25)
			width 44px
			height 44px
		+responsive('max-width:' + $max-mobile-width)
			border-color white
			top 11px
			right 11px

	.popup--close:before
		+responsive('min-width:' + $max-mobile-width)
			font-size 16px
			icon($i-close)
		+responsive('max-width:' + $max-mobile-width)
			color white

	.field
		margin-bottom: 14px

	.partner_contact--submit
		width: 100%

	.btn
		padding-top: 17px
		padding-bottom: 17px

	.popup--container
		overflow visible
		+responsive('max-width: ' + $max-mobile-width)
			overflow-y: auto
