<div class="mobile_tabs" data-tabs='{}' >
	<div class="mobile_tabs--header">
		<button class="mobile_tabs--switch" data-tab-switch="account">Account Settings</button>
		<button class="mobile_tabs--switch" data-tab-switch="password">Change Password</button>
	</div>
	<div class="mobile_tabs--tabs" data-tab-list>
		<div class="mobile_tabs--tab" data-tab="account">
			<div class="panel">
				<div class="panel--content">
					<div data-update-email></div>
					<div data-update-phone></div>
				</div>
			</div>
		</div>
		<div class="mobile_tabs--tab" data-tab="password">
			<div class="panel">
				<div class="panel--content">
					<div data-update-password></div>
				</div>
			</div>
		</div>
	</div>
</div>
