.import_loading
	background #fff
	&		
		.import_loading--container
			width 1180px
			text-align center
			
			.import_loading--wrapper
				padding rem(100px 0 145px)
				
			h2
				font-size rem(22px)
				line-height rem(32px)
				color #6b6b6b
				margin-bottom rem(70px)
				
			img
				margin-bottom rem(66px)
				
			.progress--bar
				width 300px
				margin 0 auto