.linkedin_import
	&		
		background #fff
		
		.popup--container
			width rem(1180px)
			padding-bottom rem(70px)
			
		header
			padding 18px
			text-align center
			margin-bottom 34px
			&.m-success
				background #cce599
				color rgba(0,0,0, .7)
					
		.m-hide
			display none
					
		&--pane_header
			cursor pointer
			text-align left !important
			margin-bottom 0 !important
			padding 0 !important
			position relative
			
		.linkedin_import--section
			max-width 600px
			margin 0 auto
			
			&.m-submit
				text-align center
				margin-top 35px
				margin-bottom 35px
				.btn
					width 240px
					margin-bottom 58px
					
			.linkedin_import--skip
				color #9a9a9a
			
			h2
				font-size 16px
				color #6b6b6b
				padding 20px 0 18px
				font-weight bold
				
			.linkedin_import--container
				border 1px solid #ebebeb
				border-bottom 2px solid #ebebeb
				border-radius 3px
				
				h2
					margin 0 18px
					padding-left 12px
					
				.linkedin_import--info
					font-size 14px
					padding 18px 90px 19px 12px
					line-height 22px
					margin 0 18px
					border-top 1px solid #ebebeb
					position relative
					
					&:first-child
						border-top none
						
					&.m-noedit
						padding-right 12px
						
					&.m-selection
						padding-top 10px
						padding-bottom 11px
						strong
							vertical-align top
							position relative
							top 12px
					
					.m-workname
						line-height 18px
					.m-period
						color #9a9a9a
						font-size 12px
						margin-top 8px
						
					.m-workname_form
						width 210px
					.m-period_between
						width 10px
						display inline-block
						text-align center
					.m-period_select
						margin-top 12px
						
						.field
							width 60px
							margin-left 3px
						.select
							width 144px
						.select2-selection
							padding rem(5px 12px 6px)
							min-height rem(24px)
							position relative
							top 2px
							
							&:after
								margin-top -3px
					
					.label
						display inline-block
						border 1px solid #ebebeb
						padding 8px 24px 8px 12px
						border-radius 14px
						margin-left 6px
						position relative
						
						a
							position absolute
							top 8px
							right 12px
							
							&:before
								cursor pointer
								display inline-block
								width 9px
								height 9px
								icon($i-times)
								color #9a9a9a
								transition color 0.3s
								
							&:hover
								&:before
									color #000
									
					.m-languages
						width 550px
						border none
						min-height 10px
						.select2-selection
							margin 0
							border none
						.select2-selection--multiple
							padding 0
							.select2-selection__choice
								margin 0
						.select2-dropdown
							border-top 1px !important
							border-bottom 1px !important
							border-radius 3px !important
						
						.select2-selection__choice
							background #fff
							border 1px solid #ebebeb
							padding 8px 24px 8px 12px
							height auto
							line-height 15px
							border-radius 16px
							margin-left 6px
							position relative
							margin 6px 6px 6px 4px !important
						
						.select2-selection--multiple
							min-height 10px
						.select2-selection__choice__remove
							
							&:before
								color #9a9a9a
								transition color 0.3s
							&:hover
								&:before
									color #000
							
					.form--group
						margin -2px 0 -3px
						&.m-inline
							dt, dd
								display inline-block
						.select2-selection
							padding rem(8px 12px)
							
					p.m-text
						font-size 14px
						color #6b6b6b
					
					&.m-show_form
						fieldset
							display block
							
						.linkedin_import--view
							display none
							
						.linkedin_import--control_save
							display inline
						.linkedin_import--control_edit
							display none

					fieldset
						display none
						margin -6px 0 -7px
						.form--group dt
							line-height 34px
							margin-bottom 0
						.field
							textarea
								line-height 22px
							input
								width 100%
								padding 8px 12px
								
					.linkedin_import--control
						position absolute
						top 0
						right 0
						margin-top 20px
						
						a
							&:before
								cursor pointer
								display inline-block
								color #9a9a9a
								font-size 14px
								margin-right 18px
							&:last-child:before
								margin-right 0
							
							
						&_edit
							position relative
							top -2px
							&:before
								icon($i-pencil)
							&:hover
								&:before
									color #2b95a7
						&_remove
							&:before
								icon($i-times)
								font-size 17px !important
							&:hover
								&:before
									color #e05b49
						&_save
							display none
							&:before
								icon($i-check)
								font-size 17px !important
								color #83ae2e !important
							&:hover
								&:before
									color #6a9b08

.m-select2-container-border .select2-dropdown
	border-bottom 1px solid #e1e1e1
	border-top 1px solid #e1e1e1
	border-radius 3px									