<div class="promo--search--inner">
	<dl class="form--group">
		<dt>Where are you?</dt>
		<dd>
			<span class="field m-borderless m-wide">
				<input type="text" placeholder="e.g. Phoenix, Amsterdam, Neighbourhood">
			</span>
		</dd>
	</dl>
	<dl class="form--group">
		<dt>What are you looking for?</dt>
		<dd>
			<span class="field m-borderless m-wide">
				<input type="text" placeholder="eg. Therapist, Yoga, Class">
			</span>
		</dd>
	</dl>
	<dl class="form--group m-thin">
		<dt>Day</dt>
		<dd>
			<div class="select m-borderless m-wide">
				<select data-select='{"dropdownCssClass": "m-borderless"}'>
					<option>Any</option>
				</select>
			</div>
		</dd>
	</dl>
	<dl class="form--group m-thin">
		<dt>Time</dt>
		<dd>
			<div class="select m-borderless m-wide">
				<select data-select='{"dropdownCssClass": "m-borderless"}'>
					<option>Any</option>
				</select>
			</div>
		</dd>
	</dl>
	<dl class="form--group m-thin">
		<dt>&nbsp;</dt>
		<dd>
			<button class="btn m-green m-wide" type="submit">Search</button>
		</dd>
	</dl>
</div>
