<nav class="search_filters--nav" data-search-filters-node="nav">
	<label class="search_filters--nav--item" data-type="single">
		Search Providers
		<input type="radio" name="type" value="single">
	</label>
	<label class="search_filters--nav--item" data-type="class">
		Search Classes
		<input type="radio" name="type" value="class">
	</label>
</nav>
<div class="search_filters--content" data-search-filters-node="content">
	<div class="search_filters--form form">
		<div class="search_filters--form--inner">
			<div class="search_filters--form--fieldset" >
				<div class="search_filters--form--fieldset--inner" data-search-filters-node="fieldset">
					<dl class="form--group">
						<dt><label for="where_you_are">Where are you?</label></dt>
						<dd>
							<span class="field m-wide">
								<input type="text" id="where_you_are" placeholder="eg. New York, Amsterdam, etc." name="location">
								<span class="field--autocomplete"></span>
							</span>
						</dd>
					</dl>
					<dl class="form--group">
						<dt><label for="what_looking_form">What are you looking for?</label></dt>
						<dd>
							<span class="field m-wide">
								<input type="text" id="what_looking_form" placeholder="eg. Ayurveda, Hatha Yoga, etc." name="query">
								<span class="field--autocomplete"></span>
							</span>
						</dd>
					</dl>
					<!--<dl class="form&#45;&#45;group m-conditions">-->
						<!--<dt><label for="conditions">Conditions and Concerns</label></dt>-->
						<!--<dd>-->
							<!--<span class="field m-wide">-->
								<!--<input type="text" id="conditions" placeholder="eg. New York, Amsterdam, etc." name="[tag][conditions][optional]">-->
								<!--<span class="field&#45;&#45;autocomplete"></span>-->
							<!--</span>-->
						<!--</dd>-->
					<!--</dl>-->
					<dl class="form--group m-time">
						<dt><label for="time">Time</label></dt>
						<dd>
							<span class="select m-wide">
								<select data-select id="time" name="time"></select>
							</span>
						</dd>
					</dl>
					<dl class="form--group m-day">
						<dt><label for="day">Day</label></dt>
						<dd>
							<span class="select m-wide">
								<select data-select id="day" name="day"></select>
							</span>
						</dd>
					</dl>
				</div>
			</div>
			<div class="search_filters--form--submit" data-search-filters-node="submit">
				<button class="btn m-red m-wide m-large m-border" type="submit">
					Update Results
				</button>
			</div>
		</div>
		<button class="search_filters--form--opener search_filters--form--advanced_opener btn m-more m-wide" type="button" data-search-filters-node="advanced_btn">
			<span>
				Advanced Filters
				<b></b>
			</span>
		</button>
		<button class="search_filters--form--opener search_filters--form--filters_opener btn m-more m-wide" type="button" data-search-filters-node="filters_opener">
			<span>
				Filters
				<b></b>
			</span>
		</button>
	</div>
</div>
