.popup_verification
	.m-hide
		display none
	.popup--content
		+mobile()
			width 100%
		+desktop()
			width 630px

	&--inner
		+mobile()
			padding rem(30 20)
		+desktop()
			padding rem(40)

	&--title
		text-align center
		color $gray
		font-weight 600
		+mobile()
			margin-bottom rem(20)
			font-size rem(20)
		+desktop()
			margin-bottom rem(30)
			font-size rem(24)

	&--image
		display block
		&:empty
			display none
		+mobile()
			margin-bottom rem(20)
		+desktop()
			margin-bottom rem(30)
		svg
			display block
			margin 0 auto
			&.m-confirmation
				transform translateX(-20px)
				width 150px
				height 109px
				.st0
					fill #ddc354
				.st1
					fill #fff
				.st2
					fill #e2e2e2
				.st3
					fill #fce37a
				.st4
					fill #f9dc60
				.st5
					fill #bababa
				.st6
					fill #9f9f9f
			&.m-phone-confirmation
				width 90px
				height 100px
				.st0
					fill none
				.st1
					fill #e7e7e7
				.st2
					fill #9a9a9a
				.st3
					fill #9ec754
			&.m-phone-verification
				width 90px
				height 100px
				.st0
					fill none
				.st1
					fill #e7e7e7
				.st2
					fill #9a9a9a
				.st3
					fill #fd4
			&.m-success
				width 109px
				height 109px
				path
					fill $green

	&--content
		color $gray
		line-height 1.5
		text-align center
		+mobile()
			font-size rem(16)
		+desktop()
			font-size rem(18)
		a
			color $blue_light
			font-weight 600
			text-decoration none
			&:hover
				color $blue

		&--block
			p + p
				margin-top rem(15)
			footer
				+mobile()
					margin-top rem(20)
				+desktop()
					margin-top rem(30)
			.btn + .btn
				margin-left rem(10)

			&.m-verify_form
				.field
				.field input
				.btn
					height 47px
				+desktop()
					.field
						display inline-block
						width 210px
					.btn
						display inline-block
						width 90px
						margin-left 10px
				+mobile()
					.field
						display block
						width 100%
						margin-bottom rem(10)
					.btn
						display block
						width 100%

		&--block + &--block
			+mobile()
				margin-top rem(20)
			+desktop()
				margin-top rem(30)

		&--choose_btn
			width 100px

		&--close_btn
			width 180px
			display inline-block

	&--footer
		border-top 1px solid $border_color
		text-align right
		+mobile()
			padding rem(8 20)
			position fixed
			bottom 0
			left 0
			right 0
		+desktop()
			padding rem(15 40)
