<div class="profiles_list--header--search m-clients">
	<div class="field">
		<input type="text" value="" data-profiles-search name="search" placeholder="Filter by Name">
	</div>
</div>
<div class="profiles_list--header--sort">
	<dl class="form--group m-horizontal">
		<dt>Sort by</dt>
		<dd class="field">
			<div class="select">
				<select data-profiles-sort name="sort" id="profiles_list--header--sort"></select>
			</div>
		</dd>
	</dl>
</div>
