<td class="profiles_list--table--avatar">
	<a data-profile-link>
		<a data-profile-link class="userpic m-circle m-xs m-no_border">
			<span data-avatar class="userpic--inner"></span>
		</a>
	</a>
</td>
<td class="profiles_list--table--details">
	<span class="profiles_list--table--profile">
		<a data-profile-link>
			<span data-name></span>
		</a>
	</span>
</td>
<td class="profiles_list--table--actions">
	<span class="profiles_list--table--action">
		<button data-invite-confirm class="btn m-small m-green">Accept</button>
	</span>
	<span class="profiles_list--table--action">
		<button data-invite-decline class="btn m-small m-light_gray">Decline</button>
	</span>
</td>
