<div class="card">
	<header class="card--header">
		<span class="card--header--avatar">
			{{#if isSearchable}}
				<a href="{{profileUrl}}" target="_blank">
					{{#if avatar}}
						<img src="{{avatar}}" alt="">
					{{/if}}
				</a>
			{{else}}
				<a>
					{{#if avatar}}
					<img src="{{avatar}}" alt="">
					{{/if}}
				</a>
			{{/if}}
		</span>
		<div class="card--header--details">
			<h3 class="card--header--name">
				{{#if isSearchable}}
					<a href="{{profileUrl}}" target="_blank">
						<span>{{fullName}}</span>
					</a>
				{{else}}
					<a>
						<span>{{fullName}}</span>
					</a>
				{{/if}}
			</h3>
			<div class="card--header--rating">
				<span data-reviews-rating class="star_rating m-s">
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
					<span class="star_rating--star m-yellow"></span>
				</span>
				<span data-reviews-count class="card--header--rating--count"></span>
			</div>
			<div data-last-appointment class="card--header--last_visit">
				<span>Last Visit:</span>
				<span data-last-appointment-time></span>
			</div>
		</div>
	</header>
	<div class="card--content">
		<div data-not-available></div>
		<div class="card--packages" data-packages></div>
		<div data-next-availability class="card--appointment">
			<h3 class="card--appointment--heading m-availability">Next Available Appointment</h3>
			<div class="card--appointment--datetime">
				<div class="card--appointment--date" data-next-availability-date></div>
				<div class="card--appointment--time" data-next-availability-time></div>
			</div>
			<div class="card--appointment--location">
				<p data-next-availability-location></p>
				<p data-next-availability-address></p>
			</div>
		</div>

		<div data-next-appointment class="card--appointment">
			<h3 class="card--appointment--heading m-appointment">Next Appointment</h3>
			<div class="card--appointment--datetime">
				<div class="card--appointment--date" data-next-appointment-date></div>
				<div class="card--appointment--time" data-next-appointment-time></div>
			</div>
			<div class="card--appointment--service" data-next-appointment-service></div>
			<div class="card--appointment--home_visit" data-next-appointment-home-visit></div>
			<div class="card--appointment--location">
				<p data-next-appointment-location></p>
				<p data-next-appointment-address></p>
			</div>
		</div>
	</div>
	{{#if isSearchable}}
		<div class="card--footer">
			<div class="card--footer--actions">
				<div class="card--footer--actions_item card--footer--cancel" data-cancel-appointment>
					<a href="#" data-cancel-link class="btn m-white m-small">Cancel Appointment</a>
				</div>
				<div class="card--footer--actions_item card--footer--confirm" data-confirm-appointment>
					<a href="#" data-confirm-link class="btn m-blue m-small">Confirm Appointment</a>
					<a href="#" data-cancel-link class="btn m-link m-small">Cancel</a>
				</div>
				<div class="card--footer--actions_item card--footer--waiting" data-waiting-appointment-confirmation>
					<span>Waiting for confirmation</span>
					<a href="#" data-cancel-link class="btn m-link m-small">Cancel</a>
				</div>
			</div>
			<div class="card--footer--more">
				<span class="card--footer--book_now">
					<a href="{{profileUrl}}" target="_blank" class="btn m-red m-small">Book Now</a>
				</span>
				<a href="{{messageUrl}}" class="card--btn m-msg" data-tooltip title="Message Professional"></a>
				{{#if canReview}}
					<a href="{{profileUrl}}#review" data-review-link class="card--btn m-review" data-tooltip title="Review Professional"></a>
				{{/if}}
				<button data-remove-link class="card--btn m-remove" data-tooltip title="Remove from My Professionals"></button>
			</div>
		</div>
	{{/if}}
</div>
