<div class="conversation--wrap">
	<header class="conversation--header">
		<figure class="header--userpic"></figure>
		<div class="header--profile">
			<span class="header--profile_name"></span>
			<span class="header--profile_details"></span>
		</div>
		<div class="header--add">
			<button class="btn m-green header--add_btn"></button>
		</div>
		<div class="header--menu">
			<span class="header--menu_toggler"></span>
			<div class="header--menu_dropdown">
				<ul>
					<li>
						<a href="#" class="link--remove">Remove Conversation</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="conversation--body">
		<div class="conversation--messages"></div>
	</div>
	<footer class="conversation--form">
		<div class="form">
			<div class="form--message">
				<textarea name="message" cols="30" rows="10" placeholder="Write your message..."></textarea>
			</div>
			<div class="form--send">
				<button class="btn m-blue m-small form--send_btn" disabled>Send</button>
			</div>
		</div>
	</footer>
</div>
<span class="loading_overlay m-light"><span class="spin m-cog"></span></span>
