<header class="conversation--header">
	<span class="conversation--header_to">TO:</span>
	<div class="field" data-autocomplete>
		<span class="field--error"></span>
		<input type="text" name="to" placeholder="Enter name">
		<span class="field--autocomplete" data-autocomplete-results></span>
		<span class="spin m-cog"></span>
	</div>
</header>
<p>&nbsp;</p>
<footer class="conversation--form">
	<div class="form">
		<div class="field form--message">
			<span class="field--error"></span>
			<textarea name="message" cols="30" rows="10" placeholder="Write your message..." name="message"></textarea>
		</div>
		<div class="form--send">
			<button class="btn m-blue m-small form--send_btn" disabled>Send</button>
		</div>
	</div>
</footer>
<span class="loading_overlay m-light"><span class="spin m-cog"></span></span>
