<div class="list--item" data-id="">
	<div class="list--item_wrap">
		<span class="list--item_status"></span>
		<div class="list--item_details">
			<figure class="list--item_userpic"></figure>
			<div class="list--item_msg">
				<span class="list--item_msg_name"></span>
				<span class="list--item_msg_content"></span>
			</div>
		</div>
		<span class="list--item_more">
			<span class="list--item_more_date"></span>
		</span>
	</div>
</div>
