<div class="sidebar--search">
	<div class="search">
		<div class="search--new">
			<button class="search--new_btn"><span>New Message</span> <i></i></button>
		</div>
		<div class="search--input">
			<input type="text" name="search" placeholder="Search by name&hellip;">
		</div>
	</div>
</div>
<div class="sidebar--list"></div>
<span class="loading_overlay m-light"><span class="spin m-cog"></span></span>
