<div class="wizard_booking--block wizard_booking--success--card">

	{{#if is_recurring}}
		<header class="wizard_booking--success--header">
			<h1 class="wizard_booking--success--header--title">Booking Successful</h1>
			<div class="wizard_booking--success--header--text">
				<p>You have successfully booked a monthly recurring package with <strong>{{professional_name}}</strong>. You can find more details below. Stay healthy!</p>
			</div>
		</header>
	{{else}}
		{{#if appointment_pending}}
		<header class="wizard_booking--success--header">
			<h1 class="wizard_booking--success--header--title">Your Appointment Is Pending</h1>
			<div class="wizard_booking--success--header--text">
				<p>Your appointment with <strong>{{professional_name}}</strong> is pending his approval. We will notify you right away when there is a change in status of the appointment</p>
				<p><i>Please note that you will be charged once the appointment is approved</i></p>
			</div>
		</header>
		{{else}}
			<header class="wizard_booking--success--header">
				<h1 class="wizard_booking--success--header--title">Booking Successful</h1>
				<div class="wizard_booking--success--header--text">
					<p>Way to go! You have successfully booked an appointment with <strong>{{professional_name}}</strong>. You'll find the appointment details below.</p>
				</div>
			</header>
		{{/if}}
	{{/if}}

	<div class="wizard_booking--success--cols">
		<div class="wizard_booking--success--col">
			<div class="wizard_booking--success--info">
				<div class="wizard_booking--success--contact_info">
					<figure class="wizard_booking--success--contact_info--userpic">
						{{{professional_avatar}}}
					</figure>
					<div class="wizard_booking--success--contact_info--data">

						<h3>{{professional_name}}</h3>

						{{#if location_is_virtual}}
							<div class="wizard_booking--success--contact_info--address">
								<p><strong>{{location_name}}</strong></p>
								<p>{{location_address}}</p>
							</div>
						{{else if location_is_home_visit}}
							<div class="wizard_booking--success--contact_info--address">
								<p><strong>{{location_name}}</strong></p>
								<p>{{location_address}}</p>
							</div>
						{{else}}
							<div class="wizard_booking--success--contact_info--address">
								<p><strong>{{location_name}}</strong>, {{location_address}}</p>
							</div>
							{{#if gmaps_url}}
								<div class="wizard_booking--success--contact_info--map">
									<a href="{{gmaps_url}}" target="_blank">View on Google Map</a>
								</div>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>

		<div class="wizard_booking--success--col">
			{{#if is_recurring}}
				<div class="wizard_booking--success--package">
					<h3>Recurring Package</h3>

					<p><strong>Service:</strong><br>{{service_name}}</p>
					<p><strong>Duration:</strong><br>{{duration}} x {{max_visits}} for {{number_of_months}}</p>
				</div>
				<div class="wizard_booking--success--time">
					<h3>Next Appointment</h3>
					<p>{{day}}, {{date}}</p>
					<time>{{time}}</time>
				</div>
			{{else}}
				<div class="wizard_booking--success--time">
					<h3>Current Booking Time</h3>

					<p>{{day}}, {{date}}</p>
					<time>{{time}}</time>

					<p><strong>Service:</strong> {{service_name}}</p>
					<p><strong>Duration:</strong> {{duration}}</p>
				</div>
			{{/if}}
		</div>

	</div>

</div>

<footer class="wizard_booking--success--footer">
	<a href="/dashboard/appointments" class="btn m-green wizard_booking--success--footer--btn">View in dashboard</a>
</footer>
