<ul class="edit_set--list"></ul>
<span class="loading_overlay m-light"><span class="spin m-cog"></span></span>
<button class="edit_set--add_btn add_btn" data-add type="button">Add Another Position</button>
