<dl class="edit_set--item_row m-name">
	<dt>Company Name</dt>
	<dd>
		<label class="field m-wide">
			<input type="text" name="jobs[{{index}}][company_name]" value="{{company_name}}" data-selector="company_name"></input>
			<span class="field--error"></span>
		</label>
	</dd>
</dl>
<dl class="edit_set--item_row">
	<dt>Job Title</dt>
	<dd>
		<label class="field m-wide">
			<input type="text" name="jobs[{{index}}][job_title]" value="{{job_title}}" data-selector="job_title"></input>
			<span class="field--error"></span>
		</label>
	</dd>
</dl>

<div class="edit_set--item_row m-double">

	<dl>
		<dt>From </dt>
		<dd>
			<div class="edit_set--time_range">
				<div class="select">
					<select name="jobs[{{index}}][from][month]" data-selector="from[month]">
						<option value="">Month</option>
						{{#each months}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
				<div class="select">
					<select name="jobs[{{index}}][from][year]" data-selector="from[year]">
						<option value="">Year</option>
						{{#each years}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
			</div>
		</dd>
	</dl>
	<dl>
		<dt>To </dt>
		<dd>
			<div class="edit_set--time_range">
				<div class="select">
					<select name="jobs[{{index}}][to][month]" data-selector="to[month]">
						<option value="">Month</option>
						{{#each months}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
				<div class="select">
					<select name="jobs[{{index}}][to][year]" data-selector="to[year]">
						<option value="">Year</option>
						{{#each years}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
			</div>
		</dd>
	</dl>
	<div class="edit_set--time_current">
		<label class="checkbox">
			<input type="checkbox" name="jobs[{{index}}][current]">
			<span class="checkbox--i"></span>
			<span class="checkbox--label">I currently work here</span>
		</label>
	</div>
</div>

<input name="jobs[{{index}}][id]" type="hidden" value="{{profile_jobs_id}}">
<button class="edit_set--item_remove" type="button" title="Remove item">Remove item</button>
