<div class="popup--container" data-popup-container>
	<div class="require_password--wrap">
		<header class="popup--header">
			<h2 class="popup--header_title require_password--header_title">Set password</h2>
		</header>
		<div class="popup--content">
			<div class="require_password--form">
				<dl class="form--group form--line m-row-fixed m-has_hint">
					<dt>New Password</dt>
					<dd class="field">
						<label class="m-wide"></label>
						<input id="newPassword" type="password" name="newPassword">
						<span class="field--hint">Must be at least 7 characters.</span>
						<span class="field--error"></span>

					</dd>
				</dl>
				<dl class="form--group form--line m-row-fixed">
					<dt>Confirm New Password</dt>
					<dd class="field">
						<label class="m-wide"></label>
						<input id="confirmNewPassword" type="password" name="confirmNewPassword">
						<span class="field--error"></span>
					</dd>
				</dl>
				<dl class="form--group form--line m-row-fixed"">
					<dd class="form--line">
						<label class="field checkbox">
							<input name="acceptTerms" type="checkbox" class="auth_form--terms">
							<span class="field--error m-right"></span>
							<span class="checkbox--i"></span>
						<span class="checkbox--label">
							I agree to HealthPRO's <a href="{{terms}}" target="_blank">Terms of Service</a>
						</span>
						</label>
					</dd>
				</dl>
				<dl class="form--group form--line m-row-fixed">
					<dt>&nbsp;</dt>
					<dd>
						<button data-set-password class="btn m-blue" type="submit">Set password</button>
					</dd>
				</dl>
			</div>
		</div>
		<div class="loading_overlay m-light m-hide"><span class="spin m-cog"></span></div>
	</div>
</div>
<div class="popup--bg" data-popup-close></div>
