<div class="wizard_booking--block">
	<div class="wizard_booking--sidebar_info--details m-certificate">

		<header class="wizard_booking--block--header wizard_booking--sidebar_info--details--header">
			<h2 class="wizard_booking--block--header--title wizard_booking--sidebar_info--details--title">Booking Information</h2>
		</header>

		<figure class="wizard_booking--sidebar_info--details--certificate"></figure>
		<div class="wizard_booking--sidebar_info--details--info">
			<h3 class="wizard_booking--sidebar_info--details--name">Gift Certificate</h3>
			<p class="wizard_booking--sidebar_info--details--service">Service: <strong data-appointment-service-name></strong></p>
			<p class="wizard_booking--sidebar_info--details--session">Session: <strong data-appointment-duration></strong> <strong>minutes</strong></p>
		</div>

		<div class="wizard_booking--sidebar_info--details--location_type" data-appointment-type></div>
	</div>
	<div class="wizard_booking--sidebar_info--summary">
		<div class="wizard_booking--sidebar_info--summary--item m-price">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-price"></span>
			<div>
				<b data-appointment-price></b>
				{{! we can only have 1 session for gift certificates }}
				(1 session x <span data-appointment-duration></span> min)
			</div>
		</div>
		<div class="wizard_booking--sidebar_info--summary--item m-person">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-person"></span>
			<div>
				<b data-appointment-recipient-name></b>
				<p data-appointment-recipient-email></p>
			</div>
		</div>
		<div class="wizard_booking--sidebar_info--summary--item m-message">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-message"></span>
			<p data-appointment-message></p>
		</div>
		<div class="wizard_booking--sidebar_info--summary--item m-time">
			<span class="wizard_booking--sidebar_info--summary--item--icon m-time"></span>
			<div>
				To be delivered
				<p data-appointment-delivery-date></p>
			</div>
		</div>
	</div>
</div>

<div class="wizard_booking--sidebar_info--payment_info wizard_booking--block m-pad_v m-pad_h_sm" data-payment-info>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title" data-payment-info-title></h2>
	</header>
	<div class="wizard_booking--block--story" data-payment-info-content></div>
</div>

<div class="wizard_booking--sidebar--secured"></div>
