.not-available-professional
	&--inner
		display flex
		flex-direction column
		align-items center
		justify-content center
	&--title
		color #9a9a9a
		font-size 36px
		font-weight 600
		text-align center
		max-width 640px
		margin-top 56px
		margin-bottom 53px
		line-height 1.3
		padding-right 4px
		padding-left 4px
		+responsive('max-width: 750px')
			font-size 30px
		+responsive('max-width: 450px')
			font-size 24px
		+responsive('max-width: 330px')
			font-size 21px
	&--button-send-message
		color white
		border-radius 3px
		background-color  #2b95a7
		width 185px
		height 40px
		padding-left 30px
		font-style normal
		display flex
		&-icon
			&::before
				font-family "iconfont"
				content "\EA4E"
				font-size 16px
				font-style normal
		&-text
			margin-left 4px
			font-size 15px
	&--title-pro
		color  #e05b49
		font-size 28px
		font-weight 700
		text-align center
		margin-top 37px
		margin-bottom 34px
	&--text-pro
		text-align center
		margin-bottom 25px
		a
			color  #2b95a7
			font-size 16px
			font-weight 600
	&--title-contact-professional
		font-size 16px
		font-weight 600
		text-align center
		margin-top 32px
		margin-bottom 11px
