.change_plan
	&--content
		width 620px
		max-width 100%
		margin 0 auto

	&--title
		font-size 24px
		text-align center
		margin-bottom 30px
		font-weight 600

		b
			text-transform uppercase

		.m-blue
			color $blue_mute

		.m-red
			color $red_mute

		.m-green
			color $green

	&--text
		font-size 18px
		text-align center
		line-height 1.3
		max-width 90%
		margin 0 auto 30px

	&--options
		display flex
		justify-content center
		margin 0 -15px 25px
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				margin-left -10px
				margin-right -10px
		+mobile_ready_and_mobile()
			+responsive('max-width: 380px')
				margin-bottom 15px
				flex-wrap wrap

		.membership_option
			margin 0 15px
			flex-basis 50%
			max-width 260px
			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					margin 0 10px
					min-width 0
			+mobile_ready_and_mobile()
				+responsive('max-width: 380px')
					flex-basis 100%
					margin-bottom 15px

	&--payment
		padding 10px 0
		border-top 1px solid $border_color
		display flex
		justify-content space-between
		align-items center
		+mobile_ready_and_mobile()
			+responsive('max-width: 550px')
				padding 15px 0
				flex-wrap wrap

		&_item
			display inline-block
			width 33%
			vertical-align middle
			padding-right 10px
			+mobile_ready_and_mobile()
				+responsive('max-width: 550px')
					width 50%
			+mobile_ready_and_mobile()
				+responsive('max-width: 380px')
					width 100%
					margin-bottom 10px

		&_label
			font-weight 600
			font-size 16px
			color $gray
			+mobile_ready_and_mobile()
				+responsive('max-width: 550px')
					width 100%
					margin-bottom 10px

		&_type
			p
				margin 5px 0

				&.m-mid
					font-size 16px

				&.m-gray
					color $gray

		&_actions
			text-align right
			padding-right 0
			+mobile_ready_and_mobile()
				+responsive('max-width: 380px')
					text-align left
					margin-bottom 5px

			.btn
				min-width 120px

		&.m-no_card &
			&_label
				width 66%

			&_type
				display none

	&--total
		padding 25px 0
		border-top 1px solid $border_color
		border-bottom 1px solid $border_color
		text-align right

		&_label
			display inline-block
			margin-right 25px
			vertical-align baseline
			font-weight bold
			font-size 16px

		&_price
			font-size 16px
			font-weight bold
			display inline-block
			vertical-align baseline

			b
				font-size 25px
				font-weight bold

			span
				font-weight normal

	&--cancel_btn
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				display none
