+responsive('max-width: 760px')
	.pricing_feature
		&--header
			margin-bottom 20px

+responsive('max-width: 640px')
	.pricing_feature
		width 100%
		width 100%
		margin-left auto
		margin-right auto
		max-width 380px
		text-align center
		margin-top 60px

		&:nth-child(odd)
			margin-right auto

		&--header
			display inline-block

		&--title
			text-align left

		&--content
			text-align left
			ul
				li
					padding-left 0
					margin-bottom 3px

					&:before
						position relative
						top 2px
						margin-right 6px
						font-size 16px

		&--payments
			&_item
				min-width 120px
