.pricing
	&--header
		background $blue_light
		overflow hidden
		text-align center

		&_title
			padding 95px 0 115px
			font-size 44px
			color white
			max-width 800px
			margin 0 auto
			display block
			position relative
			letter-spacing 0.02em
			line-height 1.1

			&:before
			&:after
				position absolute
				content ''
				display block
				bottom 0

			&:before
				width 332px
				height 273px
				left -400px
				background url(../images/design/pricing/pricing-bg-left.png) no-repeat right bottom / contain
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					background-image url(../images/design/pricing/pricing-bg-left.png)

			&:after
				width 311px
				height 286px
				right -380px
				background url(../images/design/pricing/pricing-bg-right.png) no-repeat left bottom / contain
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					background-image url(../images/design/pricing/pricing-bg-right.png)

		p
			position relative
			z-index 2

	&--features
		padding 80px 0 100px
		background white

		&_wrap
			max-width 800px
			margin 0 auto
			padding 0 20px

		&_header
			font-size 36px
			text-align center
			margin-bottom 5px

		&_list
			display flex
			flex-wrap wrap
			position relative
			left 20px
