+responsive('max-width: 980px')
	.pricing_plans
		&--wrap
			&.m-fixed
				top -140px

+responsive('max-width: 760px')
	.pricing_plans
		.pricing_box
			margin-top 0
			&:first-child
				margin-top -60px

		&--list
			flex-direction column

		&.m-fixed
			top 0
			position static
			box-shadow none
			padding-bottom 10px
