.pricing_feature
	width 48%
	margin-top 70px
	flex-grow 1px
	flex-basis 47%

	&:nth-child(odd)
		margin-right 5.5%

	&--header
		padding-bottom 12px
		border-bottom 1px solid $border_color
		color $gray_dark
		font-size 20px
		text-transform uppercase
		margin-bottom 28px
		padding-left 40px
		position relative

		&:before
			position absolute
			display inline-block
			color $blue_light
			width 35px
			margin-right 5px
			font-size 29px
			content ''
			left 0
			top -7px

		&.m-schedule
			&:before
				icon($i-calendar_check)

		&.m-communication
			&:before
				icon($i-communication)
				font-size 31px
				top -9px

		&.m-payments
			&:before
				icon($i-payments)
				font-size 25px
				top -4px
				left -2px

		&.m-support
			&:before
				icon($i-support-person)
				font-size 30px
				top -9px

	&--title
		color $blue_light
		font-size 18px
		margin-bottom 12px
		letter-spacing 0.05em

	&--content
		color $gray_dark
		font-weight 300
		font-size 18px
		line-height 1.3

		ul
			margin-bottom 15px
			li
				position relative
				padding-left 30px
				margin-bottom 12px
				&:before
					icon($i-check-o)
					color $green
					font-size 18px
					position absolute
					top 0
					left 0

		p
			margin-bottom 15px

	&--payments
		display flex
		justify-content space-between
		align-items center

		&_item
		&_or
			flex-grow 1
			text-align center

		&_item
			padding 10px
			border 1px solid $border_color
			border-radius 5px
			height 60px

			&:before
				content ''
				display inline-block

			&.m-paypal
				font-size 0
				&:before
					width 99px
					height 100%
					background url(../images/design/pricing/paypal.svg) no-repeat center center / contain

			&.m-stripe
				font-size 0
				&:before
					width 73px
					height 100%
					background url(../images/design/pricing/stripe.svg) no-repeat center center / contain

		&_or
			font-style normal
			text-align center
			flex-grow .9
			margin 0 2px
			position relative

			&:before
				width 100%
				height 1px
				background $border_color
				content ''
				display block
				position absolute
				top 50%

			i
				display inline-block
				padding 5px
				min-width 30px
				background white
				position relative
