.pricing_plans
	background url(../images/design/pricing/noise_light.jpg) $background_color
	padding-bottom 25px

	.pricing_box
		margin-top -60px

	&.m-standalone
		background white
		padding 50px 0 30px

		.pricing_box
			margin-top 0
			box-shadow 0 1px 3px rgba(black, .15)

	&--list
		max-width 920px
		margin 0 auto
		display flex
		justify-content space-between
		align-items stretch
		transition padding .2s ease

	&--wrap
		box-shadow none
		transition box-shadow .2s ease

		&.m-fixed
			position fixed
			top -50px
			left 0
			width 100%
			background $background_color
			box-shadow 0 0 5px rgba(black, .1)
			z-index 3
			padding 0 20px

			.pricing_box

				&--short
					opacity 1
					visibility visible
					z-index 4

					&:hover
						z-index 5

					&_actions
						.btn_round
							z-index 7

				&--bookings
				&--options
				&--actions
					opacity 0

			.pricing_plans--list
				padding-bottom 0

	&--guarantee
		margin 0 auto 25px
		text-align center
		font-size 24px
