+responsive('max-width: 1200px')
	.pricing
		&--header
			&_title
				&:after
					right -230px
				&:before
					left -250px

+responsive('max-width: 980px')
	.pricing
		&--features
			&_list
				left 0

+responsive('max-width: 850px')
	.pricing
		&--header
			&_title
				font-size 40px

		&--features
			padding 70px 0 80px

			&_header
				font-size 32px


+responsive('max-width: 760px')
	.pricing
		&--header
			&_title
				font-size 36px

		&--features
			&_header
				font-size 28px

+responsive('max-width: 640px')
	.pricing
		&--header
			&_title
				font-size 33px
				padding 70px 0 100px

		&--features
			padding 60px 0 70px

			&_header
				font-size 26px

			&_list
				display block

+responsive('max-width: 480px')
	.pricing
		&--header
			&_title
				font-size 28px
