.booking_time
	&
		&.m-hide
			display none

		&--timezones
			display block
			text-align right
			margin-bottom 10px

		&--datepicker
			cf()

			&--opener
				display block
				border 1px solid $border_color
				height 33px
				border-radius 33px
				position relative
				width 240px
				cursor pointer
				float left

				&:after
					icon($i-calendar_grid)
					color $red
					position absolute
					right 14px
					top 50%
					font-size 20px
					t-translate(0, -50%)
					margin-top -1px

				input
					height 33px
					position absolute
					left 0
					top 0
					opacity 0
					font-size 16px
					visibility hidden

				span
					display block
					width 100%
					height 31px
					z-index 1
					position absolute
					padding 0 20px
					line-height 32px
					cursor pointer

			&--nav
				float right
				margin 4px 0 0


		&--list_wrap
			&
				position relative

			&.m-loading
				min-height 130px

			.spin.m-logo
				width 35px
				height 35px
				t-translate(-50%, -50%)
				margin -17px 0 0 -17px

				&:before
					width 35px
					height 35px
					background-size 35px

		&--list_container
			&.m-hide
				display none

		&--list_date
			display none
			text-align center
			font-size 16px
			padding 13px 10px
			background $background_color
			border-bottom 1px solid $border_color
			line-height 1.3

			&.m-hide
				display none

		&--list_empty
			&
				display none
				text-align center
				font-weight bold
				line-height 1.3
				min-height 130px
				padding rem(30px 0 20px)

			&.m-show
				display block

			&--btn
				margin-top 10px

		&--list_no_availability
			&
				display none
				text-align center
				font-weight bold
				line-height 1.3
				min-height 130px
				padding rem(30px 0 20px)

			&.m-show
				display block

			&--btn
				margin-top 10px

		&--list_none
			display none
			text-align center
			font-weight bold
			line-height 1.3
			padding rem(20 0)
			&.m-show
				display block

		&--list_more
			display none
			text-align center

			&.m-hide
				display none

			&--btn
				min-width 150px
				max-width 100%
				padding 7px 15px

		&--list
			padding 6px 0 0
			font-size 0
			margin-left -10px

			&--item
				&
					font-size 12px
					display inline-block
					width 33.3%
					width calc((100% - 30px) / 3)
					margin 10px 0 0 10px
					position relative
					overflow hidden

					&:before
						position absolute
						top 0
						left 0
						height 100%
						width 5px
						background #ccc
						content ''
						border-radius 3px 0 0 3px

					&--inner
						display block
						border 1px solid $border_color
						overflow(ellipsis)
						padding 8px 14px 0
						height 45px
						border-radius 3px
						cursor pointer

						strong
							font-weight 600
							display block
							margin-bottom 2px

						span
							font-size rem(12px)

						input
							position absolute
							left -9999px

					&--more
						display none

						dl
							padding 6px 4px 8px
							font-size 12px
							line-height 14px

						dt
							font-weight 600
							margin 0 0 4px

				&.m-hide
					display none

				&.m-location_1
					background $location-1-light

					&:before
						background $location-1

				&.m-location_2
					background $location-2-light

					&:before
						background $location-2

				&.m-location_3
					background $location-3-light

					&:before
						background $location-3

			&_timezones
				display none

	// booking time in search_result
	&.m-search &
		&--datepicker
			padding 15px 20px
			&--opener
				width 194px

		&--list_container
			border 1px solid $border_color
			border-radius 5px
			overflow hidden

		&--list_date
			display block

			&.m-hide
				display none

		&--list_more
			display block

			&.m-hide
				display none

		&--list
			column-gap 0
			padding 0
			height 100%
			margin 0

			&:empty
				display none

			&.m-hide_extra
				^[-1]--item
					&
						display none

					&:nth-child(1)
					&:nth-child(2)
					&:nth-child(3)
						display inline-block

			&--item
				&
					margin 0 0 -1px
					flex 1 0 33.3%
					max-width 33.3%
					width 33.3%
					border 1px solid $border_color
					border-left 0

					&:first-child
					&:nth-child(2)
					&:nth-child(3)
						border-top none

					&:before
						display none

					&--inner
						&
							border none
							border-radius 0
							background #fff
							padding 16px 15%
							height 60px

						&:hover
							background #f9fafc

						strong
							font-size 14px

				&.m-hide
					display none

				&.m-active
					.booking_time--list--item--inner
						background #f9fafc

				&:nth-child(3n)
					border-right 0

			&_timezones
				&
					display block
					padding 10px 0
					text-align right

				&.m-hide
					display none

			&:empty + &_timezones
				display none


	// booking in pick_date
	&.m-pick_date &
		&--list
			-webkit-column-count auto
			column-count auto
			-webkit-column-gap auto
			column-gap auto
			padding 16px 0 0
			font-size 0
			margin-left -10px

			&--item
				&
					width 18%
					width calc(100% / 6 - 10px)
					font-size 12px
					display inline-block
					position relative
					overflow visible
					background #fff
					margin 0 0 10px 10px
					&:before
						display none

					&--inner
						background #fff

				&.m-hide
					display none

				&.m-active
					.booking_time--list--item--inner
						background $green !important
						color #fff !important

				&:hover
					.booking_time--list--item--inner
						background #f9fafc

		&--datepicker--input
			display none

		&--list_empty
			padding 10px 0 0

	&.m-pick_date
		.ui-datepicker
			padding 0
			border none
			min-width 0
			position relative
			z-index 1000 !important

		.ui-datepicker-prev
			top 9px
			left 10px

		.ui-datepicker-next
			top 9px
			right 10px

		.ui-datepicker-calendar tbody a
			border 1px solid transparent
			z-index 1000 !important

		.ui-datepicker-prev
			top 9px
			left 10px

		.ui-datepicker-next
			top 9px
			right 10px

		.ui-datepicker-calendar tbody a
			border 1px solid transparent

			&:hover
				background none
				border-color $border_color
