+responsive('max-width: 980px')
	.booking_time
		&.m-pick_date &
			&--list
				&--item
					width calc(100% / 3 - 10px)

+responsive('max-width: 860px')
	.booking_time
		&--datepicker
			&--opener
				width 239px

		&--list_date
			font-size 14px
