.booking_info

	.m-hide
		display none

	&--title
		font-size rem(18px)
		font-weight 600
		margin 0 0 1em

	&--provider
		display flex

		&--userpic
			flex 0 0 130px
			margin 0 20px 0 0
			border-radius 5px
			.userpic--inner
			img
				border-radius 5px

		&--data
			flex 1
			padding 8px 0 0

		&--title
			font-size 1rem
			font-weight 600
			> span
				color #a1a1a1
			> a
				color $gray_dark
				&:hover
					color $blue

		&--category
			display block
			color $gray
			margin 5px 0 0

		&--rating
			margin 3px 0 0
			.star_rating
				margin 0 0 0 -2px
			> span
				color $gray
				position relative
				top 1px
				font-size rem(13)
				&.m-none
					top 0
					margin-top 2px
					display block

		&--business_name
			margin 10px 0 0
			dt
				font-weight 600
			dd
				color #a1a1a1

		&--full_profile
			margin 10px 0 0


		&--service_info
			margin-top .75em
			font-size rem(14)
			dt
				color $gray
			dd
				color $gray_dark

		&--service_name
			font-size 1rem
			padding-top 10px

		&--duration
			color $gray
			font-size rem(14px)
			padding-top 5px

		&--type
			display block
			padding-top 3px
			&.m-hide
				display none
			span
				display inline-block
				color #fff
				background $blue_light
				border-radius 3px
				line-height 1
				font-size rem(13)
				font-weight 600
				padding 2px 8px

	&--summary
		margin 15px 0 0

	&--small_card
		display none

		&--provider
			strong
				position relative
				top 2px
				padding 0 0 0 5px

		p
			padding 5px
			line-height 20px

	&--fake_step
		@extend .wizard--footer .btn
		position fixed
		z-index 1002
		bottom 0
		left 0
		width 100%
		display none


	&--times
		margin-top 10px
		&.m-hide
			display none
