+responsive('max-width: 980px')
	.booking_info
		&--summary
		&--provider
			// display none

			.m-review &
				display flex



		// &--small_card
			// display block

		&--title
			border-bottom 1px solid $border_color
			font-size 15px
			margin 0 -20px 20px
			padding 12px 20px

		&--fake_step
			display block
