.listing_table
	table
		width 100%
		thead
			th
				border 1px solid $border_color
				border-left 0
				border-right 0
				background #f9fafc
				color $gray

				&.m-right
					text-align right

				&.m-last
					padding-right 0
		th,
		td
			padding rem(10)
			text-align left
			vertical-align middle
			line-height 1.4

		td
			border-bottom 1px solid $border_color
			&.m-no_border
				border-bottom 0
		th
			font-weight 600
			font-size rem(14)
			&.sorting,
			&.sorting_asc,
			&.sorting_desc
				outline none
				cursor pointer
				&:hover
					color $gray_dark
			b
				display inline-block
				padding-right 14px
				position relative
			&.sorting_asc,
			&.sorting_desc
				color $gray_dark
				b
					&:after
						content: ''
						position absolute
						right 0
						top 50%
						margin-top -3px
						width 0
						height 0
						border-style solid

			&.sorting_asc
				b
					&:after
						border-width 0 4px 6px 4px
						border-color transparent transparent $gray_light transparent


			&.sorting_desc
				b
					&:after
						border-width 6px 4px 0 4px
						border-color $gray_light transparent transparent transparent

		tr
			&.m-hide
				display none
		tbody
			tr
				&:last-child
					td
						border-bottom 0

		.dataTables_empty
			text-align center



	&.m-last
		td
			border-bottom 0

	&--row

		.m-hide
			display none

		.listing_table--gutter
			border-bottom 0
		.listing_table--avatar
			padding-left 0
		.listing_table--actions
			padding-right 0
		.listing_table--attended
			padding-right 0
			padding-left rem(20px)

	&--avatar
		width 1%
		span
			width 30px
			height 30px
			border-radius 30px
			display block
			background $border_color
			background lighten($gray_lighter, 10) url(/assets/frontend/images/design/userpic.png) 50% 50% no-repeat
			background-size @width @height

		img
			width 30px
			height 30px
			border-radius 30px
			display block
	&--client
		//width 15%
	&--datetime
	&--location
		//width 20%
	&--submitted
	&--phone
		//width 10%

	&--duration
		//width 1%

	&--sender
	&--receiver
		//width 20%

	&--location
		.lbl
			margin-bottom 3px
		.m-name
		.m-address
			display block
		.m-hide
			display none
		p + p
			margin-top 3px

	&--phone
		white-space nowrap

	&--gutter
		width 1%
		border-bottom 0
	&--actions
	&--attended
		padding-right 0
		width 1%
		white-space nowrap
		text-align right
		font-size 0
		&.m-loading
			position relative
			&:after
				content: ""
				background rgba(255,255,255, .8)
				display block
				left 0
				right 0
				top 0
				bottom 0
				z-index 20
				position absolute

		&--in
			+responsive('max-width: 1180px')
				width 75px
				white-space normal

	&--action
		display inline-block
		vertical-align middle
		margin 2px 0 3px 5px
		&.m-hide
			display none
		&:last-child
			margin-right 0
	&--action_link
		cursor pointer
		display block
		height 30px
		width 32px
		border-radius 3px
		background $background_color
		border 1px solid $border_color
		color $gray_light
		font-size 20px
		color $gray
		text-align center
		cursor pointer
		&:before
			display block
			text-align center
			line-height 30px
			color $gray_lighter
		&:hover
			background transparent
		&.m-message
		&.m-email
			&:before
				font-size 14px
				line-height 29px
				icon($i-message-o)
		&.m-remove
			font-size 24px
			&:before
				icon($i-cancel-o)
			&:hover
				color $red_mute
		&.m-cancel
			&:before
				font-size 12px
				line-height 29px
				icon($i-times_thin)
		&.m-reschedule
			&:before
				line-height 29px
				icon($i-repeat)
		&.m-notify
			&:before
				font-size 19px
				icon($i-bell-o)
		&.m-confirm
			color $green
			&:before
				line-height 29px
				icon($i-check-o)
			&:hover
				color $green_dark
		&.m-help
			&:before
				icon($i-info)
		&.m-text
			width auto
			font-size rem(14)
			line-height 1.75
			padding 2px 9px
			&:hover
				background transparent
			&:before
				display none
			&.m-yes
				color $green
				border-color $green
				background #fff
			&.m-no
				color $red_mute
				border-color: $red_mute
				background #fff


	&--link_history
		font-size rem(13)
		color $blue
		font-weight 600
		&:hover
			color $blue_dark

	.dataTables_paginate
		margin 18px 24px
	&.m-no-paging
		.dataTables_paginate
			display none
