// useful
cf()
	&:after
		content ""
		display table
		clear both

// reset for input & button
ibreset()
	border 0
	padding 0
	margin 0
	outline none
	background none

cut-text()
	overflow hidden
	white-space nowrap
	-ms-text-overflow ellipsis
	text-overflow ellipsis

// placeholder
placeholder()
	if selector() == "&"
		error( "placeholder() must be called from a ruleset!" )
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}


// responsive
responsive(value)
	@media ( {value} )
		{block}


overflow( value )
	if value == ellipsis
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
	else
		overflow value

// px to rem convert
rem()
	values = ()
	for i in arguments
		push(values, i/16 rem)
	return values

t-translate()
	transform translate(arguments[0], arguments[1])

// center block when poa+t50%+l50%
center()
	position absolute
	top 50%
	left 50%
	t-translate(-50%, -50%)

visible(is_visible = true)
	if is_visible
		opacity 1
		visibility visible
	else
		opacity 0
		visibility hidden

desktop()
	\ body.m-device_desktop &
		{block}

mobile()
	\ body.m-device_mobile &
		{block}

mobile_ready()
	\ body.m-mobile_ready &
		{block}

mobile_ready_and_mobile()
	\ body.m-device_mobile &
	\ body.m-mobile_ready &
		{block}

mobile_ready_and_desktop()
	\ body.m-device_desktop &
	\ body.m-mobile_ready &
		{block}

// fluid font-size
fz($min, $max, $minWidth=1000, $maxWidth=1299, pct='vw')
	$slope = ($max - $min) / ($maxWidth - $minWidth)
	$intercept = $max - ($slope * $maxWidth)
	if ( $intercept == 0 )
		font-size unit($slope*100, pct)
	else
		font-size s('calc('+ unit($slope*100, pct) +' + '+  ($intercept)px + ')')
	@media (max-width unit($minWidth, px))
		font-size unit($min, px)
	@media (min-width unit($maxWidth, px))
		font-size unit($max, px)

//$pixels == <number>
//$viewport == <number>
//example: px2vw(12, 375) => 3.2vw
//similar code in sass/less in: http://www.pxtovw.com/ - i convert to stylus + add 'vw'
px2vw($pixels, $viewport)
	$vw = $viewport * 0.01
	$pixels / $vw * 1vw
