.setup_profile
	&--wrap
		position relative
		display flex
		flex 1
		flex-direction column

	.wizard--block
		display flex
		flex-direction column

	&--container
		display flex
		flex 1

	&--side
		padding rem(30)
		flex 0 1 300px
		border-right 1px solid $border_color

		h3
			line-height 1.3
			font-weight 600
			font-size rem(18)
			margin rem(0 0 20)

		p
			font-size rem(16)
			margin rem(20 0)

		ul
			margin 0 0 50px
			li
				&
					position relative
					padding 0 0 0 24px
					font-size rem(16)
					margin rem(15px 0 0 0)

					&:before
						display block
						width 8px
						height 8px
						background $blue_light
						content ''
						position absolute
						top 3px
						left 0
						border-radius 100%
				&:first-child
					margin 0

	&--main
		flex 1
		padding rem(30)
		max-width 600px

	+responsive('max-width: 980px')

		&--container
			display block
			padding rem(20)

		&--side
			display none

		&--main
			margin-left 0
			padding 0
			max-width 500px












