.filters_list
	&--item
		&
			display inline-block
			vertical-align middle
			border 1px solid $border_color
			background #fff
			height rem(32px)
			border-radius rem(32px)
			font-size rem(13px)
			padding rem(0 32px 0 15px)
			line-height rem(32px)
			position relative
			margin 2px 5px 2px 0

			span
				display block

			&--remove
				&
					font-size 14px
					text-indent -9999px
					position absolute
					top 1px
					right 2px
					display block
					width 28px
					height 28px

					&:before
						icon($i-times)
						position absolute
						top 50%
						left 50%
						center()
						text-indent 0
						color $red


				&:hover
					&:before
						color $red

			&--clear
				&
					height 100%
					padding rem(0 32px 0 15px)
					position relative
					line-height rem(32px)
					color $blue
					font-size rem(13px)

					&:after
						font-size 14px
						icon($i-repeat)
						position absolute
						right 10px
						top 50%
						t-translate(0, -50%)
						color $blue

				&:hover
					color $blue_dark

					&:after
						color $blue_dark

		&.m-clear
			padding 0

		&.m-hide
			display none

		&.m-empty
			padding rem(0 15px)
