<div class="wizard_booking--payment">

	<div class="wizard_booking--block m-pad">
		<header class="wizard_booking--block--header">
			<h2 class="wizard_booking--block--header--title">Select Your Payment Method</h2>
		</header>

		<div class="wizard_booking--alert m-error m-hide" data-error></div>

		<div data-payment-methods></div>
		<div data-payment-details></div>

		<div data-payment-coupons></div>
		<div data-payment-totals></div>
	</div>
</div>
