<div data-payment-coupons-add-coupon>
	<button class="wizard_booking--payment_coupon--add_coupon" data-payment-coupons-add-coupon-btn>Add a coupon code</button>
</div>
<div data-payment-coupons-form class="wizard_booking--payment_coupon--form">
	<dl class="form--group">
		<dt>Add a coupon code</dt>
		<dd>
			<div class="field m-wide">
				<input type="text" name="coupon_code">
				<span class="field--error"></span>
			</div>
			<button class="btn m-blue" type="button" data-payment-coupons-apply-coupon-btn>Add</button>
		</dd>
	</dl>
</div>
<div class="wizard_booking--payment_coupon--applied_coupon" data-payment-coupons-applied-coupon>
	<p>Coupon Code <span data-payment-coupons-applied-coupon-list></span></p>
	<button class="wizard_booking--payment_coupon--remove_coupon" data-payment-coupons-remove-coupon-btn>Remove</button>
</div>
