<div class="wizard_booking--payment_methods--list">
	{{#each paymentMethods}}
		{{#if this.enabled}}
			<label class="wizard_booking--payment_methods--list--item m-{{this.type}}">
				<input type="radio" name="payment_method" value="{{this.type}}">
				<div class="wizard_booking--payment_methods--list--item--label">
					<span class="wizard_booking--payment_methods--list--item--icon m-{{this.type}}">{{{this.icon}}}</span>
					<h3 class="wizard_booking--payment_methods--list--item--name">{{this.name}}</h3>
				</div>
			</label>
		{{/if}}
	{{/each}}
</div>
