<form action="#" class="form panel">
	<fieldset class="panel--block">
		<header class="panel--header m-education">
			<h2 class="panel--header_title">Education &amp; Degrees</h2>
		</header>
		<div class="panel--content m-form">
			<div class="js-edit_educations edit_uni m-profile"></div>
		</div>
	</fieldset>

	<footer class="panel--actions">
		<button type="button" class="js-edit_credentials--cancel btn m-link" data-cancel="education">Cancel</button>
		<button class="js-edit_credentials--submit btn m-blue" type="submit">Update</button>
	</footer>

	<fieldset class="panel--block">
		<header class="panel--header m-work">
			<h2 class="panel--header_title">Work Experience</h2>
		</header>
		<div class="panel--content m-form">
			<div class="js-edit_work edit_work m-profile"></div>
		</div>
	</fieldset>

	<footer class="panel--actions">
		<button type="button" class="js-edit_credentials--cancel btn m-link" data-cancel="work">Cancel</button>
		<button class="js-edit_credentials--submit btn m-blue" type="submit">Update</button>
	</footer>

	<fieldset class="panel--block">
		<header class="panel--header m-certificates">
			<h2 class="panel--header_title">Credentials</h2>
			<p class="panel--header_description">Upload your certificates and licenses.</p>
		</header>
		<div class="panel--content">
			<div class="edit_media m-profile">
				<ul class="edit_media--list js-edit_photos">
					<li class="edit_media--item edit_media--item_uploader">
							<span type="button" class="edit_media--add_photo">
								<input type="file" name="file" multiple class="js-edit_photos--add_photo">
							</span>
					</li>
				</ul>
			</div>
		</div>
	</fieldset>

	<footer class="panel--actions"></footer>

	<fieldset class="panel--block">
		<header class="panel--header m-associations">
			<h2 class="panel--header_title">Professional Associations</h2>
			<p class="panel--header_description">Are you a member of a professional body?</p>
		</header>
		<div class="panel--content m-form">
			<div class="js-edit_profbody edit_profbody m-profile"></div>
		</div>
	</fieldset>

	<footer class="panel--actions">
		<button type="button" class="js-edit_credentials--cancel btn m-link" data-cancel="associations">Cancel</button>
		<button class="js-edit_credentials--submit btn m-blue" type="submit">Update</button>
	</footer>
</form>
