.profile_info
	&--title
		font-weight 600
		border-bottom 1px solid $border_color
		font-size 15px
		margin 0 -20px 20px
		padding 12px 20px
		+responsive('min-width: 980px')
			font-size rem(18px)
			margin 0 0 34px
			padding 0
			border 0
	&--container
		display flex

	&--userpic
		flex 0 0 90px
		margin rem(0 20 0 0)
		width 90px
		height 90px
		+responsive('min-width: 768px')
			flex 0 0 90px
			margin rem(0 10 0 0)
			width 90px
			height 90px
		+responsive('min-width: 980px')
			flex 0 0 130px
			margin rem(0 20 0 0)
			width 130px
			height 130px

	&--data
		flex 1
		padding 8px 0 0

	&--name
		font-size 1rem
		font-weight 600

		> span
			color #a1a1a1
		> a
			color $gray_dark
			&:hover
				color $blue

	&--category
		display block
		color $gray
		margin 5px 0 0

	&--rating
		margin 10px 0 0
		.star_rating
			margin 0 0 0 -2px
		> span
			color $gray
			position relative
			top 1px

	&--business_name
		margin 10px 0 0
		dt
			font-weight 600
		dd
			color #a1a1a1

	&--full_profile
		margin 10px 0 0

	&--summary
		margin 15px 0 0

	&--small_card
		display none

		&--provider
			strong
				position relative
				top 2px
				padding 0 0 0 5px

		p
			padding 5px
			line-height 20px
