.prompt
	position relative
	border 1px solid $border_color
	box-shadow 0 1px 0 rgba(#d4d9e3, .75)
	background #fff
	padding 0
	border-radius 3px
	max-width 1180px
	margin 20px auto

	&--inner
		padding: rem(16px 20px);

	&--btn
		margin 0 15px
