.prompt-trial
	display flex
	flex-wrap nowrap
	align-items center
	color $gray_dark

	&--days
	&--credit
		&.m-hide
			display none

	&--days
		flex 1
		text-align left

	&--credit
		flex 0 0 150px
		text-align right
		margin-left auto

	&--title
		font-size rem(16px)
		font-weight 600
		margin-bottom .2em
		display block
		&.m-credit
			color $red

	&--label
		display block
		margin 0
