.article

	+responsive('max-width: 1120px')
		margin 0 auto !important
		padding 0 20px
		overflow hidden

	.container
		width 720px
		+responsive('max-width: 1120px')
			width 450px
		+responsive('max-width: 768px')
			width 335px

	&--container
		position relative
		padding rem(30 0)
		+responsive('min-width: 768px')
			padding rem(40 0)
		+responsive('min-width: 980px')
			padding rem(55 0 50 0)
			display flex

	&--info

		font-size rem(14)
		text-align center
		//+responsive('min-width: 768px')

		+responsive('min-width: 980px')
			font-size rem(16)

			padding rem(0 20)
			max-width 200px
			flex 0 0 200px
			order -1

		&--userpic
			display block
			overflow hidden
			background $border_color
			margin 0 auto
			width 60px
			height 60px
			border-radius 60px
			line-height 60px
			+responsive('min-width: 768px')
				width 84px
				height 84px
				border-radius 84px
				line-height 84px
			+responsive('min-width: 980px')
				width 110px
				height 110px
				border-radius 110px
				line-height 110px

		&--name
		&--date
			display block
		&--name
			margin 10px 0 0
			+responsive('min-width: 980px')
				margin 20px 0 0

		&--date
			margin 8px 0 0
			+responsive('min-width: 980px')
				margin 14px 0 0

		&--meta
			@extends .blog--article--meta
			float none
			li
				&:before
					color $gray_dark

		&--share
			// margin 18px 0 0
			margin 5px 0 0 !important

			li
				display inline-block
				+responsive('min-width: 980px')
					display block
					margin 5px 1px
					text-align left

				.btn
					width 32px
					height 32px

				.social-likes__button
					width 85px
					text-align left

		&--label
			display block
			margin-top 10px
			font-size 14px
			font-weight 600

	&--text
		font-size rem(14)
		line-height 1.5
		margin rem(0 0 20 0)
		z-index 20
		+responsive('min-width: 768px')
			font-size rem(16)
			margin rem(0 0 30 0)
			min-width 150px
		+responsive('min-width: 980px')
			flex 1
			font-size rem(18)
			margin 0
			margin-right 60px
		&
			h1
				line-height 1.2
				font-size rem(28)
				margin rem(0 0 22)
				text-align left
				+responsive('min-width: 480px')
					padding 0 55px
				+responsive('min-width: 768px')
					font-size rem(36)
					margin rem(0 0 32)
				+responsive('min-width: 980px')
					font-size rem(40)
					padding 0
					margin rem(0 0 44)
			h2
				font-size rem(22)
				margin rem(16 0)
				+responsive('min-width: 768px')
					font-size rem(24)
					margin rem(20 0)
				+responsive('min-width: 980px')
					font-size rem(26)
					margin rem(30 0)
			h3
				font-size rem(16)
				font-weight 600
				color $blue
				margin rem(16 0)
				+responsive('min-width: 768px')
					font-size rem(18)
					margin rem(20 0)
				+responsive('min-width: 980px')
					font-size rem(20)
					margin rem(30 0)

			h3
				& + ul
				& + ol
				& + p
					margin-top -10px


			p
			.medium-editor-insert-plugin p
				&
					margin rem(26px 0 0)

				&:first-child
					margin 0

			ul
				margin rem(30px 0 30px)
				li
					position relative
					padding 0 0 0 28px

					&:before
						position absolute
						top 0
						left 0
						icon($i-arrow-right)
						color #c4c4c4
						font-size 14px

			ol
				margin rem(30px 0 30px)
				counter-reset counter

				li
					padding 0 0 0 28px
					position relative
					&:before
						position absolute
						top 0
						left 0
						content counter(counter, decimal) '. '
						counter-increment: counter
						color #c4c4c4
						font-weight 600

			.medium-insert-images
				margin rem(26px 0 0)

			.medium-insert-cta
				margin 26px 0
				img
					display block
					margin 0 auto

			blockquote
				display block
				border-left 4px solid $blue
				font-style italic
				color #848789
				width 600px
				padding 0 0 0 18px
				margin 58px 0 0
				cf()
				font-size rem(16px)
				line-height rem(28px)

				p
					margin 0 110px 0 0

			a
				&
					color $blue

				&:hover
					text-decoration underline

			.medium-insert-images
				text-align center
				img
					max-width 100%

				figcaption
					color #4e4e4e
					line-height rem(28px)

					p
						margin 0

			.medium-insert-images-grid
				figure
					padding .5em
					flex 0 0 33%
					display flex
					flex-direction column
					img
						margin 0 !important
						max-width 100%

					figcaption
						display flex
						line-height 1rem !important
						min-height 75px
						flex 0 0 75px
						border-left 1px solid $border_color
						border-right 1px solid $border_color
						border-bottom 2px solid #9bcbd3
						padding 10px 20px
						word-wrap break-word
						margin 0
						align-items center
						justify-content center
						border-radius 0 0 3px 3px

			.medium-insert-buttons
				&
					z-index 1
				&-show
					background #fff

			.medium-insert-caption-placeholder
				// display inline
				// position static
				// display flex
				white-space nowrap
				// align-items center
				// justify-content center
				height 100%
				top 10px
				left 0

			.medium-insert-embeds-overlay
				display none


			.hs-cta-wrapper
				display block
				text-align center


	&--footer
		border-top 2px solid $border_color
		cf()
		padding 50px 0

	&--nav
		a
			&
				color $gray
				text-transform uppercase
				font-weight 600
				position relative

				&:before
					icon($i-long-arrow-right)
					position absolute
					top 50%

			&:hover
				text-decoration underline

		.m-prev
			float left
			padding 0 0 0 23px
			&:before
				left 0
				transform translate(0, -50%) rotate(180deg)

		.m-next
			float right
			padding 0 23px 0 0
			&:before
				transform translate(0, -50%)
				right 0

	&--errors
		font-size rem(18px)
		line-height rem(24px)
		padding 50px 200px 30px
		dt
			font-weight 600
			margin 0 0 10px

		dd
			background rgba($red, .2)
			border 1px solid rgba($red, .4)
			padding 10px 20px

			li
				padding 5px 0

	&--author
		margin 20px 0 20px 0
		z-index 20
		border 1px solid $border_color
		background white
		border-radius 3px
		padding rem(20)
		box-shadow 0 0 15px rgba(#000, .15)
		text-align center
		transition transform .3s
		+responsive('max-width: 1340px')
			border-radius 3px 0 0 3px
			border-right none
		+responsive('max-width: 1120px')
			box-shadow none
			&.m-opened
				transform translateX(0)
				box-shadow 0 0 15px rgba(#000, .15)
		+responsive('max-width: 480px')
			&.m-opened
				.article--author--opener
					opacity 1

		&--opener
			position absolute
			border-radius 3px 0 0 3px
			background $green
			padding rem(8px 5px)
			line-height 1.1
			color white
			width 75px
			right 100%
			top 20px
			font-weight 600
			font-size 13px
			text-align center
			display none
			transition opacity .2s
			+responsive('max-width: 1120px')
				display block
			+responsive('max-width: 480px')
				opacity 0
				&.m-show
					opacity 1

		&--info
			padding-top 5px
			color $gray
			margin-bottom 20px

		&--name
			font-weight 600
			font-size rem(20)
			margin-bottom 8px

		&--userpic
			margin-bottom 10px

		&--services
			text-transform uppercase
			font-size rem(12)
			line-height 1.3

			li
				margin-bottom 3px
				display inline

				&:after
					content ','

				&:last-child
					&:after
						content none

		&--btn
			white-space normal
			display block
			clear both
			margin 0 1px
			font-size 18px
			line-height 1.1

			b
				display block
				font-size rem(18)

.article.m-editable
	.medium-insert-embeds-overlay
		display block !important

.article-columns
	display flex
	justify-content center
	+responsive('max-width: 768px')
		flex-direction column

