<div class="professional_clients_import--content m-download_template">
	<p>Download the HealthPRO importer template and add your existing clients accordingly. This is to make your process easier. If you already have a CSV for upload, click Continue button.</p>
	<!--<p>For more information visit <a href="/help/professional/" target="_blank"><strong>FAQ page</strong></a>.</p>-->
</div>

<div class="professional_clients_import--csv_preview"></div>

<div class="professional_clients_import--actions">
	<button class="btn m-large m-blue" data-download>Download Template</button>
	<button class="btn m-large m-white" data-next-step>Continue</button>
</div>
