<div class="professional_clients_import--content m-notify_clients">
	<h3>HealthPRO will be sending the following email to your clients, letting them know you that are now using HealthPRO.</h3>
	<p>If you would like to Edit the message before we send it, select Edit below. Otherwise, click Continue.</p>
</div>

<div class="professional_clients_import--msg" data-msg>
	{{{emailBody}}}
</div>

<div class="professional_clients_import--notify_note">
	<p>
		<strong>Note:</strong><br>
		<!-- &lt;client&gt; will be replaced with the real client name from the CSV.<br> -->
		&lt;client&gt; will be replaced with the real client name.<br>
		&lt;confirm_link&gt; will be replaced with the invitation confirmation link (Text: "Click here")<br>
	</p>
</div>

<div class="professional_clients_import--actions m-notify_clients">
	<button class="btn m-large m-white" data-edit-msg>Edit</button>
	<button class="btn m-large m-blue" data-next-step>Continue</button>
</div>
<div class="professional_clients_import--actions m-notify_clients_edit">
	<button class="btn m-large m-white" data-cancel-edit-msg>Cancel</button>
	<button class="btn m-large m-blue" data-save-msg>Save Message</button>
</div>
