<div class="professional_clients_import--content">
	<h2>We want to make it simple for you</h2>
	<p>
		Would you like to upload your clients using an excel sheet (in csv format) or manually enter them into a form?
	</p>
</div>
<div class="professional_clients_import--actions">
	<button class="btn m-large m-blue" data-type-upload>Use a File</button>
	<button class="btn m-large m-green" data-type-fill>Fill in Form</button>
</div>
