<div class="professional_clients_import--content m-csv_upload">
	<h2>Double check if you have the following criteria for your CSV before importing.</h2>
	<p>Make sure the following required columns are filled in:</p>
	<p><strong>Last Name, First Name, Email, Phone</strong></p>
</div>

<div class="professional_clients_import--error m-hide" data-file-upload-error></div>
<div class="professional_clients_import--field">
	<div class="fileupload">
		<input type="file" name="csv">
	</div>
</div>

<div class="professional_clients_import--actions">
	<button class="btn m-large m-white" data-to-upload-type>Back</button>
	<button class="btn m-large m-blue" data-upload>Upload and Send Emails</button>
</div>
