<div class="professional_clients_import--content m-upload_complete">
	<span class="professional_clients_import--icon m-upload_complete"></span>
	<h3>Invitation(s) successfully sent!</h3>
</div>
<div class="professional_clients_import--statistics m-short" data-statistics-short>
	<h3>View Reports</h3>
	<ul class="professional_clients_import--stat_list">
		<li class="professional_clients_import--stat m-success">
			Successfully imported: <strong>{{uploadStatistics.usersAndProfiles.length}}</strong>
		</li>
		<li class="professional_clients_import--stat m-existed">
			Already in the system: <strong>{{uploadStatistics.existedEmails.length}}</strong>
		</li>
		<li class="professional_clients_import--stat m-error">
			Failed to import: <strong>{{uploadStatistics.failedRegistrationEmails.length}}</strong>
		</li>
	</ul>
	<button class="professional_clients_import--stat_cta" data-statistics-cta>View Reports</button>
</div>

<div class="professional_clients_import--statistics m-full m-hide" data-statistics-full>
	<div class="professional_clients_import--statistics_text">
		{{#if uploadStatistics.failedRegistrationEmails.length }}
			<h3>Failed To Import:</h3>
			<ul>
				{{#each uploadStatistics.failedRegistrationEmails}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if uploadStatistics.existedEmails.length }}
			<h3>Already in the system:</h3>
			<ul>
				{{#each uploadStatistics.existedEmails}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if uploadStatistics.usersAndProfiles.length }}
			<h3>Successfully imported:</h3>
			<ul>
				{{#each uploadStatistics.usersAndProfiles}}
				<li>{{this.user.email}}</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>
	<button class="professional_clients_import--stat_cta" data-statistics-cta>back</button>
</div>

<div class="professional_clients_import--actions">
	<button class="btn m-large m-green" data-done>Done</button>
</div>
