.edit_location
	// &--time

	&--time_list
		width 100%

		td.m-day
			width 160px

	&--time_range
		display flex
		align-items center

		> span
			flex 0 0 30px
			text-align center

		.select + .select
			margin-left 10px

	&--time_remove
		position absolute !important
		left 100%
		top 50%
		t-translate(0, -50%)
		margin 0 0 0 6px !important

	&--time_footer
		padding 12px 0 0

	&--zip_error
		&
			display none
			color $red
			font-size 1rem
			font-weight bold
			margin 0 0 15px

		&.m-show
			display block
