.dashboard_welcome
	&--close
		right 15px
		top 15px
		width 22px
		height 22px
		border-color #d2d2d2
		z-index 2
		cursor pointer
		&:before
			font-size 11px
			padding 0 0 1px 1px
			color #d2d2d2

		&:hover
			border-color #b5b5b5

			&:before
				color #b5b5b5

	&--inner
		text-align center
		width 650px
		line-height 1.25
		color $gray_dark
		+mobile()
			max-width 100%
		+responsive('max-width: 767px')
			max-width 600px
			width auto
			margin 0 auto

	&--intro
		padding rem(40)
		+mobile()
			padding rem(30 20)

		&.m-hide
			display none

		&_content
			+mobile()
				@media (max-width: 767px) and (max-height: 440px)
					float left
					width 75%
					padding rem(0 20 0 15)

	&--image
		width 270px
		margin 0 auto rem(10)
		display block
		+mobile()
			margin-bottom rem(20)
			+responsive('max-height: 680px')
				width 240px
			+responsive('max-height: 540px')
				width 200px

			@media (max-width: 767px) and (max-height: 440px)
				float left
				width 25%

		.st0
		.st1
			fill-rule:evenodd
			clip-rule:evenodd
			fill:#dddbda
		.st1
			fill:#9a9a9a
		.st2
			opacity:.5
			fill:#e15c49
		.st3
			fill:#f7df7f
		.st4
			opacity:.5
			fill:#3eb7cc
		.st5
			fill:#f9dc60
		.st6
			fill:#9f9f9f
		.st7
			fill:#fff

	&--title
		font-size rem(28)
		font-weight 600
		margin-bottom rem(20)
		color $blue_light
		+mobile()
			line-height 1.1
			margin-bottom rem(15)

	&--content
		font-size rem(15)
		max-width 510px
		margin 0 auto rem(25)
		p + p
			margin-top rem(10)

		+mobile()
			font-size rem(16)
			line-height 1.4

	&--start_tour
		padding-left 20px
		padding-right 20px
		+responsive('max-width: 767px')
			width 100%

		+mobile()
			font-size 16px
			padding-top 13px
			padding-bottom 13px
