<div class="wizard_booking--block m-pad m-service_select">
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Pick Your Service</h2>
	</header>
	<div data-booking-service class="wizard_booking--service_select"></div>
	<div data-booking-package class="wizard_booking--package_select"></div>
</div>

<div class="wizard_booking--block m-pad m-location_select" data-booking-location-select>
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Pick Your Location</h2>
	</header>
	<div class="wizard_booking--location_select" data-booking-location></div>
</div>

<div class="wizard_booking--block m-pad m-datetime_select" data-booking-datetime-select>
	<div class="wizard_booking--block--cols">
		<div class="wizard_booking--block--col">
			<header class="wizard_booking--block--header">
				<h2 class="wizard_booking--block--header--title">Pick Your Date</h2>
			</header>
			<div class="wizard_booking--date_select booking_time m-pick_date" data-booking-date></div>
		</div>
		<div class="wizard_booking--block--col">
			<header class="wizard_booking--block--header">
				<h2 class="wizard_booking--block--header--title">Pick Your Time</h2>
			</header>
			<div class="wizard_booking--time_select" data-booking-time></div>
			<span class="wizard_booking--timezone_note timezone_note">Times shown in <b data-wizard-timezone></b></span>
		</div>
	</div>
</div>

<!--<div class="booking_widget&#45;&#45;loading book_appointment&#45;&#45;loading loading_overlay m-light"><span class="spin m-logo"></span></div>-->
