{{#if inline}}
	<div class="booking_time--datepicker m-inline" data-booking-time-datepicker>
		<div class="booking_time--datepicker_inline" data-booking-time-datepicker-inline></div>
		<input type="text" class="booking_time--datepicker--input" data-booking-time-datepicker-input>
	</div>
{{else}}
	<div class="booking_time--datepicker m-open" data-booking-time-datepicker>
		<label class="booking_time--datepicker--opener" data-booking-time-datepicker-opener>
			<input type="text" class="booking_time--datepicker--input" data-booking-time-datepicker-input>
			<span data-booking-time-datepicker-opener-text></span>
		</label>
		<nav class="booking_time--datepicker--nav skim_nav">
			<button class="booking_time--datepicker--prev skim_btn m-prev" data-booking-time-datepicker-prev>Previous Day</button>
			<button class="booking_time--datepicker--next skim_btn m-next" data-booking-time-datepicker-next>Next Day</button>
		</nav>
	</div>
{{/if}}

