<li class='wizard_booking--location_select--list--item' data-location-id='{{location_id}}'>
	<strong>{{location_name}}</strong>
	{{#if location_address}}<span>{{location_address}}</span>{{/if}}
	<span class='wizard_booking--location_select--list--item--icon m-{{location_type}}'>{{{location_icon}}}</span>
</li>
