<div class="wizard_booking--package_select--row">
	<dl class="form--group wizard_booking--package_select--packages">
		<dt>Packages Available <i data-tooltip></i></dt>
		<dd>
			<div class="checkbox_group field m-wide">
				{{#each packages }}
					<label class="checkbox">
						<input type="checkbox" name="package_id" value="{{package_id}}">
						<span class="checkbox--i"></span>
						<span class="checkbox--label">{{number_of_visits}} sessions x {{formatted_duration}} for <strong>{{formatted_price}}</strong> <small>Save {{discount}}</small></span>
					</label>
				{{/each}}
			</div>
		</dd>
	</dl>
</div>
