<div class="wizard_booking--time_select--inner">

	<ul class="wizard_booking--time_select--list" data-times-list></ul>

	<div class="wizard_booking--time_select--list_no_availability m-hide" data-times-no-availability>
		<p>To book this service please contact your professional</p>
		<footer>
			<a href="{{conversations_link}}" data-send-message class="btn m-blue m-small wizard_booking--time_select--list_empty--btn m-msg">Send a Message</a>
		</footer>
	</div>

	<div class="wizard_booking--time_select--list_empty m-hide" data-times-list-empty>
		<p>The next available appointment is on</p>
		<p><span data-times-next-appointment-date></span></p>
		<footer>
			<button class="btn m-blue m-small wizard_booking--time_select--list_empty--btn m-next" data-display-available-date>Show me</button>
		</footer>
	</div>

	<div class="wizard_booking--time_select--loading loading_overlay m-light"><span class="spin m-logo"></span></div>
</div>
