<div class="wizard_booking--service_select--row" data-service-session-row>
	<dl class="form--group wizard_booking--service_select--service">
		<dt>Service</dt>
		<dd>
			<div class="select">
				<select data-select name="service" data-selector="current_service_id"></select>
			</div>
		</dd>
	</dl>
	<dl class="form--group wizard_booking--service_select--session">
		<dt>Duration</dt>
		<dd>
			<div class="select">
				<select data-select name="session" data-selector="current_session_id">
					<option disabled selected>Select</option>
				</select>
			</div>
		</dd>
	</dl>
</div>
