.edit_media
	&
		margin -20px 0 0

		&--list
			margin 0 0 0 -6px

		&--item
			&
				display inline-block
				vertical-align top
				position relative
				width 170px
				margin 20px 0 0 6px
				min-height 150px

			&.js-edit_video
				min-height 202px

			&.m-edit &
				&_container
					width 190px
					padding 10px 10px 8px
					left -10px
					top -10px
					box-shadow 0 5px 25px rgba(#000, .2)
					border-radius 3px
					z-index 1

		&--item_uploader
			// prevent bug with height on closed container
			min-height 185px

		&--item_container
			background #fff
			position absolute
			width 100%
			top 0
			left 0

		&--item_wrapper
			border 1px solid $border_color
			padding rem(4px)
			border-radius 2px

		&--item_text
			&
				color $gray
				line-height 1rem
				padding rem(6px 0 0 4px)

				display -webkit-box
				max-width 400px
				-webkit-line-clamp 2
				-webkit-box-orient vertical
				overflow hidden
				text-overflow ellipsis

			&:empty
				display none !important

		&--item_preview
			&
				img
					display block

			&.m-video
				position relative
				width 160px
				height 120px
				background $gray
				img
					width 160px
				a
					&
						&:before
							display none
							position absolute
							top 0
							left 0
							width 100%
							height 100%
							background rgba(#000, .4)
							// content ''

						&:after
							display block
							color #fff
							icon($i-youtube-play)
							font-size 46px
							position absolute
							top 50%
							left 50%
							t-translate(-50%, -50%)
							opacity .9

					&:hover
						&:after
							opacity 1



		&--item_preview_inner
			&
				position relative
				display block
				width 160px
				height 106px
				overflow hidden

				&:before
					display none
					width 100%
					background #fff
					opacity .8
					content ''
					position absolute
					z-index 1
					top 0
					bottom 0
					left 0

				&:after
					display none
					icon($i-search-plus)
					color #a1a1a1
					position absolute
					z-index 2
					top 50%
					left 50%
					t-translate(-50%, -50%)
					font-size rem(22px)

				img
					center()

			&:hover

				&:before
				&:after
					display block

		&--item_buttons
			height 30px
			position relative

			&.m-hidden_buttons
				display none

		&--image_edit
			width rem(20px)
			height rem(30px)
			text-indent -9999px
			position absolute
			top 3px
			right 22px
			color $gray

			&:before
				icon($i-edit_image)
				display block
				font-size rem(16px)
				width 20px
				text-indent 0

			&:hover
				color $blue

		&--item_remove
			&
				width rem(25px)
				height rem(30px)
				text-indent -9999px
				position absolute
				right -5px
				top 2px

				&:before
					display block
					icon($i-trash)
					color $red
					font-size rem(18px)
					width 25px
					text-indent 0

			&:hover
				&:before
					color darken($red, 20%)

		&--item_edit
			color $gray
			font-size 14px
			font-weight 600
			padding-left rem(22px)
			position absolute
			left 0
			top 9px

			&:before
				position absolute
				left 0
				top 2px
				icon($i-pencil)
				color $gray
				font-size rem(13px)
				width rem(24px)
				height rem(24px)

			&:hover
				color $blue

				&:before
					color $blue

		&--item_save
			display none
			color $gray
			font-size 14px
			font-weight 600
			padding-left rem(20px)
			position absolute
			right 0
			left auto
			top 9px

			&:before
				position absolute
				left -3px
				top -1px
				icon($i-check)
				color $gray
				font-size rem(17px)
				width rem(24px)
				height rem(24px)

			&:hover
				color $blue

				&:before
					color $blue

		&--item_cancel
			display none
			color $red
			font-size 14px
			font-weight 600
			padding-left rem(20px)
			position absolute
			left 0
			top 9px

			&:before
				position absolute
				left -3px
				top -1px
				icon($i-times)
				color $red
				font-size rem(17px)
				width rem(24px)
				height rem(24px)

			&:hover
				color $red_light

				&:before
					color $red_light

		&--item_length
			color gray
			font-weight 600
			position absolute
			left 4px
			top 11px

		&--add_photo
			&
				display block
				width 100%
				height 106px
				position relative
				text-indent -9999px
				background #f7f7f7
				margin-top rem(5px)
				overflow hidden

				&:before
					text-indent 0
					icon($i-cloud-upload)
					font-size 50px
					position absolute
					top 50%
					left 50%
					t-translate(-50%, -50%)
					color #e4e4e4

				input
					display block
					position absolute
					top 0
					right 0
					margin 0
					opacity 0
					font-size 200px
					direction ltr
					cursor pointer
					height 200px

			&:hover
				&:before
					color darken(#e4e4e4, 20%)

		&--add_video
			max-width 660px
			margin 36px 0 0 0

			h2
				font-size rem(18px)
				color $blue
				font-weight 600
				line-height rem(22px)
				margin 0 0 8px

			fieldset
				display none

		&--item_text_field
			display none
			margin 5px 0 0

		&--item_text_input
			height 64px
			padding 2px 4px 10px !important

	// profile
	&.m-profile
		margin -25px 0 0
	// &.m-profile &
