<div class="wizard_booking--block m-pad m-introductory_session">
	<header class="wizard_booking--block--header">
		<h2 class="wizard_booking--block--header--title">Introductory session</h2>
	</header>
	<div class="wizard_booking--introductory_session">
		<div class="wizard_booking--introductory_session--notice">
			<p>This professional requires an <strong>introductory session</strong> for all first-time visitors</p>
		</div>
		<footer class="wizard_booking--introductory_session--send_message">
			<p><strong>Not your first time with the professional?</strong></p>
			<p><button data-send-message class="wizard_booking--introductory_session--send_message--btn btn m-blue m-small"><i></i>Send a Message</button></p>
		</footer>
	</div>
</div>
