.booking_summary
	border 1px solid $border_color
	border-radius 5px
	overflow hidden

	&--item
		&
			border-top 1px solid $border_color
			position relative
			min-height 54px
			line-height 18px
			padding 8px 15px 8px 70px
			display flex
			align-items center
			word-break break-word

		&:first-child
			border 0

		&.m-time
			strong
				flex 1

			> a
				&
					color $blue
					text-decoration none
					font-weight 600

				&:hover
					text-decoration underline

		&.m-location
		&.m-recurring
			p
				strong
					display block

		&.m-recurring
			padding-top rem(15)
			padding-bottom rem(15)

		.m-small
			font-size rem(13)
			line-height 1.1

		&.m-hide
			display none

		&.m-gift_certificate
			font-weight 600

	&--item_icon
		&
			width 52px
			height 100%
			position absolute
			top 0
			left 0
			border-right 1px solid $border_color

			&:before
				position absolute
				top 50%
				left 50%
				color #e0e0e0
				center()

		&.m-date
			&:before
				icon($i-today)
				font-size 24px

		&.m-place
			&:before
				icon($i-map-marker)
				font-size 28px

		&.m-time
			&:before
				icon($i-watch)
				font-size 24px

		&.m-price
			&:before
				icon($i-dollar)
				font-size 24px

		&.m-recurring
			&:before
				icon($i-calendar_grid)
				font-size 24px

		&.m-gift_certificate
			&:before
				color lighten($red_light, 15)
				icon($i-gift-alt)
				font-size 24px


	&--item_time + &--item_time
		margin-top rem(15)
