.newest_pros
	text-align center
	color white
	padding-top 50px
	position relative
	z-index 2

	&--title
		font-size rem(46)
		font-weight 600
		color $blue
		margin-bottom 15px
		padding 0 20px
		aliasing()
		+responsive('max-width: 460px')
			font-size rem(33)

	&--description
		font-size rem(30)
		color $black_gray
		text-align center
		margin-bottom 25px

		+responsive('max-width: 460px')
			font-size rem(22)

		b
			font-weight 600

	&--list
		padding-top 30px
		margin-bottom 20px
		text-align center
		margin-left -10px
		margin-right -10px
		cf()

	&--item
		vertical-align top
		display inline-block
		width 15%
		min-height 215px
		position relative
		margin 0 0.65% 20px
		text-align center
		border-radius 6px
		background-color white
		box-shadow 0 1px 2px rgba(0,0,0,.16)
		+responsive('max-width: 1100px')
			width 18%

			&:last-child
				display none

		+responsive('max-width: 980px')
			width 20%
			min-width 175px
			margin-bottom 10px

			&:last-child
				display inline-block

		+responsive('max-width: 460px')
			width 48%
			max-width 175px
			min-width 0

		&_photo
			display block
			overflow hidden
			width 106px
			height 106px
			border-radius 50%
			border 3px solid white
			box-shadow 0 0 0 1px $border_color
			background white
			margin 0 auto 15px
			background $border_color

			img
				max-width 100%
				border-radius 50%

			&:empty
				&:before
					icon($i-user)
					font-size 52px
					line-height 100px
					color $gray_light

		&_link
			color $gray
			display block
			min-height 215px
			padding 8px

		&_name
			display block
			margin-bottom 10px
			font-size 17px
			font-weight 600

		&_service
			font-size 14px
			text-transform uppercase
			line-height 1.2
			max-height 33px
			overflow hidden
			display block

	&--item
		&_cta
			position relative

			&_text
				display block
				margin -40px auto 5px
				width 114px
				height 76px
				position relative
				left -7px
				overflow hidden
				text-indent -9999em
				font-size 0
				background url(../images/design/home/clients/profile_cta.png)

				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					background url(../images/design/home/clients/profile_cta@2x.png)
					background-size 114px 76px

			&_btn
				text-transform uppercase
				min-width 100px
				font-size 12px
				height 32px
				line-height 17px
				font-weight bold
