.promo_coming_soon
	padding rem(0 10)
	width 100%
	flex 0 0 100%
	&--title
		text-align center
		font-size rem(32)
		color #fff
		font-weight 300
		margin-bottom 1em
		+responsive('min-width: 980px')
			font-size rem(36)
		+responsive('min-width: 1200px')
			font-size rem(40)
		strong
			white-space nowrap
			font-weight 600

	&--cols
		+responsive('min-width: 980px')
			display flex

	&--col
		flex 1
		border-radius 3px
		background #fff
		padding rem(30)
		position relative
		margin-bottom rem(30)
		+responsive('min-width: 640px')
			padding rem(30 40)
		+responsive('min-width: 980px')
			flex 1
			margin-bottom 0
			padding rem(40 60)
			&:first-child
				margin-right rem(40)
		&:before
		&:after
			border-top-left-radius 3px
			border-top-right-radius 3px
			content ''
			position absolute
			bottom 100%
			background rgba(255,255,255, .3)
			display block
		&:before
			height 4px
			z-index 20
			left 4px
			right 4px
		&:after
			height 8px
			z-index 10
			left 8px
			right 8px



	&--col_title
		font-size rem(22)
		line-height 1.25
		margin-bottom 1em
		+responsive('min-width: 980px')
			font-size rem(24)

	ul
		font-size rem(16)
		+responsive('min-width: 980px')
			font-size rem(18)
		li
			position relative
			line-height 1.5
			margin-bottom .5em
			padding-left 30px
			&:last-child
				margin-bottom 0
			&:after
				width 18px
				height 18px
				border 2px solid $blue_light
				background #fff
				border-radius 20px
				content ''
				position absolute
				z-index 10
				left 0
				top 3px
				display block
				+responsive('min-width: 980px')
					top 5px
			&:before
				display block
				width 4px
				height 4px
				border-radius 3px
				content ''
				position absolute
				z-index 20
				left 7px
				top 10px
				background $blue_light
				+responsive('min-width: 980px')
					top 12px
