.promo_form
	flex 0 0 100%
	width 100%
	.hs-form
		position relative
		.field
			width 100%
			display block
			margin-bottom rem(10)
			label
				display none
			input,
			textarea
				padding rem(20 30)
				font-size rem(14)
				+responsive('min-width: 980px')
					font-size rem(16)
			textarea
				height 200px
				padding-bottom 80px

		.actions
			text-align right
		.btn
			background #fff
			cursor pointer
			border 2px solid $blue_light
			color $blue_light
			font-size rem(14)
			+responsive('min-width: 980px')
				font-size rem(16)
			&:hover
				color $blue
				border-color $blue
			&:active
				box-shadow none
			&.m-top
				position absolute
				z-index 20
				bottom 20px
				right 20px
