.promo_section
	background #f9fafc
	position relative
	&.m-dark
		background-color #ebebeb
	&.m-light
		background #fff
	&.m-blue
		background $blue_light

	&.m-low &
		&--wrap
			padding 40px 0

	&--wrap
		padding rem(40 0)
		max-width 1200px
		margin rem(0 20)
		+responsive('min-width: 768px')
			display flex
			align-items center
			flex-wrap wrap
			flex-direction row
		+responsive('min-width: 980px')
			padding rem(65 0)
		+responsive('min-width: 1200px')
			padding rem(80 0)
			margin 0 auto


	&--content
	&--screen
	&--form
		position relative
		z-index 20
		+responsive('min-width: 768px')
			flex 0 0 50%
			width 50%

	&--content
		+responsive('max-width: 767px')
			margin 0 auto 2em
		+responsive('min-width: 768px')
			order 10
			padding rem(0 10)

		&--btn
			margin-top rem(25px)
			+responsive('max-width: 767px')
				text-align center

			.cta_btn
				padding rem(0 20px)
				min-width 0

	&--form
	&--screen
		display flex
		min-height 100px

		+responsive('max-width: 767px')
			margin 0 auto
			width 100%
			max-width 480px
		+responsive('min-width: 768px')
			order 20
			margin-left auto
		&.m-payments
			max-width 260px
			+responsive('min-width: 1200px')
				max-width none
		&.m-billing
			max-width 360px
			+responsive('min-width: 980px')
				max-width 400px
			+responsive('min-width: 1200px')
				max-width none
				margin-right 0
		&.m-client-benefit
			max-width 360px
			+responsive('min-width: 980px')
				max-width none

		&.m-form
			max-width 500px

	&--cta
		text-align center
		+responsive('min-width: 768px')
			flex 0 0 100%
			width 100%

	&.m-alt &
		+responsive('min-width: 768px')
			&--screen
			&--form
				order 10
			&--content
				order 20

	&.m-center &
		&--screen
		&--form
		&--content
			margin-left auto
			margin-right auto
			flex 0 0 100%
			width 100%
		&--form
		&--screen
			+responsive('max-width: 1199px')
				max-width 480px
			+responsive('max-width: 767px')
				max-width 420px
	&.m-trainer
		+responsive('min-width: 768px')
			&:after
				position absolute
				left 0
				top 0
				bottom 0
				width 55%
				content ''
				z-index 10
				background-image url(../images/design/promo/trainer@2x.jpg)
				background-position 100% 50%
				background-repeat no-repeat
				background-size cover
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					background-image url(../images/design/promo/trainer@2x.jpg)
				+responsive('min-width: 980px')
					width 55%
				+responsive('min-width: 1200px')
					width 60%
				+responsive('min-width: 1300px')
					width 55%



	&.m-onthego
		+responsive('max-width: 767px')
			background #f9fafc
		+responsive('min-width: 768px')

			margin-bottom 40px
			background-position 50% 100%
			background-repeat no-repeat
			background-image url(../images/design/promo/surfer.jpg)
			background-size cover
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url(../images/design/promo/surfer@2x.jpg)

			&:after
				position absolute
				left 0
				top 0
				right 0
				height 70%
				content ''
				z-index 10
				background #fff
				background linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)

	&.m-onthego &
		&--wrap
			padding-bottom 0

	&.m-client-benefit &
		&--screen
			flex 1
		&--content
			flex 2

	&.m-get_started.m-blue
		color white

		.promo_heading
			&--title
				text-transform uppercase
				color white
				font-weight bold
				+responsive('min-width: 640px')
					font-size rem(36)
				+responsive('min-width: 980px')
					font-size rem(40)
				+responsive('min-width: 1200px')
					font-size rem(44)

			&--description
				em
					&
						background-color white
						color $gray_dark

						&:after
							border-right-color white
							+responsive('max-width: 767px')
								border-bottom-color white
								border-right-color transparent

		.cta_btn
			box-shadow 0 0 30px rgba(black, .2)

	&.m-get_started.m-idea
		.promo_heading
			&.m-has_tooltips
				.promo_heading--description
					+responsive('max-width: 1070px')
						margin-bottom 60px

			&--description
				&--line
					+responsive('max-width: 1070px')
						position static

				em
					padding 13px 10px 12px 60px
					text-align left
					font-size 14px
					width 240px
					min-height 56px
					letter-spacing 0.05em

					&:before
						position absolute
						top 11px
						left 10px
						content ''
						display block
						width 41px
						height 33px
						background-repeat no-repeat
						background-size contain
						background-image url(../images/content/logos/idea-small.png)
						@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
							background-image url(../images/content/logos/idea-small@2x.png)

					+responsive('max-width: 1070px')
						top 100%
						left 50%
						margin-left -120px
						transform none
						margin-top 15px
						&:after
							top auto
							left 50%
							bottom 100%
							border-color transparent
							border-bottom-color white
							margin-left -5px
