.promo_get_paid
	flex 0 0 100%
	width 100%
	&--stripe
		text-align center
		margin-bottom rem(40)
		a
			display inline-block
			text-decoration none
			color $gray
			text-transform uppercase
			font-size rem(14)
			letter-spacing 1px
			font-weight 600
			height 20px
			line-height 20px
			&:hover
				color $gray
		span
			display inline-block
			width 50px
			height 20px
			text-indent -9999px
			background url(../images/design/promo/pricing/stripe.png) 50% 50% no-repeat
			background-size 100% auto
			position relative
			top -1px

	&--list_wrap
		position relative
		width 100%
		max-width 1080px
		margin 0 auto

	&--list
		counter-reset promo_get_paid_counter
		width 100%
		display flex
		align-items center
		flex-direction column
		+responsive('min-width: 768px')
			flex-wrap nowrap
			align-items stretch
			flex-direction row
			justify-content space-between

	&--list_item
		width 280px
		text-align center
		margin rem(0 0 30 0)
		position relative
		&:last-child
			margin 0
		+responsive('min-width: 768px')
			margin 0
			flex 0 0 220px
			width 220px
		+responsive('min-width: 980px')
			flex 0 0 280px
			width 280px

	&--list_item_image
		display block
		margin rem(0 0 20)
		border 1px solid $border_color
		border-radius 3px
		position relative
		height 0
		padding-top 98%
		background-color  #fff
		background-position 50% 50%
		background-repeat no-repeat
		background-size 100% auto
		&.m-booking
			background-image url(../images/design/promo/pricing/booking.png)
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url(../images/design/promo/pricing/booking@2x.png)
		&.m-calendar
			background-image url(../images/design/promo/pricing/calendar.png)
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url(../images/design/promo/pricing/calendar@2x.png)
		&.m-payment
			background-image url(../images/design/promo/pricing/payment.png)
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url(../images/design/promo/pricing/payment@2x.png)


		&:before
		&:after
			position absolute
			content ''
			border-radius 100px
			display block
		&:before
			z-index 20
			width 30px
			height 30px
			background $red
			color #fff
			left -15px
			top -15px
			content counter(promo_get_paid_counter)
			counter-increment promo_get_paid_counter
			line-height 30px
			font-size rem(16)
			font-weight 600
		&:after
			z-index 10
			background $background_color
			left -20px
			top -20px
			width 40px
			height 40px


	&--list_item_title
		font-weight 600
		font-size rem(16)
		line-height 1.5
		+responsive('min-width: 980px')
			font-size rem(18)

	&--list_lock
		+responsive('min-width: 800px')
			position absolute
			display block
			top 0
			left 220px
			height 218px
			width calc((100% - 660px) / 2)
			&.m-last
				right 220px
				left auto
			&:after
				content ''
				position absolute
				top 50%
				left 10px
				right 10px
				transform translateY(-50%)
				height 28px
				background url(../images/design/promo/svg/pricing/lock-lines.svg) 50% 50% no-repeat
				background-size 97px 28px


		+responsive('min-width: 1000px')
			left 280px
			height 276px
			width calc((100% - 840px) / 2)
			&.m-last
				right 280px
				left auto

	&--popup
		+responsive('min-width:768px')
			.popup--container
				width 480px

		.popup--header
			span
				display inline-block
				width 50px
				height 28px
				text-indent -9999px
				background url(../images/design/promo/pricing/stripe.png) 50% 50% no-repeat
				background-size 100% auto

		.popup--content
			padding rem(40)
			line-height 1.5
			font-size rem(16)
			p
				margin-bottom 1em
				&:last-child
					margin 0

			a
				color $blue
				&:hover
					color $blue_light
