.promo_simplifies
	&--footer
		background white
		border-bottom 1px solid $border_color
		height 155px

		&_text
			text-align center
			font-size 38px
			color $blue_light
			max-width 900px
			margin 0 auto
			padding 35px 20px 40px
			min-height 155px
			display flex
			justify-content center
			align-items center

			a
				color $blue_light
