.promo_heading
	text-align center
	margin-bottom 2em
	position relative
	z-index 30
	+responsive('min-width: 768px')
		flex 0 0 100%
		width 100%
	+responsive('min-width: 980px')
		margin-bottom 3em
	+responsive('min-width: 1200px')
		margin-bottom 4em
	&.m-distance_medium
		margin-bottom 2em
		+responsive('min-width: 980px')
			margin-bottom 2.5em
		+responsive('min-width: 1200px')
			margin-bottom 3em
	&.m-distance_small
		margin-bottom 1.5em
		+responsive('min-width: 980px')
			margin-bottom 1.75em
		+responsive('min-width: 1200px')
			margin-bottom 2em
	&--title
		font-size rem(30)
		color $gray_dark
		margin-bottom .3em
		+responsive('min-width: 980px')
			font-size rem(32)
		+responsive('min-width: 1200px')
			font-size rem(36)
		&.m-blue
			color $blue_light

	&--description
		font-size rem(18)
		position relative
		display inline-block
		padding rem(0 20)
		line-height 1.5
		+responsive('min-width: 980px')
			font-size rem(20)
		+responsive('min-width: 1200px')
			font-size rem(22)
		strong
			font-weight 600
		&--line
			position relative
		em
			font-style normal
			background $red
			color #fff
			display inline-block
			padding 5px 10px
			line-height 1.2
			font-size rem(11)
			letter-spacing 1px
			text-transform uppercase
			font-weight 600
			border-radius 2px
			// white-space nowrap
			min-width 165px
			margin-top rem(15)

			&:after
				border solid transparent
				content " "
				height 0
				width 0
				position absolute
				pointer-events none
				border-width 5px

			+responsive('max-width: 767px')
				position relative
				&:after
					left: 50%;
					bottom: 100%;
					border-bottom-color $red
					margin-left -5px

			+responsive('min-width: 768px')
				margin 0
				display block
				position absolute
				left 100%
				margin-left 20px
				top 50%
				transform translateY(-50%)
				&:after
					right 100%
					top 50%
					border-right-color $red
					margin-top -5px

	&.m-narrow &
		&--description
			max-width 650px
			margin-left auto
			margin-right auto

	&.m-about
		margin-bottom 20px

	&.m-about &
		&--description
			max-width 550px
			margin-left auto
			margin-right auto
			font-size 20px

	&.m-has_tooltips &
		&--description
			+responsive('max-width: 767px')
				margin-bottom 50px

			&--line
				+responsive('max-width: 767px')
					position static

			em
				+responsive('max-width: 767px')
					position absolute
					top 100%
					left 50%
					width 165px
					margin-left -83px
