.promo_payout
	max-width 630px
	margin 0 auto
	width 100%
	flex 0 0 100%
	table
		width 100%
		background #fff
		margin-bottom rem(80)
		+responsive('min-width: 768px')
			margin-bottom rem(50)
		+responsive('max-width: 440px')
			width auto
			margin-left rem(-20)
			margin-right rem(-20)

		td
		th
			text-align center
			padding rem(16)
			+responsive('min-width: 768px')
				padding rem(20)
				&:first-child
					padding-left rem(40)
				&:last-child
					padding-right rem(40)
		th
			font-weight 600
		thead
			th
				color $gray
				font-size rem(14)
				+responsive('min-width: 768px')
					font-size rem(16)

		tbody
			th
			td
				color $gray_dark
				font-size rem(16)
				+responsive('min-width: 768px')
					font-size rem(18)
			tr:nth-child(odd)
				th
				td
					background $background_color

	span
		&.m-max
			position relative
			&:after
				position absolute
				content ''
				background-repeat no-repeat
				background-position 0 0
				background-image url(../images/design/promo/pricing/highlight-max-150-mobile.png)
				left -45px
				top -15px
				width 124px
				height 95px
				+responsive('min-width: 768px')
					background-image url(../images/design/promo/pricing/highlight-max-150.png)
					left -10px
					top -15px
					width 190px
					height 90px

	&--powered
		text-align center
		i
			display inline-block
			margin rem(0 5)
			background-repeat no-repeat
			background-position 0 0
			vertical-align top
			+responsive('max-width: 400px')
				display block
				background-position 50% 50%
				margin 0 auto
				&:first-child
					margin-bottom 1em


			&:first-child
				width 168px
				height 56px
				background-size 168px 56px
				background-image url(../images/design/promo/pricing/cc-icons.png)
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					background-image url(../images/design/promo/pricing/cc-icons@2x.png)
			&:last-child
				width 140px
				height 56px
				background-position 0 6px
				background-size 140px 50px
				background-image url(../images/design/promo/pricing/pci.png)
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					background-image url(../images/design/promo/pricing/pci@2x.png)
