+responsive('max-width: 980px')
	.promo_features
		&--tabs
			&_item
				margin-left 5px
				margin-right 5px

				&_title
					br
						display none

+responsive('max-width: 750px')
	.promo_features
		padding-bottom rem(40)
		&--tabs
			&_list
				flex-wrap wrap
				justify-content center
				max-width 400px
				margin 0 auto 10px

			&_item
				padding 15px 10px 10px
				flex-basis 120px
				min-height 120px
				margin-bottom 10px

				&:before
				&:after
					display none

				&_icon
					height 42px

					&:before
						font-size 40px

+responsive('max-width: 640px')
	.promo_features
		padding-bottom rem(20)

		&--tabs
			&_list
				display none

			&_item
				border none
				min-height 0
				flex-basis 100%
				margin -20px
				padding 15px 20px
				border-radius 4px 4px 0 0

				&_icon
					margin-bottom 0
					margin-right 20px

				&_title
					font-size 14px
					text-align left

		&--panel
			display block
			margin-bottom 20px
			padding 20px
			box-shadow 0 0 10px rgba(black ,.15)

			&_header
				display flex
				align-items center

			&_content
				display none
				padding-top 20px

			&.m-active &
				&_header
					margin-bottom 0

				&_content
					display block

			ul
				columns 1 auto

+responsive('max-width: 480px')
	.promo_features
		&--panel
			ul
				li
					padding-left 30px
					font-size 14px
