@keyframes fadeInUp
	from
		opacity 0
		transform translateY(40px)
	to
		opacity 1
		transform translateY(0)

@keyframes fadeIn
	from
		opacity 0
	to
		opacity 1

.promo_leader
	background-repeat no-repeat
	background-position bottom center
	background-color #b9b281
	background-size cover
	text-align center
	color white
	padding 50px
	display flex
	flex-direction column
	justify-content center
	position relative

	&--inner
		max-width 860px

	&.m-simplifies
		background-image url($i 'promo/how-it-works/strip-image-background.jpg')
		padding-left 23%
		min-height 61vh
		max-height 700px
		@media(min-width: 1960px)
			padding-left 11%
		@media(min-width: 2560px)
			padding-left 3%
		@media(min-width: 1979px)
			padding-left 8%
		@media(max-width: 1179px)
			min-height 55vh
			padding-right 10px
			padding-left 24%
		@media(max-width: 1023px)
			padding-left 0
			align-items center
		@media (max-width 979px)
			min-height 75vh
		@media (max-height 839px)
			min-height calc(100vh - 56px)

		&:before
			display block
			top 0
			right 58%
			height calc(100% + 155px)
			width 760px
			background url($i 'promo/how-it-works/girl.png') no-repeat top left / contain
			content ''
			position absolute
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url($i 'promo/how-it-works/girl@2x.png')
			@media(max-width: 1599px)
				right 62%
			@media(max-width: 1179px)
				right 56%
			@media(max-width: 1023px)
				display none
				content none


	&.m-simplifies &
		&--inner
			padding-top 35px

	&--heading
		font-size 44px
		font-weight 600
		text-transform uppercase
		margin-bottom 30px
		line-height 1.3
		animation fadeInUp .6s ease-in both
		@media(max-width: 1179px)
			text-shadow 0 0 2px rgba(black, .15)
			font-size 42px
		@media (max-width 739px)
			font-size px2vw(42, 739)
		@media (max-width 559px)
			font-size 30px

	&--text
		font-size 26px
		font-weight 300
		margin-bottom 50px
		animation fadeInUp .6s ease-in .5s both
		@media (max-width 559px)
			font-size 24px

	&--actions
		text-align center
		animation fadeInUp .6s ease-in 1s both

		&_btn
			margin 0 28px
			padding 20px 30px
			border-radius 30px
			@media (max-width 739px)
				margin-bottom 20px

			&.m-arrow
				padding-right 60px

				&:before
					font-size 23px
					right 30px

	&--scroll
		color white
		font-size 12px
		opacity .8
		text-transform uppercase
		display block
		position absolute
		width 220px
		left 50%
		bottom 15px
		margin-left -(@width / 2)
		font-weight 600
		letter-spacing 0.05em
		padding-bottom 25px
		animation fadeIn .4s ease-in 1.5s both

		&:after
			position absolute
			icon($i-angle-down)
			bottom 4px
			left 50%
			width 10px
			height 6px
			margin-left -5px
			font-size 10px
			animation bounce 4s infinite

		&:hover
			opacity 1

@keyframes bounce
	0%, 50%, 65%, 80%, 100%
		transform translateY(0)
	60%
		transform translateY(-6px)
	70%
		transform translateY(-3px)
