.promo_features
	background url(../images/design/pricing/noise_light.jpg) $background_color
	color $gray_dark
	padding rem(50 0 60)

	&--wrap
		margin 0 auto
		width 100%
		max-width 980px

	&--heading
		font-size 24px
		color $gray
		margin-bottom 30px
		text-align center

	&--tabs
		padding-top 10px
		padding-bottom 10px

		&_list
			display flex
			flex-direction row
			margin 0 -10px
			justify-content space-between

		&_item
			flex-basis 145px
			min-height 145px
			background white
			border 1px solid $border_color
			text-align center
			margin 0 10px 20px
			border-radius 4px
			padding 25px 10px 10px
			cursor pointer
			position relative
			transition all .2s

			&:before
			&:after
				// display none
				width 0
				height 0
				position absolute
				border-style solid
				content ''
				left 50%
				transition all .2s ease-out
				opacity 0

			&:before
				border-width 0 12px 10px 12px
				border-color transparent transparent $border_color transparent
				margin-left -12px
				bottom -31px
				filter: drop-shadow(0 0 3px rgba(black, .2))

			&:after
				border-width 0 18px 15px 18px
				border-color transparent transparent white transparent
				margin-left -18px
				bottom -37px
				z-index 2

			&_icon
				height 55px
				margin-bottom 10px
				display block

				&:before
					display block
					font-size 45px

			&.m-profile &_icon
				color #ed8e81
				&:before
					icon($i-profile)

			&.m-payments &_icon
				color #97dc94
				&:before
					icon($i-cards-pack-2)

			&.m-scheduling &_icon
				color #f4c274
				&:before
					icon($i-scheduling)

			&.m-booking &_icon
				color #ed99b7
				&:before
					icon($i-calendar-check-2)

			&.m-suite &_icon
				color #8dc5ea
				&:before
					icon($i-suite)

			&.m-support &_icon
				color #91b1cd
				&:before
					icon($i-support-2)

			&.m-active
				cursor default
				&:before
					bottom -21px
					opacity 1

				&:after
					bottom -27px
					opacity 1

				&.m-profile
					background #ed8e81
					&:before
						border-color transparent transparent #ed8e81 transparent

				&.m-payments
					background #97dc94
					&:before
						border-color transparent transparent #97dc94 transparent

				&.m-scheduling
					background #f4c274
					&:before
						border-color transparent transparent #f4c274 transparent

				&.m-booking
					background #ed99b7
					&:before
						border-color transparent transparent #ed99b7 transparent

				&.m-suite
					background #8dc5ea
					&:before
						border-color transparent transparent #8dc5ea transparent

				&.m-support
					background #91b1cd
					&:before
						border-color transparent transparent #91b1cd transparent

			&:hover
			&.m-active
				&.m-profile
					border-color #ed8e81

				&.m-payments
					border-color #97dc94

				&.m-scheduling
					border-color #f4c274

				&.m-booking
					border-color #ed99b7

				&.m-suite
					border-color #8dc5ea

				&.m-support
					border-color #91b1cd

			&.m-active &_icon
				color white !important

			&_title
				font-size 12px
				text-transform uppercase
				color $gray
				font-weight 600
				line-height 1.2

			&.m-active &_title
				color white

	&--panel
		display none
		border-radius 4px
		background white
		box-shadow 0 0 10px rgba(black ,.3)
		padding 25px 20px
		position relative
		border 1px solid $border_color
		font-size 16px
		line-height 1.2

		&.m-active
			display block
			animation fadeIn .2s ease-out

			&.m-profile
				border-color #ed8e81

			&.m-payments
				border-color #97dc94

			&.m-scheduling
				border-color #f4c274

			&.m-booking
				border-color #ed99b7

			&.m-suite
				border-color #8dc5ea

			&.m-support
				border-color #91b1cd

		&_header
			display none

		ul
			columns 2 30px

			li
				margin-bottom 15px
				padding-left 40px
				position relative
				line-height 1.2

				&:before
					position absolute
					top 5px
					left 0
					icon($i-check-o)
					color $green
					font-size 16px

				&:last-child
					margin-bottom 0

			b
				text-transform uppercase
				font-size 14px
				font-weight 600
				display block

		p
			margin-bottom 15px

			&:last-child
				margin-bottom 0


@keyframes fadeIn
	0%
		opacity 0
	100%
		opacity 1
