.promo_content

	+responsive('max-width: 768px')
		text-align center
		max-width 480px
		margin 0 auto

	&.m-build-profile
		+responsive('min-width: 768px')
			max-width 590px

	&.m-schedule
		+responsive('min-width: 768px')
			max-width 510px
			.promo_section.m-alt &
				margin-left 60px


	&.m-payments
		+responsive('min-width: 768px')
			margin-left 40px
			max-width 420px

	&.m-messaging
		+responsive('min-width: 768px')
			max-width 450px
			.promo_section.m-alt &
				margin-left 40px
	&--title
		color $blue_light
		font-size rem(28)
		line-height 1.25
		margin-bottom .5em
		+responsive('min-width: 980px')
			font-size rem(30)
		+responsive('min-width: 1200px')
			font-size rem(32)
		&.m-gray
			color $gray_dark
		&.m-large
			margin-bottom 1em
			font-size rem(32)
			+responsive('min-width: 980px')
				font-size rem(34)
			+responsive('min-width: 1200px')
				font-size rem(36)

	&--description
		font-size rem(16)
		line-height 1.4
		+responsive('min-width: 980px')
			font-size rem(18)
		+responsive('min-width: 1200px')
			font-size rem(20)

		p
			margin-bottom 1em
			&:last-child
				margin-bottom 0
		ul
			line-height 26px
			font-size rem(14)
			text-align left
			+responsive('min-width: 980px')
				line-height 28px
				font-size rem(16)
			+responsive('min-width: 1200px')
				line-height 30px
				font-size rem(18)

			li
				margin-bottom .5em
				position relative
				padding-left 30px
				&:before
					position absolute
					icon($i-check-o)
					color $green
					left 0
					top 0
					font-size 20px
				&:last-child
					margin-bottom 0

	&.m-billing
		+responsive('min-width: 768px')
			max-width 460px

	&.m-form
		+responsive('min-width: 768px')
			max-width 500px

	&.m-client-benefit
		+responsive('min-width: 768px')
			margin-right 40px
	&.m-client-benefit &
		&--description
			ul
				+responsive('min-width: 768px')
					column-count 2
					li
						padding-right rem(30)
