.promo_line
	border-bottom 1px solid $border_color
	padding rem(30 0)

	&--list
		display flex
		flex-direction column
		max-width 1080px
		margin rem(0 20)
		+responsive('min-width: 980px')
			flex-direction row
			justify-content space-between
		+responsive('min-width: 1120px')
			margin 0 auto

	&--list_item

		font-size rem(14)
		line-height 20px
		//height 20px
		font-weight 600
		text-transform uppercase
		position relative
		text-align center
		margin rem(0 0 10 0)
		&:before
			icon($i-check-o)
			font-size 18px
			line-height 20px
			vertical-align top
			margin-right rem(5)
			color $green
		&:last-child
			margin-bottom 0
		+responsive('min-width: 980px')
			padding-left 24px
			text-align left
			font-size rem(13)
			margin-right 5px
			margin rem(0 5 0 0)
			&:last-child
				margin-right 0
			&:before
				position absolute
				left 0
				top 0
				margin-right 0

		+responsive('min-width: 1120px')
			font-size rem(14)

