.promo_hero
	width 100%
	display flex
	justify-content center
	align-items center
	flex 1
	color #fff
	position relative
	padding rem(50 0)
	+responsive('min-width: 640px')
		padding rem(70 0)
	+responsive('min-width: 980px')
		padding 0
		padding rem(90 0)

	&:before
		display block
		width 100%
		height 100%
		background rgba(#154356, .6)
		content ''
		position absolute
		top 0
		left 0
		z-index 10

	&:after
		content ''
		position absolute
		left 0
		right 0
		bottom 0
		z-index 30
		background url(../images/design/promo/hero-arr.png) 50% 0 no-repeat
		height 26px

	&.m-pricing
		background $blue_light
		&:after
		&:before
			display none

		.cta_btn
			box-shadow 0 0 30px rgba(black, .2)

	&.m-higher
		margin-top -40px

	&.m-higher &
		&--inner
			padding-top 40px

	&.m-features_header
		background-image url(../images/design/promo/hero-features.jpg)
		background-size 100% auto
		background-position 50% 0
		background-repeat no-repeat
		background-color #144355
		padding rem(40 0 25)
		+responsive('min-width: 640px')
			padding rem(50 0 30)
		+responsive('min-width: 768px')
			background-size cover
		+responsive('min-width: 980px')
			padding rem(60 0 40)
			height auto
		&:after
			content none
			display none

	&.m-features
		&:before
		&:after
			content none
			display none

	&.m-no_arrow
		&:after
			content none

	&.m-no_arrow &
		&--footer-btn
			padding rem(10 0)

	&--inner
		position relative
		z-index 20

	&--heading
		text-align center
		text-transform uppercase
		line-height 1.15
		font-weight 700
		margin 0 auto .5em
		color #fff
		letter-spacing 0.05em
		font-size rem(30)
		+responsive('min-width: 640px')
			font-size rem(34)
		+responsive('min-width: 980px')
			font-size rem(38)
		+responsive('min-width: 1200px')
			font-size rem(44)

	&--description
		font-size rem(16)
		font-weight 300
		text-align center
		margin-bottom 3em
		line-height 1.5
		strong
			font-weight 600
		+responsive('min-width: 640px')
			font-size rem(20)
		+responsive('min-width: 980px')
			font-size rem(24)
		+responsive('min-width: 1200px')
			font-size rem(28)

		&.m-narrow
			max-width 680px
			margin-left auto
			margin-right auto
			margin-bottom rem(40px)

	&--logo
		text-align center
		margin-bottom rem(15px)
		+responsive('min-width: 640px')
			margin-bottom rem(25px)
		+responsive('min-width: 980px')
			margin-bottom rem(30px)
		+responsive('min-width: 1200px')
			margin-bottom rem(35px)

	&--intro
		@extend .promo_hero--description
		margin-bottom rem(15px)
		+responsive('min-width: 640px')
			margin-bottom rem(25px)
		+responsive('min-width: 980px')
			margin-bottom rem(30px)
		+responsive('min-width: 1200px')
			margin-bottom rem(35px)

	&--cta
		text-align center

	&--cta_btn
		$cta-btn-height = 64px
		$cta-btn-icon-size = 30px

		position relative
		display inline-block
		color #fff
		font-size rem(16)
		font-weight 600
		padding rem(0 25)
		line-height $cta-btn-height
		text-transform uppercase
		background rgba(255,255,255, .2)
		border-radius $cta-btn-height
		transition background .2s ease-in
		min-width 180px
		&:hover
			background rgba(255,255,255, .4)
		i
			left 17px
			top 50%
			margin-top -($cta-btn-icon-size/2)
			position absolute
			display block
			width $cta-btn-icon-size
			height $cta-btn-icon-size
			border-radius $cta-btn-icon-size
			border 2px solid #fff
			&:before
				position absolute
				left 3px
				top 0
				right 0
				height $cta-btn-icon-size - 4px
				line-height $cta-btn-icon-size - 4px
				icon($i-play-r)

		&.m-icon
			padding-left rem(64)


		+responsive('min-width: 1200px')
			$cta-btn-height = 70px
			$cta-btn-icon-size = 36px

			line-height $cta-btn-height
			border-radius $cta-btn-height
			font-size rem(18)
			padding rem(0 30)
			min-width 200px
			i
				left 17px
				margin-top -($cta-btn-icon-size/2)
				width $cta-btn-icon-size
				height $cta-btn-icon-size
				border-radius $cta-btn-icon-size
				&:before
					left 3px
					height $cta-btn-icon-size - 4px
					line-height $cta-btn-icon-size - 4px


			&.m-icon
				padding-left rem(70)

	&--actions
		text-align center
		&_item
			display inline-block
			padding 5px 30px
			border-right 2px dotted white
			margin-right -1px
			+responsive('max-width: 640px')
				border none
				margin 0

			&:last-child
				border none
				margin-right 0

	&--footer
		position absolute
		width 250px
		margin-left -125px
		bottom 26px
		left 50%
		z-index 100
		transition opacity 100ms ease-in

	&--footer-btn
		text-align center
		display block
		text-transform uppercase
		color #fff
		font-weight 600
		opacity .6
		font-size rem(12)
		padding rem(20 0)
		position relative
		transition opacity .2s ease-in
		i
			display block
			font-style normal
			letter-spacing 1px
			font-weight 600
		span
			position absolute
			width 60px
			height 30px
			top 100%
			left 50%
			margin-left -30px
			svg
				width 60px
				height 28px
			&:after
				icon($i-chevron-down)
				position absolute
				left 0
				right 0
				text-align center
				top 0
				font-size 16px
				line-height 16px
		&:hover
			opacity .8


	&.m-features_header &
		&--heading
			font-weight 600
			font-size rem(34)
			+responsive('min-width: 640px')
				font-size rem(38)
			+responsive('min-width: 980px')
				font-size rem(44)
			+responsive('min-width: 1200px')
				font-size rem(50)
		&--description
			max-width 780px
			margin 0 auto 2em
			font-weight 400
		&--footer-btn
			height 0
			i
				opacity 0
				visibility hidden


	&.m-pricing &
		&--heading
			max-width 700px
			margin 0 auto .2em
			span
				white-space nowrap
				position relative
				&:after
					position absolute
					left 20px
					top 100%
					width 231px
					height 28px
					content ''
					background url(../images/design/promo/pricing/highlight-max-2.png) 0 0 no-repeat
					+responsive('min-width: 640px')
						left 30px
					+responsive('min-width: 1200px')
						left 40px

			&.m-has_tip
				margin-bottom 50px

		&--description
			margin 0 auto 1.25em
			max-width 680px
			font-size rem(20)
			+responsive('min-width: 980px')
				font-size rem(22)

			&.m-has_tip
				margin-bottom 70px

			span
				white-space nowrap
				position relative
				&:after
					position absolute
					left 15px
					top 100%
					width 231px
					height 28px
					content ''
					background url(../images/design/promo/pricing/highlight-max-2.png) right 0 no-repeat
					margin-top 15px
					+responsive('max-width: 660px')
						left 50%
						width 200px
						margin-left -100px

	&.m-pricing.m-wide_heading &
		&--heading
			max-width 100%
