promo_screen_img_size($width, $height)

	$ratio = percentage($height / $width)
	width 100%
	height 0
	padding-top $ratio

	+responsive('min-width: 1200px')
		padding 0
		width $width
		height $height

.promo_screen
	display block
	background-position 0 0
	background-repeat no-repeat
	background-size 100% 100%
	position relative

	&.m-onthego
		$img-width = 500px
		$img-height = 586px
		promo_screen_img_size($img-width, $img-height)

		margin 0 auto
		+responsive('min-width: 768px')
			margin-bottom -60px
		+responsive('min-width: 1200px')
			margin-bottom -100px

		background-image url(../images/design/promo/onthego.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/onthego@2x.png)

	&.m-build-profile
		$img-width = 608px
		$img-height = 457px
		promo_screen_img_size($img-width, $img-height)

		background-image url(../images/design/promo/build-profile.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/build-profile@2x.png)
		+responsive('min-width: 1200px')
			margin-left -8px

	&.m-schedule
		$img-height = 452px
		$img-width = 600px
		promo_screen_img_size($img-width, $img-height)

		background-image url(../images/design/promo/schedule.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/schedule@2x.png)

	&.m-payments
		$img-height = 532px
		$img-width = 426px
		promo_screen_img_size($img-width, $img-height)

		background-image url(../images/design/promo/billing.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/billing@2x.png)
		+responsive('min-width: 1200px')
			margin-left auto


	&.m-messaging
		$img-height = 576px
		$img-width = 648px
		promo_screen_img_size($img-width, $img-height)

		background-image url(../images/design/promo/messaging.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/messaging@2x.png)
		+responsive('min-width: 1200px')
			margin-left -24px

	&.m-client-benefit
		$img-height = 472px
		$img-width = 382px
		promo_screen_img_size($img-width, $img-height)

		background-image url(../images/design/promo/client-benefit.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/client-benefit@2x.png)

	&.m-billing
		$img-height = 578px
		$img-width = 463px
		promo_screen_img_size($img-width, $img-height)

		background-image url(../images/design/promo/billing.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/billing@2x.png)

		+responsive('min-width: 980px')
			margin 0 auto

	&.m-location-pricing
		$img-height = 506px
		$img-width = 618px
		promo_screen_img_size($img-width, $img-height)

		background-image url(../images/design/promo/location-pricing.png)
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/promo/location-pricing@2x.png)

		+responsive('min-width: 1200px')
			margin-left -18px
