.business_features
	position relative

	&:before
		position absolute
		display block
		width 41%
		height 100%
		content ''
		background url($i 'promo/how-it-works/run.jpg') no-repeat left top / cover

	&--inner
		width 59%
		margin-left 41%
		position relative
		margin-left 40.8%
		background linear-gradient(to right, #2192a6, #4ab9cb)

	&--content
		padding 80px 50px 40px
		max-width 820px
		min-height 880px
		color white
		font-size 16px

	&--heading
		font-size 36px
		margin-bottom 27px
		max-width 580px
		line-height 1.1

	&--text
		margin-bottom 30px
		padding-left 30px

	$collapsible = '.business_features--collapsible'
	&--collapsible
		margin-left -10px

		&_item
			&.m-opened
				{$collapsible}_title
					&_opener
						&:before
							height 0
							margin-top 0

			&.m-can_animate
				{$collapsible}_content
					opacity 1
					transform translateY(0)

			&:first-child
				{$collapsible}_title
					border-top none

		&_title
			padding 22px 30px 21px 52px
			border-top 1px solid rgba(white, .5)
			font-size 18px
			text-transform uppercase
			letter-spacing 0.1em
			position relative
			cursor pointer
			transition opacity .2s

			&:hover
				opacity .8

			br
				display none

			&_opener
				width 30px
				height 30px
				border 1px solid white
				border-color white
				border-radius 50%
				position absolute
				left 3px
				top 17px
				display block

				&:before
				&:after
					content ''
					display block
					background @border-color
					position absolute

				&:before
					height 16px
					width 2px
					top 50%
					left 50%
					margin-left -1px
					margin-top -8px
					transition all .2s

				&:after
					height 2px
					width 16px
					top 50%
					left 50%
					margin-left -8px
					margin-top -1px

		&_content
			padding 16px 0 30px 15px
			line-height 1.2
			display none
			opacity 0
			transition opacity .2s, transform .2s
			transform translateY(20px)


	&--list
		text-shadow 0 0 1px rgba(black, 0.05)
		padding-top 10px
		column-count 2

		li
			line-height 1.1
			display inline-block
			vertical-align top
			width 100%
			padding-left 62px
			font-weight 300
			margin-bottom 23px
			margin-right -3px
			position relative

			&:before
				position absolute
				icon($i-check-thin)
				width 22px
				height 22px
				color $green
				display block
				font-size 13px
				top 0
				left 30px

			b
				text-transform uppercase
				display block
				font-weight normal
