.affiliate
	background-color white
	&--header
		color  white
		text-align center
		display flex
		align-items: center;
		justify-content: center;
		background-image url("/assets/frontend/images/content/affiliate/header-bg.png")
		background-repeat repeat
		padding-top rem(86px)
		margin-bottom rem(56px)
		+responsive('max-width: 750px')
			padding-top rem(30px)
			padding-right rem(30px)
			padding-left rem(30px)
			margin-bottom rem(30px)

		&-title
			font-size 2.75rem
			font-weight 600
			margin-bottom rem(46px)
			+responsive('max-width: 750px')
				font-size 1.3rem
				line-height 1.4
				margin-bottom rem(20px)
		&-title2
			font-size 1.5rem
			font-weight 500
			line-height 1.5
			margin-bottom rem(55px)
			max-width 745px
			+responsive('max-width: 750px')
				font-size 1.1rem
				line-height 1.4
				margin-bottom rem(25px)

		&-button
			margin-bottom rem(40px)
			+responsive('max-width: 750px')
				margin-bottom rem(30px)
	&--body
		display flex
		align-items center
		justify-content center
		margin-bottom rem(75px)
		+responsive('max-width: 750px')
			flex-direction column

	&--body-line
		margin 0 auto
		max-width 1182px
		+responsive('min-width: 750px')
			background-image url("/assets/frontend/images/content/affiliate/line.png")
			background-size 100%
			background-repeat no-repeat
			width 100%
			height 65px

	&--line1-mobile
		+responsive('max-width: 750px')
			background-image url("/assets/frontend/images/content/affiliate/line1-mobile.png")
			background-repeat no-repeat
			width 297px
			height 40px

	&--line2-mobile
		+responsive('max-width: 750px')
			background-image url("/assets/frontend/images/content/affiliate/line2-mobile.png")
			background-repeat no-repeat
			width 25px
			height 72px

	&--line3-mobile
		+responsive('max-width: 750px')
			background-image url("/assets/frontend/images/content/affiliate/line3-mobile.png")
			background-repeat no-repeat
			width 25px
			height 72px

	&--body-item
		box-shadow 0px 1px 2px 0px rgba(0, 0, 0, 0.16)
		flex-basis 379px
		flex-shrink 1
		height 496px
		margin-right rem(7px)
		margin-left rem(7px)
		margin-bottom 1px
		+responsive('max-width: 750px')
			height auto
			flex-basis auto
			width 100%
		&-equation
			+responsive('max-width: 750px')
				min-height 450px
	&--body-item-up
		background-color #f9fafc
		text-align center
		padding-bottom rem(28px)
		min-height 228px
		+responsive('max-width: 750px')
			min-height auto
	&--body-item-up-icon
		display inline-block
		margin-top rem(35px)
		margin-bottom rem(9px)
	&--body-item-up-title
		color  #747373
		font-size 1.375rem
		font-weight 700
	&--body-item-up-text
		color  $gray_dark
		font-size rem(16px)
		font-weight 300
		line-height 1.127
		text-align center
		transform scaleX(1.0008)
		margin-left rem(22px)
		margin-right rem(20px)
		+responsive('max-width: 750px')
			font-size rem(14px)
	&--body-item-up-line
		border-width 1px
		border-color  #e05c49
		background-color #e05c49
		border-style solid
		width 70px
		height 1px
		display inline-block
		margin-top rem(4px)
		margin-bottom rem(2px)

	&--body-item-down
		background-color white
		padding-top rem(28px)
		padding-bottom rem(15px)
		padding-left rem(18px)
		padding-right rem(12px)
		border-top-width 1px
		border-color #E4E4E4
		border-style solid
	&--body-item-down-list
		list-style none
		li
			background-image url('/assets/frontend/images/content/affiliate/list-icon.svg')
			background-repeat no-repeat
			background-position-y 46%
			color  #747373
			font-size rem(18px)
			font-weight 400
			text-align left
			line-height 1.2
			margin-bottom 28px
			padding-left 36px
			+responsive('max-width: 750px')
				font-size 1rem
				font-weight 500
				margin-bottom 20px
	&--body-item-down-general
		margin 0 auto
		background-size: 100%;
		background-repeat: no-repeat;

	&--footer
		display flex
		align-items center
		justify-content center
		background-color #f9fafc
		padding-top rem(58px)
		padding-bottom rem(58px)
		+responsive('max-width: 750px')
			padding-top rem(30px)
			padding-bottom rem(30px)

	&--icon-join-us
		background-image url("/assets/frontend/images/design/svg/icons/join-us.svg")
		background-size cover
		width 86px
		height 64px

	&--icon-what-we-give-you
		background-image url("/assets/frontend/images/design/svg/icons/what-we-give-you.svg")
		background-size cover
		width 67px
		height 62px

	&--icon-what-you-earn
		background-image url("/assets/frontend/images/design/svg/icons/what-you-earn.svg")
		background-size cover
		width 68px
		height 59px

	&--btn-mobile
		+responsive('min-width: 750px')
			display none
	&--btn-notmobile
		+responsive('max-width: 750px')
			display none
	&--btn-become
		+responsive('min-width: 750px')
			font-weight 500 !important
		+responsive('max-width: 750px')
			font-size rem(14px) !important
			font-weight 600 !important
			line-height 1 !important
			padding-left 25px !important
	&--btn-become1
		+responsive('min-width: 750px')
			font-size 18px !important
			padding-right 64px !important
			padding-left 2rem !important
			padding-top 1.3rem !important
			padding-bottom 1.3rem !important
			&:before
				right 25px !important
		&:before
			right 20px !important
	&--btn-become2
		+responsive('min-width: 750px')
			font-size 20px !important
	&--equation
		display flex
		flex-shrink 1
		height 101px
		&-text
			font-style oblique
			font-size rem(16px)
			font-weight 200
			line-height 1.1
			text-align center
		&-img
			margin-right auto
			margin-left auto
			margin-top 10px
			margin-bottom 10px
		&-item
			height 50%
			display flex
			flex-direction column
			align-content center
			&-sign
				align-self flex-end
				img
					margin-top 20px
		&-partnership
			align-self flex-end
			&-img
				width 43px
				height 38px

		&-plus
			&-img
				width 21px
				height 22px

		&-product
			align-self flex-start
			&-img
				width 48px
				height 41px
		&-equal
			&-img
				width 21px
				height 19px
		&-profit
			align-self flex-end
			&-img
				width 69px
				height 55px
				margin-top 5px
	&--graph-wrapper
		display flex
		justify-content space-between
	&--graph-img
		width 152px
		height 194px
		+responsive('max-width: 750px')
			margin-top auto
			width 153px
			height 190px
	&--graph-title
		color  #3eb7cb
		font-size rem(15px)
		font-weight 400
		line-height rem(31.069px)
		text-align left
		font-size 13px
		margin-right -52px
		+responsive('max-width: 750px')
			font-size rem(13px)
			font-weight 500
			line-height 1.2
			margin-bottom rem(20px)

	&--graph-after-item
		line-height 1.2
		margin-bottom 16px
	&--graph-after-item-profit
		color  #6b6a6a
		font-size rem(14px)
		font-weight 600
		text-align left
		+responsive('max-width: 750px')
			font-weight bold
	&--graph-after-item-term
		color  #747373
		font-size 14px
		font-weight 300
		text-align left
	&--graph-note
		color  #808080
		font-size rem(14px)
		font-weight 400
		text-align left
		line-height 2.2
		+responsive('max-width: 750px')
			margin-top rem(5px)
			margin-bottom rem(10px)
			font-size 0.8rem
