.affiliate_program .hs-form-required {
	display: none;
}

.affiliate_program textarea.hs-input {
	height: 133px;
}

.affiliate_program .partner_contact--form{
	+responsive('max-width: 750px') {
		margin-top: 41px;
	}
}
