<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="card_form--block">
		<header class="card_form--block--header">
			<h2 class="card_form--block--header--title" data-title></h2>
		</header>
		<form class="card_form--form">
			<div class="card_form--block--content">
				<div class="card_form--errors m-hide"></div>

				<div class="card_form--card_logos">
					<span class="card_form--card_logo m-visa"><img src="/assets/frontend/images/content/booking/cc-visa.png" alt=""></span>
					<span class="card_form--card_logo m-mastercard"><img src="/assets/frontend/images/content/booking/cc-mastercard.png" alt=""></span>
					<span class="card_form--card_logo m-amex"><img src="/assets/frontend/images/content/booking/cc-amex.png" alt=""></span>
				</div>
				<dl class="form--group form--line">
					<dt>Cardholder's Name</dt>
					<dd>
						<span class="field m-icon m-user m-wide">
							<input type="text" name="card_holder" autocomplete="cc-name">
							<span class="field--error"></span>
						</span>
					</dd>
				</dl>
				<dl class="card_form--form_number form--group form--line" data-booking-payment-node="new_card_number">
					<dt>Card Number</dt>
					<dd>
						<span class="card_form--form_number--label">
							<span class="card_form--card_number"></span>
						</span>
						<span class="field m-icon m-card m-wide card_form--form_number--field">
							<input type="tel" name="card_number" autocomplete="cc-number" x-autocompletetype="cc-number" pattern="[0-9]*">
							<span class="field--error"></span>
						</span>
					</dd>
				</dl>

				<div class="card_form--form_info form--line">
					<dl class="card_form--expiration form--group">
						<dt>Expiration</dt>
						<dd>
							<span class="field">
								<input type="tel" name="card_exp" autocomplete="cc-exp" placeholder="MM / YYYY">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
					<dl class="card_form--cvc form--group">
						<dt>CVV</dt>
						<dd>
							<span class="field m-wide">
								<input type="tel" name="cvv" autocomplete="cc-csc" placeholder="CVV">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
				</div>
			</div>
			<footer class="card_form--block--footer">
				<button class="card_form--cancel btn m-link" type="button">Cancel</button>
				<button class="card_form--add_card btn m-red" type="submit">Save New Card</button>
			</footer>
		</form>
	</div>
</div>
