.testimonials_container
	background url(../images/design/testimonials/testimonials_bg.jpg) $blue_light center top
	padding 60px 0 30px

.testimonials
	width 100%
	height 417px
	overflow hidden
	color white
	max-width 1100px
	margin 0 auto
	padding 0 20px
	+responsive('min-width: 860px')
		padding 0 60px

	&.owl-loaded
		height auto
		overflow auto
		overflow hidden

	&.owl-loaded &
		&--item
			margin-bottom 25px
			+responsive('min-width: 680px')
				margin-bottom 5px

	&--heading
		font-size 36px
		font-weight 600
		text-align center
		margin-bottom 30px
		color white
		+responsive('min-width: 480px')
			font-size 40px
		+responsive('min-width: 860px')
			font-size 48px
			margin-bottom 50px

	&.m-has_cta &
		&--item
			padding-bottom 80px

	&--item
		text-align center
		max-width 880px
		margin 0 auto 85px

	&--person
		font-size 16px

		&--pic
			// margin-top 1px
			// width 97px
			// height 97px
			// border-radius 50%
			// overflow hidden
			// border 5px solid white
			// box-shadow 0 0 0 1px $border_color
			// display inline-block
			// background #e1e1e1
			width 97px
			display block
			margin 0 auto 20px
			vertical-align middle
			+responsive('min-width: 480px')
				margin 0 20px 0 0
				display inline-block

			img
				max-width 100%
				// border-radius 50%
				-webkit-backface-visibility hidden
				-webkit-transform scale(1)

		&--content
			display block
			text-align center
			vertical-align middle
			width 100%
			+responsive('min-width: 480px')
				display inline-block
				text-align left
				max-width 250px
			+responsive('min-width: 640px')
				max-width 380px

		&--who
			text-transform uppercase
			font-weight 600
			margin-bottom 10px

	&--quote
		font-size 22px
		font-weight 600
		margin-bottom 20px
		color $black_gray
		+responsive('min-width: 480px')
			font-size 26px

	&--text
		font-size 18px
		line-height 1.5
		margin-bottom 30px

	&--footer
		text-align center
		position relative
		top -105px
		margin-bottom -60px
		z-index 3

	&--btn
		font-size 20px
		border-radius 7px
		padding 11px 30px 10px
		line-height 1
		height auto

		&:after
			font-size rem(22px)

	.owl-nav
		display none
		+responsive('min-width: 860px')
			display block

		.owl-prev
		.owl-next
			&
				position absolute
				top 10%
				width 60px
				height 90px
				text-indent -9999em
				font-size 0
				text-align center
				line-height @height

			&:before
				font-size 25px
				text-indent 0
				color white

			&:hover
				&:before
					opacity .8

		.owl-prev
			left 0

			&:before
				icon($i-chevron-left)

		.owl-next
			right 0

			&:before
				icon($i-chevron-right)

	.owl-dots
		text-align center
		font-size 0

		.owl-dot
			display inline-block
			width 24px
			height 24px
			text-align center
			line-height 38px

			span
				width 15px
				height 15px
				background transparent
				border 2px solid white
				display inline-block
				border-radius 50%

			&.active
				span
					background white
