.professional_gift_certificates

	&--stats
		margin-bottom rem(10)

	&--group
		position relative
		background #fff
		position relative
		border 1px solid $border_color
		border-radius 3px
		min-height 150px
		margin-bottom rem(10)

	&--group_title
		font-weight 600
		color $gray_dark
		font-size rem(18)
		padding rem(30 20)

	&--profile_avatar
		width 30px
		height @width
		border-radius @height
		overflow hidden
		display inline-block
		vertical-align middle
		margin-right 5px
		background lighten($gray_lighter, 10) url(/assets/frontend/images/design/userpic.png) 50% 50% no-repeat
		background-size @width @height
		img
			width 100%
			height auto
			display block
	&--profile_link
		color $blue
		&:hover
			color $blue_light
