{{#if is_clients_pro}}
	<span class="profile_card--info--added">Added to My Professionals</span>
{{else if invites_client}}
	<button class="btn m-small m-green m-action_accept" name="button" data-action-confirm>Accept invitation</button>
	<button class="btn m-small m-light_gray m-action_decline" name="button" data-action-decline>Decline invitation</button>
{{ else }}
	<button class="btn m-green m-action_add" data-action-add>Add to My Professionals</button>
{{/if}}
