.choose_upgrade
	&--list
		margin 0 auto
		display flex
		justify-content space-between
		align-items stretch


		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				display block
				padding-bottom 30px

	&--content
		padding 45px 25px
		min-width 780px
		@media (max-width 979px)
			min-width 680px
			padding 40px 20px

		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				min-width 0

	&--guarantee
		text-align center
		font-size 18px
		color $gray

		b
			color $blue_light
