.partner_hero
	&
		background url(../images/design/partner/partner_bg.jpg) no-repeat center #257b88
		background-size cover
		color white
		text-align center
		padding 55px 30px 40px

	&--wrap
		max-width 1000px

	&--title
	&--text
	&--list
		text-shadow 0 4px 7px rgba(black, .35)

	&--title
		font-size 55px
		margin-bottom 12px

	&--text
		font-size 22px
		margin 0 auto 45px
		line-height 1.1
		max-width 950px

	&--list
		font-size 0
		letter-spacing 0
		margin-bottom 50px

		&_item
			display inline-block
			font-size 20px
			text-transform uppercase
			width 50%
			vertical-align top
			padding 15px 3% 60px 17%
			text-align left
			margin-bottom 1px
			font-weight 600
			position relative
			line-height 1.2

			&:nth-child(even)
				border-left 1px dotted white

			&:last-child
			&:nth-last-child(2)
				padding-bottom 5px

			&:before
				display block
				content ''
				position absolute
				top 15px
				left 19%
				background-size contain
				background-repeat no-repeat
				background-position right center
				height 50px
				width 50px

			&.m-tools
				&:before
					width 56px
					height 45px
					background-image url(../images/design/partner/tools.png)

				span
					max-width 240px

			&.m-revenue
				&:before
					width 56px
					height 49px
					background-image url(../images/design/partner/revenue.png)

			&.m-api
				&:before
					left 17.5%
					width 62px
					height 52px
					background-image url(../images/design/partner/api.png)

			&.m-coop
				&:before
					top 13px
					left 20%
					background-image url(../images/design/partner/coop.png)

			span
				display inline-block
				max-width 260px
