.m-not-active
	pointer-events: none;
	cursor: default;

.partner-main-bg {
	background-repeat no-repeat !important;
	background-size cover !important;
}

.partner-main-bg-aaaom {
	background-image: url("/assets/frontend/images/design/partner/aaaom-top-bg.jpg") !important;
}
.partner-main-bg-hcc {
	background-image: url("/assets/frontend/images/design/partner/hcc-top-bg.jpg") !important;
}
.partner-main-bg-iaplc {
	background-image: url("/assets/frontend/images/design/partner/iaplc-top-bg.jpg") !important;
}
.partner-main-bg-pryt {
	background-image: url("/assets/frontend/images/design/partner/pryt-top-bg.jpg") !important;
}
.partner-main-bg-waterwood {
	background-image: url("/assets/frontend/images/design/partner/waterwood-top-bg.jpg") !important;
}
.partner-main-bg-susan-shatzer {
	background-image: url("/assets/frontend/images/design/partner/susan-shatzer-top-bg.jpg") !important;
}
.partner-main-bg-whole-life-marketing {
	background-image: url("/assets/frontend/images/design/partner/whole-life-marketing-top-bg.jpg") !important;
}
.partner-main-bg-hwncc{
	background-image: url("/assets/frontend/images/design/partner/hwncc-top-bg.jpg") !important;
}
.partner-main-bg-gymlynx{
	background-image: url("/assets/frontend/images/design/partner/gymlynx-top-bg.jpg") !important;
}
.partner-professional{
	background-color white
}

@media ( min-width 0px) and (max-width 10000000px)
	.partner-signup
		background none !important
		background-size auto !important

.partner-signup:before
	background none !important
	+responsive('max-width: 750px')
		background none !important

.partner-signup--features:before
	background none !important
	+responsive('max-width: 750px')
		background none !important

.partner-signup--form {
	background url(../images/design/partner/woman-presenter.jpg) no-repeat
	background-size cover
	background-position right
	float: right !important
}

.partner-mobile-app-img
	+responsive('max-width: 750px')
		margin: 0 auto
		display block

.partner-left-col {
	display: flex !important
}

.partner-text
	width auto  !important
	padding-right 1rem
	+responsive('max-width: 750px')
		width 100%  !important
		padding 0  !important
		margin-top: 1rem !important;
	color $gray_dark
	text-shadow none
	overflow hidden
	position static !important
	flex none !important
	float none !important

.partner-mobile-app
	width auto !important
	float left !important
	+responsive('max-width: 750px')
		float none !important
		padding 0  !important
		margin-right 0 !important
		position static !important
	flex none !important

.partner-title {
	color $blue
}

.partner-signup-form-left-bg {
	background url(../images/design/partner/signup-bg-left-side.png) repeat-y
	width 42px
	height 739px
}