+responsive('max-width: 1024px')
	.partner_hero
		&--title
			font-size 45px

		&--list
			&_item
				padding 15px 10px 60px 120px

				&:before
					left 50px

				&.m-api
					&:before
						left 42px

				&.m-coop
					&:before
						left 55px

+responsive('max-width: 860px')
	.partner_hero
		padding 40px 0 40px

		&--list
			&_item
				padding 15px 10px 60px 100px
				font-size 18px

				&:before
					left 30px
					top 10px

				&.m-api
					&:before
						left 22px
						top 12px

				&.m-coop
					&:before
						left 35px
						top 11px

+responsive('max-width: 750px')
	.partner_hero
		&--list
			&_item
				padding 15px 10px 40px 85px

				&:before
					left 18px

				&.m-api
					&:before
						left 10px

				&.m-coop
					&:before
						left 22px

+responsive('max-width: 680px')
	.partner_hero
		&--list
			&_item
				text-align center
				padding 65px 10px 20px 10px
				min-height 150px

				&:last-child
				&:nth-last-child(2)
					min-height auto

				&
				&.m-api
				&.m-coop
					&:before
						top 0
						left 50%
						transform translateX(-50%)

+responsive('max-width: 550px')
	.partner_hero
		&--title
			font-size 35px

		&--text
			font-size 20px

		&--list
			margin-bottom 30px

			&_item
				width 100%
				max-width 320px
				margin 0 auto
				text-align left
				padding 5px 0 30px 75px
				min-height auto

				&:last-child
				&:nth-last-child(2)
					padding-bottom 30px

				&:nth-child(even)
					border none

				&:before
					left 22px

				&.m-tools
					&:before
						left 24px

				&.m-api
					&:before
						left 18px

				&.m-coop
					&:before
						left 24px

+responsive('max-width: 480px')
	.partner_hero
		&--title
			font-size 33px

		&--text
			margin-bottom 30px

		&--list
			margin-bottom 10px
