.partner_contact
	.popup--close
		top 20px
		right 20px

	&--content
		width 820px
		padding 80px 50px

	&--form
		cf()

		.field:after
			margin-top -1px

		.form--line
			margin-top 20px

			&:first-child
				margin-top 0

		&_col
			width 48%
			float left

			&:nth-child(even)
				margin-left 4%

		&_group
			margin-top 20px

			dt
				font-size 15px
				margin-bottom 15px

			dd
				font-size 14px
				color $gray
				font-weight normal

				.form--line
					margin-top 12px

				.checkbox--label
					font-weight normal

		&_checks
			li
				margin-bottom 8px

			.field--error
				margin-top 6px
				&:after
					left 10px

		.submitted-message
			font-size 22px
			margin 0 auto
			max-width 510px
			text-align center
			line-height 1.4

		.form-columns-2
			cf()

			.hs-form-field
				width 48%
				float left

				&:nth-child(even)
					margin-left 4%

		.hs-form-field
			margin-bottom 20px

			label
				display block
				margin-bottom 6px
				line-height 1.4
				font-weight 600

			.hs-error-msgs
				&
					padding-top 8px

				&
				label
					font-weight normal
					color $red

			.inputs-list
				padding-top 5px

			.select
				width 100%

		.hs-form-checkbox
			input
				&
					position absolute
					left -9999px

				&:focus +
				&:focus ~
					span
						&:before
							border-color darken(#e1e1e1, 20%)

				&:checked +
				&:checked ~
					span
						color $gray_dark

						&:before
							border-color $blue
						&:after
							visibility visible

			span
				position relative
				padding-left 24px
				cursor pointer
				display inline-block
				vertical-align middle
				user-select none
				font-weight normal

				&:before
					display block
					width 17px
					height 17px
					border 1px solid #e1e1e1
					position absolute
					top 2px
					left 0
					margin-top -2px
					border-radius 1px
					background #fff
					content ''

				&:after
					display block
					visibility hidden
					icon($i-check)
					color $blue
					position absolute
					top 0
					left 2px
					font-size 13px

		.hs_submit
			padding-left 52%

			.btn
				min-width 170px
				font-size 20px


	&--submit
		min-width 170px
		font-size 20px
