+responsive('max-width: 860px')
	.partner_current
		&--title
			font-size 28px

		&--list
			&_pic
				padding 0 10px

		.owl-prev
		.owl-next
			width 100px

+responsive('max-width: 480px')
	.partner_current
		padding 40px 0 20px

		&--title
			font-size 25px
			margin-bottom 20px

		.owl-prev
		.owl-next
			width 60px
