.partner_features
	cf()
	padding 70px 0 45px
	text-align center
	background $background_color

	&--list
		font-size 0

		&_item
			display inline-block
			width 50%
			text-align center
			padding 65px 6% 20px
			color $gray_darker
			font-size 20px
			position relative
			vertical-align top
			line-height 1.3

			&:nth-child(even)
				border-left 1px solid $gray_lighter

			&.m-manage_business
			&.m-match_clients
				&:before
					position absolute
					top -20px
					left 50%
					display block
					content ''
					background-position center center
					background-repeat no-repeat
					background-size contain

			&.m-manage_business
				&:before
					background-image url(../images/design/partner/manage_business.png)
					width 71px
					height 75px
					margin-left -(@width / 2)

			&.m-match_clients
				&:before
					background-image url(../images/design/partner/strategy.svg)
					width 62px
					height 61px
					margin-left -(@width / 2)
