+responsive('max-width: 980px')
	.partner_features
		cf()
		padding 60px 0 35px

		&--list
			&_item
				padding-left 3%
				padding-right 3%
				font-size 19px

+responsive('max-width: 860px')
	.partner_features
		padding 60px 0 35px

		&--list
			&_item
				width 100%
				display block
				max-width 500px
				margin 60px auto 0
				position relative
				padding-left 0
				padding-right 0
				font-size 18px

				&:after
					display block
					width 80%
					max-width 300px
					background $gray_lighter
					height 1px
					content ''
					top -40px
					left 50%
					transform translateX(-50%)
					position absolute

				&:first-child
					margin-top 0

					&:after
						display none
						content none

				&:nth-child(even)
					border-left none

				&.m-match_clients
					&:before
						top -10px

+responsive('max-width: 480px')
	.partner_features
		padding 50px 0 25px
