.partner_current
	background white
	padding 45px 0 60px

	&--title
		text-align center
		color $blue
		font-weight 600
		margin-bottom 40px
		font-size 32px

	&--list
		max-height 110px
		overflow hidden
		position relative
		cf()

		&.owl-loaded &
			&_item
				margin 0 auto
				float none
				text-align center

		&_item
			float left
			position relative
			height 110px
			transform translateZ(0)

			&:after
				display block
				content ''
				height 70px
				background $border_color
				position absolute
				left 0
				top 50%
				margin-top -(@height / 2)
				width 1px

		&_pic
			padding 0 20px
			box-sizing content-box
			display inline-block
			vertical-align middle
			margin 0 auto
			transform translateY(-50%)
			position relative
			top 50%

	.owl-prev
	.owl-next
		position absolute
		top 0
		height 100%
		width 140px
		content ''
		display block
		font-size 0
		overflow hidden
		text-indent -9999em

	.owl-prev
		background linear-gradient(to right, white, rgba(white, 0))
		left 0

	.owl-next
		background linear-gradient(to left, white, rgba(white, 0))
		right 0
