+responsive('max-width: 860px')
	.partner_contact
		&--content
			width 760px
			padding 60px 30px

+responsive('max-width: 767px')
	.partner_contact
		&--content
			max-width 100%
			padding 50px 20px

+responsive('max-width: 600px')
	.partner_contact
		&--form
			.hs-form
				max-width 450px
				margin 0 auto

			.form-columns-2
				.hs-form-field
					width 100%
					float none
					margin-bottom 10px

					&:nth-child(even)
						margin-left 0

					label
						margin-bottom 3px

			.hs_submit
				padding-left 0
				text-align right
