.datepicker
	display inline-block
	vertical-align middle

.ui-datepicker
	display none
	background #fff
	border 1px solid $border_color
	border-radius 3px
	min-width 340px
	padding 10px 15px 20px
	z-index 10000 !important

	@media (max-width: 360px)
		min-width 300px
		padding 10px 10px 15px

	&-prev
	&-next
		&
			position absolute
			top 18px
			display block
			width 24px
			height 24px
			border 1px solid $gray
			border-radius 24px
			opacity .6
			cursor pointer

			span
				display none


			&:before
				icon($i-chevron-down)
				color $gray_dark
				position absolute
				top 50%
				left 50%
				font-size 12px

		&:hover
			opacity 1

	&-prev
		left 14px

		&:before
			transform translate(-50%, -50%) rotate(90deg)

	&-next
		right 14px

		&:before
			transform translate(-50%, -50%) rotate(-90deg)


	&-title
		font-size rem(18px)
		color $blue
		text-align center
		padding rem(11px 0 15px)

	&-month
		font-weight 600
		text-transform uppercase

	&-calendar
		width 100%
		text-align center

		thead
			color $blue
			font-weight 600
			text-transform uppercase
			font-size rem(12px)

			th
				height 30px
				line-height 30px

		tbody
			a
			span
				&
					display block
					width 30px
					height 30px
					text-align center
					margin 0 auto
					color $gray_dark
					border-radius 3px
					line-height 30px

			span
				opacity .3

			a
				&:hover
					background #eee

	tbody &-today
		a
		span
			&
				background #fff
				color $red
				// font-weight 600

		a
			&:hover
				border-color $red

	tbody &-current-day
		a
		span
			&
				background $blue_light !important
				color #fff !important

		a
			&:hover
				border-color transparent

.hasDatepicker
	cursor pointer
