.datepicker_range
	cf()
	
	.datepicker
		display inline-block
		vertical-align middle
		
	&--separator
		display inline-block
		vertical-align middle
		color $gray
		width 18px
		text-align center
		font-size rem(12px)
