.inline_icon
	&:before
	&:after
		display inline-block
		font-size 13px
		vertical-align top
		margin 0 5px 0 0
		position relative
		content ''

	&:after
		display none
		margin 0 0 0 5px

	&.m-info
		&:before
			icon($i-info-circle)

	&.m-user
		&:before
		&:after
			font-size 10px
			top 1px
			min-width 10px
			icon($i-user-wide)

	&.m-ban
		&:before
		&:after
			font-size 12px
			icon($i-ban)

		&:before
			margin-left -2px

	&.m-secure
		&:before
		&:after
			top 2px
			font-size 10px
			icon($i-lock-fill)
			color $yellow_golden

	&.m-after
		&:before
			display none

		&:after
			display inline-block

	&.m-comments
		&:before
		&:after
			icon($i-comments-fill)

	&.m-gift
		&:before
		&:after
			icon($i-gift)

	&.m-download
		&:before
		&:after
			icon($i-download)
			font-size 14px
			top 2px

i.inline_icon
	display inline-block
	font-size 13px
	vertical-align top
	margin-left 2px
	margin-right 2px
	position relative
