.lbl
	display inline-block
	font-size rem(12)
	font-weight 600
	padding rem(0 14)
	line-height 20px
	border-radius 3px
	background $gray
	color #fff
	&.m-blue_light
		background $blue_light
	&.m-blue
		background $blue
	&.m-orange
		background $btn-orange
	&.m-red
		background $red
	&.m-green
		background $green



