// animation
@-webkit-keyframes loading-spin
	0%
		-webkit-transform rotate(0deg)
		transform rotate(0deg)
	100%
		-webkit-transform rotate(359deg)
		transform rotate(359deg)

@keyframes loading-spin
	0%
		-webkit-transform rotate(0deg)
		transform rotate(0deg)
	100%
		-webkit-transform rotate(359deg)
		transform rotate(359deg)


@-webkit-keyframes heartbeat {
	0% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	14% {
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
	28% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	42% {
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
	70% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes heartbeat {
	0% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	14% {
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
	28% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	42% {
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
	70% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.spin
	&
		display inline-block
		position relative
		animation loading-spin 2s infinite linear
		-webkit-animation loading-spin 2s infinite linear
		text-align center

	&.m-cog
		width 20px
		height 20px

		&:before
			icon($i-cog)
			font-size 20px
			color $gray

	&.m-logo
		width 50px
		height 50px

		-webkit-animation heartbeat 1800ms ease 0s infinite normal
		animation heartbeat 1800ms ease 0s infinite normal
		display inline-block
		overflow hidden
		transform translate(0, 0) !important

		&:before
			content ''
			display inline-block
			background url('../images/favicon/favicon-128x128.png')
			background-size 50px 50px
			width 50px
			height 50px

.heartbeat
	&
		width 50px
		height 50px

		-webkit-animation heartbeat 1800ms ease 0s infinite normal
		animation heartbeat 1800ms ease 0s infinite normal
		display inline-block
		overflow hidden
		position relative
		text-align center

		&:before
			content ''
			display inline-block
			background url('../images/favicon/favicon-128x128.png')
			background-size 50px 50px
			width 50px
			height 50px

	&.m-m
	&.m-medium
		width 35px
		height 35px
		margin -17px 0 0 -17px

		&:before
			background-size 35px 35px
			width 35px
			height 35px

	&.m-hide
		display none

.loading_overlay
	&
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 1001

		.spin
			&
				center()
				line-height 1
				margin -10px 0 0 -10px
			&.m-logo
				margin -25px 0 0 -25px

			&.m-top_position
				top 250px
				left 50%
				t-translate(-50%, 0)

		.heartbeat
			&
				position absolute
				top 50%
				left 50%
				margin-top -25px
				margin-left -25px

	&.m-glow
		box-shadow 0 0 50px 40px rgba(white, 0.8)

	&.m-light
		background rgba(#fff, .8)

	&.m-hide
		display none

	&.m-fixed
		position fixed
