.mobile_tabs
	display block

	&--tab
		display none
		&.m-active
			display block

	&--header
		background #fff
		border-bottom 1px solid $border_color
		display flex
		flex-wrap nowrap
		align-items stretch

	&--switch
		flex 1
		border-bottom 3px solid transparent
		font-weight 600
		color $gray_dark
		height 50px
		font-size rem(14)
		white-space nowrap
		padding rem(3 5 0)
		text-align center
		&[data-tab-switch="conditions"]
		&[data-tab-switch="locations"]
			flex 1.25

		&.m-active
			color $blue_light
			border-bottom-color $blue_light



