.progress
	&.m-margin
		margin-bottom rem(30px)

	&.m-first
		margin rem(8px 0 30px)

	&
		position relative
		cf()
		display flex

		&--value
			min-width 36px
			font-size .875rem
			text-align right
			font-weight 600
			margin 0 16px 0 0

		&--bar
			width 100%
			height 10px !important
			border-radius 10px
			background #cde4e8
			flex 1

			div
				height 10px
				background #2b95a7
				border-radius 10px
				position relative
				// border 3px solid #fff
				// margin -3px 0 0 -3px
				box-shadow 0 0 0 3px
				color #fff
				box-sizing content-box
				float left
				min-width 36px
				max-width 100%
				transition width .1s ease-in

				&:before
					display none
					color #fff
					content attr(data-progress-value)
					position absolute
					right 0%
					font-size rem(11px)
					font-weight 600
					line-height 18px
					background #2b95a7
					padding 1px 0 0
					text-align center
					width 36px
					top 50%
					margin -10px 0 0 -4px
					border-radius 18px
					box-shadow 3px 0 0 0px #fff


	&.m-value &
		&--bar
			div:before
				display block

	&.m-on_blue &
		&--value
			color #fff
		&--bar
			background rgba(#fff, .4)

			div
				background #fff
				color #3db7cb

				&:before
					background #bbed56
					color #2b95a7
					box-shadow 3px 0 0 0px #3db7cb


	&.m-icons
		align-items center

	&--steps
		flex 1
		display flex
		width 100%
		align-items center
		position relative
		&:after
			z-index 10
			position absolute
			left 0
			right 0
			top 15px
			height 2px
			background rgba(255,255,255, .5)
			overflow hidden
			content ""

	&--step
		position relative
		z-index 20
		flex 1
		text-align center

		&.m-active &
			&_icon
				background #fff
			&_title
				color #fff

	&--step_icon_wrap
		width 52px
		height 38px
		background #3db7cb
		padding 0 10px 10px
		display block
		margin 0 auto
		+responsive('max-width: 980px')
			padding-bottom 3px

	&--step_icon
		width 32px
		height 32px
		border-radius 32px
		display block
		background rgba(255,255,255,.5)
		position relative
		&:before
			position absolute
			left 0
			right 0
			top 50%
			transform translateY(-50%)
			text-align center
			font-size 18px
			color #3db7cb
		&.m-personal_details
			&:before
				font-size 18px
				icon($i-user)
		&.m-verify_email
			&:before
				font-size 13px
				icon($i-envelope)
		&.m-schedule
			&:before
				font-size 22px
				icon($i-map-marker)
		&.m-services
			&:before
				font-size 18px
				icon($i-briefcase)
		&.m-payments
			&:before
				font-size 14px
				icon($i-card-bank)


	&--step_title
		font-weight 600
		line-height 1
		color rgba(255,255,255,.5)
		display block
		+responsive('max-width: 980px')
			font-size rem(13)
