.round_icon
	display inline-block
	width 31px
	height 31px
	border-radius 50%
	color $blue
	border 2px solid $blue
	text-align center
	line-height 28px
	overflow hidden
	text-indent -9999em
	font-size 0

	&:before
		font-size 18px
		text-indent 0
		position relative

	&.m-add
		&:before
			icon($i-file-add)
			left -1px
			top -1px

	&.m-edit
		&:before
			icon($i-pencil)
			font-size 15px
