.scroll_top
	display inline-block
	height 40px
	width 40px
	position fixed
	bottom 50px
	right 10px
	z-index 10
	box-shadow 0 0 10px rgba(0, 0, 0, 0.05)
	overflow hidden
	text-indent 100%
	white-space nowrap
	background rgba($blue, 0.8)
	visibility hidden
	opacity 0
	transition opacity .3s 0s, visibility 0s .3s
	z-index 21
	+responsive('min-width: 960px')
		height 60px
		width 60px
		bottom 90px

	&:before
		text-indent 0
		top 0
		left 0
		right 0
		bottom 0
		position absolute
		text-align center
		line-height 37px
		icon($i-chevron-up)
		color white
		font-size 20px
		+responsive('min-width: 960px')
			line-height 56px

	&.m-visible
	&.m-fade_out
		transition opacity .3s 0s, visibility 0s 0s

	&.m-visible
		visibility visible
		opacity 1

	&.m-fade_out
		opacity .5
