.skim_nav
	position relative
	width 54px
	height 24px
	
	.skim_btn
		&
			position absolute
			top 0
			
		&.m-prev
			left 0
			
		&.m-next
			right 0
	
.skim_btn
	&
		width 24px
		height 24px
		border 1px solid $gray
		border-radius 24px
		opacity .6
		cursor pointer
		text-indent -9999px
		position relative
		
		&:before
			icon($i-chevron-down)
			color $gray_dark
			position absolute
			top 50%
			left 50%
			font-size 12px
			text-indent 0
		
	&:hover
		opacity 1
			
	&.disabled
	&.m-disabled
		opacity .3


	&.m-prev
		
		&:before
			transform translate(-50%, -50%) rotate(90deg)
		
	&.m-next
		
		&:before
			transform translate(-50%, -50%) rotate(-90deg)
