// headlines
.headline
	&
		font-size 1.375rem

		b, strong
			font-weight 600

	&.m-xxl
		font-size 3.25rem // 52px

	&.m-xl
		font-size 2.50rem // 40px

	&.m-l
		font-size 2rem // 32px

	&.m-m
		font-size 1.125rem // 18px

	&.m-sm
		font-size 1rem // 16px

// paragraphs

.paragraph
	&
		font-size 0.875rem
		line-height 1.375rem

	&.m-tac
		text-align center

	&.m-more_space
		padding-top rem(16px)

	&.m-more_space-l
		padding-top rem(24px)

	&.m-more_space-xl
		padding-top rem(30px)

	&.m-m
	&.m-medium
		font-size 1rem
		line-height 1.75rem

	&.m-l
		font-size 1.125rem
		line-height 1.875rem


// link
.link
	&
		&
			color $blue

		&:hover
			text-decoration underline

	&.m-undeline
		&
			text-decoration underline

		&:hover
			text-decoration none


// text
.text
	&
		> p
			@extends .paragraph


		a
			@extends .link

	&.m-medium
		> p
			&
				@extends .paragraph.m-medium
				margin-top rem(20px)

			&:first-child
				margin-top 0

// info_text
.info_text
	&
		padding rem(0 0 0 26px)
		color $blue
		position relative
		line-height rem(20px)
		font-style italic
		font-weight 600
		letter-spacing 0.015rem

		&:before
			icon($i-info)
			position absolute
			top 50%
			left 0
			font-size rem(19px)
			t-translate(0, -50%)
			margin -1px 0 0

	&.m-warning
		color $red

	&.m-margin
		margin-top rem(24px)
		margin-bottom rem(8px)

	&.m-more_space
		margin-top rem(36px)
		margin-bottom rem(68px)
		margin-left rem(-12px)

.blockquote
	display block
	border-left 4px solid $blue
	font-style italic
	color #848789
	width 600px
	padding 0 0 0 18px
	cf()
	font-size rem(14px)
	line-height rem(28px)

	p
		margin 0 110px 0 0

	&--author
		float right
		clear both
		font-weight normal
