.userpic
	&
		border 1px solid $border_color
		border-radius 10px
		display inline-block
		vertical-align middle
		position relative

		&--inner
			border 2px solid #fff
			border-radius 10px
			display block
			width 100%
			height 100%
			background #ebebeb url($i 'userpic.png') center center no-repeat
			background-size 100%
			overflow hidden
			position relative

			img
				// max-width 100%
				height 100%
				text-indent -9999em
				center()

				&[src='#']
					display none

		&.m-hover &--inner
			box-shadow 0 0 3px rgba(black, .1)

			img
				opacity .9

		&--upload_btn
			&
				display block
				position absolute
				right 5px
				bottom 0
				height 50px
				width 50px
				z-index 1
				overflow hidden

				&:before
					icon($i-google_images)
					color #fff
					opacity 1
					font-size 32px
					text-shadow 0 0 10px rgba(#000, .2)
					center()

			&.m-small
				width 40px
				height 40px

				&:before
					font-size 28px

			&.m-full
				width 100%
				height 100%
				top 0
				right 0

				&:before
					top auto
					left auto
					bottom 8px
					right 14px
					transform none

			&.m-full.m-small
				&:before
					bottom 6px
					right 10px

			&:hover
				&:before
					opacity .7

		&--upload
			&
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				text-indent -9999px
				background #ebebeb
				font-size 24px

				&:before
					icon($i-cloud-upload)
					color #d2d2d2
					center()
					text-indent 0

			&:hover
				background #f5f5f5
				&:before
					color $blue

		&--delete
			&
				display none
				ibreset()
				position absolute
				width 24px
				height 24px
				line-height normal
				text-align center
				position absolute
				top -10px
				right -10px

				span
					text-indent -9999px
					width 19px
					height 19px
					border 2px solid #fff
					background $red
					center()
					border-radius 19px

					&:before
						text-indent 0
						icon($i-times)
						color #fff
						font-size 10px
						center()
			&:hover
				span
					background $red_mute

			&.m-hide
				display none !important

		&--files_input
			display block
			position absolute
			top 0
			right 0
			margin 0
			opacity 0
			font-size 200px
			direction ltr
			cursor pointer
			min-height 300px

		&--edit
			&
				display block
				position absolute
				bottom 1px
				right 57px
				height 40px
				width 35px
				z-index 2
				overflow hidden
				cursor pointer

				&:before
					icon($i-edit_image)
					color #fff
					opacity 1
					font-size 26px
					text-shadow 0 0 10px rgba(#000, .3)
					center()

			&.m-small
				width 30px
				bottom -1px
				right 48px

				&:before
					font-size 23px

			&.m-hide
				display none

			&:hover
				opacity .7

		&--rotate
			&
				display block
				position absolute
				bottom 5px
				height 40px
				width 35px
				z-index 1
				overflow hidden
				cursor pointer

				&:before
					color #fff
					opacity 1
					font-size 24px
					text-shadow 0 0 10px rgba(#000, .2)
					center()

			&.m-small
				width 30px
				bottom 0

				&:before
					font-size 22px

			&.m-left
				&
					right 95px

					&:before
						icon($i-rotate_left)

				&.m-small
					right 75px

			&.m-right
				&
					right 57px

					&:before
						icon($i-rotate_right)

				&.m-small
					right 45px

			&.m-hide
				display none

			&:hover
				opacity .7

	&:hover &

		&--delete
			display block

	&.m-circle
		border-radius 100% !important

		.userpic--inner
			border-radius 100% !important

	// border
	&.m-no_border &
		&--inner
			border none

	// rounded
	&.m-rounded
		border-radius 10px

	&.m-rounded &
		&--inner
			border-radius 10px

	// sizes

	&.m-xs
	&.m-xsmall
		width 30px
		height 30px

	&.m-48
		width 48px
		height 48px

	&.m-s
	&.m-small
		width 50px
		height 50px
		border-radius 3px

		.userpic--inner
			border-radius 3px

	&.m-m
	&.m-medium
		width 90px
		height 90px

	&.m-midlarge
		width 100px
		height 100px

	&.m-l
	&.m-large
		width 130px
		height 130px

	&.m-larger
		width 142px
		height 142px

		.userpic--inner
			border-width 3px

	&.m-xl
	&.m-xlarge
		width 200px
		height 200px

	&.m-xxl
	&.m-xxlarge
		width 224px
		height 224px

		.userpic--upload
			font-size 100px

		.userpic--delete
			span
				width 26px
				height 26px

	&.m-has_upload &
		&--inner
			&:after
				height 75px
				width 100%
				display block
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%)
				content ''
				position absolute
				bottom 0
				left 0
				opacity .2
