$axis_width = 44px
$col_width = 52px

.schedule
	+mobile()
		.fullcalendar
			border-top 1px solid $border_color
			font-family $ff_proxima


			.fc-basic-view .fc-body .fc-row
				min-height 2em

			.fc-view-container
				margin 0 -1px -1px -1px

			.fc-popover
			.fc-row
			hr
			tbody
			td
			th
			thead
				border-color: $border_color

			.fc-popover
				width 190px
				background-color #fff

			.fc-popover .fc-header
			hr
				background $background_color

			.fc-popover
				.fc-event-container
					padding 3px 2px

			.fc-popover .fc-header
				font-size 12px
				font-weight 600
				padding 5px
				border-bottom 1px solid $border_color

			.fc-popover .fc-header .fc-close
				color $gray

			.fc-today
				background #f9fafc

			.fc-toolbar
				position relative
				margin 0
				display flex
				flex-wrap wrap
				align-items center
				.fc-left
					order 10
					flex 0 0 56px
					padding rem(10)
				.fc-right
					order 20
					flex 1
					padding rem(10)
				.fc-center
					order 30
					flex 0 0 100%
					text-align center
					padding 10px
					border-top 1px solid $border_color
					h2
						margin 0
						float none
						display inline-block
						font-size rem(18)
						line-height 30px
						color $blue
						font-weight 600
						text-align center
						vertical-align middle
					.fc-button
						display inline-block
						vertical-align middle
						float none
						margin 0 10px
						border 0
						&:before
							font-size 14px


				.fc-button
					ibreset()
					display block
					height 30px
					border 1px solid $border_color
					border-radius 3px
					opacity 1
					cursor pointer
					color $gray
					&:hover
						border-color darken($border_color, 10)
						color $blue_light
					&
					&:active
						box-shadow none

					&.fc-today-button
					&.fc-month-button
					&.fc-agendaWeek-button
					&.fc-agendaDay-button
					&.fc-listWeek-button
						text-align center
						font-weight 600
						font-size rem(14)
						text-transform capitalize

					&.fc-listWeek-button
						text-indent -9999px
						&:before
							text-indent 0
							position absolute
							top 50%
							left 50%
							transform translate(-50%, -50%)
							content "Schedule"

					&.fc-today-button
						position relative
						width 36px
						height 30px
						text-indent -9999px
						&:before
							text-indent 0
							font-size 16px
							center()
							icon($i-calendar)

					&.fc-prev-button
					&.fc-next-button
						width 38px
						text-indent -9999px
						margin-left -1px
						position relative
						z-index 1
						&:before
							icon($i-chevron-down)
							position absolute
							top 50%
							left 50%
							font-size 12px
							text-indent 0
						&:hover
							z-index 10

					&.fc-prev-button
						border-bottom-right-radius 0
						border-top-right-radius 0
						&:before
							transform translate(-50%, -50%) rotate(90deg)

					&.fc-next-button
						border-bottom-left-radius 0
						border-top-left-radius 0
						&:before
							transform translate(-50%, -50%) rotate(-90deg)

				.fc-right
					font-size 0
					text-align right

					.fc-button
						display inline-block
						border-radius 0
						width 75px
						float none
						z-index 1
						position relative
						margin-left -1px
						+responsive('max-width: 380px')
							font-size rem(13)
							width 62px

						&.fc-state-active
							border 2px solid $blue_light
							color $blue_light
							z-index 10
							text-shadow none

						&:first-child
							border-radius 3px 0 0 3px
						&:last-child
							border-radius 0 3px 3px 0

			.fc-widget-header
				thead
					th
						padding 12px 4px
						color $gray
						b
							display block
							margin 0 0 5px

					.fc-axis
						width $axis_width !important
					.fc-day-header
						text-align center
						font-weight 600
						color $gray
						font-size 12px
						text-transform uppercase
						background $background_color
						vertical-align middle
						&.m-today
							color $blue

			.fc-agendaDay-view
				.fc-day-header
					padding-right 64px

			.fc-month-view
				.fc-row
					.fc-content-skeleton
					.fc-helper-skeleton
						td
							border-color $border_color

			.fc-content-skeleton,
			.fc-bgevent-skeleton
				.fc-axis
					width $axis_width !important

			.fc-widget-content
				.fc-bg
					background none
					.fc-axis
						width $axis_width !important

				.fc-slats
					td
						height 39px
						box-sizing border-box
					tbody
						.fc-time
							color $gray
							b
								font-size rem(18px)
								font-weight normal
						tr
							td.fc-axis
								line-height 19px
								font-size rem(12px)
								text-transform uppercase
								padding 0 5px
								box-sizing border-box
								width $col_width !important



						tr.fc-minor
							td.fc-axis
								border-color transparent

			.fc-day-top .fc-day-number
				font-size 13px
				float none
				text-align center
				display block
				padding-top 6px
				padding-bottom @padding-top

			.fc-day-top.m-selected .fc-day-number
				font-weight 600
				color $blue

			.fc-event
			.fc-bgevent
				opacity 1
				border-radius 0
				padding 6px
				line-height rem(14px)
				font-size rem(12px)
				cursor pointer
				overflow hidden
				.fc-title
					font-weight 600
					margin-bottom rem(5px)
					overflow hidden
					text-overflow ellipsis
					white-space nowrap
					padding-right 12px
					&.m-normal
						font-weight 400
				.fc-description
					position relative
					z-index 2
					font-size rem(12px)
				.fc-event_time
					font-size rem(12px)

				&.fc-short
					padding 3px
					.fc-title
						margin-bottom 0
					.fc-description
					.fc-event_time
						display none

				&.fc-time-grid-event
					.fc-title
						font-size rem(13)

			.fc-event
				border 0
				color #fff
				cursor pointer
				z-index 20
				.fc-time
					display none
					&.m-visible
						display inline
						font-weight 600

				&.fc-day-grid-event.m-pending
					.fc-content
						margin-right 15px

				&.m-month_full
					background $schedule_green
					text-indent -99999px
					overflow hidden
					width 6px
					height @width
					border-radius @height
					padding 0!important
					margin 4px auto

				&.m-appointment
					background $schedule_green

					&.m-pending
						background #fff
						border 1px solid $schedule_green
						border-left-width 4px
						color $gray_dark
						&:before
							icon($i-clock)
							display block
							margin-bottom 5px
							color #60d592
							font-size 14px
							line-height 1
							position absolute

						.fc-content
							text-indent 17px

					.fc-description
						&:before
							icon($i-map-marker)
							display inline-block
							margin-right 2px
							vertical-align middle
							font-size 14px
							line-height 12px

				&.m-blocked
					background rgba(#e1e7ea, .8)
					.fc-event_time
						display none

			.fc-month-view
				.fc-event
					padding 2px 6px 2px 4px



			.fc-bgevent
				z-index 1
				padding-left 8px
				color $gray
				background rgba(#d7eaf4, .5)
				box-sizing border-box

				&.m-width2
					&:first-child
						left 0
						border-right 1px solid $border_color
						right 50%
					&:last-child
						left 50%
						right 0

				&.m-width3
					width 33.33%
					border-right 1px solid $border_color
					&:first-child
						left 0
					&:nth-child(2)
						left 33.33%
					&:last-child
						left auto
						right 0
						border-right 0


			.fc-list-empty
				background #fff
				font-weight 600


			.fc-list-heading
				background $background_color
				border-color $border_color
				td
					background $background_color
				.fc-list-heading-main
				.fc-list-heading-alt
					font-weight 600
					color $gray
					font-size 13px
