.schedule

	.m-hide
		display none

	&--app
		position relative
		+mobile()
			margin 0
			padding 0

	&--calendar
		position relative
		min-height 100px

	&--header
		display flex
		flex-wrap wrap
		padding rem(10)
		align-items center
		position relative
		&--timezones
			flex 0
			text-align right
			white-space nowrap
			margin-left rem(15)
		&--inner
			flex 0 0 100%
		&--list
			height 35px
			display flex
			padding 0 30px
			text-align center
			align-items center
			justify-content center
			&--more
				display inline-block
				position relative
				&:after
					position relative
					top 1px
					icon($i-chevron-down)
					font-size 12px
					padding-left 2px
				.schedule--header.m-opened &
					text-indent -9999px
					&:after
						position absolute
						center()
						padding-left 0
						text-indent 0
						font-size 16px
						transform rotate(180deg)
						top 0

			&--dropdown
				border-top 1px solid $border_color
				background #fff
				position absolute
				left 0
				top 100%
				right 0
				width 100%
				box-shadow 0 5px 5px rgba(0,0,0,.15)
				z-index 100
				text-align left
				padding rem(0 20)
				display none
				.schedule--header.m-opened &
					display block
				&--action
					border-bottom 1px solid $border_color
					&:last-child
						border-bottom 0
					&--link
						font-size 16px
						font-weight 400
						color $gray
						text-align left
						display block
						width 100%
						height 50px
						line-height @height
						padding rem(0 0 0 36)
						position relative
						&:after
							position absolute
							width 16px
							height @width
							line-height @height
							text-align center
							left 0
							top 50%
							transform translateY(-50%)
							content ""
							font-size 16px

						&.m-google
							color $btn_google
							&:after
								icon($i-google)
						&.m-availability
							&:after
								icon($i-calendar)
						&.m-history
							&:after
								icon($i-clock)
						&.m-print
							&:after
								icon($i-print)

		&--btn_plus
			position absolute
			right 10px
			top 50%
			width 35px
			height @width
			transform translateY(-50%)
			border-radius @height
			color #fff
			background $blue_light
			text-indent -9999px
			&:before
				icon($i-plus-alt)
				font-size 19px
				text-indent 0
				center()



	&--actions
		flex 1
		.btn
			margin 0 5px 0 0
			&.m-print
				overflow hidden
				text-indent -9999em
				height 35px
				width 35px
				padding-left 0
				padding-right 0
				&:before
					icon($i-print)
					color $gray_dark
					display block
					center()
					text-indent 0
					font-size 18px

	&--info
		border 1px solid $border_color
		box-shadow 0px 0px 14px rgba(0,0,0,0.1)
		border-radius 6px
		.tooltipster-arrow
			position absolute
			top 50%
			width 10px
			height 10px
			width 0
			height 0
			pointer-events none
			border: solid transparent
			border-width 8px
			margin-top -8px
			z-index 100
			&-left
				right: -15px
				left auto
				border-left-color #fff
			&-right
				left: -15px
				border-right-color #fff
			span
				display none


	&--alert
		.alert
			width 100%
			text-align center
			color $gray_dark
			font-weight 600
			padding rem(12 20)
			p
				margin-bottom rem(5)
				&:last-child
					margin-bottom 0
			&:before
				display none
			&.m-info
				background #ceedf2
				border 1px solid #8dc4cd
			&.m-warning
				background #fff6e5
				border 1px solid #e5ba80
			&.m-error
				background #fae9e7
				border 1px solid $red_mute


	&--pending_confirm
		background orange
		width 30px
		height 30px
		display block
		position absolute
		top -15px
		right -15px
		transform rotate(45deg)
		background $schedule_orange
		cursor pointer
		i
			transform rotate(-45deg)
			color #fff
			font-weight 700
			font-style normal
			display block
			width 15px
			font-size 11px
			height @width
			line-height @height
			position absolute
			left 9px
			bottom -2px
			text-align center

	&--reschedule
		color $blue
		font-weight 600
		margin 5px 0
		font-size 12px
		border-bottom 1px solid rgba($blue, .4)
		margin-left 14px
		position relative
		&:before
			icon($i-pencil)
			position absolute
			left -14px
			top 50%
			font-size 11px
			transform translateY(-50%)

		&:hover
			color $blue_light
