.schedule_info
	background #fff
	font-size rem(14)
	line-height 1.25
	width 280px
	border-radius 6px
	overflow hidden
	.m-hide
		display none
	&--header
		position relative
		&.m-class
			padding rem(15 20 0 20)
		&.m-appointment
			padding rem(15 20)
			display flex
			align-items center
			background $blue_light
	.header
		&--userpic
			flex 0 0 40px
			background url(/assets/frontend/images/design/userpic.png) $background_color 50% 50% no-repeat
			background-size 100% 100%
			width 40px
			height 40px
			border-radius 40px
			img
				border 2px solid #fff
				width 40px
				height 40px
				display block
				border-radius 40px
		&--profile
			color #fff
			&.m-appointment
				flex 1 0 160px
				margin-left rem(10)
		&--profile_name
			display block
			font-weight 600
			font-size rem(16)
			color #fff
		&--profile_details
			display block
			font-size 14px
		&--msg
			flex 0 0 30px
			color #fff
			text-align right
			font-size 20px
			&:before
				icon($i-envelope-o)
		&--profile_url
			color #fff

	&--content
		padding rem(20 16)

	&--row
		margin rem(0 0 15 0)
		&:last-child
			margin-bottom 0
		&.m-row
			display flex
			&.m-hide
				display none
		&.m-package,
		&.m-availability
			margin-bottom rem(8)
			&:last-child
				margin-bottom 0

		&.m-confirm
			align-items center

		&.m-status
			.m-confirmed
				color $green
			.m-pending
				color $red_mute
		.lbl
			margin-bottom 3px
		.m-name
			display block
		.m-address
			font-weight 400
			margin 0
			font-size rem(14)

		dt
			flex 0 0 85px
			padding-right rem(15)
			text-align right
		dd
			flex 1
			word-break break-word

	&--alert
		display none
		margin-bottom rem(10)
		margin-top rem(-10)
		&.m-show
			display block
		.alert
			margin 0
			width auto
			padding rem(10 20)
			border-radius 3px
			text-align center
			color $gray_dark
			font-weight 600
			background #ceedf2
			border 1px solid #8dc4cd
			&:before
				display none

	&--footer
		display flex
		align-items center

	&--remove_ask
		&
			flex-grow 0
			flex-shrink 0
			margin-left auto
			padding-right 9px
			padding-left 9px
			padding-top 6px
			padding-bottom 6px
			position relative
			color $gray
			text-align right
			display inline-block
			font-size 13px
			letter-spacing 1.1px
			border 1px solid $border_color
			background $background_color
			border-radius 3px
			text-align center
			&:hover
				color $red_mute

	&--remove_confirm
		display none
		background blue
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		background rgba(255,255,255, .9)
		text-align center
		padding rem(30)
		z-index 100
		font-weight 600
		.schedule_info--content.m-remove &
			display block

	&--remove_question
		position absolute
		left 0
		right 0
		padding rem(0 20)
		top 50%
		transform translateY(-50%)
		.m-error
			color $red

	&--remove_actions
		display block
		margin-top 5px
	&--remove_yes
		color $red_mute
		padding 0 5px
	&--remove_cancel
		color $blue
		padding 0 5px


	&--availabilities
		padding rem(20 16)
	&--packages
		padding rem(20 16)
		background $background_color
		border-top 1px solid $border_color

	&--confirm
		display inline-block
		width 24px
		height @width
		border-radius @height
		color #fff
		text-indent -9999px
		position relative
		margin-right 5px
		&:before
			text-indent 0
			center()
		&.m-yes
			background-color $green
			&:before
				icon($i-check)
				font-size 16px
		&.m-no
			background-color $red
			&:before
				icon($i-times_thin)
				font-size 10px
