.schedule_details
	.popup--close
		color #fff
		border-color @color
		+mobile()
			top 16px
			right 16px
		+desktop()
			top 25px
			right 25px
		&:before
			color #fff

	&--wrap
		position relative
		line-height 1.25rem
		+mobile()
			width 100%
			height 100%
			display flex
			flex-direction column
		+desktop()
			width 560px

	&.m-select_action &
		&--wrap
			+mobile()
				width 100%
			+desktop()
				width 440px
		&--edit_form
			padding rem(50px 30px)

	&--header
		background $blue_light
		+mobile()
			padding rem(20 30 20 20)
			flex 0 0 60px
		+desktop()
			padding 29px 40px
		&.m-error
			color $red

	&--header_title
		font-size rem(18px)
		font-weight 600
		position relative
		color #fff
		p
			padding rem(14px 0 0)
			line-height rem(20px)
			margin rem(0 0 -2px)


	&--content
		flex 1
		overflow auto
		&.m-no_scroll
			overflow hidden
		cf()

	&--edit_form
		+mobile()
			padding rem(15)
		+desktop()
			padding rem(30 40)
		.form--group
			margin-bottom rem(15)
			&:last-child
				margin-bottom 0
			&.m-hide
				display none
			dt
				margin-bottom rem(5)

			.field
				input
					+mobile()
						height 47px

			.m-inline
				.label
					margin 0 5px
				.select
					width 120px
					+mobile()
						width 150px

			.datepicker
				input
					cursor pointer
					width 140px

			&.m-price
				line-height 22px
				dt,
				dd
					display inline-block
					vertical-align middle
					margin rem(0 0 0 0)
					.m-custom
						margin-left rem(10)
			&.m-appointment
				color $blue

		hr
			border 0

			height 1px
			background $border_color
			+desktop()
				margin rem(15 -40)
			+mobile()
				margin rem(15 -15)


		.field
			&.m-price
				position relative
				.field--label
					position absolute
					left 14px
					top 50%
					margin-top -11px
					color $gray_light
				input
					padding-left 30px
					width 100px

			&--inline
				font-weight 600
				color $green_dark
				&.m-price
					font-size rem(18)

	&--service
		dd
			cf()
			.select
				margin-bottom rem(10)

	&--custom_appointment_switch
		text-decoration none
		line-height 20px
		text-transform uppercase
		font-weight 600

		span
			text-transform none

	&--block_time
		&--button
			@extend .schedule_details--custom_appointment_switch
			color $gray

	&--block_time
	&--custom_appointment
	&--custom_label
		float left

	&--custom_label
		margin-right 5px
		color $green_dark
		font-weight 600
		line-height 20px
		font-size rem(12)
		text-transform uppercase
		display none

		span
			text-transform none

	&--client_name
		font-size rem(16px)
		font-weight 600
		position relative
		margin-bottom 15px
		color $blue

	&--footer
		cf()
		+desktop()
			border-top 1px solid $border_color
			padding rem(12 40)
		+mobile()
			padding rem(12)

	&--cancel
		+mobile()
			display none
	&--save
		+mobile()
			width 100%
			display block


	&--footer_error
		text-align left
		margin 0
		display none
		&.m-show
			display block

	&--footer_actions
		display flex
		align-items center
		&.m-hide
			display none
	&--actions
		+desktop()
			flex 0 0 300px
			margin-left auto
			text-align right
		+mobile()
			flex 1
	&--remove
		flex 1
		&.m-confirm
			.schedule_details--remove_confirm
				display block
			.schedule_details--remove_ask
				display none
	&--remove_confirm
		display none
		span
			display block
			font-size rem(13px)
	&--remove_ask
		color $gray
		&:hover
			color $red_mute
		&:before
			font-size 20px
			icon($i-trash)
	&--remove_yes,
	&--remove_no
		font-size rem(12px)
		text-transform uppercase
		cursor pointer
		font-weight 600
		display inline-block
		margin-right rem(10)
		&:hover
			text-decoration underline
	&--remove_yes
		color $red_mute
	&--remove_no
		color $gray

	.field
		.spin
			position absolute
			right 10px
			top 50%
			margin-top -10px
			display none
			z-index 20
		&.m-loading
			.spin
				display: block
			&:after
				position absolute
				left 0
				right 0
				top 0
				bottom 0
				content ''
				background rgba(255,255,255, .6)
				z-index 10
				display block

	&--alert,
	&--alert_custom
		display none
		margin rem(-15 0 15 0)
		&.m-show
			display block

	&--alert_custom
		position absolute
		z-index 1010
		left rem(40)
		right rem(40)
		top 50%
		transform translateY(-50%)
		.btn.m-blue
			border 1px solid $blue
			&:hover
				border-color $btn_blue_hover
			&:focus
				box-shadow none
		.btn.m-cancel
			background transparent
			border 1px solid $blue
			color $blue
			&:hover
				color $btn_blue_hover
				border-color $btn_blue_hover
			&:focus
				box-shadow none
	&--custom_continue
		margin-top rem(5px)
		cf()

	&--select_action
		+desktop()
			text-align center
			p
				font-size rem(18px)
				margin-bottom 10px
			.btn
				margin 0 5px
				min-width 142px
		+mobile()
			.btn
				margin rem(10 0)
				width 100%
				display block
