.fc-list-item.schedule_list_details
.schedule_list_table
	td
		border-color $border_color
		border-width 1px 0 0
		border-style solid
		vertical-align middle
		+desktop()
			padding-top rem(16)
			padding-bottom @padding-top
		+mobile()
			padding-top rem(10)
			padding-bottom @padding-top
	&:hover
		td
			background-color #fff
	.schedule_list_details
		&--avatar
			width 1%
			position relative
			+desktop()
				padding-right rem(18)
				padding-left rem(24)
			+mobile()
				padding-right rem(12)
				padding-left rem(18)
			span
				display block
				background darken($background_color, 10)
				+desktop()
					width 48px
					height @width
					border-radius @height
				+mobile()
					width 40px
					height @width
					border-radius @height
				&:before
					position absolute
					left 0
					top -1px
					bottom -1px
					width 5px
					background $schedule_green
					border 1px solid $schedule_green
					content ""
			img
				width 100%
				height auto
				border-radius 40px
				display block
		&--content
			&--title
				font-weight 600
				+desktop()
					font-size 18px
					margin-bottom 10px
				+mobile()
					font-size 16px
					margin-bottom 5px
				a
					color $gray_dark
					&:hover
						color $blue_light
				&:last-child
					margin-bottom 0
			&--more
				display block
			&--service
			&--location
				display inline-block
				margin-right 10px
				&:last-child
					margin-right 0
		&--actions
			width 30%
			text-align right
			position relative
			overflow hidden
			padding-right rem(10)
			padding-left @padding-right
			&--time
				text-align right
				margin-bottom 8px

				font-weight 600
				color $gray
				white-space nowrap
				+desktop()
					font-size rem(15)
				+mobile()
					font-size rem(14)
				&:last-child
					margin-bottom 0

			&--btn
				border 1px solid $border_color
				background $background_color
				width 30px
				height @width
				border-radius 3px
				position relative
				color $gray
				&:last-child
					margin-right 0
				&:hover
					border-color darken($border_color, 5)
					color $gray_dark
				span

					display block
					text-indent -9999px
					font-size 18px
					&:before
						text-align center
						text-indent 0
						position absolute
						width 20px
						height @width
						line-height @height
						content ""
						left 50%
						margin-left -10px
						top 50%
						margin-top -10px
				&.m-notify
					span:before
						icon($i-bell-o)
				&.m-message
					span:before
						icon($i-envelope-o)
				&.m-reschedule
					span:before
						icon($i-repeat)
				&.m-cancel
					span:before
						icon($i-times)

			&--confirmation
				height 28px
				padding rem(0 20)
				font-weight 600
				font-size 14px
				border-radius 3px
				&.m-confirm
					background $blue_light
					color #fff
					margin-right 5px

				&.m-decline
					border 1px solid $border_color
					background $background_color
					color $gray
		&--confirm
			&--btn
				display inline-block
				margin-left 5px
				border 1px solid $border_color
				border-radius 3px
				color #fff
				padding rem(0 30)
				font-weight 600
				&.m-yes
					border-color $blue_light
					background-color $blue_light
					color #fff
					&:hover
						background-color darken($blue_light, 5)
						border-color darken($blue_light, 5)
				&.m-no
					background $background_color
					color $gray
					&:hover
						background-color darken($background_color, 5)
						border-color darken($border_color, 5)
						color darken($gray, 5)

	&.m-pending
		.schedule_list_details--avatar
			span
				&:before
					background #fff


