.schedule_info_popup

	.m-hide
		display none

	.popup--close
		top 25px
		right 15px
		color #fff
		border-color @color
		&:before
			color #fff

	&--header
		padding 29px 30px
		text-align center
		background $blue_light
		&.m-error
			color $red

	&--header_title
		font-size rem(18px)
		font-weight 600
		position relative
		color #fff

	&--content
		padding rem(20 0)

		&--header
			display flex
			align-items center
			flex-wrap nowrap
			padding rem(0 10)
			&--userpic
				width 40px
				flex 0 0 @width
				margin-right rem(10)
				img
					display block
					width 100%
					border-radius 40px
			&--profile
				flex 1
				font-size 16px
				font-weight 600
				margin-right rem(10)

			&--msg
				width 40px
				height @width
				flex 0 0 @width
				line-height @height
				color $gray
				text-align center
				&:before
					icon($i-envelope-o)
					font-size 24px

	&--row
		padding rem(20 10)
		display flex
		align-items flex-start
		border-bottom 1px solid $border_color
		dt
			flex 0 0 85px
			margin-right rem(10)
		dd
			flex 1
			text-align right
			word-break break-word
		.m-name
			display block
		.m-address
			font-weight 400
			margin 0
			font-size rem(14)

		&.m-date
			border-bottom 0
			padding-bottom 0

		&.m-time
			p + p
				margin-top rem(16)
		&.m-confirm
			align-items center
		&.m-status
			.m-confirmed
				color $green
			.m-pending
				color $red_mute
		.lbl
			margin-bottom 3px




	&--remove_confirm
		display none
		background blue
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		background rgba(255,255,255, .9)
		text-align center
		padding rem(30)
		z-index 100
		font-weight 600
		.schedule_info--content.m-remove &
			display block

	&--remove_question
		position absolute
		left 0
		right 0
		padding rem(0 20)
		top 50%
		transform translateY(-50%)
		.m-error
			color $red

	&--remove_actions
		display block
		margin-top 5px
	&--remove_yes
		color $red_mute
		padding 0 5px
	&--remove_cancel
		color $blue
		padding 0 5px

	&--footer
		text-align center
		display flex
		padding rem(20 5)
		.btn
			flex 1
			margin 0 5px

	&--confirm
		display inline-block
		width 30px
		height @width
		border-radius @height
		color #fff
		text-indent -9999px
		position relative
		margin-right 5px
		&:before
			text-indent 0
			center()
		&.m-yes
			background-color $green
			&:before
				icon($i-check)
				font-size 16px
		&.m-no
			background-color $red
			&:before
				icon($i-times_thin)
				font-size 10px
