.careers
	padding 85px 0 100px
	&--title
		font-size rem(35px)
		font-weight 300
		text-align center
		margin rem(0 0 65px)

	&--section
		&
			margin rem(85px 0 0)
			
		&:first-child
			margin 0

	&--gallery
		padding 0 0 60px
		
		li
			display inline-block
		
		.owl-stage-outer
			border-radius 5px
			overflow hidden
		figure
			img
				display block
				border-radius 5px
				overflow hidden
				-webkit-backface-visibility hidden
				
		.owl-controls
			position absolute
			bottom -60px
			left 0
			width 100%
			
		.owl-dots
			text-align center
			height 12px
			.owl-dot
				&
					display inline-block
					width 12px
					height 12px
					border 1px solid #9f9f9f
					border-radius 12px
					margin 0 4px

				&.active
					background #3db7cb
					border-color #3db7cb
					

	&--vacancies
		padding 5px 0 0
		max-width 1000px
		margin 0 auto
		
	&--vacancies_header
		display flex
		align-items center
		font-size 1rem
		color $gray
		padding 20px 0
		
	&--vacancies_position
		min-width 48%
		padding 0 0 0 20px
		
	&--vacancies_item
		border 1px solid $border_color
		border-radius 5px
		display flex
		padding 20px 0 16px
		margin 7px 0 0
		
	&--vacancies_date
		flex 1
		
	&--vacancies_apply
		padding 0 20px 0 0
		a
			&
				display block
				padding 0 28px 0 0
				color $blue
				position relative
				
			&:hover
				color $gray

		span
			&
				display block
				width 19px
				height 19px
				border 1px solid $border_color
				position absolute
				top 50%
				right 0
				margin -10px 0 0
				border-radius 19px
			
			&:before
				icon($i-chevron-up)
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%) rotate(90deg)
				font-size 10px
				margin 0 0 0 1px
				color $gray_dark
