.home-learn
	background #fff
	padding rem(60 12)
	+responsive('min-width: 980px')
		padding rem(70 0 110)
	+responsive('min-width: 1200px')
		background #fff url(../images/design/home/professionals/2016/learn/bg.jpg) -200px 0 no-repeat
		background-size cover
		padding rem(80 0 120)
	+responsive('min-width: 1600px')
		background-position 0 0
		padding rem(100 0 150)


	&--features
		margin 0 auto
		width 100%
		max-width 470px
		+responsive('min-width: 980px')
			max-width none
			margin rem(0 30 0 0)
			display flex
			justify-content center
			width auto
		+responsive('min-width: 1200px')
			margin-right rem(40)
		+responsive('min-width: 1600px')
			margin-right rem(80)
			justify-content right

	&--feature
		width 100%
		text-align center
		+responsive('min-width: 980px')
			width 400px
		+responsive('min-width: 1200px')
			width 440px
		+responsive('min-width: 1600px')
			width 470px
		&:first-child
			margin-bottom rem(40)
			+responsive('min-width: 980px')
				margin-bottom 0
				margin-right rem(30)
			+responsive('min-width: 1200px')
				margin-left auto
				margin-right rem(30)
			+responsive('min-width: 1600px')
				margin-right rem(40)

	&--feature-title
		font-size rem(20)
		line-height 1.25
		margin-bottom 1em
		+responsive('min-width: 980px')
			font-size rem(24)

	&--feature-image
		display block
		overflow hidden
		border-radius 6px
		box-shadow 0 0 40px rgba(0,0,0,.2)
		img
			display block
			width 100%
			height auto
	&--feature-image-header
		display block
		height 26px
		padding 10px
		background #3c424d
		i
			width 6px
			height 6px
			float left
			border-radius 6px
			background #9ea1a6
			margin-right 5px
