.home-client
	&--scroll
		background url(../images/design/home/clients/tail-white.png) no-repeat center bottom
		position absolute
		width 200px
		height 50px
		position absolute
		left 50%
		margin-left -(@width/2)
		bottom -25px
		color white
		text-align center
		font-size 17px
		padding-top 8px
		z-index 2

		&:after
			font-size 25px
			icon($i-chevron-down)
			color $blue_light

		&.m-gray
			background-image url(../images/design/home/clients/tail-gray.png)
