.home-about
	display flex
	align-items center
	padding rem(60 12)
	background #333 url(../images/design/home/professionals/2016/about/bg.jpg) 50% 10% no-repeat
	background-size cover
	+responsive('min-width: 640px')
		padding rem(80 20)
	+responsive('min-width: 980px')
		padding rem(0 20)
		height 580px
	+responsive('min-width: 1200px')
		height 670px

	&--content
		padding 0 20px
		margin 0 auto
		text-align center
		max-width 440px
		+responsive('min-width: 980px')
			max-width none

	&--description
		color $gray
		line-height 1.45
		text-align center
		font-size rem(14)
		margin-bottom rem(24)
		+responsive('min-width: 640px')
			font-size rem(15)
		+responsive('min-width: 980px')
			max-width none
			font-size rem(16)
			margin-bottom rem(36)
			text-align left
		+responsive('min-width: 1200px')
			font-size rem(18)
			margin-bottom rem(50)

	&--video_link
		$play_button_size = 64px
		$play_button_border_size = 15px
		$play_button_font_size = 32px

		display inline-block
		color #fff
		position relative
		font-size rem(20)
		font-weight 400
		padding-top $play_button_size + $play_button_border_size * 2 + 10
		span
			display block
			opacity .5
		&:before
			icon($i-play-r)
			position absolute
			left 50%
			transform translateX(-50%)
			top 0
			display block
			text-align center
			color #3c424d
			background #b6c5cb
			z-index 20

			top $play_button_border_size
			width $play_button_size
			height $play_button_size
			border-radius $play_button_size
			line-height $play_button_size
			padding-left 3px
			font-size $play_button_font_size

		&:after
			content ""
			position absolute
			left 50%
			transform translateX(-50%)
			top 0
			background #b6c5cb
			opacity .2
			z-index 10
			width $play_button_size + $play_button_border_size * 2
			height $play_button_size + $play_button_border_size * 2
			border-radius $play_button_size + $play_button_border_size * 2
		&:hover
			&:before
				background lighten(#b6c5cb, 10)
			&:after
				opacity: .4

		+responsive('min-width: 980px')
			$play_button_size = 64px
			$play_button_border_size = 15px
			$play_button_font_size = 32px
			font-size rem(18)
			font-weight 400
			padding-top $play_button_size + $play_button_border_size * 2 + 10
			&:after
				width $play_button_size + $play_button_border_size * 2
				height $play_button_size + $play_button_border_size * 2
				border-radius $play_button_size + $play_button_border_size * 2
			&:before
				top $play_button_border_size
				width $play_button_size
				height $play_button_size
				border-radius $play_button_size
				line-height $play_button_size
				padding-left 3px
				font-size $play_button_font_size


		+responsive('min-width: 1200px')
			$play_button_size = 84px
			$play_button_border_size = 15px
			$play_button_font_size = 40px

			font-size rem(20)
			padding-top $play_button_size + $play_button_border_size * 2 + 10
			&:after
				width $play_button_size + $play_button_border_size * 2
				height $play_button_size + $play_button_border_size * 2
				border-radius $play_button_size + $play_button_border_size * 2
			&:before
				top $play_button_border_size
				width $play_button_size
				height $play_button_size
				border-radius $play_button_size
				line-height $play_button_size
				padding-left 5px
				font-size $play_button_font_size
