.home-search

	width 100%
	display flex
	justify-content center
	align-items center
	flex 1
	color #fff
	position relative
	background #206c86 url(../images/design/home/clients/cover.jpg) top center no-repeat
	background-size cover
	padding rem(55 0 40)
	+responsive('max-width: 460px')
		padding rem(25 0)

	&--title
		text-align center
		line-height 1.1
		margin 0 auto 10px
		letter-spacing -0.01em
		padding 0 10px
		font-size rem(40px)
		font-weight bold
		text-shadow 1px 2px 9px rgba(4,65,76,.18)
		+responsive('min-width: 350px')
			font-size rem(45px)
			margin 0 auto 20px
		+responsive('min-width: 460px')
			font-size rem(50)
		+responsive('min-width: 860px')
			font-size rem(60)

		span
			white-space nowrap

	&--description
		font-size rem(22)
		letter-spacing -0.01em
		margin-bottom 25px
		padding 0 10px
		text-align center
		text-shadow 1px 2px 9px rgba(4,65,76,.18)
		+responsive('min-width: 350px')
			font-size rem(26)
		+responsive('min-width: 460px')
			font-size rem(32)
			margin-bottom 43px

	&--inner
		width 100%
		position relative
		z-index 10
		margin 0 !important

	&--form
		background rgba(white, .25)
		padding 15px
		max-width 420px
		margin 0 auto 20px
		position relative
		+responsive('min-width: 420px')
			border-radius 5px
		+responsive('min-width: 769px')
			border-radius 0
			max-width none
			margin 0 0 60px
		+responsive('min-width: 980px')
			padding 25px 20px
		+responsive('min-width: 1180px')
			border-radius 5px
		+responsive('min-width: 1200px')
			padding 33px 30px

		&--inner
			position relative
			height auto
			+responsive('min-width: 769px')
				height 75px

			// Duplicated animations to prevent overlapping
			@keyframes overflow
				0%
					overflow hidden
				99%
					overflow hidden
				100%
					overflow visible

			@keyframes overflow2
				0%
					overflow hidden
				99%
					overflow hidden
				100%
					overflow visible

			&.by_name
				animation overflow .3s

				.home-search--form--fieldset
					opacity 0
					visibility visible
					+responsive('min-width: 769px')
						transform translateY(-100%)

				.home-search--form--fieldset.m-service
					+responsive('max-width: 769px')
						height 0
						padding 0
						margin 0
						overflow hidden

				.home-search--form--fieldset.m-name
					opacity 1

			&.by_service
				animation overflow2 .3s

				.home-search--form--fieldset.m-name
					+responsive('max-width: 769px')
						height 0
						padding 0
						margin 0

		&--fieldset
			padding-bottom 10px
			transition opacity .3s, transform .3s, visibility .3s
			position relative
			z-index 4
			+responsive('min-width: 769px')
				height 70px

			&.m-name
				opacity 0
				visibility hidden

				.form--group
					&
						+responsive('min-width: 769px')
							flex 0 200px

					&.m-wide
						+responsive('min-width: 769px')
							flex 0 600px

		&--label
			display block
			font-size 16px
			margin-right 32px
			margin-bottom 15px
			+responsive('min-width: 769px')
				float left

		&--row
			+responsive('min-width: 769px')
				display flex
				flex-direction row

			&.m-inline
				display block
				cf()

				.form--group
					float left
					margin-right 15px
					+responsive('min-width: 420px')
						margin-right 32px

			&.m-type
				padding-left 4px
				margin-bottom 5px
				+responsive('min-width: 769px')
					margin-bottom 5px

				.radio.m-green
				.checkbox.m-green
					padding-left 24px
					+responsive('min-width: 420px')
						padding-left 28px

					.radio--i
						width 18px
						height 18px
						+responsive('min-width: 420px')
							width 19px
							height 19px

						&:before
							width 6px
							height 6px
							+responsive('min-width: 420px')
								width 7px
								height 7px

				.radio--label
				.checkbox--label
					font-size 14px
					line-height 16px
					+responsive('min-width: 420px')
						font-size 16px

		&--switch
			cursor pointer
			min-width 160px
			border-radius 5px

			span.m-service
				display none
			input[type="checkbox"]
				position absolute
				left -99999em
				visibility hidden

				&:checked
					& ~ span.m-name
						display none
					& ~ span.m-service
						display block

		&--btn
			font-size rem(24)
			font-weight bold
			padding 15px 0
			border-radius 5px
			height 58px
			min-width 90px
			+responsive('max-width: 1100px')
				padding-left 10px
			+responsive('max-width: 980px')
				font-size rem(22)
			+responsive('max-width: 860px')
				padding-right 10px
				font-size rem(20)

			&.m-arrow:after
				margin-top -1px
				font-size rem(23)
				margin-left 13px
				font-weight bold
				+responsive('max-width: 980px')
					display none
				+responsive('max-width: 769px')
					display inline-block


		.form
			&--group
				&
					margin rem(0 0 12 0)
					&:last-child
						margin-bottom 0
					&.m-thin
						flex-grow 0
						+responsive('min-width: 860px')
							flex-grow 1
						dt
							display none
					+responsive('min-width: 769px')
						flex 1
						margin 0 0 0 10px
						&.m-thin
							dt
								display block
						&:first-child
							margin 0
					dt
						font-size rem(16)
						font-weight 600
						margin rem(0 0 10)
						+responsive('min-width: 769px')
							font-weight 400
						+responsive('min-width: 1200px')
							font-size rem(16)
							margin rem(0 0 20)

					.field
						&.m-loading
							&:after
								icon($i-cog)
								width 20px
								height 20px
								color $gray_light
								animation loading-spin 2s infinite linear
								font-size 20px
								position absolute
								right 10px
								top 17px
								+responsive('min-width: 980px')
									top 21px
								+responsive('min-width: 1200px')
									top 23px

						input
							position relative
							border-radius 5px
							padding rem(23px 20px)
							font-size rem(16)
							height 58px

						&.m-date
						&.m-location
						&.m-search
							&:before
								icon($i-calendar_grid)
								color $gray
								position absolute
								left 6px
								top 50%
								font-size 18px
								t-translate(0, -50%)
								margin-top -1px
								z-index 2
								+responsive('min-width: 860px')
									font-size 20px
									left 14px

							input
								padding-left rem(32px)
								+responsive('min-width: 860px')
									padding-left rem(40)

						&.m-date
							&:after
								display none

						&.m-location
							&:before
								icon($i-map-marker)

						&.m-search
							&:before
								icon($i-search)

	&--scroll
		position absolute
		width 200px
		position absolute
		left 50%
		margin-left -(@width/2)
		bottom 6px
		color white
		text-align center
		font-size 17px
		z-index 2

		i
			font-style normal
			display block
			margin-bottom 10px

		&:after
			font-size 25px
			icon($i-chevron-down)
