.home-steps
	padding 60px 0 50px
	+responsive('max-width: 980px')
		padding 40px 0
	+responsive('max-width: 680px')
		padding-bottom 12px
	&--list
		text-align center
		font-size 0
		counter-reset list
		max-width 1160px
		margin 0 auto

	&--item
		font-size 1rem
		display inline-block
		width 33.3%
		position relative
		padding 0 20px
		vertical-align top
		+responsive('max-width: 1100px')
			padding 0 10px
		+responsive('max-width: 680px')
			display block
			width 100%
			max-width 320px
			margin 0 auto 60px

		&:before
			display block
			content ''
			margin 0 auto 22px
			background-repeat no-repeat
			background-size contain
			height 65px
			+responsive('max-width: 680px')
				margin-bottom 0

		&.m-join
			&:before
				background-image url(../images/design/home/professionals/2016/hero/easy-to-use.svg)
				width 64px
				position relative
				left 5px

		&.m-get_booked
			&:before
				background-image url(../images/design/home/professionals/2016/hero/powerful-features.svg)
				width 62px
				+responsive('max-width: 680px')
					width 48px

		&.m-enjoy
			&:before
				background-image url(../images/design/home/professionals/2016/hero/save-time.svg)
				width 60px
				+responsive('max-width: 680px')
					width 45px
			+responsive('max-width: 680px')
				margin-bottom 0
		&:after
			display block
			content ''
			width 86px
			height 36px
			background-size contain
			background-image url(../images/design/home/professionals/2016/hero/step_arrow.png)
			background-repeat no-repeat
			position absolute
			bottom 12px
			left -35px
			+responsive('max-width: 1100px')
				display none
				content none
			+responsive('max-width: 680px')
				display block
				content ''
				left auto
				right 50px
				top -50px
				transform rotate(80deg) scaleY(-1)

		&:first-child
			&:after
				content none
				display none

		&:nth-child(2n+1)
			&:after
				transform scaleY(-1)
				top 72px
				left -40px
				+responsive('max-width: 680px')
					transform rotate(100deg) scaleY(1)
					top -51px
					left 50px

		&_title
			color  #333333
			font-size 1.563rem
			font-weight 600
			line-height 0.8
			margin-bottom rem(12px)
			+responsive('max-width: 860px')
				font-size 20px

		&_text
			margin 0 auto 10px
			color  #555555
			font-size 1.063rem
			font-weight 400
			line-height 1.235
			+responsive('max-width: 1100px')
				max-width 240px
			+responsive('max-width: 860px')
				font-size 16px

			&:after
				counter-increment list
				display block
				width 75px
				height 31px
				background-image url(../images/design/home/professionals/2016/hero/step_label.png)
				background-size contain
				background-repeat no-repeat
				content counter(list)
				font-size 17px
				padding 6px 6px 5px 48px
				margin 24px auto 0
				+responsive('max-width: 680px')
					font-size 14px
					margin-top 10px
					width 63px
					height 31px
					padding 5px 6px 5px 40px
