.home-get-started
	text-align center
	+responsive('min-width: 768px')
		padding rem(60px 0 80px)

	&.m-client
		padding 40px 0 50px

	&--heading
		color $black_gray
		font-size 30px
		margin-bottom 15px

	&--description
		max-width 420px
		margin 0 auto 30px
		font-size 16px
		line-height 1.3

	&--cols
		+responsive('min-width: 768px')
			display flex
		+responsive('min-width: 1200px')
			padding rem(0 70)
	&--col
		padding rem(60 10)
		position relative
		+responsive('min-width: 768px')
			padding rem(20 12)

		&:first-child
			// border-bottom 1px solid $border_color
			&:after
				background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAG1BMVEUAAAA8Qk08Qk08Qk08Qk08Qk08Qk08Qk08Qk2v/4o3AAAACHRSTlMAUO/fYEAwEPHIpp0AAAAySURBVAjXY2BgCGOAAKcOQzDN0tHRIQBiMAEZBiBGBJDRDmfApVAUMwgBtUNAGgP5AAClpw5d/wdZ5wAAAABJRU5ErkJggg==') repeat-x
				background-size 8px 8px
				content ''
				width 280px
				height 5px
				display block
				position absolute
				bottom 0
				left 50%
				margin-left -140px
				+responsive('min-width: 500px')
					width 400px
					margin-left -200px
				+responsive('min-width: 768px')
					right 0
					left auto
					top 0
					width 5px
					height 100%
					background-repeat repeat-y

		+responsive('min-width: 768px')
			padding rem(20 20)
			flex 1
			width 50%
			&:first-child
				&:after
					background-repeat repeat-y


	&--title
		font-size rem(20)
		margin-bottom 30px
		color $black_gray
		font-weight 600
		+responsive('min-width: 500px')
			font-size rem(24)
		+responsive('min-width: 768px')
			font-size rem(30)

	&--icon
		display block
		margin 0 auto
		height 85px
		font-size 80px
		margin-bottom rem(15)
		+responsive('min-width: 500px')
			height 105px
			font-size 100px
			margin-bottom rem(30)

		&.m-bulb
			&:before
				icon($i-lightbulb)
				color $blue

		&.m-rocket
			&:before
				icon($i-rocket_lined)
				color $red

	&--btn
		&.m-xl
		&.m-xlarge
			white-space normal
			padding 21px 50px 20px 20px
			font-size 17px
			font-weight bold
			border-radius 5px
			line-height 1.2
			text-align left
			height auto
			max-width 260px
			+responsive('min-width: 500px')
				height 67px
				padding 10px 17px
				line-height 50px
				max-width 100%

			&.m-arrow
				&:after
					position absolute
					right 15px
					top 50%
					font-weight bold
					font-size 23px
					margin-top -21px
					+responsive('min-width: 500px')
						position static
						margin-left 13px
						margin-top -4px

	&--call-me-popup
		.popup--container
			+responsive('min-width: 768px')
				width 380px
		.popup--content
			padding rem(20)
			+responsive('min-width: 768px')
				padding rem(40)

	&--call-me-form
		.home-get-started--call-me-popup &
			display block
		.home-get-started--call-me-popup.m-success &
			display none
		.hs-form
			.field
				display block
				margin-bottom rem(14)
				input.error
					border-color $error
					color $red
					+placeholder()
						color $red

			label
				display none

			.actions
				input
					cursor pointer


	&--call-me-success
		text-align center
		.home-get-started--call-me-popup &
			display none
		.home-get-started--call-me-popup.m-success &
			display block
		&_icon
			display block
			line-height 1
			&:before
				icon($i-check-o)
				color $green
				font-size 96px
				display inline-block


		&_title
			font-size rem(32)
			font-weight 600
			margin rem(16 0 32)
