.home-pros
	width 100%
	position relative
	background $background_color url(../images/design/noise.png) top center

	&:after
		position absolute
		width 100%
		height 330px
		content ''
		display block
		bottom 0
		left 0
		background linear-gradient(to top, rgba(20,20,20,.13), rgba(255,255,255,0))
