.home-features
	padding 50px 0
	background white

	&--list
		display flex
		justify-content space-between
		font-size 0
		+responsive('max-width: 980px')
			display block
			text-align center

	&--item
		float left
		margin 0 10px
		text-align center
		max-width 240px
		font-size 17px
		+responsive('max-width: 980px')
			float none
			display inline-block
			vertical-align top
			margin 0 5% 50px
		+responsive('max-width: 640px')
			&:last-child
				margin-bottom 0

	&--item_title
		font-size 25px
		font-weight 600
		margin-bottom 15px

		&:after
			display block
			height 75px
			width 100px
			background-position center center
			background-repeat no-repeat
			content ''
			margin 20px auto 20px
			color $blue_light
			font-size 70px

		&.m-bookings
			&:after
				icon($i-feature_calendar)

		&.m-services
			&:after
				icon($i-feature_phone)
				font-size 74px
				padding-right 30px

		&.m-reviews
			&:after
				icon($i-feature_review)
				font-size 74px

		&.m-offers
			&:after
				icon($i-feature_coupons)
				font-size 67px
				padding-right 20px

	&--item_text
		font-size 17px
		color $gray
		line-height 1.2
		letter-spacing -0.01em
