.home_platform
	background-color $blue_light
	color white
	text-align center
	position relative

	&--shape
		display block
		position absolute
		background url(../images/design/home/professionals/2016/hero/arrow_shape.png) no-repeat center bottom
		width 98px
		height 35px
		top -35px
		left 50%
		margin-left (-@width/2)

	&:before
	&:after
		position absolute
		height 35px
		background-color $blue_light
		width 50%
		border-top 6px solid white
		top -35px
		content ''
		display block

	&:before
		left -49px

	&:after
		right -49px

	&--content
		padding 65px 0
		+responsive('max-width: 1240px')
			padding 65px 20px
		+responsive('max-width: 900px')
			padding 40px 20px 30px
		+responsive('max-width: 380px')
			padding 30px 10px 10px

	&--heading
		font-size rem(34px)
		margin-bottom 60px
		line-height 1.2
		+responsive('max-width: 750px')
			font-size rem(28px)
		+responsive('max-width: 550px')
			margin-bottom 40px
		+responsive('max-width: 380px')
			font-size rem(25px)

		b
			font-weight 600

	&--list
		font-size 0
		+responsive('max-width: 900px')
			padding 0 15%
		+responsive('max-width: 750px')
			padding 0 3%
		+responsive('max-width: 550px')
			padding 0

	&--list_item
		font-size 19px
		margin 0 1.5% 20px
		width 125px
		display inline-block
		vertical-align top
		line-height 1.1
		+responsive('max-width: 960px')
			margin 0 1% 20px
		+responsive('max-width: 900px')
			margin 0 3% 40px
		+responsive('max-width: 550px')
			margin 0 2% 40px

		&:before
			display block
			height 62px
			width 62px
			border-radius 50%
			border 2px solid white
			margin 0 auto 20px
			line-height 58px
			font-size 30px
			content ''

		&.m-booking
			&:before
				icon($i-booking)

		&.m-payment
			&:before
				icon($i-cards_pack_lined)
				font-size 28px
				line-height 56px

		&.m-calendar
			&:before
				icon($i-calendar_checked)
				font-size 29px
				line-height 55px

		&.m-messages
			&:before
				icon($i-messaging)
				font-size 32px
				line-height 61px
				padding-right 2px

		&.m-reminders
			&:before
				icon($i-bell_roundy-o)
				font-size 31px
				line-height 57px

		&.m-marketing_tools
			&:before
				icon($i-marketing_tools)
				font-size 25px
				line-height 60px
				padding-left 3px
