.home-form
	background $background_color
	padding rem(30 0)
	+responsive('min-width: 640px')
		padding rem(40 0)
	+responsive('min-width: 980px')
		padding rem(50 0)
	+responsive('min-width: 1200px')
		padding rem(60 0)

	&.m-beta
		padding rem(45 0)
		+responsive('min-width: 640px')
			padding rem(65 0)
		+responsive('min-width: 980px')
			padding rem(80 0)
		+responsive('min-width: 1200px')
			padding rem(90 0)

	&--inner
		+responsive('min-width: 640px')
			display flex
			align-items center

	&--content
		margin-bottom rem(30)
		text-align center
		+responsive('min-width: 640px')
			text-align left
			width 50%
			margin-right auto
			margin-bottom 0
		+responsive('min-width: 1200px')
			width 47%
			margin-right auto

	&--form
		+responsive('min-width: 640px')
			width 44%
			margin-left auto
		+responsive('min-width: 1200px')
			width 43%
			margin-left auto

	&--title
		font-weight 400
		font-size rem(22)
		margin-bottom rem(18)
		+responsive('min-width: 640px')
			font-size rem(24)
			margin-bottom rem(22)
		+responsive('min-width: 980px')
			font-size rem(28)
			margin-bottom rem(26)
		+responsive('min-width: 1200px')
			font-size rem(32)
			margin-bottom rem(30)






		&.m-beta
			text-transform uppercase
			font-weight 300
			font-size rem(28)
			margin-bottom rem(30)
			+responsive('min-width: 980px')
				font-size rem(34)
				margin-bottom rem(36)
			+responsive('min-width: 1200px')
				font-size rem(36)
				margin-bottom rem(40)

			strong
				position relative
				font-style italic
				font-weight 600
				&:after
					content ""
					position absolute
					left 0
					bottom -12px
					right 0
					height 10px
					width 95px
					left 50%
					margin-left -48px
					background url(../images/design/home/clients/brush.png) 0 0 no-repeat
					background-size 95px 10px
	&--description
		font-size rem(14)
		line-height 1.45
		+responsive('min-width: 640px')
			padding-right 15%
		+responsive('min-width: 980px')
			font-size rem(16)
		+responsive('min-width: 1200px')
			font-size rem(18)
		p
			margin-bottom 1em
			&:last-child
				margin-bottom 0

	.hs-form
		position relative
		.field
			width 100%
			display block
			margin-bottom rem(10)
			label
				display none
			input,
			textarea
				font-size rem(14)
				+responsive('min-width: 980px')
					font-size rem(16)
			textarea
				height 200px
				padding-bottom 80px

		.actions
			text-align right
		.btn
			background #fff
			cursor pointer
			border 2px solid $blue_light
			color $blue_light
			font-size rem(14)
			+responsive('min-width: 980px')
				font-size rem(16)
			&:hover
				color $blue
				border-color $blue
			&:active
				box-shadow none
			&.m-top
				position absolute
				z-index 20
				bottom 20px
				right 20px



@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
	.home-form
		&--title
			&.m-beta
				strong
					&:after
						background-image url(../images/design/home/clients/brush@2x.png)
