.home-benefits
	background #fff
	+responsive('min-width: 980px')
		background #fff url(../images/design/home/clients/lady.jpg) 0 50% no-repeat
		background-size 811px 650px
	+responsive('min-width: 1200px')
		background-size 1040px 833px

	&--inner
		padding rem(40 0)
		+responsive('min-width: 640px')
			padding rem(50 0)
		+responsive('min-width: 980px')
			padding 0
			display flex
			align-items center
			height 650px
		+responsive('min-width: 1200px')
			height 833px
	&--content
		+responsive('min-width: 980px')
			width 50%
			margin-left auto
	&--list
		display block
	&--item
		position relative
		width 100%
		max-width 420px
		text-align center
		margin 0 auto rem(30)
		+responsive('min-width: 980px')
			width auto
			margin 0
			text-align left
			max-width none
		&:last-child
			margin-bottom 0
		&:before
			content ""
			display block
			margin 0 auto rem(10)
			width 70px
			height 70px
			background-repeat no-repeat
			background-position 50% 50%
			background-size 100% 100%

		+responsive('min-width: 980px')
			margin-bottom rem(60)
			padding-left 70px
			&:before
				position absolute
				left -5px
				top -20px
		+responsive('min-width: 1200px')
			margin-bottom rem(70)
			padding-left 80px
		&.m-promoting-natural
			&:before
				background-image url(../images/design/home/clients/svg/promoting-natural.svg)
		&.m-client-benefits
			&:before
				background-image url(../images/design/home/clients/svg/client-benefits.svg)
		&.m-top-pros
			&:before
				background-image url(../images/design/home/clients/svg/top-pros.svg)

	&--title
		font-size rem(18)
		margin-bottom rem(20)
		font-weight 600
		+responsive('min-width: 980px')
			font-size rem(20)
			margin-bottom rem(22)
		+responsive('min-width: 1200px')
			font-size rem(22)
			margin-bottom rem(26)

	&--description
		font-size rem(14)
		line-height 1.45
		+responsive('min-width: 980px')
			font-size rem(16)
		+responsive('min-width: 1200px')
			font-size rem(18)



