.home_hero
	position relative
	background white

	a
		color white

	&--in
		max-width 1270px
		margin 0 auto
		position relative
		cf()
	&--btn-choose-your-plan
		display inline-block
		background #9ec754
		color white
		line-height normal
		font-weight 600
		text-align center
		white-space nowrap
		+responsive('min-width: 1400px')
			font-size 24px
			padding-top 23px
			padding-bottom 20px
			padding-right 25px
			padding-left 20px
			border-radius 40px
			letter-spacing -0.01em
		+responsive('max-width: 1400px')
			font-size px2vw(24, 1400)
			padding-top px2vw(23, 1400)
			padding-bottom px2vw(20, 1400)
			padding-right px2vw(25, 1400)
			padding-left px2vw(20, 1400)
			letter-spacing -0.01em
			border-radius 40px
		+responsive('max-width: 750px')
			font-size px2vw(12, 450)
			padding-top px2vw(8, 450)
			padding-bottom px2vw(8, 450)
			padding-right px2vw(12, 450)
			padding-left px2vw(14, 450)
			letter-spacing -0.01em
			border-radius 25px
		+responsive('max-width: 375px')
			font-size px2vw(12, 320)
			padding-top px2vw(8, 320)
			padding-bottom px2vw(8, 320)
			padding-right px2vw(12, 320)
			padding-left px2vw(14, 320)
			letter-spacing px2vw(1.19, 1400)
			border-radius 25px
		&:after
			display inline-block
			vertical-align middle
			content "\EA35"
			font-family "iconfont"
			font-weight normal
			-webkit-font-smoothing antialiased
			-moz-osx-font-smoothing grayscale
			+responsive('min-width: 1400px')
				font-size 28px
				margin-left 10px
			+responsive('max-width: 1400px')
				font-size px2vw(28, 1400)
				margin-left px2vw(10, 1400)
			+responsive('max-width: 750px')
				font-size px2vw(10, 320)
				margin-left px2vw(4, 320)
	&--slides
		overflow hidden
		&.owl-loaded
			height auto

		&.owl-loaded &_item
			width 100%

		&_item
			background-size cover
			background-position center top
			background-repeat no-repeat
			+responsive('min-width: 1400px')
				min-height 518px
			+responsive('max-width: 1400px')
				min-height 518px
			+responsive('max-width: 1280px')
				min-height 480px
				background-position 63% top
			+responsive('max-width: 1000px')
				min-height 420px
			+responsive('max-width: 900px')
				min-height 417px
			+responsive('max-width: 750px')
				min-height 317px
			+responsive('max-width: 560px')
				min-height 280px
				display flex
				align-items center
				padding-bottom 11.06vw
			+responsive('max-width: 450px')
				min-height 250px
				padding-left px2vw(10.656, 320)
				padding-right px2vw(10.656, 320)
			+responsive('max-width: 380px')
				min-height 224px
				padding-bottom px2vw(16.842, 320)

			&:before
				+responsive('max-width: 960px')
					position absolute
					width 100%
					height 100%
					background white
					content ''
					display none
					top 0
					left 0
					opacity .4
				+responsive('max-width: 860px')
					display block
					opacity .6
				+responsive('max-width: 480px')
					opacity .75
				+responsive('max-height: 580px' and 'max-width: 380px')
					opacity .75

			&.m-intro
				+responsive('max-width: 1280px')
					background-position 40% top
				+responsive('max-width: 1220px')
					background-position 50% top
				+responsive('max-width: 1090px')
					background-position 63% top
				+responsive('max-width: 640px')
					background-position 50% top
				+responsive('max-width: 480px')
					background-position 48% top

			&.m-booking
				background-color #fefdfb
				+responsive('max-width: 1024px')
					background-position 73% top
				+responsive('max-width: 480px')
					background-position 40% top

			&.m-payments
				background-color #fbfaf9
				+responsive('max-width: 1100px')
					background-position 70% top
				+responsive('max-width: 1024px')
					background-position 77% top
				+responsive('max-width: 480px')
					background-position 40% top

			&.m-messaging
				+responsive('max-width: 1100px')
					background-position 70% top
				+responsive('max-width: 1024px')
					background-position 77% top
				+responsive('max-width: 480px')
					background-position 40% top

			&.m-sales
				background-color #fffafe
				+responsive('max-width: 1280px')
					background-position 25% top

				.home_hero--text
					+responsive('max-width: 1200px')
						text-shadow 0 0 6px #fffafe

				&:before
					+responsive('max-width: 960px')
						display block

		.animated
			animation-duration 500ms

		.owl-prev
		.owl-next
			width 90px
			height 200px
			max-height 100%
			position absolute
			cursor pointer
			top 50%
			transform translateY(-50%)
			right 0
			overflow hidden
			text-indent -9999em
			font-size 0
			margin-top -40px
			+responsive('max-width: 1024px')
				width 60px
			+responsive('max-width: 450px')
				width 40px

			&:before
				icon($i-angle-right-thin)
				position absolute
				width 50px
				height 60px
				text-align center
				text-indent 0
				font-size 45px
				line-height 60px
				display block
				left 50%
				top 50%
				transform translate(-50%, -50%)
				transition all .2s
				color black
				opacity .4
				+responsive('max-width: 450px')
					opacity .2
					width 100%
					font-size 35px

			&:hover
				&:before
					opacity .7
					+responsive('max-width: 450px')
						opacity .5

		.owl-prev
			left 0
			right auto

			&:before
				icon($i-angle-left-thin)

	&--icon
		position absolute
		display block
		background-position 0 0
		background-repeat no-repeat
		background-size contain
		+responsive('max-width: 860px')
			display none

		&.m-booking
			background-image url(../images/design/home/professionals/2016/hero/booking_icons.png)
			width 268px
			height 217px
			top 32px
			left -35px
			+responsive('max-width: 1024px')
				left 10%

		&.m-payments
			background-image url(../images/design/home/professionals/2016/hero/payments_icons.png)
			width 202px
			height 157px
			top 5px
			left 465px
			+responsive('max-width: 1280px')
				left 25%
			+responsive('max-width: 1100px')
				left 22%
			+responsive('max-width: 1024px')
				left 12%

		&.m-messaging
			background-image url(../images/design/home/professionals/2016/hero/messaging_icons.png)
			width 202px
			height 159px
			top 15px
			left 420px
			+responsive('max-width: 1280px')
				left 30%
			+responsive('max-width: 1100px')
				left 25%
			+responsive('max-width: 1024px')
				left 13%

	&--device
		position absolute
		top 45px
		left 1.5%
		max-width 255px
		+responsive('max-width: 1220px')
			left -10px
		+responsive('max-width: 1180px')
			max-width 225px
			top 85px
		+responsive('max-width: 1090px')
			display none

		img
			max-width 100% !important

	&--content
		float right
		max-width 680px
		width 55%
		position relative
		text-align center
		color $black_gray
		padding-top 80px
		+responsive('max-width: 1400px')
			width 50%
		+responsive('max-width: 1280px')
			width 52%
		+responsive('max-width: 1200px')
			width 56%
		+responsive('max-width: 1100px')
			width 60%
		+responsive('max-width: 1024px')
			width 65%
		+responsive('max-width: 860px')
			width 100%
			margin 0 auto
			padding-top 50px
			float none
		+responsive('max-width: 750px')
			padding-top 40px
		+responsive('max-width: 560px')
			padding-top 28px
		+responsive('max-height: 580px' and 'max-width: 380px')
			padding-top 28px

	&--heading
		font-size rem(38px)
		font-weight 300
		line-height 1.3
		margin-bottom 32px
		font-weight 600
		+responsive('max-width: 1280px')
			font-size 35px
			margin-bottom 25px
		+responsive('max-width: 1100px')
			font-size 32px
		+responsive('max-width: 750px')
			font-size 28px
			max-width 480px
			margin 0 auto 20px
			line-height 1.2
		+responsive('max-width: 450px')
			font-size 24px
			line-height 1.2
			margin 0 auto 2px
		+responsive('max-width: 380px')
			font-size 18px

	&--text
		font-weight 600
		font-size 26px
		margin-bottom 35px
		line-height 1.5
		color $gray_darker
		+responsive('max-width: 1280px')
			font-size 23px
		+responsive('max-width: 1100px')
			font-size 21px
		+responsive('max-width: 750px')
			font-size 18px
			line-height 1.3
			margin-bottom 25px
		+responsive('max-width: 450px')
			font-size 16px

		b
			font-weight 700

	&--risk-free-up-text
		color  #464646
		font-size 1.187rem
		font-weight 400
		line-height 0.954
		margin-top rem(20px)
		text-align center
		+responsive('max-width: 750px')
			font-size 14px
			margin-top rem(5px)

	&--cta
		display inline-block
		text-align center
		padding-left 5px
		+responsive('max-width: 680px')
			float none
			display block
			clear both
			padding-top 20px
			padding-left 0
		+responsive('max-width: 550px')
			padding-top 0

		.btn_round.m-xl
		.btn_round.m-xlarge
			+responsive('max-width: 450px')
				font-size 20px
				padding-top 14px
				padding-bottom 14px
			+responsive('max-width: 380px')
				font-size 18px

	&--cta_text
		font-size 19px
		padding-top 21px
		letter-spacing 0
		+responsive('max-width: 680px')
			padding-top 15px
			font-size 17px
		+responsive('max-width: 750px')
			font-size 15px

	&--nav
		background rgba(#01889e, .7)
		width 100%
		z-index 2

		&_list
			max-width 1180px
			margin 0 auto
			font-size 0

		&_item
			width 25%
			display inline-block
			font-size 20px
			aliasing()
			text-align center
			padding-left 1px
			position relative

			&:before
				position absolute
				height 64px
				width 1px
				left 0
				top 50%
				margin-top -(@height / 2)
				background rgba($border_color, .4)
				content ''

			&:first-child
				padding-left 0

				&:before
					content none
					display none

		&_link
			display block
			position relative
			padding 19px 20px 17px
			transition all .1s
			color white
			font-size rem(20)
			aliasing()
			width 100%
			cursor pointer
			+responsive('max-width: 1024px')
				padding 16px 15px 15px
			+responsive('max-width: 960px')
				font-size 18px
			+responsive('max-width: 860px')
				font-size 16px
				padding 14px 15px 13px
			+responsive('max-width: 750px')
				padding 12px 12px 11px

			&:before
				display inline-block
				vertical-align middle
				margin-right 5px
				content ''
				width 60px
				height 60px
				border-radius 50%
				border 2px solid white
				font-size 30px
				line-height 55px
				+responsive('max-width: 960px')
					width 55px
					height 55px
					font-size 27px
					line-height 50px
				+responsive('max-width: 860px')
					width 48px
					height 48px
					font-size 24px
					line-height 45px
				+responsive('max-width: 750px')
					margin-bottom 8px
					width 44px //11.25vw
					height 44px //11.25vw
					font-size 22px
					line-height 40px
				+responsive('max-width: 450px')
					margin-bottom 0

			&.m-active
			&:hover
				background rgba(#016d7f, 0.6);

			span
				display inline-block
				max-width 120px
				vertical-align middle
				line-height 1.1
				+responsive('max-width: 860px')
					max-width 100px
				+responsive('max-width: 750px')
					display block
					margin 0 auto
				+responsive('max-width: 450px')
					display none
			&.m-intro
				&:before
					background-image  url(../images/design/home/professionals/2016/hero/all-in-one.png)
					background-size cover
			&.m-booking
				&:before
					icon($i-booking)
					+responsive('max-width: 750px')
						line-height 44px

			&.m-payments
				&:before
					icon($i-cards_pack_lined)
					font-size 27px
					+responsive('max-width: 960px')
						font-size 25px
					+responsive('max-width: 860px')
						font-size 22px

			&.m-messaging
				&:before
					icon($i-bell_roundy-o)

			&.m-sales
				padding-right 30px
				+responsive('max-width: 750px')
					padding-right 12px

				&:before
					icon($i-marketing_tools)
					font-size 25px
					padding-left 3px
					+responsive('max-width: 960px')
						font-size 23px
						line-height 53px
					+responsive('max-width: 860px')
						font-size 20px
						line-height 47px
					+responsive('max-width: 750px')
						font-size 18px
						line-height 43px

				span
					max-width 80px
