.home-cta
	text-align center
	color $black_gray
	padding 35px 0 70px
	position relative
	z-index 2

	&--title
		font-size rem(31)
		font-weight 600
		margin-bottom 40px
		+responsive('max-width: 460px')
			font-size rem(28)

	&--btn
	&--btn.cta_btn
		margin 0 auto 38px auto
		text-transform uppercase
		padding 0 28px
		font-size 22px
		height 68px
		padding 4px 20px
		border-radius 4px
		line-height 62px
		+responsive('max-width: 460px')
			font-size 19px
			padding 4px 10px
			width 100%

		&.m-arrow
			&:after
				font-size 25px
				font-weight bold
				font-weight 600
				margin-left 10px
				+responsive('max-width: 460px')
					display none

	&--text
		font-size rem(24)
		line-height 1.2
		+responsive('max-width: 460px')
			font-size rem(19)
