.home-signup
	position relative
	max-width 1400px
	margin 0 auto
	+responsive('min-width: 751px')
		background url(../images/design/home/professionals/2016/hero/signup_bg.jpg) no-repeat
		background-size cover

	&:before
	&:after
		content ''
		display block
		height 100%
		width 50%
		position absolute
		+responsive('max-width: 750px')
			display none
			content none

	&:before
		background linear-gradient(to right, rgba(#489a5c, .8), rgba(#06717d, .8))
		top 0
		left 0

	&:after
		background white
		opacity .8
		top 0
		right 0

	&--wrap
		cf()
		display flex
		flex-direction row
		+responsive('max-width: 750px')
			display block
			margin 0 !important

	&--risk-free
		color  $gray_dark
		font-weight 400
		+responsive('min-width: 1400px')
			font-size 18px
			margin-top 20px
			margin-left 11px
		+responsive('max-width: 1400px')
			font-size px2vw(18, 1400)
			margin-top px2vw(20, 1400)
			margin-left px2vw(11, 1400)
		+responsive('max-width: 750px')
			text-align center
			margin-left 0
			margin-top px2vw(5, 320)
			font-size px2vw(14, 320)
		b
			color  #3eb7cb
			font-weight 700


	&--area1
		&:before
			opacity 0 !important
		+responsive('max-width: 750px')
			background-color white

	&--area1-2
		display flex
		align-items center
		justify-content center
		+responsive('min-width: 1400px')
			margin-top 40px
		+responsive('max-width: 1400px')
			margin-top px2vw(40, 1400)
		+responsive('max-width: 750px')
			margin-top px2vw(49, 320)
			margin-bottom px2vw(40, 320)
		&-inner
			+responsive('max-width: 750px')
				display flex
				flex-direction column
		&-inner2
			+responsive('max-width: 750px')
				display flex
				align-items center
				justify-content center
	&--get-started
		+responsive('min-width: 1400px')
			margin-left 50px
		+responsive('min-width: 750px')
			margin-left px2vw(50, 1400)

	&--get-started-title
		color  #333333
		font-weight 600
		+responsive('min-width: 1400px')
			font-size 28px
			margin-top 128px
			margin-bottom 25px
		+responsive('max-width: 1400px')
			font-size px2vw(28, 1400)
			margin-top px2vw(128, 1400)
			margin-bottom px2vw(25, 1400)
		+responsive('max-width: 750px')
			margin-bottom px2vw(22, 320)
			text-align center
			font-size px2vw(21, 320)
	&--get-started-body
		color $gray_dark
		font-weight 400
		line-height 1.3
		+responsive('min-width: 1400px')
			font-size 20px
		+responsive('max-width: 1400px')
			font-size px2vw(20, 1400)
		+responsive('max-width: 750px')
			text-align center
			font-size  px2vw(16, 320)
	&--col
		z-index 2
		flex 1
		+responsive('max-width: 860px')
			width 100%
		+responsive('max-width: 750px')
			padding 0 20px

		&:before
			+responsive('max-width: 750px')
				content ''
				display block
				height 100%
				width 100%
				position absolute
				top 0
				left 0

	&--features
		text-shadow 0 2px 4px rgba(0, 0, 0, .25)
		aliasing()
		padding-right 0
		padding-left 0
		color white
		+responsive('max-width: 750px')
			padding 53px 20px 1px
			background-image linear-gradient(to right, rgba(#489a5c, .8), rgba(#06717d, .8)), url("../images/design/home/professionals/2016/hero/signup_bg.jpg")
			background-repeat no-repeat
			background-size cover

		&_in
			+responsive('min-width: 1400px')
				padding-left 45px
			+responsive('max-width: 1400px')
				padding-left px2vw(45, 1400)
			+responsive('max-width: 750px')
				padding-left 0
				margin 0 auto

		&_title
			text-transform uppercase
			font-weight bold
			letter-spacing 0.06em
			padding-right 20px
			position relative
			+responsive('min-width: 1400px')
				font-size 28px
				margin-top 128px
				margin-bottom 29px
				padding-right 20px
				letter-spacing 1.19px
			+responsive('max-width: 1400px')
				font-size px2vw(28, 1400)
				margin-top px2vw(128, 1400)
				margin-bottom px2vw(29, 1400)
				padding-right px2vw(20, 1400)
				letter-spacing px2vw(1.19, 1400)
			+responsive('max-width: 750px')
				margin 0 auto 14px
				font-size px2vw(17, 375)
				padding-right 0
				line-height 1.1
			+responsive('max-width: 330px')
				font-size px2vw(20, 320)
		&_list
			padding-right 1.4285714285714286vw
			position relative
			+responsive('min-width: 1400px')
				font-size 28px
				padding-right 20px
				margin-bottom 116px
			+responsive('max-width: 1400px')
				font-size px2vw(28, 1400)
				padding-right px2vw(20, 1400)
				margin-bottom px2vw(116, 1400)
			+responsive('max-width: 750px')
				font-size px2vw(16, 375)
				padding-right 0
				line-height 1.2
			+responsive('max-width: 330px')
				font-size px2vw(20, 320)
			li
				display flex
				align-items center
				+responsive('min-width: 1400px')
					margin-bottom 41px
				+responsive('max-width: 1400px')
					margin-bottom px2vw(41, 1400)
				+responsive('max-width: 480px')
					min-height 42px
			&_text
				letter-spacing 0.09999vw
				+responsive('min-width: 1400px')
					padding-left 16px
				+responsive('max-width: 1400px')
					padding-left px2vw(16, 1400)
				+responsive('max-width: 750px')
					padding-left px2vw(12, 320)
			&_icon
				background url(../images/design/svg/check_green.svg) no-repeat center white
				background-size 24px 24px
				border-radius 50%
				width 26px
				height 26px
				+responsive('max-width: 860px')
					background-size 20px 20px
					width 22px
					height 22px
				+responsive('max-width: 480px')
					background-size 18px 18px
					width 20px
					height 20px

	&--form
		&
			+responsive('max-width: 750px')
				padding-top px2vw(26, 320)
			&:before
				+responsive('max-width: 750px')
					background white
					opacity .8
					top 0
					right 0

		&_footer
			max-width 350px
			padding-top 8px
			width 100%
			margin 0 auto
			color $gray_dark
			text-align right
			font-size 16px
			position relative
			+responsive('max-width: 860px')
				font-size 15px

			a
				color $blue

				&:hover
					text-decoration underline

		.auth--container
			display block
			margin 0 auto
			+responsive('max-width: 1280px')
				margin-left 15px
			+responsive('max-width: 860px')
				margin-left 20px
			+responsive('max-width: 680px')
				margin-left 0

		.auth--col
			&:first-child
				display none

			&
				width 100%
				flex 0 0 100%
				position static

		.auth_form
			&--fast_sign
				max-width 430px
				margin 0 auto

				&_title
					font-size 32px
					color $black_gray
					width 140%
					margin-left -20%
					+responsive('max-width: 1024px')
						width 100%
						margin-left auto
						margin-right auto
					+responsive('max-width: 860px')
						font-size 28px

				&_buttons
					margin-top 28px

				&.m-sign
					padding-bottom 50px
					+responsive('max-width: 860px')
						padding 30px 0 35px

					.auth_form--fast_sign_or
						bottom -5px
						font-size rem(16)

						&:before
						&:after
							background-color $gray_lighter

			&--signup
				max-width 350px
				width 100%
				padding-left 0
				padding-right 0
				margin 0 auto
				padding-bottom 10px

				.form--line
					text-align center
					margin-top 20px

					&:first-child
						margin-top 0

					.checkbox
						+responsive('max-width: 860px')
							text-align left

						&--label
							font-size 16px
							color $gray_dark
							font-weight normal
							+responsive('max-width: 860px')
								font-size 15px

						&--i
							border-color #acacac
							border-radius 4px
							top 1px

			&--actions
				margin-top 18px

				.btn
					width 100%
					text-transform uppercase
					font-size 18px
					font-weight 600
	&--btn-xlarge
		+responsive('max-width: 750px')
			display none
	&--btn-large
		+responsive('min-width: 750px')
			display none
	&--btn-choose
		color white
		background #9ec754
		display inline-block
		line-height normal
		vertical-align middle
		font-weight 600
		position relative
		white-space nowrap
		border-radius 3px
		+responsive('min-width: 1400px')
			font-size 20px
			padding-right 44px
			padding-left 20px
			padding-top 18px
			padding-bottom 15px
		+responsive('max-width: 1400px')
			font-size px2vw(20, 1400)
			padding-right px2vw(44, 1400)
			padding-left px2vw(20, 1400)
			padding-top px2vw(18, 1400)
			padding-bottom px2vw(15, 1400)
		+responsive('max-width: 750px')
			text-align left
			font-size px2vw(16, 320)
			padding-right px2vw(43, 320)
			padding-left px2vw(43, 320)
			padding-top px2vw(16, 320)
			padding-bottom px2vw(16, 320)
		&:after
			display inline-block
			vertical-align middle
			content "\EA30"
			font-family "iconfont"
			-webkit-font-smoothing antialiased
			-moz-osx-font-smoothing grayscale
			+responsive('min-width: 1400px')
				font-size 23px
				margin-left 12px
			+responsive('max-width: 1400px')
				font-size px2vw(23, 1400)
				margin-left px2vw(12, 1400)
			+responsive('max-width: 750px')
				font-size px2vw(21, 320)
				margin-left px2vw(7.4, 320)
				margin-top px2vw(-4px, 320)

