.home-tips
	background $blue_light
	color white
	text-align center
	padding 55px 20px 50px
	+responsive('max-width: 1024px')
		padding-left 0
		padding-right 0

	&--content
		max-width 800px
		margin 0 auto 50px
		+responsive('max-width: 680px')
			margin-bottom 30px

	&--title
		font-size 35px
		font-weight bold
		margin-bottom 15px
		letter-spacing 0.04em
		+responsive('max-width: 550px')
			font-size 30px

	&--text
		font-size 22px
		+responsive('max-width: 550px')
			font-size 20px

	&--list
		font-size 0
		display flex
		justify-content space-around
		+responsive('max-width: 860px')
			display block

	&--item
		text-align left
		width 28.5%
		max-width 330px
		margin 0 1.5%
		display inline-block
		font-size 16px
		background white
		padding 2px
		color $gray_dark
		background white
		vertical-align top
		cf()
		+responsive('max-width: 1180px')
			width 31%
			margin 0 1%
		+responsive('max-width: 860px')
			display block
			margin 0 auto 20px
			width 100%
			max-width 100%
		+responsive('max-width: 780px')
			display flex
		+responsive('max-width: 680px')
			display block
			max-width 330px

		&--pic
			max-height 206px
			overflow hidden
			display block
			+responsive('max-width: 860px')
				float left
				// max-width 250px
				width 40%
			+responsive('max-width: 680px')
				float none
				// max-width 300px
				width 100%
			img
				max-width 100%
				vertical-align top
				transition all .2s

			&:hover
				img
					opacity .7

		&--content
			padding 12px 15px 12px
			overflow hidden
			+responsive('max-width: 1024px')
				padding 10px 13px
			+responsive('max-width: 860px')
				padding 20px 25px
			+responsive('max-width: 780px')
				padding 10px 20px
				flex 1
			+responsive('max-width: 780px')
				padding 10px 13px
				flex 1

		&--title
			&
			a
				font-size 20px
				font-weight bold
				color $blue_light
				line-height 1.2

				&:hover
					opacity .8

			&
				margin-bottom 10px

		&--meta
			margin-bottom 10px
			display flex
			justify-content space-between
			+responsive('max-width: 1240px')
				justify-content flex-start

		&--meta_item
			font-size 13px
			color $gray_dark
			display block
			+responsive('max-width: 1240px')
				margin-right 15px

			&:before
				margin-right 5px
				vertical-align top
				position relative
				top -2px

			&.m-date
				&:before
					icon($i-calendar-minus-o)

			&.m-comments
				&:before
					icon($i-comments)
					font-size 16px
					top -3px
				+responsive('max-width: 1240px')
					display none

			&.m-user
				&:before
					icon($i-user-wide)
					font-size 13px

		&--text
			font-size 15px
			line-height 1.5

		&--btn
			font-weight bold
			font-size 15px

		&.m-cta
			text-align center
			+responsive('max-width: 780px')
				align-items center

		&.m-cta &
			&--title
				&
				a
					font-size 24px

				&
					margin-bottom 20px
					+responsive('max-width: 680px')
						margin-bottom 10px

			&--content
				+responsive('max-width: 780px')
					padding 10px
				+responsive('max-width: 680px')
					padding 20px 10px

			&--text
				font-size 15px
				margin-bottom 30px
				+responsive('max-width: 680px')
					margin-bottom 20px
