.home_watch
	background url(../images/design/home/professionals/2016/watch/noise.png) repeat center
	text-align center
	position relative
	border-bottom 6px solid white
	z-index 2

	&:before
		background linear-gradient(to bottom, rgba(black, .13) 0%, rgba(black, 0) 45%)
		width 100%
		height 100%
		top 0
		left 0
		position absolute
		content ''
		display block
		opacity .7

	&:after
		position absolute
		width 96px
		height 36px
		background url(../images/design/home/professionals/2016/watch/watch_shape.png) no-repeat center bottom
		margin-left -(@width/2)
		left 50%
		bottom -36px
		content ''
		display block

	&--content
		padding 65px 20px 90px
		position relative
		z-index 3
		+responsive('max-width: 550px')
			padding 50px 10px 60px
		+responsive('max-width: 380px')
			padding 40px 10px

	&--heading
		font-size 27px
		margin-bottom 35px
		color $black_gray
		line-height 1.3
		+responsive('max-width: 550px')
			font-size rem(25px)

		b
			font-weight 600

	&--cta_link
		font-size rem(31px)
		text-transform uppercase
		font-weight bold
		color $blue_light
		position relative
		padding-bottom 18px
		margin-bottom 65px
		letter-spacing 0.03em
		+responsive('max-width: 550px')
			font-size rem(27px)
			margin-bottom 40px
		+responsive('max-width: 550px')
			font-size rem(23px)
			padding-bottom 13px

		&:after
			display block
			width 66%
			height 3px
			left 50%
			margin-left -33%
			background $blue_light
			bottom 0
			content ''
			position absolute

		&:hover
			opacity .8

	&--video
		display block
		margin 0 auto
		background url(../images/design/home/professionals/2016/watch/laptop.png) no-repeat center top
		width 553px
		height 298px
		position relative
		+responsive('max-width: 680px')
			width 100%
			max-width 553px
			background-size contain
		+responsive('max-width: 550px')
			width 460px
			height 247px
		+responsive('max-width: 480px')
			width 360px
			height 194px
		+responsive('max-width: 380px')
			width 310px
			height 170px

	&--video_link
		display block
		position absolute
		top 20px
		width 69%
		height 238px
		left 50%
		margin-left -34.5%
		+responsive('max-width: 550px')
			height 192px
		+responsive('max-width: 480px')
			top 13px
			height 155px
		+responsive('max-width: 380px')
			height 132px

		&:before
			position absolute
			background url(../images/design/home/professionals/2016/watch/youtube_play.png) no-repeat center center
			width 76px
			height 54px
			top 50%
			left 50%
			margin-top -(@height/2)
			margin-left -(@width/2)
			content ''

		&:hover
			&:before
				filter contrast(1.2)

	&--scroll
		position absolute
		width 90px
		height 55px
		bottom 0
		margin-left -(@width/2)
		bottom -30px
		left 50%
		color $black_gray
		line-height 65px
		z-index 3
		font-size 18px

		&:hover
			opacity .7

		&:before
			line-height 1
			icon($i-chevron_down_rounded)
