.home-tour

	.popup--container
		+responsive('min-width: 768px')
			width 720px

	.popup--content
		padding rem(20)
		+responsive('min-width: 768px')
			padding rem(40)

	&--list
		display flex
		align-items stretch
		justify-content flex-start
		flex-wrap wrap
		margin rem(0 -10)
	&--item
		flex 0 1 auto
		display flex
		align-items stretch
		width 50%
		+responsive('min-width: 520px')
			width 33.33333%
		+responsive('min-width: 640px')
			width 25%

	&--link
		flex 1
		border 1px solid $border_color
		background #fff
		display block
		text-align center
		padding rem(30 6 20 6)
		margin rem(0 10 20)
		color $gray_dark
		border-radius 3px
		&:hover
			border-color transparent
			box-shadow 0 0 14px rgba(0,0,0,.12)
		&.m-more
			background transparent
			border 2px dashed $border_color
			border-radius 3px
			box-shadow none
			color lighten($gray_dark, 25)

	&--label
		font-weight 600
		text-transform uppercase
		height 30px
		display flex
		align-items center
		text-align center
		font-size rem(12)
		line-height rem(15)
		+responsive('min-width: 640px')
			font-size rem(13)
		+responsive('min-width: 980px')
			font-size rem(14)
		span
			flex 1
			display block
			text-align center
	&--icon
		display block
		height 60px
		text-align center
		img
			height 45px
			width auto
