.home_advantages
	background url(../images/design/home/professionals/2016/advantages/advantages_bg.jpg) no-repeat center
	background-size cover
	position relative
	border-top 6px solid white

	&:before
		height 100%
		width 50%
		position absolute
		right 0
		top 0
		background $blue_light
		opacity .75
		content ''
		display block
		+responsive('max-width: 980px')
			width 70%
		+responsive('max-width: 640px')
			width 100%

	.home-professional--wrap
		cf()

	&--content
		position relative
		z-index 2
		float right
		padding 55px 5% 65px 7.5%
		width 50%
		color white
		+responsive('max-width: 1200px')
			padding 55px 3% 65px 6%
		+responsive('max-width: 980px')
			width 70%
		+responsive('max-width: 640px')
			width 100%
			text-align center
		+responsive('max-width: 550px')
			padding 45px 4%

	&--heading
		font-size 42px
		font-weight 300
		margin-bottom 50px
		line-height 1.3
		max-width 420px
		+responsive('max-width: 640px')
			font-size 36px
			margin 0 auto 40px
			line-height 1.1
			display block
		+responsive('max-width: 380px')
			font-size 32px

		b
			font-weight 600

	&--list
		padding-bottom 20px
		text-align left

	&--list_item
		font-size 19px
		font-weight 600
		margin-bottom 35px
		position relative
		padding-left 55px
		+responsive('max-width: 380px')
			margin-bottom 30px

		&:before
			position absolute
			background url(../images/design/svg/check_green.svg) no-repeat center
			background-size 100%
			width 33px
			height 33px
			left 0
			top -7px
			content ''
			display block
