.home_manage
	background white

	&--content
		text-align center
		padding 70px 0 85px
		+responsive('max-width: 1200px')
			padding 70px 20px 85px
		+responsive('max-width: 960px')
			padding 60px 20px 65px
		+responsive('max-width: 550px')
			padding 50px 10px 20px

	&--heading
		font-size 38px
		margin-bottom 80px
		color $black_gray
		+responsive('max-width: 960px')
			margin-bottom 60px
			font-size 34px
		+responsive('max-width: 550px')
			font-size 32px
			margin-bottom 50px
		+responsive('max-width: 380px')
			font-size 28px

	&--list
		font-size 0

	&--list_item
		margin 0 1% 40px
		display inline-block
		vertical-align top
		font-size 18px
		width 29%
		position relative
		+responsive('max-width: 1024px')
			font-size 16px
		+responsive('max-width: 960px')
			margin 0 1% 40px
			width 31%
		+responsive('max-width: 680px')
			width 100%
			margin 0 auto 40px
			text-align left
			padding-left 110px
			max-width 400px
			margin-bottom 50px
		+responsive('max-width: 380px')
			padding-left 90px

		&:before
			color $blue_light
			display block
			margin-bottom 25px
			font-size 150px
			position relative
			height 150px
			padding-top 10px
			+responsive('max-width: 1024px')
				font-size 110px
				height 110px
			+responsive('max-width: 800px')
				font-size 80px
				height 80px
			+responsive('max-width: 680px')
				font-size 110px
				height 110px
				position absolute
				left 0
				top 0
				padding-top 0
			+responsive('max-width: 380px')
				font-size 90px

		&.m-how
			&:before
				icon($i-touch)

		&.m-features
			&:before
				icon($i-checklist)
				font-size 140px
				padding-top 0
				+responsive('max-width: 1024px')
					font-size 100px
					padding-top 5px
				+responsive('max-width: 800px')
					font-size 80px
					padding-top 6px
				+responsive('max-width: 680px')
					font-size 100px
					padding-top 0
				+responsive('max-width: 380px')
					font-size 90px

		&.m-pricing
			&:before
				icon($i-pricing)
				font-size 133px
				padding-top 8px
				+responsive('max-width: 1024px')
					font-size 100px
				+responsive('max-width: 800px')
					font-size 80px
					padding-top 5px
				+responsive('max-width: 680px')
					font-size 100px
					padding-top 0
				+responsive('max-width: 380px')
					font-size 90px

		&--title
			font-size 30px
			font-weight 600
			margin-bottom 20px
			+responsive('max-width: 1024px')
				font-size 27px
				margin-bottom 15px

		&--text
			line-height 1.3
			margin-bottom 40px
			+responsive('max-width: 960px')
				margin-bottom 30px
				min-height 40px
				font-size 15px
			+responsive('max-width: 680px')
				min-height 0
				max-width 320px
				margin-bottom 20px
				font-size 16px

			span
				display inline-block
