.home-easily-book
	background #f0f0f0
	position relative

	&--content
		padding 50px 20px 65px
		max-width 1000px
		margin 0 auto
		cf()
		+responsive('max-width: 860px')
			padding 50px 0 40px

	&--title
		max-width 800px
		text-align center
		font-size 30px
		color $black_gray
		margin 0 auto 30px
		line-height 1.3
		+responsive('max-width: 480px')
			font-size 25px

	&--video
		width 532px
		text-align right
		height 296px
		float right
		background url(../images/design/home/clients/laptop.png) no-repeat center top
		background-size contain
		position relative
		margin-right -10px
		+responsive('max-width: 1024px')
			width 480px
			height 267px
		+responsive('max-width: 860px')
			float none
			margin 0 auto 30px
		+responsive('max-width: 550px')
			width 440px
			height 245px
		+responsive('max-width: 480px')
			width 340px
			height 190px
		+responsive('max-width: 380px')
			width 280px
			height 156px

	&--video_play
		position absolute
		background url(../images/design/home/clients/video-screen.jpg) no-repeat center top
		background-size contain
		top 25px
		left 77px
		width 380px
		height 240px
		+responsive('max-width: 1024px')
			top 22px
			left 73px
			width 336px
			height 218px
		+responsive('max-width: 550px')
			top 17px
			left 63px
			width 316px
			height 205px
		+responsive('max-width: 480px')
			top 12px
			left 48px
			width 246px
			height 160px
		+responsive('max-width: 380px')
			top 9px
			left 39px
			width 204px
			height 130px

		&:before
			position absolute
			background url(../images/design/home/clients/youtube_play.png) no-repeat center center
			width 76px
			height 54px
			top 50%
			left 50%
			margin-top -(@height/2)
			margin-left -(@width/2)
			content ''

		&:hover
			&:before
				filter contrast(1.2)

		span
			text-align left
			display block
			text-indent -9999em


	&--list
		width 42%
		float left
		padding-top 30px
		+responsive('max-width: 1024px')
			width 37%
			padding-top 10px
		+responsive('max-width: 860px')
			width 100%
			float none
			max-width 460px
			margin 0 auto
			padding-left 40px
		+responsive('max-width: 480px')
			padding-left 0

		li
			position relative
			padding-left 50px
			margin-bottom 25px
			line-height 1.2
			font-size 16px

			&:before
				width 33px
				height 33px
				position absolute
				display block
				content ''
				top 50%
				margin-top -(@height / 2)
				left 0
				background url(../images/design/svg/check_green.svg) no-repeat center
				background-size contain
