.home-offer
	flex 1
	background url(/assets/frontend/images/design/home/professionals/2016/hero/slide_2.jpg) no-repeat center top
	background-size cover
	position relative
	padding-top 50px
	+responsive('max-width: 800px')
		padding-top 40px

	&:before
		position absolute
		background white
		opacity .8
		top 0
		left 0
		right 0
		bottom 0
		content ''
		display block

	&--heading
		position relative
		text-align center
		font-size rem(38)
		color $blue_dark
		max-width 1100px
		font-weight 600
		margin 0 auto
		line-height 1.2
		padding 0 20px
		+responsive('max-width: 1200px')
			font-size rem(34)
		+responsive('max-width: 800px')
			font-size rem(28)
		+responsive('max-width: 480px')
			font-size rem(24)
			padding 0 10px

		span
			display block
			+responsive('max-width: 480px')
				display inline

	&--content
		position relative
		padding 50px 0 80px
		// padding-right 100px
		padding-right 7%
		display flex
		align-items center
		justify-content center
		+responsive('max-width: 1200px')
			padding-right 4%
		+responsive('max-width: 960px')
			display block
			padding-right 0
			padding-top 0
		+responsive('max-width: 640px')
			padding-bottom 40px
		+responsive('max-width: 480px')
			padding-bottom 0

		&.m-logined
			padding-right 0
			display block
			text-align center
			+responsive('max-width: 480px')
				padding-bottom 30px

			.home-offer--video
				margin-right 0

				&--container
					+responsive('max-width: 480px')
						margin-bottom 10px

	&--video
		position relative
		margin-right -2.5%
		z-index 2
		+responsive('max-width: 1200px')
			margin-right -3%
		+responsive('max-width: 960px')
			text-align center
			margin 0

		&--container
			position relative
			display inline-block
			margin-top 50px
			+responsive('max-width: 960px')
				max-width 640px
				margin-bottom 30px
			+responsive('max-width: 480px')
				margin-top 35px

			img
				max-width 100%

		&--play
			display block
			position absolute
			top 7.5%
			left 13.2%
			right 13.2%

			&:after
				position absolute
				background url(../images/design/offer/youtube_play.png) no-repeat center center
				background-size contain
				width 106px
				height 73px
				bottom 3.5%
				left 50%
				margin-left -(@width/2)
				content ''
				+responsive('max-width: 960px')
					width 86px
					height 62px
					margin-left -43px
				+responsive('max-width: 640px')
					width 70px
					height 50px
					margin-left -35px

			&:hover
				&:after
					filter contrast(1.2)

	&--auth
		background white
		border-radius 5px
		position relative
		width 45%
		max-width 430px
		+responsive('max-width: 960px')
			margin 0 auto
			width 100%
		+responsive('max-width: 480px')
			max-width 100%
			border-radius 0

	&--cta
		margin 0 10px
		+responsive('max-width: 400px')
			font-size 24px
		+responsive('max-width: 380px')
			font-size 20px
