.home-subscribe
	background $blue_light
	padding rem(40 20)
	+responsive('min-width: 640px')
		padding rem(60 20)

	&--wrap
		max-width 400px
		margin 0 auto
		+responsive('min-width: 680px')
			max-width 640px

	&--title
		font-size rem(24)
		font-weight 400
		color #fff
		text-align center
		line-height 1.25
		margin-bottom 1em
		+responsive('min-width: 640px')
			font-size rem(26)
		+responsive('min-width: 980px')
			font-size rem(30)
		+responsive('min-width: 1200px')
			font-size rem(32)

	&--form
		max-width 450px
		margin 0 auto
		.hs-form
			+responsive('min-width: 680px')
				display flex
			div
				+responsive('min-width: 680px')
					flex 1
			.field
				display block
				margin rem(0 0 10 0)
				+responsive('min-width: 680px')
					margin 0
				input
					height 48px
					border-left 0
					border-top 0
					border-bottom 0
					font-size rem(14)
					&.error
						background lighten($red, 35)
					+responsive('min-width: 680px')
						height 56px
						font-size rem(16)
						border-bottom-right-radius 0
						border-top-right-radius 0
			.hs_submit
				+responsive('min-width: 680px')
					flex 0 1 155px
				input.btn
					display block
					width 100%
					height 48px
					cursor pointer
					background $background_color
					color $gray_dark
					text-transform uppercase
					padding rem(0 30 0 30)
					+responsive('min-width: 680px')
						height 56px
						padding rem(0 50 0 20)
						border-bottom-left-radius 0
						border-top-left-radius 0
				.actions
					position relative
					&:after
						position absolute
						top 50%
						transform translateY(-50%)
						height 20px
						width 20px
						right 20px
						line-height 20px
						vertical-align middle
						font-size rem(20)
						icon($i-chevron-right-o)
						display inline-block
					&:hover
						&:after
						input.btn
							color $blue_light
			label
				display none

		.submitted-message
			text-align center
			font-weight 600
			color #fff
			font-size rem(16)
