.home-professional
	overflow hidden
	width 100%
	&--wrap
		max-width 1220px
		width 100%
		margin 0 auto
	&--heading
		color $gray_dark
		font-weight 400
		text-align center
		font-size rem(24)
		margin-bottom rem(40)
		+responsive('min-width: 640px')
			margin-bottom rem(50)
			font-size rem(28)
		+responsive('min-width: 980px')
			margin-bottom rem(60)
			font-size rem(32)
		+responsive('min-width: 1200px')
			margin-bottom rem(70)
			font-size rem(36)

		&.m-about
			color #fff
			text-align center
			font-size rem(32)
			margin-bottom .75em
			font-weight 600
			line-height 1.25
			+responsive('min-width: 640px')
				font-size rem(38)
			+responsive('min-width: 980px')
				font-size rem(44)
			+responsive('min-width: 1200px')
				font-size rem(52)


	&--description
		text-align center
		color $gray
		line-height 1.45
		font-size rem(16)
		+responsive('min-width: 980px')
			font-size rem(18)
		&.m-get-started
			margin rem(16 0 20)
			+responsive('min-width: 980px')
				margin rem(20 0 30)
	&--btn
		margin rem(0 5)
		cursor pointer

		&.m-xlarge
		&.m-xl
			border-radius 4px
			font-size 24px
			padding 21px 25px 20px
			line-height 1.1
			height auto
			min-width 255px

			&.m-arrow
				&:after
					font-size 30px

		&.m-upper
			text-transform uppercase

		&.m-arrow
			padding-right 65px

			&:after
				margin 0
				position absolute
				right 20px
				top 50%
				margin-top -22px
				icon($i-chevron_right_rounded-o)

	.hs-cta-wrapper,
	.hs-cta-node
		display inline-block
		vertical-align middle
	.hs-cta-img
		&.m-hide
			display none

	&--demo
		cf()
		margin 0 auto
		width 100%
		max-width 320px
		+responsive('min-width: 640px')
			margin 0 auto
			width 90%
			max-width 480px
		+responsive('min-width: 980px')
			max-width none
			width 580px
		+responsive('min-width: 1200px')
			width 624px

		label
			display none
		.field
			display block
			margin rem(0 0 6 0)
			+responsive('min-width: 640px')
				margin 0
				float left
				width 60%
			input
				padding rem(13)
				height 40px
				font-size rem(14)
				min-height initial
				+responsive('min-width: 640px')
					padding rem(11)
					height 44px
					font-size rem(15)
					border-top-right-radius 0
					border-bottom-right-radius 0
					border-right 0
				+responsive('min-width: 980px')
					height 50px
					font-size rem(18)
					padding rem(15)
				&.error
					border-color #d88484
					color $red
					+placeholder()
						color $red
		.btn
			cursor pointer
			font-weight 600
			height 40px
			font-size rem(14)
			display block
			width 100%
			+responsive('min-width: 640px')
				border-top-left-radius 0
				border-bottom-left-radius 0
				float left
				width 40%
				height 44px
				font-size rem(16)
			+responsive('min-width: 980px')
				font-size rem(18)
				height 50px
