.home-grow
	background $background_color
	padding rem(40 10)
	+responsive('min-width: 640px')
		padding rem(60 16)
	+responsive('min-width: 980px')
		padding rem(70 20)
	+responsive('min-width: 1200px')
		padding rem(80 20)

	&--wrap
		max-width 1080px
		margin 0 auto

	&--scene
		position relative

	&--features
		display flex
		flex-wrap wrap
		margin-bottom rem(20)
		+responsive('min-width: 680px')
			margin-bottom rem(40)
		+responsive('min-width: 980px')
			margin-bottom 0
			display block

	&--feature
		width 100%
		+responsive('min-width: 680px')
			width 50%
			&:nth-child(1)
				order 1
			&:nth-child(2)
				order 3
			&:nth-child(3)
				order 2
			&:nth-child(4)
				order 4
		+responsive('min-width: 980px')
			position absolute
			width 280px
			&:nth-child(1)
				left 0
				top 0
			&:nth-child(2)
				left 0
				bottom 40px
			&:nth-child(3)
				right 0
				top 0
			&:nth-child(4)
				right 0
				bottom 40px


	&--feature-link
		display block
		padding rem(30 5)
		background $background_color
		margin-bottom 10px
		position relative
		text-align center
		border-radius 5px
		width 280px
		margin 0 auto
		transition all 100ms ease-in
		+responsive('min-width: 980px')
			margin 0
		&:hover
			background #fff
			box-shadow 0 0 20px rgba(0,0,0,.05)

	&--feature-count
		$feature-count-size = 24px
		$feature-count-border-size = 4px
		width $feature-count-size + $feature-count-border-size * 2
		height $feature-count-size + $feature-count-border-size * 2
		border $feature-count-border-size solid $background_color
		background $red
		display block
		border-radius $feature-count-size
		color #fff
		text-align center
		font-weight 600
		font-size 14px
		line-height $feature-count-size + 2px
		position absolute
		z-index 10
		left -(@width / 2)
		top -(@height / 2)
		transition border-color 100ms ease-in
		.home-grow--feature-link:hover &
			border-color #fff

	&--feature-image
		width 135px
		height 140px
		border 2px solid $blue_light
		border-radius 3px
		margin 0 auto
		display block
		position relative
		background-position 0 0
		background-size 131px 136px
		background-repeat no-repeat
		&.m-get-discovered
			background-image url(../images/design/home/professionals/2016/features/get-discovered.jpg)
		&.m-get-booked
			background-image url(../images/design/home/professionals/2016/features/get-booked.jpg)
		&.m-get-paid
			background-image url(../images/design/home/professionals/2016/features/get-paid.jpg)
		&.m-get-reviewed
			background-image url(../images/design/home/professionals/2016/features/get-reviewed.jpg)


	&--feature-title
		font-weight 600
		color $gray_dark
		font-size rem(20)
		margin rem(20 0)

	&--feature-description
		display block
		color $gray
		font-size rem(16)
		line-height 1.25
		margin rem(20 0 0)
		height 40px
		transition opacity 100ms ease-in
		.home-grow--feature-link:hover &
			visible(0)

	&--feature-btn
		display block
		position absolute
		left 0
		right 0
		bottom 30px
		z-index 10
		visible(0)
		transition opacity 100ms ease-in
		.home-grow--feature-link:hover &
			visible(true)

		.cta_btn
			height 40px
			line-height 40px
			font-size rem(14px)
			padding rem(0 20)
			min-width auto
			background $red
			color #fff
			cursor pointer
			&:hover
				background $red
			&:after
				line-height 40px
				margin-left rem(8)
				font-size rem(16)
				margin-top -4px



	&--phone
		margin 0 auto
		width 382px
		height 666px
		background url(../images/design/home/professionals/2016/features/phone.png) 0 0 no-repeat
		background-size @width @height
		position relative
		display none
		+responsive('min-width: 980px')
			display block
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url(../images/design/home/professionals/2016/features/phone@2x.png)
			background-size @width @height

	&--phone-inside
		width 264px
		height 463px
		display block
		position absolute
		left 55px
		top 71px
		border-radius 3px
		background-position 0 0
		background-repeat no-repeat
		background-color #fff
		background-size @width @height
		visible(false)

		&.m-get-discovered
			background-image url(../images/design/home/professionals/2016/features/phone-get-discovered.png)
		&.m-get-booked
			background-image url(../images/design/home/professionals/2016/features/phone-get-booked.png)
		&.m-get-paid
			background-image url(../images/design/home/professionals/2016/features/phone-get-paid.png)
		&.m-get-reviewed
			background-image url(../images/design/home/professionals/2016/features/phone-get-reviewed.png)


	&.m-get-discovered &
		&--phone-inside
			&.m-get-discovered
				visible(true)
	&.m-get-booked &
		&--phone-inside
			&.m-get-booked
				visible(true)
	&.m-get-paid &
		&--phone-inside
			&.m-get-paid
				visible(true)
	&.m-get-reviewed &
		&--phone-inside
			&.m-get-reviewed
				visible(true)



	&--btn
		text-align center
		.cta_btn
			min-width 200px
