.home-video
	background #154356
	position relative
	&:after
		content ""
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		z-index 10
		background url(../images/design/home/clients/video-section.jpg) 50% 50% no-repeat
		background-size cover
		opacity .75

	&--inner
		display flex
		align-items center
		position relative
		z-index 20
		padding rem(90 0)
		+responsive('min-width: 640px')
			padding rem(150 0)
		+responsive('min-width: 980px')
			padding 0
			height 85vh
			min-height 600px
	&--content
		flex 1
		text-align center
		color #fff
	&--title
		font-size rem(42)
		margin-bottom rem(16)
		font-weight 700
		+responsive('min-width: 640px')
			font-size rem(48)
			margin-bottom rem(16)
		+responsive('min-width: 980px')
			font-size rem(56)
			margin-bottom rem(20)
		+responsive('min-width: 1200px')
			font-size rem(70)
			margin-bottom rem(24)
	&--description
		font-weight 300
		font-size rem(18)
		margin-bottom rem(24)
		+responsive('min-width: 640px')
			font-size rem(20)
			margin-bottom rem(28)
		+responsive('min-width: 980px')
			font-size rem(22)
			margin-bottom rem(32)
		+responsive('min-width: 1200px')
			font-size rem(24)
			margin-bottom rem(36)

	&--play
		span
			display block
			text-indent -9999px
		display block
		margin 0 auto
		width 100px
		height 100px
		border-radius 100px
		background #fff
		opacity .6
		width 60px
		height 60px
		border-radius 60px
		&:before
			line-height 60px
			font-size 24px
			padding-left 3px
			icon($i-play-r)
			color #000
			display block
			text-align center

		+responsive('min-width: 640px')
			width 70px
			height 70px
			border-radius 70px
			&:before
				line-height 70px
				font-size 28px
				padding-left 4px
		+responsive('min-width: 980px')
			width 80px
			height 80px
			border-radius 80px
			&:before
				line-height 80px
				font-size 32px
				padding-left 4px
		+responsive('min-width: 1200px')
			width 100px
			height 100px
			border-radius 100px
			&:before
				font-size 40px
				line-height 100px
				padding-left 5px
