.home-how
	position relative
	background white
	padding 55px 20px 45px
	+responsive('max-width: 980px')
		padding 35px 0 40px
	+responsive('max-width: 480px')
		padding-bottom 20px

	&:before
	&:after
		width calc(50% - 43px)
		height 26px
		background white
		top -26px
		right 0
		content ''
		display block
		position absolute

	&:before
		left 0
		right auto

	&--title
		text-align center
		font-size 30px
		font-weight bold
		margin-bottom 45px
		color $black_gray
		line-height 1.1
		+responsive('max-width: 980px')
			margin-bottom 40px

	&--shape
		width 86px
		height 26px
		background url(../images/design/home/clients/tail-contr-white.png) no-repeat center
		position absolute
		left 50%
		top -26px
		display block
		margin-left -(@width/2)

	&--list
		text-align center
		font-size 0

	&--list_item
		display inline-block
		font-size 16px
		width 30%
		margin 0 1%
		vertical-align top
		+responsive('max-width: 760px')
			margin 0 auto 40px
			width 100%
			max-width 400px

		&--number
			font-size 20px
			font-weight bold
			text-transform uppercase
			color $blue_light
			display block
			margin-bottom 15px
			letter-spacing .05em

		&--pic
			border 1px solid $border_color
			border-radius 6px
			box-shadow 3px 5px 5px rgba(187,187,187,.6)
			display inline-block
			margin-bottom 30px
			overflow hidden

			img
				vertical-align top
				border-radius 6px
				max-width 100%

		&--text
			font-size 15px
			color $gray_darker
			max-width 300px
			margin 0 auto
			line-height 1.5
