.home-get-app
	display none
	position fixed
	z-index 10001
	width 100%
	bottom 0
	border-top 1px solid $border_color
	background white
	cf()

	&--close
		position absolute
		width 30px
		height 30px
		left 0
		top 50%
		margin-top -(@height/2)
		text-align center
		line-height 28px
		font-size 10px
		color $gray_light

		&:before
			icon($i-close)

	&--link
		padding 10px 10px 10px 30px
		display block

	&--cta
		display block
		position relative
		padding-left 67px
		padding-right 65px
		min-height 57px
		padding-top 12px
		max-width 320px
		margin 0 auto

		&--icon
			text-align center
			width 57px
			height 57px
			padding 5px
			border-radius 12px
			border 1px solid $border_color
			display block
			position absolute
			left 0
			top 50%
			margin-top -(@height / 2)

			&:before
				content ''
				display block
				width 100%
				height 100%
				background url('../images/design/svg/logo-icon.svg') no-repeat
				background-size contain
				background-position center center

		&--title
			display block
			font-size 16px
			color $gray_dark
			font-weight 600
			margin-bottom 4px

		&--text
			display block
			color $gray
			font-size 12px

		&--btn
			position absolute
			right 0
			top 15px
			font-size 12px
			padding 7px
