+mobile()
	.layout
		&--sidebar
			display none

+responsive('max-width: 980px')
	.layout
		&--header
			height $header-height-small

+responsive('max-width: 1220px')
	.wrap
		margin 0 20px !important


+responsive('max-width: 1460px')
	.layout
		&--sidebar
			flex 0 0 240px

+responsive('max-width: 1380px')
	.layout
		&--sidebar.m-right
			display none
