.layout
	&
		display flex
		height 100%
		flex-direction column
		min-width 320px

		&--header
			flex none
			height $header-height-small
			+responsive('min-width: 980px')
				height $header-height-large - 10px
			+responsive('min-width: 1200px')
				height $header-height-large

		&--body
			display flex
			flex-direction row
			flex 1 0 auto

		&--content
			&.m-dashboard
				position relative
				flex 1
				padding 20px 20px 55px
				+responsive('max-width: 980px')
					padding 0
					&.m-edit-assets
					&.m-settings-account
						background #fff

		&--sidebar
			flex 0 0 280px
			background #fff
			padding 0 0 60px

			&.m-left
				order -1
				border-right 1px solid $border_color

			&.m-right
				border-left 1px solid $border_color

			&.m-hide
				display none

			&--inner
				&.m-fixed
					position fixed
					top 63px

		&--footer
			flex none
			+mobile()
				display none

		&--slideout
			position absolute
			left -280px
			width 280px
			height 100%
			top 0
			background #fff
			z-index 1010
			overflow scroll
			transition none
			+responsive('min-width: 980px')
				display none
		&--mask
			background #000
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			z-index: -1
			opacity 0
			transition none
			+responsive('min-width: 980px')
				display none

	&.m-front &
		&--header
			border-bottom 0
		&--body
			display block

	&.m-pros &
		&--header
			+responsive('min-width: 980px')
				height 97px

	&.m-search &
		&--header
			border-bottom 0
			height 80px
		&--body
			display flex

	&.m-flex &
	&.m-booking &
	&.m-wizard &
		&--body
			display flex

	&.m-404 &
		&--body
			background #3c424d

	&.m-503 &
		&--body
			display flex
			background url($i 'maintenance.jpg') #20495a no-repeat center
			background-size cover

.wrap
	max-width 1180px
	margin 0 auto

.m-alert
	.content_nav
		transition padding-top .5s ease-in
		padding-top 46px

body
	&.m-fixed
		overflow hidden
		height 100%
		width 100%

	&.m-slideout
		position fixed
		overflow hidden
		height 100%
		width 100%
		.layout--slideout
			left 0
			transition left .1s ease-in-out
		.layout--mask
			z-index 1009
			opacity .7
			transition opacity .1s ease-in-out
