.edit_personal

	display flex
	flex-direction row
	@media (max-width: 979px)
		flex-direction column

	&--userpic
		width 200px
		@media (max-width: 979px)
			margin 0 auto rem(15)
			width 150px
			.userpic.m-xlarge
				width 150px
				height 150px

	&--userpic_info
		padding-top 10px
		@media (max-width: 979px)
			display none
		.edit_personal--userpic--change_link
			display inline-block
			vertical-align top
			position relative
			overflow hidden
			color $blue

		&--text
			line-height 1rem
			a
				color $blue
		em
			display block
			padding rem(15px 0 0)
			font-size rem(12px)

	&--data
		flex 1
		padding 0 15px 0 25px
		@media (max-width: 979px)
			padding 0

		&--group
			margin rem(0 0 15 0)
			display flex
			flex-direction row
			align-items center
			flex-wrap nowrap

			@media (max-width: 979px)
				flex-direction column
				align-items flex-start

			&:last-child
				margin-bottom 0
			dt
				overflow(ellipsis)
				font-weight 600
				flex 0 0 140px
				margin-right rem(10)
				@media (max-width: 979px)
					flex 0 0 auto
					display block
					width 100%
					margin rem(0 0 5 0)
				small
					display block
					color $gray
					font-size rem(12px)
					font-weight normal
					padding 4px 0 0
					&.m-required
						color $red
					@media (max-width: 979px)
						display inline-block
						padding 0
						vertical-align middle
			dd
				flex 1
				@media (max-width: 979px)
					flex 0 0 auto
					width 100%
					display block

			.field
			.select
				display block
				width 100%
				max-width 250px

		&--languages
			dt
				padding-top 13px
			ul
				li
					margin-top 13px !important
					margin-bottom 13px !important

			&--more
				display block
				clear both
				padding .875rem 0

				button
					&
						color $blue
						font-size .875rem
						font-weight 600

					&:hover
						text-decoration underline

	&--blog_accept
		.checkbox
			margin-bottom 10px

		.field--description
			padding 0
