.help
	position relative
	padding rem(30 0)
	+responsive('min-width: 768px')
		padding rem(50 0)
	+responsive('min-width: 980px')
		display flex
		padding rem(70px 0)
		align-items flex-start



	&--nav_toggler
		display block
		border-bottom 0
		position relative
		&:after
			icon($i-chevron-down)
			position absolute
			right 20px
			top 50%
			transform translateY(-50%)
		.m-opened &
			opacity 0
			visibility hidden
		+responsive('min-width: 980px')
			display none

	&--nav
		width 100%
		margin rem(0 0 30 0)
		position relative

		&.m-opened
			overflow visible
			border-color transparent
			ul
				display block
		+responsive('min-width: 980px')
			margin 0
			max-width 280px
			min-width 280px

		ul
			+responsive('max-width: 979px')
				background #fff
				border 1px solid $border_color
				border-radius 5px
				display none
				position absolute
				left 0
				top 0
				width 100%
			+responsive('min-width: 980px')
				display block

	&--body

		+responsive('min-width: 980px')
			flex 1
			margin 0 0 0 120px


		ul
			list-style-type disc

		li
			margin-bottom 5px
			font-size 1rem
			line-height 1.75rem

		h2
			font-size rem(36px)
			font-weight 600

			&.help-category
				margin-bottom 40px

		h4
			font-size rem(18px)
			color $blue
			font-weight 600

			&.content-subject
				margin-bottom 30px

		> p
			margin 0 !important

		div
			&.content-spacer
				margin-bottom 30px

	&--form
		max-width 640px
		padding-top 20px

		.field
			margin-bottom 10px

			textarea
				min-height 100px

		&--email
			max-width 320px

		.submitted-message
			margin-top 10px
			font-size 16px
			padding 20px 10px
			border-radius 3px
			border 1px solid $green
			color #8cb04a
			text-align center
