@keyframes vex-fadein
	0%
		opacity 0
	100%
		opacity 1

@keyframes vex-fadeout
	0%
		opacity 1
	100%
		opacity 0

@keyframes vex-rotation
	0%
		transform rotate(0deg)
	100%
		transform rotate(359deg)


@keyframes vex-flyin
	0%
		opacity 0
		transform translateY(-40px)
	100%
		opacity 1
		transform translateY(0)

@keyframes vex-flyout
	0%
		opacity 1
		transform translateY(0)
	100%
		opacity 0
		transform translateY(-40px)

@keyframes vex-pulse
	0%
		box-shadow inset 0 0 0 300px transparent
	70%
		box-shadow inset 0 0 0 300px rgba(255, 255, 255, 0.25)
	100%
		box-shadow inset 0 0 0 300px transparent

.vex
.vex *
.vex *:before
.vex *:after
	box-sizing border-box

.vex
	position fixed
	overflow auto
	-webkit-overflow-scrolling touch
	z-index 1111
	top 0
	right 0
	bottom 0
	left 0
	padding-top 160px
	padding-bottom 160px
	&.vex-closing
		.vex-overlay
			animation vex-fadeout 0.5s
			-webkit-backface-visibility hidden
		.vex-content
			-webkit-backface-visibility hidden
			animation vex-flyout 0.5s
	.vex-content
		animation vex-flyin 0.5s
		-webkit-backface-visibility hidden
		border-radius 5px
		font-family "Helvetica Neue", sans-serif
		background #f0f0f0
		color $gray_dark
		padding 1em
		position relative
		margin 0 auto
		max-width 100%
		width 450px
		font-size 1.1em
		line-height 1.5em
		.m-error
			color $red

		&.m-w550
			width 550px

	.vex-content-centered
		text-align center

		.vex-dialog-button
			float none
			margin 0.5em
			display inline-block

	.vex-content-custom
		width 580px
		font-family $ff_proxima
		font-size 18px
		padding 40px 20px
		box-shadow 0 0 35px rgba(black, .35)
		background white
		border-radius 5px

		&.m-success
			&:before
				padding-top 5px
				display block
				margin 0 auto 25px
				icon($i-done)
				text-align center
				font-size 100px
				color $green
				line-height 1

		&.m-error
			&:before
				margin-top -10px
				display block
				margin 0 auto 15px
				icon($i-cancel-o)
				text-align center
				font-size 115px
				color $red
				line-height 1

		h2
			font-weight 600
			font-size 28px
			margin-bottom 15px

		p
			margin-top 0 !important

		.vex-dialog-button.vex-dialog-button-primary
			background $green
			font-weight 600
			padding 0.8125rem 0.9375rem
			letter-spacing 0.05em
			min-width 120px
			line-height 1.2

	.vex-close
		border-radius 5px
		position absolute
		top 0
		right 0
		cursor pointer
		&:before
			border-radius 3px
			position absolute
			content "\00D7"
			font-size 26px
			font-weight normal
			line-height 31px
			height 30px
			width 30px
			text-align center
			top 3px
			right 3px
			color #bbb
			background transparent
	.vex-dialog-form
		.vex-dialog-message
			margin-bottom .5em
			p
				margin-top 10px
			ul
			ol
				margin-top 10px
		.vex-dialog-input
			margin-bottom 1em
		.vex-dialog-buttons
			&:after
				content ""
				display table
				clear both
	.vex-dialog-button
		border-radius 3px
		border 0
		float right
		margin 0 0 0 .5em
		font-family inherit
		text-transform uppercase
		letter-spacing .1em
		font-size .8em
		line-height 1em
		padding .75em 2em
		&.vex-last
			margin-left 0
		&:focus
			animation vex-pulse 1.1s infinite
			-webkit-backface-visibility hidden
			outline none
		&.vex-dialog-button-primary
			background $blue
			color #fff
		&.vex-dialog-button-secondary
			background #e0e0e0
			color #777

.vex-scrollbar-measure
	position absolute
	top -9999px
	width 50px
	height 50px
	overflow scroll

.vex-overlay
	animation vex-fadein 0.5s
	-webkit-backface-visibility hidden
	position fixed
	background rgba(0, 0, 0, 0.4)
	top 0
	right 0
	bottom 0
	left 0

.vex-overlay-light
	background rgba(255,255,255,0.8)

.vex-content
	animation vex-fadein 0.5s
	-webkit-backface-visibility hidden
	background #fff
	border-radius 3px

.vex-close
	&:before
		font-family Arial, sans-serif
		content "\00D7"

.vex-dialog-form
	margin 0

.vex-dialog-button
	text-rendering optimizeLegibility
	-moz-appearance none
	-webkit-appearance none
	cursor pointer
	-webkit-tap-highlight-color transparent

.vex-loading-spinner
	animation vex-rotation 0.7s linear infinite
	-webkit-backface-visibility hidden
	box-shadow 0 0 1em rgba(0, 0, 0, 0.1)
	position fixed
	z-index 1112
	margin auto
	top 0
	right 0
	bottom 0
	left 0
	height 2em
	width 2em
	background #fff
	box-shadow 0 0 0 0.5em #f0f0f0, 0 0 1px 0.5em rgba(0, 0, 0, 0.3)
	border-radius 100%
	background #f0f0f0
	border .2em solid transparent
	border-top-color #bbb
	top -1.1em
	bottom auto

body
	&.vex-open
		overflow hidden

.vex .vex-close:hover:before, .vex .vex-close:active:before
	color #777
	background #e0e0e0

// we don't need it now
//
//.vex .vex-content h1,
//.vex .vex-content h2,
//.vex .vex-content h3,
//.vex .vex-content h4,
//.vex .vex-content h5,
//.vex .vex-content h6,
//.vex .vex-content p,
//.vex .vex-content ul,
//.vex .vex-content li
//	color inherit
//.vex .vex-dialog-form .vex-dialog-input textarea,
//.vex .vex-dialog-form .vex-dialog-input input[type="date"],
//.vex .vex-dialog-form .vex-dialog-input input[type="datetime"],
//.vex .vex-dialog-form .vex-dialog-input input[type="datetime-local"],
//.vex .vex-dialog-form .vex-dialog-input input[type="email"],
//.vex .vex-dialog-form .vex-dialog-input input[type="month"],
//.vex .vex-dialog-form .vex-dialog-input input[type="number"],
//.vex .vex-dialog-form .vex-dialog-input input[type="password"],
//.vex .vex-dialog-form .vex-dialog-input input[type="search"],
//.vex .vex-dialog-form .vex-dialog-input input[type="tel"],
//.vex .vex-dialog-form .vex-dialog-input input[type="text"],
//.vex .vex-dialog-form .vex-dialog-input input[type="time"],
//.vex .vex-dialog-form .vex-dialog-input input[type="url"],
//.vex .vex-dialog-form .vex-dialog-input input[type="week"]
//	border-radius 3px
//	background #fff
//	width 100%
//	padding .25em .67em
//	border 0
//	font-family inherit
//	font-weight inherit
//	font-size inherit
//	min-height 2.5em
//	margin 0 0 .25em
//.vex .vex-dialog-form .vex-dialog-input textarea:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="date"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="email"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="month"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="number"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="password"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="search"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="tel"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="text"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="time"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="url"]:focus,
//.vex .vex-dialog-form .vex-dialog-input input[type="week"]:focus
//	box-shadow inset 0 0 0 2px #8dbdf1
//	outline none

@media (max-width: 568px)
	.vex
		.vex-dialog-button
			&:focus
				animation none
				-webkit-backface-visibility hidden
