+responsive('max-width: 1220px')
	.reviews
		&--rating
			&--item
				dt
				dd
					display block

				dt
					margin 0 0 5px
				&.m-column_1
				&.m-column_2
				&.m-column_3
					width 45%
					margin-left 0

+responsive('max-width: 860px')
	.reviews
		&--main
			padding-right 0
		&.m-client &
			&--main
				padding-right 0


+responsive('max-width: 480px')
	.reviews
		&--list
			&--item
				&--content
					margin-left 0

				&--helpful
					padding-left 0

					p
						margin-bottom 5px
						display block

+responsive('max-width: 340px')
	.reviews
		&--rating
			&--item
				&.m-column_1
				&.m-column_2
				&.m-column_3
					width 100%
