.reviews
	padding-bottom 100px
	background #fff
	border-top 1px solid $border_color
	padding 30px 0

	&.m-client
		padding 0
		border 0

	&--block
		margin-top 20px
		max-width 800px

	&--header
		max-width 800px
		cf()

		&--btn
			float right
			position relative
			z-index 3

			&.m-hide
				display none

	&--title
		font-size 22px
		margin-top 0
		padding-top 10px

		span
			font-weight 300
			font-size rem(17px)

	&--main
		padding 0 380px 0 0
	&.m-client &
		&--main
			padding 0 50px 0 0

	&--rating
		border 1px solid $border_color
		border-radius 3px
		padding 8px 0 22px 20px

		&:empty
			display none

		.star_rating
			display inline-block
			vertical-align middle
			& + span
				display inline-block
				vertical-align middle
				padding 2px 0 0

		&--item
			&
				margin 14px 0 0 50px
				display inline-block
				vertical-align top

				dt
					font-weight 600
					display inline-block
					vertical-align middle

				dd
					display inline-block
					vertical-align middle

			&.m-column_1
				width 240px
				margin-left 0
				dt
					width 120px

			&.m-column_2
			&.m-column_3
				width 210px
				dt
					width 85px

			&.m-column_3
				width 200px

		&.m-empty
			padding 10px 0 10px 20px


	&--list
		padding 40px 0 0
		&--item
			&
				margin 35px 0 0

				&--header
					position relative
					padding 8px 0 0 70px

					.userpic
						position absolute
						top 0
						left 0

					&--meta
						margin 0 0 4px
						a
							color $gray_dark
							&:hover
								color $blue

					&--rating
						span
							display inline-block
							vertical-align middle
							padding 2px 0 0

						.star_rating
							padding 0

				&--content
					padding 30px 0 0 0
					margin-left 70px
					+ .reviews--list--item--content
						padding-top 10px
						margin-top 10px
						border-top 1px solid $border_color

				&--helpful
					padding 15px 0 0 70px
					position relative

					&--inner
						padding 3px 15px
						border-left 2px solid $border_color

						&:empty
							display none

					p
						display inline-block
						margin-right 10px
						margin-bottom 3px
					a
						display inline-block
						border 1px solid $blue_light
						color $blue_light
						padding 2px 6px
						border-radius 3px
						cursor pointer

						&:hover
							background $blue_light
							color white

			&:first-child
				margin 0

	&--pagination
		margin 50px 0 0
		padding 40px 0 0 0
		border-top 1px solid $border_color
