.header
	&
		position relative
		width 100%
		min-width 1000px
		z-index 1002
		padding rem(0 12)
		margin 0 auto
		height $header-height-small
		background #fff
		border-bottom 1px solid $border_color
		cf()

		+responsive('min-width: 980px')
			padding rem(3 20 0)
			height $header-height-large - 10px
			position fixed
		+responsive('min-width: 1200px')
			height $header-height-large

		&.m-static
			position relative

		&.m-pros
			+responsive('min-width: 980px')
				height 97px
				padding-top 20px

		&.m-pros &
			&--right
				padding-right 0

		+mobile_ready_and_mobile()
			min-width 320px

		&--in
			max-width 1170px
			margin 0 auto

		&--logo
			margin rem(0 19 0 0)
			float left
			height 100%
			+responsive('max-width: 980px')
				margin 0
			h1
			span
				display block
				position relative
				text-indent -9999px
				+responsive('max-width: 980px')
					position absolute
					top 10px
					left 50%
					margin-left -65px
					width 130px
					height 38px
				+responsive('min-width: 980px')
					width 145px
					height 40px
					margin-top 16px
				+responsive('min-width: 1200px')
					margin-top 17px
					width 160px
					height 44px
				&:before
					position absolute
					left 0
					width 100%
					height 100%
					display block
					background url($i 'svg/logo.svg') no-repeat
					content ''
					background-size 100%
		&--content
			display flex
			height 100%
			+mobile_ready_and_mobile()
				display none
				+responsive('min-width: 980px')
					display flex
					height 100%

		&--call
			display none
			font-size 15px
			text-transform uppercase
			font-weight bold
			color $blue_light
			position absolute
			right 0
			top 0
			letter-spacing .05em
			+responsive('min-width: 980px')
				display block

			&:before
				icon($i-phone_filled)
				vertical-align top
				margin-right 7px
				position relative
				top -1px

			&.m-right
				position static
				float right
				margin-top 30px

			&.m-large
				font-size 21px

		&--left
			margin-right auto
			white-space nowrap
			height 100%
			display flex
			align-items center

		&--right
			margin-left auto
			white-space nowrap
			height 100%
			display flex
			align-items center
			position relative
			padding-right 13px
			padding-top 1px

			.header--nav
				&:after
					display none

			.header--nav + .header--user
				margin-left 0

		&--trigger_btn
			background $red
			text-transform uppercase
			border-radius 9px
			padding 3px 10px
			color white
			font-size 12px
			font-weight bold
			line-height 1
			margin-right 18px
			+responsive('max-width: 980px')
				margin-top 3px
				margin-right 0

			&:hover
				background-color $red_light

		&--tour_btn
			padding rem(6px 10px)
			+responsive('max-width: 980px')
				display none

		&--brought
			margin-left auto
			white-space nowrap
			height 100%
			display flex
			align-items center
			text-transform uppercase
			font-weight 600
			padding-top 10px
			color $gray
			letter-spacing 0.01em

			p
				margin-right 20px

		&--nav
			display inline-block
			padding 2px 0 0 0
			font-size rem(13)
			text-transform uppercase
			font-weight 600
			position relative
			display flex
			align-items center
			&:after
				width 1px
				height 100%
				content ''
				position absolute
				left 0
				top 50%
				background $border_color
				height 60px
				margin-top -(@height / 2)
			+responsive('min-width: 980px')
				font-size rem(13)
			+responsive('min-width: 1200px')
				font-size rem(14)
				padding-top 2px
				&:after
					height 70px
					margin-top -(@height / 2)

			li
				display inline-block
				padding rem(0 0 0 18)
				position relative
				+responsive('min-width: 1200px')
					padding-left 29px
				a
					color $gray_dark
					&:hover
						color $blue
				&.m-current
					a
						color $blue
				.btn
					top -1px
					padding rem(8 12)
					height 33px
					text-transform none
					&.m-red
						color white
					&.m-get-started
						color #fff
						padding rem(8 12)
						background $blue_light
						text-transform uppercase
						font-size rem(13)
						font-weight 600
						height auto
						&:hover
							background $blue
					&.m-search
						padding-left 30px
						&:before
							icon($i-search)
							font-size rem(13)
							position absolute
							top 50%
							left 9px
							t-translate(0, -50%)

					+responsive('min-width: 980px')
						font-size rem(13)
						&.m-search
							padding-left rem(26)
							&:before
								font-size rem(14)
								left 6px
					+responsive('min-width: 1200px')
						height 38px
						font-size rem(14)
						padding rem(10 16)
						&.m-get-started
							padding rem(10 20)
						&.m-search
							padding-top rem(10)
							padding-left rem(30)
							&:before
								font-size rem(15)
								left 9px
				&:first-child:before
					display none

		&--user
			&
				white-space nowrap
				margin 0
				height 100%
				display flex
				align-items center
				padding 4px 0 0
				+responsive('min-width: 980px')
					padding 0
				> ul
					display flex
					align-items center
					height 100%


				&--item
					position relative
					margin 0 0 0 14px

					> .btn
						height 33px
						padding-top 7px
						letter-spacing 0.03em

						+responsive('min-width: 1200px')
							height 38px
							padding-top 10px

						&.m-link
							padding-left 0
							padding-right 0

							&:hover
								color $blue_light
								text-decoration none

					&.m-icon
						a
							display block
							padding 5px

							object
								display block
								fill $blue

					&.m-notification
						a
							&:before
								font-size rem(17px)
								color $blue
								icon($i-bell)

					&.m-inbox
						margin-left rem(4px)
						margin-top -1px

						a
							&:before
								font-size rem(13px)
								color $blue
								icon($i-envelope)

					&.m-booked
						margin-top rem(-1px)
						a
							&:before
								font-size 16px
								color $blue
								icon($i-o-clock)

					&--new
						display block
						background $red
						color #fff
						min-width 1rem
						padding 0 rem(4px)
						border-radius 100%
						font-size 0.75rem
						font-weight normal
						text-align center
						line-height 1rem
						position absolute
						top -1px
						right -8px

					&.m-user
						height 100%

		&--lines
			height 4px
			position absolute
			top 0
			left 0
			width 100%
			background #016e80
			z-index 1
			&.m-large
				height 7px

			&:before
				display block
				background #3eb7cb
				content ''
				width 20%
				height 100%
				float left
				margin 0 0 0 20%

			&:after
				float left
				display block
				background #94b64f
				content ''
				width 20%
				height 100%

			i
				display block
				position relative
				background #d3bb4c
				position absolute
				left 60%
				top 0
				height 100%
				width 40%

				&:before
					display block
					height 100%
					width 50%
					background #ea9030
					content ''

		&--quicklinks
			position relative
			&--item
				display inline-block
				margin rem(0 0 0 7)
				a
					position relative
					display block
					width 30px
					height 30px
					font-size 16px
					line-height: 30px
					color $gray
					text-align center
					span
						display none
					i
						font-style normal
						position absolute
						background $red
						color #fff
						font-size rem(10)
						font-weight 600
						line-height 16px
						height 16px
						width 16px
						border-radius 16px
						right 0
						top 0
					&:hover
						color $blue
				&.m-current
					a
						color $blue
				&.m-hide
					display none
				&.m-conversations
					a
						&:before
							icon($i-envelope-o)

		&--toggler
			display none
			+mobile_ready_and_mobile()
				display block
				position absolute
				left 10px
				top 14px
				width 30px
				height @width
				color $blue
				transition opacity .1s linear
				&:before
					icon($i-menu)
					font-size 16px
					line-height @height
					text-align center
					display block
				body.m-slideout &
					opacity 0
				+responsive('min-width: 980px')
					display none


		&--wizard
			padding-top 4px
			white-space nowrap
			float right
			display flex
			height 100%
			align-items center

		&--wizard_exit
			font-weight 600
			color $gray_dark
			position relative
			height 28px
			line-height @height
			font-size rem(14)
			padding-right 38px
			&:before
				icon($i-times)
				border 1px solid $border_color
				color $gray
				width 28px
				height @width
				border-radius @width
				line-height 26px
				font-size 14px
				text-align center
				position absolute
				right 0
				top 0
			+responsive('max-width: 980px')
				width 28px
				height @width
				padding 0
				span
					display none

			&:not([disabled])
				&:hover
					color $blue_light
					&:before
						color $blue_light
						border-color lighten($blue_light, 40)
			&[disabled]
				opacity .4
				cursor default
