.edit_phones
	padding rem(40px 32px)

	&--info
		padding 0 0 0 2rem
		color $blue
		position relative
		line-height rem(20px)
		font-style italic
		font-weight 600
		letter-spacing 0.015rem
		margin rem(0 0 55px)

		&:before
			icon($i-info)
			position absolute
			top -1px
			left 0
			font-size rem(19px)

	&--list
		&--header
			cf()
			padding rem(0 0 10px 15px)
			
			&--key
				color $gray
				width 155px
				float left

		&--items
			border 1px solid #ebebeb
			width 630px
			margin rem(0 0 10px)

		&--item
			&
				cf()
				display flex
				flex-direction row
				align-items stretch
				border-top 1px solid $border_color
				position relative
				
				&--col
					padding rem(12px 0 12px 35px)
					flex 1
					
					.radio
						display inline-block
						vertical-align middle
						margin rem(0 18px 0 0)

				&--phone
					display inline-block
					vertical-align middle
					
					b
						display inline-block
						vertical-align middle
						margin rem(0 13px 0 0)
						text-align right
						min-width 62px
						
					.field
						width 220px

						&.m-short
							width 70px
							
				&--phone + &--phone
					margin-left 5px

				&--buttons
					display flex
					align-items stretch
					cf()
					&--btn
						width 112px
						border-left 1px solid $border_color
						font-size .875rem
						font-weight 600
						text-align center
						position relative
						color $blue
						
						span
							position absolute
							top 50%
							left 0
							width 100%
							transform translate(0, -50%)
							color $gray
							
				&--remove
					&
						width 30px
						height 30px
						position absolute
						left 100%
						top 50%
						t-translate(0, -50%)
						color $red
						margin 0 0 0 15px
						
						&:before
							icon($i-times)
							font-size rem(17px)
							
					&:hover
						color darken($red, 20%)
						

			&:first-child
				border none
	
		&--add_item
			&
				text-transform uppercase
				font-size rem(12px)
				color $blue
				font-weight 600
				padding rem(5px 15px)
			
			&:hover
				color $blue_dark
