.popup_wizard
	.popup--close
		right 20px
		top 20px
		+desktop()
			right 40px
			top 25px

	.popup--container
		width 800px
		+mobile()
			position fixed
			left 0
			right 0
			top 0
			bottom 0
			width 100%
			height 100%
			overflow scroll
			border-radius 0

	+responsive('max-width: 980px')
		.wizard--container
			display block

		.wizard--container,
		.wizard--container_wrap
			min-height auto

		.wizard--content_scroll
			height auto
		.wizard--content_wrap
			display block

		.wizard--footer
			padding 0
			border-top 0
			cf()
			.btn
				border-radius 0
				margin 0
			.wizard--footer_btns
				float right
				width 50%
			.wizard--prev_step
				float left
				width 50%
			.wizard--next_step
				display block
				width 100%

			.wizard--next_step
			.wizard--prev_step
				&.m-hide
					display none

		.popup--container
			max-width 1180px
			width 98%

	&.m-successful
		.popup--close
			top 40px
		.popup--container
			width 740px
			min-width 320px
