.book_appointment

	// search
	&.m-search
		.booking_widget
			&--service_row
				display block
				margin 0 0 20px

				.form--group
					margin 0 0 10px
					display block
					width 100%
					dt
						margin 0 0 5px 0

			&--pricing
				display none

	&.m-search &
		&--schedule
			padding 13px 20px 10px

		&--service
			display none
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background #fff
			z-index 10
			padding 20px 20px 0

	// Price in select session box
	.select_session
		.select2-selection
			padding-right rem(25px)

		.select2-selection__rendered
			span b
				display none
				color $red
				float right

// Styles for select dropdown (appended to body)
.select_session--dropdown
	.select2-results__group
		float right
		color $red
		text-align right
	.select2-results__options--nested
		position relative
		z-index 2
		.select2-results__option
			padding 0
