<div class="client_appointment--inner">
	<header class="client_appointment--header" data-appointment-header>
		<span class="client_appointment--header_avatar">{{{professional.avatar}}}</span>
		<div class="client_appointment--header_service_professional">
			<h3 class="client_appointment--header_service">{{service.detailed_name}}</h3>
			<h4 class="client_appointment--header_professional">{{professional.full_name}}</h4>
		</div>
		<div class="client_appointment--header_location m-{{location.type}}">
			<strong>{{location.name}}</strong>
			<span class="lbl m-blue_light">{{location.type_label}}</span>
		</div>
		<div class="client_appointment--header_time">
			<span>
				<strong>{{appointment_time.weekday}}</strong>, {{appointment_time.date}}
			</span>
			<p>
				{{appointment_time.from}} - {{appointment_time.until}}
			</p>
			<span class="timezone_note">{{appointment_time.timezone}}</span>
		</div>
	</header>
	<div class="client_appointment--content">
		<div class="client_appointment--content_inner">
			<div class="client_appointment--content_details">

				{{#if package}}
					<div class="client_appointment--content_details--package">
						<span class="lbl m-red">{{package.type_label}}</span>
					</div>
					<div class="client_appointment--content_details--description">
						{{#if package.is_recurring}}
							<p>This appointment is a part of the recurring monthly package.</p>
						{{else}}
							<p>This appointment is a part of the package. You have <strong>{{package.entities_left}} of {{package.number_of_entities}} {{service.name}} credits</strong> available.</p>
						{{/if}}
						<p>
							<a href="{{package.url}}" class="client_appointment--package_info">View Full Package Details</a>
						</p>
					</div>
				{{else}}
					<div class="client_appointment--content_details--description">
						&nbsp;
					</div>
				{{/if}}

			</div>
			<div class="client_appointment--content_address">
				<h3 class="client_appointment--content_address_name">{{location.name}}</h3>
				<p>{{location.address}}</p>
				{{#if location.url}}
					<p class="client_appointment--content_address_maps">
						<a href="{{location.url}}" class="client_appointment--link" target="_blank" rel="noopener">View on Google Maps</a>
					</p>
				{{/if}}
			</div>
			<div class="client_appointment--content_actions">
				<div class="client_appointment--content_actions--status">
					<span class="lbl m-{{appointment_status.status}}">{{appointment_status.label}}</span>
				</div>
				{{#if is_future}}
					<div class="client_appointment--content_actions--buttons">
						<span class="client_appointment--cta m-cancel" data-appointment-cancel data-tooltip="dark" title="Cancel Appointment">Cancel Appointment</span>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
