<header class="client_appointments--header">
	<div class="client_appointments--header_filter">
		<span class="client_appointments--header_filter--label">Show
		</span><div class="client_appointments--header_filter--field">
			<div class="select">
				<select name="filter" data-appointments-filter></select>
			</div>
		</div>
	</div>
</header>
<div class="client_appointments--appointments" data-appointments></div>
<span class="loading_overlay m-light"><span class="spin m-logo"></span></span>
