<div class="notifications">
	<header class="notifications--header">
		<div class="notifications--header--details">
			<strong class="notifications--header--title">Notifications</strong>
			<span class="notifications--header--new" id="notification-counter" data-count></span>
		</div>
		<div class="notifications--header--menu">
			<button class="notifications--header--menu_toggler" data-menu-open></button>
			<div class="notifications--header--menu_dropdown" data-menu>
				<ul>
					<li>
						<a href="#" class="notifications--header--menu_link m-read" data-read-all>Mark all as read</a>
					</li>
				</ul>
			</div>
		</div>

	</header>
	<ul class="notifications--list" data-notifications></ul>
	<span class="loading_overlay m-light"><span class="spin m-logo"></span></span>
</div>
