<time class="notification--time">{{created_human_diff}}</time>
<dl>
	<dt>{{{title}}}</dt>
	<dd>
		{{{description}}}
	</dd>
</dl>
<button class="notification--remove btn m-icon m-remove" type="button" data-read>Mark as read</button>
<span class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></span>
