<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="card_form--block">
		<header class="card_form--block--header">
			<h2 class="card_form--block--header--title">Add Bank Account</h2>
		</header>
		<form class="card_form--form">
			<div class="card_form--block--content">
				<div class="card_form--errors m-hide"></div>

				<div class="form--line">
					<dl class="form--group">
						<dt>Your Full Name</dt>
						<dd>
							<span class="field m-wide m-icon m-user">
								<input type="text" name="full_name" autocomplete="name">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
				</div>

				{{!--
				<div class="form--line">
					<dl class="form--group">
						<dt>Type of Account</dt>
						<dd>
							<div class="radio_group m-horizontal field">
								<label class="radio">
									<input type="radio" name="account_type" value="checking">
									<span class="radio--i"></span>
									<span class="radio--label">Checking</span>
								</label>
								<label class="radio">
									<input type="radio" name="account_type" value="savings">
									<span class="radio--i"></span>
									<span class="radio--label">Savings</span>
								</label>
								<label class="radio">
									<input type="radio" name="account_type" value="business_checking">
									<span class="radio--i"></span>
									<span class="radio--label">Business Checking</span>
								</label>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>
				--}}

				<div class="form--line">
					<dl class="form--group">
						<dt>Routing Number</dt>
						<dd>
							<span class="field m-wide">
								<input type="text" name="routing_number">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
				</div>

				<div class="form--line">
					<dl class="form--group">
						<dt>Account Number</dt>
						<dd>
							<span class="bank_account_form--number--label">
								<span class="bank_account_form--account_number"></span>
							</span>
							<span class="field m-wide bank_account_form--number--field">
								<input type="text" name="account_number" autocomplete="off">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
				</div>

				{{!--
				<div class="bank_account_form--region form--line">
					<dl class="form--group m-country">
						<dt>Country</dt>
						<dd>
							<div class="select">
								<select name="country">
									<option value="us">United States</option>
								</select>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
					<dl class="form--group m-currency">
						<dt>Currency</dt>
						<dd>
							<div class="select">
								<select name="currency">
									<option value="usd">USD</option>
								</select>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>
				--}}

				<dl class="cards_manager--dob form--line form--group">
					<dt>Date of Birth</dt>
					<dd>
						<div class="select">
							<select name="dob_year">
							</select>
							<span class="field--error"></span>
						</div>
						<div class="select">
							<select name="dob_month">
							</select>
							<span class="field--error"></span>
						</div>
						<div class="select">
							<select name="dob_day">
							</select>
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>

				<div class="form--line">
					<dl class="form--group">
						<dt>What type of account is this?</dt>
						<dd>
							<div class="radio_group bank_account_form--account_type m-horizontal field">
								<label class="radio">
									<input type="radio" name="account_type" value="individual">
									<span class="radio--i"></span>
									<span class="radio--label">Individual</span>
								</label>
								<label class="radio">
									<input type="radio" name="account_type" value="company">
									<span class="radio--i"></span>
									<span class="radio--label">Business</span>
								</label>
								<span class="field--error"></span>
							</div>
						</dd>
					</dl>
				</div>

				<div class="cards_manager--tos"><p>By clicking continue, I agree to the&nbsp;<a target="_blank" href="//stripe.com/connect/account-terms">Stripe Account Agreement</a>.</p></div>
			</div>
			<footer class="card_form--block--footer">
				<button class="card_form--cancel btn m-link" type="button">Cancel</button>
				<button class="card_form--add_bank_account btn m-red" type="submit">Save Bank Account</button>
			</footer>
			</form>
	</div>
</div>
