<td class="cards_list--table--actions">
	{{!-- There is nothing to edit in bank accounts --}}
	{{!--<span class="cards_list--table--action">
		<a class="cards_list--table--action--edit" href="#" data-card-edit></a>
	</span>
	--}}
	<span class="cards_list--table--action">
		<a class="cards_list--table--action--remove" href="#" data-card-remove></a>
	</span>
</td>
