<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="card_form--block">
		<header class="card_form--block--header">
			<h2 class="card_form--block--header--title" data-title></h2>
		</header>
		<form class="card_form--form">
			<div class="card_form--block--content">
				<div class="card_form--errors m-hide"></div>
				<div class="setup_cards--powered m-wizard">
					<i></i>
					<i></i>
				</div>
				<!--<div class="setup_cards&#45;&#45;card_logos">-->
					<!--<span class="setup_cards&#45;&#45;card_logo m-visa"></span>-->
					<!--<span class="setup_cards&#45;&#45;card_logo m-mastercard"></span>-->
				<!--</div>-->
				<div class="form--line">
					<dl class="form--group">
						<dt>First Name</dt>
						<dd>
							<span class="field m-wide">
								<input type="text" name="first_name" autocomplete="cc-first-name">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
					<dl class="form--group">
						<dt>Last Name</dt>
						<dd>
							<span class="field m-wide">
								<input type="text" name="last_name" autocomplete="cc-last-name">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
				</div>
				<dl class="card_form--form_number form--group form--line" data-booking-payment-node="new_card_number">
					<dt>Card Number</dt>
					<dd>
						<span class="card_form--form_number--label">
							<span class="card_form--card_number"></span>
						</span>
						<span class="field m-icon m-card m-wide card_form--form_number--field">
							<input type="tel" name="card_number" autocomplete="cc-number" x-autocompletetype="cc-number" pattern="[0-9]*">
							<span class="field--error"></span>
						</span>
					</dd>
				</dl>

				<div class="card_form--form_info form--line">
					<dl class="card_form--expiration form--group">
						<dt>Expiration</dt>
						<dd>
							<span class="field">
								<input type="tel" name="card_exp" autocomplete="cc-exp" placeholder="MM / YYYY">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
					<dl class="card_form--cvc form--group">
						<dt>CVV</dt>
						<dd>
							<span class="field m-wide">
								<input type="tel" name="cvv" autocomplete="off" placeholder="CVV">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
				</div>
				<dl class="cards_manager--dob form--line form--group">
					<dt>Date of Birth</dt>
					<dd>
						<div class="select">
							<select name="dob_year">
							</select>
							<span class="field--error"></span>
						</div>
						<div class="select">
							<select name="dob_month">
							</select>
							<span class="field--error"></span>
						</div>
						<div class="select">
							<select name="dob_day">
							</select>
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
				<dl class="cards_manager--account_type form--line form--group">
					<dt>What type of account is this?</dt>
					<dd>
						<div class="radio_group m-horizontal field">
							<label class="radio">
								<input type="radio" name="account_type" value="company">
								<span class="radio--i"></span>
								<span class="radio--label">Business</span>
							</label>
							<label class="radio">
								<input type="radio" name="account_type" value="individual">
								<span class="radio--i"></span>
								<span class="radio--label">Individual</span>
							</label>
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
				<div class="cards_manager--tos"><p>By saving the card, I agree to the&nbsp;<a target="_blank" href="//stripe.com/connect/account-terms">Stripe Account Agreement</a>.</p></div>
			</div>
			<footer class="card_form--block--footer">
				<button class="card_form--cancel btn m-link" type="button">Cancel</button>
				<button class="card_form--add_card btn m-red" type="submit">Save New Card</button>
			</footer>
			</form>
	</div>
</div>
