<div class="professional_setup--error m-hide m-generic" data-generic-error></div>

<div class="professional_setup--location_type">
	<h2 class="professional_setup--location_type--title">Where do you accept clients?</h2>
	<div class="professional_setup--location_type--items">
		{{#each locationTypes}}
		<label class="professional_setup--location_type--item m-{{type}}">
			<input type="radio" name="location_type" value="{{id}}">
			<div class="professional_setup--location_type--item--label">
				<span class="professional_setup--location_type--item--icon m-{{type}}">{{{icon}}}</span>
				<h3 class="professional_setup--location_type--item--title">{{name}}</h3>
				<p class="professional_setup--location_type--item--description">{{description}}</p>
			</div>
		</label>
		{{/each}}
	</div>
</div>

<div class="professional_setup--form m-hide" data-fields>

	<div class="professional_setup--panel m-pad">
		<div class="professional_setup--form--row m-hide" data-field="name">
			<dl class="form--group">
				<dt>Location Name</dt>
				<dd>
					<div class="field m-location_name m-wide">
						<span class="field--error"></span>
						<input name="location_name" type="text" placeholder="Set your Location Name">
					</div>
				</dd>
			</dl>
		</div>

		<div class="professional_setup--form--row m-hide" data-field="service_area">
			<div class="form--group">
				<span>I do on-site home visits within</span>
				<span class="field m-service_area">
					<span class="field--error"></span>
					<input type="tel" name="service_area">
				</span>
				<span>miles of the following address:</span>
			</div>
		</div>


		<div class="professional_setup--form--row m-hide" data-field="address_line">
			<dl class="form--group">
				<dt>Address</dt>
				<dd>
					<div class="field m-location_address m-wide m-icon m-map_marker">
						<span class="field--error"></span>
						<input name="address_line" type="text" placeholder="Begin typing your address (USA only) and then select from the suggested list.">
					</div>
					<div class="field m-wide m-hide m-address_line_two" data-field="address_line_two">
						<span class="field--error"></span>
						<input name="address_line_two" type="text" placeholder="Address line 2 (optional)">
					</div>
				</dd>
			</dl>
		</div>
		<div class="professional_setup--form--row m-hide" data-field="address_label">
			<dl class="form--group">
				<dt>Home Visit Area</dt>
				<dd>
					<div class="field m-location_address_label m-wide">
						<span class="field--error"></span>
						<input name="address_label" type="text" placeholder="Ex. New York">
					</div>
				</dd>
			</dl>
		</div>
		<div class="professional_setup--form--row m-hide" data-field="note">
			<dl class="form--group">
				<dt>Contact Info & Meeting Details (phone, Skype, address, etc.)</dt>
				<div class="field m-note m-wide">
					<span class="field--error"></span>
					<textarea name="note" placeholder="Let your client know how to be in touch with you or where to meet you." cols="30" rows="6" data-maxlength="200"></textarea>
				</div>
			</dl>
		</div>
		<div class="professional_setup--form--row m-hide" data-field="timezone">
			<dl class="form--group">
				<dt>Timezone</dt>
				<dd>
					<div class="field m-timezone_current m-wide">
						<label class="checkbox">
							<input type="checkbox" name="timezone_current" checked="checked">
							<span class="checkbox--i"></span>
							<span class="checkbox--label">Use my current timezone</span>
						</label>
					</div>
					<div class="select m-timezone m-wide m-hide" data-field-timezone>
						<select name="timezone"></select>
						<span class="field--error"></span>
					</div>
				</dd>
			</dl>
		</div>
		<div class="professional_setup--form--row" data-edit-availabilities></div>
		<div class="professional_setup--form--row m-hide m-padding_time" data-field="padding_time">
			<div class="form--group">
				<span>Padding time in-between appointments (min)</span>
				<span class="field m-padding_time">
					<span class="field--error"></span>
					<input type="number" name="padding_time">
				</span>
			</div>
		</div>
	</div>

	<footer class="professional_setup--form--actions">
		<button class="btn m-link m-cancel m-large" type="button" data-cancel-location>Cancel</button>
		<button class="btn m-light_blue m-save m-large" type="button" data-save-location>Save Location</button>
	</footer>
</div>
