<div class="professional_setup--periods">
	<div class="professional_setup--periods--list" data-periods-list></div>
</div>
<footer class="professional_setup--sub_footer m-full">
	{{#if timezone}}
	<span class="professional_setup--sub_footer--timezones timezone_note">Times shown in <b class="timezone">{{timezone}}</b></span>
	{{/if}}
	<button data-periods-add type="button" class="professional_setup--sub_footer--add">Add Another Time Period</button>
</footer>
