<div class="professional_setup--listing--item_details">
	<div class="professional_setup--listing--item_content" data-details-edit>
		<h3 class="professional_setup--listing--item_name" data-details-name></h3>
		<div class="professional_setup--listing--item_description" data-details-description></div>
		<div class="professional_setup--listing--item_dates" data-details-dates></div>
	</div>
	<div class="professional_setup--listing--item_actions">
		<button type="button" class="professional_setup--listing--item_action m-edit" data-details-edit></button>
		<button type="button" class="professional_setup--listing--item_action m-remove" data-details-remove></button>
	</div>
</div>
<div class="professional_setup--listing--item_edit" data-locations-edit-container></div>
