.instructor
	&--header
		border-bottom 1px solid $border_color
		padding rem(15px)
		
		&--title
			font-size 1rem
			font-weight 600

	&--content
		display flex
		
	&--profile
		flex 0 0 53%
		
	&--classes
		flex 0 0 47%
		border-left 1px solid $border_color
		
		&--item
			&
				min-height 100px
				border-top 1px solid $border_color
				padding 10px 140px 10px 10px
				line-height 17px
				position relative
				
				ul
					margin 11px 0 0
					font-size rem(13px)
						
				&--days
					&
						position absolute
						top 10px
						right 10px
						
					&.m-location_3
						color $location-3
						
					&.m-location_1
						color $location-1
					
				&--book
					position absolute
					right 10px
					bottom 13px
					width 106px
				
			&:first-child
				border 0
