.medium-insert-cta {
	text-align: center;
	margin: 1em 0;
	position: relative;
	padding: 2px;
	cursor: pointer;
}
.medium-insert-cta img {
	display: block;
	margin: 0 auto;
}

.medium-insert-cta-input {
	position: relative;
	color: #ccc;
	z-index: 1;
	text-align: left;
}

.medium-insert-cta-placeholder {
	position: relative;
}
.medium-insert-cta-placeholder:after {
	position: absolute;
	top: 0;
	left: 0;
	content: attr(data-placeholder);
	color: #ccc;
}



.medium-insert-cta .medium-insert-cta-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.medium-insert-cta-selected .medium-insert-cta-overlay {
	outline: 2px solid #000;
}
