<div class="profile_card--photo">
	<div class="profile_card--photo--userpic">
		<figure class="userpic m-xxlarge m-rounded">
			<span class="userpic--inner">
				{{#if avatar}}
					<img src="{{ avatar }}" alt="">
				{{/if}}
			</span>
		</figure>
	</div>
</div>
