<div class="popup clients_note" data-popup="popup_add_note" id="popup_add_note">
	<div class="popup--container" data-popup-container>
		<button class="popup--close" data-popup-close>close</button>
		<div class="clients_note--form">
			<div class="clients_note--title">
				{{#if editMode}}
					Edit Note
				{{else}}
					Add Note
				{{/if}}
			</div>
			{{!<div class="clients_note--group">
				<div class="datepicker" data-datepicker>
					<label class="clients_note--datepicker datepicker--input field m-icon m-datepicker">
						<span class="field--error"></span>
						<input name="date" type="text" data-datepicker-input readonly>
					</label>
				</div>
			</div>}}

			<div class="clients_note--group">
				<div class="field m-wide js-maxlength">
					<span class="field--error"></span>
					<textarea cols="30" rows="5" name="notes" data-maxlength="500" maxlength="500" placeholder="Write note here"></textarea>
				</div>
			</div>
			<div class="clients_note--group m-right m-actions">
				{{#if editMode}}
					<button class="btn m-link clients_note--remove" data-note-remove>Delete</button>
				{{/if}}
				<button class="btn m-red clients_note--save" data-note-save>SAVE</button>
			</div>
		</div>
		<span class="loading_overlay m-hide m-light"><span class="spin m-logo"></span></span>
	</div>
	<div class="popup--bg"></div>
</div>
