<div class="content_block--header">
	<a href="/dashboard/schedule#new:{{clientId}}" class="btn m-blue m-large m-width_205 content_block--header--btn">Book Appointment</a>
	<div class="content_block--title m-history">Client History</div>
	<div class="field profile_history--search m-hide">
		<input type="text" value="" name="search" placeholder="Search comment here..." data-notes-search>
	</div>
</div>

<div class="profile_history--section" data-section-upcoming>
	<div class="profile_history--section--header">Upcoming Appointments</div>
	<ul class="profile_history--list" data-list-upcoming></ul>
	<div class="profile_history--view_all m-hide"><button class="profile_history--view_all_link" data-show-upcoming>View all</button></div>
</div>
<div class="profile_history--section" data-section-history>
	<div class="profile_history--section--header m-has_button">
		<button class="btn m-green m-large m-width_205 profile_history--section--btn" data-client-note-add>Add note</button>
		History
	</div>
	<ul class="profile_history--list" data-list-history></ul>
	<div class="profile_history--view_all m-hide"><button class="profile_history--view_all_link" data-show-history>View all</button></div>
</div>

<span class="loading_overlay m-light"><span class="spin m-logo"></span></span>
