<div class="profile_history--item--col profile_history--item--event m-{{ status }}">
	<time><b>{{ date }}</b> {{#if time}} at&nbsp;{{ time }} {{/if}}</time>
	{{#if duration}}<p><b>{{duration}}min for ${{price}}</b></p>{{/if}}
	<p>{{ service }}</p>
</div>
<div class="profile_history--item--col profile_history--item--location">
	<p class="profile_history--item--label">{{#if location_name}}Appointment at:{{/if}}</p>
	{{#if location_name}}<p class="m-{{location_type}}"><b>{{ location_name }}</b></p>{{/if}}
	{{#if location_address}}<p>{{ location_address }}</p>{{/if}}
</div>
<div class="profile_history--item--col profile_history--item--notes m-{{ status }}">
	{{#if cancelled_on}}
		<p class="m-cancelled">Cancelled on {{ cancelled_on.date }} at {{ cancelled_on.time }}</p>
	{{/if}}

	{{#if notes}}
		<p>{{notes.text}}</p>
	{{else}}
		{{#unless cancelled_on}}
			<p class="m-empty">No note added</p>
		{{/unless}}
	{{/if}}
</div>
<div class="profile_history--item--col profile_history--item--attended">
	{{#if is_previous}}
		<div class="profile_history--item--attended--block">
			<p class="profile_history--item--label">Attended</p>
			<div data-mark>
				<button class="profile_history--item--attended--btn" data-mark-attended>Yes</button>
				<button class="profile_history--item--attended--btn" data-mark-missed>No</button>
			</div>
		</div>
	{{/if}}
</div>
<div class="profile_history--item--col profile_history--item--actions">
	{{#if notes}}
		<button class="profile_history--item--edit_notes round_icon m-edit" data-note-add data-note-edit="true">Edit notes</button>
	{{else}}
		<button class="profile_history--item--add_notes round_icon m-add" data-note-add title="Here you can write notes or reminders about this session.">Add notes</button>
	{{/if}}
</div>
