<div class="profile_packages--info">
<p class="profile_packages--info_dates">
	{{#if purchased}}Purchased <b>{{purchased}}</b> {{#if expires}} | {{/if}} {{/if}}
	{{#if expires}}Expires <b>{{expires}}</b>{{/if}}
</p>
{{#if is_monthly}}
	<p class="profile_packages--info_service">{{ service }} {{ max_per_week }} sessions per week for {{ months }}</p>
	{{#if dows}}
		<p class="profile_packages--info_dows">{{ dows }}</p>
	{{/if}}
{{else}}
	<p class="profile_packages--info_service">{{ service }} {{ number_of_entities }} x {{ duration }} minutes ${{ price }}</p>
	<p class="profile_packages--info_remaining">{{ entities_left }} of {{ number_of_entities }} sessions remaining</p>
{{/if}}
</div>

<div class="profile_packages--locations">
{{#each locations}}
	<div class="profile_packages--locations_item">
		<div class="profile_packages--locations_name m-{{ location_type }}">{{ name }}</b></div>
		<p>{{ address }}{{#if address_line_two}}, {{ address_line_two }} {{/if}}</p>
		{{#if city}}<p>{{ city }}{{#if postal_code}}, {{ postal_code }} {{/if}}</p>{{/if}}
	</div>
{{/each}}
</div>
