<div class="content_block--header">
	<div class="content_block--title m-stats">Client Stats</div>
</div>

<div class="profile_stats--content">
	<table class="profile_stats--table">
		<tr>
			<td>
				<span class="profile_stats--table--label">Last Appointment:</span>
				<span class="profile_stats--table--value" data-last-booking></span>
			</td>
			<td>
				<span class="profile_stats--table--label">Total Bookings:</span>
				<span class="profile_stats--table--value" data-total-bookings></span>
			</td>
			<td>
				<span class="profile_stats--table--label">No Shows:</span>
				<span class="profile_stats--table--value" data-no-shows></span>
			</td>
			<td>
				<span class="profile_stats--table--label">Cancellations:</span>
				<span class="profile_stats--table--value" data-cancellations></span>
			</td>
		</tr>
	</table>
</div>

<span class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></span>
