<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="client_packages_popup--wrap">
		<header class="client_packages_popup--header" data-popup-header>
			{{#if popupTitle}}
				<h2 class="client_packages_popup--header_title">{{{popupTitle}}}</h2>
			{{/if}}
			{{#if popupDescription}}
				<p>{{{popupDescription}}}</p>
			{{/if}}
		</header>
		<div class="client_packages_popup--content {{contentClass}}" data-popup-content></div>
		<div class="loading_overlay m-light m-hide" data-popup-loading><span class="spin m-logo"></span></div>
	</div>
</div>
<div class="popup--bg"></div>
