.contactus
	display flex
	flex-direction column
	background-color white
	&-buttons
		padding-bottom 51px
		+responsive('max-width: 750px')
			padding-bottom 35px
	&-form
		align-self center
		margin-top 30px
		+responsive('min-width: 750px')
			margin-top 60px
			margin-bottom 62px
		&-header
			display flex
			flex-direction column
			align-items center
			&-title
				color $gray_dark
				line-height 36px
				+responsive('min-width: 750px')
					font-size 32px
					font-weight 400
				+responsive('max-width: 750px')
					color $gray_dark
					font-size 19.2px
					font-weight 600
		.field.m-tel_prefix:after
			margin-top -1px
	&-header
		display flex
		justify-content center
		background-image url("/assets/frontend/images/content/contactus/header-bg.png")
		background-repeat no-repeat
		background-position-x center
		background-position-y center
		background-size cover
		+responsive('max-width: 750px')
			background-image url("/assets/frontend/images/content/contactus/mobile-header-bg.png")
		&-body
			display flex
			flex-direction column
		h1
			color white
			font-size 55px
			font-weight 500
			text-align center
			text-shadow -2px 0px 5px rgba(0, 0, 0, 0.24)
			+responsive('min-width: 750px')
				padding-top 214px
				padding-bottom 49px
			+responsive('max-width: 750px')
				padding-top 77px
				padding-bottom 16px
				font-size 30px
				font-weight 500
				text-align center
				text-shadow -2px 0px 5px rgba(0, 0, 0, 0.24)
	&-details-wrapper
		background-image url("/assets/frontend/images/content/contactus/connect-details-bg.png")
		background-repeat repeat
		display flex
		flex-direction column
	&-details
		display flex
		flex-direction row
		text-align center
		max-width 988px
		width 100%
		+responsive('min-width: 750px')
			align-self center
			padding-bottom 65px
		+responsive('max-width: 750px')
			flex-direction column
			padding-bottom 22px
		&-item
			display flex
			flex-direction column
			flex-grow 1
			+responsive('max-width: 750px')
				align-self center
		&-icon
			align-self center
			border-radius 50%
			border-width 2px
			border-color  #ffffff
			border-style solid
			background-color  #dd786b
			+responsive('max-width: 750px')
				margin-top 18px
				margin-bottom 14px
				width 51px
				height 51px
			+responsive('min-width: 750px')
				margin-bottom 28px
				margin-top 61px
				width 74px
				height 74px


		&-title
			color  $gray_dark
			font-size 11.2px
			font-weight 600
			line-height 24px
			+responsive('min-width: 750px')
				font-size 16px

		&-call-us-icon
			padding-top 8px
			+responsive('min-width: 750px')
				padding-top 12px
			&:before
				icon($i-phone)
				font-size 33px
				color white
				+responsive('min-width: 750px')
					font-size 47px
		&-email-us-icon
			padding-top 14px
			+responsive('min-width: 750px')
				padding-top 21px
			&:before
				icon($i-envelope)
				font-size 17px
				color white
				+responsive('min-width: 750px')
					font-size 26px

		&-text
			color  #787878
			font-size 11.2px
			font-weight 300
			line-height 24px
			+responsive('max-width: 750px')
				line-height 1.4
			+responsive('min-width: 750px')
				font-size 16px
			b
				font-weight 500

		&-mail-address-icon
			padding-top 6px
			+responsive('min-width: 750px')
				padding-top 14px
			&:before
				icon($i-map-marker)
				font-size 36px
				color white
				+responsive('min-width: 750px')
					font-size 46px
	&-underline
		background-color  #dd786b
		height 3px
		+responsive('min-width: 750px')
			margin-top 10px
			margin-bottom 50px
			width 80px
		+responsive('max-width: 750px')
			margin-bottom 16px
			width 49px
	&-content
		max-width 440px
		margin 0 auto
	&-btn
		+responsive('min-width: 750px')
			border-radius 32px !important
			margin-right 25px !important
			margin-left 25px !important
			padding-top 20px !important
			padding-bottom 20px !important
			padding-right 58px !important
			padding-left 26px !important
			box-shadow -2px 0px 12px 0px rgba(0, 0, 0, 0.21)  !important
			&:before
				right 29px !important
				font-weight 400px !important
		+responsive('max-width: 750px')
			font-size 11px
			padding-top 10px !important
			padding-bottom 10px !important
			padding-right 35px !important
			&:before
				font-size 16px !important
		&-compare-plans
			background-color #3eb7cb
			+responsive('max-width: 750px')
				margin-right 5px
		&-request-demo
			+responsive('max-width: 750px')
				margin-left 5px
