.contactus-form {
	/* All HubSpot Forms
	   ========================================================================== */

	/* Form Field (selector for form field wrapper) */
	.hs-form .hs-form-field {
		display block
	}

	/* Descriptions (targets class applied to Help Text divs) */
	.hs-form .hs-field-desc {
	}

	/* Labels (selects field labels and error messages) */
	.hs-form label {
	}
	.hs-form .hs-form-field > label {
	}

	/* Inputs (selectors for all inputs)  */
	.hs-form input[type="text"],
	.hs-form input[type="password"],
	.hs-form input[type="datetime"],
	.hs-form input[type="datetime-local"],
	.hs-form input[type="date"],
	.hs-form input[type="month"],
	.hs-form input[type="time"],
	.hs-form input[type="week"],
	.hs-form input[type="number"],
	.hs-form input[type="email"],
	.hs-form input[type="url"],
	.hs-form input[type="search"],
	.hs-form input[type="tel"],
	.hs-form input[type="color"],
	.hs-form input[type="file"],
	.hs-form textarea,
	.hs-form select {
	}

	/* Inputs in focus (selectors for all inputs when clicked)  */
	.hs-form input[type="text"]:focus,
	.hs-form input[type="password"]:focus,
	.hs-form input[type="datetime"]:focus,
	.hs-form input[type="datetime-local"]:focus,
	.hs-form input[type="date"]:focus,
	.hs-form input[type="month"]:focus,
	.hs-form input[type="time"]:focus,
	.hs-form input[type="week"]:focus,
	.hs-form input[type="number"]:focus,
	.hs-form input[type="email"]:focus,
	.hs-form input[type="url"]:focus,
	.hs-form input[type="search"]:focus,
	.hs-form input[type="tel"]:focus,
	.hs-form input[type="color"]:focus,
	.hs-form input[type="file"]:focus,
	.hs-form textarea:focus,
	.hs-form select:focus {
	}

	/* Multi-line inputs (selectors to target multi-line fields */
	.hs-form textarea {
	}
	.hs-form textarea:focus {
	}

	/* Dropdowns (selectors for dropdowns) */
	.hs-form select {
	}
	.hs-form select:focus {
	}

	/* Multi-select (selectors for multi-select fields) */
	.hs-form form.hs-form .hs-form-field ul.inputs-list {
	}

	.hs-form form.hs-form .hs-form-field ul.inputs-list li input {
	}
	.hs-form input[type="radio"] {
	}
	.hs-form input[type="checkbox"] {
	}

	/* Required (selectors for fields, when they do not pass validation) */
	.hs-form input:focus:required:invalid,
	.hs-form textarea:focus:required:invalid,
	.hs-form select:focus:required:invalid {
	}

	.hs-form input:focus:required:invalid:focus,
	.hs-form textarea:focus:required:invalid:focus,
	.hs-form select:focus:required:invalid:focus {
	}

	/* Error message (selector for validation messages) */
	.hs-form .hs-error-msgs label {
		color: rgb(200, 120, 114);
	}

	/* Placeholder Text (styles the placeholder attribute text) */
	::-webkit-input-placeholder { /* Webkit Browsers */
	}
	:-moz-placeholder { /* Firefox 18- */
	}
	::-moz-placeholder { /* Firefox 19+ */
	}
	:-ms-input-placeholder { /* IE10 */
	}

	/* Multi Column Form (selectors for fieldsets and field wrappers)
	   ========================================================================== */

	.hs-form .hs-form fieldset.form-columns-1 {
	}
	.hs-form .hs-form fieldset.form-columns-1 .hs-form-field {
	}

	.hs-form .hs-form fieldset.form-columns-2 {
	}
	.hs-form .hs-form fieldset.form-columns-2 .hs-form-field {
	}

	.hs-form .hs-form fieldset.form-columns-3 {
	}
	.hs-form .hs-form fieldset.form-columns-3 .hs-form-field {
	}

	/* Submit buttons (selectors for all non-CTA buttons)
	   ========================================================================== */

	body .hs-button.primary,
	body input[type="submit"],
	body input[type="button"] {
	}

	body .hs-button.primary:hover,
	body input[type="submit"]:hover,
	body input[type="button"]:hover {
	}

	body .hs-button.primary:focus,
	body input[type="submit"]:focus,
	body input[type="button"]:focus {
	}

	.hs-input {
		color: #8d8d8d;
		font-size: 16px;
		font-weight: 300;
		border-radius: 2px;
		border-width: 1px;
		border-color: #e9e9e9;
		border-style: solid;
		background-color: #f8f8f8;
		width: 100%;
		height: 48px;
		margin-bottom: 18px;
		+responsive('min-width: 750px') {
			margin-bottom: 18px;
		}
	}
	input[type="submit"].hs-button{
		color:  #ffffff;
		font-size: 16px;/* Approximation due to font substitution */
		font-weight: 600;
		border-radius: 2px;
		background-color:  #3eb7cb;
		width: 100%;
		height: 50px;
		margin-bottom: 18px;
	}
	textarea.hs-input{
		height: 68px;
		+responsive('min-width: 750px') {
			height: 130px;
		}
	}
	.hs-form-required {
		color: rgb(200, 120, 114);
		display: none;
	}

	.hs-form .hs-error-msgs {
		margin-top -20px
		margin-bottom 15px
		text-align right

		label {
			color white
			background $red
			font-size rem(12px)
			line-height rem(14px)
			padding rem(2px 8px)
			border-radius 3px
			position relative

			&:after {
				bottom 100%
				right 20px
				border solid transparent
				content ''
				height 0
				width 0
				position absolute
				pointer-events none
				border-bottom-color $red
				border-width 4px
				margin-left -4px
			}
		}
	}
}
