.footer_contact
	position relative
	max-width 780px
	margin 0 auto
	padding rem(10px 0 0)

	&--title
		font-size rem(24px)
		font-weight 300
		margin rem(0 0 28px)
		color #fff

	&--form
		position relative
		height 330px

		.field
			position absolute
			width 380px !important

		.hs_firstname
			top 0
			left 0

		.hs_lastname
			top 70px
			left 0

		.hs_email
			top 140px
			left 0

		.hs_your_speciality
			top 210px
			left 0

	/html body & &--form  //crazy selector instead of !important
		.hs-form
			.field
				position static
				input
				textarea
				.select .select2-selection
					box-sizing border-box
					padding rem(19px 20px)

			.hs-form-field
				margin 0
				padding 0
				float none
				width auto
				max-width none

			fieldset
				max-width none

			.hs_submit
				position absolute
				right 0
				top 286px
				cursor pointer

			.actions
				margin 0
				padding 0

			.hsformerror
				box-shadow none

	.hs_message_from_contact_form
		width 380px
		position absolute
		top 0
		right 0

		.field
			width 100%
			height 100%

			textarea
				height 271px


	&--submit
		font-size 1rem
		padding rem(14px 33px)
