<dl class="form--group form--line m-row-fixed m-align_top">
	<dt>Email Address</dt>
	<dd class="form--notification_holder">
		<div class="field">
			<input name="email" type="email" id="email" value="">
			<span class="field--error"></span>
		</div>
		<div class="form--notification m-arrow_top_left" data-email-verified>
			<button class="form--notification_close" data-form-notification-close>Close</button>
			<div class="form--notification_title">Confirm your intent to update your email address</div>
			<div class="form--notification_text">
				<p>A verification email has been sent to <b data-email></b>. Follow the link in the email to verify. Your account will be updated once you confirm your new email address.</p>
				<p>Don't see the verification email? <br> <a href="#" data-resend-email>Resend Email</a></p>
			</div>
		</div>
	</dd>
</dl>
<dl class="form--group form--line m-row-fixed">
	<dt>Current Password</dt>
	<dd class="field">
		<input id="password" type="password" name="current_password">
		<span class="field--error"></span>
	</dd>
</dl>
<dl class="form--group form--line m-row-fixed">
	<dt>&nbsp;</dt>
	<dd>
		<button data-update class="btn m-blue" type="submit">Update Email</button>
	</dd>
</dl>
