
{{#unless manualPasswordRequired}}
<dl class="form--group form--line m-row-fixed">
	<dt>Current Password</dt>
	<dd class="field">
		<label class="m-wide">
			<input id="currentPassword" type="password" name="currentPassword">
		</label>
		<span class="field--error"></span>
	</dd>
</dl>
{{/unless}}

<dl class="form--group form--line m-row-fixed m-has_hint">
	<dt>New Password</dt>
	<dd class="field">
		<label class="m-wide"></label>
		<input id="newPassword" type="password" name="newPassword">
		<span class="field--hint">Must be at least 7 characters.</span>
		<span class="field--error"></span>
	</dd>
</dl>
<dl class="form--group form--line m-row-fixed">
	<dt>Confirm New Password</dt>
	<dd class="field">
		<label class="m-wide"></label>
		<input id="confirmNewPassword" type="password" name="confirmNewPassword">
		<span class="field--error"></span>
	</dd>
</dl>
<dl class="form--group form--line m-row-fixed">
	<dt>&nbsp;</dt>
	<dd>
		<button data-update-password class="btn m-blue" type="submit">Change My Password</button>
	</dd>
</dl>
