<div class="edit_phone--msg m-hide" data-block="msg" data-msg></div>

<dl class="form--group form--line m-row-fixed" data-block="edit">
	<dt>Phone Number</dt>
	<dd class="field">
		<input name="number" type="tel" x-autocompletetype="tel">
		<span class="field--error"></span>
	</dd>
</dl>

<dl class="form--group form--line m-row-fixed m-hide edit_phone--row m-label" data-block="label">
	<dt>&nbsp;</dt>
	<dd class="field">
		<span class=" edit_phone--label" data-phone-number-label></span>
		<button class="btn m-link edit_phone--btn m-edit_number" type="button" data-phone-number-edit>Edit Number</button>
	</dd>
</dl>

<dl class="form--group form--line m-row-fixed m-hide edit_phone--row m-verify" data-block="verify">
	<dt>&nbsp;</dt>
	<dd>
		<div class="field">
			<span class="field--error"></span>
			<input name="verification_code" type="text" placeholder="Verification Code">
		</div>
		<button class="btn m-red edit_phone--btn m-verify_code" type="button" data-code-verify>Verify</button>
		<button class="btn m-link edit_phone--btn m-resend_code" type="button" data-code-resend>Resend Code</button>
	</dd>
</dl>

<dl class="form--group form--line m-row-fixed" data-block="button">
	<dt>&nbsp;</dt>
	<dd>
		<button data-update class="btn m-blue" type="submit">Update Phone</button>
	</dd>
</dl>
