<div class="popup--container" data-popup-container>
	<div class="popup--content">
		<div class="popup_verification--inner">
			<div class="popup_verification--image m-before" data-svg="before">{{{svgBefore}}}</div>
			<h3 class="popup_verification--title">{{title}}</h3>
			<div class="popup_verification--image m-after" data-svg="after">{{{svgAfter}}}</div>
			<div class="popup_verification--content" data-content>{{{content}}}</div>
		</div>
		<footer class="popup_verification--footer m-hide" data-footer>
			<button class="btn m-link" data-cancel-update>Cancel</button>
			<button class="btn m-red" data-confirm-update>{{updateBtnLabel}}</button>
		</footer>
	</div>
	<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
</div>
<div class="popup--bg"></div>
