<dl class="edit_set--item_row m-name">
	<dt>Name of School or Class</dt>
	<dd>
		<div class="select m-wide edit_set--item_uni_select">
			<span class="field--error"></span>
			<select data-selector='education_id' name="education_id" data-tags="true" data-select='{
				"autoinit": false,
				"hasAjax": true,
				"userOptions": true,
				"education": true,
				"ajaxUrl":"{{searchUniversitiesUrl}}",
				"freetext": "true"
			}' data-education-id="{{university_id}}">
				{{#if university_id}}
				<option value="{{university_id}}" selected>{{university_name}}</option>
				{{/if}}
			</select>
		</div>
	</dd>
</dl>
<dl class="edit_set--item_row">
	<dt>Degree or Certificate Earned</dt>
	<dd>
		<label class="field m-wide">
			<span class="field--error"></span>
			<input type="text" name="degree" value="{{degree}}" data-selector="degree"></input>
		</label>
	</dd>
</dl>
<div class="edit_set--item_row m-double">
	<dl>
		<dt>From </dt>
		<dd>
			<div class="edit_set--time_range">
				<div class="select">
					<select data-selector="from[month]" name="from[month]">
						<option selected value>Month</option>
						{{#each months}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
				<div class="select">
					<select data-selector="from[year]" name="from[year]">
						<option selected value>Year</option>
						{{#each years}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
			</div>
		</dd>
	</dl>
	<dl>
		<dt>To </dt>
		<dd>
			<div class="edit_set--time_range">
				<div class="select">
					<select data-selector="to[month]" name="to[month]">
						<option selected value>Month</option>
						{{#each months}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
				<div class="select">
					<select data-selector="to[year]" name="to[year]">
						<option selected value>Year</option>
						{{#each years}}
						<option value="{{value}}">{{text}}</option>
						{{/each}}
					</select>
					<span class="field--error"></span>
				</div>
			</div>
		</dd>
	</dl>
	<div class="edit_set--time_current">
		<label class="checkbox">
			<input type="checkbox" name="current">
			<span class="checkbox--i"></span>
			<span class="checkbox--label">I currently study here</span>
		</label>
	</div>
</div>

<button class="edit_set--item_remove" type="button" title="Remove item">Remove item</button>
