.pagination
	&
		li
			&
				display inline-block
				vertical-align top
				font-size rem(12px)
				line-height 28px
				
				a
				span
					display inline-block
					min-width 28px
					padding 0 5px
					height 28px
					color $gray
					border 1px solid $border_color
					border-radius 3px
					
					text-align center
					vertical-align middle
					cursor pointer
					outline none
					
				a:hover
					color $blue
			
			&.current
			&.m-current
				a
				span
					background #f9fafc
					cursor default
					
			&.m-skim
				a
				span
					padding 0 15px
				
	&.m-medium
		li
			font-size rem(14px)
			margin 0 5px 0 0
			a
			span
				height 32px
				min-width 32px
				line-height 32px
			
.dataTables_paginate
	margin rem(18px 32px 20px)
	
	.paginate_button
		@extends .pagination li
		@extends .pagination li span
		margin-right rem(4px)
	.current
		@extends .pagination li.current span
	
	.previous, .next
		display none
