.membership_option
	margin-bottom 14px
	display block
	display flex
	flex-direction column
	flex 1

	&--input
		position absolute
		left -9999em
		opacity 0

	&--input:checked + &--label
	&--input:checked ~ &--label
		border-color $green
		&:before
			opacity 1
			transform scale(1)

	&--label
		cursor pointer
		border 2px solid #939fa6
		border-radius 3px
		background rgba(black, .1)
		padding 7px 15px
		position relative
		transition border-color .1s ease-in
		min-height 70px
		// height 100%
		display flex
		flex-direction column
		flex 1
		&:before
			position absolute
			icon($i-check-thin)
			color white
			top -10px
			right -10px
			width 22px
			height 22px
			background $green
			display block
			border-radius 50%
			text-align center
			line-height 19px
			padding-left 1px
			font-size 8px
			border 2px solid #758a93
			opacity 0
			transform scale(0)
			transition all .15s ease-in

	&--note
		&.m-2_months_free
			&:after
				position relative
				vertical-align middle
				margin-left 10px
				top -2px
				width 132px
				height 16px
				display inline-block
				content ''
				background url($i 'membership/2_months_free.png') no-repeat right center / 132px auto
				@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
					background-image url($i 'membership/2_months_free@2x.png')

	&--price
		font-size 16px
		font-weight 600
		margin-bottom 2px
		b
			font-size 31px
			font-weight bold

	&:nth-child(2) &
		&--label
			&:before
				border-color #62747e

	// For white background
	&.m-on_white &
		&--label
			background none
			border-color $border_color_mid
			color $gray

			&:before
				border-color white
				width 26px
				height 26px
				line-height 23px
				font-size 9px
				top -12px
				right -12px

		&--input:checked + .membership_option--label
		&--input:checked ~ .membership_option--label
			border-color $green

		&--price
			b
				font-weight bold
