+responsive('max-width: 1024px')
	.membership_option
		&--note
			&.m-2_months_free
				&:after
					width 120px
					margin-top 0
					margin-left 0
					left 7px

+responsive('max-width: 860px')
	.membership_option
		display inline-block
		display flex
		margin-right 10px
		min-width 240px

		&:last-child
		&:last-of-type
			margin-right 0

		&--note
			&.m-2_months_free
				&:after
					width 132px
					margin-top 0
					margin-left 4px

		&--label
			&:before
				border-color #879192

		&:nth-child(2) &--label
			&:before
				border-color #838d8c

+responsive('max-width: 560px')
	.membership_option
		text-align center
		min-width 0
		flex 1
		margin-right 20px

		&--label
			// height 100%
			&:before
				border-color #747a7a

		&:nth-child(2) &--label
			&:before
				border-color #5c7175

		&--note
			line-height 1.3

			&.m-2_months_free
				&:after
					width 120px
					margin 0 auto

+responsive('max-width: 480px')
	.membership_option
		margin-right 15px

		&--label
			padding 7px 10px

+responsive('max-width: 360px')
	.membership_option
		width 100%
