+responsive('max-width: 1080px')
	.membership
		&--badge
			top -33px
			right -15px

+responsive('max-width: 1024px')
	.membership
		&--sidebar
			padding-left 25px
			padding-right 25px

		&--badge
			top -30px
			right -30px

		&--price
			&_option
				&_note
					&.m-2_months_free
						&:after
							width 120px
							margin-top 0
							margin-left 0
							left 7px

+responsive('max-width: 860px')
	.membership
		&--form
			display block

		&--badge
			top 10px
			right 10px

		&--sidebar
		&--main
			width 100%
			flex 0

		&--main
			padding-bottom 25px

		&--sidebar
			padding-bottom 40px
			background url($i 'membership/membership_bg_tablet.jpg') no-repeat right top / cover
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url($i 'membership/membership_bg_tablet@2x.jpg')

		&--logo
			display none

		&--price
			margin-bottom 5px

			&_option
				display inline-block
				margin-right 10px
				min-width 240px

				&:last-child
				&:last-of-type
					margin-right 0

				&_note
					&.m-2_months_free
						&:after
							width 132px
							margin-top 0
							margin-left 4px

			&_group
				margin-bottom 0

			&_total
				border-top 1px solid $border_color
				border-bottom 1px solid $border_color
				color $gray_dark
				padding 13px 30px 15px
				margin 25px -30px 25px

		&--selected
			&_text
				margin-bottom 0
				max-width 500px

			&_submit
				display none

		&--selected &--price_total
			display none

		&--footer
			&_total
				margin-top -5px
				display flex

			&_discounted
				display block

		&--agreement
			.checkbox
				padding-left 40px
				&--i
					width 25px
					height 25px
					margin-top -7px

					&:before
						top 3px
						left 3px
						font-size 17px
						color $blue_light

				input
					&:checked ~
					&:checked +
						.checkbox--i
							border-color $blue_light

		&--actions
			&_submit
				display inline-block

+responsive('max-width: 640px')
	.membership
		&--badge
			width 98px
			height 98px
			background url($i 'membership/badge_small.png') no-repeat center / contain
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url($i 'membership/badge_small@2x.png')

+responsive('max-width: 560px')
	.membership
		&--sidebar
			padding-bottom 20px

		&--title
			text-align center

		&--selected
			&_label
				font-size 16px

		&--price
			&_group
				display flex
				justify-content space-between

			&_option
				text-align center
				min-width 0
				flex 1
				margin-right 20px

				&_label
					height 100%

				&_note
					line-height 1.3

					&.m-2_months_free
						&:after
							margin 0 auto

		&--col
			width 100%

			&:nth-child(2n+1)
				margin-right 0

		&--actions
			&_submit
				width 100%
				min-width 0

		&--secure
			float none
			text-align center
			padding-top 35px

			&:after
				margin 0 auto

			&_label
				margin-bottom 5px

+responsive('max-width: 480px')
	.membership
		&--sidebar
			padding 40px 15px 20px

		&--price
			&_option
				margin-right 15px

				&_label
					padding 7px 10px

+responsive('max-width: 360px')
	.membership
		&--price
			&_group
				display block

			&_option
				width 100%
