+responsive('max-width: 1024px')
	.membership_sign
		&--fast_sign
			&_buttons
				.btn_social
					flex-basis 33%
					padding-right 25px
					i
						display none

+responsive('max-width: 860px')
	.membership_sign
		&--fast_sign
			&_buttons
				.btn_social
					padding-right 15px
					i
						display inline

+responsive('max-width: 720px')
	.membership_sign
		&--fast_sign
			&_buttons
				.btn_social
					flex-basis 33%
					padding-right 30px
					font-size 15px

					i
						display none

+responsive('max-width: 560px')
	.membership_sign
		&--fast_sign
			&_buttons
				justify-content center

				.btn_social
					font-size 0
					max-width 80px
					margin-right 20px

					&--icon
						position static
