.membership_sign
	&
		border-bottom 2px solid $border_color
		padding-bottom 15px

	&--title
		margin-bottom 25px

	&--fast_sign
		padding-bottom 50px
		position relative
		margin-bottom 13px

		&_or
			font-style normal
			position absolute
			text-align center
			text-transform uppercase
			font-size 16px
			font-weight 600
			color $gray
			width 100%
			bottom 10px
			left 0
			height 20px
			line-height 20px
			padding 2px 0

			&:before
			&:after
				width calc(50% - 40px)
				height 1px
				background $border_color
				content ''
				display block
				position absolute
				top 50%

			&:after
				right 0

			&:before
				left 0

		&_buttons
			display flex
			justify-content space-between
			padding-top 10px

			.btn_social
				font-size 14px
				padding-right 15px
				margin-right 10px
				&:last-child
					margin-right 0

				i
					font-style normal
