.membership
	&--form
		display flex
		flex-direction row-reverse
		min-height 700px

	&--badge
		position absolute
		display block
		width 114px
		height 114px
		top -27px
		right -31px
		background url($i 'membership/badge.png') no-repeat center / contain
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url($i 'membership/badge@2x.png')

	&--sidebar
		position relative
		flex 0 1 33%
		width 33%
		padding 40px
		color white
		padding-bottom 100px
		line-height 1.1
		background url($i 'membership/membership_bg.jpg') no-repeat center top / cover
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url($i 'membership/membership_bg@2x.jpg')

	&--selected
		&_label
			margin-bottom 5px
			letter-spacing 0.02em

		&_plan
			text-transform uppercase
			font-size 24px
			font-weight 600
			margin-bottom 17px

		&_text
			margin-bottom 25px
			line-height 1.3

	&--price
		font-size 14px
		padding-top 5px
		margin-bottom 25px

		&_group
			margin-bottom 35px

		&_discounted
			&.m-hide
				display none

		&_row
			font-size 16px
			display flex
			justify-content space-between
			align-items flex-start
			margin-bottom 15px

			&.m-hide
				display none

			b&_label
				font-weight bold
				position relative
				top -2px

			&_value
				text-align right

				span
					font-size 25px

				b
					font-weight bold

		&_total
			align-items flex-end
			margin-top -5px

		&_remove
			color #c6908a
			font-size 13px
			-webkit-font-smoothing auto

			&:hover
				color $red_light

	&--switcher
		margin-bottom 20px
		border 1px solid $green
		background rgba(black, .1)
		padding 3px
		border-radius 3px
		font-size 0
		display inline-block

		&_option
			display inline-block

			&_label
				min-width 96px
				color $green
				font-size 15px
				font-weight 600
				display block
				text-align center
				padding 10px 15px
				border-radius 3px
				cursor pointer
				min-height 70px

			input
				position absolute
				left -9999px
				opacity 0

			input:checked ~ &_label
				color white
				background $green

	&--features
		font-size 16px
		line-height 1.2

		li
			margin-bottom 10px
			position relative
			padding-left 30px

			&:before
				background $green
				width 9px
				height 9px
				border-radius 50%
				content ''
				position absolute
				left 0
				top 5px
				display block

	&--logo
		position absolute
		bottom 15px
		left 50%
		margin-left -80px
		width 160px
		height 34px
		display block
		background url($i 'logo_bw.png') no-repeat left bottom / contain
		@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
			background-image url($i 'logo_bw@2x.png')

	&--main
		width 68%
		flex 1 1 68%
		padding 15px 0

	&--container
		padding 20px 30px 0

	&--title
		font-size 18px
		color $gray_dark
		margin-bottom 20px
		font-weight 600

		&.m-connected
			margin-bottom 10px

	&--row
		cf()

		.form--line
			margin-top 20px

			&:first-child
				margin-top 0

		.form--group
			margin-left 15px

			&:first-child
				margin-left 0

			dt
				margin-bottom 0

			.field
				margin-left 15px
				&:first-child
					margin-left 0

		&:last-child &--col
			margin-bottom 0

	&--col
		width 48%
		float left
		margin-bottom 20px
		position relative

		&:nth-child(2n+1)
			margin-right 4%

		&.m-wide
			float none
			width 100%
			margin-right 0
			clear both


	&--footer
		padding-top 3px

		&_total
			display none

		&_discounted
			display none

	&--actions
		margin 25px 0 20px

		&_submit
			min-width 220px
			display none

	&--agreement
		margin-bottom 35px

		.checkbox
			padding-left 30px

	&--secure
		float right
		padding-top 2px

		&:after
			display block
			content ''
			background url($i 'membership/secure.png') no-repeat center top / contain
			width 248px
			height 33px

		&_label
			font-size 11px
			font-weight bold
			display block
			margin-bottom 2px
			text-transform uppercase
			color $gray
			padding-right 5px

			&.m-secure
				&:before
				&:after
					top -1px
					margin-right 8px

	&--fill_btn
		cursor pointer
		margin -10px 0 20px
