.membership_payment
	position relative

	&--types
		&_item
			display inline-block
			vertical-align top
			margin-right 35px
			margin-bottom 25px
			padding-left 30px
			-webkit-tap-highlight-color transparent

			&:last-child
				margin-right 0

			&.m-fake_label
				padding-left 0

				input[type="radio"]
					position absolute
					left -9999px
					opacity 0

			&_label
				&.m-cc
				&.m-pp
					font-size 0
					text-indent -9999em
					display block

				&.m-cc
					width 228px
					height 20px
					background url($i 'payments_cc.png') no-repeat left top / contain

				&.m-pp
					width 34px
					height 22px
					background url($i 'payments_pp.png') no-repeat left top / contain

	&--card_info
		&_line
			display flex
			justify-content space-between

		&_exp
			flex-basis 60%
			// flex-grow 1
			// min-width 195px
			//
			// .field
			// 	min-width 47%
			//
			// .select
			// 	width 100%

		&_cvc
			flex-basis 40%

		&.m-hide
			display none

	&--coupon
		&.m-hide
			display none

		&_group
			display flex
			margin-top 10px

			&.m-hide
				display none

		&_input
			flex-grow 1

		&_opener
			cursor pointer
			color $blue_light
			margin-bottom 0

	&--coupon_set
		position relative
		padding-left 20px

		&:before
			position absolute
			top -1px
			left 0
			icon($i-check-fill)
			color $green


		&.m-hide
			display none
