+responsive('max-width: 1024px')
	// .membership_payment
	// 	&--card_info
	// 		&_col
	// 			width auto
	// 			max-width 290px

+responsive('max-width: 860px')
	.membership_payment
		// &--card_info
		// 	&_col
		// 		width 48%
		// 		max-width none

		&--types
			.radio
				padding-left 45px

				input
					&:checked ~
					&:checked +
						.radio--i
							border-color $blue_light

				&--i
					width 30px
					height 30px

					&:before
						left 8px
						top 8px
						width 12px
						height 12px
						background-color $blue_light

+responsive('max-width: 680px')
	// .membership_payment
	// 	&--card_info
	// 		&_col
	// 			width auto
	// 			max-width 290px

+responsive('max-width: 560px')
	.membership_payment
		&--card_info
			// &_col
			// 	width 100%
			// 	max-width 100%

			&_line
				justify-content flex-start

			&_exp
				flex-basis auto

			&_cvc
				flex-basis 30%

+responsive('max-width: 480px')
	.membership_payment
		&--card_info
			&_exp
				flex-basis 65%

			&_cvc
				flex-basis 35%
