.certificate_select

	.m-hide
		display none

	&--container
		padding 30px 50px 20px

	&--header
		margin-bottom 25px

	&--row
		display flex
		flex-wrap nowrap
		margin-bottom rem(15)

	&--col
		flex 1
		min-height 42px
		&:last-child
			margin-left rem(15)
		&:first-child
			margin-left 0

	&--row_title
		font-weight 600
		margin rem(25 0 15)
		font-size rem(16)

	&--delivery_date
		.radio
			display block
		.radio + .radio
			margin-top rem(10)

	&--duration
		.select2-selection
			b
				float right
				color $red

	&--datepicker
		margin-top -5px
		width 200px
		&:empty
			display none
		.datepicker
			.field.m-icon.m-datepicker input
				width 100%

	&--message
		textarea
			height 90px

	&--footer
		text-align right
		padding-top 30px
