.certificate_select
	+responsive('max-width: 680px')
		&--container
			padding-left 30px
			padding-right 30px

		&--delivery_date
			flex-direction column

		&--delivery_date &--col:last-child
			margin-left 0

		&--datepicker
			margin-top 10px

	+responsive('max-width: 480px')
		&--row
			display block

		&--col
			&:last-child
				margin-left 0

		&--col + &--col
			margin-top rem(15)
