<dl class="form--group">
	<dt>Gift Certificates</dt>
	<dd>
		<label class="field checkbox m-certificates">
			<input type="checkbox" name="certificates" value="1">
			<span class="checkbox--i"></span>
			<span class="checkbox--label"><i></i> Offer clients the option to purchase gift certificates for this service.</span>
		</label>
	</dd>
</dl>
