<div data-session>
	<div class="professional_setup--error m-hide" data-generic-error></div>

	<div class="professional_setup--panel">

		<div class="professional_setup--form--row">
			<dl class="form--group">
				<dt>Introductory Session Name <i class="professional_setup--info_bubble" data-tooltip-click title="Give your introductory session a name. The name you choose will be visible to clients."></i></dt>
				<dd>
					<div class="field--group">
						<div class="field m-wide">
							<input type="text" name="title">
							<span class="field--error"></span>
						</div>
					</div>
				</dd>
			</dl>
		</div>
		<div class="professional_setup--form--row">
			<div class="form--group">
				<dd>
					<div class="field--group">
						<span class="field--error"></span>
						<label class="field checkbox">
							<input type="checkbox" name="is_first_time" value="1">
							<span class="checkbox--i"></span>
							<span class="checkbox--label" data-tooltip title="Selecting required means that all first time clients are required to schedule an introductory session prior to scheduling a regular appointment.">Required</span>
						</label>
					</div>
				</dd>
			</div>
		</div>
		<div class="professional_setup--form--row m-locations" data-edit-locations></div>
	</div>

	<div class="professional_setup--form--row">
		<dl class="form--group">
			<dt>Description</dt>
			<dd>
				<div class="field--group">
					<div class="field m-wide">
						<textarea name="description" cols="30" rows="3"></textarea>
						<span class="field--error"></span>
					</div>
				</div>
			</dd>
		</dl>
	</div>

	<div class="professional_setup--error m-hide" data-sessions-error></div>

	<div class="professional_setup--sessions">
		<div class="professional_setup--sessions--item m-introductory">
			<div class="professional_setup--sessions--item_row">
				<div class="select">
					<select data-select name="duration"></select>
					<span class="field--error"></span>
				</div>
				<span class="label">session for</span>
				<div class="field m-price">
					<i>$</i>
					<input type="text" name="price" placeholder="Price">
					<span class="field--error"></span>
				</div>
			</div>
		</div>
	</div>

</div>
