<dl class="form--group">
	<dt>Location(s) Offered</dt>
	<dd>
		<div class="field--group" data-locations-offered>
			<span class="field--error"></span>
			{{#each locations}}
				<label class="field checkbox">
					<input type="checkbox" name="location_ids" value="{{id}}">
					<span class="checkbox--i"></span>
					<span class="checkbox--label">{{name}}</span>
					<i class="checkbox--icon m-{{location_type}}">{{{icon}}}</i>
				</label>
			{{/each}}
		</div>
	</dd>
</dl>
{{#if addNewEnabled}}
	<div data-add-location-container></div>
	<div class="professional_setup--sub_footer m-add_location m-full">
		<button class="professional_setup--sub_footer--btn" type="button" data-location-add data-tooltip title="You have the option to set a new location that will be used just for introductory sessions.">{{addNewLabel}}</button>
	</div>
{{/if}}
