<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="schedule_details--wrap">
		<header class="schedule_details--header">
			<h2 class="schedule_details--header_title">Add New Appointment</h2>
		</header>
		<div class="schedule_details--content">
			<div class="schedule_details--edit_form" data-form>
				<div class="schedule--alert schedule_details--alert">
					<div class="alert m-warning m-show"></div>
				</div>
				<div class="schedule--alert schedule_details--alert_custom">
					<div class="alert m-info m-show">
						<p>You are about to create a custom appointment.</p>
						<div class="schedule_details--custom_continue">
							<button class="schedule_details--custom_continue_yes btn m-blue m-small" type="button">Continue with custom appointment</button>
							<button class="schedule_details--custom_continue_cancel btn m-small m-cancel">cancel</button>
						</div>
					</div>
				</div>
				<dl class="schedule_details--service form--group" data-service-row>
					<dt>Service</dt>
					<dd>
						<div class="select m-wide">
							<span class="field--error"></span>
							<select name="service_id" data-select></select>
						</div>
						<div class="schedule_details--custom_label m-custom m-current">
							Custom Appointment
						</div>
						<div class="schedule_details--event_types">
							<div class="schedule_details--block_time">
								<button class="schedule_details--block_time--button" type="button">
									<span class="btn m-light_gray m-s">Block Time</span>
								</button>
							</div>
						</div>
					</dd>
				</dl>
				<hr>
				<dl class="form--group" data-lock-session>
					<dt>Session</dt>
					<dd>
						<div class="select m-wide">
							<span class="field--error"></span>
							<select name="session_id" data-select></select>
						</div>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Appointment on</dt>
					<dd class="m-inline">
						<div class="datepicker" data-datepicker>
							<label class="datepicker--input field m-icon m-datepicker">
								<span class="field--error"></span>
								<input name="date" type="text" value="{{date}}" placeholder="mm/dd/yy" data-datepicker-input readonly>
							</label>
						</div>
						<span class="label">at</span>
						<div class="field">
							<input type="text" name="from">
							<span class="field--error"></span>
						</div>
						<span class="m-inline">
							<span class="label">for</span>
							<div class="select">
								<span class="field--error"></span>
								<select name="duration" data-select></select>
							</div>
						</span>
						<div class="timezone_note" data-location-timezone>Times shown in <b></b></div>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Location</dt>
					<dd>
						<div class="select m-wide">
							<span class="field--error"></span>
							<select name="location_id" data-select>
								<option value="" disabled selected>Select Location</option>
							</select>
						</div>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Client</dt>
					<dd>
						<div class="field m-wide" data-autocomplete>
							<span class="field--error"></span>
							<input name="client" type="text" placeholder="Start typing to see suggestions or enter an email">
							<span class="field--autocomplete" data-autocomplete-results></span>
							<span class="spin m-cog"></span>
						</div>
					</dd>
				</dl>
				<dl class="form--group m-hide" data-client-details>
					<dd>
						<div class="field">
							<span class="field--error"></span>
							<input name="first_name" type="text" placeholder="First Name">
						</div>
						<div class="field">
							<span class="field--error"></span>
							<input name="last_name" type="text" placeholder="Last Name">
						</div>
					</dd>
				</dl>
				<dl class="form--group m-price m-custom">
					<dt>Price</dt>
					<dd>
						<label class="field m-price">
							<span class="field--label">$</span>
							<span class="field--error"></span>
							<input name="price" type="number">
						</label>
					</dd>
				</dl>
				<dl class="form--group payment-method">
					<dt>Method of Payment</dt>
					<dd>
						<div class="m-wide">
							<span class="field--error"></span>
							<input name="payment_method" type="checkbox">
							<span class="field--label">Allow Payment In Person For This Appointment</span>
						</div>
					</dd>
				</dl>
			</div>
			<footer class="schedule_details--footer">
				<div class="schedule--alert schedule_details--footer_error">
					<div class="alert m-error m-show">
						<p>You can't save a standard appointment with the warnings above. Do you want to convert this appointment to a <strong>custom appointment</strong>?</p>
						<p>
							<button class="schedule_details--convert btn m-blue m-small">Yes</button>
							<a href="#" class="schedule_details--convert_cancel btn m-small">Cancel</a>
						</p>
					</div>
				</div>
				<span class="schedule_details--footer_actions">
					<span class="schedule_details--actions">
						<button class="schedule_details--cancel btn m-link" type="button" data-popup-close>Cancel</button>
						<button class="schedule_details--save btn m-red" type="button">Save Appointment</button>
					</span>
				</span>
			</footer>
		</div>
		<div class="loading_overlay m-light"><span class="spin m-cog"></span></div>
	</div>
</div>
<div class="popup--bg"></div>
