<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="schedule_details--wrap">
		<header class="schedule_details--header">
			<h2 class="schedule_details--header_title">Block Time</h2>
		</header>
		<div class="schedule_details--content">
			<div class="schedule_details--edit_form" data-form>

				<div class="schedule--alert schedule_details--alert">
					<div class="alert m-warning m-show"></div>
				</div>

				<dl class="form--group">
					<dt>From</dt>
					<dd class="m-inline">
						<div class="datepicker" {{#unless edit}} data-datepicker {{/unless}}>
							<label class="datepicker--input field m-icon m-datepicker">
								<span class="field--error"></span>
								<input name="date_from" type="text" value="{{date}}" placeholder="mm/dd/yy" data-datepicker-input readonly>
							</label>
						</div>
						<span class="label"></span>
						<div class="field">
							<input type="text" name="time_from">
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Until</dt>
					<dd class="m-inline">
						<div class="datepicker" {{#unless edit}} data-datepicker {{/unless}}>
							<label class="datepicker--input field m-icon m-datepicker">
								<span class="field--error"></span>
								<input name="date_until" type="text" value="{{date}}" placeholder="mm/dd/yy" data-datepicker-input readonly>
							</label>
						</div>
						<span class="label"></span>
						<div class="field">
							<input type="text" name="time_until">
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
				<div class="form--group schedule_details--timezones timezone_note">Times shown in <b>{{timezone}}</b></div>
				<dl class="form--group">
					<dt>Title</dt>
					<dd>
						<div class="field m-wide">
							<textarea name="description" rows="2" cols="40"></textarea>
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
			</div>
			<footer class="schedule_details--footer">
				<span class="schedule_details--footer_actions">
					<span class="schedule_details--actions">
						<button class="schedule_details--cancel btn m-link" type="button" data-popup-close>Cancel</button>
						<button class="schedule_details--save btn m-red" type="button">Block Time</button>
					</span>
				</span>
			</footer>
		</div>
		<div class="loading_overlay m-light"><span class="spin m-cog"></span></div>
	</div>
</div>
<div class="popup--bg"></div>
