<td class="schedule_list_details--avatar">
	<span>{{#if avatar}}<img src="{{avatar}}" alt="">{{/if}}</span>
</td>
<td class="schedule_list_details--content">
	<div class="schedule_list_details--content--inner">
		<h3 class="schedule_list_details--content--title">
			{{#if is_mobile}}
				{{full_name}}
			{{else}}
				<a href="{{profile_url}}">{{full_name}}</a>
			{{/if}}
		</h3>
		<div class="schedule_list_details--content--more">
			<div class="schedule_list_details--content--service">
				<span class="lbl m-red" data-details-package></span>
				<span class="m-name" data-details-service></span>
			</div>
			<div class="schedule_list_details--content--location">
				<span class="lbl m-blue_light" data-details-home-visit></span>
				<span class="m-name" data-details-location-name></span>
				<span class="m-address" data-details-location-address></span>
			</div>
		</div>
	</div>
</td>
<td class="schedule_list_details--actions">
	<span class="schedule--pending_confirm m-hide" data-pending-confirmation><i data-tooltip title="Confirm Appointment Request">?</i></span>
	<div class="schedule_list_details--actions--time">{{time}}</div>
	{{#unless is_mobile}}

		<div data-details-confirm class="schedule_list_details--confirm">
			<button class="schedule_list_details--confirm--btn m-yes" data-confirm="yes">Confirm</button>
			<button class="schedule_list_details--confirm--btn m-no" data-confirm="no">Decline</button>
		</div>

		<div class="schedule_list_details--actions--list" data-details-actions>
			{{#unless pending}}
			<button class="schedule_list_details--actions--btn m-notify" data-tooltip title="Notify Client" data-action="notify">
				<span>Notify</span>
			</button>
			{{/unless}}
			<button class="schedule_list_details--actions--btn m-message" data-tooltip title="Message Client" data-action="message">
				<span>Message</span>
			</button>
			<button class="schedule_list_details--actions--btn m-reschedule" data-tooltip title="Reschedule Appointment" data-action="reschedule">
				<span>Reschedule</span>
			</button>
			<button class="schedule_list_details--actions--btn m-cancel" data-tooltip title="Cancel Appointment" data-action="cancel">
				<span>Cancel</span>
			</button>
			<div class="m-hide" data-pending-confirmation>
				<button class="schedule_list_details--actions--confirmation m-confirm">Confirm</button>
				<button class="schedule_list_details--actions--confirmation m-decline">Decline</button>
			</div>
		</div>
		<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
	{{/unless}}
</td>
