<div class="schedule_info--wrap">
	<header class="schedule_info--header m-appointment">
		<figure class="header--userpic" data-header-userpic></figure>
		<div class="header--profile m-appointment">
			<span class="header--profile_name"><a href="#" class="header--profile_url schedule_info--profile_url" data-header-name></a></span>
			<span class="header--profile_details" data-header-details></span>
		</div>
		<a href="#" class="header--msg schedule_info--msg" data-message-client data-tooltip title="Message Client"></a>
	</header>
	<div class="schedule_info--content">
		<div class="schedule--alert schedule_info--alert">
			<div class="alert m-info m-show"></div>
		</div>
		<dl class="schedule_info--row m-row m-time">
			<dt>Date/Time:</dt>
			<dd>
				<p><strong data-details-date></strong></p>
				<p><span data-details-from></span> - <span data-details-until></span> (<span data-details-timezone></span>)</p>
				<div data-details-reschedule>
					<button data-details-reschedule-btn class="schedule--reschedule" type="button">Reschedule Appointment</button>
				</div>
			</dd>
		</dl>
		<dl class="schedule_info--row m-row m-service">
			<dt>Service:</dt>
			<dd>
				<span class="lbl m-red" data-details-package></span>
				<strong class="m-name" data-details-service></strong>
			</dd>
		</dl>
		<dl class="schedule_info--row m-row m-location">
			<dt>Location:</dt>
			<dd>
				<span class="lbl m-blue_light" data-details-home-visit></span>
				<strong class="m-name" data-details-location-name></strong>
				<p class="m-address" data-details-location-address></p>
			</dd>
		</dl>
		<dl class="schedule_info--row m-row m-status" data-details-status-row>
			<dt>Status:</dt>
			<dd>
				<strong data-details-status></strong>
			</dd>
		</dl>
		<dl class="schedule_info--row m-row m-confirm" data-details-confirm-row>
			<dt>Confirm?</dt>
			<dd>
				<button class="schedule_info--confirm m-yes" data-confirm="yes">Yes</button>
				<button class="schedule_info--confirm m-no" data-confirm="no">No</button>
			</dd>
		</dl>
		<footer class="schedule_info--footer" data-details-footer>
			{{#unless pending}}
			<button class="schedule_info--notify btn m-green m-small" type="button" data-details-notify>Notify Client</button>
			{{/unless}}
			{{#unless past}}
			<a href="#" class="schedule_info--remove_ask" data-tooltip title="Cancel Appointment">Cancel</a>
			{{/unless}}
		</footer>
		<span class="schedule_info--remove_confirm">
			<span class="schedule_info--remove_question">
				<span>Are you sure you want to remove this appointment?</span>
				<a href="#" class="schedule_info--remove_yes">Yes</a>
				<a href="#" class="schedule_info--remove_cancel">Cancel</a>
			</span>
		</span>
	</div>
	<div class="loading_overlay m-hide m-light"><span class="spin m-logo"></span></div>
</div>
