<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="schedule_info_popup--wrap">

		<header class="schedule_info_popup--header">
			<h2 class="schedule_info_popup--header_title" data-header-name></h2>
		</header>

		<div class="schedule_info_popup--content">

			<div class="schedule_info_popup--inner">

				<div class="schedule_info_popup--content">

					<div class="schedule_info_popup--content--header">
						<figure class="schedule_info_popup--content--header--userpic" data-header-userpic></figure>
						<div class="schedule_info_popup--content--header--profile">
							<a href="#" data-header-name></a>
						</div>
						<a href="#" class="schedule_info_popup--content--header--msg" data-message-client></a>
					</div>

					<div class="schedule--alert m-hide schedule_info_popup--alert">
						<div class="alert m-info m-show"></div>
					</div>

					<dl class="schedule_info_popup--row m-date">
						<dt>Date</dt>
						<dd>
							<p><strong data-details-date></strong></p>
						</dd>
					</dl>
					<dl class="schedule_info_popup--row m-time">
						<dt>Time</dt>
						<dd>
							<p>
								<strong>
									<span data-details-from></span> - <span data-details-until></span> (<span data-details-timezone></span>)
								</strong>
							</p>
							<p data-details-reschedule>
								<button data-details-reschedule-btn class="schedule--reschedule" type="button">Reschedule Appointment</button>
							</p>
						</dd>
					</dl>

					<dl class="schedule_info_popup--row m-service">
						<dt>Service</dt>
						<dd>
							<span class="lbl m-red" data-details-package></span>
							<strong class="m-name" data-details-service></strong>
						</dd>
					</dl>
					<dl class="schedule_info_popup--row m-location">
						<dt>Location</dt>
						<dd>
							<span class="lbl m-blue_light" data-details-home-visit></span>
							<strong class="m-name" data-details-location-name></strong>
							<p class="m-address" data-details-location-address></p>
						</dd>
					</dl>
					<dl class="schedule_info_popup--row m-status" data-details-status-row>
						<dt>Status</dt>
						<dd>
							<strong data-details-status></strong>
						</dd>
					</dl>
					<dl class="schedule_info_popup--row m-row m-confirm" data-details-confirm-row>
						<dt>Confirm?</dt>
						<dd>
							<button class="schedule_info_popup--confirm m-yes" data-confirm="yes">Yes</button>
							<button class="schedule_info_popup--confirm m-no" data-confirm="no">No</button>
						</dd>
					</dl>
					<footer class="schedule_info_popup--footer" data-details-footer>
						<button class="schedule_info_popup--notify btn m-large m-green" type="button" data-details-notify>Notify Client</button>
						{{#unless past}}
							<button class="schedule_info_popup--remove_ask btn m-large m-red" type="button" data-cancel-appointment>Cancel Appointment</button>
						{{/unless}}
					</footer>
				</div>
			</div>

			<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
		</div>
	</div>
</div>


