<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="schedule_details--wrap">
		<header class="schedule_details--header">
			<h2 class="schedule_details--header_title">Edit Appointment for <span data-edit-client></span></h2>
		</header>
		<div class="schedule_details--content">
			<div class="schedule_details--edit_form">
				<div class="schedule--alert schedule_details--alert"></div>
				<dl class="form--group" data-service-row>
					<dt>Service</dt>
					<dd>
						<div class="select m-wide">
							<span class="field--error"></span>
							<select name="service_id" data-select disabled></select>
						</div>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Appointment on</dt>
					<dd class="m-inline">
						<div class="datepicker" data-datepicker>
							<label class="datepicker--input field m-icon m-datepicker">
								<span class="field--error"></span>
								<input name="date" type="text" placeholder="mm/dd/yy" data-datepicker-input readonly>
							</label>
						</div>
						<span class="label">at</span>
						<div class="field">
							<input type="text" name="from">
							<span class="field--error"></span>
						</div>
						<span class="m-inline">
							<span class="label">for</span>
							<span class="field--inline" data-edit-duration></span>
						</span>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Location</dt>
					<dd>
						<div class="select m-wide">
							<span class="field--error"></span>
							<select name="location_id" data-select disabled></select>
						</div>
					</dd>
				</dl>


				<dl class="form--group m-price">
					<dt>Price</dt>
					<dd>
						<div class="m-inline">
							<strong class="field--inline m-price" data-edit-price></strong>
						</div>
					</dd>
				</dl>
			</div>
			<footer class="schedule_details--footer">
				<span class="schedule_details--footer_actions">
					<span class="schedule_details--remove">
						<button class="schedule_details--remove_ask" type="button"></button>
						<span class="schedule_details--remove_confirm">
							<span>Are you sure you want to remove this appointment?</span>
							<a href="#" class="schedule_details--remove_yes">Yes</a>
							<a href="#" class="schedule_details--remove_no">Cancel</a>
						</span>
					</span>
					<span class="schedule_details--actions">
						<button class="schedule_details--cancel btn m-link" type="button" data-popup-close>Cancel</button>
						<button class="schedule_details--save btn m-red" type="button">Update Appointment</button>
					</span>
				</span>
			</footer>
		</div>
		<div class="loading_overlay m-light"><span class="spin m-cog"></span></div>
	</div>
</div>
<div class="popup--bg"></div>
