<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="schedule_details--wrap">
		<header class="schedule_details--header">
			<h2 class="schedule_details--header_title">What would you like to do?</h2>
		</header>
		<div class="schedule_details--content">
			<div class="schedule_details--edit_form" data-form>
				<div class="schedule_details--select_action">
					<button class="schedule_details--select_action--edit_blocked btn m-blue" type="button">Edit blocked time</button>
					<button class="schedule_details--select_action--unblock_time btn m-light_gray" type="button">Unblock time</button>
				</div>
			</div>
			<footer class="schedule_details--footer">
				<span class="schedule_details--footer_actions">
					<span class="schedule_details--actions">
						<button class="schedule_details--cancel btn m-link" type="button" data-popup-close>Cancel</button>
					</span>
				</span>
			</footer>
		</div>
	</div>
</div>
<div class="popup--bg"></div>
