<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="schedule_details--wrap">
		<header class="schedule_details--header">
			{{#if selected_date}}
				<h2 class="schedule_details--header_title">{{selected_date}}</h2>
			{{else}}
				<h2 class="schedule_details--header_title">What would you like to do?</h2>
			{{/if}}
		</header>
		<div class="schedule_details--content m-no_scroll">
			<div class="schedule_details--edit_form" data-form>
				<div class="schedule_details--select_action">
					<button class="schedule_details--select_action--custom btn m-red" type="button">Add New Appointment</button>
					<button class="schedule_details--select_action--block_time btn" type="button">Block Time</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup--bg"></div>
