<div class="popup--container" data-popup-container>
	<button class="popup--close" data-popup-close>close</button>
	<div class="schedule_details--wrap">
		<header class="schedule_details--header">
			<h2 class="schedule_details--header_title">The following time will be unblocked</h2>
		</header>
		<div class="schedule_details--content">
			<div class="schedule_details--edit_form" data-form>
				<dl class="form--group">
					<dt>From</dt>
					<dd class="m-inline">
						<div class="datepicker">
							<label class="datepicker--input field m-icon m-datepicker">
								<span class="field--error"></span>
								<input name="date_from" type="text" value="{{date}}" placeholder="mm/dd/yy" data-datepicker-input readonly>
							</label>
						</div>
						<span class="label"></span>
						<div class="field">
							<input type="text" name="time_from" readonly>
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Until</dt>
					<dd class="m-inline">
						<div class="datepicker">
							<label class="datepicker--input field m-icon m-datepicker">
								<span class="field--error"></span>
								<input name="date_until" type="text" value="{{date}}" placeholder="mm/dd/yy" data-datepicker-input readonly>
							</label>
						</div>
						<span class="label"></span>
						<div class="field">
							<input type="text" name="time_until" readonly>
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
				<dl class="form--group">
					<dt>Comment</dt>
					<dd>
						<div class="field m-wide">
							<textarea name="description" rows="2" cols="40" readonly></textarea>
							<span class="field--error"></span>
						</div>
					</dd>
				</dl>
			</div>
			<footer class="schedule_details--footer">
				<span class="schedule_details--footer_actions">
					<span class="schedule_details--actions">
						<button class="schedule_details--cancel btn m-link" type="button" data-popup-close>Cancel</button>
						<button class="schedule_details--unblock btn m-red" type="button">Unblock Time</button>
					</span>
				</span>
			</footer>
		</div>
		<div class="loading_overlay m-light"><span class="spin m-cog"></span></div>
	</div>
</div>
<div class="popup--bg"></div>
