.certificates
	padding rem(20px 35px 30px 70px)

	.profile--block--header
		margin-bottom rem(30px)

	.carousel--thumb
			&
				position relative
				display block
				border 2px solid $border_color
				outline none

				img
					display block

			// &:hover

			//     img

	.carousel--thumb_wrap
		width 200px


	&--item_text
		padding-top 5px


	&--gallery
		&.carousel .owl-nav .owl-prev
		&.carousel .owl-nav .owl-next
			top 68px
