+responsive('max-width: 860px')
	.certificates
		padding rem(25px 20px)

+responsive('max-width: 750px')
	.certificates
		padding rem(20px 35px 30px 60px)

+responsive('max-width: 640px')
	.certificates
		padding rem(35px 27px)

+responsive('max-width: 480px')
	.certificates
		padding rem(25px 20px)
