.map_widget
	padding 7px
	&.m-hide
		display none
	&--inner
		position relative
		height 440px
		background #ccc

	&--open
		background rgba(#000, .4)
		color #fff
		position absolute
		z-index 9998
		right 7px
		bottom 20px
		font-weight 600
		padding 11px 10px 11px 36px
		border-radius 3px 0 0 3px

		&:before
			icon($i-search-plus)
			color #fff
			font-size 17px
			position absolute
			left 12px
			top 50%
			t-translate(0, -50%)
			margin -1px 0 0
