.feedback-container
	position fixed
	bottom 6px
	right 6px
	z-index 10000
	.m-popup_opened &
		display none
	button
		&.feedback-button
			background-color $feedback_button_color
			padding 5px 20px
			font-size 16px
			color #fff
			border-radius 6px
	.feedback-form
		border-radius 10px
		border 1px solid #B2B7BA
		display none
	.feedback-target
		background-color $feedback_backgound
		padding 10px 20px
		border-radius 0 0 10px 10px
	.feedback-header
		&.wizard--header
			height 60px
			border-radius 10px 10px 0 0
			padding 20px 30px
			font-size 18px
			margin -1px -1px 0 -1px // remove weird border
	.feedback-text
		max-width 500px
		padding 10px 20px
		line-height 1.45
		background-color $feedback_backgound
	a
		&.feedback-close
			&.popup--close
				&.m-white
					top 16px
					right 20px
	.btn
		cursor pointer
	.field
		display block
		margin-bottom rem(10)
		.input
			width 100%
		> label
			display block
			margin-bottom rem(5)
			font-weight 600
			.hs-form-required
				color $red_light
		//input,
		//textarea
		//	width 100%
	textarea
		min-height 80px
	.submitted-message
			text-align center
			color #9C3
			font-size 20px
	.hs-error-msgs
		margin-top rem(5)
		color $red_light
		font-size rem(12)
	.actions
		text-align right


	.form-columns-2
		cf()
		.field
			width 50%
			float left
			&:first-child
				padding-right rem(5)
			&:last-child
				padding-left rem(5)
