.bank_account_form
	.popup--close
		top 25px

	.form--line
		margin-top 1.15rem

	&--account_type
		padding rem(5px 0 10px)

		.field--error
			left 0
			right auto

			&:after
				left 8px

	&--region
		&
			display flex

		.form--group
			&
				flex 1
				margin 0 0 0 10px

			&.m-country
				flex 1 1 auto

			&.m-currency
				max-width 130px
				width 130px

			&:first-child
				margin-left 0

			.select
				width 100%

	&--number
		&--label
		&--field
			&.m-hide
				display none

		&--label
			display block
			vertical-align middle
			border 1px solid $border_color
			background #f9fafc
			width 100%
			margin 0 10px 0 0
			font-size .875rem
			padding rem(14px 70px 14px 14px)
			border-radius 3px
			span
				display block
			i
				font-size 22px
				line-height 10px
				position relative
				top 1px
				padding 0 4px 0 0
				display inline-block
				font-style normal
