<div class="popup--container" data-popup-container>
	<div class="cancel_plan--container" data-cancel-container>
		<div class="popup--header m-blue">
			<h2 class="popup--header_title">
				Cancel My Plan
			</h2>
			<button class="popup--close" data-popup-close>close</button>
		</div>
		<div class="popup--content m-padded cancel_plan--content">
			<div class="cancel_plan--title">Are you sure you would like to cancel?</div>
			<div class="cancel_plan--text">
				<p>If you choose to cancel, your plan will be cancelled once your current billing cycle ends on <b data-cycle-ends></b>.</p>
				<p>However, your plan will be cancelled immediately if you exceed the number of allowed bookings included in your plan.</p>
			</div>
			<div class="popup--footer">
				<button class="btn m-link" data-popup-close><span>Do Not Cancel</span></button>
				<button class="btn m-green" name="cancel_plan">Cancel My Plan</button>
			</div>
		</div>
	</div>
</div>
