<div class="popup--container" data-popup-container>
	<div class="popup--header m-blue">
		<h2 class="popup--header_title">
			{{#if plan.is_downgrade }}
				Downgrade
			{{else if changing_cycle}}
				Change
			{{else}}
				Upgrade
			{{/if}}
			My Plan
		</h2>
		<button class="popup--close" data-popup-close>close</button>
	</div>
	<div class="popup--content m-padded change_plan--content">

		<div class="change_plan--title">
			{{#if changing_cycle }}
				Change to <b class="m-{{ plan.membership.color }}">{{ plan.membership.name }}</b>
			{{else}}
				{{#if plan.is_downgrade }}Downgrade{{else}}Upgrade{{/if}} to <b class="m-{{ plan.membership.color }}">{{ plan.membership.name }}</b>
			{{/if}}
		</div>

		{{#unless changing_cycle }}
			<div class="change_plan--text">
				{{#if plan.is_downgrade }}
					<p>The {{ plan.membership.name }} plan will take effect once your current monthly or annual plan is over. You will be billed accordingly once your new plan begins.</p>
				{{else}}
					<p>When you upgrade to {{ plan.membership.name }}, the new plan takes effect immediately and you will be billed accordingly at the end of the month. Enjoy your enhanced booking options!</p>
				{{/if}}
			</div>
		{{/unless}}

		<div class="change_plan--options">
			{{#unless plan.products.annual.is_current}}
				{{#if plan.products.annual.allowed}}
					<label for="billing_cycle_year" class="membership_option m-on_white">
						<input type="radio" id="billing_cycle_year" name="product_id" value="{{ plan.products.annual.id }}" class="membership_option--input">
						<div class="membership_option--label">
							<div class="membership_option--price"><b>${{ plan.products.annual.price.amount }}</b> / year</div>
							<div class="membership_option--note m-2_months_free">Best value</div>
						</div>
					</label>
				{{/if}}
			{{/unless}}
			{{#unless plan.products.monthly.is_current}}
				{{#if plan.products.monthly.allowed}}
					<label for="billing_cycle_month" class="membership_option m-on_white">
						<input type="radio" id="billing_cycle_month" name="product_id" value="{{ plan.products.monthly.id }}" class="membership_option--input">
						<div class="membership_option--label">
							<div class="membership_option--price"><b>${{ plan.products.monthly.price.amount }}</b> / month</div>
							<div class="membership_option--note">No contracts or commitments </div>
						</div>
					</label>
				{{/if}}
			{{/unless}}
		</div>

		<div class="change_plan--payment {{#unless card}}m-no_card{{/unless}}">
			<div class="change_plan--payment_item change_plan--payment_label">
				{{#if card}}
					Payment Method
				{{else}}
					Please Add Payment Method
				{{/if}}
			</div>
			<div class="change_plan--payment_item change_plan--payment_type">
				{{#if card }}
					<p>{{ card.type }}</p>
					<p class="m-mid"><b>{{ card.holder }}</b></p>
					<p class="m-mid m-gray">•••• •••• •••• <span>{{ card.number }}</span></p>
				{{/if}}
			</div>
			<div class="change_plan--payment_item change_plan--payment_actions">
				<button class="btn m-white" name="edit_payment" data-method-edit>
					{{#if card}}
						Update Payment
					{{else}}
						Add Payment
					{{/if}}
				</button>
			</div>
		</div>

		<div class="change_plan--total">
			<div class="change_plan--total_label">Total</div>
			<div class="change_plan--total_price" data-plan-total></div>
		</div>

		<div class="popup--footer">
			<button class="change_plan--cancel_btn btn m-link" name="cancel" data-choose-cancel><span>Cancel</span></button>
			<button class="btn m-green" name="upgrade" data-choose-upgrade>
				{{#if plan.is_downgrade }}
					Downgrade
				{{else if changing_cycle}}
					Change
				{{else}}
					Upgrade
				{{/if}}
			</button>
		</div>

	</div>
</div>
