<div class="popup--container" data-popup-container>
	<div class="popup--header m-blue">
		<h2 class="popup--header_title">Upgrade Plan</h2>
		<button class="popup--close" data-popup-close>close</button>
	</div>
	<div class="popup--content choose_upgrade--content">
		<div class="choose_upgrade--list">
			{{#each plans }}
				<div class="pricing_box m-small m-{{ membership.color }} {{#if membership.is_healthpro_plus}}m-best_deal{{/if}}">
					<div class="pricing_box--header">{{ membership.name }}</div>
					<div class="pricing_box--content">
						<div class="pricing_box--price">
							<span class="pricing_box--price_val">
								<sup class="m-currency">$</sup>{{ products.monthly.price.integer }}.<sup>{{ products.monthly.price.decimal }}</sup>
							</span>
							<span class="pricing_box--price_label">Per Month</span>
						</div>
						<div class="pricing_box--bookings">
							{{#if membership.bookings_limit}}
								{{ membership.bookings_limit }} Bookings
							{{else}}
								Unlimited Bookings
							{{/if}}
							{{#unless membership.is_healthpro_plus}}
								<span class="pricing_box--tip_holder" data-tooltip data-tooltip-position="bottom" data-tooltip-delay="0">
									<span class="pricing_box--tip m-small" data-tooltip-content>
										{{{ membership.description }}}
									</span>
								</span>
							{{/unless}}
						</div>
						<div class="pricing_box--options">
							{{#unless membership.is_part_timer}}
								<ul class="pricing_box--options_list">
									<li><i class="inline_icon m-comments"></i> SMS Notifications</li>
									<li><i class="inline_icon m-gift"></i> Gift Certificates</li>
								</ul>
							{{/unless}}
						</div>
						<div class="pricing_box--actions">
							{{#if products.monthly.is_current }}
								{{#if products.annual.allowed}}
									<button
										class="btn_round m-light_gray_border pricing_box--actions_change"
										data-pricing-btn
										data-product-id="{{ products.annual.id }}">
										Change to Annual
									</button>
								{{else}}
									<span class="btn_round m-light_gray_border m-static pricing_box--actions_change">
										Current Plan
									</span>
								{{/if}}
							{{else if products.annual.is_current}}
								{{#if products.monthly.allowed}}
									<button
										class="btn_round m-light_gray_border pricing_box--actions_change"
										data-pricing-btn
										data-product-id="{{ products.monthly.id }}">
										Change to Monthly
									</button>
								{{else}}
									<span class="btn_round m-light_gray_border m-static pricing_box--actions_change">
										Current Plan
									</span>
								{{/if}}
							{{else if is_downgrade}}
								<button
									class="btn_round m-light_gray_border"
									data-pricing-btn
									data-product-id="{{ products.annual.id }}">
									Downgrade
								</button>
							{{else}}
								<button
									class="btn_round m-{{ membership.color }}_mute"
									data-pricing-btn
									data-product-id="{{ products.annual.id }}">
									{{#if ../is_subscribed }} Upgrade {{else}} Buy Now {{/if}}
								</button>
							{{/if}}

							<!-- {{#if part_timer.current }}
								<button class="btn_round m-light_gray_border pricing_box--actions_change" data-pricing-btn data-product-id="2">Change to {{ part_timer.alt_cycle }}</button>
							{{else if is_subscribed}}
								<button class="btn_round m-light_gray_border" data-pricing-btn data-product-id="2">Downgrade</button>
							{{else}}
								<button class="btn_round m-{{ membership.color }}_mute" data-pricing-btn data-product-id="2">Buy Now</button>
							{{/if}} -->
						</div>
					</div>
					{{#if membership.is_healthpro_plus}}
						<div class="pricing_box--best_deal">
							<span>Best Deal</span>
						</div>
					{{/if}}
				</div>
			{{/each}}

			<!-- <div class="pricing_box m-small m-green">
				<div class="pricing_box--header">Part Timer</div>
				<div class="pricing_box--content">
					<div class="pricing_box--price">
						<span class="pricing_box--price_val"><sup class="m-currency">$</sup>{{{ part_timer.products.monthly.price }}}</span>
						<span class="pricing_box--price_label">Per Month</span>
					</div>
					<div class="pricing_box--bookings">
						{{ part_timer.membership.bookings_limit }} Bookings
						<span class="pricing_box--tip_holder" data-tooltip data-tooltip-position="bottom" data-tooltip-delay="0">
							<span class="pricing_box--tip m-small" data-tooltip-content>
								<p>Part timer plan is inclusive of 12 bookings per month, additional bookings will be charged at $1.45 per booking</p>
								<p>UPGRADE ANYTIME!</p>
							</span>
						</span>
					</div>
					<div class="pricing_box--options"></div>
					{{ part_timer.action }}
					<div class="pricing_box--actions">
						{{#if part_timer.current }}
							<button class="btn_round m-light_gray_border pricing_box--actions_change" data-pricing-btn data-product-id="2">Change to {{ part_timer.alt_cycle }}</button>
						{{else if is_subscribed}}
							<button class="btn_round m-light_gray_border" data-pricing-btn data-product-id="2">Downgrade</button>
						{{else}}
							<button class="btn_round m-green_mute" data-pricing-btn data-product-id="2">Buy Now</button>
						{{/if}}
					</div>
				</div>
			</div>

			<div class="pricing_box m-small m-red">
				<div class="pricing_box--header">HealthPRO</div>
				<div class="pricing_box--content">
					<div class="pricing_box--price">
						<span class="pricing_box--price_val"><sup class="m-currency">$</sup>{{{ healthpro.price }}}</sup></span>
						<span class="pricing_box--price_label">Per Month</span>
					</div>
					<div class="pricing_box--bookings">
						26 Bookings
						<span class="pricing_box--tip_holder" data-tooltip data-tooltip-position="bottom" data-tooltip-delay="0">
							<span class="pricing_box--tip m-small" data-tooltip-content>
								<p>HealthPro plan is inclusive of 26 bookings per month, additional bookings will be charged at $1.45 per booking</p>
								<p>UPGRADE ANYTIME!</p>
							</span>
						</span>
					</div>
					<div class="pricing_box--options">
						<ul class="pricing_box--options_list">
							<li><i class="inline_icon m-comments"></i> SMS Notifications</li>
							<li><i class="inline_icon m-gift"></i> Gift Certificates</li>
						</ul>
					</div>
					<div class="pricing_box--actions">
						{{#if healthpro.current }}
							<button class="btn_round m-light_gray_border pricing_box--actions_change" data-pricing-btn data-product-id="4">Change to {{ healthpro.alt_cycle }}</button>
						{{else}}
							{{#if healthpro.upgrade}}
								<button class="btn_round m-red_mute" data-pricing-btn data-product-id="4">Upgrade</button>
							{{else if is_subscribed}}
								<button class="btn_round m-light_gray_border" data-pricing-btn data-product-id="4">Downgrade</button>
							{{else}}
								<button class="btn_round m-red_mute" data-pricing-btn data-product-id="4">Buy Now</button>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>

			<div class="pricing_box m-small m-blue m-best_deal">
				<div class="pricing_box--header">HealthPRO Plus</div>
				<div class="pricing_box--content">
					<div class="pricing_box--price">
						<span class="pricing_box--price_val"><sup class="m-currency">$</sup>{{{ healthpro_plus.price }}}</span>
						<span class="pricing_box--price_label">Per Month</span>
					</div>
					<div class="pricing_box--bookings">Unlimited Bookings</div>
					<div class="pricing_box--options">
						<ul class="pricing_box--options_list">
							<li><i class="inline_icon m-comments"></i> SMS Notifications</li>
							<li><i class="inline_icon m-gift"></i> Gift Certificates</li>
						</ul>
					</div>
					<div class="pricing_box--actions">
						{{#if healthpro_plus.current }}
							<button class="btn_round m-light_gray_border pricing_box--actions_change" data-pricing-btn data-product-id="6">Change to {{ healthpro_plus.alt_cycle }}</button>
						{{else if is_subscribed}}
							<button class="btn_round m-blue_mute" data-pricing-btn data-product-id="6">Upgrade</button>
						{{else}}
							<button class="btn_round m-blue_mute" data-pricing-btn data-product-id="4">Buy Now</button>
						{{/if}}
					</div>
				</div>
				<div class="pricing_box--best_deal">
					<span>Best Deal</span>
				</div>
			</div> -->

		</div>
	</div>
</div>
