<div class="popup--container" data-popup-container>
	<div class="popup--header m-blue">
		<h2 class="popup--header_title">
			{{#if card_id }}
				Update Payment Method
			{{else}}
				Add Payment Method
			{{/if}}
		</h2>
		<button class="popup--close" data-payment-cancel>close</button>
	</div>
	<div class="popup--content m-padded edit_payment--content">
		<div class="membership_payment--types edit_payment--types">
			<div class="membership_payment--types_item m-fake_label">
				<input type="radio" name="payment_type" value="card">
				<span class="membership_payment--types_item_label m-cc radio--label" title="Credit Card" checked>Credit Card</span>
			</div>
			<!-- <label class="membership_payment--types_item radio">
				<input type="radio" name="payment_type" value="card">
				<i class="radio--i"></i>
				<span class="membership_payment--types_item_label m-cc radio--label" title="Credit Card" checked>Credit Card</span>
			</label>
			<label class="membership_payment--types_item radio">
				<input type="radio" name="payment_type" value="paypal">
				<i class="radio--i"></i>
				<span class="membership_payment--types_item_label m-pp radio--label" title="PayPal">PayPal</span>
			</label> -->
		</div>

		<div class="membership_payment--card_info edit_payment--card_info" data-payment="card">

			<div class="edit_payment--row">
				<dl class="form--line">
					<dt><label for="card_holder" class="form--label">Cardholder’s Name</label></dt>
					<dd>
						<span class="field m-icon m-user m-wide">
							<input type="text" name="card_holder" id="card_holder" autocomplete="cc-name" placeholder="Enter Name">
							<span class="field--error"></span>
						</span>
					</dd>
				</dl>
			</div>
			<div class="edit_payment--row">
				<dl class="form--line">
					<dt><label for="card_number" class="form--label inline_icon m-secure m-after">Card Number <i class=""></i></label></dt>
					<dd>
						<span class="field m-icon m-card m-wide card_form--form_number--field">
							<input type="tel" name="card_number" id="card_number" autocomplete="cc-number" x-autocompletetype="cc-number" pattern="[0-9]*" placeholder="Enter Card Number">
							<span class="field--error"></span>
						</span>
					</dd>
				</dl>
			</div>

			<div class="edit_payment--row">
				<div class="form--line membership_payment--card_info_line">
					<dl class="form--group membership_payment--card_info_exp edit_payment--card_info_exp">
						<dt><label for="card_exp" class="form--label">Expiration Date</label></dt>
						<dd>
							<span class="field m-wide">
								<input type="tel" name="card_exp" autocomplete="cc-exp" placeholder="MM / YYYY">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
					<dl class="form--group membership_payment--card_info_cvc edit_payment--card_info_cvc">
						<dt><label class="form--label" for="card_cvv">CVV</label></dt>
						<dd>
							<span class="field">
								<input type="tel" name="card_cvv" id="card_cvv" autocomplete="off" placeholder="CVV">
								<span class="field--error"></span>
							</span>
						</dd>
					</dl>
				</div>
			</div>

		</div>
		<div class="edit_payment--paypal" data-payment="paypal">
			<p>You’ll be redirected to PayPal to finish updating your billing information.</p>
		</div>
		<div class="popup--footer">
			<button class="edit_payment--cancel_btn btn m-link" name="cancel" data-payment-cancel><span>Cancel</span></button>
			<button class="btn m-green" name="upgrade" data-payment-save>Save</button>
		</div>
	</div>
</div>
