/*!
 * medium-editor-insert-plugin v2.4.0 - jQuery insert plugin for MediumEditor
 *
 * http://linkesch.com/medium-editor-insert-plugin
 *
 * Copyright (c) 2014 Pavel Linkesch (http://linkesch.com)
 * Released under the MIT license
 */

.medium-insert-images, .mediumInsert {
	text-align: center; }
.medium-insert-images figure, .mediumInsert figure {
	margin: 0;
	display: block; }
.medium-insert-images figure img, .mediumInsert figure img {
	max-width: 100%;
	margin-top: 1em;
	vertical-align: top; }
.medium-insert-images figure:first-child img, .mediumInsert figure:first-child img {
	margin-top: 0; }
.medium-insert-images.medium-insert-images-left, .medium-insert-images-left.mediumInsert, .mediumInsert.small {
	max-width: 33.33%;
	float: left;
	margin: 0 30px 20px 0; }
.medium-insert-images.medium-insert-images-right, .medium-insert-images-right.mediumInsert {
	max-width: 33.33%;
	float: right;
	margin: 0 0 20px 30px; }
.medium-insert-images.medium-insert-images-grid, .medium-insert-images-grid.mediumInsert {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0.5em -0.5em; }
.medium-insert-images.medium-insert-images-grid figure, .medium-insert-images-grid.mediumInsert figure {
	width: 33.33%;
	display: inline-block; }
.medium-insert-images.medium-insert-images-grid figure img, .medium-insert-images-grid.mediumInsert figure img {
	max-width: calc(100% - 1em);
	margin: 0.5em; }

.medium-insert-embeds, .mediumInsert-embeds {
	text-align: center;
	margin: 1em 0;
	position: relative; }
.medium-insert-embeds iframe, .mediumInsert-embeds iframe {
	margin: 0 auto !important; }
.medium-insert-embeds div, .mediumInsert-embeds div {
	margin: 0 auto !important; }
.medium-insert-embeds.medium-insert-embeds-left, .medium-insert-embeds-left.mediumInsert-embeds {
	width: 33.33%;
	float: left;
	margin: 0 30px 20px 0; }
.medium-insert-embeds.medium-insert-embeds-right, .medium-insert-embeds-right.mediumInsert-embeds {
	width: 33.33%;
	float: right;
	margin: 0 0 20px 30px; }

.medium-insert-images figure, .mediumInsert figure, .medium-insert-embeds figure, .mediumInsert-embeds figure {
	position: relative; }
.medium-insert-images figure figcaption, .mediumInsert figure figcaption, .medium-insert-embeds figure figcaption, .mediumInsert-embeds figure figcaption {
	position: relative;
	z-index: 1;
	display: block;
	text-align: center;
	margin: 10px 0;
	color: #ccc;
	font-size: 0.8em;
	font-style: italic;
	outline: 0 solid transparent; }
.medium-insert-images figure figcaption:focus, .mediumInsert figure figcaption:focus, .medium-insert-embeds figure figcaption:focus, .mediumInsert-embeds figure figcaption:focus {
	outline: 0 solid transparent; }
