<div class="calendar_settings--header">
	<div class="calendar_settings--header_actions"><a href="/dashboard/schedule" class="btn m-mid_gray_border">Back to My Calendar</a></div>
	<div class="calendar_settings--header_active" data-settings-header><b>Connected to Google Account:</b> <span data-main-calendar></span></div>
</div>

<div class="calendar_settings--list">
	<div class="calendar_settings--list_header">
		<div class="calendar_settings--explain m-hide">Select which calendars should be synced with your HealthPRO calendar</div>
		<div class="calendar_settings--list_header_item m-calendar">Calendar</div>
		<div class="calendar_settings--list_header_item m-booking">
			Main Booking Calendar
			<i data-tooltip="dark m-much_text" class="inline_icon m-info" title="HealthPRO events will be synced with the selected calendar"></i>
		</div>
		<div class="calendar_settings--list_header_item m-blocking">
			Blocking Time
			<i data-tooltip="dark m-much_text" class="inline_icon m-info" title="Events from the selected calendars will block time on the HealthPRO calendar"></i>
		</div>
	</div>
	<div class="calendar_settings--content">
		<div class="calendar_settings--list_container"></div>
		<div class="calendar_settings--list_row">
			<div class="calendar_settings--list_row_item m-calendar">
				<b data-tooltip="dark m-much_text" class="inline_icon m-ban" title="HealthPRO events won’t be synced with any of the connected calendars">None</b>
			</div>
			<div class="calendar_settings--list_row_item m-booking">
				<label class="field radio calendar_settings--radio">
					<input type="radio" name="main_booking" value="0" checked data-calendar-main-none>
					<span class="radio--i"></span>
				</label>
			</div>
			<div class="calendar_settings--list_row_item m-blocking"></div>
		</div>
	</div>
</div>

<div class="calendar_settings--actions">
	<a href="/auth/oauth/google/authorize?scope=calendar" class="btn m-red" data-new-calendar>Add Another Calendar</a>
</div>

<div class="loading_overlay m-light"><span class="spin m-cog"></span></div>
