<div class="calendar_settings--list_row">
	<div class="calendar_settings--list_row_item m-calendar"><span class="calendar_settings--name" data-calendar-name></span></div>
	<div class="calendar_settings--list_row_item m-booking">
		<label class="field radio calendar_settings--radio">
			<input type="radio" name="main_booking" value="1" data-calendar-main>
			<span class="radio--i"></span>
		</label>
	</div>
	<div class="calendar_settings--list_row_item m-blocking">
		<label class="field checkbox calendar_settings--checkbox">
			<input type="checkbox" name="" value="1" data-calendar-blocking>
			<span class="checkbox--i"></span>
		</label>
	</div>
	{{#if primary}}<button type="button" name="button" class="calendar_settings--disconnect" data-calendar-disconnect>Disconnect</button>{{/if}}
	<div class="loading_overlay m-light m-hide"><span class="spin m-cog"></span></div>
</div>
