.presentation
	&--inner
		padding 40px 0 35px
		display flex
		flex-direction row
		align-items center

	&.m-right &
		&--inner
			flex-direction row-reverse

		&--content
			margin-right 10px

	&.m-has_bg
		background-size cover
		background-position center center
		background-repeat no-repeat

	&.m-has_bg &
		&--content
			padding-top 35px
			color white
			text-shadow 0 1px 3px rgba(black,.4)

			&_heading
				color white
				text-shadow 0 1px 3px rgba(black,.4)

	&.m-right &
		&--phone
			margin-right 38px
			margin-left 48px

		&--tablet
			margin-right -24px
			margin-left 48px

		&--content
			&_heading
			&_text
				transform translateX(-5%)

	&.m-calendar_integration
		background-image url($i 'promo/how-it-works/meditation.jpg')

	&.m-client_engagement
		background-image url($i 'promo/how-it-works/face-massage.jpg')
		margin-bottom 90px
		margin-top 60px

	&--content
		font-size 20px
		color $gray_dark
		line-height 1.6
		max-width 700px
		transition opacity .5s

		&_heading
			font-size 38px
			color $blue_light
			line-height 1.3
			margin-bottom 15px
			opacity 0

		&_text
			margin-bottom 20px
			opacity 0

		&_heading
		&_text
			transform translateX(5%)
			transition opacity 1.5s, transform 1.5s

		&_text
			transition-delay .1s, .3s

	&--phone
		margin-right 48px
		margin-left 32px
		width 324px
		height 598px
		flex-basis 324px
		flex-shrink 0
		background url($i 'promo/how-it-works/iphone.svg') no-repeat center top / contain

		&_content
			width 260px
			position relative
			height 450px
			margin 60px auto
			border-radius 3px
			overflow hidden
			background url($i 'svg/logo-icon.svg') no-repeat center white / 110px

			&:before
				background-repeat no-repeat
				background-position center top
				background-size contain
				border-radius 3px
				width 100%
				height 100%
				content ''
				display block
				transition all 1.2s .2s
				transform translateX(100%)
				box-shadow 0 0 30px rgba(black, 0.3)

		// booking options
		&.m-booking_options &
			&_content:before
				transform translateX(-100%)
				background-image url($i 'promo/how-it-works/screens/animated-gif-book.gif')

		// calendar integration
		&.m-calendar_integration
			margin-bottom -130px
			margin-top 20px

		&.m-calendar_integration &
			&_content:before
				background-image url($i 'promo/how-it-works/screens/calendar-2-animated-gif.gif')

		// transactions
		&.m-transactions_simple
			margin-top 10px

		&.m-transactions_simple &
			&_content:before
				transform translateX(-100%)
				background-image url($i 'promo/how-it-works/screens/payment-animated-gif.gif')

	&--tablet
		margin -140px -24px -140px 48px
		width 574px
		height 768px
		flex-basis 574px
		flex-shrink 0
		background url($i 'promo/how-it-works/ipad.svg') no-repeat center top / contain

		&_content
			width 439px
			height 593px
			margin 65px auto
			position relative
			left 2px
			border-radius 3px
			overflow hidden
			background url($i 'svg/logo-icon.svg') no-repeat center white / 110px

			&:before
				background-repeat no-repeat
				background-position center top
				background-size contain
				width 100%
				height 100%
				content ''
				display block
				transition all 1.2s .2s
				transform translateY(100%)
				box-shadow 0 0 30px rgba(black, 0.3)
				border-radius 3px

		&.m-client_engagement &
			&_content:before
				background-image url($i 'promo/how-it-works/screens/ipad-screen-messages-2x.jpg')

	&.m-animate_in &
		&--content
			&_heading
			&_text
				opacity 1
				transform translateX(0)

		&--phone
			&_content
				&:before
					transform translateX(0)

		&--tablet
			&_content
				&:before
					transform translateY(0)

	&.m-animate_out &
		&--content
			opacity 0
