.topbar_menu
	position relative
	margin -20px -20px 20px -20px
	background white
	border-bottom 1px solid $border_color
	padding 0 21px // include border
	&--list
		text-align right
	&--item
		display inline-block
		margin-left rem(24)

		a
			font-weight 600
			font-size rem(14)
			line-height 55px
			display block
			color $gray
			position relative
			&:hover
				color $blue

		&.m-current
			a
				color $blue
				&:after
					height 3px
					content ""
					width 100%
					left 0
					right 0
					bottom 0
					background $blue_light
					position absolute

