.client_gift_certificate
	display block
	margin-bottom rem(25)
	border-bottom 1px solid $border_color
	padding-bottom rem(25)
	padding-left 265px
	min-height 160px
	position relative
	&--image
		position absolute
		left 0
		top 0
		display block
		height 140px
		width 240px
		background url($i 'gift_certificate_info_image.png') no-repeat left top
		background-size contain

	&--service_name
		color $blue
		font-size rem(16)
		font-weight 600
		margin-bottom rem(10)

	&--row
		margin-bottom rem(10)
		display flex
		flex-wrap nowrap
		align-items flex-start
		dt
			flex 0 0 140px
			font-weight 600
		dd
			flex 1
			margin-left rem(10)

	&--redeem
		margin-top rem(20)
