.client_gift_certificates
	margin-top rem(20)
	padding-bottom rem(30)
	background #fff
	position relative
	.m-hide
		display none

	&--header
		padding rem(20 20 20 20)

	&--header_filter
		&--label
			display inline-block
			width 50px
			font-weight 600
			text-align right
			padding-right 10px
		&--field
			display inline-block
			.select
				min-width 150px

	&--gift_certificates
		padding rem(0 20)
		min-height 300px

	&--empty
		text-align center
		padding rem(100 0)
