.affiliate
	padding 0 0 170px
	
	&--section
		&
			border-top 1px solid $border_color
			display flex
			align-items center
			height 340px
			
			&_text
				max-width 600px
				order -1
				
				h2
					font-size rem(22px)
					line-height rem(30px)
					font-weight 600
					margin rem(0 0 30px)
					
				p
					font-size rem(18px)
					line-height rem(30px)
					
			&_image
				flex 1
				text-align right

		&:first-child
			border-top 0
			
		&:nth-child(even) &
			&_text
				order 1
				
			&_image
				text-align left
