<div class="wizard--footer" data-wizard-footer>
	<div class="wizard--footer_in">
		<button type="button" class="wizard--next_step btn m-red">Next Step</button>
		<button type="button" class="wizard--finish btn m-red m-hide">Finish</button>
	</div>
</div>
