<div class="wizard--progress m-icons progress m-on_blue">
	<ul class="progress--steps">
		{{#each steps}}
			<li class="progress--step{{this.classes}}">
				<span class="progress--step_icon_wrap">
					<i class="progress--step_icon  m-{{this.slug}}"></i>
				</span>
				<span class="progress--step_title">{{this.title}}</span>
			</li>
		{{/each}}
	</ul>
</div>
