.transaction
	font-size 0
	&--item
		font-size rem(14px)
		vertical-align bottom
		float none
		line-height 18px
		+mobile()
			font-size 16px
		&.m-paid
			font-size 18px
			+mobile()
				font-size 16px

		+mobile()
			font-weight 600
			padding rem(5 0)
			color $gray_dark
			&:before
				width 140px
				display inline-block
				vertical-align middle
				color $gray

			&.m-date
				&:before
					content "Date"
			&.m-id
				&:before
					content "Transaction ID"
			&.m-name
				&:before
					content "Client Name"
			&.m-paid
				&:before
					content "Paid"
			&.m-service
				&:before
					content "Service"


	&--main
		cf()
		border-bottom 1px solid $border_color
		position relative
		+desktop()
			display flex
			align-items center
			flex-wrap nowrap
		+mobile()
			padding rem(10 10 10 30)

	&.m-expandable &
		&--main
			cursor pointer
			+desktop()
				&:hover
					background $background_color
			&:before
				display block
				position absolute
				content ''
				width 0
				height 0
				border-style solid
				border-width 5px 0 5px 5px
				border-color transparent transparent transparent $gray
				left 21px
				top 50%
				margin-top -5px
				transition all .2s
				+mobile()
					left 11px

	&--details
		font-size rem(14px)
		border-bottom 1px solid transparent

		max-height 0
		overflow hidden
		transition all .2s
		+mobile()
			padding rem(0 10 0 30)
		+desktop()
			padding-left 18%
			display flex
			flex-wrap nowrap
			align-items stretch

			&--col
				flex 1
				padding 22px 10px 18px

				&.m-paid
					flex 0 0 35%
					padding-right 20px


		&--item
			display flex
			flex-wrap nowrap
			align-items stretch
			+mobile()
				padding rem(8 0)
				span
					flex 0 0 140px
				strong
					flex 1
			+desktop()
				margin-bottom 10px
				&:first-child
					margin-bottom 22px

			b
			strong
				&.m-green
					color $green_dark

				&.m-red
					color $red

		&--col.m-id &
			&--item
				strong
				span
					+desktop()
						flex 0 0 130px
		&--col.m-paid &
			&--item
				span
					+desktop()
						flex 1
						text-align left
						margin-right 10px

				strong
					+desktop()
						flex 0 0 40%
						text-align right

		+mobile()
			&--col.m-id
				padding-top rem(12)
			&--col.m-paid
				padding-bottom rem(12)



	&.m-opened &
		&--main
			background $background_color
			&:before
				transform rotate(90deg)
		&--details
			max-height 140px
			border-color $border_color
			+mobile()
				max-height 150px

	&:last-child &
		&--main
		&--details
			border-color transparent

	&:last-child.m-opened &
		&--main
			border-color $border_color
