.transactions
	&--header
		display flex
		justify-content space-between
	&--rightheader
		min-width: 215px
		padding: 20px 0 15px
		margin: 0 0 0 10px

		&--description
			font-size: 0.875rem
			line-height: 1.125rem
			padding: 0.3125rem 0rem
	&--small
		color: #6b6b6b
		font-size: 0.875rem
		font-weight: 500
	&--actions
		display flex
		justify-content space-between
		align-items center
		+desktop()
			padding 25px 20px
		+mobile()
			padding 20px 15px
		&--presets
			+desktop()
				flex 0 0 250px
			+mobile()
				flex 0 0 220px

		&--print
		&--print.btn
			&
				overflow hidden
				text-indent -9999em
				height 43px
				width 43px
				padding rem(22px 23px 23px)

			&:before
				icon($i-print)
				color $gray_dark
				display block
				center()
				text-indent 0
				font-size 18px

	&--preset_select
		display flex
		align-items center
		&--label
			flex 0 0 50px
			font-weight 600
		&--field
			flex 1
			&--select
				position relative
				&--label
					height 47px
					border 1px solid $border_color
					line-height 45px
					padding rem(0 16)
					cursor pointer
					background #fff
					border-radius 3px
					&:after
						display block
						width 0
						height 0
						border-style solid
						border-width 5px 5px 0 5px
						border-color #aaa transparent transparent transparent
						content ''
						position absolute
						right 10px
						top 50%
						margin -2px 0 0
				&--dropdown
					+desktop()
						position absolute
						left 0
						right 0
						top 100%
						background #fff
						border 1px solid $border_color
						border-top 0
						z-index 100
						margin-top -3px
						padding 3px 0 5px
					+mobile()
						position fixed
						top 0
						bottom 0
						left 0
						right 0
						z-index 1100
						border 0
						background #fff
				&--close
					+desktop()
						display none
					+mobile()
						position absolute
						right 28px
						top 28px
						width 28px
						height 28px
						position absolute
						border 1px solid $gray
						text-indent -9999px
						border-radius 28px
						z-index 1
						&:before
							text-indent 0
							icon($i-times)
							position absolute
							top 50%
							left 50%
							font-size 14px
							center()
							color $gray


				&--presets
					padding rem(20 0 0)
					button
						display block
						width 100%
						padding rem(5 16)
						font-size rem(14)
						text-align left
						color $gray
						+mobile()
							padding rem(10 30)
							font-size 16px
						&:hover
							color $gray_dark
						&.m-selected
							font-weight 600
							color $gray_dark
				&--dates
					padding rem(10 16)
					+mobile()
						padding rem(10 30)
					.datepicker
						display block
						margin-bottom rem(10)
					.field
						display block
						&.m-icon.m-datepicker
							input
								width 100%

				&--btn
					display block
					width 100%
	// list markup
	&--table
		width 100%
		border-top 1px solid $border_color
		+mobile()
			min-height 500px

		&--header
			display flex
			flex-wrap nowrap
			align-items center
			background $background_color
			border-bottom 1px solid $border_color
			+mobile()
				display none

		&--header &
			&--item
				+desktop()
					padding-top 13px
					padding-bottom 13px

		+desktop()
			&--item
				flex 1
				padding 22px 10px
				&:first-child
					padding-left 50px
				&:last-child
					padding-right 20px
				&.m-date
					flex 0 0 18%
				&.m-name
				&.m-service
					flex 1
				&.m-id
					flex 0 0 12%
				&.m-paid
					flex 0 0 15%
					text-align right

	&--empty
		padding 20px
		text-align center
