.calendar_settings
	&--header
		padding 20px 0 20px 25px
		display flex
		flex-direction row-reverse
		justify-content space-between
		align-items center

		&_actions
			padding 0 15px

		&_active
			float right
			&.m-hide
				visibility hidden

	&--explain
		position absolute
		min-width 220px
		width 25%
		padding 10px
		text-align center
		border-radius 5px
		background-color white
		box-shadow 0 4px 5px rgba(0,0,0,.13)
		bottom 82px
		right 20%
		font-size 0
		text-indent -9999em
		overflow hidden
		border 1px solid $border_color

		&:before
			display inline-block
			content ''
			background url($i 'dashboard/select_calendar_explain@2x.png') no-repeat center
			background-size contain
			width 188px
			height 57px
			@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
				background-image url($i 'dashboard/select_calendar_explain@2x.png')

		&.m-hide
			display none

	&--content
		overflow auto

	&--list
		&_header
			cf()
			background $background_color
			border 1px solid $border_color
			border-left none
			border-right none
			position relative

			&_item
				color $gray
				font-weight 600
				padding 12px 20px 10px
				width 33.33%
				float left

				&.m-calendar
					width 40%

				&.m-booking
				&.m-blocking
					width 25%
					text-align center
					white-space nowrap
					position relative

					&:before
						position absolute
						display block
						icon($i-arrow-top)
						color $red_light
						bottom 30px
						left 50%
						font-size 45px
						margin-left 40px

					\.calendar_settings--explain.m-hide ~ &:before
						display none
						content none

				&.m-blocking
					width 35%
					padding-right 30px

					&:before
						right auto
						transform scaleX(-1)
						margin-left -70px

		&_row
			cf()
			border-bottom 1px solid $border_color
			position relative

			&_item
				padding 16px 20px
				width 33.33%
				float left

				&.m-calendar
					width 40%

				&.m-booking
				&.m-blocking
					width 25%
					text-align center
					padding 8px 8px 9px

				&.m-blocking
					width 35%
					padding-right 30px

	&--radio
	&--checkbox
		width 30px
		height 30px
		text-align center
		line-height 38px
		padding 0

		.radio
		.checkbox
			&--i
				display inline-block
				top 0
				left 0
				transform none
				position relative
				line-height 1

	&--name
		padding-left 18px
		position relative
		display block

		&.m-primary
			font-weight bold
			aliasing()

			&:before
				display block
				position absolute
				content ''
				font-size 10px
				top 2px
				left 0
				icon($i-user-wide)

	&--disconnect
		position absolute
		right 15px
		top 7px
		display inline-block
		line-height normal
		padding rem(8px 15px)
		background $gray_dark
		color #fff
		font-size 14px
		border-radius 3px
		vertical-align middle
		font-weight 600
		text-align center
		white-space nowrap

		&:hover
			background $btn_gray_hover

		&:active
			box-shadow inset 0 2px 0 rgba(#000, .15)

		&[disabled]
		&.m-disabled
			opacity .2
			pointer-events none

		&.m-hide
			display none

	&--actions
		text-align right
		padding 15px
