+mobile_ready_and_mobile()
	@media (max-width 739px)
		.calendar_settings
			&--explain
				position static
				width 100%
				padding 10px
				padding-right 13%
				border-radius 0
				box-shadow none
				border none
				border-bottom 1px solid $border_color
				text-align right

				&:before
					background-image url($i 'dashboard/select_calendar_explain_2_lines@2x.png')
					width 274px
					height 44px

			&--list
				&_header
					&_item
						padding-left 10px
						padding-right 10px

						i.inline_icon
							margin-right -6px
							margin-left 0

						&.m-calendar
							width 36%

						&.m-booking
						&.m-blocking
							white-space normal
							width 36%

							&:before
								icon($i-arrow-down)
								color $red_light
								bottom auto
								top -12px
								left 50%
								font-size 22px
								margin-left -5px

							\.calendar_settings--explain.m-hide ~ &:before
								display none
								content none

						&.m-blocking
							width 25%
							padding-right 10px

							&:before
								transform scaleX(-1)
								margin-left -5px

				&_row
					&_item
						padding-left 10px
						padding-right 10px

						&.m-calendar
							width 36%

						&.m-booking
							width 36%

						&.m-blocking
							width 25%

			&--name
				text-overflow ellipsis
				overflow hidden

			&--disconnect
				background $gray
				border-radius 50%
				width 27px
				height @width
				line-height 27px
				padding 0
				font-size 0
				color transparent
				text-indent -9999em
				top 10px

				&:before
					width 100%
					height @width
					icon($i-trash)
					font-size rem(17px)
					color white

				&:hover
					background $gray_dark

				&:active
					box-shadow none

			&--radio
			&--checkbox
				width 30px
				height 30px
				text-align center
				line-height 45px
				padding 0

				.radio
				.checkbox
					&--i
						width 24px
						height @width

				.checkbox
					&--i
						&:before
							font-size 18px
							top 2px
							left 2px
				.radio
					&--i
						&:before
							width 10px
							height @width
							top 6px
							left 6px

	@media (max-width 549px)
		.calendar_settings
			&--list
				&_header
					&_item
						&.m-calendar
							width 40%

						&.m-booking
							width 34%

				&_row
					&_item
						&.m-calendar
							width 40%

						&.m-booking
							width 34%

	@media (max-width 479px)
		.calendar_settings
			padding-bottom 0

			&--header
				display none

			&--explain
				text-align center
				padding-right 10px

			&--list
				margin-top 15px

				&_header
					&_item
						&.m-calendar
							padding-top 18px
							width 35%

				&_row
					&_item
						&.m-calendar
							width 40%
							margin-right -6%

						&.m-booking
							width 34%

			&--actions
				text-align center

				.btn
					width 100%
					max-width 300px
