.receive_payments
	&--group
		margin-bottom 20px

		dt
			font-weight 600
			margin-bottom 15px

	&--settings
		&.m-hide
			display none

		&_content
			margin-top 20px

	&--methods
		border-top 1px solid $border_color
		padding-top 20px

	// &--select_method
	// 	min-width 250px
	//
	// 	&_icon
	// 		display inline-block
	// 		vertical-align middle
	// 		margin-left 8px
	// 		&:before
	// 		&:after
	// 			content ''
	// 			display inline-block
	// 			vertical-align baseline
	// 			background-repeat no-repeat
	// 			background-position left bottom
	// 			background-size contain
	//
	// 		&.m-paypal
	// 			&:before
	// 				width 28px
	// 				height 18px
	// 				background-image url($i 'svg/paypal.svg')
	//
	// 		&.m-stripe
	// 			&:before
	// 				width 28px
	// 				height 18px
	// 				background-image url($i 'svg/stripe.svg')
	//
	// 		&.m-both
	// 			&:before
	// 				width 28px
	// 				height 18px
	// 				background-image url($i 'svg/paypal.svg')
	//
	// 			&:after
	// 				width 28px
	// 				height 18px
	// 				background-image url($i 'svg/stripe.svg')
	// 				margin-left 8px

	&--label
		margin-bottom 10px

		span
			color $green_dark
			font-weight 600

	&--btn
		border-radius 3px
		background #008adb
		font-size 14px
		color white
		text-shadow 0 -1px 1px #1484c5
		padding 10px 20px
		font-weight 600
		border 1px solid #2274a2
		position relative
		margin-right 32px

		&:hover
			background lighten(@background, 5%)

		&:before
			position absolute
			display block
			width 40px
			height 100%
			left 0
			top 0
			line-height 36px
			font-size 16px
			text-shadow 0 0 1px #075c8e
			border-right 1px solid #2274a2

		&:after
			background white
			width 1px
			height 100%
			top 0
			left 40px
			opacity .15
			display block
			position absolute

		&.m-paypal
			padding-left 60px
			background linear-gradient(to top, #0079c1, #009efb)
			border-color #0085d3
			text-shadow 0 -1px 1px #2274a2

			&:before
				content ''
				icon($i-paypal_icon)
				border-color #0d85cc

			&:after
				content ''

			&:hover
				background linear-gradient(to top, lighten(#0079c1, 5%), lighten(#009efb, 5%))

		&.m-stripe
			margin-bottom 20px
			padding-left 55px
			background linear-gradient(to top, #038dde, #57b3e9)
			border-color #449dd1

			&:before
				content ''
				icon($i-stripe_icon)
				border-color #4496c5

			&:after
				content ''

			&:hover
				background linear-gradient(to top, lighten(#038dde, 5%), lighten(#57b3e9, 5%))

		&.m-error
			box-shadow 0 0 5px 1px $red

	&--stripe_info
		display inline-block
		vertical-align top
		max-width 350px
		line-height 1.3
		letter-spacing 0.02em

		&:before
			display block
			content ''
			width 228px
			height 20px
			background url($i 'payments_cc.png')
			margin-bottom 10px

		&_title
			text-transform uppercase
			font-weight 600
			font-style italic
			font-size 13px

		a
			font-size 13px
			text-transform uppercase
			text-decoration underline
			font-weight 600
			color $blue_light

		p
			margin-bottom 5px
