<div class="professional_setup_suitability_conditions">
	<div class="mobile_tabs" data-tabs='{}' >
		<div class="mobile_tabs--header">
			<button class="mobile_tabs--switch" data-tab-switch="suitability">Suitability</button>
			<button class="mobile_tabs--switch" data-tab-switch="conditions">Conditions &amp; Concerns</button>
		</div>
		<div class="mobile_tabs--tabs" data-tab-list>
			<div class="mobile_tabs--tab" data-tab="suitability">

				<div class="accordion_panes m-in_block">
					<ul class="accordion_panes--list" data-options-container></ul>
				</div>

			</div>
			<div class="mobile_tabs--tab" data-tab="conditions">

				<div data-concerns-conditions></div>

			</div>
		</div>
	</div>

	<footer class="professional_setup_suitability_conditions--footer">
		<button class="professional_setup_suitability_conditions--btn btn m-blue" type="button">Update</button>
	</footer>

	<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>

</div>
