.edit_payment
	&--content
		max-width 430px
		margin 0 auto

	&--types
		display flex
		justify-content space-between
		flex-wrap wrap

		.membership_payment--types_item
			margin-right 20px

			&:last-child
				margin-right 0

	&--row
		margin-bottom 20px

		.form--group
			margin-left 30px

			&:first-child
				margin-left 0

	&--card_info
		margin-bottom -10px
		display none

		&.m-active
			display block

		&_exp
			flex-basis 67%

		&_cvc
			flex-basis 33%

			.field--error
				min-width 115px

	&--paypal
		line-height 1.4
		display none

		&.m-active
			display block

	&--cancel_btn
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				display none
