.class_schedule
	&
		&--item
			&
				display inline-block
				width 100%
				margin 10px 0 0
				position relative
				overflow hidden
				
				&:before
					position absolute
					top 0
					left 0
					height 100%
					width 5px
					background #ccc
					content ''
					border-radius 3px 0 0 3px
					
				&:after
					position absolute
					color #e0e0e0
					top 5px
					right 5px
					
				&--title
					display block
					margin 0 0 3px
					
				&--inner
					display block
					border 1px solid $border_color
					overflow(ellipsis)
					padding rem(8px 14px 6px 12px)
					border-radius 3px
					cursor pointer
					
					ul
						font-size rem(13px)
						line-height rem(17px)
						
			&:hover
				background #f9fafc

			&.m-day
				&:after
					icon($i-sun-o)
					font-size 20px

			&.m-night
				&:after
					icon($i-moon-o)
					font-size 20px
					
			&.m-location_1
				&:before
					background $location-1
					
				.class_schedule--item--title
					color $location-1
					
			&.m-location_2
				&:before
					background $location-2
					
				.class_schedule--item--title
					color $location-2
					
			&.m-location_3
				&:before
					background $location-3
					
				.class_schedule--item--title
					color $location-3
					
	// &.m-cols_1
	&.m-cols_1 &
		&--item
			display block
			
			&--title
				margin 0 0 1rem 0
				
			&--seats
				position absolute
				right 10px
				bottom 6px
		

	&.m-cols_2
		-webkit-column-gap 10px
		column-gap 10px
		-webkit-column-count 2
		column-count 2
