<fieldset class="js-edit_videos--fields">
	<h2>Add New Video</h2>
	<div class="form--line">
		<dl class="form--group">
			<dt>Add YouTube Video Code Here</dt>
			<dd>
				<span class="field m-wide m-required">
					<input type="text" placeholder="e.g. https://www.youtube.com/watch?v=YPZ8bpGndPo" name="url">
					<span class="field--error"></span>
				</span>
			</dd>
		</dl>
	</div>
	<div class="form--line">
		<dl class="form--group">
			<dt>Video Title</dt>
			<dd>
				<span class="field m-wide m-required">
					<input type="text" name="title">
					<span class="field--error"></span>
				</span>
			</dd>
		</dl>
	</div>
	<footer class="form--footer">
		<button class="btn m-blue edit_media--submit_button" type="submit">Submit your YouTube video</button>
	</footer>
</fieldset>
<button class="js-edit_videos--show_form btn m-blue" type="button">Add Video</button>
