<div class="edit_media--item_container">
	<div class="edit_media--item_wrapper">

		<figure class="edit_media--item_preview m-video">
			<a href="{{url}}" title="play" target="_blank">
				<img src="{{preview}}">
			</a>
		</figure>

		<div class="edit_media--item_buttons">
			<button type="button" class="edit_media--item_edit">edit</button>
			<button type="button" class="edit_media--item_remove"></button>
		</div>

	</div>

	<p class="edit_media--item_text">{{title}}</p>

	<div class="field edit_media--item_text_field js-maxlength">
		<textarea class="edit_media--item_text_input" maxlength="60" name="title"></textarea>
	</div>

	<div class="edit_media--item_buttons m-hidden_buttons">
		<button type="button" class="edit_media--item_cancel">cancel</button>
		<button type="button" class="edit_media--item_save">save title</button>
	</div>
</div>
