<div class="wizard_booking--cards_manager--cards">
	<ul class="wizard_booking--cards_manager--cards_list"></ul>
	<button class="wizard_booking--cards_manager--submit_button wizard_booking--cards_manager--add_another btn m-blue" type="button">Add Card</button>
</div>
<div class="wizard_booking--cards_manager--form_wrap m-hide"></div>
