<label class="radio">
	<input type="radio" name="card">
	<span class="radio--i"></span>
	<span class="radio--label">
		<span class="wizard_booking--cards_manager--card">
			<span class="wizard_booking--cards_manager--card_number"></span>
			<a href="#" class="wizard_booking--cards_manager--edit_card"></a>
			<span class="wizard_booking--cards_manager--card_image"></span>
		</span>
	</span>
</label>
