<div class="wizard_booking--cards_manager--errors m-hide" data-cards-manager-errors></div>

<dl class="form--group form--line">
	<dt>Cardholder's Name</dt>
	<dd>
		<span class="field m-icon m-user m-wide">
			<input type="text" name="card_holder" autocomplete="cc-name">
			<span class="field--error"></span>
		</span>
	</dd>
</dl>
<dl class="wizard_booking--cards_manager--form_number form--group form--line" data-booking-payment-node="new_card_number">
	<dt>Card Number</dt>
	<dd>
		<span class="wizard_booking--cards_manager--form_number--label">
			<span class="wizard_booking--cards_manager--card_number"></span>
		</span>
		<span class="field m-icon m-card m-wide wizard_booking--cards_manager--form_number--field">
			<input type="tel" name="card_number" autocomplete="cc-number" x-autocompletetype="cc-number" pattern="[0-9]*">
			<span class="field--error"></span>
		</span>
		<span class="wizard_booking--cards_manager--card_logo" data-cards-manager-card-logo>&nbsp;</span>
	</dd>
</dl>
<div class="wizard_booking--cards_manager--form_info form--line">
	<dl class="wizard_booking--cards_manager--expiration form--group">
		<dt>Expiration Date</dt>
		<dd>
			<span class="field">
				<input type="tel" name="card_exp" autocomplete="cc-exp" placeholder="MM / YYYY">
				<span class="field--error"></span>
			</span>
		</dd>
	</dl>
	<dl class="wizard_booking--cards_manager--cvv form--group">
		<dt>CVV</dt>
		<dd>
			<span class="field m-wide">
				<input type="tel" name="cvv" autocomplete="cc-csc">
				<span class="field--error"></span>
			</span>
		</dd>
	</dl>
</div>

<footer class="wizard_booking--cards_manager--form_footer" data-card-manager-footer>
	<button class="wizard_booking--cards_manager--delete btn m-link m-small" type="button">Delete Card</button>
	<button class="wizard_booking--cards_manager--cancel btn m-link m-small" type="button">Cancel</button>
	<button class="wizard_booking--cards_manager--add_card btn m-green m-small" type="submit">Save Card</button>
</footer>
