.contact
	position relative
	padding rem(100px 0)
	
	&--inner
		width 780px
		margin 0 auto
		cf()
		
	&--form
		width 350px
		float left
		margin 0 50px 0 0
		
		.form--line
			&
				margin rem(22px 0 0)
				
			&:first-child
				margin 0
		
		&--footer
			padding 15px 0 0
			text-align right


	&--address
		float left
		width 380px
		padding rem(22px 0 0)
		
		.headline
			margin rem(0 0 22px)
			
		> p
			font-size 1rem
			margin 1rem 0 0
			line-height rem(20px)
			
			a
				&
					color $blue

				&:hover
					text-decoration underline

	&--map
		overflow hidden
		border-radius 5px
		height 295px
		background #e9e5dc
		margin 55px 0 0
		
