<div class="professional_setup">
	<div class="mobile_tabs" data-tabs='{}'>
		<div class="mobile_tabs--header">
			<button class="mobile_tabs--switch" data-tab-switch="locations">Locations & Availability</button>
			<button class="mobile_tabs--switch" data-tab-switch="services">My Services</button>
		</div>
		<div class="mobile_tabs--tabs" data-tab-list>
			<div class="mobile_tabs--tab" data-tab="locations">
				<div data-professional-setup-locations></div>
			</div>
			<div class="mobile_tabs--tab" data-tab="services">
				<div data-professional-setup-services></div>
			</div>
		</div>
	</div>
</div>
