.edit_notifications
	&--info
		margin rem(-13px 0 2px)

	&--options
		li
			&
				margin rem(26px 0 0)

				.select
					margin 0 10px

			&:first-child
				margin 0

			&.m-reminders
				margin-top rem(13px)
