.popup_story
	width 100%
	padding rem(30 15 20)
	+responsive('min-width:768px')
		width 640px
		padding rem(40 20 20)
	+responsive('min-width:980px')
		width 940px
		padding rem(60 40 30)
	+responsive('max-height:460px')
		padding rem(15 20)

	&--title
		text-align center
		color $gray_dark
		font-size rem(28)
		margin-bottom .6em
		font-weight 600
		letter-spacing .3px
		+responsive('min-width:768px')
			font-size rem(28)
		+responsive('min-width:980px')
			font-size rem(28)
		+responsive('max-height:460px')
			font-size rem(24)

	&--content
		text-align center
		font-size rem(16)
		margin 0 auto
		margin-bottom rem(30)
		color $gray
		max-width 490px
		+responsive('min-width:768px')
			font-size rem(18)
		+responsive('max-height:460px')
			margin-bottom rem(20)
		p
			margin-bottom 1em
			line-height 1.45
			&:last-child
				margin-bottom 0

	&--steps
		display flex
		justify-content space-between
		counter-reset step
		margin-bottom 38px
		+responsive('max-width:750px')
			margin-bottom 30px

		&--item
			counter-increment step
			width 32%
			+responsive('max-width:750px')
				display none

			&:first-child
				+responsive('max-width:750px')
					display block
					margin 0 auto
					width 100%
					max-width 265px
				+responsive('max-height:460px')
					max-width 230px


			&--pic
				border 2px solid #ebebeb
				border-radius 6px
				background-color #fff
				padding 3px
				box-shadow 0 0 20px rgba(0,0,0,.1)
				margin-bottom 28px
				+responsive('max-width:750px')
					margin-bottom 0

				img
					vertical-align top
					max-width 100%
					height auto

			&--title
				font-size rem(17px)
				color $gray_dark
				text-align center
				font-weight 600
				position relative

				+responsive('min-width:980px')
					font-size rem(20px)

				+responsive('max-width:750px')
					display none

				&:before
					width rem(28px)
					height rem(28px)
					font-size rem(16px)
					text-align center
					line-height rem(25px)
					display inline-block
					vertical-align middle
					margin-right 10px
					content counter(step)
					color $green
					border 2px solid $green
					border-radius 50%
					+responsive('min-width:820px')
						line-height rem(28px)
						width rem(32px)
						height rem(32px)
						font-size rem(18px)

			&:first-child &--title:before
				padding-right 2px

			&:first-child &--title:after
			&:nth-child(2) &--title:after
				position absolute
				top 9px
				right -66px
				width 51px
				height 14px
				display block
				background url('../../frontend/images/design/welcome/step_arrow_1.png') no-repeat
				content ''
				background-size 100%
				+responsive('max-width:980px')
					display none

			&:nth-child(2) &--title:after
				right -35px
				background-image url('../../frontend/images/design/welcome/step_arrow_2.png')

	&--cta
		text-align center

		.cta_btn
			font-size rem(16px)
			+responsive('max-width:380px')
				width 100%
				max-width 265px

	&--skip
		text-align center
		margin-top rem(20)
		+responsive('min-width:980px')
			margin-top rem(30)
		a
			font-size rem(14)
			font-weight 600
			color $gray
			text-decoration none
			&:hover
				color $gray_dark
				text-decoration underline

	.popup
		&--close
			top 20px
			right 20px
