.qualif
	padding rem(20px 35px 30px 70px)

	.profile--block--header
		margin-bottom rem(25px)

	&--list
		&--item
			&
				position relative
				max-width 520px
				padding rem(0 140px 0 0)
				margin rem(25px 0 0)

				strong
					font-size 1rem
					display block
					margin 0 0 4px

				span
					position absolute
					top 2px
					right 0

			&:first-child
				margin 0
