+responsive('max-width: 860px')
	.qualif
		padding rem(25px 20px)

		&--list
			&--item
				padding-right 0

				span
					position static
					display block
					margin-bottom 5px

+responsive('max-width: 750px')
	.qualif
		padding rem(20px 35px 30px 60px)
		&--list
			&--item
				padding rem(0 140px 0 0)

				span
					position absolute

+responsive('max-width: 640px')
	.qualif
		padding rem(35px 27px)

+responsive('max-width: 480px')
	.qualif
		padding rem(25px 20px)

		&--list
			&--item
				padding-right 0

				span
					display block
					position static
					margin-top rem(4px)
