$conversation_blue = #3EB7CB

.conversations
	&
		position relative
		display flex
		margin 20px 0 55px
	&--sidebar
		&
			flex 0 0 300px
	&--conversation
		&
			flex 1 0 0
			margin-left 20px

		.field--autocomplete .ui-autocomplete
			&
				padding-bottom 10px

			.ui-menu-item a
				&
					position relative
					display block
					min-height 20px
					padding-top 8px
					padding-left 40px

				&:hover
					&
						color $blue

					i
						opacity .7

				i
					position absolute
					width 30px
					height 30px
					top 0
					left 0
					overflow hidden
					border-radius 50%
					background url($i 'userpic.png') $background_color 50% 50% no-repeat
					background-size 100% 100%
					transition opacity .1s

					img
						max-width 100%

	.conversation
		&--wrap
			&.m-hide
				opacity 0
				visibility hidden
		&--header
			position relative
			display flex
			align-items center
			padding 15px 15px 15px 30px
			border-bottom 1px solid $border_color
			.field
				width 100%
				position relative
				input
					padding-left 48px
				.spin
					position absolute
					right 10px
					top 50%
					margin-top -10px
					display none
					&.m-show
						display block
			.header
				&--userpic
					flex 0 0 50px
					background url($i 'userpic.png') $background_color 50% 50% no-repeat
					background-size 100% 100%
					width 50px
					height 50px
					border-radius 100px
					img
						width 50px
						height 50px
						display block
						border-radius 100px
				&--profile
					flex 1
					margin-left 10px
					color $gray
				&--profile_name
					display block
					font-weight 700
					font-size 16px
					margin-bottom 3px
					white-space nowrap
					color $gray
					a
						&
							position relative
							color $gray
						&:hover
							opacity .8
							.tooltip
								display block
						.tooltip
							position absolute
							left 100%
							margin-left 8px
							background lighten($gray_dark, 5)
							color white
							font-style normal
							text-transform uppercase
							font-size 10px
							top 2px
							border-radius 2px
							padding 4px 9px 3px
							display none
							line-height 1
							&:before
								position absolute
								width 0
								height 0
								border-style solid
								border-width 3px 3px 3px 0
								border-color transparent @background transparent transparent
								top 50%
								margin-top -3px
								left -3px
								content ''
								display block
				&--profile_details
					display block
					font-size 14px
				&--add
					margin-left 10px
					flex 0 0 auto
					&.m-hide
						display none
				&--menu
					margin-left 10px
					flex 0 0 30px
					position relative
				&--menu_toggler
					cursor pointer
					width 30px
					height 30px
					display block
					position relative
					text-align center
					color lighten($gray_light, 10)
					font-size 16px
					&:before
						icon($i-settings_filled)
						line-height 30px
				&--menu_dropdown
					position absolute
					right -13px
					top 100%
					width 220px
					padding rem(18)
					background #fff
					border 1px solid $border_color
					border-radius 3px
					display none
					box-shadow 0 0 10px rgba(0,0,0,.1)
					z-index 100
					&:after,
					&:before
						bottom: 100%;
						right: 22px
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;

					&:after
						border-bottom-color: #fff;
						border-width: 6px;
						margin-left: -6px;
					&:before
						border-bottom-color: $border_color;
						border-width: 7px;
						margin-left: -7px;
					&.m-show
						display block
					li
						margin-bottom rem(10)
						&:last-child
							margin-bottom 0
					a
						font-size rem(14)
						line-height 20px
						display block
						position relative
						color $gray
						&:hover
							color $blue
						&:before
							icon($i-trash-alt)
							position absolute
							right 0
							top 50%
							transform translateY(-50%)
							font-size 17px

						&.link--remove
							&:hover
								color $red_mute

		&--header_to
			position absolute
			z-index: 20
			left 44px
			top 50%
			transform translateY(-50%)
			font-weight 600
			font-size 14px

		&--body
			padding rem(30 10 30 30)

		&--messages
			overflow hidden
			height 500px
			padding-right rem(20)
			position relative

			.item
				&--date
					display block
					text-align center
					color $gray_light
					text-transform uppercase
					letter-spacing .09em
					font-weight 600
					font-size 14px
					margin-bottom 28px
				&--message
					display block
					margin-bottom 18px
					p
						margin-bottom 1em
						&:last-child
							margin-bottom 0

				&--message_content
					display block
					font-size 15px
					font-weight 600
					background $background_color
					border 1px solid $border_color
					color $gray
					border-radius 6px
					padding 20px
					margin-bottom 10px
					&.m-me
						background $conversation_blue
						border-color $conversation_blue
						color #fff
						margin-left 30px


				&--message_date
					display block
					text-align right
					font-size 11px
					text-transform uppercase
					font-weight 600
					color $gray_light
		&--form
			display block
			padding 0 30px 30px
	.sidebar
		&--search
			padding 10px 15px
			border-bottom 1px solid $border_color

		&--list
			display block
			> div:last-child
				.list--item
					border-bottom 0
	.list
		&--item
			border-bottom 1px solid $border_color
			cursor pointer
			&:hover
				background $background_color
			&.m-hide
				display none
			&.m-current
				background lighten($conversation_blue, 40)
		&--item_wrap
			display flex
			align-items center
			padding 10px 15px
		&--item_status
			flex 0 0 8px
			width 8px
			height 8px
			border-radius 8px
			&.m-unread
				background $conversation_blue
		&--item_details
			flex 1 0 auto
			margin 0 8px
			display flex
			align-items center
		&--item_userpic
			flex 0 0 50px
			width 50px
			height 50px
			border-radius 100px
			background url($i 'userpic.png') $background_color 50% 50% no-repeat
			background-size 100% 100%
			img
				width 50px
				height 50px
				display block
				border-radius 100px
		&--item_msg
			flex 1 0 auto
			margin-left 8px
			color $gray
		&--item_msg_name
			display block
			font-weight 700
			font-size 16px
			line-height 16px
			margin-bottom 3px
			white-space nowrap

		&--item_msg_content
			display block
			font-size 14px

		&--item_more
			flex 0 0 40px
			text-align right

		&--item_more_date
			font-size 11px
			display block
			line-height 16px
			margin-bottom 3px
			white-space nowrap

	.form
		border 2px solid $border_color
		border-radius 6px
		padding 15px

		&--message
			display block
			textarea
				font-size 14px
				width 100%
				height 90px
				resize none
				border 0
				border-radius 0
				color: $gray_dark
		&--send
			text-align right

	.search
		//display flex
		&--input
			display block
			//flex 1 0 auto
			position relative
			&:after
				icon($i-search)
				color #e0e0e0
				position absolute
				top 50%
				left 10px
				t-translate(0, -50%)
				font-size rem(20px)
				z-index 2
			input
				&
					border 1px solid $border_color
					border-radius 3px
					height 36px
					padding 0 15px 0 36px
					font-size 14px
					width 100%

					+placeholder()
						color $gray
						opacity 1
						transition opacity 0.3s ease

				&:focus
					border-color #e1e1e1
					+placeholder()
						opacity 0

		&--new
			margin-bottom 10px
			display block
			//flex 0 0 48px
			//margin-left 10px
			button
				height 48px
				display block
				width 100%
				//width 48px
				//border 1px solid $conversation_blue
				background $conversation_blue
				border-radius 3px
				color $conversation_blue
				font-size 15px
				color #fff
				font-weight 600
				&:hover
					background darken($conversation_blue, 10)
				span
					display inline-block
					vertical-align middle
				//i
				//	display inline-block
				//	vertical-align middle
				//	&:after
				//		icon($i-note)
				//		font-size rem(20px)
