<div class="popup--container" data-popup-container>
	<div class="professional_clients_import--wrap">
		<header class="popup--header m-blue" data-header>
			<h2 class="popup--header_title" data-header-title></h2>
			<button class="popup--close" data-close>close</button>
		</header>
		<div class="popup--content" data-view-container></div>
		<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
	</div>
</div>
<div class="popup--bg"></div>
