.popup_auth
	&
		position relative
		display flex
		align-items stretch
		width 100%
		+responsive('max-width: 700px')
			flex 1
		+responsive('min-width: 768px')
			width 740px
			min-height 585px
		+responsive('min-width: 980px')
			width 780px
			min-height 585px
		form
			position relative

		&--aside
			+responsive('min-width: 768px')
				flex 0 0 370px
				max-width 370px
			+responsive('min-width: 980px')
				flex 0 0 410px
				max-width 410px

		&--close
			&
				width 24px
				height 24px
				position absolute
				z-index 1
				top 12px
				right 8px
				border 1px solid $gray
				text-indent -9999px
				border-radius 28px
				+responsive('min-width: 361px')
					width 28px
					height 28px
					top 10px
					right 10px
				+responsive('min-width: 768px')
					top 20px
					right 20px

				&:before
					text-indent 0
					icon($i-times)
					position absolute
					top 50%
					left 50%
					font-size 12px
					center()
					color $gray
					+responsive('min-width: 361px')
						font-size 14px

			&:hover
				border-color $gray_dark

				&:before
					color $gray_dark

		&--form
			&
				display none
				padding 20px
				+responsive('min-width: 768px')
					flex 0 0 370px
					max-width 370px
					padding 30px
				+responsive('min-width: 980px')
					max-width 410px
					flex 0 0 410px
					padding 40px
				&--fields
					height 460px

					.form--line
						&
							margin-top rem(18px)

						&.m-usertype
							position relative
							top -3px
							margin-top -10px !important
							dd
								cf()
							input
								position absolute
								left -9999px

								&:checked + label
									background #b0d861
									color #fcfcfc
									border 1px solid #b0d861

							label
								float left
								cursor pointer
								border 1px solid #ebebeb
								display block
								padding 11px 15px
								border-radius 3px
								width 50%
								text-align center

								&.user_client--label
									border-top-right-radius 0
									border-bottom-right-radius 0
									border-right 0
								&.provider--label
									border-top-left-radius 0
									border-bottom-left-radius 0
									border-left 0

						&:first-child
							margin 0


				&--reset_info
					line-height rem(22px)
					padding rem(20px 0 0)

			// &:first-of-type
			&.-show
				display block !important


			&.-login &
				&--fields
					padding-top 128px

			&.-reset &
				&--fields
					padding-top 128px

			&.-sign_up &
				&--fields
					padding-top 42px

				&--footer
					.btn
						padding-left rem(15px)
						padding-right rem(15px)

// page
.popup_auth.m-page
	background #fff
	border-radius 5px
	overflow hidden
	margin 50px auto
	box-shadow 0 0 35px rgba(#000, .15)
