.popup_social
	&
		position relative
		width 730px
		cf()
		
		&--description
			float left
			width 100%
			height 100%
			padding 44px 30px 0
			color #38372f
			position relative
			h2
				color #6b6b6b
				font-size 18px
				margin-bottom 50px
				
		&--fast_sign
			width 100%
			margin 0 0 50px
			cf()
			display flex
			flex-direction row
			flex-wrap nowrap
			justify-content center
			align-content flex-start
			align-items flex-start
		
			li
				min-width 25%
				text-align center
				
				.update_userpic
					display inline-block
					border 1px solid #ebebeb
					border-radius 10px
					margin-bottom 16px
					
					&--photo
						width rem(130px)
						height rem(130px)
						background #ebebeb
						border-radius 10px
						margin 3px
						text-align center
						position relative
						overflow hidden
						
						&:before
							content ''
							icon($i-camera)						
							font-size 48px
							color #d3d3d3
							line-height 130px
						img 
							width rem(130px)
							position absolute
							top 0	
							left 0
							z-index 2
							
						.m-social
							position absolute
							z-index 3
							bottom 6px
							right 6px
							width rem(24px)
							height rem(24px)
							
					&--link
						display inline-block
						font-size 14px
						color #9a9a9a
						border 1px solid #e1e1e1
						text-align center
						width calc(100% - 24px)
						margin 0 12px
						padding 12px 0
						border-radius 3px
						
						&:hover
							color #2b95a7
							background #f9fafc
							
						&.m-google_link
							&:hover
								color #dd4b39
								
					&--current
						display block
						font-size 14px
						color #6b6b6b
						text-align center
						line-height 20px
				
		&--close
			&
				width 28px
				height 28px
				position absolute
				z-index 9
				top 40px
				right 40px
				border 1px solid $gray
				text-indent -9999px
				border-radius 28px
				
				&:before
					text-indent 0
					icon($i-times)
					position absolute
					top 50%
					left 50%
					font-size 14px
					center()
					color $gray
					
			&:hover
				border-color $gray_dark
				
				&:before
					color $gray_dark
						
// page
.popup_auth.m-page
	background #fff
	border-radius 5px
	overflow hidden
	margin 50px auto
	box-shadow 0 0 35px rgba(#000, .15)
	
