.comments
	background $background_color
	border-top 1px solid $border_color

	&--inner
		padding rem(30 0)
		max-width 780px
		margin 0 auto
		+responsive('min-width: 768px')
			padding rem(40 0)
		+responsive('min-width: 980px')
			padding rem(50 0)
	&--title
		font-size rem(18)
		font-weight normal
		margin rem(0 0 20)
		+responsive('min-width: 768px')
			margin rem(0 0 24)
			font-size rem(20)
		+responsive('min-width: 980px')
			margin rem(0 0 30)
			font-size rem(22)

		small
			font-size 1rem
			font-weight 300

	&--list
		> .comment:first-child
			margin-top 20px

	&--guest
		font-size 1rem

		a
			&
				color $blue
			&:hover
				text-decoration underline
