.suitability
	border-top 1px solid $border_color
	padding rem(20px 20px 30px 70px)

	&.m-edit
		border-style dashed
		border-color darken($border_color, 10)

	&--list
		padding-top 12px
		-webkit-column-count 2
		-moz-column-count 2
		column-count 2
		&--item
			&
				width 350px
				padding 2px 0 15px 0

				dt
				dd
					display inline-block
					vertical-align top
					line-height 1.3

				dt
					min-width 130px
					padding-right 10px
					font-weight 600

				dd
					max-width 210px
