+responsive('max-width: 1220px')
	.suitability
		&--list
			-webkit-column-count 1
			column-count 1

			&--item
				width auto

+responsive('max-width: 860px')
	.suitability
		padding rem(20px 15px)
		&--list
			padding-top 20px

			dl
				padding-bottom 10px

		.profile--block--content.m-pull
			padding-left 0

+responsive('max-width: 750px')
	.suitability
		padding rem(20px 35px 30px 60px)

+responsive('max-width: 640px')
	.suitability
		padding rem(35px 27px)

+responsive('max-width: 480px')
	.suitability
		padding rem(20px 15px)

		&--list
			padding-top 15px

			dl
				padding-bottom 10px

		.profile--block--content.m-pull
			padding-left 0

+responsive('max-width: 380px')
	.suitability
		&--list
			dl
			dd
				display block
