.profile_edit_inline
	.popup--close
		top 16px
		right 25px

	&--wrap
		position relative
		line-height 1.25rem
		overflow hidden
		+responsive('min-width:768px')
			width 700px
		+responsive('min-width:980px')
			width 900px

		.panel--block
		.professional_setup_suitability_conditions--block
			line-height 1

		.panel--header
			&.m-suitability
			&.m-conditions
				display none

		.accordion_panes.m-in_block
			border-top 0
			border-bottom 0


	&--header
		padding rem(20 25)
		background $background_color
		border-bottom 1px solid $border_color
		&.m-error
			color $red
	&--header_title
		font-size rem(18)
		font-weight 600
		position relative
		span
			color $blue

	&--container
		padding rem(20 25)

	&--footer
		padding rem(15 25)
		border-top 1px solid $border_color
		text-align right



	.edit_links--list
		padding-top 0


	&--edit_btn
		display inline-block
		color $gray_dark
		font-weight 400
		text-transform uppercase
		font-size rem(16)
		line-height 1
		cursor pointer
		//position absolute
		margin 0 0 0 10px
		padding 0
		vertical-align initial
		&:before
			icon($i-pencil)
		&:hover
			color $blue


		.profile_card--header &
			position absolute
			right 0
			top 4px
		.profile_card--info--line &
			position absolute
			right 0
			top 7px



	&--message
		position fixed
		z-index 9999
		left 20px
		top 40px
		right 20px
		background $blue_light
		color #fff
		padding rem(15 20)
		font-weight 600
		font-size 16px
		text-align center
		cursor pointer
		&:after
			icon($i-close)
			position absolute
			right 20px
			top 50%
			transform translateY(-50%)
			font-size 14px
			line-height 14px
			width 14px
			height 14px
