.clients_note
	&
		min-height 230px
	.popup--close
		right 25px
		top 25px

	.popup--container
		width 700px

	&--form
		padding rem(30px)

	&--title
		font-weight 600
		font-size rem(18)
		margin-bottom 20px

	&--group
		margin-bottom 20px

		&.m-right
			text-align right

		&.m-actions
			margin-bottom 0

	&--save
		min-width 200px

	&--datepicker
		&.field.m-icon.m-datepicker
			input
				width 180px
