.switch_profile
	.user_menu
		height auto
		&--user
			display block
			text-align center
			padding 10px 10px 15px
		&--user_name
			dd
			dt
				font-size rem(16px)
				$gray_dark
				text-transform capitalize
			dt
				$gray
		&--userpic
			margin-right 0
		&--dropdown
			margin 0 auto
			display block
			position relative
			left auto
			right auto
