*
	box-sizing border-box

	&:before
	&:after
		box-sizing inherit

html
body
	height 100%

html
	font-size 16px
	-webkit-text-size-adjust 100%

body
	&
		font-family $ff_proxima
		font-size .875rem
		line-height 1
		color $gray_dark
		background-color $background_color
		min-width 1000px
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale

	&.m-device_desktop
		min-width 1000px

	&.m-mobile_ready
	&.m-device_mobile
		min-width 320px

input
button
textarea
select
	font-family $ff_proxima

input
button
textarea
	ibreset()

button
	cursor pointer
	&::-moz-focus-inner
		border: 0
		padding: 0

input:-webkit-autofill
	-webkit-box-shadow 0 0 0px 1000px white inset

input
textarea
select
	&:invalid
		box-shadow: none

	&:-moz-submit-invalid
		box-shadow: none

	&:-moz-ui-invalid
		box-shadow:none

a
	text-decoration none

em
i
	font-style italic

b
strong
	font-weight 600

a
	color: $gray_dark

.ui-helper-hidden-accessible
	position absolute
	left -9999px

.nowrap
	white-space nowrap
