<fieldset class="edit_notifications panel--block">
	<header class="panel--header m-email_notification">
		<h2 class="panel--header_title">By Email</h2>
	</header>
	<div class="panel--content">
		<ul class="edit_notifications--options" data-reminders-listing></ul>
	</div>
</fieldset>
<footer class="panel--actions">
	<button class="btn m-blue" type="submit" data-submit>Update Settings</button>
</footer>
<div class="loading_overlay m-light" data-loading><span class="spin m-logo"></span></div>
