<label class="checkbox m-vcentered">
	<input type="checkbox" value="1" name="email_appointment_reminder">
	<span class="checkbox--i"></span>
	<span class="checkbox--label">Receive appointment reminders by Email</span>
	<span class="select">
		<select data-select name="email_appointment_reminder_time"></select>
	</span>
	<span class="checkbox--label">before an appointment</span>
</label>
