.share_button
	position relative

	&:after
		width 15px
		right -15px
		top -10%
		content ''
		display block
		height 120%
		position absolute
		+responsive('max-width: 680px')
			top 100%
			left -20%
			width 140%
			height 10px
			width 100%

	&:hover &
		&--list
			display block

	&--list
		display none
		position absolute
		padding 5px
		border-radius 3px
		background $gray_darker
		white-space nowrap
		z-index 3
		left 100%
		top 50%
		transform translateY(-50%)
		margin-left 15px
		+responsive('max-width: 680px')
			top 100%
			left 50%
			margin-left 0
			margin-top 10px
			transform translate(-50%, 0)

		&:before
			position absolute
			left -6px
			top 50%
			margin-top -6px
			display block
			content ''
			width 0
			height 0
			border-style solid
			border-width 6px 6px 6px 0
			border-color transparent $gray_darker transparent transparent
			+responsive('max-width: 680px')
				border-width 0 6px 6px 6px
				border-color transparent transparent $gray_darker transparent
				top -6px
				left 50%
				margin-left -6px
				margin-top 0

		li
			display inline-block
			margin 0 3px
			vertical-align middle

	&--link
		width 28px
		height 28px
		line-height 28px
		text-align center
		display block
		position relative

		&:hover
			opacity .8

		&:before
			display inline-block
			font-size 24px
			color white
			position relative

		&.m-facebook
			&:before
				icon($i-facebook)

		&.m-twitter
			&:before
				icon($i-twitter)
				left -2px

		&.m-googleplus
			&:before
				icon($i-google-plus)
				font-size 17px

		&.m-linkedin
			&:before
				top -1px
				icon($i-linkedin)

		&.m-stumbleupon
			&:before
				icon($i-stumbleupon)
				font-size 16px

		&.m-pinterest
			&:before
				icon($i-pinterest-p)
				font-size 18px
