.panel
	position relative
	border 1px solid $border_color
	background #fff
	padding 0
	border-radius 3px
	margin rem(10 0 0)

	&:empty
		display none

	.m-hide
		display none

	+mobile_ready_and_mobile()
		+responsive('max-width: 767px')
			padding-bottom 60px
			border 0
			border-radius 0

	&:first-of-type
		margin 0

	&--header
		border-bottom 1px solid $border_color
		position relative
		padding 20px 0 15px
		margin 0 0 0 70px

		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				padding 15px 10px 0 0
				margin-left 45px
				border-bottom 0

				&.m-mobile_border
					border-bottom 1px solid $border_color
					padding-bottom 8px

					&:after
						display block
			+responsive('max-width: 375px')
				padding px2vw(15, 375) px2vw(10, 375) 0 px2vw(6, 375)
				margin-left px2vw(45, 375)
				border-bottom 0
		&:before
			color #e0e0e0
			content ''
			position absolute
			right 100%
			top 0
			font-size 25px
			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					right auto
					left -30px
					font-size 22px

		&:after
			display block
			height 2px
			background $blue
			width 90px
			position absolute
			bottom -1px
			left 0
			content ''
			@media (max-width 979px)
				display none

		&.m-no_icon
			margin 0
			padding-left 30px
			@media (max-width 979px)
				padding-left 15px

		&.m-basic_info
			&:before
				icon($i-user)
				margin 0 25px 0 0
				top 18px

		&.m-social
			&:before
				icon($i-globe)
				margin 0 22px 0 0
				top 20px

		&.m-services
			&:before
				icon($i-group)
				margin 0 22px 0 0
				top 20px

		&.m-locations
			&:before
				icon($i-geo-fence)
				margin 0 22px 0 0
				top 20px
		&.m-suitability
			&:before
				icon($i-note)
				margin 0 22px 0 0
				top 20px
		&.m-conditions
			&:before
				icon($i-private)
				margin 0 22px 0 0
				top 20px
		&.m-about
			&:before
				icon($i-pencil)
				margin 0 22px 0 0
				top 20px

		&.m-education
			&:before
				icon($i-university)
				margin 0 22px 0 0
				top 20px

		&.m-work
			&:before
				icon($i-briefcase)
				margin 0 20px 0 0
				top 20px

		&.m-certificates
			&:before
				icon($i-frame)
				margin 0 22px 0 0
				top 22px

		&.m-associations
			&:before
				icon($i-diploma)
				margin 0 22px 0 0
				top 23px

		&.m-photos
			&:before
				icon($i-camera)
				margin 0 22px 0 0
				top 19px
				@media (max-width 979px)
					top 13px
					font-size 20px

		&.m-videos
			&:before
				icon($i-start)
				margin 0 21px 0 0
				top 20px
				@media (max-width 979px)
					top 13px
					font-size 20px

		&.m-providers
		&.m-clients
			&:before
				icon($i-group)
				margin 0 18px 0 0
				top 22px

		&.m-providers_pending
		&.m-clients_pending
			&:before
				icon($i-group_pending)
				margin 0 18px 0 0
				top 22px
				font-size 33px

		&.m-calendar
		&.m-schedule
			&:before
				icon($i-calendar)
				font-size 25px
				margin 0 18px 0 0
				top 22px

		&.m-credit-cards
			&:before
				icon($i-card_inserting)
				font-size 25px
				margin 0 18px 0 0
				top 22px

		&.m-update_email
			&:before
				icon($i-security_checked)
				margin 0 22px 0 0
				top 20px

		&.m-update_password
			&:before
				icon($i-lock)
				margin 0 24px 0 0
				top 19px

		&.m-transactions
			&:before
				icon($i-check-o)
				margin 0 24px 0 0
				top 19px

		&.m-email_notification
			&:before
				icon($i-paper_plane)
				margin 0 20px 0 0
				top 20px

		&.m-sms
			&:before
				icon($i-smartphone)
				margin 0 20px 0 0
				top 20px

		&.m-info
			&:before
				icon($i-info_bubble)
				margin 0 20px 0 0
				top 20px

		&.m-payment
			&:before
				icon($i-wallet)
				margin 0 20px 0 0
				top 20px

		&.m-payment
			&:before
				icon($i-wallet)
				margin 0 20px 0 0
				top 20px

		&.m-marker
			&:before
				icon($i-marker)
				margin 0 20px 0 0
				top 20px

		&.m-order
			&:before
				icon($i-purchase_order)
				margin 0 20px 0 0
				top 20px

		&.m-paypal
			&:before
				width 35px
				height 23px
				margin 0 10px 0 0
				top 20px
				background url($i 'svg/paypal.svg') no-repeat top left / contain
				+mobile_ready_and_mobile()
					+responsive('max-width: 767px')
						width 24px
						height 16px
						top 25px

		&.m-stripe
			&:before
				width 35px
				height 23px
				margin 0 10px 0 0
				top 20px
				background url($i 'svg/stripe.svg') no-repeat top left / contain
				+mobile_ready_and_mobile()
					+responsive('max-width: 767px')
						width 24px
						height 16px
						top 25px

		&.m-payments_provider
			margin-bottom 20px

	&--header_title
		color $blue
		font-size rem(18px)
		line-height 1.2
		font-weight 600
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				font-size rem(16)
			+responsive('max-width: 375px')
				font-size px2vw(22,375)
	&--header_description
		font-size rem(14px)
		line-height 1.28
		padding rem(5px 0)
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				font-size rem(13)
				padding rem(3 0 0 0)
		small
			font-size rem(12px)
			color $gray
		a
			color $blue_dark
			&:hover
				color $blue_light

	&--block
		& + &
			margin-top -10px

	&--content_block
		& + &
			margin-top 20px

	&--content
		margin 40px 0 40px 70px
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				margin 0
				padding 20px 15px
				max-width 690px

		&.m-form
			margin-right 170px
			max-width 660px
			@media (max-width 979px)
				margin-right 15px

	&--actions
		padding 10px 35px
		margin 0 !important
		text-align right
		border-top 1px solid $border_color
		&:empty
			display none
			+mobile_ready_and_mobile()
				+responsive('max-width: 767px')
					border 0
					padding 0
					position fixed
					left 0
					right 0
					bottom 0
					z-index 20
					display flex

					.btn
						flex 1
						height 50px
						border-radius 0
						font-size rem(16)
						&.m-link
							background $border_color


	&--actions + &--block
		border-top 1px solid $border_color
		padding-top 20px
		+mobile_ready_and_mobile()
			+responsive('max-width: 767px')
				padding-top 15px

	&--errors
		padding 10px 25px

		&.m-hide
			display none

	&--pagination
		text-align center
		padding 20px

		li
			display inline-block
			margin 0 3px

			a
				height 35px
				min-width 35px
				line-height 35px
				border-radius 3px
				border 1px solid $border_color
				display block

				&:hover
					background $background_color

			&.m-active a
				background-color white
				opacity .5
				color $gray
				cursor default
