<div class="panel--block">
	<header class="panel--header m-credit-cards">
		<h2 class="panel--header_title">Receive Payments</h2>
		<p class="panel--header_description">Here you can choose how you would like to be paid by clients. You can update or change these settings at any time.</p>
	</header>
	<div class="panel--content">
		<dl class="receive_payments--group">
			<dt>Receive Payments</dd>
			<dd>
				<div class="form--group form--line">
					<label class="radio">
						<input type="radio" name="allow_payments" value="in_person">
						<span class="radio--i"></span>
						<span class="radio--label">Receive payments only in-person</span>
					</label>
				</div>
				<div class="form--group form--line">
					<label class="radio">
						<input type="radio" name="allow_payments" value="online">
						<span class="radio--i"></span>
						<span class="radio--label">Receive payments only online</span>
					</label>
				</div>
				<div class="form--group form--line">
					<label class="radio">
						<input type="radio" name="allow_payments" value="all">
						<span class="radio--i"></span>
						<span class="radio--label">Allow the client to choose to pay online or in-person</span>
					</label>
				</div>

			</dd>
		</dl>
		<!-- <dl class="receive_payments--group" data-methods-select>
			<dt>Accept Payments Using</dd>
			<dd>
				<div class="select receive_payments--select_method">
					<select name="payment_method">
						<option value="" disabled selected>Select Method</option>
						<option value="paypal">Paypal</option>
						<option value="stripe">Stripe</option>
						<option value="both">Both Paypal and Stripe</option>
					</select>
				</div>
			</dd>
		</dl> -->
	</div>
</div>

<footer class="panel--actions" data-actions>
	<button type="button" class="btn m-link" data-cancel-btn>Cancel</button>
	<button class="btn m-blue" type="submit" data-update-btn>Update</button>
</footer>

<div data-method-settings-container class="receive_payments--methods">
	<div class="panel--errors m-hide" data-method-error>
		<div class='alert m-warning m-show m-standalone'><span>To receive payment online you must set up at least one payment method</span></div>
	</div>
	<div class="panel--block receive_payments--settings">
		<header class="panel--header m-paypal">
			<h2 class="panel--header_title">Paypal Settings</h2>
			<p class="panel--header_description">Here you can set up a new PayPal account or connect your existing account to easily and securely receive PayPal payments from your clients.</p>
		</header>
		<div class="panel--content receive_payments--settings_content" data-method-connect="paypal">
			<button class="receive_payments--btn m-paypal" data-method-connect-btn="paypal">Log In with Paypal</button>
		</div>
		<div class="panel--content receive_payments--settings_content" data-method-disconnect="paypal">
			<div class="receive_payments--label">Your PayPal account <b data-method-email></b> <span>is connected</span></div>
			<button class="btn m-mid_gray_border m-small" data-method-disconnect-btn="paypal">Disconnect Paypal</button>
		</div>
	</div>

	<div class="panel--block receive_payments--settings">
		<header class="panel--header m-stripe">
			<h2 class="panel--header_title">Stripe Settings</h2>
			<p class="panel--header_description">Here you can set up a new Stripe account or connect your existing account to easily and securely receive credit card payments from your clients.</p>
		</header>
		<div class="panel--content receive_payments--settings_content" data-method-connect="stripe">
			<button class="receive_payments--btn m-stripe" data-method-connect-btn="stripe">Connect with Stripe</button>
			<div class="receive_payments--stripe_info">
				<p class="receive_payments--stripe_info_title">Accept credit card payments online</p>
				<p><i>We’ll automatically enable you to accept credit card payments with Stripe.</i></p>
				<p><a href="#" data-learn-more="stripe">LEARN MORE</a> about Stripe.</p>
			</div>
		</div>
		<div class="panel--content receive_payments--settings_content" data-method-disconnect="stripe">
			<div class="receive_payments--label">You're <span>connected</span> to Stripe</div>
			<button class="btn m-mid_gray_border m-small" data-method-disconnect-btn="stripe">Disconnect Stripe</button>
		</div>
	</div>
</div>
