<div class="popup--container" data-popup-container>
	<div class="popup--header m-blue">
		<h2 class="popup--header_title">
			What is Stripe
		</h2>
		<button class="popup--close" data-popup-close>close</button>
	</div>
	<div class="popup--content m-padded m-w480">
		<!-- <div class="cancel_plan--title">Stripe</div> -->
		<div class="popup--text">
			<p>Stripe is a secure payment platform. Stripe is certified to PCI Service Provider Level 1, the most stringent level of certification. Therefore, Stripe stores all your sensitive data, so you know your data is in good hands.</p>
			<p>HealthPRO.com creates a connected account for you on Stripe. From there on, HealthPRO.com just acts as a gateway between you and Stripe.</p>
		</div>
		<div class="popup--footer"></div>
	</div>
</div>
