.leave_review
	position relative
	padding 0
	margin 0

	&--container
		display flex
		min-height 300px

	&--col
		flex 1
		display flex
		flex-direction column
		padding rem(40)
		&:first-child
			border-right 1px solid $border_color

		&.m-hide
			display none

	&--title
		font-weight 600
		font-size rem(18)
		margin-bottom rem(40)

	&--content
		flex 1

	&--footer
		margin-top rem(20)
		text-align right


	&--notification
		margin-bottom rem(40px)
		padding 18px
		text-align center
		font-weight 600
		&.m-success
			background lighten($green_dark, 40)
			color darken($green_dark, 10)
		&.m-error
			background lighten($red, 30)
			color $red

	&--rating
		margin-bottom rem(40)
		.form--group
			dt
				width rem(160)
				font-weight 400
				font-size rem(16)
		.rating
			unicode-bidi bidi-override
			direction rtl
			margin 5px 0
			> span
				display inline-block
				position relative
				font-size rem(18)
				cursor pointer
				font-family sans-serif

				color $yellow_mute

				&.checked:before,
				&.checked ~ span:before,
				&:hover:before,
				&:hover ~ span:before
					content "\2605"
					position absolute
					font-size rem(18)
					left 0
					color $yellow_mute



	&--success
		padding rem(40 30 30)
		text-align center
	&--success_icon
		display block
		width 70px
		height 70px
		margin 0 auto
		svg
			width 70px
			height 70px
			path
				fill $green
	&--success_title
		font-size rem(18)
		font-weight 600
		margin rem(18 0)
	&--success_text
		font-size rem(16)
		font-weight 400
		margin rem(18 0 36)

	&--success_cta
		.btn
			width 160px
