.leave_review_popup
	.popup--header
		background $blue_light

	.popup--header_title
		color #fff
		font-size rem(24)
		font-weight 400

	.popup--success
		display none

	.popup--close
		border-color #fff
		&:hover
			opacity .7
		&:before
			color #fff

	.popup--container
		width 880px

		&.m-without_appointment
			width 450px

			.booking_info--provider
				margin-bottom 20px
				padding-bottom 20px
				border-bottom 1px solid $border_color

			.leave_review--title
				margin-bottom 20px

	&.m-success
		.popup--container
			width 470px
		.popup--header
		.popup--content
			display none

		.popup--success
			display block
		//+responsive('min-width: 768px')
		//	width 700px
		//+responsive('min-width: 980px')
		//	width 880px
