.professional_clients_import
	.popup--container
		width 650px

	.popup--content
		padding rem(30 40 40)
		line-height 1.35
		font-size rem(16)

	.popup--close
	.popup--header
		&.m-hide
			display none

	.popup--header_title
		&.m-icon
			padding-left 35px
			position relative
			&:before
				content ""
				display block
				width 24px
				height @width
				background red
				position absolute
				left 0
				top 50%
				margin-top (-@width/2)
				background url($i 'dashboard/clients_import/exel.svg')
				background-size @width @width


	&--container &
		&--actions
			&.m-notify_clients_edit
				display none

	&--container.m-edit_msg &
		&--actions
			&.m-notify_clients
				display none
			&.m-notify_clients_edit
				display block
		&--content
			&.m-notify_clients
				p
					display none


	&--content
		text-align center
		margin rem(0 0 30 0)
		&.m-notify_clients
			text-align left
		&.m-success
			margin-bottom rem(20)

		h2
			font-size rem(18)
			margin-bottom rem(25)
			font-weight 600
		h3
			font-size rem(18)
			margin-bottom .5em
			font-weight 600
		p
			margin-bottom .5em
			&:last-child
				margin-bottom 0

		a
			color #3198aa
			&:hover
				color darken(@color, 10)

	&--actions
		text-align center
		margin-top rem(35)
		&.m-notify_clients
		&.m-notify_clients_edit
			text-align right
			margin-right -3px
			margin-top rem(25)
		&.m-success
			margin-top rem(25)
		.btn
			margin 0 3px
			width 220px
			&.m-blue
				background #3198aa
				&:hover
					background darken(@background, 10)
			&.m-white
				background #fff
				&:hover
					background $background_color


	&--csv_preview
		display block
		height 132px
		background url($i 'dashboard/clients_import/csv_preview.jpg') 0 0 no-repeat
		width 560px
		margin rem(30 -40)

	&--field
		margin rem(30) auto
		text-align center
		position relative
		width 300px

	&--error
		text-align center
		margin-bottom rem(30)
		font-size rem(14)
		font-weight 600
		color $red
		border 1px solid lighten($red_light, 20)
		padding rem(10 20)
		border-radius 3px
		background lighten($red_light, 30)
		&.m-hide
			display none

	&--notify_note
		font-size rem(13)
		line-height 1.25
		margin rem(10 0 20 0)
		strong
			color $red
		span
			white-space nowrap

	&--icon
		display block
		width 70px
		height @width
		margin 0 auto rem(20)
		&:before
			color $green
			font-size 70px
			line-height 1
			width 70px
			height @width
			display block
		&.m-success
			&:before
				icon($i-paper_plane)
		&.m-upload_complete
			&:before
				icon($i-done)

	&--msg
		background $background_color
		border 2px solid $border_color
		border-radius 3px
		padding rem(20)
		line-height 1.25
		height 345px
		overflow hidden
		p
			margin-bottom .75em

	&--container.m-edit_msg &
		&--msg
			background #fff
			overflow auto


	&--statistics
		text-align center
		&.m-hide
			display none
		h3
			font-size rem(16)
			font-weight 600
			margin-bottom .5em
			a
				font-size rem(14)
				font-weight 400

	&--stat_list
		display flex
	&--stat
		font-size rem(13)
		flex 1
		margin-right 5px
		background $background_color
		border 1px solid $border_color
		padding rem(8 10)
		border-radius 3px
		line-height 1
		&:last-child
			margin-right 0
		strong
			margin-top 5px
			display block
			font-size rem(15)
		&.m-success
			strong
				color $green
		&.m-existed
			strong
				color $blue_light
		&.m-error
			strong
				color $red

	&--stat_cta
		margin 0 auto
		color $blue
		font-size rem(13)
		margin-top rem(5)
		&:hover
			text-decoration underline

	&--statistics_text
		background $background_color
		border 2px solid $border_color
		padding rem(20)
		overflow scroll
		height 150px
		overflow auto
		text-align left
		font-family "Courier New", Courier, monospace
		font-size rem(13)
		h3
			font-weight 700
			font-size rem(13)
			margin 0
		ul
			margin-bottom 1em


	&--form_body
		max-height 306px
		position relative
		padding-right 10px
		overflow hidden

	&--form_row
		display flex
		margin-bottom 5px
		&.m-header
			text-align center
			font-weight 600
			border-bottom 1px solid $border_color
			padding-bottom 5px
			font-size rem(14)
	&--form_cell
		flex 1
		margin-right 5px
		position relative
		&:last-child
			margin-right 0

		input[type=text]
			display block
			border 1px solid $border_color
			font-size rem(14)
			padding rem(5)
			border-radius 3px
			resize none
			background #fff
			color $gray_dark
			width 100%
			&.m-error
				color $red
				border-color $red

		&.m-tel_prefix
			&:before
				content '+1'
				position absolute
				left 10px
				top 0
				padding rem(5) 0
				line-height 1.4
				height 100%
				font-size .875rem

			input
				padding-left 25px

	&--form_row_remove
		flex 0 0 20px
		display flex
		align-items center
		button
			color $red
			font-size rem(16)
			width 20px
			height 20px
			display flex
			align-items center
			&:before
				icon($i-cancel)
				display block
				width 20px
				height @width
				line-height @width



	&--form_footer
		margin-top 5px
		text-align right

	&--form_add_row
		font-size rem(14)
		font-weight 600
		color $blue
		&:hover
			text-decoration underline

		&.m-hide
			display none
