.add_client
	&--wrap
		width 440px

	&--header_title
		line-height 24px

	&--form
		padding rem(30 40)

		.form--group
			margin-bottom rem(15)
			&:last-child
				margin-bottom 0
			&.m-hide
				display none
			dt
				margin-bottom rem(5)

	&--footer
		cf()
		border-top 1px solid $border_color
		padding rem(12 40)

	&--footer_actions
		text-align right
		display block
