<div class="professional_setup_wizard--header">
	<h2 class="professional_setup_wizard--header--title">
		Set Your Primary Location
		<button class="professional_setup_wizard--header--tooltip" data-tooltip title="Include here your main location. You can change your location or add more locations later on from your dashboard."></button>
	</h2>
</div>

<div class="professional_setup_wizard--error m-hide m-base" data-base-error></div>

<div class="professional_setup_wizard--main" data-view-main></div>
