<dt>
	<div class="professional_setup_wizard--period field weekdays">
		<span class="professional_setup_wizard--period--label">Select your working days</span>
		<div class="professional_setup_wizard--period--fields">
			{{#each weekdays}}
				<label class="onoff">
					<input type="checkbox" value="{{this.value}}" name="days">
					<span class="onoff--label">{{this.short}}</span>
					<span class="onoff--label m-short">{{this.letter}}</span>
				</label>
			{{/each}}
		</div>
		<span class="field--error"></span>
	</div>
</dt>
<dd>
	<div class="professional_setup_wizard--period">
		<span class="professional_setup_wizard--period--label">Select your working hours</span>
		<div class="professional_setup_wizard--period--fields m-times">
			<div class="select">
				<select name="from"></select>
				<span class="field--error"></span>
			</div>
			<span class="professional_setup_wizard--period--fields--label">to</span>
			<div class="select">
				<select name="until"></select>
				<span class="field--error"></span>
			</div>
			<button class="professional_setup_wizard--period--remove btn m-remove" data-period-remove type="button"></button>
		</div>
	</div>
</dd>
