<div class="professional_setup_wizard--periods">
	<div class="professional_setup_wizard--periods_list" data-periods-list></div>
</div>
<footer class="professional_setup_wizard--sub_footer m-full">
	<button data-periods-add type="button" class="professional_setup_wizard--sub_footer--add">Add Another Time Period</button>
</footer>
