<div class="{{popup_classes}}" data-popup="{{popup_name}}" id="{{popup_name}}">
	<div class="popup--container" data-popup-container>
		{{#if render_close_button}}
			<button class="popup--close m-white" data-popup-close>close</button>
		{{/if}}
		<div class="{{wizard_classes}}" data-wizard="{{wizard_type}}"></div>
	</div>
	<div class="popup--bg"></div>
</div>
