<header class="panel--header m-mobile_border m-info">
	<h2 class="panel--header_title">Plan Details</h2>
</header>
<div class="panel--content billing--content">
	<div class="billing--details" data-billing-plan></div>
</div>

<header class="panel--header m-mobile_border m-payment">
	<h2 class="panel--header_title">Payment Method</h2>
</header>
<div class="panel--content billing--content">
	<div class="billing--payment" data-billing-payment></div>
</div>

<header class="panel--header m-mobile_border m-marker">
	<h2 class="panel--header_title">Billing Info</h2>
</header>
<div class="panel--content billing--content">
	<div class="billing--info" data-billing-info></div>
</div>

<footer class="panel--actions">
	<button type="button" class="btn m-link" data-billing-cancel>Cancel</button>
	<button class="btn m-blue" type="submit" data-billing-submit>Update Billing Info</button>
</footer>
