<dl class="form--group form--line">
	<dt>Name</dt>
	<dd>
		<div class="field m-wide">
			<input type="text" name="bill_to_name" value="" placeholder="Enter your business name - this name will appear on the invoice.">
			<span class="field--error"></span>
		</div>
	</dd>
</dl>
<dl class="form--group form--line">
	<dt>Address</dt>
	<dd>
		<div class="field m-wide">
			<input type="text" name="bill_to_address" placeholder="Enter the address to which your invoice will be sent." value="">
			<span class="field--error"></span>
		</div>
	</dd>
</dl>
<!-- <dl class="form--group form--line">
	<dd>
		<div class="field m-wide">
			<input type="text" name="address_2" placeholder="Address line 2 (optional)" value="">
			<span class="field--error"></span>
		</div>
	</dd>
</dl> -->
