{{#if id }}
	{{#if type_formatted}}<p>{{ type_formatted }}</p>{{/if}}
	{{#if card_holder}}<p class="m-mid">{{ card_holder }}</p>{{/if}}
	{{#if card_number_last}}<p class="m-mid m-gray">•••• •••• •••• {{ card_number_last }}</p>{{/if}}
	{{#if email}}<p class="m-mid m-gray">{{ email }}</p>{{/if}}
{{else}}
<p>No payment method added</p>
{{/if}}
<div class="billing--payment_actions">
	<button class="billing--payment_edit btn m-white" name="edit_payment" data-method-edit>
		{{#if id }}
			Update Payment
		{{else}}
			Add Payment
		{{/if}}
	</button>
</div>
