{{#if is_subscribed}}
	<div class="billing--details_block">
		<div class="billing--details_main">
			{{#unless cancellation}}
				<div class="billing--details_label m-narrow">{{ plan.name }} Plan</div>
				<div class="billing--details_value"><b class="m-gray">{{ plan.price }}</b></div>
			{{else}}
				This Plan Was Cancelled
			{{/unless}}
		</div>
		<div class="billing--details_group">
			<div class="billing--details_row">
				{{#unless cancellation}}
					<div class="billing--details_label m-narrow">Renews on</div>
					<div class="billing--details_value">
						<b>{{ plan.end_date }}</b>

						{{#unless next_product.is_renewal}}
							, for the following plan: <b>{{ next_product.name }}</b> - <b class="m-gray">{{ next_product.price }}</b>
						{{/unless}}
					</div>
				{{else}}
					<div class="billing--details_text m-gray">Your subscription will remain active untill {{ plan.end_date }}</div>
				{{/unless}}
			</div>
			{{#unless cancellation}}
				<div class="billing--details_row">
					<div class="billing--details_label m-narrow">Number of Bookings</div>
					<div class="billing--details_value">
						{{#if bookings.limit}}
							<span class="{{#if overbooking.number}} m-red {{/if}}"> {{ bookings.used }} </span> /
							{{ bookings.limit }} bookings
							<i class="m-gray">({{ bookings.price }} per extra booking)</i>
						{{else}}
							<b>Unlimited</b>
						{{/if}}
					</div>
				</div>
			{{/unless}}
		</div>
		<div class="billing--details_actions">
			{{#unless cancellation}}
				<button class="btn m-green" data-choose-upgrade>Change Plan</button>
				<button class="btn m-link" data-cancel-plan><span>Cancel Plan</span></button>
			{{else}}
				<button class="btn m-green" data-reactivate-plan>Reactivate My Plan</button>
			{{/unless}}
		</div>
	</div>
	{{#if estimate.visible}}
		<div class="billing--details_block">
			<div class="billing--details_main">
				<div class="billing--details_label">Next Billing Estimate</div>
				<div class="billing--details_value m-large">{{ estimate.total }}</div>
			</div>

			<div class="billing--details_group">
				<div class="billing--details_row">
					<div class="billing--details_label">Next Payment Date</div>
					<div class="billing--details_value">{{ estimate.date }}</div>
				</div>
			</div>

			{{#each estimate.items}}
				<div class="billing--details_row">
					<div class="billing--details_label">{{ name }}</div>
					<div class="billing--details_value">
						{{#if overbooking}}
							{{ qty }} bookings <strong>(total: {{ subtotal }})</strong>
						{{else}}
							<b>{{ subtotal }}</b>
							{{#if description}}<span class="m-gray">({{ description }})</span> {{/if}}
						{{/if}}
					</div>
				</div>
			{{/each}}

		</div>
	{{/if}}
{{else}}
	<div class="billing--details_main">Not Subscribed</div>
	<div class="billing--details_actions">
		<a href="/pricing" class="btn m-green">Subscribe</a>
	</div>
{{/if}}
