.site_stat
	padding rem(115px 0 140px)
		
	&--title
		font-size rem(36px)
		font-weight 300
		text-align center

	&--list		
		display flex
		justify-content space-between
		margin 90px 0 0
		
	&--list_item
		flex 0 0 180px
		max-width 180px
		text-align center
		
		strong
			display block
			width 180px
			height 180px
			border 2px solid $border_color
			border-radius 180px
			line-height 180px
			font-size rem(36px)
			font-weight 600
			color $green
			
		span
			display block
			font-size rem(18px)
			margin rem(20px 0 0)
