<div class="professional_setup--location_type">
	<h2 class="professional_setup--location_type--title">Where do you accept clients?</h2>
	<div class="professional_setup--location_type--items">
		{{#each locationTypes}}
		<label class="professional_setup--location_type--item m-{{type}}">
			<input type="radio" name="location_type" value="{{id}}">
			<div class="professional_setup--location_type--item--label">
				<span class="professional_setup--location_type--item--icon m-{{type}}">{{{icon}}}</span>
				<h3 class="professional_setup--location_type--item--title">{{name}}</h3>
				<p class="professional_setup--location_type--item--description">{{description}}</p>
			</div>
		</label>
		{{/each}}
	</div>
</div>

<div class="professional_setup--form--row m-hide" data-field="name">
	<dl class="form--group">
		<dt>Location Name</dt>
		<dd>
			<div class="professional_setup--location_name field m-wide">
				<span class="field--error"></span>
				<input name="name" type="text">
			</div>
		</dd>
	</dl>
</div>

<div class="professional_setup--form--row m-hide" data-field="service_area">
	<div class="form--group">
		<span>I do on-site home visits within</span>
		<span class="field m-service_area">
				<span class="field--error"></span>
				<input type="text" name="service_area">
			</span>
		<span>miles of the following address:</span>
	</div>
</div>

<div class="professional_setup--form--row m-hide" data-field="address_line">
	<dl class="form--group">
		<dt>Address</dt>
		<dd>
			<span class="field--description m-hide">This address will not be shown to clients.</span>
			<div class="professional_setup--location_address field m-wide m-icon m-map_marker">
				<span class="field--error"></span>
				<input name="address_line" type="text">
			</div>
		</dd>
	</dl>
</div>
<div class="professional_setup--form--row m-hide" data-field="address_line_two">
	<dl class="form--group">
		<dd>
			<div class="professional_setup--location_address field m-wide">
				<span class="field--error"></span>
				<input name="address_line_two" type="text" placeholder="Address line 2 (optional)">
			</div>
		</dd>
	</dl>
</div>
<div class="professional_setup--form--row m-hide" data-field="address_label">
	<dl class="form--group">
		<dt>Home Visit Area</dt>
		<dd>
			<div class="professional_setup--location_address_label field m-wide">
				<span class="field--description">Will be shown instead of the real address.</span>
				<span class="field--error"></span>
				<input name="address_label" type="text" placeholder="Ex. New York">
			</div>
		</dd>
	</dl>
</div>
<div class="professional_setup--form--row m-hide" data-field="note">
	<dl class="form--group">
		<dt>Contact Info & Meeting Details (phone, Skype, address, etc.)</dt>
		<div class="professional_setup--note field m-note m-wide">
			<span class="field--error"></span>
			<textarea name="note" placeholder="Let your client know how to be in touch with you or where to meet you." cols="30" rows="6" data-maxlength="200"></textarea>
		</div>
	</dl>
</div>
<div class="professional_setup--form--row m-hide" data-field="timezone">
	<dl class="form--group">
		<dt>Timezone</dt>
		<dd>
			<div class="field m-timezone_current m-wide">
				<label class="checkbox">
					<input type="checkbox" name="timezone_current" checked="checked">
					<span class="checkbox--i"></span>
					<span class="checkbox--label">Use my current timezone</span>
				</label>
			</div>
			<div class="select m-timezone m-wide m-hide" data-field-timezone>
				<select name="timezone"></select>
				<span class="field--error"></span>
			</div>
		</dd>
	</dl>
</div>
<div class="professional_setup--form--row" data-edit-availabilities></div>
<div class="professional_setup--form--row m-hide" data-field="padding_time">
	<div class="form--group">
		<span>Padding time in-between appointments (min)</span>
		<span class="field m-padding_time">
				<span class="field--error"></span>
				<input type="number" name="padding_time">
			</span>
	</div>
</div>

<button class="professional_setup--introductory--location--cancel" data-cancel-location>Cancel</button>
