<p class="edit_phones--info">In order to register a phone number or receive SMS alerts you must enter verify a valid cellphone number. <br> You can only receive SMS to one number.</p>
<div class="edit_phones--list">
	<header class="edit_phones--list--header">
		<strong class="edit_phones--list--header--key">
			SMS Alerts
		</strong>
		<strong class="edit_phones--list--header--key">
			Phone
		</strong>
	</header>
	<ul class="edit_phones--list--items"></ul>
</div>
<button class="edit_phones--list--add_item" type="button">Add Phone Number</button>