<div class="edit_phones--list--item--col">
	<label class="radio">
		<input type="radio" name="phones[is_notified]" value="{{id}}" {{activated}} >
		<span class="radio--i"></span>
	</label>
	<div class="edit_phones--list--item--phone">
		<b>+{{prefix}}</b>
		<input type="hidden" name="phones[{{index}}][prefix]" value="{{prefix}}">
		<div class="field"><input type="text" name="phones[{{index}}][number]" value="{{number}}"></div>
	</div>
</div>

<div class="edit_phones--list--item--buttons">
	{{#unless verified}}
		<span class="edit_phones--list--item--buttons--btn"><span>Verified</span></span>
	{{else}}
		<button class="edit_phones--list--item--buttons--btn" type="button">Verify By SMS</button>
		<button class="edit_phones--list--item--buttons--btn" type="button">Verify By Call</button>
	{{/unless}}

</div>
<button class="edit_phones--list--item--remove" type="button"></button>
