<div class="edit_phones--list--item--col">
	<label class="radio">
		<input type="radio" name="phones[is_notified]" value="{{id}}" {{activated}} >
		<span class="radio--i"></span>
	</label>
	<div class="edit_phones--list--item--phone">
		<div class="field m-short"><input type="text" name="phones[{{index}}][prefix]" value="" placeholder="Code"></div>
	</div>
	<div class="edit_phones--list--item--phone">
		<div class="field"><input type="text" name="phones[{{index}}][number]" value="" placeholder="Number"></div>
	</div>
</div>
<div class="edit_phones--list--item--buttons">
	<button class="edit_phones--list--item--buttons--btn" type="button">Verify By SMS</button>
	<button class="edit_phones--list--item--buttons--btn" type="button">Verify By Call</button>
</div>
<button class="edit_phones--list--item--remove" type="button"></button>