.book_services
	&--main
		display block

	&--item
		margin 10px 0

	&--item-header
		background #fff
		border 1px solid $border_color
		border-radius 3px
		padding rem(12 12 12 32)
		position relative
		transition background .2s ease-in
		cursor pointer
		display flex
		flex-wrap nowrap
		align-items center
		+responsive('min-width: 940px')
			padding rem(18 18 18 48)
		&:hover
			background #fcfcfc
		&:after
			position absolute
			left 12px
			top 33px
			width 0
			height 0
			border-style solid
			border-width 6px 4px 0 4px
			border-color $gray_light transparent transparent transparent
			transform rotate(-90deg)
			content ""
			+responsive('min-width: 940px')
				top 41px
				left 19px
				border-width 6px 4px 0 4px

		&.m-edit
			border-style dashed
			border-color darken($border_color, 10)



	&--item.m-expanded &
		&--item-header
			&:after
				transform rotate(0)
			&:hover
				background white
		&--item-content
			display block
		&--item-cta
		&--item-prices
			display none


	&--item-details
		flex 1
		margin-right rem(15)


	&--item-name
		font-weight 600
		font-size rem(16)
		color $blue_light
		line-height 1.375
		+responsive('max-width: 939px')
			font-size rem(15)
		span
			display inline-block
			padding 4px 10px
			border 1px solid $border_color
			background $background_color
			color $gray_dark
			border-radius 3px
			font-size rem(12)
			vertical-align middle
			line-height 1
			white-space nowrap
			margin-left 5px

	&--item-sub-name
		margin-top rem(2)
		font-weight 600
		font-size rem(13)
		color $blue_light

	&--item-locations
		margin-top rem(5)
		font-size rem(14)
		+responsive('max-width: 939px')
			font-size rem(13)
		li
			display inline-block
			padding-left 14px
			position relative
			margin 10px 5px 0

			&:before
				line-height 1
				position absolute
				left -4px
				top 50%
				font-size 16px
				transform translateY(-50%)

			&.m-office
				padding-left 8px
				&:before
					icon($i-map-marker)
					color #f2b95e
					margin-top -1px
					left -8px

			&.m-home-visit
				&:before
					icon($i-home-filled)
					color #3c9bab
					font-size 15px
					margin-top -2px

			&.m-virtual
				&:before
					icon($i-desktop)
					color #e27560
					font-size 12px

	&--item-cta
		width: 120px
		display block
		flex 0 0 @width
		+responsive('max-width: 939px')
			width 110px
			flex 0 0 110px
		&.btn
			border 1px solid $red
			background transparent
			color $red
			&:hover
				background transparent
				color $red
			&:active
				box-shadow none

	&--item-prices
		flex 0 0 180px
		margin-right rem(15)
		text-align right
		+responsive('max-width: 1050px')
			flex 0 0 130px

		+responsive('max-width: 939px')
			display none

	&--item-price
		& + &
			margin-top rem(5)

	&--item-content
		display none
		background #fff
		border 1px solid $border_color
		border-top 0

	&--item-description
		background white
		position relative
		padding rem(0 18 18 32)
		margin-top -1px
		border-bottom 1px solid $border_color
		+responsive('min-width: 940px')
			padding rem(0 18 18 48)

	&--item-cols
		padding rem(18 18 18 32)
		+responsive('min-width: 640px')
			display flex
			flex-wrap nowrap
			align-items center
		+responsive('min-width: 940px')
			padding rem(18 18 18 48)
		& + &
			border-top 1px solid $border_color

	&--item-col
		&.m-session
			+responsive('min-width: 640px')
				flex 1
				margin-right rem(15)
		&.m-book
			+responsive('max-width: 639px')
				margin-top rem(12)
			+responsive('min-width: 640px')
				flex 0 0 160px


	&--item-book
		display block
		&.btn
			transition all .2s ease-in
			&.m-recurring
				border-color $border_color
				background transparent
				color $blue_light
				border 1px solid $blue_light
				font-size rem(13)
				padding-left 0
				padding-right 0
				&:hover
					background $blue_light
					color #fff

	&--item-packages
		line-height 1.25
		font-size rem(14)
		margin-bottom rem(20)
		&:last-child
			margin-bottom 0
		h4
			font-size rem(15)
			font-weight 600
			margin-bottom .35em
		ul
			li + li
				margin-top .5em
		strong
			white-space nowrap
			&.m-sale
				color $red
