.setup_cards
	&--cards
		&
			padding 0

			.radio
				display block
				&--label
					display block

		&.m-hide
			display none

	&--cards_item
		&
			margin 15px 0 0

		&:first-child
			margin 0

	&--card
		display block
		vertical-align middle
		border 1px solid $border_color
		background #f9fafc
		font-size .875rem
		padding rem(14px 70px 14px 14px)
		border-radius 3px
		span
			display block
		i
			font-size 22px
			line-height 10px
			position relative
			top 1px
			padding 0 4px 0 0
			display inline-block
			font-style normal

		img
			position absolute
			right 32px
			top 50%
			t-translate(0, -50%)

		a
			font-size 13px
			color $gray_dark
			position absolute
			right 0px
			top 50%
			t-translate(0, -50%)
			width 32px
			font-size 13px
			text-align center
			&:hover
				color $blue
			&:before
				display block
				icon($i-edit_property)
				line-height 26px


	.radio input:checked ~ .radio--label &--card
		background #fff
		border-color #fff
		box-shadow 0 0 5px rgba(#000, .2)

	&--submit_button
		position absolute
		bottom 35px
		width 190px
		padding-left 0
		padding-right 0

	&--form
		.form--line
			&
				margin-top rem(18px)


			&:first-child
				margin-top 0

		.form--line
			display flex

		.form--group
			&
				flex 1
				margin 0 0 0 10px

			&.m-expiration
				flex 0 1 auto
			&.m-cvc
			&.m-cvv
				max-width 68px
				width 68px

			&:first-child
				margin-left 0

	&--form_wrap
		&.m-hide
			display none

	&--form_number
		&--label,
		&--field
			&.m-hide
				display none

		&--label
			display block
			vertical-align middle
			border 1px solid $border_color
			background #f9fafc
			width 100%
			margin 0 10px 0 0
			font-size .875rem
			padding rem(14px 70px 14px 14px)
			border-radius 3px
			span
				display block
			i
				font-size 22px
				line-height 10px
				position relative
				top 1px
				padding 0 4px 0 0
				display inline-block
				font-style normal

	&--form_info
		display flex

	&--account_type
		&
			padding-bottom 20px

		dd
			padding-top 10px

	&--expiration
		flex 0 1 auto
		dd
			display flex

			.select
				&
					flex 1
					margin 0 0 0 10px

				&:first-child
					margin 0

	&--card_logos
		cf()
		margin-bottom rem(15)

	&--card_logo
		width 40px
		height 25px
		background-repeat no-repeat
		background-color #fff
		background-position 0 0
		background-size 40px 25px
		float left
		margin-right 5px
		opacity .5
		&.m-active
			opacity 1
		for card in mastercard visa amex discover
			&.m-{card}
				background-image url($i_c 'cc/' + card + '.png')

	&--debit_footer
		position static
		margin-top rem(15)


+responsive('max-width: 980px')
	.m-wizard_edit
		.setup_cards
			.wizard--footer
				display none
