.profile_packages
	&--item
		border-top 1px solid $border_color_mid
		padding 30px 10px 20px 40px
		cf()

		&:first-child
			border-top none
			padding-top 0

	&--info
		width 55%
		float left
		padding-right 20px

		&_dates
		&_service
		&_remaining
			margin-bottom 10px

		&_service
			font-size rem(15)

		&_dows
			color $gray

		&_remaining
			color $red

	&--locations
		width 45%
		float left

		&_item
			margin-bottom 20px
			line-height 1.3
			padding-left 28px
			position relative

			p
				margin-bottom 2px

		&_name
			margin-bottom 5px
			font-weight bold

			&.m-office
			&.m-home-visit
			&.m-virtual
				&:before
					font-size 19px
					position absolute
					left 0
					top -4px

			&.m-office
				&:before
					icon($i-map-marker)
					color #e05b49
					font-size 27px
					left -3px
					top -8px
				&:nth-child(3n+2)
					&:before
						color #6cd89a
				&:nth-child(3n+3)
					&:before
						color #f2b95e
				&:nth-child(3n+4)
					&:before
						color #71b6e5

			&.m-home-visit
				&:before
					icon($i-home)

			&.m-virtual
				&:before
					font-size 23px
					icon($i-phone)
					top -5px
