+responsive('max-width: 980px')
	.profile_packages
		&--info
			width 65%

		&--locations
			width 35%

+responsive('max-width: 750px')
	.profile_packages
		&--info
			width 100%
			padding-right 0

		&--locations
			width 100%
			cf()

			&_item
				margin-top 20px
				margin-bottom 0
				width 50%
				float left
				padding-right 20px

+responsive('max-width: 550px')
	.profile_packages
		&--locations
			&_item
				width 100%
				float none
				padding-right 0

+responsive('max-width: 450px')
	.profile_packages
		&--item
			padding-left 0
			padding-top 25px

			&:last-child
				padding-bottom 10px

		&--info_dates
			line-height 1.3
