.signup_success
	padding 145px 0 80px
	margin 40px auto 0
	width 90%
	max-width 940px
	min-height 630px
	border-radius 5px
	box-shadow 0 0 20px rgba(black, .1)
	background url($i 'wizard/success_step_bg.jpg') no-repeat right top
	background-size contain

	&--header
		text-align center
		margin 0 0 30px

	&--header_title
		font-size rem(52)
		color darken($gray_dark, 10%)
		margin 0 0 20px

	&--header_description
		font-size rem(18)
		color darken($gray_dark, 10%)
		line-height 1.25

	&--buttons
		text-align center
		margin 0 0 35px

		.btn
			&
				font-size rem(18)
				font-weight 600
				padding 20px 30px
				margin 0 10px
				height auto
				min-width 230px

			&.m-white
				color $blue

	&--copy_link_title
		font-size rem(26)
		color $gray_dark
		margin-bottom rem(20)

	&--copy_link_description
		font-size rem(16)
		color $gray

	&--copy_link
		text-align center
		.field
			input
				width 410px
				padding-right 85px

	&--copy_link_button
		display block
		height 100%
		width 45px
		position absolute
		top 0
		right 0
		background $green
		border-radius 0 3px 3px 0

		&:before
			icon($i-link)
			color #fff
			center()

	&--copy_link_input
		margin-bottom 10px

	&--copy_link_success
		&
			display none
			background $green
			color #fff
			font-size 14px
			padding 5px 10px
			border-radius 3px
			margin 10px 0 0

		&.m-show
			display inline-block

	&--notice
		background lighten($green, 40%)
		text-align center
		padding 10px 60px
		position relative
		border-radius 3px
		width 80%
		max-width 540px
		margin 0 auto 20px
		font-size rem(16)
		line-height 1.25
		&:before
			icon($i-check-fill)
			position absolute
			top 50%
			left 17px
			transform translateY(-50%)
			font-size rem(20)
			opacity .8

	&--text
		font-size rem(18)
		text-align center
		max-width 640px
		margin 0 auto 35px
		line-height 1.25

	+responsive('max-width: 980px')
		padding 120px 20px 40px
		min-height 450px
		max-width 750px

		&--header_title
			font-size rem(38)

		&--copy_link_title
			font-size rem(20)

		&--header_description
		&--copy_link_description
		&--notice
		&--text
			font-size rem(16)

		&--buttons
			text-align center
			margin 0 0 30px

			.btn
				font-size rem(16)
				margin 0 5px
				height 45px
				min-width 0
				padding 12px 30px

				&.m-white
					color $blue

	+responsive('max-width: 800px')
		&--notice
			width 100%

	+responsive('max-width: 640px')
		padding-top 80px

		&--header_description
		&--copy_link_description
		&--notice
		&--text
			font-size rem(15)

		&--notice
			padding 10px 10px 20px
			&:before
				position static
				display block
				top -3px
				left 0
				transform none

	+responsive('max-width: 480px')
		width 100%
		border-radius 0
		margin 0
		box-shadow none

		&--header
			margin-bottom 35px

		&--buttons
			margin-bottom 35px
			.btn
				margin 0 0 5px
				width 100%
				&:last-child
					margin-bottom 0

		&--copy_link
			.field
				display block
				input
					width 100%
					padding-right 60px
					font-size 12px
