.headline_stats
	border 1px solid $border_color
	background #fff
	border-radius 3px
	position relative
	overflow hidden
	z-index 1
	&--list
		display flex
		align-items center
		justify-content space-between
	&--item
		width 25%
		border-right 1px solid $border_color
		padding rem(20)
		line-height 1.25
		text-align center
		@media (max-width 1100px)
			padding rem(16px 8)
		&:last-child
			border-right 0
		span
			display block
			font-size rem(44)
			@media (max-width 1100px)
				font-size rem(32)
		p
			font-size rem(16)
			color $gray
			margin 0
			@media (max-width 1100px)
				font-size rem(14)

		&.m-pending
		&.m-redeemed
			span
				color $red
		&.m-confirmed
		&.m-active
			span
				color $green_dark

	&.m-gift-certificates &
		&--item
			width 33.33333%
