<form class="form panel" action="#">
	<fieldset class="panel--block">
		<header class="panel--header m-basic_info">
			<h2 class="panel--header_title">Personal Information</h2>
			<p class="panel--header_description">Everything on this page is public.</p>
		</header>
		<div class="panel--content">
			<div class="edit_personal">
				<div class="edit_personal--userpic"></div>
				<div class="edit_personal--data"></div>
			</div>
		</div>
	</fieldset>
	<footer class="panel--actions">
		<button type="button" class="js-edit_about_me--cancel btn m-link" data-cancel="personal">Cancel</button>
		<button class="js-edit_about_me--submit btn m-blue" type="submit">Update</button>
	</footer>

	<fieldset class="js-edit_personal--social panel--block">
		<header class="panel--header m-social">
			<h2 class="panel--header_title">Social & Web</h2>
			<p class="panel--header_description">A great way to build your network and online community.</p>
		</header>
		<div class="edit_links m-profile js-edit_links panel--content"></div>
	</fieldset>
	<footer class="panel--actions">
		<button type="button" class="js-edit_about_me--cancel btn m-link" data-cancel="social">Cancel</button>
		<button class="js-edit_about_me--submit btn m-blue" type="submit">Update</button>
	</footer>
</form>
