.article_cover
	position relative
	height 240px
	background #ececec
	background-size cover
	background-position 50% 50%
	background-repeat no-repeat
	+responsive('min-width: 768px')
		height 380px
	+responsive('min-width: 980px')
		height 480px
