.popup_simple
	&--wrap
		padding 30px
		width 540px
		text-align center

	&--title
		font-size 24px
		font-weight 600
		color $gray_dark
		margin-bottom 10px
		line-height 1.1

		&.m-calendar_cta
			&:before
				background url($i 'dashboard/icons/calendar_cta_icon.png') no-repeat center
				background-size contain
				display block
				margin 0 auto 15px
				width 75px
				height 42px
				content ''

		&.m-searchable_cta
			&:before
				background url($i 'dashboard/icons/searchable_cta_icon.png') no-repeat center
				background-size contain
				display block
				margin -10px auto 0
				width 66px
				height 66px
				content ''

	&--text
		font-size 16px
		color $gray_dark
		margin-bottom 20px
		line-height 1.4

		p
			margin-top 15px

			&:first-child
				margin-top 0

	&--actions
		.btn
			min-width 160px
			margin 0 5px
