.booking_widget

	.m-hide
		display none

	&--header
		padding 22px 20px 19px
		border-bottom 1px solid $border_color
		position relative

		&--title
			font-size 22px
			text-align center

		&--close
			display none
			position absolute
			right 15px
			top 50%
			width 35px
			height 35px
			margin-top -(@height / 2)
			text-align center
			line-height @height
			cursor pointer

			&:before
				icon($i-cancel-o)
				font-size 24px
				color $gray

			&:hover
				&:before
					color $gray_dark

	&--content
		padding 22px 20px 0

	&--service
		margin-bottom 15px

	&.m-search &--service_select
		.select
			max-width 163px

	&--service_select
		margin-bottom 15px

	&--service_select
	&--duration
		flex 1
		.select
			display block
			width 100%

	&--packages
		margin-bottom 15px
		&:empty
		&:first-child
			margin-top 0

		.checkbox_group
			.checkbox + .checkbox
				margin-top 15px
			.checkbox
				display block
				&--label
					color $gray_dark
					font-weight 400
					strong
						font-weight 600
					small
						color $red
						font-weight 600
						font-size 13px
						margin-left 5px

				+mobile()
					display flex
					min-height 30px
					align-items center
					padding-left 43px
					.checkbox--i
						width 30px
						height @width
						margin-top 0
						&:before
							font-size 24px
							top 2px
							left 2px
					.checkbox--label
						display block
						flex 1






	&--pricing
		text-transform capitalize
		padding-top 15px
		margin-left auto
	&--price
		display none
		&.m-show
			display block
		white-space nowrap
		font-size 16px
		height 18px
		line-height @height
		vertical-align top
		span
			color #e05b49
			font-size 18px
			font-weight bold
			display inline-block
			height 18px
			line-height @height
			vertical-align top
			i
				height 18px
				line-height @height
				display inline-block
				color $gray
				font-weight 400
				font-size 16px
				font-style normal
				text-transform lowercase
				vertical-align top

	&--service_row
		display flex

	&--locations
		margin 25px 0 15px
		&--title
			font-weight 600
			margin rem(0 0 11px)
		&--list
			&--item
				&
					margin 6px 0 0 0
					border-radius 3px
					border 1px solid $border_color
					position relative
					padding 10px 10px 10px 45px
					cursor pointer
					transition all .2s

					/ .profile--sidebar--book &
						max-height 36px
						overflow(ellipsis)

						&:hover
							text-overflow initial
							white-space normal
							max-height 64px

					&.m-current
						&
						&:hover
							background $border_color

					&--icon
						&
							position absolute
							top 0
							left 0
							width 35px
							height 100%
							border-right 1px solid $border_color

							&:before
								font-size 20px
								position absolute
								top 50%
								left 50%
								center()

						&.m-location_1
							color $location-1

						&.m-location_2
							color $location-2

						&.m-location_3
							color $location-3

						&.m-place
							&:before
								icon($i-map-marker)

						&.m-virtual
							&:before
								icon($i-laptop)

					&:nth-child(3n+1) &
						&--icon
							&.m-place:before
								color #71b6e5

					&:nth-child(3n+2) &
						&--icon
							&.m-place:before
								color #6cd89a

					&:nth-child(3n+3) &
						&--icon
							&.m-place:before
								color #f2b95e

				&:first-child
					margin 0

				&:hover
					background #f9fafc

				&::selection
					background-color transparent

				*
					&::selection
						background-color transparent

	&--timezones
		display block
		text-align right
		margin-top 20px

	&--footer
		padding 20px
		.booking_widget--button
			font-size rem(18px)
			padding-top rem(22)
			padding-bottom rem(22)

	&--button
		& + &
			margin-top rem(10)

	&--not_searchable
		padding 20px

		p
			font-size rem(18px)
			font-weight bold
