+responsive('max-width: 980px')
	.booking_widget
		&--locations
			margin 0

+responsive('max-width: 860px')
	.booking_widget
		&--content
			.booking_time--datepicker--nav
				float left
				margin-left 10px

+responsive('max-width: 420px')
	.booking_widget
		&--header
			&--title
				text-align left
				font-size rem(19px)


+responsive('max-width: 380px')
	.booking_widget
		&--content
			padding 18px 14px 0

			.booking_time--datepicker--opener
				width 230px

			.booking_time--datepicker--nav
				margin-left 6px
