<header class="panel--header m-order">
	<h2 class="panel--header_title">Billing History</h2>
	<p class="panel--header_description">Here you can view your billing history and the status of all your transactions.</p>
</header>
<div class="billing--history">
	{{#if hasTransactions}}
		<div class="list_table m-break_640 billing_table m-margin_top" data-table>
			<ul class="list_table--header">
				<li class="list_table--item billing_table--item m-invoice">Inv no.</li>
				<li class="list_table--item billing_table--item m-date">Date</li>
				<li class="list_table--item billing_table--item m-status">Payment Status</li>
				<li class="list_table--item billing_table--item m-amount">Amount</li>
				<li class="list_table--item billing_table--item m-actions">Action</li>
			</ul>
			<div class="list_table--body" data-listing></div>
		</div>
	{{else}}
		<div class="billing--history_empty">No transactions found.</div>
	{{/if}}
	<ul class="panel--pagination m-hide" data-pagination></ul>
</div>
