<li class="list_table--item billing_table--item m-invoice" data-title="Inv no.">{{ id }}</li>
<li class="list_table--item billing_table--item m-date" data-title="Date">{{ date }}</li>
<li class="list_table--item billing_table--item m-status" data-title="Payment Status">{{ status }}</li>
<li class="list_table--item billing_table--item m-amount" data-title="Amount"><b>{{ amount }}</b></li>
<li class="list_table--item billing_table--item m-actions">
	<a href="{{ download_url }}" class="btn m-white billing--history_download" target="_blank"><i class="inline_icon m-download"></i>Download PDF</a>
</li>
