.clients_list
	fieldset
		padding rem(24px 18px 0)
		
		.form--group
			dt, dd
				font-weight 400
				display inline-block
				margin-right 12px
				.select
					width 180px
			 
	&--table     
		margin rem(0 -18px)  
		&--name
			width 25%
		&--prepaid
			width 30%
		&--valid
			width 20%
		&--booked
			width 25%
					
		table
			margin-top rem(24px)
			
			.m-show > tr > td
				border-bottom none
			
			thead
				tr
					td
						padding rem(13px 8px)
			tbody
				tr
					td
						padding rem(26px 8px)
			tr                        
				.myclients--table_sorting--details
					margin rem(12px 0 0)
					li
						display inline-block
						font-weight 600
						padding-right rem(50px)
						b
							color $blue
					
				td
					border-top 1px solid $border_color
					border-left none
					border-right none
					
					&:first-child
						padding-left 18px
					
					.classes_list--arrow_icon 
						position relative
						top 2px
						left 12px
									
		.classes_list--subtr
			background #fff !important
			
			.classes_list--subtr--cell
				border none !important
				padding-top 0
				padding-bottom rem(0)
				
			
			.classes_list
				margin rem(0 2px 0 -8px)
				padding-bottom rem(24px)
				table
					margin-top rem(15px)
					margin-bottom 0
					thead
						tr
							td
								border-top none
								color $gray
					tr
						td
							padding rem(17px 8px)
							
							&:first-child
								padding-left 48px
					tbody
						td
							background $background_color
							&:first-child
								border-left 1px solid $border_color
							&:last-child
								border-right 1px solid $border_color
