+responsive('max-width: 1220px')
	.profile_card_listed
		&--title
			margin-bottom 10px

		&--info
			padding-right 0

		&--reviews
			position static
			margin-bottom 10px

+responsive('max-width: 980px')
	.profile_card_listed
		&--title
			font-size 20px

+responsive('max-width: 860px')
	.profile_card_listed
		&
			padding 10px

		&--main
			padding-top 0

		&--title
			margin-bottom 5px
			display flex
			align-items center
			min-height 38px

		&--photo
			.userpic
				width 70px
				height 70px

		&--services
		&--locations
			display none

@media (max-width: $mobile-search-bp)
	.profile_card_listed
		&--title
			min-height 29px

		&--photo
			.userpic
				width 100px
				height 100px

		&--services
		&--locations
			display block

+responsive('max-width: 550px')
	.profile_card_listed
		&--title
			min-height 38px

		&--photo
			margin-right 10px

			.userpic
				width 70px
				height 70px

		&--services
		&--locations
			display none


+responsive('max-width: 480px')
	.profile_card_listed
		&--info
			padding-right 100px

		&--reviews
			&--label
				display none


+responsive('max-width: 360px')
	.profile_card_listed
		&--main
			padding-top 4px

		&--title
			min-height 20px
			margin-bottom 12px
			font-size 18px

		&--photo
			.userpic
				width 60px
				height 60px
