.profile_card_listed
	padding 15px
	display flex

	&--photo
		margin-right 15px

	&--main
		flex 1
		padding-top 3px

	&--title
		font-size 24px
		font-weight 600
		color $gray_dark
		margin-bottom 17px

		a
			color $blue

			&:hover
			&.m-hover
				opacity .8

	&--info
		position relative
		padding-right 175px

	&--reviews
		position absolute
		top 0
		right 0
		font-style italic

		&--label
			font-style normal

		.star_rating
			top -1px

	&--services
		text-transform uppercase
		color $blue_light
		font-size 14px
		font-weight 600
		margin-bottom 5px
