<div class="client_package--inner">
	<header class="client_package--header" data-package-header>
		<span class="client_package--header_avatar">{{{client.avatar}}}</span>
		<div class="client_package--header_service_professional">
			<h3 class="client_package--header_service">{{service.detailed_name}}</h3>
			<h4 class="client_package--header_professional">{{client.full_name}}</h4>
			<p class="client_package--header_label">{{package.price_label}} for {{package.number_of_months_label}}</p>
		</div>
		<div class="client_package--header_location m-{{location.type}}">
			<strong>{{location.name}}</strong>
			<span class="lbl m-blue_light">{{location.type_label}}</span>
		</div>
		<div class="client_package--header_time">
			{{#if next_appointment}}
				<p>
					<span>Next appointment on</span><br>
					<strong>{{next_appointment.weekday}}</strong>, {{next_appointment.date}}
				</p>
				<p class="m-time">
					{{next_appointment.from}} - {{next_appointment.until}}
				</p>
			{{else}}
				&nbsp;
			{{/if}}
		</div>
	</header>
	<div class="client_package--content">
		<div class="client_package--content_inner">
			<div class="client_package--content_details">
				<div class="client_package--description">
					<p>
						<span class="lbl m-red">monthly package</span>
					</p>
					<p><strong>{{package.duration_label}} x {{package.max_visits_label}}</strong></p>
					{{#if next_appointment}}
						<p>
							Next appointment is on
							<br>
							<strong>{{next_appointment.weekday}}, {{next_appointment.date}}</strong>
							<br>
							<strong>{{next_appointment.from}} - {{next_appointment.until}}</strong>
						</p>
						<p>
							<a href="{{next_appointment.url}}" class="client_package--appointment_details">View Full Appointment Details</a>
						</p>
					{{/if}}
				</div>
			</div>
			<div class="client_package--content_address">
				<div class="client_package--description">
					<h3>{{location.name}}</h3>
					<p>{{location.address}}</p>
					{{#if location.url}}
					<p class="client_appointment--content_address_maps">
						<a href="{{location.url}}" target="_blank" rel="noopener" class="client_package--link">View on Google Maps</a>
					</p>
					{{/if}}
				</div>
			</div>
			<div class="client_package--content_actions">
				{{#if is_active}}
					<div class="client_package--content_actions--ends">
						<p>This package ends on</p>
						<p><strong data-expires-on></strong></p>
						{{#if package.auto_renew }}
							<p><em>the package is set for auto renewal</em></p>
						{{/if}}
					</div>
					<div class="client_package--content_actions--cancel">
						<p data-package-canceled>This package is cancelled</p>
						<button data-package-cancel data-tooltip="dark" title="By canceling the package, the client will not be charged for the upcoming months. The remaining appointments for this month are not cancelled. ">Cancel Package</button>
					</div>
				{{else}}
					<p>This package ended on</p>
					<p><strong>{{package.expires_on}}</strong></p>
				{{/if}}
			</div>

			<div class="client_package--schedule" data-schedule>
				{{#if is_active}}
					<button class="client_package--schedule--toggler" data-schedule-toggle data-label-times="View Scheduled Appointments" data-label-appointments="View Schedule"></button>
				{{/if}}
				<div class="client_package--schedule--section m-times">
					<h3>Schedule</h3>
					<ul class="client_package--schedule--list">
						{{#each times}}
						<li class="client_package--schedule--row" data-schedule-time>
							<div class="client_package--schedule--col m-time">
								<strong>{{weekday}}</strong>
								<strong>{{from}}</strong>
							</div>
							<!--<div class="client_package&#45;&#45;schedule&#45;&#45;col m-actions">-->
								<!--<button class="client_package&#45;&#45;schedule&#45;&#45;cta" data-reschedule-time data-schedule_id="{{id}}">Reschedule</button>-->
							<!--</div>-->
						</li>
						{{/each}}
					</ul>
				</div>
				{{#if is_active}}
					<div class="client_package--schedule--section m-appointments">
						<h3>Scheduled Appointments</h3>
						<ul class="client_package--schedule--list">
							{{#each appointments}}
							<li class="client_package--schedule--row m-hide" data-schedule-appointment>
								<div class="client_package--schedule--col m-time">
									<strong>{{weekday}}</strong>
									<span>{{date}}</span>
									<strong>{{from}}</strong>
								</div>
								<div class="client_package--schedule--col m-location m-{{location_type}}">
									{{#unless location_is_home_visit}}
										<span class="client_package--schedule--location_title">{{location_name}}</span>
									{{/unless}}
									<span class="lbl m-blue_light">{{location_type_label}}</span>
								</div>
								<!--<div class="client_package&#45;&#45;schedule&#45;&#45;col m-actions">-->
									<!--<button class="client_package&#45;&#45;schedule&#45;&#45;cta" data-reschedule-appointment>Reschedule</button>-->
								<!--</div>-->
							</li>
							{{/each}}
						</ul>
						<div class="client_package--schedule--footer">
							<button class="client_package--schedule--cta" data-schedule-appointments-more data-label-less="Show Less" data-label-more="Show More">Show More</button>
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
<div class="loading_overlay m-light m-hide" data-popup-loading><span class="spin m-logo"></span></div>
