<div class="client_package--inner">
	<header class="client_package--header" data-package-header>
		<span class="client_package--header_avatar">{{{client.avatar}}}</span>
		<div class="client_package--header_service_professional">
			<h3 class="client_package--header_service">{{service.detailed_name}}</h3>
			<h4 class="client_package--header_professional">{{client.full_name}}</h4>
			<p class="client_package--header_label">{{package.entities_label_short}}</p>
		</div>
		<div class="client_package--header_location m-{{location.type}}">
			<strong>{{location.name}}</strong>
			<span class="lbl m-blue_light">{{location.type_label}}</span>
		</div>
		<div class="client_package--header_time">
			{{#if next_appointment}}
				<p>
					<span>Next appointment on</span><br>
					<strong>{{next_appointment.weekday}}</strong>, {{next_appointment.date}}
				</p>
				<p class="m-time">
					{{next_appointment.from}} - {{next_appointment.until}}
				</p>
			{{else}}
				&nbsp;
			{{/if}}
		</div>
	</header>
	<div class="client_package--content">
		<div class="client_package--content_inner">
			<div class="client_package--content_details">
				<div class="client_package--description">
					<p>
						<span class="lbl m-red">package</span>
					</p>
					<p>{{{package.entities_label}}}</p>
					{{#if next_appointment}}
						<p>
							Next appointment is on
							<br>
							<strong>{{next_appointment.weekday}}, {{next_appointment.date}}</strong>
							<br>
							<strong>{{next_appointment.from}} - {{next_appointment.until}}</strong>
						</p>
						<p>
							<a href="{{next_appointment.url}}" class="client_package--appointment_details">View Full Appointment Details</a>
						</p>
					{{/if}}
				</div>
			</div>
			<div class="client_package--content_address"></div>
			<div class="client_package--content_actions">
				&nbsp;
			</div>
		</div>
	</div>
</div>
<div class="loading_overlay m-light m-hide" data-popup-loading><span class="spin m-logo"></span></div>
