<header class="wizard--sidebar_header">
	<h2>Profile Photo</h2>
</header>
<div class="edit_personal--userpic">
	<figure class="userpic m-xlarge m-has_upload js-userpic" data-options='{
		"hasUpload": true,
		"uploadUrl": "{{uploadUrl}}",
		"_token": "{{_token}}"
	}'>
		<span class="userpic--inner">
			<img src="" alt="">
			<span class="js-userpic--upload_btn userpic--upload_btn" type="button" data-tooltip="dark tooltipster-upload_userpic" title="Upload Photo">
				<input class="userpic--files_input js-userpic--files_input" type="file" name="avatar">
			</span>
		</span>
	</figure>
	<div class="edit_personal--userpic_info">
		<p>Set or change your profile image by clicking on the camera icon.</p>
		<em>Recommended pixel size is 448x448.</em>
		<p>Max file size is 2MB.</p>
	</div>
</div>
