<div class="popup popup_edit_image" data-popup="edit_image" id="popup_edit_image">
	<div class="popup--container" data-popup-container>
		<button class="popup--close" data-popup-close>close</button>
		<div class="edit_image">
			<div class="edit_image--block">
				<header class="edit_image--header">Edit Image</header>
				<div class="edit_image--editor">
					<div class="edit_image--preview m-hide"></div>
					<img src="{{image}}" alt="" class="js-image">
				</div>
			</div>
			<footer class="edit_image--footer">
				<div class="edit_image--actions">
					<button class="edit_image--btn m-rotate_left" data-editor-action="rotate_left" type="button" data-tooltip title="Rotate left">Rotate left</button>
					<button class="edit_image--btn m-rotate_right" data-editor-action="rotate_right" type="button" data-tooltip title="Rotate right">Rotate right</button>
					<button class="edit_image--btn m-crop" data-editor-action="crop" type="button" data-tooltip title="Crop the image">Crop the image</button>
					<button class="edit_image--btn m-apply" data-editor-action="apply" type="button" data-tooltip title="Apply changes">Apply changes</button>
				</div>
				<button class="btn m-link edit_image--cancel" data-editor-action="reset" type="button">Reset</button>
				<button class="btn m-red edit_image--save js-save" data-editor-save type="submit">Save</button>
			</footer>
		</div>
	</div>
	<div class="popup--bg"></div>
</div>
