.slideout
	&--user
		> ul
			padding rem(20)
			display flex
			border-bottom 1px solid $border_color
			.header--user--item
				flex 1
				margin 0
				&:first-child
					margin-right rem(10)
					text-align right
				&:last-child
					text-align left
				a
					display block
					width 100%
	&--nav
		&.m-front
		&.m-sub
			padding-top rem(30)
			a
				text-align left
				font-size rem(16)
				font-weight 600
				display block
				padding rem(8 20)
				color $gray_dark
				&:hover
					color $blue
			.m-logout
				a
					color $gray
					&:hover
						color $red_mute
