.review
	display flex
	flex-direction column
	justify-content flex-start
	align-items stretch
	align-content stretch
	overflow hidden
	background $background_color
	position relative
	flex 1

	&--header
		background #3db7cb
		color #fff

	&--title
		font-size rem(16)
		padding rem(16 0)
		+responsive('min-width: 768px')
			padding rem(20 0)
			font-size rem(20)
		+responsive('min-width: 980px')
			padding rem(30 40)
			font-size rem(22)

	&--container
		display flex
		flex 1 0 auto
		flex-direction column
		width 100%
		align-items stretch
		position relative
		+responsive('min-width: 768px')
			flex-direction row
		+responsive('min-width: 980px')
			margin 0 20px
			max-width 1180px

	&--content_wrap
		flex 1

	&--sidebar
		flex 0 1 auto
		background #fff
		position relative
		padding rem(0 20)
		position relative
		order -1
		display flex
		flex-direction column
		&:after
			display block
			position absolute
			top 0
			left 100%
			height 100%
			background #fff
			content ''
			width 1000px
		+responsive('max-width: 767px')
			border-bottom 1px solid $border_color
			padding-bottom rem(30)
			//margin-bottom rem(30)
		+responsive('min-width: 768px')
			border-left 1px solid #ebebeb
			padding rem(0 20)
			flex 0 0 360px
			max-width 360px
			order 1
		+responsive('min-width: 980px')
			padding 42px 40px 40px 20px
			flex 0 0 400px
			max-width 400px

	&--content
		position relative
		padding rem(0)
		+responsive('min-width: 980px')
			padding rem(20 20 20 40)


		.wizard
			&--block
				border-top-width 0
				+responsive('min-width: 980px')
					border-top-width 1px
			&--block_container
				padding rem(20)
