+responsive('max-width: 1100px')
	.profile_stats
		&--table
			width 100%

			td
				padding-left 4%
				padding-right 4%

+responsive('max-width: 980px')
	.profile_stats
		&--table
			td
				padding-left 2%
				padding-right 2%

+responsive('max-width: 860px')
	.profile_stats
		&--table
			&--label
			&--value
				display block

			&--label
				margin-bottom 5px

+responsive('max-width: 640px')
	.profile_stats
		&--table
			td
				display block
				border-top none

				&:first-child
					border-top 1px solid $border_color

			&--label
			&--value
				display inline-block
				vertical-align top
				margin-bottom 0
				width 45%

			&--label
				min-width 120px

+responsive('max-width: 450px')
	.profile_stats
		&--content
			padding-left 0

		&--table
			&--label
			&--value
				width auto

			&--label
				min-width 110px
				margin-right 5px
