.profile_stats
	min-height 60px

	&--table
		&
			font-size 14px

		td
			padding 10px 45px
			border 1px solid $border_color

		&--label
			margin-right 10px

		&--value
			color $blue

			&:empty
				&:before
					content '\2013'
					color $gray

	&--content
		padding-left 40px
