$fc-bookme-width = 87%;
$fc-bookme-width-mobile = 94%;
$fc-bookme-line-height-mobile = 1.35

.fc-bookme
  background-color white
  font-family $ff_proxima
  margin 0 auto
  width 838px
  +responsive('max-width: 750px')
    width 100%

.fc-bookme-logo
  display block
  width 100%
  margin 0 auto
  margin-bottom 3%
  margin-top 3%
  +responsive('max-width: 750px')
    display none

.fc-bookme-tutorial
  display block
  +responsive('max-width: 750px')
    display none

.fc-bookme-p1
  color  #585858
  font-size 1.302rem
  font-weight 400
  line-height 1.402
  text-align center
  transform scaleX(1.0005)
  width $fc-bookme-width
  margin 0 auto
  margin-top 3%
  margin-bottom 6%
  +responsive('max-width: 750px')
    width $fc-bookme-width-mobile
    text-align left
    font-size 1rem


.fc-bookme-h1style1
  color:  #3eb7cb;
  font-size: 2.474rem;/* Approximation due to font substitution */
  font-weight: 500;
  line-height: 1.21;/* Approximation due to font substitution */
  text-align: center;
  width: calc($fc-bookme-width - 8%);
  margin: 0 auto;
  b
    font-weight: 700;
    transform: scaleX(1.0005);/* width and height properties ommitted due to transform */
  +responsive('max-width: 750px')
    width $fc-bookme-width-mobile
    text-align left
    font-size: 1.95319rem;
    line-height: $fc-bookme-line-height-mobile;

.fc-bookme-body {
  display none
  +responsive('max-width: 750px') {
    display: block;
    background-image: url(/assets/frontend/images/design/facebook-book-me/bg-image.jpg);
    background-repeat: repeat;
    padding-top: 4%;
  }
}

.fc-bookme-body-item
  margin 0 auto 4% auto
  width $fc-bookme-width
  +responsive('max-width: 750px')
    width $fc-bookme-width-mobile


.fc-bookme-body-item-header{
  border-radius: 50%;
  padding: 6px 10px;
  background-color: #3eb7cb;
  display:inline-block;
  color: white;
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 0.75;
  text-align: center;
  margin: 10px 0 8px calc(48%);
}

.fc-bookme-body-item-text
  font-size 1.302rem
  font-weight 400
  text-align left
  margin-bottom 2%
  +responsive('max-width: 750px')
    font-size 1rem
    line-height $fc-bookme-line-height-mobile
  b
    font-size 1.302rem
    font-weight: 700
    text-align: left
    transform: scaleX(1.0005)
    +responsive('max-width: 750px')
      font-size 1rem


.fc-bookme-body-item-icon
  display inline-block
  +responsive('max-width: 750px')
    display block
    margin 0 auto
    width 100%