<td class="listing_table--gutter"></td>
<td class="listing_table--avatar"></td>
<td class="listing_table--client">
	<div class="listing_table--full_name"></div>
	<p><a href="#" class="listing_table--link_history" data-action-history>View History</a></p>
</td>
<td class="listing_table--datetime">
	<div class="listing_table--date"></div>
	<div class="listing_table--time"></div>
	<div class="listing_table--timezone"></div>
</td>
<td class="listing_table--location">
	<p>
		<span class="lbl m-red" data-appointment-package></span>
		<strong class="m-name" data-appointment-service></strong>
	</p>
	<p>
		<span class="lbl m-blue_light" data-appointment-home-visit></span>
		<span class="m-name" data-appointment-location-name></span>
		<span class="m-address" data-appointment-location-address></span>
	</p>
</td>
<td class="listing_table--phone"></td>
<td class="listing_table--submitted"></td>
<td class="listing_table--actions" data-actions>
	<div class="listing_table--actions--in">
		<span class="listing_table--action">
			<a data-action-email class="listing_table--action_link m-notify" data-tooltip="dark" title="Send Reminder Email"></a>
		</span>
		<span class="listing_table--action">
			<a data-action-message class="listing_table--action_link m-message" data-tooltip="dark" title="Send Message"></a>
		</span>
		<span class="listing_table--action">
			<a data-action-reschedule class="listing_table--action_link m-reschedule" data-tooltip="dark"  title="Reschedule Appointment"></a>
		</span>
		<span class="listing_table--action">
			<a data-action-remove class="listing_table--action_link m-cancel" data-tooltip="dark" title="Cancel Appointment"></a>
		</span>
	</div>
</td>
<td class="listing_table--gutter"></td>
