<td class="listing_table--datetime">
	<div class="listing_table--date"></div>
	<div class="listing_table--time"></div>
	<div class="listing_table--timezone"></div>
</td>
<td class="listing_table--location">
	<p>
		<span class="lbl m-red" data-appointment-package></span>
		<strong class="m-name" data-appointment-service></strong>
	</p>
	<p>
		<span class="lbl m-blue_light" data-appointment-home-visit></span>
		<span class="m-name" data-appointment-location-name></span>
		<span class="m-address" data-appointment-location-address></span>
	</p>
</td>
<td class="listing_table--mark"></td>
<td class="listing_table--initiated_by"></td>
