<div class="popup popup_history" data-popup="popup_history" id="popup_history">
	<div class="popup--container" data-popup-container>
		<button class="popup--close" data-popup-close>close</button>
		<div class="client_history">
			<header class="client_history--header">
				<h2 class="client_history--header_title"><span data-name></span> Appointments History</h2>
			</header>
			<div data-classeslist class="client_history--table listing_table">
				<table cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>Date/Time</th>
						<th>Location</th>
						<th>Attended</th>
						<th>Created By</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="popup--bg"></div>
</div>
