<div class="headline_stats">
	<ul class="headline_stats--list">
		<li class="headline_stats--item m-pending">
			<span data-pending></span>
			<p>Pending Confirmation</p>
		</li>
		<li class="headline_stats--item m-confirmed">
			<span data-confirmed></span>
			<p>Confirmed</p>
		</li>
		<li class="headline_stats--item m-previous">
			<span data-previous></span>
			<p>Previous</p>
		</li>
		<li class="headline_stats--item m-cancelled">
			<span data-cancelled></span>
			<p>Cancelled</p>
		</li>
	</ul>
</div>
