{{#if image.id}}
	<li class="edit_media--item js-edit_photo"
		data-options='{
			"url": "{{url}}",
			"id": "{{image.id}}",
			"_token": "{{_token}}"
			}'>
		<div class="edit_media--item_container">
			<div class="edit_media--item_wrapper">
				<figure class="edit_media--item_preview">
					<a href="{{image.original}}" title="{{#if title}}{{title}}{{/if}}" class="edit_media--item_preview_inner">
						<img src="{{image.preview}}" alt="" width="160" height="106">
					</a>
				</figure>

				<div class="edit_media--item_buttons">
					<button type="button" class="edit_media--item_edit">Edit Title</button>
					<button type="button" class="edit_media--image_edit"></button>
					<button type="button" class="edit_media--item_remove"></button>
				</div>
			</div>

			<div class="field edit_media--item_text_field js-maxlength">
				<textarea class="edit_media--item_text_input" maxlength="60"></textarea>
			</div>

			<div class="edit_media--item_buttons m-hidden_buttons">
				<button type="button" class="edit_media--item_cancel">cancel</button>
				<button type="button" class="edit_media--item_save">save title</button>
			</div>
			{{!--
			{{#if title}}
				<p class="edit_media--item_text">{{title}}</p>
			{{/if}}
			--}}
		</div>
	</li>
{{else}}
	<li class="edit_media--item js-edit_photo">
		<div class="edit_media--item_container">
			<div class="edit_media--item_wrapper">
				<figure class="edit_media--item_preview">
					<span class="edit_media--item_preview_inner">
						<img src="{{image.preview}}" alt="" width="160">
						<span class="loading_overlay m-light"><span class="spin m-cog"></span></span>
					</span>
				</figure>
			</div>
		</div>
	</li>
{{/if}}
