.breadcrumbs
	border-bottom 1px solid #ebebeb
	background #fcfdfe
	padding rem(18px 0)
	margin 0 0 20px

	ul
		max-width 1180px
		margin 0 auto
		font-weight 600
		color $gray
		
		li
			&
				display inline
				&:before
					content: '/ '
					
				a
					&
						color $blue
						
					&:hover
						text-decoration underline
					
			&:first-child
				&:before
					display none
					

