.pricing_cta
	color $gray_dark
	text-align center
	padding 110px 0

	&--heading
		font-size 42px
		line-height 1.1
		margin-bottom 15px

	&--text
		font-size 20px
		margin-bottom 30px

	&--list
		display flex
		justify-content space-between

	&--item
		margin 0 10px
		display inline-block
		flex-grow 0
		flex-basis 33%
		width 30%
		color white
		font-size 22px

	&--btn
		padding 20px 2% 20px 5.5%
		border-radius 4px
		position relative
		text-align left

		&:after
			icon($i-chevron_right-o)
			position absolute
			font-size 32px
			top 50%
			right 30px
			transform translateY(-50%)

		&.m-green
			background $green_mid
			&:hover
				background lighten(@background, 5%)

		&.m-red
			background $red_mute
			&:hover
				background lighten(@background, 5%)

		&.m-blue
			background $blue_mute
			&:hover
				background lighten(@background, 5%)

		&.m-unlimited &
			&_bookings
				margin-left -30px
				max-width 100%
				padding-left 0
				text-align center

		&_price
			display block
			line-height 1
			max-width 220px
			margin 0 auto

			b
				font-size 48px
				font-weight bold

			sup
				font-size 23px
				vertical-align top
				position relative
				top 5px

				&.m-currency
					font-size 18px

				&.m-small
					font-size 18px

				i
					font-style normal
					opacity .7
					font-size 18px
					vertical-align top

		&_bookings
			display block
			text-transform uppercase
			letter-spacing 0.02em
			padding-left 18px
			max-width 220px
			margin 0 auto
			font-weight 600

		&_features
			font-size 14px
			font-weight 600
			color white
			text-align center
			display block
			margin 8px 0 0 -30px

			&_item
				display inline-block
				position relative
				margin-right 12px

				.inline_icon
					margin 0
					margin-top -4px

					&:before
					&:after
						font-size 20px
						margin-right 2px

		&.m-red &_features
		&.m-red &_features_item .inline_icon
			color #fac8c4

		&.m-blue &_features
		&.m-blue &_features_item .inline_icon
			color #b0eef8
