+responsive('max-width: 1220px')
	.conditions
		&--list
			-webkit-column-count 2
			column-count 2

+responsive('max-width: 860px')
	.conditions
	.services
		padding rem(25px 20px)

	.conditions
		&--list
			-webkit-column-count 1
			column-count 1

+responsive('max-width: 750px')
	.conditions
	.services
		padding rem(20px 35px 30px 60px)
		&--list
			-webkit-column-count 2
			column-count 2


+responsive('max-width: 640px')
	.conditions
	.services
		padding rem(35px 27px)

+responsive('max-width: 480px')
	.conditions
	.services
		padding rem(25px 15px)

		.conditions
		&--list
			-webkit-column-count 1
			column-count 1

		&--list
			&--opener
				&.m-show
					display inline-block
			&--item
				&
					li:nth-child(n+5)
						display none

				&.m-show_items
					li:nth-child(n+5)
						display block

	.conditions
		border-top 1px solid $border_color
