.conditions
.services
    padding rem(20px 35px 30px 35px)

    &--list
        -webkit-column-count 3
        column-count 3
        font-weight 600

        li
            display inline-block
            width 100%
            margin rem(15px 0 0)
            line-height 1.2

        a
            &
                color $blue

            &:hover
                text-decoration underline

        &--opener
            display none
            cursor pointer

            &.btn.m-more
                padding-top 10px

                span
                    color $blue

                &:hover span
                    color $blue_light

                b
                    top 13px

.services
	border-bottom 1px solid $border_color
	&:last-child
		border-bottom 0
