<div class="wizard_booking--header">
	<div class="wizard_booking--header--in" data-wizard-header>
		<h1 class="wizard_booking--header--title" data-wizard-title></h1>
		<button class="wizard_booking--header--close" data-wizard-close>Close</button>
	</div>
</div>

<div class="wizard_booking--container" data-wizard-container>
	<div class="wizard_booking--main" data-wizard-content-wrap>
		<div class="wizard_booking--content" data-wizard-content></div>
		<div class="wizard_booking--footer" data-wizard-footer>
			<button type="button" class="btn wizard_booking--footer--btn m-back" data-wizard-back></button>
			<button type="button" class="btn wizard_booking--footer--btn m-proceed" data-wizard-proceed></button>
		</div>
	</div>
	<aside class="wizard_booking--sidebar m-hide" data-wizard-sidebar></aside>
</div>

<div class="wizard_booking--loading loading_overlay m-light" data-wizard-loading><div class="heartbeat"></div></div>
