<div class="panel">

	<fieldset class="panel--block">
		<header class="panel--header m-update_email">
			<h2 class="panel--header_title">
				Account Settings
			</h2>
			<p class="panel--header_description">All account information is private and will never be displayed publicly.</p>
		</header>
		<div class="panel--content">
			<div data-update-email class="panel--content_block"></div>
			<div data-update-phone class="panel--content_block"></div>
		</div>
	</fieldset>

	<fieldset class="panel--block">
		<header class="panel--header m-update_password">
			<h2 class="panel--header_title">
				Change Your Password
			</h2>
		</header>
		<div class="panel--content">
			<div data-update-password></div>
		</div>
	</fieldset>

	<div class="loading_overlay m-light m-hide"><span class="spin m-logo"></span></div>
</div>
