<span class="btn m-icon m-social m-{{link}} m-circle">{{label}}</span>
<dl>
	<dt>{{label}}</dt>
	<dd>
		<span class="field">
			<input type="text" name="social_pages[{{link}}]" placeholder="{{placeholder}}" value="{{value}}">
		  <span class="field--error"></span>
		</span>
	</dd>
</dl>
