.content_nav
	text-align right
	min-height 61px
	border-bottom 1px solid $border_color
	background #fff
	margin -20px -20px 15px
	padding 0 15px
	font-weight 600

	ul
		font-size 0
		li
			&
				display inline-block
				font-size rem(14px)
				position relative
				margin 0 0 0 20px

				a
					&
						display block
						height 60px
						padding 0 5px
						line-height 60px
						color $gray_dark
						position relative

					&:after
						display none
						height 4px
						position absolute
						bottom 0
						left 5px
						right 5px
						content ''
						background $blue

					&:hover
						color $blue

			&:first-child
				margin-left 0

			&.m-current
				a
					background #fff
					color $blue

					&:after
						display block

// .content_nav + .content_block
// border-top-right-radius 0
