<header class="search_map--bubble--header">{{locationName}}</header>
<div class="profile_card m-small m-infowindow">
	<div class="profile_card--photo">
		<div class="profile_card--photo--userpic">
			<figure class="userpic m-small m-rounded">
				<span class="userpic--inner">
					<a href="/p/{{profile.slug}}" target="_blank">
						<img src="{{profile.avatar}}" alt="">
					</a>
				</span>
			</figure>
		</div>
	</div>
	<div class="profile_card--main">
		<div class="profile_card--info">
      		<h3>
				<a href="/p/{{profile.slug}}" target="_blank">{{profile.full_name}}</a>
			</h3>
			<dl class="profile_card--info--line m-rating">
				<dd>
					<span class="star_rating m-{{profile.ratings.overall}} m-s">
						<span class="star_rating--star"></span>
						<span class="star_rating--star"></span>
						<span class="star_rating--star"></span>
						<span class="star_rating--star"></span>
						<span class="star_rating--star"></span>
					</span>
				</dd>
			</dl>
		</div>
	</div>
</div>
<div class="search_map--bubble--address">{{locationAddress}}</div>
<div class="search_map--bubble--action_btns">
	{{#if can_book_appointment}}
		<button class="search_map--bubble--booking btn m-green m-border" type="button" data-type="booking" data-booking-data='{{booking_data}}'>Book Now</button>
	{{/if}}
	{{#if can_book_recurring}}
		<button class="search_map--bubble--booking btn m-link" type="button" data-type="recurring" data-booking-data='{{booking_data}}'>Book Monthly Package</button>
	{{/if}}
</div>
