<dl class="edit_set--item_row m-name">
	<dt>Association Name </dt>
	<dd>
		<label class="field m-wide">
			<input type="text" name="title">
			<span class="field--error"></span>
		</label>
	</dd>
</dl>

<dl class="edit_set--item_row">
	<dt>Membership Expiry </dt>
	<dd>
		<div class="edit_set--time_range">
			<div class="select">
				<select name="expiry_date[month]"></select>
				<span class="field--error"></span>
			</div>
			<div class="select">
				<select name="expiry_date[year]"></select>
				<span class="field--error"></span>
			</div>
		</div>
	</dd>
</dl>
<button class="edit_set--item_remove" type="button" title="Remove item">Remove item</button>
