.perks
	background #3db7cb url($i 'page/perks_bg.jpg') center center no-repeat
	background-size cover
	color #fff
	padding 90px 0 110px
	
	&--title
		font-size rem(36px)
		text-align center
		font-weight 300
		margin rem(0 0 65px)
	
	&--list
		display flex
		
	&--item
		&
			padding 0 0 0 65px
			margin 0 0 0 50px
			position relative
			
			&:before
				color #9ad9e4
				position absolute
				top 0
				left 0
				
			dt
				font-size rem(22px)
				line-height rem(30px)
				margin 0 0 7px
				
			dd
				font-size 1rem
				line-height rem(24px)
				
		&.m-culture
			&:before
				icon($i-meeting)
				font-size 42px
				top -6px
				
		&.m-schedule
			&:before
				icon($i-planner)
				font-size 40px
				top -6px
				
		&.m-health
			&:before
				icon($i-like)
				font-size 36px
				top -3px

		&:first-child
			margin 0
